Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Implement scoped state architecture with PageStateService
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/state/PageStateService.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

Add Positronic reactive state architecture for AI context awareness
  src/debug/jtag/commands/development/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/commands/development/debug/widget-state/server/WidgetStateServerCommand.ts
  src/debug/jtag/commands/development/debug/widget-state/shared/WidgetStateDebugTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/events/shared/ScopedEventSystem.ts
  src/debug/jtag/system/rag/services/WidgetContextService.ts
  src/debug/jtag/system/state/PositronicBridge.ts
  src/debug/jtag/system/state/PositronicRAGContext.ts
  src/debug/jtag/system/state/ReactiveStore.ts
  src/debug/jtag/system/state/SiteState.ts
  src/debug/jtag/system/state/WidgetStateRegistry.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ReactiveWidget.ts
  src/debug/jtag/widgets/web-view/WebViewWidget.ts
Labels: dependencies

Fix schema generator to handle nested object params
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
Labels: none

Fix generator: use process.cwd() and path aliases
  src/debug/jtag/commands/development/generate/server/GenerateServerCommand.ts
  src/debug/jtag/generator/templates/command/browser.template.ts
  src/debug/jtag/generator/templates/command/integration-test.template.ts
  src/debug/jtag/generator/templates/command/server.template.ts
  src/debug/jtag/generator/templates/command/shared-types.template.ts
  src/debug/jtag/generator/templates/command/unit-test.template.ts
Labels: none

Document Generator + OOP intertwined architecture philosophy
  CLAUDE.md
  src/debug/jtag/docs/GENERATOR-OOP-PHILOSOPHY.md
Labels: documentation

Add native tool_use support for Anthropic/OpenAI providers
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderTypesV2.ts
  src/debug/jtag/system/data/entities/AIGenerationEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: none

Update generated files and bump version
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add fast text similarity fallback for semantic loop detection
  src/debug/jtag/commands/ai/detect-semantic-loop/server/AiDetectSemanticLoopServerCommand.ts
Labels: none

Add MCP discovery meta-tools for better tool navigation
  src/debug/jtag/mcp-server.ts
Labels: none

Add PositronCursor - AI's spatial presence in the interface
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/positron/cursor/browser/PositronCursorBrowserCommand.ts
  src/debug/jtag/commands/positron/cursor/server/PositronCursorServerCommand.ts
  src/debug/jtag/commands/positron/cursor/shared/PositronCursorTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
  src/debug/jtag/widgets/positron-cursor/PositronCursorWidget.ts
Labels: dependencies

Add diagnostic logging for embedding errors
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/system/core/services/EmbeddingService.ts
Labels: none

canvas draw
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/canvas/vision/browser/CanvasVisionBrowserCommand.ts
  src/debug/jtag/commands/canvas/vision/server/CanvasVisionServerCommand.ts
  src/debug/jtag/commands/canvas/vision/shared/CanvasVisionTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/constants/RoomConstants.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/widgets/drawing-canvas/DrawingCanvasWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: dependencies

Add collaborative canvas with stroke persistence
  src/debug/jtag/api/data-seed/RoomDataSeed.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/canvas/stroke/add/browser/CanvasStrokeAddBrowserCommand.ts
  src/debug/jtag/commands/canvas/stroke/add/server/CanvasStrokeAddServerCommand.ts
  src/debug/jtag/commands/canvas/stroke/add/shared/CanvasStrokeAddTypes.ts
  src/debug/jtag/commands/canvas/stroke/list/browser/CanvasStrokeListBrowserCommand.ts
  src/debug/jtag/commands/canvas/stroke/list/server/CanvasStrokeListServerCommand.ts
  src/debug/jtag/commands/canvas/stroke/list/shared/CanvasStrokeListTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/domains/DefaultEntities.ts
  src/debug/jtag/system/data/entities/CanvasStrokeEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/system/events/shared/EventSystemConstants.ts
  src/debug/jtag/system/recipes/canvas.json
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/widgets/drawing-canvas/DrawingCanvasWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: dependencies

Simplify canvas entity + fix widget layout issues
  src/debug/jtag/commands/canvas/stroke/add/server/CanvasStrokeAddServerCommand.ts
  src/debug/jtag/commands/canvas/stroke/list/server/CanvasStrokeListServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/CanvasStrokeEntity.ts
  src/debug/jtag/system/data/entities/CollaborativeOperationEntity.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/main/public/main-panel.css
  src/debug/jtag/widgets/shared/CollaborativeActivityWidget.ts
  src/debug/jtag/widgets/web-view/WebViewWidget.ts
Labels: dependencies

Add unified vision/multimodal architecture for AI providers
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AICapabilityRegistry.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/MediaContentFormatter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/VisionCapabilityService.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Fix canvas stroke list command + add StrokeData alias
  src/debug/jtag/commands/canvas/stroke/list/server/CanvasStrokeListServerCommand.ts
  src/debug/jtag/commands/canvas/stroke/list/shared/CanvasStrokeListTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add vision description service for non-vision AI awareness
  src/debug/jtag/system/data/entities/TaskEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/vision/VisionDescriptionService.ts
Labels: none

Fix vision pipeline for automatic image preprocessing
  src/debug/jtag/commands/canvas/vision/server/CanvasVisionServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/vision/VisionDescriptionService.ts
Labels: dependencies

Fix Ollama model names to match actual installed models
  src/debug/jtag/daemons/ai-provider-daemon/shared/AICapabilityRegistry.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Fix screenshot media field lost in remote command responses
  src/debug/jtag/daemons/command-daemon/shared/CommandBase.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

refined docs and postron stuff
  README.md
  src/debug/jtag/api/data-seed/ActivityDataSeed.ts
  src/debug/jtag/api/data-seed/DataSeeder.ts
  src/debug/jtag/commands/canvas/stroke/add/server/CanvasStrokeAddServerCommand.ts
  src/debug/jtag/daemons/room-membership-daemon/server/RoomMembershipDaemonServer.ts
  src/debug/jtag/docs/GRID-ECONOMICS.md
  src/debug/jtag/docs/ROOMS-AND-ACTIVITIES.md
  src/debug/jtag/docs/TRAINING-SYSTEM-ARCHITECTURE.md
  src/debug/jtag/docs/personas/PERSONA-GENOMIC-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/constants/ActivityConstants.ts
  src/debug/jtag/system/data/entities/ActivityEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/widgets/drawing-canvas/DrawingCanvasWidget.ts
  src/debug/jtag/workers/data/continuum.db
  src/debug/jtag/workers/data/continuum.db-shm
  src/debug/jtag/workers/data/continuum.db-wal
Labels: documentation, dependencies

Implement Rust data-daemon worker data operations
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/workers/data-daemon/src/main.rs
  src/debug/jtag/workers/data-daemon/worker.config.ts
  src/debug/jtag/workers/workers-config.json
Labels: none

fixing ts adapter arch
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/JsonFileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/RustAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/RustStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SingleJsonFileAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/docs/ADAPTER-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/config/ServerConfig.ts
Labels: documentation, dependencies

db rework members-list not showing events
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
  src/debug/jtag/docs/ADAPTER-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

ORM rework
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

hoping for rust replacement
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/RustStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: dependencies

Rust-only data layer - remove SqliteStorageAdapter fallback
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/archive/src/main.rs
  src/debug/jtag/workers/data-daemon/src/main.rs
  src/debug/jtag/workers/data-daemon/src/main_test.rs
  src/debug/jtag/workers/search/src/algorithms/mod.rs
Labels: dependencies

fixed some db handle issues for persona
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add Rust timing infrastructure + auto-reconnection for persona DBs
  src/debug/jtag/continuum.db
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/data-daemon/Cargo.toml
  src/debug/jtag/workers/data-daemon/src/main.rs
  src/debug/jtag/workers/data-daemon/src/timing.rs
Labels: dependencies

Add Rust cosine similarity for semantic memory recall
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/search/SearchWorkerClient.ts
  src/debug/jtag/workers/search/src/algorithms/cosine.rs
  src/debug/jtag/workers/search/src/algorithms/mod.rs
  src/debug/jtag/workers/search/src/main.rs
  src/debug/jtag/workers/workers-config.json
Labels: dependencies

reorganized tool rag
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/mcp-server.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
Labels: dependencies

Fix tab/state bug - ensure id present in data from Rust adapter
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
Labels: none

Fix query() to ensure id is in entityData (not just wrapper)
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
Labels: none

fixes for memory
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
Labels: dependencies

finish rag integration of memories, storage
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/PersonaRAGContextEntity.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
Labels: dependencies

speeding up vector logic
  src/debug/jtag/commands/development/benchmark-vectors/server/BenchmarkVectorsServerCommand.ts
  src/debug/jtag/commands/development/benchmark-vectors/shared/BenchmarkVectorsTypes.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/daemons/data-daemon/shared/VectorSearchTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/EmbeddingService.ts
Labels: dependencies

Use in-process TypeScript for vector cosine similarity instead of Rust IPC
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add Rust-native vector search to data-daemon-worker
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/workers/data-daemon/Cargo.toml
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: none

Support TEXT and BLOB embedding storage in Rust vector search
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: none

Add include_data optimization to RustWorkerStorageAdapter
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies
