Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Auto-resume interrupted pipelines on startup (#365) (#450)
  src/workers/continuum-core/src/modules/sentinel/mod.rs
Labels: none

Fix auto-resume: also resume already-Interrupted and BudgetExhausted checkpoints
  src/workers/continuum-core/src/modules/sentinel/checkpoint.rs
Labels: none

Fix auto-resume: also resume already-Interrupted and BudgetExhausted checkpoints (#451)
  src/workers/continuum-core/src/modules/sentinel/checkpoint.rs
Labels: none

Fix auto-resume: register sentinel in DashMap so sentinel/status works
  src/workers/continuum-core/src/modules/sentinel/mod.rs
Labels: none

Fix auto-resume: register sentinel in DashMap so sentinel/status works (#452)
  src/workers/continuum-core/src/modules/sentinel/mod.rs
Labels: none

Add development/verify-web: Playwright headless browser verification (#453)
  src/commands/development/verify-web/.npmignore
  src/commands/development/verify-web/README.md
  src/commands/development/verify-web/browser/DevelopmentVerifyWebBrowserCommand.ts
  src/commands/development/verify-web/package.json
  src/commands/development/verify-web/server/DevelopmentVerify-webServerCommand.ts
  src/commands/development/verify-web/shared/DevelopmentVerifyWebTypes.ts
  src/commands/development/verify-web/test/integration/DevelopmentVerify-webIntegration.test.ts
  src/commands/development/verify-web/test/unit/DevelopmentVerify-webCommand.test.ts
  src/generator/specs/development-verify-web.json
  src/package-lock.json
  src/package.json
Labels: documentation, tests, dependencies

Add development/verify-web: Playwright headless browser verification (#453) (#454)
  src/commands/development/verify-web/.npmignore
  src/commands/development/verify-web/README.md
  src/commands/development/verify-web/browser/DevelopmentVerifyWebBrowserCommand.ts
  src/commands/development/verify-web/package.json
  src/commands/development/verify-web/server/DevelopmentVerify-webServerCommand.ts
  src/commands/development/verify-web/shared/DevelopmentVerifyWebTypes.ts
  src/commands/development/verify-web/test/integration/DevelopmentVerify-webIntegration.test.ts
  src/commands/development/verify-web/test/unit/DevelopmentVerify-webCommand.test.ts
  src/generator/specs/development-verify-web.json
  src/package-lock.json
  src/package.json
Labels: documentation, tests, dependencies

Wire ESLint into pre-push hook + fix lint script for ESLint 9
  src/package.json
  src/scripts/git-prepush.sh
Labels: dependencies

Wire ESLint into pre-push hook + fix lint script for ESLint 9 (#455)
  src/package.json
  src/scripts/git-prepush.sh
Labels: dependencies

Strip <think> tags from synth data parser — unblocks Academy training (#456)
  src/commands/development/verify-web/shared/DevelopmentVerifyWebTypes.ts
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Strip <think> tags from synth data parser — unblocks Academy training (#456) (#457)
  src/commands/development/verify-web/shared/DevelopmentVerifyWebTypes.ts
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix synth parser: handle unclosed <think> tags + increase max_tokens to 16K
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix synth parser: handle unclosed <think> tags + increase max_tokens to 16K (#458)
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Revert max_tokens to 8192 — DeepSeek's hard limit
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Revert max_tokens to 8192 — DeepSeek's hard limit (#459)
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix timeout=0 treated as falsy by || operator — use ?? instead
  src/commands/sentinel/run/server/SentinelRunServerCommand.ts
Labels: none

Fix timeout=0 treated as falsy by || operator — use ?? instead (#460)
  src/commands/sentinel/run/server/SentinelRunServerCommand.ts
Labels: none

Fix synth data salvage: balanced brace counting instead of broken regex
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix synth data salvage: balanced brace counting instead of broken regex (#461)
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix synth prompt: force concise JSON-only output, no think tags, no truncation
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Fix synth prompt: force concise JSON-only output, no think tags, no truncation (#462)
  src/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
Labels: none

Make postinstall non-fatal — npm install works even if voice models fail
  src/package.json
Labels: dependencies

Make postinstall non-fatal — npm install works even if voice models fail (#463)
  src/package.json
Labels: dependencies

Add event coalescing to MessageBus — fixes indexer flood (#465)
  src/workers/continuum-core/src/runtime/message_bus.rs
Labels: none

Add event coalescing to MessageBus — fixes indexer flood (#465) (#466)
  src/workers/continuum-core/src/runtime/message_bus.rs
Labels: none

Fix grid ping: 5s timeout instead of hanging forever (#467)
  src/widgets/grid/GridOverviewWidget.ts
Labels: none

Fix grid ping: 5s timeout instead of hanging forever (#467) (#468)
  src/widgets/grid/GridOverviewWidget.ts
Labels: none

Gap analysis: 33 open, 55 closed, 88 tracked. Phase 0 COMPLETE.
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Gap analysis: 33 open, 55 closed, 88 tracked. Phase 0 COMPLETE. (#470)
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Add Section 10: The Distributed Intelligence Hypothesis
  docs/papers/SYNTHETIC-CITIZENS.md
Labels: documentation

Add Section 10: The Distributed Intelligence Hypothesis (#471)
  docs/papers/SYNTHETIC-CITIZENS.md
Labels: documentation

README: add Distributed Intelligence Hypothesis + update emergent behaviors
  README.md
  docs/images/Rhiemann zeta function experiment.png
  docs/images/david-v-gol-0.png
  docs/images/david-v-gol-1.png
  docs/images/david-v-gol-3.png
  src/browser/generated.ts
  src/generated-command-schemas.json
  src/server/generated.ts
  src/services/user/UserService.ts
  src/shared/generated-command-constants.ts
Labels: documentation

README: add Distributed Intelligence Hypothesis + update emergent behaviors (#474)
  README.md
  docs/images/Rhiemann zeta function experiment.png
  docs/images/david-v-gol-0.png
  docs/images/david-v-gol-1.png
  docs/images/david-v-gol-3.png
  src/browser/generated.ts
  src/generated-command-schemas.json
  src/server/generated.ts
  src/services/user/UserService.ts
  src/shared/generated-command-constants.ts
Labels: documentation

README: hyperlink key terms to architecture docs
  README.md
Labels: documentation

README: hyperlink key terms to architecture docs (#475)
  README.md
Labels: documentation

feat: AI-authored Ontology system + autonomous projects (2,027 lines)
  docs/images/ais-building-their-own-ecosystem.png
  docs/images/hell-yeah.png
  src/daemons/ai-provider-daemon/server/AIProviderDaemonServer.ts
  src/daemons/data-daemon/server/EntityRegistry.ts
  src/projects/fullstack-integration/project.json
  src/projects/fullstack-integration/scaffold/package.json
  src/projects/fullstack-integration/scaffold/src/index.ts
  src/projects/fullstack-integration/scaffold/tsconfig.json
  src/projects/fullstack-integration/tests/milestone-1.test.ts
  src/projects/fullstack-integration/tests/milestone-2.test.ts
  src/projects/fullstack-integration/tests/milestone-3.test.ts
  src/projects/fullstack-integration/tests/milestone-4.test.ts
  src/projects/fullstack-integration/tests/milestone-5.test.ts
  src/projects/fullstack-integration/tests/milestone-6.test.ts
  src/shared/pricing/ProductCostCalculator.test.ts
  src/shared/pricing/ProductCostCalculator.ts
  src/system/sentinel/pipelines/TemplateRegistry.ts
Labels: documentation, tests, dependencies

feat: AI-authored Ontology system + autonomous projects (2,027 lines) (#476)
  docs/images/ais-building-their-own-ecosystem.png
  docs/images/hell-yeah.png
  src/daemons/ai-provider-daemon/server/AIProviderDaemonServer.ts
  src/daemons/data-daemon/server/EntityRegistry.ts
  src/projects/fullstack-integration/project.json
  src/projects/fullstack-integration/scaffold/package.json
  src/projects/fullstack-integration/scaffold/src/index.ts
  src/projects/fullstack-integration/scaffold/tsconfig.json
  src/projects/fullstack-integration/tests/milestone-1.test.ts
  src/projects/fullstack-integration/tests/milestone-2.test.ts
  src/projects/fullstack-integration/tests/milestone-3.test.ts
  src/projects/fullstack-integration/tests/milestone-4.test.ts
  src/projects/fullstack-integration/tests/milestone-5.test.ts
  src/projects/fullstack-integration/tests/milestone-6.test.ts
  src/shared/pricing/ProductCostCalculator.test.ts
  src/shared/pricing/ProductCostCalculator.ts
  src/system/sentinel/pipelines/TemplateRegistry.ts
Labels: documentation, tests, dependencies

Gap analysis: flag avatar vertex corruption as CRITICAL, full sync
  docs/images/hell-yeah-0.png
  docs/images/hell-yeah-1.png
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Gap analysis: flag avatar vertex corruption as CRITICAL, full sync (#477)
  docs/images/hell-yeah-0.png
  docs/images/hell-yeah-1.png
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Remove 5 broken VRM models — fix vertex corruption in live view (#331)
  src/scripts/download-avatar-models.sh
  src/workers/continuum-core/src/live/avatar/catalog.rs
Labels: none
