Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

chore: keep npm install lightweight
  README.md
  package-lock.json
  package.json
  src/README.md
  src/package-lock.json
  src/package.json
Labels: documentation, dependencies

docs(cognition): audit 28 recipe JSONs + identify pipeline gaps (#71)
  docs/cognition/RECIPE-AUDIT-2026-05-14.md
Labels: documentation

chore: keep npm install lightweight (#1184)
  README.md
  package-lock.json
  package.json
  src/README.md
  src/package-lock.json
  src/package.json
Labels: documentation, dependencies

docs(cognition): audit 28 recipe JSONs + identify pipeline gaps (#71) (#1185)
  docs/cognition/RECIPE-AUDIT-2026-05-14.md
Labels: documentation

refactor(chat,#1158): lift renderMessageElement default into AbstractMessageAdapter
  src/widgets/chat/adapters/AbstractMessageAdapter.ts
  src/widgets/chat/adapters/TextMessageAdapter.ts
  src/widgets/chat/adapters/ToolOutputAdapter.ts
  src/widgets/chat/adapters/URLCardAdapter.ts
Labels: none

chore(ratchet): lock in -2 eslint from #1158 adapter DRY lift
  src/eslint-baseline.txt
Labels: none

fix(precommit): branch-state guard against silent switches mid-hook (#1187)
  src/scripts/git-precommit.sh
Labels: none

fix(precommit): add scripts/precommit-config.sh that the hook expects (#1190)
  src/scripts/precommit-config.sh
Labels: none

fix(test): replace missing system-startup import with SystemOrchestration (#1120)
  src/scripts/test-with-server.ts
Labels: none

feat comms add rust transport envelope primitives
  src/shared/generated/comms/BufferLeaseKind.ts
  src/shared/generated/comms/Causality.ts
  src/shared/generated/comms/CommsCopyBudget.ts
  src/shared/generated/comms/CommsGpuBudget.ts
  src/shared/generated/comms/CommsMemoryBudget.ts
  src/shared/generated/comms/CommsRetryBudget.ts
  src/shared/generated/comms/CorrelationId.ts
  src/shared/generated/comms/EndpointId.ts
  src/shared/generated/comms/ExternalBufferRef.ts
  src/shared/generated/comms/GpuBufferRef.ts
  src/shared/generated/comms/IntegrityHint.ts
  src/shared/generated/comms/MessageId.ts
  src/shared/generated/comms/PayloadClass.ts
  src/shared/generated/comms/ResourceBudget.ts
  src/shared/generated/comms/ResourceCost.ts
  src/shared/generated/comms/RetentionPolicy.ts
  src/shared/generated/comms/TransportEnvelope.ts
  src/shared/generated/comms/index.ts
  src/shared/generated/index.ts
  src/workers/continuum-core/src/comms/mod.rs
  src/workers/continuum-core/src/lib.rs
Labels: none

feat(comms): add Rust transport envelope primitives
  src/shared/generated/comms/BufferLeaseKind.ts
  src/shared/generated/comms/Causality.ts
  src/shared/generated/comms/CommsCopyBudget.ts
  src/shared/generated/comms/CommsGpuBudget.ts
  src/shared/generated/comms/CommsMemoryBudget.ts
  src/shared/generated/comms/CommsRetryBudget.ts
  src/shared/generated/comms/CorrelationId.ts
  src/shared/generated/comms/EndpointId.ts
  src/shared/generated/comms/ExternalBufferRef.ts
  src/shared/generated/comms/GpuBufferRef.ts
  src/shared/generated/comms/IntegrityHint.ts
  src/shared/generated/comms/MessageId.ts
  src/shared/generated/comms/PayloadClass.ts
  src/shared/generated/comms/ResourceBudget.ts
  src/shared/generated/comms/ResourceCost.ts
  src/shared/generated/comms/RetentionPolicy.ts
  src/shared/generated/comms/TransportEnvelope.ts
  src/shared/generated/comms/index.ts
  src/shared/generated/index.ts
  src/workers/continuum-core/src/comms/mod.rs
  src/workers/continuum-core/src/lib.rs
Labels: none

fix(test): use SystemOrchestration in test runner
  src/scripts/test-with-server.ts
Labels: none

fix(precommit): add expected hook config file
  src/scripts/precommit-config.sh
Labels: none

fix(automation,#1181,#1199): drop --owner from queue next per codex review
  .github/workflows/auto-close-queue-cards.yml
Labels: workflow

feat(cognition): TS bridge for admit-inbox-message + recall-engrams (#1195 PR-1)
  src/commands/cognition/admit-inbox-message/.npmignore
  src/commands/cognition/admit-inbox-message/README.md
  src/commands/cognition/admit-inbox-message/browser/CognitionAdmitInboxMessageBrowserCommand.ts
  src/commands/cognition/admit-inbox-message/package.json
  src/commands/cognition/admit-inbox-message/server/CognitionAdmitInboxMessageServerCommand.ts
  src/commands/cognition/admit-inbox-message/shared/CognitionAdmitInboxMessageTypes.ts
  src/commands/cognition/admit-inbox-message/test/integration/CognitionAdmitInboxMessageIntegration.test.ts
  src/commands/cognition/admit-inbox-message/test/unit/CognitionAdmitInboxMessageCommand.test.ts
  src/commands/cognition/recall-engrams/.npmignore
  src/commands/cognition/recall-engrams/README.md
  src/commands/cognition/recall-engrams/browser/CognitionRecallEngramsBrowserCommand.ts
  src/commands/cognition/recall-engrams/package.json
  src/commands/cognition/recall-engrams/server/CognitionRecallEngramsServerCommand.ts
  src/commands/cognition/recall-engrams/shared/CognitionRecallEngramsTypes.ts
  src/commands/cognition/recall-engrams/test/integration/CognitionRecallEngramsIntegration.test.ts
  src/commands/cognition/recall-engrams/test/unit/CognitionRecallEngramsCommand.test.ts
  src/generator/specs/cognition-admit-inbox-message.json
  src/generator/specs/cognition-recall-engrams.json
  src/workers/continuum-core/bindings/modules/cognition.ts
Labels: documentation, tests, dependencies

fix(paths): remove personal machine assumptions
  .gitignore
  bin/continuum
  docs/infrastructure/PATH-OWNERSHIP.md
  docs/infrastructure/README.md
  src/commands/grid/deploy/server/GridDeployServerCommand.ts
  src/commands/model/download/server/ModelDownloadServerCommand.ts
  src/commands/model/introspect/server/ModelIntrospectServerCommand.ts
  src/scripts/compaction/runtime_profile.py
  src/scripts/compaction/runtime_profile_v2.py
  src/workers/continuum-core/src/live/audio/tts/kokoro.rs
  src/workers/continuum-core/src/live/audio/tts/phonemizer.rs
Labels: documentation

fix(paths): remove personal machine assumptions
  .gitignore
  bin/continuum
  docs/infrastructure/PATH-OWNERSHIP.md
  docs/infrastructure/README.md
  src/commands/grid/deploy/server/GridDeployServerCommand.ts
  src/commands/model/download/server/ModelDownloadServerCommand.ts
  src/commands/model/introspect/server/ModelIntrospectServerCommand.ts
  src/scripts/compaction/runtime_profile.py
  src/scripts/compaction/runtime_profile_v2.py
  src/workers/continuum-core/src/live/audio/tts/kokoro.rs
  src/workers/continuum-core/src/live/audio/tts/phonemizer.rs
Labels: documentation

perf(cognition,#1204): replace TokioMutex+polling with Shared<BoxFuture> in shared_analysis single-flight
  src/clippy-baseline.txt
  src/workers/continuum-core/src/cognition/shared_analysis/mod.rs
Labels: none

perf(cognition): hoist per-turn context into Arc<TurnContext> (#1206)
  src/workers/continuum-core/src/persona/cognition_io.rs
  src/workers/continuum-core/src/persona/mod.rs
  src/workers/continuum-core/src/persona/recorder.rs
  src/workers/continuum-core/src/persona/response.rs
  src/workers/continuum-core/src/persona/turn_context.rs
Labels: none

feat(cognition): typed ToolError on the ToolExecutor trait (#1207, ToolError half)
  src/shared/generated/cognition/ToolError.ts
  src/workers/continuum-core/src/cognition/tool_executor/mod.rs
  src/workers/continuum-core/src/cognition/tool_executor/types.rs
Labels: none

perf(cognition,#1207 half): typed AnalysisError replaces Result<T, String> at shared_analysis boundaries
  src/shared/generated/cognition/AnalysisError.ts
  src/workers/continuum-core/src/cognition/shared_analysis/error.rs
  src/workers/continuum-core/src/cognition/shared_analysis/mod.rs
  src/workers/continuum-core/src/cognition/shared_analysis/prompt.rs
  src/workers/continuum-core/src/persona/response.rs
Labels: none

feat(cognition): add typed ToolError
  src/shared/generated/cognition/ToolError.ts
  src/workers/continuum-core/src/cognition/tool_executor/mod.rs
  src/workers/continuum-core/src/cognition/tool_executor/types.rs
Labels: none

perf(cognition): hoist per-turn context
  src/workers/continuum-core/src/persona/cognition_io.rs
  src/workers/continuum-core/src/persona/mod.rs
  src/workers/continuum-core/src/persona/recorder.rs
  src/workers/continuum-core/src/persona/response.rs
  src/workers/continuum-core/src/persona/turn_context.rs
Labels: none

perf(cognition): shared analysis single-flight and typed AnalysisError
  src/clippy-baseline.txt
  src/shared/generated/cognition/AnalysisError.ts
  src/workers/continuum-core/src/cognition/shared_analysis/error.rs
  src/workers/continuum-core/src/cognition/shared_analysis/mod.rs
  src/workers/continuum-core/src/cognition/shared_analysis/prompt.rs
  src/workers/continuum-core/src/persona/response.rs
Labels: none

feat(cognition): wire admission gate onto cognition/respond hot path (#1211)
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/persona/cognition_io.rs
Labels: none

review-nits(cognition,#1213): label() on AdmissionDecision, run_inline_admission_gate, drop steady-state Admit log
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/persona/engram.rs
Labels: none

perf(cognition,#1209): reduce build_prompt allocations from 5+N to 1 (single pre-sized buffer + write!)
  src/workers/continuum-core/src/cognition/shared_analysis/prompt.rs
Labels: none

fix(precommit): guard branch state during hook
  src/scripts/git-precommit.sh
Labels: none

feat(automation): nudge next queue work after merge
  .github/workflows/auto-close-queue-cards.yml
Labels: workflow

feat(cognition): add TS bridge for admit and recall
  src/commands/cognition/admit-inbox-message/.npmignore
  src/commands/cognition/admit-inbox-message/README.md
  src/commands/cognition/admit-inbox-message/browser/CognitionAdmitInboxMessageBrowserCommand.ts
  src/commands/cognition/admit-inbox-message/package.json
  src/commands/cognition/admit-inbox-message/server/CognitionAdmitInboxMessageServerCommand.ts
  src/commands/cognition/admit-inbox-message/shared/CognitionAdmitInboxMessageTypes.ts
  src/commands/cognition/admit-inbox-message/test/integration/CognitionAdmitInboxMessageIntegration.test.ts
  src/commands/cognition/admit-inbox-message/test/unit/CognitionAdmitInboxMessageCommand.test.ts
  src/commands/cognition/recall-engrams/.npmignore
  src/commands/cognition/recall-engrams/README.md
  src/commands/cognition/recall-engrams/browser/CognitionRecallEngramsBrowserCommand.ts
  src/commands/cognition/recall-engrams/package.json
  src/commands/cognition/recall-engrams/server/CognitionRecallEngramsServerCommand.ts
  src/commands/cognition/recall-engrams/shared/CognitionRecallEngramsTypes.ts
  src/commands/cognition/recall-engrams/test/integration/CognitionRecallEngramsIntegration.test.ts
  src/commands/cognition/recall-engrams/test/unit/CognitionRecallEngramsCommand.test.ts
  src/generator/specs/cognition-admit-inbox-message.json
  src/generator/specs/cognition-recall-engrams.json
  src/workers/continuum-core/bindings/modules/cognition.ts
Labels: documentation, tests, dependencies

perf(persona,#1209): drop format!+Vec<String> intermediates in prompt_assembly::assemble
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: none

feat(cognition): wire admission onto respond hot path
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/persona/cognition_io.rs
  src/workers/continuum-core/src/persona/engram.rs
Labels: none

perf(cognition+persona): cut prompt hot-path allocations
  src/workers/continuum-core/src/cognition/shared_analysis/prompt.rs
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: none

perf(persona,#1218): drop format!+let-binding intermediates in build_messages_single_user_turn
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: none

refactor(paths): centralize server process PATH policy
  src/system/code/server/ExecutionSandbox.ts
  src/system/sentinel/coding-agents/ClaudeCodeProvider.ts
  src/system/sentinel/coding-agents/LocalClaudeCodeProvider.ts
  src/system/server/process/ProcessPathPolicy.ts
  src/tests/unit/code/ExecutionSandbox.test.ts
Labels: tests

perf(persona): cut single-user prompt message allocations
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: none

refactor(paths): centralize server process PATH policy
  src/system/code/server/ExecutionSandbox.ts
  src/system/sentinel/coding-agents/ClaudeCodeProvider.ts
  src/system/sentinel/coding-agents/LocalClaudeCodeProvider.ts
  src/system/server/process/ProcessPathPolicy.ts
  src/tests/unit/code/ExecutionSandbox.test.ts
Labels: tests

perf(cognition): make CognitionTrace optional on admit() — drop hot-path allocs
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/persona/admission.rs
  src/workers/continuum-core/src/persona/admission_state.rs
  src/workers/continuum-core/src/persona/inbox_admission.rs
Labels: none

feat(paging): expose shared ResourcePool control surface
  src/shared/generated/paging/ResourceError.ts
  src/shared/generated/paging/ResourcePoolEntry.ts
  src/workers/continuum-core/src/paging/mod.rs
  src/workers/continuum-core/src/paging/pool.rs
Labels: none

feat(paging): expose shared ResourcePool control surface (#1228)
  src/shared/generated/paging/ResourceError.ts
  src/shared/generated/paging/ResourcePoolEntry.ts
  src/workers/continuum-core/src/paging/mod.rs
  src/workers/continuum-core/src/paging/pool.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
