Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

no more browserjs command
  python-client/.continuum/ai-portal/logs/buffer.log
  src/commands/browser/browserjs/BrowserJSCommand.d.ts
  src/commands/browser/browserjs/BrowserJSCommand.ts
  src/commands/browser/browserjs/README.md
  src/commands/browser/browserjs/package.json
Labels: documentation, dependencies

no more browserjs command
  python-client/.continuum/ai-portal/logs/buffer.log
  src/commands/browser/browserjs/BrowserJSCommand.d.ts
  src/commands/browser/browserjs/BrowserJSCommand.ts
  src/commands/browser/browserjs/README.md
  src/commands/browser/browserjs/package.json
Labels: documentation, dependencies

JTAG foundation complete - UUID tracking and session logging
  package-lock.json
  package.json
  python-client/continuum_client/__init__.py
  src/commands/browser/js-execute/JSExecuteCommand.ts
  src/commands/browser/js-execute/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser.ts
Labels: dependencies

JTAG foundation complete - UUID tracking and session logging
  package-lock.json
  package.json
  python-client/continuum_client/__init__.py
  src/commands/browser/js-execute/JSExecuteCommand.ts
  src/commands/browser/js-execute/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser.ts
Labels: dependencies

browser tabs logical now
  src/commands/browser/js-execute/JSExecuteCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: none

browser tabs logical now
  src/commands/browser/js-execute/JSExecuteCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: none

seems to create both logs and dirs
  continuum
  src/commands/system/session/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: dependencies

seems to create both logs and dirs
  continuum
  src/commands/system/session/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: dependencies

seems to have browser logs
  continuum
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/session/README.md
  src/commands/core/session/package.json
  src/commands/kernel/session/README.md
  src/commands/kernel/session/package.json
  src/integrations/websocket/WebSocketDaemon.ts
  src/ui/continuum-browser.ts
Labels: documentation, dependencies

seems to have browser logs
  continuum
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/session/README.md
  src/commands/core/session/package.json
  src/commands/kernel/session/README.md
  src/commands/kernel/session/package.json
  src/integrations/websocket/WebSocketDaemon.ts
  src/ui/continuum-browser.ts
Labels: documentation, dependencies

browser logs possibly working
  src/commands/core/console/ConsoleCommand.ts
Labels: none

browser logs possibly working
  src/commands/core/console/ConsoleCommand.ts
Labels: none

dumbass shit to reiterate, obvious to any dev, because claude is dumb
  MIDDLE-OUT.md
Labels: documentation

dumbass shit to reiterate, obvious to any dev, because claude is dumb
  MIDDLE-OUT.md
Labels: documentation

..
  MIDDLE-OUT.md
Labels: documentation

..
  MIDDLE-OUT.md
Labels: documentation

seems to be a healthier client.
  continuum
  main.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/restart/RestartCommand.ts
  src/commands/kernel/restart/package.json
  src/commands/kernel/start/StartCommand.ts
  src/commands/kernel/start/package.json
  src/commands/kernel/stop/StopCommand.ts
  src/commands/kernel/stop/package.json
  src/commands/system/session/SessionInfoCommand.ts
  src/core/SimpleDaemonStarter.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
Labels: dependencies

seems to be a healthier client.
  continuum
  main.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/restart/RestartCommand.ts
  src/commands/kernel/restart/package.json
  src/commands/kernel/start/StartCommand.ts
  src/commands/kernel/start/package.json
  src/commands/kernel/stop/StopCommand.ts
  src/commands/kernel/stop/package.json
  src/commands/system/session/SessionInfoCommand.ts
  src/core/SimpleDaemonStarter.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
Labels: dependencies

more bs
  MIDDLE-OUT.md
Labels: documentation

more bs
  MIDDLE-OUT.md
Labels: documentation

seems good at recovery
  continuum
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
  src/daemons/browser-manager/modules/SimpleTabManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: dependencies

seems good at recovery
  continuum
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
  src/daemons/browser-manager/modules/SimpleTabManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: dependencies

nice behavior for sessions
  continuum
  src/commands/core/console/ConsoleCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: none

nice behavior for sessions
  continuum
  src/commands/core/console/ConsoleCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: none

session params
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/types/SessionParameters.ts
Labels: none

session params
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/types/SessionParameters.ts
Labels: none

attempt at refinement of md
  MIDDLE-OUT.md
Labels: documentation

attempt at refinement of md
  MIDDLE-OUT.md
Labels: documentation

new middle out docs
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture/onion-pattern.md
  middle-out/bootloader/cognitive-efficiency.md
  middle-out/development/middle-out-cycle.md
  middle-out/development/testing-workflow.md
  middle-out/jtag/README.md
  middle-out/jtag/debugging-protocol.md
  middle-out/jtag/examples.md
  middle-out/jtag/implementation.md
  middle-out/jtag/roadmap.md
  src/daemons/browser-manager/test/integration/SafeBrowserLaunch.integration.test.ts
  src/system/testing/test/universal-layer-runner.ts
  src/test/integration/SharedSessionBrowserLaunch.integration.test.ts
Labels: documentation, tests

new middle out docs
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture/onion-pattern.md
  middle-out/bootloader/cognitive-efficiency.md
  middle-out/development/middle-out-cycle.md
  middle-out/development/testing-workflow.md
  middle-out/jtag/README.md
  middle-out/jtag/debugging-protocol.md
  middle-out/jtag/examples.md
  middle-out/jtag/implementation.md
  middle-out/jtag/roadmap.md
  src/daemons/browser-manager/test/integration/SafeBrowserLaunch.integration.test.ts
  src/system/testing/test/universal-layer-runner.ts
  src/test/integration/SharedSessionBrowserLaunch.integration.test.ts
Labels: documentation, tests

..
  MIDDLE-OUT.md
Labels: documentation

..
  MIDDLE-OUT.md
Labels: documentation

more docs on how to dev
  middle-out/development/testing-workflow.md
Labels: documentation

more docs on how to dev
  middle-out/development/testing-workflow.md
Labels: documentation

things to fix
  middle-out/development/testing-workflow.md
Labels: documentation

things to fix
  middle-out/development/testing-workflow.md
Labels: documentation

jtag info in md
  middle-out/jtag/README.md
Labels: documentation

jtag info in md
  middle-out/jtag/README.md
Labels: documentation

git hook safety
  middle-out/jtag/README.md
Labels: documentation

git hook safety
  middle-out/jtag/README.md
Labels: documentation
