Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Stage gates + pipeline composer wired into forge controls
  src/widgets/factory/ForgeControlsElement.ts
  src/widgets/factory/stages/PruneStageElement.ts
  src/widgets/factory/stages/StageElement.ts
  src/widgets/factory/stages/TrainStageElement.ts
Labels: none

Forge button at top — main action visible first, controls below
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Fix right panel: generator now detects new layout format widgets
  src/generator/generate-content-types.ts
  src/shared/generated/ContentTypes.ts
  src/widgets/factory/FactoryStatsWidget.ts
Labels: none

Right panel routing: generator fix + recipe format, still blocked by layout engine race
  src/system/recipes/factory.json
  src/widgets/factory/FactoryWidget.ts
Labels: none

Full stage element system: 6 stages built, grouped pipeline composer
  src/widgets/factory/stages/DeployStageElement.ts
  src/widgets/factory/stages/EvalStageElement.ts
  src/widgets/factory/stages/PipelineComposer.ts
  src/widgets/factory/stages/QuantStageElement.ts
  src/widgets/factory/stages/SourceConfigStageElement.ts
  src/widgets/factory/stages/StageElement.ts
Labels: none

Default pipeline: source-config → prune → train → quant → eval (full flow visible)
  src/widgets/factory/stages/PipelineComposer.ts
Labels: none

Forge button: time estimate that reacts to pipeline configuration
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Fix: clear stale forge status when no active forges (LOADING stuck state)
  src/widgets/factory/FactoryWidget.ts
Labels: none

README: Factory is one room, not the product. Industry section rewrite.
  README.md
Labels: documentation

Gap analysis: stage executors + stage UIs tracked, 52 factory issues total
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

model/introspect command: detect model capabilities + possible forge stages
  src/commands/model/introspect/.npmignore
  src/commands/model/introspect/README.md
  src/commands/model/introspect/browser/ModelIntrospectBrowserCommand.ts
  src/commands/model/introspect/package.json
  src/commands/model/introspect/server/ModelIntrospectServerCommand.ts
  src/commands/model/introspect/shared/ModelIntrospectTypes.ts
  src/commands/model/introspect/test/integration/ModelIntrospectIntegration.test.ts
  src/commands/model/introspect/test/unit/ModelIntrospectCommand.test.ts
  src/generator/specs/model-introspect.json
Labels: documentation, tests, dependencies

Fix #663: remove hardcoded chat-widget default from right panel
  src/widgets/main/MainWidget.ts
  src/widgets/main/shared/ContentTypeRegistry.ts
Labels: none

Architecture doc: Metaverse Vision — the world layer, districts, mixed reality
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Metaverse: themed universes — Tron, Warcraft, Cyberpunk, Ghibli, custom. Same data, different pixels.
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Themes span every environment: browser, 3D, AR, VR, CLI — one theme, every surface
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Fix right panel: un-hide and expand when valid config arrives after collapse
  src/widgets/main/MainWidget.ts
  src/widgets/right-panel/RightPanelWidget.ts
Labels: none

Factory widget self-declares right panel — bypasses recipe layout engine race
  src/widgets/factory/FactoryWidget.ts
Labels: none

Universe > theme. Complete terminology rewrite.
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

README: factory screenshot + universe vision images
  README.md
  docs/images/factory.png
  docs/images/universe-architect.png
  docs/images/universe.png
Labels: documentation

ForgeDeltaElement: delta-first forge UI — the diff IS the work
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeDeltaElement.ts
Labels: none

README: factory screenshot side-by-side with avatars at the top
  README.md
Labels: documentation

Restore forge controls + remove published models from center (right panel only)
  src/widgets/factory/FactoryWidget.ts
Labels: none

Factory: Console + Factory Floor (configure + monitor)
  src/widgets/factory/FactoryWidget.ts
Labels: none

Universe adaptation formula: CLI to RAG, orcs talk like orcs
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Lore mapping: alloy stages as story across universes — prune is tempering, train is forging, eval is arena combat
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Fix: publish goes to the shopkeeper, not the battlefield
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Universe as schema: language pack for reality, LoRA-trained personas, genome paging
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Factory UX Vision: hot-rod shop for AI models — workbench, delta console, SCADA floor, viral strategy
  docs/architecture/FACTORY-UX-VISION.md
Labels: documentation

Hot Rod universe: strip the weight, tune the engine, take it to the drag strip, roll it into the car show
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Multilingual + multi-universe: genome stack as i18n layer, simultaneous observer translation
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Air Buddies x Stray universe: Sergeant Whiskers runs the forge, no rule says a dog can't
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Positron is the multiverse engine. Citizens exist — observers perceive. No switching, just looking differently.
  docs/architecture/METAVERSE-VISION.md
Labels: documentation

Metaverse → Multiverse. Positron runs them all.
  docs/architecture/MULTIVERSE.md
Labels: documentation

Fix nvidia-smi path for WSL2 (check /usr/lib/wsl/lib/nvidia-smi first)
  src/workers/continuum-core/src/modules/grid/handlers.rs
Labels: none

Factory → Grid end-to-end: START FORGE routes through grid/job-submit
  src/commands/model/forge-status/server/ModelForgeStatusServerCommand.ts
  src/commands/model/forge/server/ModelForgeServerCommand.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeControlsElement.ts
  src/widgets/factory/public/factory-widget.scss
  src/widgets/factory/public/factory-widget.styles.ts
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
  src/widgets/grid/GridOverviewWidget.ts
  src/widgets/grid/GridStatusSection.ts
  src/widgets/grid/public/grid-overview.scss
  src/widgets/grid/public/grid-overview.styles.ts
  src/widgets/grid/public/grid-status-section.scss
  src/widgets/grid/public/grid-status-section.styles.ts
Labels: none

cleanup
  docs/images/factory.png
  src/widgets/factory/FactoryWidget.ts
Labels: documentation

Wire pipeline composer stages into alloy recipe (was disconnected)
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Factory Floor: dismiss/clear buttons for dead jobs, live jobs sorted first
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/public/factory-widget.scss
  src/widgets/factory/public/factory-widget.styles.ts
Labels: none

Factory: 6 new pipeline stages, MUTAGEN button, Foreman badge
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeControlsElement.ts
  src/widgets/factory/public/factory-widget.scss
  src/widgets/factory/public/factory-widget.styles.ts
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
  src/widgets/factory/stages/CompactStageElement.ts
  src/widgets/factory/stages/ContextExtendStageElement.ts
  src/widgets/factory/stages/ExpertPruneStageElement.ts
  src/widgets/factory/stages/LoraStageElement.ts
  src/widgets/factory/stages/ModalityStageElement.ts
  src/widgets/factory/stages/PipelineComposer.ts
  src/widgets/factory/stages/PublishStageElement.ts
Labels: none

Grid: fix remote delegation, executor discovery, timestamps, GPU detection
  README.md
  src/workers/continuum-core/src/modules/grid/handlers.rs
Labels: documentation
