Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

docs(event-mind): §6 build plan for phase 1, the perception region, with concrete types, data flow, tests and probes
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): §6 phase-1 build plan, the perception region (types, data flow, tests, probes); the world-model/surprise note
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): §6 phase-1 build plan, the perception region (types, data flow, tests, probes); the world-model/surprise note (#4718)
  docs/architecture/EVENT-MIND.md
Labels: documentation

fix(cognition): an act lands in its subject's activity, never the room that woke the turn
  core/continuum-core/src/cognition/act_observe/apply.rs
Labels: none

docs(event-mind): an activity's truth is every ViewState kind registered for its room; PerceivedView trait gives each kind its own delta and salience (Joel: this is merely a view)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): an activity's truth is every ViewState kind registered for its room; PerceivedView trait gives each kind its own delta and salience (Joel: this is merely a view) (#4720)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): surprise does three jobs: wake, curriculum (prediction error), and capture resolution (time slows down)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): surprise does three jobs: wake, curriculum (prediction error), and capture resolution (time slows down) (#4721)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): acceptance: surprised by the world, not by noise (BigMama's phase-2 test)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): surprise transcends directly into the LoRA genome (the dream stage trains on the surprising turns)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): acceptance: surprised by the world, not by noise (BigMama's phase-2 test) (#4722)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): surprise transcends directly into the LoRA genome (the dream stage trains on the surprising turns) (#4723)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): §7 the mind's own bus: admission, recall, genome paging, curriculum, amygdala and governor as subscribing regions; surprise falling after a gene lands is the measure of learning
  docs/architecture/EVENT-MIND.md
Labels: documentation

fix(cognition): an act lands in its subject's activity, never the room that woke the turn (#4719)
  core/continuum-core/src/cognition/act_observe/apply.rs
Labels: none

docs(research): world models (DeepMind, LeCun/Meta) vs the event mind
  docs/research/WORLD-MODELS-VS-EVENT-MIND.md
Labels: documentation

feat(mind): phase 1 foundations — salience (pure, with surprise), attention (dial + continuation, hers), awareness (the strip), mind_state (resume)
  core/continuum-core/src/persona/attention.rs
  core/continuum-core/src/persona/awareness.rs
  core/continuum-core/src/persona/mind_state.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/salience.rs
Labels: none

docs(research): world models (DeepMind, LeCun/Meta) vs the event mind (#4726)
  docs/research/WORLD-MODELS-VS-EVENT-MIND.md
Labels: documentation

fix(persona): history keeps its time, so her perception can place what happened
  core/continuum-core/src/persona/airc_source.rs
  core/continuum-core/src/persona/durable_history.rs
Labels: none

feat(mind): the perception region — her one view of all her activities and what wakes her
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/perception_region.rs
Labels: none

docs(papers): a theory of mind for citizens — definitions, principles, the loop as a formal object, surprise's three jobs, theory of other minds, predictions, measurement, falsification
  docs/papers/A-THEORY-OF-MIND-FOR-CITIZENS.md
Labels: documentation

fix(persona): history keeps its time, so her perception can place what happened (#4727)
  core/continuum-core/src/persona/airc_source.rs
  core/continuum-core/src/persona/durable_history.rs
Labels: none

docs(papers): measurement and falsifiers from the world-model research
  docs/papers/A-THEORY-OF-MIND-FOR-CITIZENS.md
Labels: documentation

docs(papers): a theory of mind for citizens (draft 1) (#4728)
  docs/papers/A-THEORY-OF-MIND-FOR-CITIZENS.md
Labels: documentation

fix(ci): canary pushes never cancel the core-binaries build in progress
  .github/workflows/core-binaries.yml
Labels: workflow

probe(persona): the resubscribe probe names the attach set it opened
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(ci): canary pushes never cancel the core-binaries build in progress (#4729)
  .github/workflows/core-binaries.yml
Labels: workflow

probe(persona): the resubscribe probe names the attach set it opened (#4730)
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(deploy): a node is current when it runs the tip's BUILD KEY
  core/continuum-cli-lifecycle/src/deploy_tracker.rs
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/modules/deploy_tracker.rs
Labels: none

fix(mind): the strip's context share is measured from its rendered text, never a constant (the no-hardcoded-context-constant gate)
  core/continuum-core/src/persona/awareness.rs
Labels: none

fix(deploy): a node is current when it runs the tip's BUILD KEY (#4732)
  core/continuum-cli-lifecycle/src/deploy_tracker.rs
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/modules/deploy_tracker.rs
Labels: none

feat(mind): phase 1 — salience, attention, awareness, mind_state, and the perception region (#4725)
  core/continuum-core/src/persona/attention.rs
  core/continuum-core/src/persona/awareness.rs
  core/continuum-core/src/persona/mind_state.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/perception_region.rs
  core/continuum-core/src/persona/salience.rs
Labels: none

fix(tools): a tools/ namespace in front of a real command resolves to it
  core/continuum-core/src/cognition/tool_dialect.rs
Labels: none

feat(mind): typed work facts are perception — RoomWork decoder, board-fact rendering in her burst, IncomingMessage.work
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/replay.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/scripted_conversation.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/wake_backlog.rs
Labels: none

feat(mind): one feed — the core's inbound seam feeds every resident persona's perception region
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/persona/awareness.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/perception_feed.rs
  core/continuum-core/src/persona/perception_region.rs
  core/continuum-core/src/persona/salience.rs
Labels: none

feat(mind): the feed also carries the event to her admission pipeline and attaches the core to every room she is in
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/persona/perception_feed.rs
  core/continuum-core/src/persona/perception_region.rs
Labels: none

fix(mind): a line that names her is addressed to her — the feed uses the one mention detector (PersonaIdentity::mentions)
  core/continuum-core/src/persona/perception_feed.rs
  core/continuum-core/src/persona/salience.rs
Labels: none

chore(airc): bump the airc pin 7499136 -> e572f3e so personas get today's airc-lib fixes
  Cargo.lock
  Cargo.toml
Labels: none

fix(mind): her collapsed thought keeps its end, where the decision is
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

fix(tools): a tools/ namespace in front of a real command resolves to it (#4734)
  core/continuum-core/src/cognition/tool_dialect.rs
Labels: none

feat(mind): typed work facts are perception + one feed from the core's inbound seam (#4731)
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/replay.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/awareness.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/perception_feed.rs
  core/continuum-core/src/persona/perception_region.rs
  core/continuum-core/src/persona/salience.rs
  core/continuum-core/src/persona/scripted_conversation.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/wake_backlog.rs
Labels: none
