Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

theme switcher part of npm test
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.info.json
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.log
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.log.json
  .continuum/sessions/validation/run_7aed9ed58a82/logs/server.log
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/body-test.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/content-test.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/screenshot-1756955070399.png
  .continuum/sessions/validation/run_7aed9ed58a82/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
Labels: tests

theme switcher part of npm test
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.info.json
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.log
  .continuum/sessions/validation/run_7aed9ed58a82/logs/browser.log.json
  .continuum/sessions/validation/run_7aed9ed58a82/logs/server.log
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/body-test.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/content-test.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_7aed9ed58a82/screenshots/screenshot-1756955070399.png
  .continuum/sessions/validation/run_7aed9ed58a82/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
Labels: tests

integrated theme
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.info.json
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.log
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.log.json
  .continuum/sessions/validation/run_6a394cf5a58a/logs/server.log
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/body-test.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/content-test.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/screenshot-1756961489087.png
  .continuum/sessions/validation/run_6a394cf5a58a/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1274.tgz
  src/debug/jtag/continuum-jtag-1.0.1275.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/integration/browser-automated-tests.test.ts
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
Labels: tests, dependencies

integrated theme
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.info.json
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.log
  .continuum/sessions/validation/run_6a394cf5a58a/logs/browser.log.json
  .continuum/sessions/validation/run_6a394cf5a58a/logs/server.log
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/body-test.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/content-test.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6a394cf5a58a/screenshots/screenshot-1756961489087.png
  .continuum/sessions/validation/run_6a394cf5a58a/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1274.tgz
  src/debug/jtag/continuum-jtag-1.0.1275.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/integration/browser-automated-tests.test.ts
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
Labels: tests, dependencies

amazing widget capture
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.info.json
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.log
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.log.json
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/server.log
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/body-test.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/content-test.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/screenshot-1756964385542.png
  .continuum/sessions/validation/run_9a8232d1dcfa/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1275.tgz
  src/debug/jtag/continuum-jtag-1.0.1276.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
Labels: dependencies

amazing widget capture
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.info.json
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.log
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/browser.log.json
  .continuum/sessions/validation/run_9a8232d1dcfa/logs/server.log
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/body-test.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/content-test.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9a8232d1dcfa/screenshots/screenshot-1756964385542.png
  .continuum/sessions/validation/run_9a8232d1dcfa/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1275.tgz
  src/debug/jtag/continuum-jtag-1.0.1276.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
Labels: dependencies

use shared modules for test
  .continuum/sessions/validation/run_00d68938215b/logs/browser.info.json
  .continuum/sessions/validation/run_00d68938215b/logs/browser.log
  .continuum/sessions/validation/run_00d68938215b/logs/browser.log.json
  .continuum/sessions/validation/run_00d68938215b/logs/server.log
  .continuum/sessions/validation/run_00d68938215b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/body-test.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/content-test.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/screenshot-1757005155828.png
  .continuum/sessions/validation/run_00d68938215b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/shared/JTAGClientFactory.ts
  src/debug/jtag/tests/shared/ModernTestUtilities.ts
Labels: tests

use shared modules for test
  .continuum/sessions/validation/run_00d68938215b/logs/browser.info.json
  .continuum/sessions/validation/run_00d68938215b/logs/browser.log
  .continuum/sessions/validation/run_00d68938215b/logs/browser.log.json
  .continuum/sessions/validation/run_00d68938215b/logs/server.log
  .continuum/sessions/validation/run_00d68938215b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/body-test.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/content-test.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_00d68938215b/screenshots/screenshot-1757005155828.png
  .continuum/sessions/validation/run_00d68938215b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/shared/JTAGClientFactory.ts
  src/debug/jtag/tests/shared/ModernTestUtilities.ts
Labels: tests

shared test components
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.info.json
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.log
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.log.json
  .continuum/sessions/validation/run_79603d3d0bdc/logs/server.log
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/body-test.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/content-test.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/screenshot-1757010600987.png
  .continuum/sessions/validation/run_79603d3d0bdc/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1276.tgz
  src/debug/jtag/continuum-jtag-1.0.1277.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/shared/ModernTestUtilities.ts
  src/debug/jtag/tests/shared/ScreenshotTesting.ts
  src/debug/jtag/tests/shared/TestAssertions.ts
  src/debug/jtag/tests/shared/TestConstants.ts
  src/debug/jtag/tests/shared/TestExecution.ts
  src/debug/jtag/tests/shared/ThemeTesting.ts
  src/debug/jtag/tests/shared/index.ts
Labels: tests, dependencies

shared test components
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.info.json
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.log
  .continuum/sessions/validation/run_79603d3d0bdc/logs/browser.log.json
  .continuum/sessions/validation/run_79603d3d0bdc/logs/server.log
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/body-test.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/content-test.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_79603d3d0bdc/screenshots/screenshot-1757010600987.png
  .continuum/sessions/validation/run_79603d3d0bdc/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1276.tgz
  src/debug/jtag/continuum-jtag-1.0.1277.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/integration/automated-theme-screenshot.test.ts
  src/debug/jtag/tests/shared/ModernTestUtilities.ts
  src/debug/jtag/tests/shared/ScreenshotTesting.ts
  src/debug/jtag/tests/shared/TestAssertions.ts
  src/debug/jtag/tests/shared/TestConstants.ts
  src/debug/jtag/tests/shared/TestExecution.ts
  src/debug/jtag/tests/shared/ThemeTesting.ts
  src/debug/jtag/tests/shared/index.ts
Labels: tests, dependencies

modular tests
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.info.json
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.log
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.log.json
  .continuum/sessions/validation/run_81b9c7ecf685/logs/server.log
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/body-test.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/content-test.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/screenshot-1757021233661.png
  .continuum/sessions/validation/run_81b9c7ecf685/session-info.json
  src/debug/jtag/tests/integration/test-screenshot-both-contexts.ts
  src/debug/jtag/tests/shared/TestAssertions.ts
  src/debug/jtag/tests/unit/test-utilities-basic.test.ts
Labels: tests

modular tests
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.info.json
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.log
  .continuum/sessions/validation/run_81b9c7ecf685/logs/browser.log.json
  .continuum/sessions/validation/run_81b9c7ecf685/logs/server.log
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/body-test.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/content-test.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_81b9c7ecf685/screenshots/screenshot-1757021233661.png
  .continuum/sessions/validation/run_81b9c7ecf685/session-info.json
  src/debug/jtag/tests/integration/test-screenshot-both-contexts.ts
  src/debug/jtag/tests/shared/TestAssertions.ts
  src/debug/jtag/tests/unit/test-utilities-basic.test.ts
Labels: tests

fix tests
  .continuum/sessions/validation/run_25134f30c120/logs/browser.info.json
  .continuum/sessions/validation/run_25134f30c120/logs/browser.log
  .continuum/sessions/validation/run_25134f30c120/logs/browser.log.json
  .continuum/sessions/validation/run_25134f30c120/logs/server.log
  .continuum/sessions/validation/run_25134f30c120/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/body-test.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/content-test.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/screenshot-1757102189066.png
  .continuum/sessions/validation/run_25134f30c120/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1277.tgz
  src/debug/jtag/continuum-jtag-1.0.1278.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/integration/browser-automated-tests.test.ts
Labels: tests, dependencies

fix tests
  .continuum/sessions/validation/run_25134f30c120/logs/browser.info.json
  .continuum/sessions/validation/run_25134f30c120/logs/browser.log
  .continuum/sessions/validation/run_25134f30c120/logs/browser.log.json
  .continuum/sessions/validation/run_25134f30c120/logs/server.log
  .continuum/sessions/validation/run_25134f30c120/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/body-test.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/content-test.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_25134f30c120/screenshots/screenshot-1757102189066.png
  .continuum/sessions/validation/run_25134f30c120/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1277.tgz
  src/debug/jtag/continuum-jtag-1.0.1278.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/integration/browser-automated-tests.test.ts
Labels: tests, dependencies

apply fails but works well
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.info.json
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.log
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.log.json
  .continuum/sessions/validation/run_ee6091684a3d/logs/server.log
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/body-test.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/content-test.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/screenshot-1757130679794.png
  .continuum/sessions/validation/run_ee6091684a3d/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1282.tgz
  src/debug/jtag/continuum-jtag-1.0.1288.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/public/demo.html
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypes.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/base/base.css
  src/debug/jtag/widgets/theme/public/theme-widget.css
  src/debug/jtag/widgets/theme/public/theme-widget.html
Labels: dependencies

apply fails but works well
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.info.json
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.log
  .continuum/sessions/validation/run_ee6091684a3d/logs/browser.log.json
  .continuum/sessions/validation/run_ee6091684a3d/logs/server.log
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/body-test.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/content-test.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee6091684a3d/screenshots/screenshot-1757130679794.png
  .continuum/sessions/validation/run_ee6091684a3d/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1282.tgz
  src/debug/jtag/continuum-jtag-1.0.1288.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/public/demo.html
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypes.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/base/base.css
  src/debug/jtag/widgets/theme/public/theme-widget.css
  src/debug/jtag/widgets/theme/public/theme-widget.html
Labels: dependencies

apply closes
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.info.json
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.log
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.log.json
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/server.log
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/body-test.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/content-test.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/screenshot-1757139265061.png
  .continuum/sessions/validation/run_b6bb0c82e46b/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1288.tgz
  src/debug/jtag/continuum-jtag-1.0.1290.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/widgets/shared/ThemeWidget.ts
Labels: dependencies

apply closes
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.info.json
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.log
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/browser.log.json
  .continuum/sessions/validation/run_b6bb0c82e46b/logs/server.log
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/body-test.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/content-test.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b6bb0c82e46b/screenshots/screenshot-1757139265061.png
  .continuum/sessions/validation/run_b6bb0c82e46b/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1288.tgz
  src/debug/jtag/continuum-jtag-1.0.1290.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/widgets/shared/ThemeWidget.ts
Labels: dependencies

revamped chat widgets
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.info.json
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.log
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.log.json
  .continuum/sessions/validation/run_0bb2531a937a/logs/server.log
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/body-test.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/content-test.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/screenshot-1757263222908.png
  .continuum/sessions/validation/run_0bb2531a937a/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1290.tgz
  src/debug/jtag/continuum-jtag-1.0.1295.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat-widget/browser/ChatWidgetBrowser.ts
  src/debug/jtag/widgets/chat-widget/browser/ChatWidgetBrowser.ts.disabled
  src/debug/jtag/widgets/chat-widget/public/chat-widget.css
  src/debug/jtag/widgets/chat-widget/server/ChatWidgetServer.ts.disabled
  src/debug/jtag/widgets/chat-widget/shared/ChatTypes.ts
  src/debug/jtag/widgets/chat-widget/shared/SimpleChatWidget.ts
  src/debug/jtag/widgets/chat/ChatWidget.ts
  src/debug/jtag/widgets/chat/README.md
  src/debug/jtag/widgets/chat/chat-widget/browser/ChatWidgetBrowser.ts
  src/debug/jtag/widgets/chat/public/base.css
  src/debug/jtag/widgets/chat/room-list/browser/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatModuleTypes.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetRegistry.ts
  src/debug/jtag/widgets/chat/test/integration/ChatWidgetIntegration.test.ts
  src/debug/jtag/widgets/chat/test/unit/ChatWidget.test.ts
  src/debug/jtag/widgets/chat/user-list/browser/UserListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/sidebar/widgets/RoomListWidget.ts
Labels: documentation, tests, dependencies

revamped chat widgets
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.info.json
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.log
  .continuum/sessions/validation/run_0bb2531a937a/logs/browser.log.json
  .continuum/sessions/validation/run_0bb2531a937a/logs/server.log
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/body-test.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/content-test.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0bb2531a937a/screenshots/screenshot-1757263222908.png
  .continuum/sessions/validation/run_0bb2531a937a/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1290.tgz
  src/debug/jtag/continuum-jtag-1.0.1295.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat-widget/browser/ChatWidgetBrowser.ts
  src/debug/jtag/widgets/chat-widget/browser/ChatWidgetBrowser.ts.disabled
  src/debug/jtag/widgets/chat-widget/public/chat-widget.css
  src/debug/jtag/widgets/chat-widget/server/ChatWidgetServer.ts.disabled
  src/debug/jtag/widgets/chat-widget/shared/ChatTypes.ts
  src/debug/jtag/widgets/chat-widget/shared/SimpleChatWidget.ts
  src/debug/jtag/widgets/chat/ChatWidget.ts
  src/debug/jtag/widgets/chat/README.md
  src/debug/jtag/widgets/chat/chat-widget/browser/ChatWidgetBrowser.ts
  src/debug/jtag/widgets/chat/public/base.css
  src/debug/jtag/widgets/chat/room-list/browser/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatModuleTypes.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetRegistry.ts
  src/debug/jtag/widgets/chat/test/integration/ChatWidgetIntegration.test.ts
  src/debug/jtag/widgets/chat/test/unit/ChatWidget.test.ts
  src/debug/jtag/widgets/chat/user-list/browser/UserListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/sidebar/widgets/RoomListWidget.ts
Labels: documentation, tests, dependencies

better documentation
  CLAUDE.md
Labels: documentation

better documentation
  CLAUDE.md
Labels: documentation

fixed a lot
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.info.json
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.log
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.log.json
  .continuum/sessions/validation/run_3fa5e8449345/logs/server.log
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/body-test.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/content-test.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/screenshot-1757279558508.png
  .continuum/sessions/validation/run_3fa5e8449345/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
  src/debug/jtag/api/client/JTAGClient.ts
  src/debug/jtag/api/client/index.ts
  src/debug/jtag/api/commands/chat/ChatCommands.ts
  src/debug/jtag/api/commands/file/FileCommands.ts
  src/debug/jtag/api/commands/index.ts
  src/debug/jtag/api/commands/screenshot/ScreenshotCommands.ts
  src/debug/jtag/api/commands/system/SystemCommands.ts
  src/debug/jtag/api/index.ts
  src/debug/jtag/api/types/User.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1295.tgz
  src/debug/jtag/continuum-jtag-1.0.1296.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

fixed a lot
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.info.json
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.log
  .continuum/sessions/validation/run_3fa5e8449345/logs/browser.log.json
  .continuum/sessions/validation/run_3fa5e8449345/logs/server.log
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/body-test.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/content-test.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3fa5e8449345/screenshots/screenshot-1757279558508.png
  .continuum/sessions/validation/run_3fa5e8449345/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
  src/debug/jtag/api/client/JTAGClient.ts
  src/debug/jtag/api/client/index.ts
  src/debug/jtag/api/commands/chat/ChatCommands.ts
  src/debug/jtag/api/commands/file/FileCommands.ts
  src/debug/jtag/api/commands/index.ts
  src/debug/jtag/api/commands/screenshot/ScreenshotCommands.ts
  src/debug/jtag/api/commands/system/SystemCommands.ts
  src/debug/jtag/api/index.ts
  src/debug/jtag/api/types/User.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1295.tgz
  src/debug/jtag/continuum-jtag-1.0.1296.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

better abstractions
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.info.json
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.log
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.log.json
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/server.log
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/body-test.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/content-test.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/screenshot-1757286252192.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1296.tgz
  src/debug/jtag/continuum-jtag-1.0.1297.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/unit/widget-services-unit.test.ts
  src/debug/jtag/widgets/browser/services/WidgetAIServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetDataServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetEventServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetResourceServiceBrowser.ts
  src/debug/jtag/widgets/server/services/WidgetAIServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetDataServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetEventServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetResourceServiceServer.ts
  src/debug/jtag/widgets/shared/services/WidgetServiceRegistry.ts
  src/debug/jtag/widgets/shared/services/ai/WidgetAIService.ts
  src/debug/jtag/widgets/shared/services/data/WidgetDataService.ts
  src/debug/jtag/widgets/shared/services/events/WidgetEventService.ts
  src/debug/jtag/widgets/shared/services/index.ts
  src/debug/jtag/widgets/shared/services/resources/WidgetResourceService.ts
Labels: tests, dependencies

better abstractions
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.info.json
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.log
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/browser.log.json
  .continuum/sessions/validation/run_16d0ab4e5dfa/logs/server.log
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/body-test.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/content-test.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/screenshots/screenshot-1757286252192.png
  .continuum/sessions/validation/run_16d0ab4e5dfa/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1296.tgz
  src/debug/jtag/continuum-jtag-1.0.1297.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/unit/widget-services-unit.test.ts
  src/debug/jtag/widgets/browser/services/WidgetAIServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetDataServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetEventServiceBrowser.ts
  src/debug/jtag/widgets/browser/services/WidgetResourceServiceBrowser.ts
  src/debug/jtag/widgets/server/services/WidgetAIServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetDataServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetEventServiceServer.ts
  src/debug/jtag/widgets/server/services/WidgetResourceServiceServer.ts
  src/debug/jtag/widgets/shared/services/WidgetServiceRegistry.ts
  src/debug/jtag/widgets/shared/services/ai/WidgetAIService.ts
  src/debug/jtag/widgets/shared/services/data/WidgetDataService.ts
  src/debug/jtag/widgets/shared/services/events/WidgetEventService.ts
  src/debug/jtag/widgets/shared/services/index.ts
  src/debug/jtag/widgets/shared/services/resources/WidgetResourceService.ts
Labels: tests, dependencies

still functions well, new services
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.info.json
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.log
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.log.json
  .continuum/sessions/validation/run_d275ed5967e7/logs/server.log
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/body-test.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/content-test.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/screenshot-1757293495436.png
  .continuum/sessions/validation/run_d275ed5967e7/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1297.tgz
  src/debug/jtag/continuum-jtag-1.0.1299.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/services/ChatService.ts
  src/debug/jtag/system/core/client/shared/services/UserService.ts
  src/debug/jtag/system/core/client/shared/services/WidgetService.ts
  src/debug/jtag/system/core/client/shared/services/index.ts
Labels: dependencies

still functions well, new services
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.info.json
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.log
  .continuum/sessions/validation/run_d275ed5967e7/logs/browser.log.json
  .continuum/sessions/validation/run_d275ed5967e7/logs/server.log
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/body-test.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/content-test.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d275ed5967e7/screenshots/screenshot-1757293495436.png
  .continuum/sessions/validation/run_d275ed5967e7/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1297.tgz
  src/debug/jtag/continuum-jtag-1.0.1299.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/services/ChatService.ts
  src/debug/jtag/system/core/client/shared/services/UserService.ts
  src/debug/jtag/system/core/client/shared/services/WidgetService.ts
  src/debug/jtag/system/core/client/shared/services/index.ts
Labels: dependencies

fix broken widget registration
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.info.json
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.log
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.log.json
  .continuum/sessions/validation/run_1d80056dbbd2/logs/server.log
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/body-test.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/content-test.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/screenshot-1757312513772.png
  .continuum/sessions/validation/run_1d80056dbbd2/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1299.tgz
  src/debug/jtag/continuum-jtag-1.0.1301.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/generator/generate-structure.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/roomlist/RoomListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/userlist/UserListWidget.ts
Labels: dependencies

fix broken widget registration
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.info.json
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.log
  .continuum/sessions/validation/run_1d80056dbbd2/logs/browser.log.json
  .continuum/sessions/validation/run_1d80056dbbd2/logs/server.log
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/body-test.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/content-test.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1d80056dbbd2/screenshots/screenshot-1757312513772.png
  .continuum/sessions/validation/run_1d80056dbbd2/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1299.tgz
  src/debug/jtag/continuum-jtag-1.0.1301.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/generator/generate-structure.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/roomlist/RoomListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/userlist/UserListWidget.ts
Labels: dependencies

remove manual defines
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.info.json
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.log
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.log.json
  .continuum/sessions/validation/run_a4d58e250ad0/logs/server.log
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/body-test.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/content-test.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/screenshot-1757315888103.png
  .continuum/sessions/validation/run_a4d58e250ad0/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1301.tgz
  src/debug/jtag/continuum-jtag-1.0.1302.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/browser/RoomListWidget.ts
  src/debug/jtag/widgets/sidebar/widgets/UserListWidget.ts
Labels: dependencies

remove manual defines
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.info.json
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.log
  .continuum/sessions/validation/run_a4d58e250ad0/logs/browser.log.json
  .continuum/sessions/validation/run_a4d58e250ad0/logs/server.log
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/body-test.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/content-test.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a4d58e250ad0/screenshots/screenshot-1757315888103.png
  .continuum/sessions/validation/run_a4d58e250ad0/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1301.tgz
  src/debug/jtag/continuum-jtag-1.0.1302.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/browser/RoomListWidget.ts
  src/debug/jtag/widgets/sidebar/widgets/UserListWidget.ts
Labels: dependencies

documentation of redesign work
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.info.json
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.log
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.log.json
  .continuum/sessions/validation/run_a20bcc0f6300/logs/server.log
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/body-test.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/content-test.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/screenshot-1757317404911.png
  .continuum/sessions/validation/run_a20bcc0f6300/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
Labels: documentation

documentation of redesign work
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.info.json
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.log
  .continuum/sessions/validation/run_a20bcc0f6300/logs/browser.log.json
  .continuum/sessions/validation/run_a20bcc0f6300/logs/server.log
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/body-test.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/content-test.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a20bcc0f6300/screenshots/screenshot-1757317404911.png
  .continuum/sessions/validation/run_a20bcc0f6300/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
Labels: documentation

service base
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.info.json
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.log
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.log.json
  .continuum/sessions/validation/run_aef117bf6263/logs/server.log
  .continuum/sessions/validation/run_aef117bf6263/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/body-test.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/content-test.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/screenshot-1757317835559.png
  .continuum/sessions/validation/run_aef117bf6263/session-info.json
  src/debug/jtag/services/chat/ChatService.ts
  src/debug/jtag/services/index.ts
  src/debug/jtag/services/shared/ServiceBase.ts
  src/debug/jtag/services/user/UserService.ts
Labels: none

service base
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.info.json
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.log
  .continuum/sessions/validation/run_aef117bf6263/logs/browser.log.json
  .continuum/sessions/validation/run_aef117bf6263/logs/server.log
  .continuum/sessions/validation/run_aef117bf6263/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/body-test.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/content-test.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_aef117bf6263/screenshots/screenshot-1757317835559.png
  .continuum/sessions/validation/run_aef117bf6263/session-info.json
  src/debug/jtag/services/chat/ChatService.ts
  src/debug/jtag/services/index.ts
  src/debug/jtag/services/shared/ServiceBase.ts
  src/debug/jtag/services/user/UserService.ts
Labels: none

service layer enhancements
  .continuum/sessions/validation/run_80daed9be855/logs/browser.info.json
  .continuum/sessions/validation/run_80daed9be855/logs/browser.log
  .continuum/sessions/validation/run_80daed9be855/logs/browser.log.json
  .continuum/sessions/validation/run_80daed9be855/logs/server.log
  .continuum/sessions/validation/run_80daed9be855/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/body-test.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/content-test.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/screenshot-1757318682514.png
  .continuum/sessions/validation/run_80daed9be855/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
  src/debug/jtag/services/ai/AIService.ts
  src/debug/jtag/services/ai/AI_SERVICE_ARCHITECTURE.md
  src/debug/jtag/services/index.ts
  src/debug/jtag/services/shared/NaiveBaseWidget.ts
Labels: documentation

service layer enhancements
  .continuum/sessions/validation/run_80daed9be855/logs/browser.info.json
  .continuum/sessions/validation/run_80daed9be855/logs/browser.log
  .continuum/sessions/validation/run_80daed9be855/logs/browser.log.json
  .continuum/sessions/validation/run_80daed9be855/logs/server.log
  .continuum/sessions/validation/run_80daed9be855/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/body-test.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/content-test.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_80daed9be855/screenshots/screenshot-1757318682514.png
  .continuum/sessions/validation/run_80daed9be855/session-info.json
  src/debug/jtag/REFINED_ARCHITECTURE_PLAN.md
  src/debug/jtag/services/ai/AIService.ts
  src/debug/jtag/services/ai/AI_SERVICE_ARCHITECTURE.md
  src/debug/jtag/services/index.ts
  src/debug/jtag/services/shared/NaiveBaseWidget.ts
Labels: documentation

new unit tests for ai and chat systems
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.info.json
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.log
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.log.json
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/server.log
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/body-test.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/content-test.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/screenshot-1757319488724.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/session-info.json
  src/debug/jtag/services/test/integration/ServiceIntegration.test.ts
  src/debug/jtag/services/test/unit/AIService.test.ts
  src/debug/jtag/services/test/unit/AllServiceTests.ts
  src/debug/jtag/services/test/unit/ChatService.test.ts
  src/debug/jtag/services/test/unit/UserService.test.ts
  src/debug/jtag/services/user/UserService.ts
Labels: tests

new unit tests for ai and chat systems
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.info.json
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.log
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/browser.log.json
  .continuum/sessions/validation/run_5f6a09bb2f5d/logs/server.log
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/body-test.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/content-test.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/screenshots/screenshot-1757319488724.png
  .continuum/sessions/validation/run_5f6a09bb2f5d/session-info.json
  src/debug/jtag/services/test/integration/ServiceIntegration.test.ts
  src/debug/jtag/services/test/unit/AIService.test.ts
  src/debug/jtag/services/test/unit/AllServiceTests.ts
  src/debug/jtag/services/test/unit/ChatService.test.ts
  src/debug/jtag/services/test/unit/UserService.test.ts
  src/debug/jtag/services/user/UserService.ts
Labels: tests
