Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Add include_data optimization for Rust vector search
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add persona-specific logging to TrainingBuffer
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/TrainingBuffer.ts
Labels: none

Add adaptive backpressure for Ollama queue load management
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/BackpressureService.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
Labels: dependencies

Add Rust embedding worker + fix post-inference skip bug
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/types/WorkerRegistry.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/RustEmbeddingClient.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/workers/embedding/ARCHITECTURE.md
  src/debug/jtag/workers/embedding/Cargo.toml
  src/debug/jtag/workers/embedding/src/main.rs
  src/debug/jtag/workers/embedding/worker.config.ts
  src/debug/jtag/workers/workers-config.json
Labels: documentation, dependencies

Fix all embedding paths to use RustEmbeddingClient directly
  src/debug/jtag/commands/ai/detect-semantic-loop/server/AiDetectSemanticLoopServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/MemoryConsolidationSubprocess.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/MemoryConsolidationWorker.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
Labels: dependencies

Route vector search to Rust worker, keep TypeScript SQLite for CRUD
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/DefaultStorageAdapterFactory.ts
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/RustVectorSearchClient.ts
Labels: dependencies

Add development/timing command for Rust worker performance analysis
  src/debug/jtag/commands/development/timing/server/TimingServerCommand.ts
  src/debug/jtag/commands/development/timing/shared/TimingTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Convert LongTermMemoryStore to async fs operations
  src/debug/jtag/system/user/server/modules/cognition/memory/LongTermMemoryStore.ts
Labels: none

Add JOIN support to ORM layer via Rust data/query command
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: none

divide up rag into subcomponents
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGComposer.ts
  src/debug/jtag/system/rag/shared/RAGSource.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/SemanticMemorySource.ts
  src/debug/jtag/system/rag/sources/WidgetContextSource.ts
  src/debug/jtag/system/rag/sources/index.ts
Labels: dependencies

Fix cross-context awareness - no severance for AI personas
  src/debug/jtag/docs/UNIFIED-CONSCIOUSNESS-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/sources/GlobalAwarenessSource.ts
  src/debug/jtag/system/rag/sources/index.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation, dependencies

Fix per-database vector search + complete timeline ORM migration
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/RustVectorSearchClient.ts
  src/debug/jtag/system/data/entities/TimelineEventEntity.ts
  src/debug/jtag/system/user/server/modules/consciousness/PersonaTimeline.ts
Labels: dependencies

missing files
  src/debug/jtag/docs/CONSCIOUSNESS-INTEGRATION-FLOW.md
  src/debug/jtag/system/core/services/RustEmbeddingClient.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/debug/jtag/system/user/server/modules/consciousness/UnifiedConsciousness.ts
Labels: documentation

Fix Rust data-daemon concurrent database access
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: none

Fix multi-writer pragma conflicts with TypeScript connections
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: none

Dynamic context window discovery + num_ctx for Ollama
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AICapabilityRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

Wire PEFT as default adapter for local LoRA training
  src/debug/jtag/system/genome/fine-tuning/server/FineTuningAdapterFactory.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/PEFTLoRAAdapter.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
Labels: none

Add Candle inference worker + CandleAdapter for native Rust LLM inference
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/server/AIProviderDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/types/WorkerRegistry.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/InferenceWorkerClient.ts
  src/debug/jtag/system/user/server/modules/PersonaGenome.ts
  src/debug/jtag/workers/inference/Cargo.toml
  src/debug/jtag/workers/inference/src/main.rs
  src/debug/jtag/workers/inference/worker.config.ts
  src/debug/jtag/workers/workers-config.json
Labels: dependencies

Implement actual text generation in Candle inference worker
  src/debug/jtag/workers/data-daemon/src/main.rs
  src/debug/jtag/workers/inference/Cargo.toml
  src/debug/jtag/workers/inference/src/main.rs
Labels: none

Add real-time architecture principles doc
  src/debug/jtag/docs/REAL-TIME-ARCHITECTURE.md
Labels: documentation

Add binary protocol for embedding IPC - 81% bandwidth reduction
  src/debug/jtag/system/core/services/RustEmbeddingClient.ts
  src/debug/jtag/workers/embedding/src/main.rs
  src/debug/jtag/workers/shared/binary_protocol.rs
  src/debug/jtag/workers/shared/mod.rs
Labels: none

rust enhancements around memory and transfer
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/setup-rust.sh
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/data-daemon/Cargo.toml
  src/debug/jtag/workers/embedding/Cargo.toml
  src/debug/jtag/workers/inference/Cargo.toml
  src/debug/jtag/workers/inference/bindings/generated/AdapterInfo.ts
  src/debug/jtag/workers/inference/bindings/generated/GenerateRequest.ts
  src/debug/jtag/workers/inference/bindings/generated/GenerateResponse.ts
  src/debug/jtag/workers/inference/bindings/generated/ModelInfo.ts
  src/debug/jtag/workers/inference/src/main.rs
Labels: dependencies

Add multi-model support + sharded weights + fix workspace paths
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/debug/jtag/system/core/services/InferenceWorkerClient.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/inference/Cargo.toml
  src/debug/jtag/workers/inference/src/main.rs
  src/debug/jtag/workers/start-workers.sh
  src/debug/jtag/workers/workers-config.json
Labels: none

Fix Llama KV cache corruption between generations
  src/debug/jtag/workers/inference/src/main.rs
Labels: none

Eliminate 'any' types in AI provider adapters - strict TypeScript
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/server/AdapterHealthMonitor.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/BaseAIProviderAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/LlamaCppAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/PricingManager.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseLocalAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
Labels: none

Add binary protocol for inference worker + fix TypeScript client
  src/debug/jtag/system/core/services/InferenceWorkerClient.ts
  src/debug/jtag/workers/inference/src/main.rs
Labels: none

Wire PersonaGenome to CandleAdapter + add Rust GPU allocator
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
  src/debug/jtag/system/user/server/modules/PersonaGenome.ts
  src/debug/jtag/workers/shared/gpu_allocator.rs
  src/debug/jtag/workers/shared/mod.rs
Labels: none

Add GPU allocator commands to inference worker + stress test
  src/debug/jtag/workers/inference/src/main.rs
Labels: none

Add allocation types + smart eviction for model/adapter paging
  src/debug/jtag/workers/inference/src/main.rs
  src/debug/jtag/workers/shared/gpu_allocator.rs
Labels: none

Add LoRA adapter load/unload commands to inference worker
  src/debug/jtag/workers/inference/src/main.rs
Labels: none

fixed gwen, but gibbersh shit model
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle-grpc/shared/CandleGrpcAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/ai/server/AIDecisionService.ts
  src/debug/jtag/system/coordination/server/InferenceCoordinator.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/PromiseCorrelator.ts
  src/debug/jtag/system/core/services/InferenceGrpcClient.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/tests/grpc-stress-test.ts
  src/debug/jtag/workers/inference-grpc/Cargo.toml
  src/debug/jtag/workers/inference-grpc/proto/inference.proto
  src/debug/jtag/workers/inference-grpc/src/main.rs
  src/debug/jtag/workers/start-workers.sh
  src/debug/jtag/workers/workers-config.json
Labels: dependencies

Upgrade local inference to Llama 3.2 3B for LoRA-ready quality
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle-grpc/shared/CandleGrpcAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/inference-grpc/src/main.rs
Labels: dependencies

Add model/adapter management RPCs to gRPC inference server
  src/debug/jtag/system/core/services/InferenceGrpcClient.ts
  src/debug/jtag/workers/inference-grpc/proto/inference.proto
  src/debug/jtag/workers/inference-grpc/src/main.rs
Labels: none

fixed tool execution for smaller models
  src/debug/jtag/commands/ai/should-respond-fast/server/ShouldRespondFastServerCommand.ts
  src/debug/jtag/docs/CONTINUOUS-LEARNING-RUNTIME.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: documentation, dependencies

Add LoRA Lab architecture + refactor Rust inference worker
  src/debug/jtag/docs/CONTINUOUS-LEARNING-RUNTIME.md
  src/debug/jtag/docs/LORA-LAB-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/inference-grpc/Cargo.toml
  src/debug/jtag/workers/inference-grpc/src/grpc.rs
  src/debug/jtag/workers/inference-grpc/src/lora.rs
  src/debug/jtag/workers/inference-grpc/src/main.rs
  src/debug/jtag/workers/inference-grpc/src/model.rs
Labels: documentation, dependencies

Fix LoRA name mapping for PEFT/HuggingFace adapters
  src/debug/jtag/docs/LORA-LAB-ARCHITECTURE.md
  src/debug/jtag/system/core/services/InferenceGrpcClient.ts
  src/debug/jtag/tests/lora-adapter-test.ts
  src/debug/jtag/workers/inference-grpc/proto/inference.proto
  src/debug/jtag/workers/inference-grpc/src/grpc.rs
  src/debug/jtag/workers/inference-grpc/src/lora.rs
  src/debug/jtag/workers/inference-grpc/src/model.rs
Labels: documentation

Mark Milestone 1 complete + add adapter trait design
  src/debug/jtag/docs/LORA-LAB-ARCHITECTURE.md
Labels: documentation

Add genome stacking (Milestone 2) - multi-adapter LoRA composition
  src/debug/jtag/system/core/services/InferenceGrpcClient.ts
  src/debug/jtag/tests/genome-stacking-test.ts
  src/debug/jtag/workers/inference-grpc/proto/inference.proto
  src/debug/jtag/workers/inference-grpc/src/grpc.rs
  src/debug/jtag/workers/inference-grpc/src/model.rs
Labels: none

Mark Milestone 2 complete in architecture doc
  src/debug/jtag/docs/LORA-LAB-ARCHITECTURE.md
Labels: documentation

Add adapter search + provider abstraction (M3-M5)
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/adapter/search/.npmignore
  src/debug/jtag/commands/adapter/search/README.md
  src/debug/jtag/commands/adapter/search/browser/AdapterSearchBrowserCommand.ts
  src/debug/jtag/commands/adapter/search/package.json
  src/debug/jtag/commands/adapter/search/server/AdapterSearchServerCommand.ts
  src/debug/jtag/commands/adapter/search/shared/AdapterSearchTypes.ts
  src/debug/jtag/commands/adapter/search/test/integration/AdapterSearchIntegration.test.ts
  src/debug/jtag/commands/adapter/search/test/unit/AdapterSearchCommand.test.ts
  src/debug/jtag/docs/LORA-LAB-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/adapters/AdapterProviderRegistry.ts
  src/debug/jtag/system/adapters/IAdapterProvider.ts
  src/debug/jtag/system/adapters/LocalAdapterProvider.ts
  src/debug/jtag/system/adapters/TogetherAdapterProvider.ts
  src/debug/jtag/system/adapters/index.ts
  src/debug/jtag/system/core/services/InferenceGrpcClient.ts
  src/debug/jtag/tests/huggingface-download-test.ts
  src/debug/jtag/workers/inference-grpc/Cargo.toml
  src/debug/jtag/workers/inference-grpc/proto/inference.proto
  src/debug/jtag/workers/inference-grpc/src/adapter_registry.rs
  src/debug/jtag/workers/inference-grpc/src/grpc.rs
  src/debug/jtag/workers/inference-grpc/src/main.rs
Labels: documentation, tests, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
