Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(cognition): byte-stable conversation front — quantized window trimming + suppression-style dup collapse (#2723)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

docs: Follow the Signal — the compression ladder (KV → engram → gene, one mechanism)
  README.md
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

docs: Follow the Signal — the compression ladder (KV → engram → gene, one mechanism) (#2724)
  README.md
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

docs(ladder): promotion uses both signals tuned together; the ladder runs continuously and the top rung is a commons
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

docs(ladder): promotion uses both signals tuned together; the ladder runs continuously and the top rung is a commons
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

docs(ladder): promotion uses both signals tuned together; the ladder runs continuously and the top rung is a commons (#2725)
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

feat(kv): restore-ahead — the scheduler's knowledge of who generates next IS the cache prediction
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(kv): restore-ahead — the scheduler's knowledge of who generates next IS the cache prediction (#2726)
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(cognition): latency-budgeted conversation fill + cluster-granular eviction
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(cognition): latency-budgeted conversation fill + cluster-granular eviction (#2727)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(cognition): segment attribution — the rent ledger (compression-ladder rung 2)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(cognition): segment attribution — the rent ledger (compression-ladder rung 2) (#2731)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(cognition): sticky recall — the memory spine goes byte-still (rung 3, ledger-directed)
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

feat(cognition): sticky recall — the memory spine goes byte-still (rung 3, ledger-directed) (#2732)
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

feat(cognition): sticky recall v2 — hysteresis, because live sets never repeat exactly
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

feat(cognition): sticky recall v2 — hysteresis, because live sets never repeat exactly (#2734)
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

feat(cognition): burst dedup — recall stops re-serving the window to itself (rung 3c)
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

docs(ladder): novelty drives learning — the misses that remain are the signal
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

docs(ladder): novelty drives learning — the misses that remain are the signal (#2738)
  docs/architecture/FOLLOW-THE-SIGNAL-THE-COMPRESSION-LADDER.md
Labels: documentation

fix(bench): benchmark/resume kicks a WORKING-but-idle round — the reload zombie
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

fix(reliability): citizens always hear their work — join-on-send for self-peers + citizen-round kickoff re-say on reload
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/chat/send.rs
  core/continuum-core/src/modules/benchmark_resume.rs
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

fix(bench): benchmark/resume kicks a WORKING-but-idle round (#2739)
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

fix(reliability): citizens always hear their work — join-on-send + kickoff re-say on reload (#2743)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/chat/send.rs
  core/continuum-core/src/modules/benchmark_resume.rs
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

docs(readme): bold measured claims up front; the presence layer repositioned as engineering
  README.md
Labels: documentation

docs(readme): bold measured claims up front; the presence layer repositioned as engineering (#2750)
  README.md
Labels: documentation

chore(ratchet): context-budget exempt tag for BURST_DEDUP_HEAD_CHARS — a dedup match-window length, not a context size
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

feat(cognition): burst dedup — recall stops re-serving the window to itself (#2736)
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

fix(live): speech reaches minds — both STT dead links closed
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/live/transport/call_server.rs
Labels: none

fix(live): speech reaches minds — both STT dead links closed (#2754)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/live/transport/call_server.rs
Labels: none

feat(live): binary media plane — one byte discriminates, zero copies, identity binds once
  core/continuum-core/src/live/avatar/video_pump.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/livekit-bridge/src/agent.rs
  core/livekit-bridge/src/server.rs
  core/livekit-protocol/src/lib.rs
Labels: none

feat(live): binary media plane — one byte discriminates, zero copies, identity binds once (#2762)
  core/continuum-core/src/live/avatar/video_pump.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/livekit-bridge/src/agent.rs
  core/livekit-bridge/src/server.rs
  core/livekit-protocol/src/lib.rs
Labels: none

fix(deploy): livekit-bridge rail rebuilds on STALE, not just missing — and restarts the old-wire sidecar
  tools/scripts/start-server.sh
Labels: none

fix(deploy): livekit-bridge rail rebuilds on STALE, not just missing — and restarts the old-wire sidecar
  tools/scripts/start-server.sh
Labels: none

fix(deploy): livekit-bridge rail rebuilds on STALE, not just missing — and restarts the old-wire sidecar (#2763)
  tools/scripts/start-server.sh
Labels: none

feat(bench): the thrash-vs-grind sensor — round verdicts + per-card roll-call, core-pronounced
  apps/web/src/bench/renderBench.spec.ts
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/preview.ts
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/ipc/positron_bench_source.rs
  core/continuum-positron/src/bench.rs
  packages/chat-view/benchProjections.ts
  packages/patterns/benchContent.ts
  packages/patterns/index.ts
  protocol/typescript/benchmark/RoundCardSnapshot.ts
  protocol/typescript/benchmark/RoundSnapshot.ts
  protocol/typescript/positron/BenchRoundCardRow.ts
  protocol/typescript/positron/BenchRoundRow.ts
  sdk/typescript/generated/views/BenchRoundCardRow.ts
  sdk/typescript/generated/views/BenchRoundRow.ts
  sdk/typescript/generated/views/index.ts
  sdk/typescript/index.ts
  sdk/typescript/scripts/vendor-views.mjs
Labels: tests

feat(bench): instance recorded at STAGING + verdict on the room rail
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark.rs
  packages/chat-view/patternProjections.ts
Labels: none

feat(bench): the run-room rail becomes an instrument stack — CARDS + VERDICTS widgets
  packages/chat-view/patternProjections.ts
Labels: none

fix(bench): re-say NAMES its addressee — an unaddressed 'your card' in a shared room is a confusion generator
  core/continuum-core/src/modules/benchmark_resume.rs
Labels: none

fix(cognition): repetition facts become senses, not steers — the scold text was the loop (cherry-pick source)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
  core/continuum-core/src/cognition/perception_facts.rs
Labels: none

fix(cognition): repetition facts become senses, not steers — the scold text was the loop
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
  core/continuum-core/src/cognition/perception_facts.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
