Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Grid transport module: Tailscale + Reticulum adapters, 56 tests
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/modules/grid/acl.rs
  src/workers/continuum-core/src/modules/grid/audit.rs
  src/workers/continuum-core/src/modules/grid/commands.rs
  src/workers/continuum-core/src/modules/grid/connection.rs
  src/workers/continuum-core/src/modules/grid/frame.rs
  src/workers/continuum-core/src/modules/grid/handlers.rs
  src/workers/continuum-core/src/modules/grid/helpers.rs
  src/workers/continuum-core/src/modules/grid/mod.rs
  src/workers/continuum-core/src/modules/grid/node.rs
  src/workers/continuum-core/src/modules/grid/registry.rs
  src/workers/continuum-core/src/modules/grid/router.rs
  src/workers/continuum-core/src/modules/grid/tests.rs
  src/workers/continuum-core/src/modules/grid/transport.rs
  src/workers/continuum-core/src/modules/grid/transports/mod.rs
  src/workers/continuum-core/src/modules/grid/transports/reticulum.rs
  src/workers/continuum-core/src/modules/grid/transports/tailscale.rs
  src/workers/continuum-core/src/modules/mod.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: none

Fix protobuf crash on Linux: enable ORT load-dynamic in workspace
  src/workers/Cargo.toml
Labels: none

Wire grid/status end-to-end: TS command + IPC mixin + ORT fix
  src/commands/grid/status/browser/GridStatusBrowserCommand.ts
  src/commands/grid/status/server/GridStatusServerCommand.ts
  src/commands/grid/status/shared/GridStatusTypes.ts
  src/workers/continuum-core/bindings/RustCoreIPC.ts
  src/workers/continuum-core/bindings/modules/grid.ts
  src/workers/continuum-core/src/modules/grid/handlers.rs
Labels: none

Add all grid/* TS command scaffolds (nodes, ping, send, discover, pair, trust, audit, route)
  src/commands/grid/audit/browser/GridAuditBrowserCommand.ts
  src/commands/grid/audit/server/GridAuditServerCommand.ts
  src/commands/grid/audit/shared/GridAuditTypes.ts
  src/commands/grid/discover/browser/GridDiscoverBrowserCommand.ts
  src/commands/grid/discover/server/GridDiscoverServerCommand.ts
  src/commands/grid/discover/shared/GridDiscoverTypes.ts
  src/commands/grid/nodes/browser/GridNodesBrowserCommand.ts
  src/commands/grid/nodes/server/GridNodesServerCommand.ts
  src/commands/grid/nodes/shared/GridNodesTypes.ts
  src/commands/grid/pair/browser/GridPairBrowserCommand.ts
  src/commands/grid/pair/server/GridPairServerCommand.ts
  src/commands/grid/pair/shared/GridPairTypes.ts
  src/commands/grid/ping/browser/GridPingBrowserCommand.ts
  src/commands/grid/ping/server/GridPingServerCommand.ts
  src/commands/grid/ping/shared/GridPingTypes.ts
  src/commands/grid/route/browser/GridRouteBrowserCommand.ts
  src/commands/grid/route/server/GridRouteServerCommand.ts
  src/commands/grid/route/shared/GridRouteTypes.ts
  src/commands/grid/send/browser/GridSendBrowserCommand.ts
  src/commands/grid/send/server/GridSendServerCommand.ts
  src/commands/grid/send/shared/GridSendTypes.ts
  src/commands/grid/trust/browser/GridTrustBrowserCommand.ts
  src/commands/grid/trust/server/GridTrustServerCommand.ts
  src/commands/grid/trust/shared/GridTrustTypes.ts
Labels: none

Capability announcement: GPU detection, pair with hardware info, routing works
  src/commands/grid/pair/server/GridPairServerCommand.ts
  src/commands/grid/pair/shared/GridPairTypes.ts
  src/workers/continuum-core/bindings/modules/grid.ts
  src/workers/continuum-core/src/modules/grid/handlers.rs
  src/workers/continuum-core/src/modules/grid/mod.rs
  src/workers/continuum-core/src/modules/grid/router.rs
Labels: none

Add Phase 6: Personas as Autonomous Economic Agents to Grid architecture
  docs/grid/GRID-ARCHITECTURE.md
Labels: documentation

Add generated ts-rs grid types (needed for TS compilation on all machines)
  src/shared/generated/grid/GridNode.ts
  src/shared/generated/grid/NodeCapability.ts
  src/shared/generated/grid/TransportAddress.ts
  src/shared/generated/grid/TrustLevel.ts
  src/shared/generated/grid/index.ts
Labels: none

Fix trust lookup: strip port from source_node for registry match
  src/workers/continuum-core/src/modules/grid/connection.rs
Labels: none

Transparent Grid routing: Commands.execute() auto-routes to remote nodes
  src/daemons/command-daemon/shared/CommandDaemon.ts
  src/system/core/server/ServerCommands.ts
  src/system/core/shared/Commands.ts
  src/system/grid/server/GridInterceptor.ts
Labels: none

Grid: forward unknown commands to TypeScript via execute_ts_json fallback
  src/workers/continuum-core/src/modules/grid/connection.rs
Labels: none

Fix @DateField hydration, wire LoRA adapter inference, add viaBrowser chat testing
  src/browser/generated.ts
  src/commands/collaboration/chat/send/browser/ChatSendBrowserCommand.ts
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/daemons/ai-provider-daemon/adapters/candle-grpc/shared/CandleGrpcAdapter.ts
  src/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/daemons/data-daemon/server/ORMRustClient.ts
  src/generated-command-schemas.json
  src/server/generated.ts
  src/shared/generated-command-constants.ts
  src/shared/generated/index.ts
  src/system/genome/server/ProcessPool.ts
  src/workers/continuum-core/bindings/modules/ai.ts
Labels: none

Fix grid browser commands: delegate to server instead of returning empty stubs
  src/commands/grid/audit/browser/GridAuditBrowserCommand.ts
  src/commands/grid/discover/browser/GridDiscoverBrowserCommand.ts
  src/commands/grid/nodes/browser/GridNodesBrowserCommand.ts
  src/commands/grid/pair/browser/GridPairBrowserCommand.ts
  src/commands/grid/ping/browser/GridPingBrowserCommand.ts
  src/commands/grid/route/browser/GridRouteBrowserCommand.ts
  src/commands/grid/send/browser/GridSendBrowserCommand.ts
  src/commands/grid/status/browser/GridStatusBrowserCommand.ts
  src/commands/grid/trust/browser/GridTrustBrowserCommand.ts
  src/generated-command-schemas.json
  src/shared/generated-command-constants.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Training dashboard shows live Academy sessions from grid nodes
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Wire navigation: grid status in sidebar, training dashboard link
  src/system/layout/LayoutTypes.ts
  src/widgets/genome-profile/TrainingStatusSection.ts
  src/widgets/sidebar/SidebarWidget.ts
Labels: none

Step data persistence via TensorBoard tfevents, not DB or memory
  src/commands/genome/train/server/GenomeTrainServerCommand.ts
  src/system/genome/fine-tuning/server/adapters/scripts/peft-train.py
  src/system/genome/server/TrainingStepBridge.ts
Labels: none

Training dashboard: embed TensorBoard, move Academy sessions to sidebar
  src/widgets/genome-profile/TrainingStatusSection.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Training dashboard: proper charts with grid data, kill TensorBoard embed
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Add genome/training-overview aggregation command + dashboard chart grid
  docs/widgets/TRAINING-DASHBOARD-DESIGN.md
  src/browser/generated.ts
  src/commands/genome/training-overview/.npmignore
  src/commands/genome/training-overview/README.md
  src/commands/genome/training-overview/browser/GenomeTrainingOverviewBrowserCommand.ts
  src/commands/genome/training-overview/package.json
  src/commands/genome/training-overview/server/GenomeTrainingOverviewServerCommand.ts
  src/commands/genome/training-overview/shared/GenomeTrainingOverviewTypes.ts
  src/commands/genome/training-overview/test/integration/GenomeTraining-overviewIntegration.test.ts
  src/commands/genome/training-overview/test/unit/GenomeTraining-overviewCommand.test.ts
  src/generated-command-schemas.json
  src/generator/specs/genome-training-overview.json
  src/server/generated.ts
  src/shared/generated-command-constants.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: documentation, tests, dependencies

Fix chart grid: 4-column layout using full width, responsive breakpoints
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Fix training-overview: real data flowing from BigMama → dashboard charts
  src/commands/genome/training-overview/server/GenomeTrainingOverviewServerCommand.ts
Labels: none

Add Training + Grid header buttons for discoverable navigation
  src/widgets/header-controls/HeaderControlsWidget.ts
  src/widgets/main/MainWidget.ts
Labels: none

Training dashboard: live event subscription + 30s grid polling
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Replace any with proper types: TrainingAdapterInfo, TrainingSessionInfo, TrainingNodeInfo, TrainingOverviewSummary
  src/commands/genome/training-overview/server/GenomeTrainingOverviewServerCommand.ts
  src/commands/genome/training-overview/shared/GenomeTrainingOverviewTypes.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Expandable adapter detail rows + UUID IDs, not string hacks
  src/commands/genome/training-overview/server/GenomeTrainingOverviewServerCommand.ts
  src/commands/genome/training-overview/shared/GenomeTrainingOverviewTypes.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Code review fixes: eliminate duplication, remove fallbacks, parallelize
  src/commands/genome/training-overview/server/GenomeTrainingOverviewServerCommand.ts
  src/system/genome/server/TrainingStepBridge.ts
  src/widgets/genome-profile/TrainingStatusSection.ts
  src/widgets/grid/GridDataNormalizer.ts
  src/widgets/grid/GridOverviewWidget.ts
  src/widgets/grid/GridStatusSection.ts
  src/widgets/shared/ContinuumChart.ts
  src/widgets/training-dashboard/TrainingDashboardWidget.ts
Labels: none

Additional review fixes: remove duplicate types, unused params
  src/widgets/genome-profile/TrainingStatusSection.ts
  src/widgets/shared/ContinuumChart.ts
Labels: none

Team academy: collaborative multi-student projects with role-based training
  src/commands/genome/academy-team/.npmignore
  src/commands/genome/academy-team/README.md
  src/commands/genome/academy-team/browser/GenomeAcademy-teamBrowserCommand.ts
  src/commands/genome/academy-team/package.json
  src/commands/genome/academy-team/server/GenomeAcademy-teamServerCommand.ts
  src/commands/genome/academy-team/shared/GenomeAcademy-teamTypes.ts
  src/commands/genome/academy-team/test/integration/GenomeAcademy-teamIntegration.test.ts
  src/commands/genome/academy-team/test/unit/GenomeAcademy-teamCommand.test.ts
  src/generator/specs/genome-academy-team.json
  src/system/genome/entities/TeamProjectEntity.ts
  src/system/genome/shared/AcademyTypes.ts
  src/system/genome/shared/TeamProjectTypes.ts
  src/system/sentinel/pipelines/TeamStudentPipeline.ts
  src/system/sentinel/pipelines/TeamTeacherPipeline.ts
Labels: documentation, tests, dependencies

Document adapter marketplace architecture — HuggingFace as zero-cost backbone
  docs/architecture/ADAPTER-MARKETPLACE.md
Labels: documentation

Model card as advertisement — real training output on every HF adapter
  docs/architecture/ADAPTER-MARKETPLACE.md
Labels: documentation

adapter/publish: push trained LoRA adapters to HuggingFace with model cards
  src/commands/adapter/publish/.npmignore
  src/commands/adapter/publish/README.md
  src/commands/adapter/publish/browser/AdapterPublishBrowserCommand.ts
  src/commands/adapter/publish/package.json
  src/commands/adapter/publish/server/AdapterPublishServerCommand.ts
  src/commands/adapter/publish/shared/AdapterPublishTypes.ts
  src/commands/adapter/publish/test/integration/AdapterPublishIntegration.test.ts
  src/commands/adapter/publish/test/unit/AdapterPublishCommand.test.ts
  src/generator/specs/adapter-publish.json
  src/system/genome/fine-tuning/server/adapters/scripts/hf-publish.py
Labels: documentation, tests, dependencies

Strict adapter publish schema — locked tag vocabulary + normalization
  src/system/genome/fine-tuning/server/adapters/scripts/hf-publish.py
  src/system/genome/shared/AdapterPublishSchema.ts
Labels: none

Benchmarking: architecture doc + genome/benchmark command scaffold
  docs/architecture/BENCHMARKING.md
  src/commands/genome/benchmark/.npmignore
  src/commands/genome/benchmark/README.md
  src/commands/genome/benchmark/browser/GenomeBenchmarkBrowserCommand.ts
  src/commands/genome/benchmark/package.json
  src/commands/genome/benchmark/server/GenomeBenchmarkServerCommand.ts
  src/commands/genome/benchmark/shared/GenomeBenchmarkTypes.ts
  src/commands/genome/benchmark/test/integration/GenomeBenchmarkIntegration.test.ts
  src/commands/genome/benchmark/test/unit/GenomeBenchmarkCommand.test.ts
  src/generator/specs/genome-benchmark.json
Labels: documentation, tests, dependencies

grid/deploy, model/search, model/download — ops commands for the pipeline
  src/commands/grid/deploy/.npmignore
  src/commands/grid/deploy/README.md
  src/commands/grid/deploy/browser/GridDeployBrowserCommand.ts
  src/commands/grid/deploy/package.json
  src/commands/grid/deploy/server/GridDeployServerCommand.ts
  src/commands/grid/deploy/shared/GridDeployTypes.ts
  src/commands/grid/deploy/test/integration/GridDeployIntegration.test.ts
  src/commands/grid/deploy/test/unit/GridDeployCommand.test.ts
  src/commands/model/download/.npmignore
  src/commands/model/download/README.md
  src/commands/model/download/browser/ModelDownloadBrowserCommand.ts
  src/commands/model/download/package.json
  src/commands/model/download/server/ModelDownloadServerCommand.ts
  src/commands/model/download/shared/ModelDownloadTypes.ts
  src/commands/model/download/test/integration/ModelDownloadIntegration.test.ts
  src/commands/model/download/test/unit/ModelDownloadCommand.test.ts
  src/commands/model/search/.npmignore
  src/commands/model/search/README.md
  src/commands/model/search/browser/ModelSearchBrowserCommand.ts
  src/commands/model/search/package.json
  src/commands/model/search/server/ModelSearchServerCommand.ts
  src/commands/model/search/shared/ModelSearchTypes.ts
  src/commands/model/search/test/integration/ModelSearchIntegration.test.ts
  src/commands/model/search/test/unit/ModelSearchCommand.test.ts
  src/generator/specs/grid-deploy.json
  src/generator/specs/model-download.json
  src/generator/specs/model-search.json
Labels: documentation, tests, dependencies

Document meta-learning: specialists training specialists
  docs/architecture/META-LEARNING.md
Labels: documentation

Fix: student must use local model, not cloud — that's what training improves
  src/commands/genome/academy-session/server/GenomeAcademySessionServerCommand.ts
Labels: none

Document peer learning across model sizes — compacted models as junior students
  docs/architecture/PEER-LEARNING-COMPACTION.md
Labels: documentation

Three new research papers + updated README with accuracy flags
  docs/papers/ACADEMY-COLLABORATIVE-TRAINING.md
  docs/papers/PEER-LEARNING-ACROSS-SCALES.md
  docs/papers/PLASTICITY-COMPACTION.md
  docs/papers/README.md
Labels: documentation

Synthetic Citizens: the master paper — AI personas as first-class citizens
  docs/papers/README.md
  docs/papers/SYNTHETIC-CITIZENS.md
Labels: documentation

README: add Synthetic Citizens thesis, team training, HF marketplace, new papers
  README.md
Labels: documentation

README accuracy audit + Alpha Gap Analysis rewrite as phased master plan
  README.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
