Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Wire LiveWidget to streaming-core WebSocket call server
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/workers/streaming-core/src/main.rs
Labels: none

Add Puppeteer E2E test for live audio streaming
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/e2e/live-audio-streaming.test.ts
  src/debug/jtag/workers/streaming-core/src/main.rs
Labels: tests, dependencies

Generate TypeScript types from Rust via ts-rs (single source of truth)
  src/debug/jtag/shared/generated/CallMessage.ts
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/workers/streaming-core/Cargo.toml
  src/debug/jtag/workers/streaming-core/src/call_server.rs
Labels: none

Bound playback queue to prevent memory growth in long sessions
  src/debug/jtag/widgets/live/AudioStreamClient.ts
Labels: none

Wire voice architecture: AI personas join audio calls
  src/debug/jtag/commands/collaboration/live/join/server/LiveJoinServerCommand.ts
  src/debug/jtag/commands/collaboration/live/leave/server/LiveLeaveServerCommand.ts
  src/debug/jtag/commands/session/create/shared/SessionCreateCommand.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/system/voice/server/VoiceOrchestrator.ts
Labels: dependencies

Improve LiveWidget UI: Teams/Discord style grid layout
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/widgets/live/public/live-widget.css
  src/debug/jtag/widgets/live/public/live-widget.scss
  src/debug/jtag/widgets/live/public/live-widget.styles.ts
Labels: dependencies

Replace emoji icons with modern SVG icons in LiveWidget
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
Labels: dependencies

Fix LiveWidget participant display and add call state persistence
  CLAUDE.md
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/download-voice-models.sh
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/dm-list/DMListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/widgets/live/audio-playback-worklet.js
  src/debug/jtag/widgets/live/audio-worklet-processor.js
  src/debug/jtag/widgets/live/public/live-widget.css
  src/debug/jtag/widgets/live/public/live-widget.scss
  src/debug/jtag/widgets/live/public/live-widget.styles.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/streaming-core/Cargo.toml
  src/debug/jtag/workers/streaming-core/src/kokoro.rs
  src/debug/jtag/workers/streaming-core/src/lib.rs
  src/debug/jtag/workers/streaming-core/src/main.rs
  src/debug/jtag/workers/streaming-core/src/stt.rs
  src/debug/jtag/workers/streaming-core/src/tts.rs
  src/debug/jtag/workers/streaming-core/src/voice_service.rs
Labels: documentation, dependencies

Add models/ to gitignore - ML models auto-downloaded by worker:start
  src/debug/jtag/.gitignore
Labels: none

Add live transcription captions to voice calls
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/generated/CallMessage.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/system/voice/server/VoiceOrchestrator.ts
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/widgets/live/public/live-widget.css
  src/debug/jtag/widgets/live/public/live-widget.scss
  src/debug/jtag/widgets/live/public/live-widget.styles.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/streaming-core/src/call_server.rs
  src/debug/jtag/workers/streaming-core/src/kokoro.rs
  src/debug/jtag/workers/streaming-core/src/mixer.rs
Labels: dependencies

Refactor STT/TTS to modular adapter system (OpenCV-style polymorphism)
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/streaming-core/src/call_server.rs
  src/debug/jtag/workers/streaming-core/src/kokoro_old.rs
  src/debug/jtag/workers/streaming-core/src/lib.rs
  src/debug/jtag/workers/streaming-core/src/main.rs
  src/debug/jtag/workers/streaming-core/src/stt/mod.rs
  src/debug/jtag/workers/streaming-core/src/stt/whisper.rs
  src/debug/jtag/workers/streaming-core/src/stt_old.rs
  src/debug/jtag/workers/streaming-core/src/tts/kokoro.rs
  src/debug/jtag/workers/streaming-core/src/tts/mod.rs
  src/debug/jtag/workers/streaming-core/src/tts_old_main.rs
  src/debug/jtag/workers/streaming-core/src/voice_service_old.rs
Labels: dependencies

Fix browser identity bug - stop generating random UUIDs for undefined userId
  src/debug/jtag/commands/session/create/shared/SessionCreateCommand.ts
  src/debug/jtag/commands/session/create/shared/SessionCreateTypes.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/daemons/session-daemon/shared/SessionTypes.ts
Labels: none

Add configurable Whisper model support with large-v3-turbo default
  src/debug/jtag/scripts/download-voice-models.sh
  src/debug/jtag/scripts/ensure-config.ts
  src/debug/jtag/workers/streaming-core/models.json
  src/debug/jtag/workers/streaming-core/src/stt/whisper.rs
Labels: none

Fix VAD silence threshold - stop skipping words during natural pauses
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/streaming-core/src/mixer.rs
Labels: dependencies

Add continuous transcription architecture (Option C roadmap)
  src/debug/jtag/docs/CONTINUOUS-TRANSCRIPTION-ARCHITECTURE.md
Labels: documentation

Add LiveWidget voice call screenshot to README
  README.md
  src/debug/jtag/docs/screenshots/README.md
  src/debug/jtag/docs/screenshots/livewidget-voice-call.png
Labels: documentation

Fix Piper TTS test - use correct resample_to_16k function signature
  src/debug/jtag/workers/streaming-core/src/tts/piper.rs
Labels: none

Phase 1: Implement SlidingAudioBuffer with TDD
  src/debug/jtag/workers/streaming-core/src/continuous/mod.rs
  src/debug/jtag/workers/streaming-core/src/continuous/sliding_buffer.rs
  src/debug/jtag/workers/streaming-core/src/lib.rs
  src/debug/jtag/workers/streaming-core/tests/sliding_buffer.rs
Labels: none

Fix call state loading - ONE source of truth pattern
  src/debug/jtag/widgets/live/LiveWidget.ts
Labels: none

Fix critical callId vs sessionId bug - AIs can now respond
  src/debug/jtag/commands/collaboration/live/join/server/LiveJoinServerCommand.ts
  src/debug/jtag/commands/collaboration/live/join/shared/LiveJoinTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/tests/integration/live-join-callid.test.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
Labels: tests, dependencies

Add Rust voice orchestration core with sub-0.1ms IPC latency
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/voice/server/VoiceOrchestrator.ts
  src/debug/jtag/system/voice/server/VoiceOrchestratorRustBridge.ts
  src/debug/jtag/system/voice/server/index.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/continuum-core/ARCHITECTURE.md
  src/debug/jtag/workers/continuum-core/Cargo.toml
  src/debug/jtag/workers/continuum-core/PERFORMANCE.md
  src/debug/jtag/workers/continuum-core/bindings/RustCore.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/benchmark-voice.ts
  src/debug/jtag/workers/continuum-core/bindings/test-concurrent.ts
  src/debug/jtag/workers/continuum-core/bindings/test-ffi.ts
  src/debug/jtag/workers/continuum-core/bindings/test-ipc.ts
  src/debug/jtag/workers/continuum-core/bindings/test-voice-loop.ts
  src/debug/jtag/workers/continuum-core/bindings/verify-integration.ts
  src/debug/jtag/workers/continuum-core/src/concurrent/message_processor.rs
  src/debug/jtag/workers/continuum-core/src/concurrent/mod.rs
  src/debug/jtag/workers/continuum-core/src/concurrent/priority_queue.rs
  src/debug/jtag/workers/continuum-core/src/ffi/mod.rs
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/logging/client.rs
  src/debug/jtag/workers/continuum-core/src/logging/mod.rs
  src/debug/jtag/workers/continuum-core/src/logging/timing.rs
  src/debug/jtag/workers/continuum-core/src/main.rs
  src/debug/jtag/workers/continuum-core/src/persona/inbox.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/types.rs
  src/debug/jtag/workers/continuum-core/src/voice/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/orchestrator.rs
  src/debug/jtag/workers/continuum-core/src/voice/types.rs
  src/debug/jtag/workers/continuum-core/tests/logger_integration.rs
  src/debug/jtag/workers/start-workers.sh
  src/debug/jtag/workers/workers-config.json
Labels: documentation, dependencies

Fix anonymous user deletion bug with proper event-driven cleanup
  CLAUDE.md
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/delete-anonymous-users.ts
  src/debug/jtag/scripts/fix-anonymous-user-leak.md
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
  src/debug/jtag/workers/streaming-core/src/mixer.rs
Labels: documentation, dependencies

WIP: Voice transcriptions route to persona inbox (not chat)
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add modular VAD system to reject background noise
  src/debug/jtag/docs/VAD-SYSTEM-ARCHITECTURE.md
  src/debug/jtag/workers/streaming-core/Cargo.toml
  src/debug/jtag/workers/streaming-core/src/lib.rs
  src/debug/jtag/workers/streaming-core/src/mixer.rs
  src/debug/jtag/workers/streaming-core/src/vad/README.md
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/rms_threshold.rs
  src/debug/jtag/workers/streaming-core/src/vad/silero.rs
Labels: documentation

Add comprehensive VAD integration tests with accuracy ratings
  src/debug/jtag/workers/streaming-core/tests/vad_background_noise.rs
  src/debug/jtag/workers/streaming-core/tests/vad_integration.rs
Labels: none

Add VAD test results documentation
  src/debug/jtag/docs/VAD-TEST-RESULTS.md
Labels: documentation

Implement Silero Raw VAD with ONNX Runtime for accurate background noise rejection
  src/debug/jtag/docs/VAD-SILERO-INTEGRATION.md
  src/debug/jtag/docs/VAD-SYSTEM-ARCHITECTURE.md
  src/debug/jtag/workers/streaming-core/src/vad/README.md
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/silero_raw.rs
  src/debug/jtag/workers/streaming-core/tests/vad_background_noise.rs
Labels: documentation

Add formant-based speech synthesis for VAD testing, document ML VAD limitations
  src/debug/jtag/docs/VAD-SYNTHETIC-AUDIO-FINDINGS.md
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/test_audio.rs
  src/debug/jtag/workers/streaming-core/tests/vad_realistic_audio.rs
Labels: documentation

Add WebRTC VAD implementation using earshot for ultra-fast speech detection
  src/debug/jtag/workers/streaming-core/Cargo.toml
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/webrtc.rs
Labels: none

Add comprehensive VAD system completion summary
  src/debug/jtag/docs/VAD-SYSTEM-COMPLETE.md
Labels: documentation

Add comprehensive VAD evaluation metrics system
  src/debug/jtag/workers/streaming-core/src/vad/metrics.rs
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/tests/vad_metrics_comparison.rs
Labels: none

Add comprehensive VAD metrics results documentation
  src/debug/jtag/docs/VAD-METRICS-RESULTS.md
  src/debug/jtag/docs/VAD-SYSTEM-COMPLETE.md
Labels: documentation

Add background noise mixing tests for VAD robustness
  src/debug/jtag/workers/streaming-core/src/vad/test_audio.rs
  src/debug/jtag/workers/streaming-core/tests/vad_noisy_speech.rs
Labels: none

Add 10 realistic background noise samples and comprehensive VAD testing
  src/debug/jtag/workers/streaming-core/scripts/download_background_noises.sh
  src/debug/jtag/workers/streaming-core/scripts/generate_10_noises.sh
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/wav_loader.rs
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/01_white_noise.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/02_pink_noise.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/03_brown_noise.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/04_hvac_hum.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/05_fan_noise.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/06_fluorescent_buzz.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/07_office_ambiance.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/08_crowd_murmur.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/09_traffic_road.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/10_restaurant_cafe.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/coffeeshop_archive.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/office_typing.wav
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/raw/coffeeshop_archive.mp3
  src/debug/jtag/workers/streaming-core/test_audio/background_noise/raw/office_typing.mp3
  src/debug/jtag/workers/streaming-core/test_audio/download_real_noises.sh
  src/debug/jtag/workers/streaming-core/tests/vad_realistic_bg_noise.rs
Labels: none

Add production VAD implementation with two-stage processing
  src/debug/jtag/docs/VAD-PRODUCTION-CONFIG.md
  src/debug/jtag/workers/streaming-core/scripts/download_real_speech.sh
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/src/vad/production.rs
  src/debug/jtag/workers/streaming-core/tests/vad_production.rs
Labels: documentation

Add adaptive VAD with automatic threshold adjustment
  src/debug/jtag/workers/streaming-core/src/vad/adaptive.rs
  src/debug/jtag/workers/streaming-core/src/vad/mod.rs
  src/debug/jtag/workers/streaming-core/tests/vad_adaptive.rs
Labels: none

Integrate ProductionVAD into audio mixer for production-ready voice detection
  src/debug/jtag/docs/VAD-FINAL-SUMMARY.md
  src/debug/jtag/workers/streaming-core/docs/MIXER-VAD-INTEGRATION.md
  src/debug/jtag/workers/streaming-core/src/mixer.rs
  src/debug/jtag/workers/streaming-core/src/vad/production.rs
  src/debug/jtag/workers/streaming-core/tests/mixer_production_vad_integration.rs
Labels: documentation

Update VAD deployment checklist - mixer integration complete
  src/debug/jtag/docs/VAD-FINAL-SUMMARY.md
Labels: documentation

Add real speech validation, end-to-end tests, and comprehensive documentation
  src/debug/jtag/workers/streaming-core/docs/CONFIGURATION-GUIDE.md
  src/debug/jtag/workers/streaming-core/docs/MODELS-SETUP.md
  src/debug/jtag/workers/streaming-core/docs/PRODUCTION-DEPLOYMENT.md
  src/debug/jtag/workers/streaming-core/docs/QUICK-START.md
  src/debug/jtag/workers/streaming-core/scripts/download_real_speech_samples.sh
  src/debug/jtag/workers/streaming-core/scripts/download_speech_samples_simple.sh
  src/debug/jtag/workers/streaming-core/tests/end_to_end_voice_pipeline.rs
  src/debug/jtag/workers/streaming-core/tests/vad_real_speech_validation.rs
Labels: documentation

Fix VAD frame size compatibility with earshot WebRTC
  src/debug/jtag/workers/streaming-core/scripts/download_silero_model.py
  src/debug/jtag/workers/streaming-core/src/vad/production.rs
  src/debug/jtag/workers/streaming-core/src/vad/webrtc.rs
  src/debug/jtag/workers/streaming-core/tests/mixer_production_vad_integration.rs
  src/debug/jtag/workers/streaming-core/tests/vad_production.rs
Labels: none
