Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix(docker/cuda): pull ONNX Runtime -gpu tarball so CUDAExecutionProvider exists
  docker/continuum-core-cuda.Dockerfile
Labels: none

perf(onnx): wire CoreML/CUDA execution providers into all ORT sessions (#964)
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/live/audio/stt/moonshine.rs
  src/workers/continuum-core/src/live/audio/tts/piper.rs
  src/workers/continuum-core/src/memory/embedding.rs
Labels: none

ci(docker): SHA-revision label + stale-image gate + auto-stop in-flight builds on push
  .github/workflows/docker-images.yml
  scripts/push-current-arch.sh
  scripts/push-image.sh
Labels: workflow

ci(docker): per-arch stale-image policy — amd64 hard, arm64 warn until #965
  .github/workflows/docker-images.yml
Labels: workflow

ci(docker): auto-rebuild stale arches via push-current-arch.sh on GitHub-hosted native runners (#965)
  .github/workflows/docker-images.yml
  scripts/verify-image-revisions.sh
Labels: workflow

docs(grid): anchor airc as the working comms substrate
  docs/grid/GRID-ARCHITECTURE.md
  docs/grid/README.md
Labels: documentation

fix(ci/docker): verify-image-revisions auth + per-arch manifest walk; light-image revision label
  scripts/push-current-arch.sh
  scripts/verify-image-revisions.sh
Labels: none

fix(ci): pre-create ~/.continuum/config.env before docker compose up
  scripts/ci/install-and-run-gate.sh
Labels: none

ci(docker): add submodules: recursive to rebuild-stale checkout blocks
  .github/workflows/docker-images.yml
Labels: workflow

fix(install): native Windows support + hard-fail on unsupported GPU + Hono override
  install.sh
  src/package.json
  src/scripts/lib/install-common.sh
Labels: dependencies

fix(user/create): re-emit data:users:created on existing-user-found — fixes silent personas after recreate
  src/commands/user/create/server/UserCreateServerCommand.ts
Labels: none

chore(deps): regenerate package-lock to match @hono/node-server override
  src/package-lock.json
Labels: dependencies

fix(persona/#75): proper-ChatML strategy for single-party models
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/workers/continuum-core/config/models.toml
  src/workers/continuum-core/src/model_registry/types.rs
  src/workers/continuum-core/src/persona/cognition_io.rs
  src/workers/continuum-core/src/persona/prompt_assembly.rs
  src/workers/continuum-core/src/persona/recorder.rs
  src/workers/continuum-core/src/persona/response.rs
Labels: none

docs(install): unified install architecture (bootstrap.sh canonical + thin entries)
  docs/INSTALL-ARCHITECTURE.md
Labels: documentation

install(windows): unified install.ps1 + setup.bat/bootstrap.ps1 redirects
  README.md
  bootstrap.ps1
  install.ps1
  setup.bat
Labels: documentation

chore(cleanup): delete 23 dead-but-compiled TS files (-1740 LOC, baseline 6318→6251)
  src/eslint-baseline.txt
  src/widgets/buttons/public/buttons.styles.ts
  src/widgets/chat/chat-widget/chat-widget.styles.ts
  src/widgets/chat/shared/BaseMessageRowWidget.ts
  src/widgets/chat/shared/ChatInfiniteScroll.ts
  src/widgets/chat/shared/ChatMessageLoader.ts
  src/widgets/chat/shared/ChatMessageRenderer.ts
  src/widgets/chat/shared/ChatWidgetBase.ts
  src/widgets/chat/shared/InfiniteScrollHelper.ts
  src/widgets/continuum-emoter/public/continuum-emoter.styles.ts
  src/widgets/continuum-metrics/public/continuum-metrics.styles.ts
  src/widgets/help/public/help-widget.styles.ts
  src/widgets/logs-nav/public/logs-nav-widget.styles.ts
  src/widgets/settings-nav/public/settings-nav-widget.styles.ts
  src/widgets/shared/GenericInfiniteScroll.ts
  src/widgets/shared/public/universe-widget.styles.ts
  src/widgets/sidebar-panel/public/sidebar-panel.styles.ts
  src/widgets/sidebar/public/sidebar-panel.styles.ts
  src/widgets/status-view/public/status.styles.ts
  src/widgets/terminal/public/terminal-widget.styles.ts
  src/widgets/universe/public/universe-widget.styles.ts
  src/widgets/voice-bar/public/voice-bar.styles.ts
  src/widgets/voice-chat/VoiceChatWidget.ts
  src/widgets/web-view/public/web-view-widget.styles.ts
Labels: none

fix(chat-widget): scrollback, image-drop preview, post-with-image scroll, vision name-prefix leak
  src/shared/generated/recipe/PersonaContext.ts
  src/widgets/chat/chat-widget/ChatWidget.ts
  src/widgets/chat/chat-widget/chat-widget.css
  src/widgets/shared/EntityScroller.ts
  src/workers/continuum-core/config/models.toml
Labels: none

chore(docker): trim build context — exclude vendored llama.cpp/whisper.cpp bloat + tests/scripts/docs
  src/.dockerignore
  src/workers/.dockerignore
Labels: none

fix(push-script): build from frozen git-worktree snapshot — kills the HEAD-moved race
  scripts/push-current-arch.sh
Labels: none

chore(lint): exclude workers/vendor/** from TS compile + ESLint, lock baseline 6520→6318
  src/eslint-baseline.txt
  src/eslint.config.js
  src/tsconfig.json
Labels: none

fix(push-script): unset inherited GIT_DIR before submodule init in worktree
  scripts/push-current-arch.sh
Labels: none

fix(precommit): two-tier baseline-tolerant ESLint gate (fast path + slow path)
  src/scripts/git-precommit.sh
Labels: none

chore(repo): gitignore generated *.styles.ts, add repo-root.sh helper
  .gitignore
  src/scripts/lib/repo-root.sh
Labels: none

fix(dockerignore): keep scripts/ in node-server context (build:ts needs it)
  src/.dockerignore
Labels: none

fix(push-script): resolve PR HEAD sha in CI to fix verify-after-rebuild
  scripts/push-current-arch.sh
  scripts/push-image.sh
Labels: none

fix(push-script): resolve PR HEAD sha via GITHUB_EVENT_PATH (no gh auth needed)
  scripts/push-current-arch.sh
Labels: none

fix(ci): rebuild-stale-* must check out PR HEAD, not the merge commit
  .github/workflows/docker-images.yml
Labels: workflow

fix(ci): smart staleness — skip rebuild when revision-label SHA differs but image bits would be identical
  .github/workflows/docker-images.yml
  scripts/verify-image-revisions.sh
Labels: workflow

fix(ci): rebuild-stale-* re-checks staleness at job-start (skips when human caught up)
  .github/workflows/docker-images.yml
Labels: workflow

docs: Carl-grade CI plan — close the broken-merge gap
  docs/CARL-CI-PLAN.md
Labels: documentation

fix(install/E): widget-server /health gate + refuse-to-open-on-fail (kills chrome-error trap)
  install.sh
Labels: none

feat(ci/A): carl-install-smoke — runs Carl's exact install command + asserts page renders usable HTML
  .github/workflows/carl-install-smoke.yml
  scripts/ci/carl-install-smoke.sh
Labels: workflow

fix(install/F): friendlier failures — phase-named errors with 1-line guidance
  install.sh
Labels: none

docs(plan): correct B.1/B.2 — Mac is architecturally hybrid (Metal blocked from containers)
  docs/CARL-CI-PLAN.md
Labels: documentation

fix(install/G): UI URL says :9003 not :9000 (bootstrap.sh + install.ps1)
  bootstrap.sh
  install.ps1
Labels: none

fix(install/G): stream cargo build output during first-build (no more silent 5-15min)
  src/scripts/parallel-start.sh
Labels: none

test(sentinel/checkpoint): isolate via CONTINUUM_CHECKPOINT_DIR env override
  src/workers/continuum-core/src/modules/sentinel/checkpoint.rs
Labels: none

fix(push-script): fetch PR HEAD sha before \`git worktree add\` (closes #966)
  scripts/push-current-arch.sh
Labels: none

fix(vision): bounded wait for in-flight VDS description on first message (#970 stage 1)
  src/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

docs(architecture): AGENT-BACKBONE-INTEGRATION — Continuum as local-first backbone for Claude Code / Codex / openclaws / Hermes
  docs/architecture/AGENT-BACKBONE-INTEGRATION.md
Labels: documentation
