Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(capacity): the governed host-cache lease law — live-KV derivation + commit ceiling + sticky publication (#287 slice 1) (#2087)
  core/continuum-core/src/capacity/host_cache_lease.rs
  core/continuum-core/src/capacity/mod.rs
Labels: none

docs(arch): measured governed-budget inputs + graduated serving/load path
  docs/architecture/MOE-SERVING-GOVERNED-BUDGET.md
Labels: documentation

feat(serving): publish the governed host-cache lease on the tick — the plan-file actuator that retires GGML_MOE_HOST_CACHE_GB=40 (#287 slice 2)
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/capacity/moe_serving.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/ipc/positron_serving_source.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(serving): publish the governed host-cache lease on the tick — the plan-file actuator that retires GGML_MOE_HOST_CACHE_GB=40 (#287 slice 2) (#2088)
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/capacity/moe_serving.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/ipc/positron_serving_source.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(cli): install `uu` as THE official short alias for continuum (Joel's pick)
  tools/scripts/start-server.sh
Labels: none

feat(cli): install `uu` as THE official short alias for continuum (Joel's pick) (#2089)
  tools/scripts/start-server.sh
Labels: none

feat(health): ping self-reports the running core's build SHA — the deploy-provenance surface (#194)
  core/continuum-core/src/modules/health.rs
  protocol/typescript/health/PingResult.ts
  sdk/typescript/conformance.spec.ts
  sdk/typescript/generated/wire/health/PingResult.ts
Labels: tests

fix(cli): reboot verifies the RUNNING core's provenance before any success line — no soft skips (#194)
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(cli): reboot verifies deploy provenance — running core's build SHA over the socket, no soft skips (#194) (#2090)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/modules/health.rs
  protocol/typescript/health/PingResult.ts
  sdk/typescript/conformance.spec.ts
  sdk/typescript/generated/wire/health/PingResult.ts
Labels: tests

fix(cognition): native-protocol text fences must never starve — belt-and-suspenders lift + sibling-args acceptance + emission-idiom corpus (#293)
  core/continuum-core/fixtures/tool-emission-corpus.jsonl
  core/continuum-core/src/ai/json_in_prompt_tools.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(cognition): native-protocol text fences must never starve — belt-and-suspenders lift + sibling-args acceptance + emission-idiom corpus (#293) (#2091)
  core/continuum-core/fixtures/tool-emission-corpus.jsonl
  core/continuum-core/src/ai/json_in_prompt_tools.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(install): atomic replace + ad-hoc re-sign for llama-server — kill the macOS Killed:9 false-FATAL (#291)
  tools/scripts/install-llama-server.sh
Labels: none

fix(install): atomic replace + ad-hoc re-sign for llama-server — kill the macOS Killed:9 false-FATAL (#291) (#2092)
  tools/scripts/install-llama-server.sh
Labels: none

windows: make continuum-core build + link on windows-msvc (first time)
  core/continuum-core/src/capacity/expert_container.rs
  core/continuum-core/src/commands/capacity.rs
  core/continuum-core/src/lib.rs
  core/continuum-core/src/platform_io.rs
  tools/scripts/start-server.sh
Labels: none

feat(serving): #106 verified vision readiness — /props modalities gate + ServingSnapshot.vision_ready
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
  shared/generated/persona/ServingSnapshot.ts
Labels: none

feat(vision): #106 VL model on the serving lane + observe path routes only to VERIFIED eyes
  core/continuum-core/src/cognition/vision_describe.rs
  core/continuum-core/src/model_registry/catalog.rs
Labels: none

feat(ai): native raw-image content parts for vision-capable models — gated per MODEL row
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

feat(vision): #106 slice 1 — VL serving with verified mmproj readiness, honest observe routing, native image parts (#2093)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/cognition/vision_describe.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/model_registry/catalog.rs
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
  shared/generated/persona/ServingSnapshot.ts
Labels: none

fix(airc): bound the first-ever attach — coalesce full-history backlog into one watermark frame (#295)
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

fix(airc): bound the first-ever attach — coalesce full-history backlog into one watermark frame (#295) (#2094)
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

feat(live): the server is authoritative that a call IS its airc room — room_id is the canonical call key (#193 slice A)
  core/continuum-core/src/modules/live.rs
Labels: none

feat(live): the server is authoritative that a call IS its airc room — room_id is the canonical call key (#193 slice A) (#2095)
  core/continuum-core/src/modules/live.rs
Labels: none

fix(cognition): meet the drifted narrated-pass idioms — kill tonight's closure-echo cascade (#264)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): meet the drifted narrated-pass idioms — kill tonight's closure-echo cascade (#264) (#2096)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): recalibrate the narrated-pass length cap 500→700 — the cascade survived by 11 chars (#264)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): recalibrate the narrated-pass length cap 500→700 — the cascade survived by 11 chars (#264) (#2097)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

feat(airc): one page back on first attach — bump airc to f01a3f4 + backlog_tail(32) (#295 follow-up)
  Cargo.lock
  Cargo.toml
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

feat(airc): one page back on first attach — bump airc to f01a3f4 + backlog_tail(32) (#295 follow-up) (#2098)
  Cargo.lock
  Cargo.toml
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

fix(cognition): two-tier narrated-pass lift — end the length-cap arms race (#264)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): two-tier narrated-pass lift — end the length-cap arms race (#264) (#2099)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): substrate Facts render as notices, never as her own thoughts — kill the scaffold-echo at its root (#264)
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

fix(cognition): substrate Facts render as notices, never as her own thoughts — kill the scaffold-echo at its root (#264) (#2100)
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

fix(perception): the page is the room's CONVERSATION, never its firehose — kinds-filtered paging (#297)
  Cargo.lock
  Cargo.toml
  core/continuum-core/src/airc/daemon_transport.rs
  core/continuum-core/src/context/airc_adapter.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/airc_source.rs
Labels: none

fix(perception): the page is the room's CONVERSATION, never its firehose — kinds-filtered paging (#297) (#2101)
  Cargo.lock
  Cargo.toml
  core/continuum-core/src/airc/daemon_transport.rs
  core/continuum-core/src/context/airc_adapter.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/airc_source.rs
Labels: none

fix(models): an mmproj companion is never THE model — exclude projectors from main-GGUF candidacy (#106)
  core/continuum-core/src/model_registry/artifacts.rs
Labels: none

fix(models): an mmproj companion is never THE model — exclude projectors from main-GGUF candidacy (#106) (#2102)
  core/continuum-core/src/model_registry/artifacts.rs
Labels: none

feat(voice): client keys the call by roomId — session_id == room_id on the wire (#193 slice B)
  legacy/src/system/voice/server/VoiceOrchestratorRustBridge.ts
Labels: none

feat(voice): client keys the call by roomId — session_id == room_id on the wire (#193 slice B) (#2103)
  legacy/src/system/voice/server/VoiceOrchestratorRustBridge.ts
Labels: none

fix(deploy): rebuild a swept core binary before exec — cache eviction is a supported event (#296)
  tools/scripts/start-server.sh
Labels: none

fix(deploy): rebuild a swept core binary before exec — cache eviction is a supported event (#296) (#2104)
  tools/scripts/start-server.sh
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
