Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(windows): hide CUDA capability probes through owned launcher
  tools/scripts/lib/cuda-targets.ps1
  tools/scripts/tests/cuda-targets.test.ps1
Labels: none

docs(media): verify deployed native refusal boundaries and refresh next step
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

docs(install): reconcile public prerequisite and hidden-launch receipts
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
Labels: documentation

docs(install): retain outstanding publication and visibility defects
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
Labels: documentation

fix(cuda): pin reviewed dependency CI repair
  Cargo.lock
  Cargo.toml
Labels: none

fix(stream): cancel presentation helpers with their owning turn
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/ipc/stream_rail.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/utils/mod.rs
  core/continuum-core/src/utils/task.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(build): promote selected CUDA runtime on inherited PATH
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/windows-build-env.sh
Labels: documentation

docs(media): retain active cancellation deployment owner
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(install): detect CUDA targets instead of pinning RTX 5090 (#4657)
  .github/workflows/continuum-rust-tests.yml
  Cargo.lock
  Cargo.toml
  core/llama/build.rs
  docs/architecture/GPU-CONTRACT.md
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/install-llama-server.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/cuda-targets.ps1
  tools/scripts/lib/cuda-targets.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/start-server.sh
  tools/scripts/tests/cuda-targets.test.ps1
  tools/scripts/tests/cuda-targets.test.sh
  tools/scripts/tests/install-llama-server-slots.test.sh
  tools/scripts/tests/start-server-build-only.test.sh
Labels: documentation, workflow

fix(install): preserve identical staged artifacts with locked prior images
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(inference): own request stream lifetime and reject invalid terminals
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/ai/stream_sinks.rs
  core/continuum-core/src/ai/types.rs
  core/continuum-core/src/cognition/generation_drop.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/src/routing/command_handler.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
  docs/testing/PDF-NATIVE-VISION-ACCEPTANCE.md
Labels: documentation

fix(install): resolve CUDA compiler within selected toolkit layouts
  tools/scripts/lib/cuda-targets.sh
  tools/scripts/tests/cuda-targets.test.sh
Labels: none

fix(desktop): persist native Windows dist path for supervised core
  tools/scripts/start-server.sh
  tools/scripts/tests/start-server-build-only.test.sh
Labels: none

test(vision): bind PDF acceptance to the deployed core revision
  tools/scripts/tests/pdf-vision-live.ps1
Labels: none

docs: record deployed native stream and PDF acceptance
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(inference): recover durable replies while draining native streams
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(inference): fence native audio at terminal and choice boundaries
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/sse_stream.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(install): select native PowerShell modules before setup
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): select native PowerShell modules before setup (#4660)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(windows): bound AIRC entry download before firewall setup
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-airc-download.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

test(windows): prove body timeout independently of truncation
  tools/scripts/tests/windows-airc-download.test.ps1
Labels: none

fix(windows): bound AIRC entry download before firewall setup (#4661)
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-airc-download.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

fix(ai): require exact model metadata without retaining registry lock
  core/continuum-core/src/commands/ai/mod.rs
  core/continuum-core/src/commands/ai/model_info.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
  tools/scripts/tests/pdf-vision-live.ps1
Labels: documentation

fix(inference): retain stream ownership until command completion
  core/continuum-core/src/ai/stream_sinks.rs
  core/continuum-core/src/routing/command_handler.rs
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

docs: align grid prices and useful-work currency
  docs/architecture/ECONOMY-ARCHITECTURE.md
  docs/architecture/GRID-MARKET-CLEARING.md
  docs/grid/FORGE-ALLOY-PROOF-CONTRACTS.md
Labels: documentation

docs: seed dynamic grid allocation with capability priors
  docs/architecture/ADAPTIVE-GRID-INTELLIGENCE.md
Labels: documentation

fix(ci): match installer regression steps to checkout selection
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

fix(install): preserve diagnostics across hidden PowerShell entries
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): preserve diagnostics across hidden PowerShell entries (#4664)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): allow explicit completed recovery handoff
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): isolate completed handoff ABI in cached hosts
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: none

fix(install): preserve verified recovery on explicit completed outcomes (#4666)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): record consent acquisition evidence
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): record consent acquisition evidence (#4667)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): rediscover registered gsudo before acquisition
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): rediscover registered gsudo before acquisition (#4669)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): macOS install starts a stopped core and owns continuum + uu on PATH
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

ci: reuse core artifacts for doc guards and select Windows helper checks
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/ci-change-scope.cjs
  tools/scripts/tests/ci-change-scope.test.cjs
Labels: documentation, workflow

feat(install): continuum makes sure airc is installed and comes back after a reboot
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-core/src/airc/discovery.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(install): name airc's supervisor once, with no org in it
  core/continuum-core/src/airc/discovery.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
