Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Update generated files and version bump
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add AI Providers settings screenshot for documentation
  src/debug/jtag/docs/screenshots/settings-ai-providers.png
Labels: none

Move storage note to prominent top position in Settings
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
Labels: none

Update Settings screenshot with storage note visible
  src/debug/jtag/docs/screenshots/settings-ai-providers.png
Labels: none

Add refresh button to reload config from file
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
Labels: none

Show masked API keys like OpenAI (sk-...QfQA)
  src/debug/jtag/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
  src/debug/jtag/commands/ai/providers/status/shared/AIProvidersStatusTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/ProviderEntry.ts
Labels: dependencies

Fix Test button for configured keys and improve link styling
  src/debug/jtag/commands/ai/key/test/server/AiKeyTestServerCommand.ts
  src/debug/jtag/commands/ai/key/test/shared/AiKeyTestTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
Labels: dependencies

Fix ai/key/test command and settings widget UX
  src/debug/jtag/commands/ai/key/test/server/AiKeyTestServerCommand.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/ProviderStatusTester.ts
Labels: none

Fix RAG/memory integration and add architecture docs
  src/debug/jtag/docs/RAG-COGNITION-IMPROVEMENTS.md
  src/debug/jtag/docs/UI-STATE-RAG-ARCHITECTURE.md
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
Labels: documentation

Fix orphaned persona memories and per-persona vector search
  src/debug/jtag/commands/data/vector-search/server/VectorSearchServerCommand.ts
  src/debug/jtag/commands/data/vector-search/shared/VectorSearchCommandTypes.ts
  src/debug/jtag/daemons/data-daemon/shared/VectorSearchTypes.ts
  src/debug/jtag/scripts/data-clear.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
Labels: none

Add DiagnosticsWidget and shared panel styling system
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/log-viewer/LogViewerWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
  src/debug/jtag/widgets/shared/BasePanelWidget.ts
  src/debug/jtag/widgets/shared/styles/FormStyles.ts
  src/debug/jtag/widgets/shared/styles/PanelStyles.ts
  src/debug/jtag/widgets/shared/styles/index.ts
Labels: none

Add PersonaBrainWidget - per-persona cognitive visualization
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: none

Redesign PersonaBrainWidget with circuit-style brain visualization
  src/debug/jtag/commands/collaboration/content/open/browser/ContentOpenBrowserCommand.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: none

Cyberpunk low-poly brain visualization with real neuroanatomy names
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: none

Wire up persona brain HUD with real stats and sidebar entry point
  src/debug/jtag/README.md
  src/debug/jtag/docs/images/persona-brain-hud.png
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: documentation

Fix theme CSS not loading on page refresh
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
Labels: none

Add resizable right panel with AI assistant and RAG budget management
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/EmbeddingService.ts
  src/debug/jtag/system/data/interfaces/IEmbeddable.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGBudgetManager.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/MemoryTypes.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
  src/debug/jtag/tests/unit/semantic-memory-system.test.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
  src/debug/jtag/widgets/right-panel/RightPanelWidget.ts
Labels: tests, dependencies

Add screenshot of 3-panel layout with AI assistant
  src/debug/jtag/docs/screenshots/right-panel-layout.png
Labels: none

Add 3-panel layout screenshot to README
  src/debug/jtag/README.md
Labels: documentation

Add 3-panel layout screenshot to root README
  README.md
Labels: documentation

Refactor Being architecture to neuroanatomy-accurate names + fix theme persistence
  src/debug/jtag/docs/LOGGING-PATHS-DESIGN.md
  src/debug/jtag/docs/LOGGING.md
  src/debug/jtag/docs/PERSONA-BEING-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/LogFileRegistry.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/LimbicSystem.ts
  src/debug/jtag/system/user/server/modules/being/MotorCortex.ts
  src/debug/jtag/system/user/server/modules/being/PrefrontalCortex.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
Labels: documentation, dependencies

Add logs/config command and logging toggle UI (WIP)
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/logs/config/.npmignore
  src/debug/jtag/commands/logs/config/README.md
  src/debug/jtag/commands/logs/config/browser/LogsConfigBrowserCommand.ts
  src/debug/jtag/commands/logs/config/package.json
  src/debug/jtag/commands/logs/config/server/LogsConfigServerCommand.ts
  src/debug/jtag/commands/logs/config/shared/LogsConfigTypes.ts
  src/debug/jtag/commands/logs/config/test/integration/LogsConfigIntegration.test.ts
  src/debug/jtag/commands/logs/config/test/unit/LogsConfigCommand.test.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/LoggingConfig.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/log-viewer/LogViewerWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: documentation, tests, dependencies

Refactor PersonaBrainWidget to use Sass and fix logging toggle
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/compile-sass.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/LoggingConfig.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
  src/debug/jtag/widgets/persona-brain/components/LogToggle.ts
  src/debug/jtag/widgets/persona-brain/styles/persona-brain-widget.scss
  src/debug/jtag/widgets/persona-brain/styles/persona-brain-widget.styles.ts
  src/debug/jtag/widgets/shared/styles/_mixins.scss
  src/debug/jtag/widgets/shared/styles/_variables.scss
Labels: dependencies

Add right panel widget and activity layout architecture
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/examples/widget-ui/src/components/SidebarResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/persona-brain/templates/activity-feed.ts
  src/debug/jtag/widgets/persona-brain/templates/brain-svg.ts
  src/debug/jtag/widgets/persona-brain/templates/container.ts
  src/debug/jtag/widgets/persona-brain/templates/index.ts
  src/debug/jtag/widgets/persona-brain/templates/issues-panel.ts
  src/debug/jtag/widgets/persona-brain/templates/module-details.ts
  src/debug/jtag/widgets/persona-brain/templates/stats-bar.ts
  src/debug/jtag/widgets/right-panel/RightPanelWidget.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
  src/debug/jtag/widgets/shared/PanelLayoutWidget.ts
  src/debug/jtag/widgets/shared/themes/base/base.css
Labels: dependencies

Add collapse behavior to right panel resizer
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
Labels: none

Use CSS vars as single source of truth for panel dimensions
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/shared/themes/base/theme.css
Labels: dependencies

Use theme CSS vars in RightPanelResizer
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Fix collapsed state restoration on page refresh
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Unify left/right sidebar resizer behavior
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/shared/themes/base/theme.css
Labels: dependencies

Increase default panel widths to 400px
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/shared/themes/base/theme.css
Labels: dependencies

Set min panel width to 300px
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/shared/themes/base/theme.css
Labels: dependencies

Unify panel resizers and add sidebar collapse button
  src/debug/jtag/daemons/command-daemon/shared/GlobalUtils.ts
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/examples/widget-ui/src/components/RightPanelResizer.ts
  src/debug/jtag/examples/widget-ui/src/components/SidebarResizer.ts
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/shared/EventConstants.ts
  src/debug/jtag/system/recipes/academy-training.json
  src/debug/jtag/system/recipes/gan-recipe.json
  src/debug/jtag/system/recipes/general-chat.json
  src/debug/jtag/system/recipes/logs.json
  src/debug/jtag/system/recipes/multi-persona-chat.json
  src/debug/jtag/system/recipes/settings.json
  src/debug/jtag/system/recipes/theme.json
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
  src/debug/jtag/widgets/right-panel/RightPanelWidget.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/sidebar/public/sidebar-panel.css
  src/debug/jtag/widgets/sidebar/public/sidebar-panel.html
Labels: dependencies

Fix drag-from-collapsed and clean up stale CSS
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
Labels: dependencies

good tab behavior
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
Labels: dependencies

fairly good tab behavior
  docs/design-reference/tron-ares/nin-ares-album-1.png
  docs/design-reference/tron-ares/nin-ares-album-2.png
  docs/design-reference/tron-ares/nin-ares-album-3.png
  docs/design-reference/tron-ares/nin-ares-album-4.png
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
Labels: documentation, dependencies

Settings widget improvements and content/open fix
  src/debug/jtag/commands/collaboration/content/open/server/ContentOpenServerCommand.ts
  src/debug/jtag/commands/collaboration/content/open/shared/ContentOpenTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/components/SettingsStyles.ts
  src/debug/jtag/widgets/settings/styles/settings.scss
  src/debug/jtag/widgets/settings/styles/settings.styles.ts
Labels: dependencies

Recipe-driven content layout architecture
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/RecipeEntity.ts
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: dependencies

Activity system: Recipe templates with runtime instances
  src/debug/jtag/commands/collaboration/activity/create/server/ActivityCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/create/shared/ActivityCreateTypes.ts
  src/debug/jtag/commands/collaboration/activity/get/server/ActivityGetServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/get/shared/ActivityGetTypes.ts
  src/debug/jtag/commands/collaboration/activity/join/server/ActivityJoinServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/join/shared/ActivityJoinTypes.ts
  src/debug/jtag/commands/collaboration/activity/list/server/ActivityListServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/list/shared/ActivityListTypes.ts
  src/debug/jtag/commands/collaboration/activity/update/server/ActivityUpdateServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/update/shared/ActivityUpdateTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/ACTIVITY-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/activities/browser/ActivityService.ts
  src/debug/jtag/system/activities/shared/ActivityTypes.ts
  src/debug/jtag/system/data/entities/ActivityEntity.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: documentation, dependencies

Update recipe JSON files to v2 array layout format
  src/debug/jtag/system/recipes/general-chat.json
  src/debug/jtag/system/recipes/logs.json
  src/debug/jtag/system/recipes/settings.json
  src/debug/jtag/system/recipes/theme.json
Labels: none

Add recipe inputs for dynamic parameterized recipes
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
