Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

rust ai providers docs
  src/debug/jtag/docs/AI-PROVIDER-MIGRATION.md
  src/debug/jtag/docs/AI-PROVIDER-TESTING-STRATEGY.md
  src/debug/jtag/docs/AI-PROVIDER-WORKER-ARCHITECTURE.md
  src/debug/jtag/docs/OLLAMA-WORKER-ARCHITECTURE.md
Labels: documentation

Remove collaboration and infrastructure details from README
  README.md
Labels: documentation

Remove collaboration and infrastructure details from README (#234)
  README.md
Labels: documentation

fixed logger calling into worker client, code reduction
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/logger-daemon/server/LoggerDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/Logger.ts
Labels: dependencies

updated docs
  src/debug/jtag/docs/AI-PROVIDER-MIGRATION.md
  src/debug/jtag/docs/AI-PROVIDER-TESTING-STRATEGY.md
  src/debug/jtag/docs/AI-PROVIDER-WORKER-ARCHITECTURE.md
  src/debug/jtag/docs/OLLAMA-WORKER-ARCHITECTURE.md
Labels: documentation

trying to develop rust
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/ipc/logger/generated/LogLevel.ts
  src/debug/jtag/shared/ipc/logger/generated/WriteLogPayload.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/logger/Cargo.toml
  src/debug/jtag/workers/logger/bindings/LogLevel.ts
  src/debug/jtag/workers/logger/bindings/WriteLogPayload.ts
  src/debug/jtag/workers/logger/src/messages.rs
Labels: dependencies

ts-rs version
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/logger/Cargo.toml
Labels: dependencies

rust still running
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/logger/bindings/PingPayload.ts
  src/debug/jtag/workers/logger/bindings/PingResult.ts
  src/debug/jtag/workers/logger/bindings/WriteLogResult.ts
  src/debug/jtag/workers/logger/src/messages.rs
Labels: dependencies

concurrency in logging
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/logger/src/connection_handler.rs
  src/debug/jtag/workers/logger/src/main.rs
Labels: dependencies

fix rank choice voting commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/list/server/DecisionListServerCommand.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/decision/view/server/DecisionViewServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

correct settings for workers
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum.db
  src/debug/jtag/continuum.db-shm
  src/debug/jtag/continuum.db-wal
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/data/LESSONS-LEARNED.md
  src/debug/jtag/workers/start-workers.sh
Labels: documentation, dependencies

refactor(data-worker): Use DELETE mode instead of WAL for database compatibility
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/RustSqliteExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqlExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteRawExecutor.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/data/src/adapter.rs
  src/debug/jtag/workers/data/src/connection_handler.rs
  src/debug/jtag/workers/data/src/database.rs
  src/debug/jtag/workers/data/src/main.rs
  src/debug/jtag/workers/data/src/messages.rs
  src/debug/jtag/workers/data/src/processor.rs
Labels: dependencies

feat: Rust data worker + declarative index management (10-100x speedup)
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/RustStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqlStorageAdapterBase.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteTransactionManager.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
  src/debug/jtag/docs/INDEX-MANAGEMENT-GUIDE.md
  src/debug/jtag/docs/RUST-DATA-WORKER-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/decorators/FieldDecorators.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/workers/data/PHASE-1-COMPLETE.md
  src/debug/jtag/workers/data/test-rust-adapter.ts
Labels: documentation, dependencies

SPEEDUP: decorators designed for indexing, composite index
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/governance/DATABASE-OPTIMIZATION-REPORT.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/decorators/FieldDecorators.ts
  src/debug/jtag/system/data/entities/CognitionMemoryOperationEntity.ts
  src/debug/jtag/system/data/entities/CognitionPlanEntity.ts
  src/debug/jtag/system/data/entities/CognitionPlanReplanEntity.ts
  src/debug/jtag/system/data/entities/CognitionPlanStepExecutionEntity.ts
  src/debug/jtag/system/data/entities/CognitionSelfStateUpdateEntity.ts
  src/debug/jtag/system/data/entities/CognitionStateEntity.ts
  src/debug/jtag/system/data/entities/MemoryEntity.ts
Labels: documentation, dependencies

feat(governance): Add real-time vote/finalization notifications and fix identity attribution
  src/debug/jtag/commands/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/system/governance/GovernanceNotifications.ts
Labels: none

ai governance daemon
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/governance-daemon/server/GovernanceDaemonServer.ts
  src/debug/jtag/daemons/governance-daemon/shared/GovernanceDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-structure.ts
  src/debug/jtag/governance-bootstrap-decision.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

fix(governance): Add 'manual_review' as valid ProposalStatus
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/DecisionProposalEntity.ts
Labels: dependencies

fix proposal system
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/list/server/DecisionListServerCommand.ts
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/decision/propose/shared/DecisionProposeTypes.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/decision/view/server/DecisionViewServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/types/CrossPlatformUUID.ts
Labels: dependencies

feat: Universal Handle pattern (UUID + ShortId) for all entities
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/list/server/DecisionListServerCommand.ts
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/decision/view/server/DecisionViewServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/BaseEntity.ts
  src/debug/jtag/system/data/entities/DecisionProposalEntity.ts
Labels: dependencies

fix responsiveness in chat widget and thermo on persona
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/user/server/modules/PersonaState.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
Labels: dependencies

moved some commands around
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/persona/learning/capture-feedback/browser/GenomeCaptureFeedbackBrowserCommand.ts
  src/debug/jtag/commands/persona/learning/capture-feedback/server/GenomeCaptureFeedbackServerCommand.ts
  src/debug/jtag/commands/persona/learning/capture-feedback/shared/GenomeCaptureFeedbackTypes.ts
  src/debug/jtag/commands/persona/learning/capture-interaction/browser/GenomeCaptureInteractionBrowserCommand.ts
  src/debug/jtag/commands/persona/learning/capture-interaction/server/GenomeCaptureInteractionServerCommand.ts
  src/debug/jtag/commands/persona/learning/capture-interaction/shared/GenomeCaptureInteractionTypes.ts
  src/debug/jtag/commands/persona/learning/multi-agent-learn/browser/GenomeMultiAgentLearnBrowserCommand.ts
  src/debug/jtag/commands/persona/learning/multi-agent-learn/server/GenomeMultiAgentLearnServerCommand.ts
  src/debug/jtag/commands/persona/learning/multi-agent-learn/shared/GenomeMultiAgentLearnTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

command disaster, reorg plan now
  src/debug/jtag/COMMAND-REORGANIZATION-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

fix: remove timestamps from generated files to reduce diff noise
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/COMMAND-REORGANIZATION-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/core/RegistryBuilder.ts
  src/debug/jtag/generator/generate-version.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

legacy files we should leave out of checkin
  .gitignore
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
Labels: none

using constants DATA_COMMANDS
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/ai/rag/index/create/server/IndexCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/collaboration/wall/write/server/WallWriteServerCommand.ts
  src/debug/jtag/commands/genome/job-create/server/GenomeJobCreateServerCommand.ts
  src/debug/jtag/commands/state/create/browser/StateCreateBrowserCommand.ts
  src/debug/jtag/commands/training/import/server/TrainingImportServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/src/components/SidebarResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/coordination/server/CoordinationDecisionLogger.ts
  src/debug/jtag/system/genome/fine-tuning/server/BaseLoRATrainerServer.ts
  src/debug/jtag/system/scheduling/shared/SystemSchedulingState.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/tests/integration/chat-me-other-positioning.test.ts
  src/debug/jtag/tests/integration/helpers/persona-test-helpers.ts
  src/debug/jtag/tests/integration/logging-entities.test.ts
  src/debug/jtag/tests/integration/training-data-pipeline.test.ts
Labels: tests, dependencies

use UPDATE constant
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/content/open/server/ContentOpenServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/collaboration/wall/write/server/WallWriteServerCommand.ts
  src/debug/jtag/commands/genome/job-create/server/GenomeJobCreateServerCommand.ts
  src/debug/jtag/commands/state/update/browser/StateUpdateBrowserCommand.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/daemons/governance-daemon/shared/GovernanceDaemon.ts
  src/debug/jtag/examples/widget-ui/src/components/SidebarResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/fine-tuning/server/BaseLoRATrainerServer.ts
  src/debug/jtag/system/scheduling/shared/SystemSchedulingState.ts
  src/debug/jtag/system/user/server/modules/PersonaGenomeManager.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
Labels: dependencies

most data commands covered
  src/debug/jtag/commands/collaboration/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/view/server/DecisionViewServerCommand.ts
  src/debug/jtag/commands/data/close/browser/DataCloseBrowserCommand.ts
  src/debug/jtag/commands/data/list-handles/browser/DataListHandlesBrowserCommand.ts
  src/debug/jtag/commands/data/open/browser/DataOpenBrowserCommand.ts
  src/debug/jtag/commands/data/open/server/DataOpenServerCommand.ts
  src/debug/jtag/commands/data/shared/DataCommandConstants.ts
  src/debug/jtag/commands/genome/job-status/server/GenomeJobStatusServerCommand.ts
  src/debug/jtag/commands/training/import/server/TrainingImportServerCommand.ts
  src/debug/jtag/commands/workspace/git/workspace/init/server/GitWorkspaceInitServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/RustWorkerStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/src/components/SidebarResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/fine-tuning/server/BaseLoRATrainerServer.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaGenomeManager.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/tests/integration/chat-me-other-positioning.test.ts
  src/debug/jtag/tests/integration/helpers/persona-test-helpers.ts
  src/debug/jtag/tests/integration/multi-database-handles.test.ts
  src/debug/jtag/tests/integration/training-data-pipeline.test.ts
Labels: tests, dependencies

using data constants
  src/debug/jtag/api/data-seed/DataSeeder.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/cleanup-test-entities.ts
  src/debug/jtag/scripts/data-clear.ts
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/scripts/seed/helpers.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/tests/integration/ai-chat-participation.test.ts
  src/debug/jtag/tests/integration/ai-gating-quality.test.ts
  src/debug/jtag/tests/integration/ai-persona-integration.test.ts
  src/debug/jtag/tests/integration/chat-response-time.test.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/tests/integration/database-comprehensive-integration.test.ts
  src/debug/jtag/tests/integration/genome-crud.test.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
  src/debug/jtag/tests/test-utils/SchemaBasedFactory.ts
Labels: tests, dependencies

the last of the data command constants, I think
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/ai/report/decisions/server/DecisionReportServerCommand.ts
  src/debug/jtag/commands/collaboration/chat/analyze/server/ChatAnalyzeServerCommand.ts
  src/debug/jtag/commands/collaboration/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/create/server/DecisionCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/vote/server/DecisionVoteServerCommand.ts
  src/debug/jtag/commands/development/code/shared/CodeCommandConstants.ts
  src/debug/jtag/daemons/governance-daemon/shared/GovernanceDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/PermissionTypes.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/server/RoomResolver.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/widgets/shared/DataExecutorAdapter.ts
Labels: dependencies

bug in seed
  src/debug/jtag/scripts/seed-continuum.ts
Labels: none

decent decorator based archiver
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/data/delete/server/DataDeleteServerCommand.ts
  src/debug/jtag/commands/data/delete/shared/DataDeleteTypes.ts
  src/debug/jtag/commands/data/list/shared/DataListTypes.ts
  src/debug/jtag/commands/data/shared/BaseDataTypes.ts
  src/debug/jtag/commands/data/shared/DataCommandConstants.ts
  src/debug/jtag/commands/data/vacuum/.npmignore
  src/debug/jtag/commands/data/vacuum/README.md
  src/debug/jtag/commands/data/vacuum/browser/DataVacuumBrowserCommand.ts
  src/debug/jtag/commands/data/vacuum/package.json
  src/debug/jtag/commands/data/vacuum/server/DataVacuumServerCommand.ts
  src/debug/jtag/commands/data/vacuum/shared/DataVacuumTypes.ts
  src/debug/jtag/commands/data/vacuum/test/integration/DataVacuumIntegration.test.ts
  src/debug/jtag/commands/data/vacuum/test/unit/DataVacuumCommand.test.ts
  src/debug/jtag/daemons/archive-daemon/browser/ArchiveDaemonBrowser.ts
  src/debug/jtag/daemons/archive-daemon/server/ArchiveDaemonServer.ts
  src/debug/jtag/daemons/archive-daemon/shared/ArchiveDaemon.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-archive-daemon.ts
  src/debug/jtag/generator/generate-vacuum-command.ts
  src/debug/jtag/generator/specs/archive-daemon-spec.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/decorators/FieldDecorators.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
Labels: documentation, tests, dependencies

remove vacuum
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/shared/DataCommandConstants.ts
  src/debug/jtag/commands/data/vacuum/.npmignore
  src/debug/jtag/commands/data/vacuum/README.md
  src/debug/jtag/commands/data/vacuum/browser/DataVacuumBrowserCommand.ts
  src/debug/jtag/commands/data/vacuum/package.json
  src/debug/jtag/commands/data/vacuum/server/DataVacuumServerCommand.ts
  src/debug/jtag/commands/data/vacuum/shared/DataVacuumTypes.ts
  src/debug/jtag/commands/data/vacuum/test/integration/DataVacuumIntegration.test.ts
  src/debug/jtag/commands/data/vacuum/test/unit/DataVacuumCommand.test.ts
  src/debug/jtag/daemons/archive-daemon/server/ArchiveDaemonServer.ts
  src/debug/jtag/daemons/data-daemon/server/RustStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-vacuum-command.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
Labels: documentation, tests, dependencies

remove flashgordon BS
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/config/DatabaseConfig.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/system/shared/Constants.ts
Labels: dependencies

sqllite wal mode ON
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Fix archive daemon rate limiting to prevent system crashes
  src/debug/jtag/daemons/archive-daemon/server/ArchiveDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Fix startup race conditions and improve stability
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/workers/start-workers.sh
Labels: dependencies

Refactor LoggerDaemon: Rust-backed daemon pattern
  src/debug/jtag/daemons/logger-daemon/LOGGER-DAEMON-MULTIPROCESS-ROADMAP.md
  src/debug/jtag/daemons/logger-daemon/package.json
  src/debug/jtag/daemons/logger-daemon/process/LoggerDaemonProcess.ts
  src/debug/jtag/daemons/logger-daemon/scripts/restart-worker.sh
  src/debug/jtag/daemons/logger-daemon/server/LoggerDaemonCore.ts
  src/debug/jtag/daemons/logger-daemon/server/LoggerDaemonServer.ts
  src/debug/jtag/daemons/logger-daemon/shared/LoggerDaemon.ts
  src/debug/jtag/daemons/logger-daemon/shared/LoggerDaemonTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/ipc/logger/LoggerDaemonClient.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

Properly generate LoggerDaemon using DaemonGenerator
  src/debug/jtag/daemons/logger-daemon/browser/LoggerDaemonBrowser.ts
  src/debug/jtag/daemons/logger-daemon/server/LoggerDaemonServer.ts
  src/debug/jtag/daemons/logger-daemon/shared/LoggerDaemon.ts
  src/debug/jtag/generator/generate-logger-daemon.ts
  src/debug/jtag/generator/specs/logger-daemon-spec.ts
Labels: none

Add comprehensive LoggerDaemon README
  src/debug/jtag/daemons/logger-daemon/README.md
Labels: documentation

good wall. write but bad location for method
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/collaboration/wall/shared/WallTypes.ts
  src/debug/jtag/commands/collaboration/wall/write/server/WallWriteServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies
