Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

test(patterns): reuse exported ChatContentBody in the workspace spec cast (review #1758)
  packages/chat-view/patternProjections.spec.ts
Labels: tests

feat(patterns): chat room composes into a Workspace (outlier-B groundwork) (#1758)
  packages/chat-view/index.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
Labels: tests

feat(positron): foundry room content kind (outlier B — the pattern seam past chat)
  core/continuum-positron/src/foundry.rs
  core/continuum-positron/src/lib.rs
  protocol/typescript/positron/ForgeModelView.ts
  protocol/typescript/positron/ForgeViewState.ts
Labels: none

test(positron): pin foundry revision()==None + empty-catalogue view (review #1759)
  core/continuum-positron/src/foundry.rs
Labels: none

feat(positron): foundry room content kind (outlier B — pattern seam past chat) (#1759)
  core/continuum-positron/src/foundry.rs
  core/continuum-positron/src/lib.rs
  protocol/typescript/positron/ForgeModelView.ts
  protocol/typescript/positron/ForgeViewState.ts
Labels: none

chore(positron): cargo fmt the crate (rustfmt 1.9.0, no behavior change)
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/kanban.rs
  core/continuum-positron/src/session_task.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/src/substrate.rs
  core/continuum-positron/src/wall.rs
Labels: none

chore(positron): cargo fmt the crate (rustfmt 1.9.0, no behavior change) (#1760)
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/kanban.rs
  core/continuum-positron/src/session_task.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/src/substrate.rs
  core/continuum-positron/src/wall.rs
Labels: none

feat(positron): ModelCatalog → ForgeViewState projection (brick 1)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_foundry_source.rs
Labels: none

feat(positron): reuse Model::parameter_count_billions() in foundry projection (review #1761)
  core/continuum-core/src/ipc/positron_foundry_source.rs
Labels: none

feat(positron): ModelCatalog → ForgeViewState projection (brick 1) (#1761)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_foundry_source.rs
Labels: none

feat(sdk): #80 — automate view-payload vendoring (kill the silent drift)
  apps/tui/src/renderChat.spec.ts
  package.json
  packages/chat-view/patternProjections.spec.ts
  sdk/typescript/generated/views/ChatViewState.ts
  sdk/typescript/generated/views/ForgeModelView.ts
  sdk/typescript/generated/views/ForgeViewState.ts
  sdk/typescript/generated/views/index.ts
  sdk/typescript/index.ts
  sdk/typescript/package.json
  sdk/typescript/scripts/vendor-views.mjs
Labels: tests, dependencies

docs(sdk): update vendored-views barrel header for foundry + the automated script (review #1762)
  sdk/typescript/generated/views/index.ts
Labels: none

feat(sdk): #80 — automate view-payload vendoring (kill the silent drift) (#1762)
  apps/tui/src/renderChat.spec.ts
  package.json
  packages/chat-view/patternProjections.spec.ts
  sdk/typescript/generated/views/ChatViewState.ts
  sdk/typescript/generated/views/ForgeModelView.ts
  sdk/typescript/generated/views/ForgeViewState.ts
  sdk/typescript/generated/views/index.ts
  sdk/typescript/index.ts
  sdk/typescript/package.json
  sdk/typescript/scripts/vendor-views.mjs
Labels: tests, dependencies

feat(foundry-view): client foundry projection onto the pattern primitives (outlier B, client half)
  package-lock.json
  package.json
  packages/foundry-view/ForgeState.ts
  packages/foundry-view/index.ts
  packages/foundry-view/package.json
  packages/foundry-view/patternProjections.spec.ts
  packages/foundry-view/patternProjections.ts
  packages/foundry-view/tsconfig.json
Labels: tests, dependencies

chore(foundry-view): fix tsconfig name + drop redundant body cast (review #1763)
  packages/foundry-view/patternProjections.spec.ts
  packages/foundry-view/tsconfig.json
Labels: tests

feat(foundry-view): client foundry projection onto the pattern primitives (outlier B, client half) (#1763)
  package-lock.json
  package.json
  packages/foundry-view/ForgeState.ts
  packages/foundry-view/index.ts
  packages/foundry-view/package.json
  packages/foundry-view/patternProjections.spec.ts
  packages/foundry-view/patternProjections.ts
  packages/foundry-view/tsconfig.json
Labels: tests, dependencies

docs(planning): fresh-pass plan for the live three-panel interface
  docs/planning/LIVE-INTERFACE-BUILD-PLAN.md
Labels: documentation

docs(planning): fresh-pass plan for the live three-panel interface (#1764)
  docs/planning/LIVE-INTERFACE-BUILD-PLAN.md
Labels: documentation

docs(design): R1 interface port map — old three-panel look → primitives + tokens
  docs/design/INTERFACE-PORT-MAP.md
Labels: documentation

docs(design): R1 interface port map — old three-panel look → primitives + tokens (#1765)
  docs/design/INTERFACE-PORT-MAP.md
Labels: documentation

feat(web): P3 — dispatch the center panel by room purpose (foundry-ready)
  apps/web/src/chat/renderChat.ts
  apps/web/src/content/registry.ts
  apps/web/src/render/parts.ts
Labels: none

fix(web): visible render errors + additive-purpose default (review #1766)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  packages/chat-view/chatViewModel.ts
Labels: none

feat(web): P3 — dispatch the center panel by room purpose (foundry-ready) (#1766)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  apps/web/src/content/registry.ts
  apps/web/src/render/parts.ts
  packages/chat-view/chatViewModel.ts
Labels: none

feat(web): P4 — richer member cards toward the old persona-tile (screenshot-verified)
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(web): P4 — richer member cards toward the old persona-tile (screenshot-verified) (#1767)
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(web): breathing "cognition" glow on live agents (sci-fi alive signal)
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(web): breathing "cognition" glow on live agents (sci-fi alive signal) (#1768)
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(positron+web): roster vitals — neutral wire field + live sci-fi meters (part A)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/render/parts.ts
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/patternProjections.spec.ts
  protocol/typescript/positron/RosterSlotView.ts
  sdk/typescript/generated/views/RosterSlotView.ts
Labels: tests

test(web): assert the vitals meter renders (review #1769 finding #1)
  apps/web/src/chat/renderChat.spec.ts
Labels: tests

feat(positron+web): roster vitals — neutral wire field + live sci-fi meters (part A) (#1769)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/render/parts.ts
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/patternProjections.spec.ts
  protocol/typescript/positron/RosterSlotView.ts
  sdk/typescript/generated/views/RosterSlotView.ts
Labels: tests

feat(positron): fold persona:vitals into the roster (design B, projection half)
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

docs+test(positron): fix design-B doc drift + cover switch_room vitals clear (review #1770)
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

feat(positron): fold persona:vitals into the roster (design B, projection half) (#1770)
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

feat(core): persona-vitals radiator — the meters breathe (design B emit half, LIVE)
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
Labels: none

harden(vitals): catch_unwind the radiator tick + note resync asymmetry + mod order (review #1771)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
Labels: none

feat(core): persona-vitals radiator — the meters breathe (design B emit half, LIVE) (#1771)
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
Labels: none

feat(web): foundry Content renderer + the first generic positron component (listingCell)
  apps/web/package.json
  apps/web/src/content/registry.spec.ts
  apps/web/src/content/registry.ts
  apps/web/src/render/parts.ts
  package-lock.json
  packages/foundry-view/index.ts
  packages/foundry-view/patternProjections.ts
Labels: tests, dependencies

docs(positron): the full-dive design — one interface, every citizen, no one left out
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

feat(web): foundry Content renderer + first generic positron component (listingCell) (#1772)
  apps/web/package.json
  apps/web/src/content/registry.spec.ts
  apps/web/src/content/registry.ts
  apps/web/src/render/parts.ts
  docs/design/POSITRON-EVERY-CITIZEN.md
  package-lock.json
  packages/foundry-view/index.ts
  packages/foundry-view/patternProjections.ts
Labels: documentation, tests, dependencies

docs(positron): the clever core — the Surface (presence+operation as one stream)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation
