Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(phase3a): Add tool-aware system prompts for autonomous tool discovery
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/collaboration/MEMORY-TASK-PIN-HARMONY.md
  src/debug/jtag/docs/collaboration/PIN-AND-TASK-SYSTEMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/config/DatabaseConfig.ts
  src/debug/jtag/system/data/entities/PinnedItemEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolRegistry.ts
  src/debug/jtag/tests/integration/persona-tool-calling.test.ts
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation, tests, dependencies

feat(phase3a): Add tool-aware system prompts for autonomous tool discovery
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/collaboration/MEMORY-TASK-PIN-HARMONY.md
  src/debug/jtag/docs/collaboration/PIN-AND-TASK-SYSTEMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/config/DatabaseConfig.ts
  src/debug/jtag/system/data/entities/PinnedItemEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolRegistry.ts
  src/debug/jtag/tests/integration/persona-tool-calling.test.ts
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation, tests, dependencies

feat(phase3b): Implement working memory with lean RAG context
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/phases/PHASE3B-WORKING-MEMORY-PLAN.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
Labels: documentation, dependencies

feat(phase3b): Implement working memory with lean RAG context
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/phases/PHASE3B-WORKING-MEMORY-PLAN.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
Labels: documentation, dependencies

feat: Dynamic tool discovery system for AI personas
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/phases/PHASE3C-MODEL-TIER-PERMISSIONS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation, dependencies

feat: Dynamic tool discovery system for AI personas
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/phases/PHASE3C-MODEL-TIER-PERMISSIONS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation, dependencies

feat: Comprehensive media flow verification and logging
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: none

feat: Comprehensive media flow verification and logging
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: none

fix: Remove metadata pollution from tool results
  src/debug/jtag/docs/MILESTONE-AUTONOMOUS-VISUAL-DEBUGGING.md
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation

fix: Remove metadata pollution from tool results
  src/debug/jtag/docs/MILESTONE-AUTONOMOUS-VISUAL-DEBUGGING.md
  src/debug/jtag/tools/server/ToolRegistry.ts
Labels: documentation

genome architecture for UI-UX use case
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/architecture/LORA-GENOME-PHENOTYPES.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

genome architecture for UI-UX use case
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/architecture/LORA-GENOME-PHENOTYPES.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

some agents like grok and deepseek can see jtag sent images
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/commands/chat/send/shared/ChatSendTypes.ts
  src/debug/jtag/commands/file/mime-type/browser/FileMimeTypeBrowserCommand.ts
  src/debug/jtag/commands/file/mime-type/server/FileMimeTypeServerCommand.ts
  src/debug/jtag/commands/file/mime-type/shared/FileMimeTypeCommand.ts
  src/debug/jtag/commands/file/mime-type/shared/FileMimeTypeTypes.ts
  src/debug/jtag/commands/file/shared/FileCommandConstants.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/docs/CLI-ARRAY-PARAMETERS.md
  src/debug/jtag/docs/VISION-MEDIA-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  test-images/image-1.webp
  test-images/image-2.avif
  test-images/image-3.jpg
  test-images/image-4.jpg
  test-images/image-5.jpg
  test-images/image-6.png
  test-images/image-7.jpg
  test-images/image-8.webp
Labels: documentation, dependencies

some agents like grok and deepseek can see jtag sent images
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/commands/chat/send/shared/ChatSendTypes.ts
  src/debug/jtag/commands/file/mime-type/browser/FileMimeTypeBrowserCommand.ts
  src/debug/jtag/commands/file/mime-type/server/FileMimeTypeServerCommand.ts
  src/debug/jtag/commands/file/mime-type/shared/FileMimeTypeCommand.ts
  src/debug/jtag/commands/file/mime-type/shared/FileMimeTypeTypes.ts
  src/debug/jtag/commands/file/shared/FileCommandConstants.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/docs/CLI-ARRAY-PARAMETERS.md
  src/debug/jtag/docs/VISION-MEDIA-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  test-images/image-1.webp
  test-images/image-2.avif
  test-images/image-3.jpg
  test-images/image-4.jpg
  test-images/image-5.jpg
  test-images/image-6.png
  test-images/image-7.jpg
  test-images/image-8.webp
Labels: documentation, dependencies

decent image working
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/docs/DESIGN-PRINCIPLE-NATURAL-IDIOMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/test-cli-arrays.sh
Labels: documentation, dependencies

decent image working
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/docs/DESIGN-PRINCIPLE-NATURAL-IDIOMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/test-cli-arrays.sh
Labels: documentation, dependencies

fSociety
  README.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/architecture/MEDIA-FORMAT-CONVERSION-ARCHITECTURE.md
  src/debug/jtag/docs/architecture/VISION-MEDIA-ARCHITECTURE.md
  src/debug/jtag/docs/design/interfaces/CLI-ARRAY-PARAMETERS.md
  src/debug/jtag/docs/design/principles/DESIGN-PRINCIPLE-NATURAL-IDIOMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  ƒSociety.md
Labels: documentation, dependencies

fSociety
  README.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/architecture/MEDIA-FORMAT-CONVERSION-ARCHITECTURE.md
  src/debug/jtag/docs/architecture/VISION-MEDIA-ARCHITECTURE.md
  src/debug/jtag/docs/design/interfaces/CLI-ARRAY-PARAMETERS.md
  src/debug/jtag/docs/design/principles/DESIGN-PRINCIPLE-NATURAL-IDIOMS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  ƒSociety.md
Labels: documentation, dependencies

chat analysis commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/analyze/browser/ChatAnalyzeBrowserCommand.ts
  src/debug/jtag/commands/chat/analyze/server/ChatAnalyzeServerCommand.ts
  src/debug/jtag/commands/chat/analyze/shared/ChatAnalyzeCommand.ts
  src/debug/jtag/commands/chat/analyze/shared/ChatAnalyzeTypes.ts
  src/debug/jtag/docs/COMMAND-ARCHITECTURE-AUDIT.md
  src/debug/jtag/docs/COMMAND-VIOLATIONS-AUDIT.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

chat analysis commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/analyze/browser/ChatAnalyzeBrowserCommand.ts
  src/debug/jtag/commands/chat/analyze/server/ChatAnalyzeServerCommand.ts
  src/debug/jtag/commands/chat/analyze/shared/ChatAnalyzeCommand.ts
  src/debug/jtag/commands/chat/analyze/shared/ChatAnalyzeTypes.ts
  src/debug/jtag/docs/COMMAND-ARCHITECTURE-AUDIT.md
  src/debug/jtag/docs/COMMAND-VIOLATIONS-AUDIT.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

refactor(commands): Eliminate DataDaemon violations in chat commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/chat/poll/browser/ChatPollBrowserCommand.ts
  src/debug/jtag/commands/chat/poll/server/ChatPollServerCommand.ts
  src/debug/jtag/commands/chat/poll/shared/ChatPollCommand.ts
  src/debug/jtag/commands/chat/poll/shared/ChatPollTypes.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/docs/COMMAND-VIOLATIONS-AUDIT.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

refactor(commands): Eliminate DataDaemon violations in chat commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/chat/poll/browser/ChatPollBrowserCommand.ts
  src/debug/jtag/commands/chat/poll/server/ChatPollServerCommand.ts
  src/debug/jtag/commands/chat/poll/shared/ChatPollCommand.ts
  src/debug/jtag/commands/chat/poll/shared/ChatPollTypes.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/docs/COMMAND-VIOLATIONS-AUDIT.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

bug: ai response data was turning into chats
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

feat(chat): Add autoBookmark parameter to chat/export
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/chat/export/shared/ChatExportTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

feat(chat): Add smart defaults for autoBookmark in chat/export
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

hal 9000 continuon
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/CONTINUUM-EMOTIONAL-FEEDBACK.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

feat(continuum): Add continuum/set command for emotional feedback widget
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/continuum/set/browser/ContinuumSetBrowserCommand.ts
  src/debug/jtag/commands/continuum/set/server/ContinuumSetServerCommand.ts
  src/debug/jtag/commands/continuum/set/shared/ContinuumSetCommand.ts
  src/debug/jtag/commands/continuum/set/shared/ContinuumSetTypes.ts
  src/debug/jtag/commands/continuum/set/test-continuum-e2e.sh
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: none

hal 9000 continuon
  src/debug/jtag/docs/CONTINUUM-EMOTIONAL-FEEDBACK.md
Labels: documentation

feat(continuum): Add continuum/set command for emotional feedback widget
  src/debug/jtag/shared/version.ts
Labels: none

gen code
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

feat(continuum): Cherry-picked emoter widget integration
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/continuum/set/browser/ContinuumSetBrowserCommand.ts
  src/debug/jtag/commands/continuum/set/server/ContinuumSetServerCommand.ts
  src/debug/jtag/commands/continuum/set/shared/ContinuumSetTypes.ts
  src/debug/jtag/examples/widget-ui/public/demo.html
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/widgets/continuum-emoter/ContinuumEmoterWidget.ts
  src/debug/jtag/widgets/continuum-emoter/public/continuum-emoter.css
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
Labels: dependencies

emoter working ok
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/browser/ConnectionMonitor.ts
  src/debug/jtag/system/core/client/browser/FaviconManager.ts
  src/debug/jtag/system/core/client/browser/JTAGClientBrowser.ts
Labels: dependencies

tabs and buttons
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/content-tabs/ContentTabsWidget.ts
  src/debug/jtag/widgets/header-controls/HeaderControlsWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/public/main-panel.html
Labels: dependencies

tab content idea
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/content-tabs/ContentTabsWidget.ts
  src/debug/jtag/widgets/header-controls/HeaderControlsWidget.ts
Labels: dependencies

sql stuff
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteQueryBuilder.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteRawExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteTransactionManager.ts
  src/debug/jtag/daemons/data-daemon/shared/SqlNamingConverter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

sql refactoring plan
  src/debug/jtag/docs/plans/README.md
  src/debug/jtag/docs/plans/SQLITE-ADAPTER-REFACTORING-PLAN.md
Labels: documentation

simplified strategy
  src/debug/jtag/docs/plans/SQLITE-ADAPTER-REFACTORING-PLAN.md
Labels: documentation

refactor(data): Extract SqliteSchemaManager from SqliteStorageAdapter (Phase 0)
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/docs/plans/SQLITE-ADAPTER-REFACTORING-PLAN.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

refactor(data): Extract SqliteWriteManager from SqliteStorageAdapter (Phase 0)
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

vector storage extraction
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
