Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

npm test works better
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.info.json
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.log
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.log.json
  .continuum/sessions/validation/run_82fb17a43e2f/logs/server.log
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/body-test.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/content-test.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/screenshot-1756149098957.png
  .continuum/sessions/validation/run_82fb17a43e2f/session-info.json
  src/debug/jtag/TIMEOUT-ANALYSIS.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1114.tgz
  src/debug/jtag/continuum-jtag-1.0.1119.tgz
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-orchestrator.ts
  src/debug/jtag/scripts/test-runner.ts
  src/debug/jtag/scripts/wait-for-tmux-ready.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/lifecycle/ServerLifecycleManager.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

npm test works better
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.info.json
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.log
  .continuum/sessions/validation/run_82fb17a43e2f/logs/browser.log.json
  .continuum/sessions/validation/run_82fb17a43e2f/logs/server.log
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/body-test.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/content-test.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_82fb17a43e2f/screenshots/screenshot-1756149098957.png
  .continuum/sessions/validation/run_82fb17a43e2f/session-info.json
  src/debug/jtag/TIMEOUT-ANALYSIS.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1114.tgz
  src/debug/jtag/continuum-jtag-1.0.1119.tgz
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-orchestrator.ts
  src/debug/jtag/scripts/test-runner.ts
  src/debug/jtag/scripts/wait-for-tmux-ready.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/lifecycle/ServerLifecycleManager.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

may need to revert. 1 test failing still
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.info.json
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.log
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.log.json
  .continuum/sessions/validation/run_a71476dc17c5/logs/server.log
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/body-test.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/content-test.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/screenshot-1756166085579.png
  .continuum/sessions/validation/run_a71476dc17c5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/test-system-start.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

may need to revert. 1 test failing still
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.info.json
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.log
  .continuum/sessions/validation/run_a71476dc17c5/logs/browser.log.json
  .continuum/sessions/validation/run_a71476dc17c5/logs/server.log
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/body-test.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/content-test.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a71476dc17c5/screenshots/screenshot-1756166085579.png
  .continuum/sessions/validation/run_a71476dc17c5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/test-system-start.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

process.env.JTAG_WEBSOCKET_PORT process.env.JTAG_EXAMPLE_WEBSOCKET_PORT
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.info.json
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.log
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.log.json
  .continuum/sessions/validation/run_e435f8a6487f/logs/server.log
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/body-test.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/content-test.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/screenshot-1756172714493.png
  .continuum/sessions/validation/run_e435f8a6487f/session-info.json
  src/debug/jtag/.eslintrc.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1139.tgz
  src/debug/jtag/continuum-jtag-1.0.1143.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/intelligent-test-runner.ts
  src/debug/jtag/scripts/minimal-server-template.ts
  src/debug/jtag/scripts/signaling/server/SystemMetricsCollector.ts
  src/debug/jtag/scripts/signaling/server/SystemReadySignaler.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/config/SystemConfiguration.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/system/shared/ExampleConfig.js
  src/debug/jtag/system/shared/ExampleConfig.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

process.env.JTAG_WEBSOCKET_PORT process.env.JTAG_EXAMPLE_WEBSOCKET_PORT
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.info.json
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.log
  .continuum/sessions/validation/run_e435f8a6487f/logs/browser.log.json
  .continuum/sessions/validation/run_e435f8a6487f/logs/server.log
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/body-test.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/content-test.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e435f8a6487f/screenshots/screenshot-1756172714493.png
  .continuum/sessions/validation/run_e435f8a6487f/session-info.json
  src/debug/jtag/.eslintrc.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1139.tgz
  src/debug/jtag/continuum-jtag-1.0.1143.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/intelligent-test-runner.ts
  src/debug/jtag/scripts/minimal-server-template.ts
  src/debug/jtag/scripts/signaling/server/SystemMetricsCollector.ts
  src/debug/jtag/scripts/signaling/server/SystemReadySignaler.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/config/SystemConfiguration.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/system/shared/ExampleConfig.js
  src/debug/jtag/system/shared/ExampleConfig.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

works again
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.info.json
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.log
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.log.json
  .continuum/sessions/validation/run_c059d2a1fab9/logs/server.log
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/body-test.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/content-test.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/screenshot-1756244577451.png
  .continuum/sessions/validation/run_c059d2a1fab9/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1143.tgz
  src/debug/jtag/continuum-jtag-1.0.1148.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/signaling/server/SystemMetricsCollector.ts
  src/debug/jtag/scripts/system-startup.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/PromiseCorrelator.ts
  src/debug/jtag/system/core/router/shared/queuing/JTAGMessageQueue.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/tests/system-ready-signaler-integration.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

works again
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.info.json
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.log
  .continuum/sessions/validation/run_c059d2a1fab9/logs/browser.log.json
  .continuum/sessions/validation/run_c059d2a1fab9/logs/server.log
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/body-test.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/content-test.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_c059d2a1fab9/screenshots/screenshot-1756244577451.png
  .continuum/sessions/validation/run_c059d2a1fab9/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1143.tgz
  src/debug/jtag/continuum-jtag-1.0.1148.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/signaling/server/SystemMetricsCollector.ts
  src/debug/jtag/scripts/system-startup.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/PromiseCorrelator.ts
  src/debug/jtag/system/core/router/shared/queuing/JTAGMessageQueue.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/tests/system-ready-signaler-integration.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

npm test with coordinator
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.info.json
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.log
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.log.json
  .continuum/sessions/validation/run_592f00537ba9/logs/server.log
  .continuum/sessions/validation/run_592f00537ba9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/body-test.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/content-test.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/screenshot-1756246631174.png
  .continuum/sessions/validation/run_592f00537ba9/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1148.tgz
  src/debug/jtag/continuum-jtag-1.0.1149.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/jtag
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/server-only-startup.ts
  src/debug/jtag/scripts/system-startup.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/system-ready-signaler-integration.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

npm test with coordinator
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.info.json
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.log
  .continuum/sessions/validation/run_592f00537ba9/logs/browser.log.json
  .continuum/sessions/validation/run_592f00537ba9/logs/server.log
  .continuum/sessions/validation/run_592f00537ba9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/body-test.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/content-test.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_592f00537ba9/screenshots/screenshot-1756246631174.png
  .continuum/sessions/validation/run_592f00537ba9/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1148.tgz
  src/debug/jtag/continuum-jtag-1.0.1149.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/jtag
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/server-only-startup.ts
  src/debug/jtag/scripts/system-startup.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/system-ready-signaler-integration.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

got rid of a lot if spam
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.info.json
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.log
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.log.json
  .continuum/sessions/validation/run_eed089e8c16c/logs/server.log
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/body-test.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/content-test.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/screenshot-1756249990821.png
  .continuum/sessions/validation/run_eed089e8c16c/session-info.json
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1149.tgz
  src/debug/jtag/continuum-jtag-1.0.1151.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterDynamic.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

got rid of a lot if spam
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.info.json
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.log
  .continuum/sessions/validation/run_eed089e8c16c/logs/browser.log.json
  .continuum/sessions/validation/run_eed089e8c16c/logs/server.log
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/body-test.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/content-test.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_eed089e8c16c/screenshots/screenshot-1756249990821.png
  .continuum/sessions/validation/run_eed089e8c16c/session-info.json
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1149.tgz
  src/debug/jtag/continuum-jtag-1.0.1151.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterDynamic.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

each session gets own logs
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.info.json
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.log
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.log.json
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/server.log
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/body-test.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/content-test.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/screenshot-1756256416813.png
  .continuum/sessions/validation/run_1a8a2f3088d1/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/session/destroy/browser/SessionDestroyBrowserCommand.ts
  src/debug/jtag/commands/session/destroy/client/SessionDestroyClientCommand.ts
  src/debug/jtag/commands/session/destroy/server/SessionDestroyServerCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1151.tgz
  src/debug/jtag/continuum-jtag-1.0.1156.tgz
  src/debug/jtag/daemons/session-daemon/SECURITY_MODEL.md
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/daemons/session-daemon/shared/SessionTypes.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

each session gets own logs
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.info.json
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.log
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/browser.log.json
  .continuum/sessions/validation/run_1a8a2f3088d1/logs/server.log
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/body-test.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/content-test.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1a8a2f3088d1/screenshots/screenshot-1756256416813.png
  .continuum/sessions/validation/run_1a8a2f3088d1/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/session/destroy/browser/SessionDestroyBrowserCommand.ts
  src/debug/jtag/commands/session/destroy/client/SessionDestroyClientCommand.ts
  src/debug/jtag/commands/session/destroy/server/SessionDestroyServerCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1151.tgz
  src/debug/jtag/continuum-jtag-1.0.1156.tgz
  src/debug/jtag/daemons/session-daemon/SECURITY_MODEL.md
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/daemons/session-daemon/shared/SessionTypes.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

more tests yay
  .continuum/sessions/validation/run_14640acfc990/logs/browser.info.json
  .continuum/sessions/validation/run_14640acfc990/logs/browser.log
  .continuum/sessions/validation/run_14640acfc990/logs/browser.log.json
  .continuum/sessions/validation/run_14640acfc990/logs/server.log
  .continuum/sessions/validation/run_14640acfc990/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/body-test.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/content-test.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/screenshot-1756263491520.png
  .continuum/sessions/validation/run_14640acfc990/session-info.json
  src/debug/jtag/TEST_REPORTING.md
  src/debug/jtag/package.json
  src/debug/jtag/scripts/generate-test-report.ts
  src/debug/jtag/scripts/test-results/IntegrateMarkdownReporting.ts
  src/debug/jtag/scripts/test-results/TestResultsMarkdownGenerator.ts
  src/debug/jtag/scripts/test-with-server.ts
Labels: documentation, dependencies

more tests yay
  .continuum/sessions/validation/run_14640acfc990/logs/browser.info.json
  .continuum/sessions/validation/run_14640acfc990/logs/browser.log
  .continuum/sessions/validation/run_14640acfc990/logs/browser.log.json
  .continuum/sessions/validation/run_14640acfc990/logs/server.log
  .continuum/sessions/validation/run_14640acfc990/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/body-test.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/content-test.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_14640acfc990/screenshots/screenshot-1756263491520.png
  .continuum/sessions/validation/run_14640acfc990/session-info.json
  src/debug/jtag/TEST_REPORTING.md
  src/debug/jtag/package.json
  src/debug/jtag/scripts/generate-test-report.ts
  src/debug/jtag/scripts/test-results/IntegrateMarkdownReporting.ts
  src/debug/jtag/scripts/test-results/TestResultsMarkdownGenerator.ts
  src/debug/jtag/scripts/test-with-server.ts
Labels: documentation, dependencies

instructions to claude
  CLAUDE.md
Labels: documentation

instructions to claude
  CLAUDE.md
Labels: documentation

removed some hard codings
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.info.json
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.log
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.log.json
  .continuum/sessions/validation/run_10b13a4d17df/logs/server.log
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/body-test.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/content-test.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/screenshot-1756324056825.png
  .continuum/sessions/validation/run_10b13a4d17df/session-info.json
  src/debug/jtag/README.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1160.tgz
  src/debug/jtag/continuum-jtag-1.0.1163.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-and-capture.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

removed some hard codings
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.info.json
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.log
  .continuum/sessions/validation/run_10b13a4d17df/logs/browser.log.json
  .continuum/sessions/validation/run_10b13a4d17df/logs/server.log
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/body-test.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/content-test.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_10b13a4d17df/screenshots/screenshot-1756324056825.png
  .continuum/sessions/validation/run_10b13a4d17df/session-info.json
  src/debug/jtag/README.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1160.tgz
  src/debug/jtag/continuum-jtag-1.0.1163.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-and-capture.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

fixed screenshot capture
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.info.json
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.log
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.log.json
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/server.log
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/body-test.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/content-test.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/screenshot-1756327022471.png
  .continuum/sessions/validation/run_99b0ab66bfe9/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/commands/screenshot/test/unit/CoordinateCalculation.test.ts
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/commands/screenshot/test/validation/SimpleCoordinateValidator.ts
  src/debug/jtag/continuum-jtag-1.0.1163.tgz
  src/debug/jtag/continuum-jtag-1.0.1165.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

fixed screenshot capture
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.info.json
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.log
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/browser.log.json
  .continuum/sessions/validation/run_99b0ab66bfe9/logs/server.log
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/body-test.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/content-test.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_99b0ab66bfe9/screenshots/screenshot-1756327022471.png
  .continuum/sessions/validation/run_99b0ab66bfe9/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/commands/screenshot/test/unit/CoordinateCalculation.test.ts
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/commands/screenshot/test/validation/SimpleCoordinateValidator.ts
  src/debug/jtag/continuum-jtag-1.0.1163.tgz
  src/debug/jtag/continuum-jtag-1.0.1165.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

valid tests
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.info.json
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.log
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.log.json
  .continuum/sessions/validation/run_eb21304f2541/logs/server.log
  .continuum/sessions/validation/run_eb21304f2541/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/body-test.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/content-test.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/screenshot-1756328473564.png
  .continuum/sessions/validation/run_eb21304f2541/session-info.json
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/commands/screenshot/test/validation/SimpleCoordinateValidator.ts
Labels: none

valid tests
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.info.json
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.log
  .continuum/sessions/validation/run_eb21304f2541/logs/browser.log.json
  .continuum/sessions/validation/run_eb21304f2541/logs/server.log
  .continuum/sessions/validation/run_eb21304f2541/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/body-test.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/content-test.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_eb21304f2541/screenshots/screenshot-1756328473564.png
  .continuum/sessions/validation/run_eb21304f2541/session-info.json
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/commands/screenshot/test/validation/SimpleCoordinateValidator.ts
Labels: none

better test organization
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.info.json
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.log
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.log.json
  .continuum/sessions/validation/run_642e5c2c28d8/logs/server.log
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/body-test.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/content-test.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/screenshot-1756332986464.png
  .continuum/sessions/validation/run_642e5c2c28d8/session-info.json
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/scripts/test-with-server.ts
Labels: none

better test organization
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.info.json
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.log
  .continuum/sessions/validation/run_642e5c2c28d8/logs/browser.log.json
  .continuum/sessions/validation/run_642e5c2c28d8/logs/server.log
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/body-test.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/content-test.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_642e5c2c28d8/screenshots/screenshot-1756332986464.png
  .continuum/sessions/validation/run_642e5c2c28d8/session-info.json
  src/debug/jtag/commands/screenshot/test/validation/ScreenshotCoordinateValidator.ts
  src/debug/jtag/scripts/test-with-server.ts
Labels: none

pass in context, still runs
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.info.json
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.log
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.log.json
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/server.log
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/body-test.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/content-test.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/screenshot-1756402511547.png
  .continuum/sessions/validation/run_1bffd70c8cf7/session-info.json
  CLAUDE.md
  src/debug/jtag/agents/ai-dashboard.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1166.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/system/channels/shared/TransportConfig.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterTypes.ts
  src/debug/jtag/system/shared/BrowserSafeConfig.ts
  src/debug/jtag/system/transports/http-transport/shared/HTTPTransport.ts
  src/debug/jtag/system/transports/shared/TransportConfig.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

pass in context, still runs
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.info.json
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.log
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/browser.log.json
  .continuum/sessions/validation/run_1bffd70c8cf7/logs/server.log
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/body-test.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/content-test.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1bffd70c8cf7/screenshots/screenshot-1756402511547.png
  .continuum/sessions/validation/run_1bffd70c8cf7/session-info.json
  CLAUDE.md
  src/debug/jtag/agents/ai-dashboard.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/continuum-jtag-1.0.1166.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/system/channels/shared/TransportConfig.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterTypes.ts
  src/debug/jtag/system/shared/BrowserSafeConfig.ts
  src/debug/jtag/system/transports/http-transport/shared/HTTPTransport.ts
  src/debug/jtag/system/transports/shared/TransportConfig.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

passing
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.info.json
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.log
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.log.json
  .continuum/sessions/validation/run_6a998e1e9196/logs/server.log
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/body-test.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/content-test.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/screenshot-1756406733235.png
  .continuum/sessions/validation/run_6a998e1e9196/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/test-with-server.ts
Labels: none

passing
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.info.json
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.log
  .continuum/sessions/validation/run_6a998e1e9196/logs/browser.log.json
  .continuum/sessions/validation/run_6a998e1e9196/logs/server.log
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/body-test.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/content-test.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6a998e1e9196/screenshots/screenshot-1756406733235.png
  .continuum/sessions/validation/run_6a998e1e9196/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/test-with-server.ts
Labels: none

still works
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.info.json
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.log
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.log.json
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/server.log
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/body-test.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/content-test.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/screenshot-1756407563089.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/session-info.json
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/system/core/router/shared/ExternalClientDetector.ts
Labels: none

still works
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.info.json
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.log
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/browser.log.json
  .continuum/sessions/validation/run_4d5e6a3b20fc/logs/server.log
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/body-test.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/content-test.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/screenshots/screenshot-1756407563089.png
  .continuum/sessions/validation/run_4d5e6a3b20fc/session-info.json
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/system/core/router/shared/ExternalClientDetector.ts
Labels: none

less logs
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.info.json
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.log
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.log.json
  .continuum/sessions/validation/run_92ffd2330385/logs/server.log
  .continuum/sessions/validation/run_92ffd2330385/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/body-test.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/content-test.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/screenshot-1756408412973.png
  .continuum/sessions/validation/run_92ffd2330385/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/exec/server/ExecServerCommand.ts
  src/debug/jtag/commands/process-registry/server/ProcessRegistryServerCommand.ts
  src/debug/jtag/commands/screenshot/server/ScreenshotServerCommand.ts
  src/debug/jtag/commands/session/create/server/SessionCreateServerCommand.ts
  src/debug/jtag/commands/session/create/shared/SessionCreateCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyCommand.ts
  src/debug/jtag/daemons/command-daemon/shared/CommandBase.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
Labels: none

less logs
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.info.json
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.log
  .continuum/sessions/validation/run_92ffd2330385/logs/browser.log.json
  .continuum/sessions/validation/run_92ffd2330385/logs/server.log
  .continuum/sessions/validation/run_92ffd2330385/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/body-test.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/content-test.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_92ffd2330385/screenshots/screenshot-1756408412973.png
  .continuum/sessions/validation/run_92ffd2330385/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/exec/server/ExecServerCommand.ts
  src/debug/jtag/commands/process-registry/server/ProcessRegistryServerCommand.ts
  src/debug/jtag/commands/screenshot/server/ScreenshotServerCommand.ts
  src/debug/jtag/commands/session/create/server/SessionCreateServerCommand.ts
  src/debug/jtag/commands/session/create/shared/SessionCreateCommand.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyCommand.ts
  src/debug/jtag/daemons/command-daemon/shared/CommandBase.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
Labels: none

turn off a ton of log pollution
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.info.json
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.log
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.log.json
  .continuum/sessions/validation/run_5b7533d46bf7/logs/server.log
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/body-test.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/content-test.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/screenshot-1756409182976.png
  .continuum/sessions/validation/run_5b7533d46bf7/session-info.json
  src/debug/jtag/commands/exec/shared/ExecCommand.ts
  src/debug/jtag/commands/screenshot/browser/ScreenshotBrowserCommand.ts
  src/debug/jtag/commands/session/destroy/server/SessionDestroyServerCommand.ts
  src/debug/jtag/commands/test/routing-chaos/browser/RoutingChaosBrowserCommand.ts
  src/debug/jtag/commands/test/routing-chaos/server/RoutingChaosServerCommand.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
Labels: none

turn off a ton of log pollution
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.info.json
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.log
  .continuum/sessions/validation/run_5b7533d46bf7/logs/browser.log.json
  .continuum/sessions/validation/run_5b7533d46bf7/logs/server.log
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/body-test.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/content-test.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5b7533d46bf7/screenshots/screenshot-1756409182976.png
  .continuum/sessions/validation/run_5b7533d46bf7/session-info.json
  src/debug/jtag/commands/exec/shared/ExecCommand.ts
  src/debug/jtag/commands/screenshot/browser/ScreenshotBrowserCommand.ts
  src/debug/jtag/commands/session/destroy/server/SessionDestroyServerCommand.ts
  src/debug/jtag/commands/test/routing-chaos/browser/RoutingChaosBrowserCommand.ts
  src/debug/jtag/commands/test/routing-chaos/server/RoutingChaosServerCommand.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
Labels: none

response correlator better
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.info.json
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.log
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.log.json
  .continuum/sessions/validation/run_80b2704249cb/logs/server.log
  .continuum/sessions/validation/run_80b2704249cb/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/body-test.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/content-test.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/screenshot-1756410952521.png
  .continuum/sessions/validation/run_80b2704249cb/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: none

response correlator better
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.info.json
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.log
  .continuum/sessions/validation/run_80b2704249cb/logs/browser.log.json
  .continuum/sessions/validation/run_80b2704249cb/logs/server.log
  .continuum/sessions/validation/run_80b2704249cb/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/body-test.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/content-test.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_80b2704249cb/screenshots/screenshot-1756410952521.png
  .continuum/sessions/validation/run_80b2704249cb/session-info.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: none

development action plan
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.info.json
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.log
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.log.json
  .continuum/sessions/validation/run_e76eef792f4d/logs/server.log
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/body-test.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/content-test.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/screenshot-1756416141986.png
  .continuum/sessions/validation/run_e76eef792f4d/session-info.json
  src/debug/jtag/TRANSPORT_ARCHITECTURE_REVISION.md
Labels: documentation

development action plan
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.info.json
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.log
  .continuum/sessions/validation/run_e76eef792f4d/logs/browser.log.json
  .continuum/sessions/validation/run_e76eef792f4d/logs/server.log
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/body-test.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/content-test.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e76eef792f4d/screenshots/screenshot-1756416141986.png
  .continuum/sessions/validation/run_e76eef792f4d/session-info.json
  src/debug/jtag/TRANSPORT_ARCHITECTURE_REVISION.md
Labels: documentation
