Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

docs(infra): PR #891 BigMama e2e validation playbook
  docs/infrastructure/PR891-E2E-VALIDATION.md
Labels: documentation

docker(gpu): override image: to cuda variant; docs: relax Path B sudo assertion
  docker-compose.gpu.yml
  docs/infrastructure/PR891-E2E-VALIDATION.md
Labels: documentation

install: mod_continuum_bin_link — headless-safe bin install (no TTY = no crash)
  install.sh
  src/scripts/lib/install-common.sh
Labels: none

install: layer docker-compose.gpu.yml on GPU hosts (was missing; CPU fallback silent)
  install.sh
Labels: none

docker(ci): stop requiring avatar build-context — src/models/avatars is git-ignored
  .github/workflows/docker-images.yml
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core.Dockerfile
Labels: workflow

ci+docker: CUDA kernel compile needs CUDA_COMPUTE_CAP, all checkouts need submodules
  .github/workflows/docker-images.yml
  docker/continuum-core-cuda.Dockerfile
Labels: workflow

docker(cuda): CUDA_COMPUTE_CAP must be a single value — candle-kernels rejects lists
  docker/continuum-core-cuda.Dockerfile
Labels: none

docker(cuda): add libglib2.0-dev + libasound2-dev + libva-dev to builder apt
  docker/continuum-core-cuda.Dockerfile
Labels: none

docker(cuda): split planner+builder stages — collapsed pattern produced stub binaries
  docker/continuum-core-cuda.Dockerfile
Labels: none

llama(build): set CMAKE_POSITION_INDEPENDENT_CODE=ON — cuda link needs PIC archives
  src/workers/llama/build.rs
Labels: none

llama(build): disable GGML_CUDA_NCCL — single-GPU deploys don't link libnccl
  src/workers/llama/build.rs
Labels: none

docker(cuda): add libgomp1 to runtime — ggml-cpu OpenMP needs it at startup
  docker/continuum-core-cuda.Dockerfile
Labels: none

install: pre-flight modules + sudo migration to ensure_sudo_warmed (#5)
  src/scripts/install.sh
  src/scripts/lib/install-common.sh
Labels: none

continuum doctor: add post-install reliability checks
  bin/continuum
Labels: none

chore: ignore .airc state dir + capture commit policy update in CLAUDE.md
  .gitignore
  CLAUDE.md
Labels: documentation

test(install-common): smoke suite — 21 tests covering log/module/sudo primitives + module guards
  src/scripts/lib/install-common.test.sh
Labels: none

docs(infra): WSL2 docker guide + install audit + published-images smoke
  docs/infrastructure/INSTALL-AUDIT.md
  docs/infrastructure/PUBLISHED-IMAGES-SMOKE.md
  docs/infrastructure/WSL2-DOCKER-GUIDE.md
Labels: documentation

docs(plan): restore full sensory parity post-docker — un-cheat plan
  docs/infrastructure/RESTORE-FULL-PARITY-PLAN.md
Labels: documentation

llama(vulkan): add Vulkan backend for Carl-on-Mac GPU path
  .github/workflows/docker-images.yml
  docker/continuum-core-vulkan.Dockerfile
  src/workers/continuum-core/Cargo.toml
  src/workers/llama/Cargo.toml
  src/workers/llama/build.rs
Labels: workflow

install(mac): Podman + krunkit bootstrap for Carl-on-Mac GPU path
  docker-compose.mac.yml
  install.sh
Labels: none

llama(vulkan-build): add glslc to builder deps — ggml-vulkan cmake requires it
  docker/continuum-core-vulkan.Dockerfile
Labels: none

scripts(push-image): dev-side build + push to ghcr.io for Docker variants
  scripts/push-image.sh
Labels: none

scripts(slices): test locally before pushing — catch issues at dev, not CI
  scripts/push-image.sh
  scripts/test-slices.sh
Labels: none

scripts(push-image): Phase 0 native cargo test — KNOW before push
  scripts/push-image.sh
Labels: none

docs(accel): ACCELERATION-ARCHITECTURE — never-CPU, Carl + Dev both accelerated
  docs/infrastructure/ACCELERATION-ARCHITECTURE.md
Labels: documentation

llama(vulkan-build): install LunarG Vulkan SDK — bookworm headers too old
  docker/continuum-core-vulkan.Dockerfile
Labels: none

llama(vulkan-build): install Khronos Vulkan-Headers directly — LunarG has no bookworm repo
  docker/continuum-core-vulkan.Dockerfile
Labels: none

ci+compose: PR staging — tag pr-<N>, push from PR events, compose env-var
  .github/workflows/docker-images.yml
  docker-compose.gpu.yml
  docker-compose.mac.yml
  docker-compose.yml
  install.sh
Labels: workflow

build: strip=symbols + lto=thin on release profile — Phase 3a shipsize
  src/workers/Cargo.toml
Labels: none

ci(docker): multi-source cache-from — GHA + registry buildcache
  .github/workflows/docker-images.yml
Labels: workflow

persona(evaluator): remove response_cap hard gate — local models never cap
  src/workers/continuum-core/src/persona/evaluator.rs
Labels: none

ci(docker): concurrency-group to auto-cancel superseded runs on same branch
  .github/workflows/docker-images.yml
Labels: workflow

docs(gap): inference design goal — multi-persona live chat at low latency
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

deps(candle): note upstream merge — graduation TODO when candle cuts a release
  src/workers/Cargo.toml
Labels: none

docs(inference): SD-PORT-PATTERNS — MLX vs Candle reading notes for continuum#897
  docs/inference/SD-PORT-PATTERNS.md
Labels: documentation

docs(inference): SD-PORT-PATTERNS amendments per m5-test review
  docs/inference/SD-PORT-PATTERNS.md
Labels: documentation

docs(inference): MLX backend planning doc (#896)
  docs/inference/MLX-BACKEND.md
Labels: documentation

scripts(heartbeat): full-stack end-to-end validator — the integration gate
  scripts/test-heartbeat.sh
Labels: none

feat(inference): phase A — MLX adapter scaffold + `mlx` feature flag (refs #897)
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/inference/backends/mlx_adapter.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
Labels: none

mac(pivot): continuum-core NATIVE on Mac, Docker Model Runner for LLM
  docker-compose.mac.yml
  docker-compose.yml
  install.sh
  scripts/test-heartbeat.sh
Labels: none
