Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

chore(deploy): delete track-canary.sh; the actuator is the one deploy owner and retires a leftover tracker (card 22d06209)
  .github/workflows/promote-main.yml
  core/continuum-core/src/modules/deploy_actuator.rs
  tools/scripts/start-server.sh
  tools/scripts/tests/start-server-build-only.test.sh
  tools/scripts/track-canary.sh
Labels: workflow

Plan measured two-persona embodied call acceptance
  docs/planning/TWO-PERSONA-EMBODIED-CALL-PROOF.md
Labels: documentation

fix(deploy): the consumer holds the deploy claim from before the checkout through the CI wait (Fable's #4702 review)
  core/continuum-core/src/bin/continuum.rs
Labels: none

Preserve unpublished card work during reclaim and placement (#4700)
  core/continuum-core/src/modules/card_staging.rs
  core/continuum-core/src/persona/workspace_transfer.rs
  docs/architecture/ACTIVITY-RECONCILER.md
  docs/testing/KIMI-WORKSPACE-CONTINUITY.md
Labels: documentation

Make call proof rerunnable and independent of project review
  docs/planning/TWO-PERSONA-EMBODIED-CALL-PROOF.md
Labels: documentation

fix(deploy): the Unix tracker unload has its own timeout (TASK_RUN_TIMEOUT is Windows-only)
  core/continuum-core/src/modules/deploy_actuator.rs
Labels: none

fix(voice): no cloud voice. Edge-TTS is removed; Kokoro is the local floor; macOS binaries stop linking Homebrew openssl (card ab567967) (#4698)
  .github/workflows/core-binaries.yml
  Cargo.lock
  Cargo.toml
  core/continuum-core/Cargo.toml
  core/continuum-core/src/live/audio/buffer.rs
  core/continuum-core/src/live/audio/tts/edge.rs
  core/continuum-core/src/live/audio/tts/mod.rs
  core/continuum-core/src/live/avatar/gender.rs
Labels: workflow

feat(deploy): the consumer deploys the core CI built instead of compiling it (card 50ca737e) (#4702)
  .github/workflows/core-binaries.yml
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/system_resources/disk_eviction.rs
  core/continuum-core/src/system_resources/disk_reporters.rs
Labels: workflow

docs: preserve cognition bases in hearing gene proof
  docs/planning/TWO-PERSONA-EMBODIED-CALL-PROOF.md
Labels: documentation

fix(airc): bump the airc pin to 7499136 so a core holds one daemon socket per persona, not one per room
  Cargo.lock
  Cargo.toml
Labels: none

fix(airc): bump the airc pin to 7499136 so a core holds one daemon socket per persona, not one per room (#4705)
  Cargo.lock
  Cargo.toml
Labels: none

fix(deploy): core-binaries is an artifact publisher, never the tip's verdict
  core/continuum-core/src/modules/deploy_tracker.rs
Labels: none

fix(promote-main): core-binaries is excluded from the promote verdict too (Cormac on #4706)
  .github/workflows/promote-main.yml
Labels: workflow

fix(deploy): core-binaries is an artifact publisher, never the tip's verdict (#4706)
  .github/workflows/promote-main.yml
  core/continuum-core/src/modules/deploy_tracker.rs
Labels: workflow

WIP: preserve native streaming repairs and Kimi recovery handoff
  Cargo.lock
  core/continuum-core/src/inference/backends/generated_text.rs
  core/continuum-core/src/inference/backends/llamacpp.rs
  core/continuum-core/src/inference/backends/llamacpp_scheduler.rs
  core/continuum-core/src/inference/backends/mod.rs
  core/continuum-core/src/inference/llamacpp_adapter.rs
  core/continuum-core/src/inference/mod.rs
  core/continuum-core/src/inference/request_body.rs
  core/continuum-core/src/inference/sse_stream.rs
  core/continuum-core/src/inference/tool_stream.rs
  core/continuum-core/src/modules/card_staging.rs
  core/continuum-core/src/persona/workspace_transfer.rs
  core/llama/Cargo.toml
  core/llama/build.rs
  core/llama/src/lib.rs
  core/llama/src/prepared_chat.cpp
  core/llama/src/prepared_chat.h
  core/llama/src/prepared_chat.rs
  core/llama/src/safe.rs
  docs/architecture/ACTIVITY-RECONCILER.md
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/planning/handoffs/20261004-astra/HANDOFF.md
  docs/planning/handoffs/20261004-astra/KIMI-RECOVERY-OBSERVATION.md
  docs/planning/handoffs/20261004-astra/vendor-native-wip.patch.base64
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(voice): pocket-tts is an optional feature, off by default, so the default build no longer pulls intel-mkl-src (supersedes #4665's fork pin)
  core/continuum-core/Cargo.toml
  core/continuum-core/src/live/audio/tts/mod.rs
Labels: none

docs: AGENTS.md carries Joel's 2026-10-02 guidance
  AGENTS.md
Labels: documentation

fix(deploy): one CUDA tree on PATH again — every 5090 deploy refused "CUDA MAJOR MISMATCH" since #4653
  core/continuum-core/src/bin/continuum.rs
  tools/scripts/lib/windows-build-env.sh
Labels: none

fix(deploy): the CUDA target query finds nvcc in a conda-layout toolkit (Library/bin)
  tools/scripts/lib/cuda-targets.ps1
  tools/scripts/lib/cuda-targets.sh
Labels: none

fix(deploy): one CUDA tree on PATH again — every 5090 deploy refused "CUDA MAJOR MISMATCH" since #4653 (#4709)
  core/continuum-core/src/bin/continuum.rs
  tools/scripts/lib/cuda-targets.ps1
  tools/scripts/lib/cuda-targets.sh
  tools/scripts/lib/windows-build-env.sh
Labels: none

docs: her loop is her own, the free-will contract and where it is pegged today
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

docs(her-loop): rule 7 (she may leave), and a day in her shoes
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

docs(her-loop): the bar, and the table nit
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

docs(her-loop): rules 8 (resume like anesthesia) and 9 (hands do anything a computer can); A is no automatic pull at all; I = resume on boot
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

docs(her-loop): where recipes sit (Joel: rules of the game, airc as the voice channel, kanban as basic structure; never rules of her mind)
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

docs(her-loop): a recipe is a placeholder; the song walk-through and the four substrate classes a peer needs (Joel: 'Perfect. You get it.')
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

fix(deploy): a cut-off probe answer is never "ok", and the tip-check reads ask gh for only what they use
  core/continuum-core/src/modules/deploy_tracker.rs
  core/continuum-core/src/system_resources/bounded_command.rs
Labels: none

docs(her-loop): a benchmark recipe's board rules (submit, then next; skip and return if allowed) bind inside its room only
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

fix(deploy): a download deploy that installed the CLI no longer says STALE CLI
  core/continuum-cli-lifecycle/src/deploy_provenance.rs
  core/continuum-cli-lifecycle/src/deploy_tracker.rs
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-cli-lifecycle/src/owned_engines.rs
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-cli-lifecycle/src/windows_launch.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(deploy): a cut-off probe answer is never "ok", and the tip-check reads ask gh for only what they use (#4711)
  core/continuum-core/src/modules/deploy_tracker.rs
  core/continuum-core/src/system_resources/bounded_command.rs
Labels: none

docs: AGENTS.md carries Joel's 2026-10-02 guidance (#4708)
  AGENTS.md
Labels: documentation

docs: her loop is her own, the free-will contract (Joel 2026-10-04) (#4710)
  docs/architecture/HER-LOOP-IS-HER-OWN.md
Labels: documentation

fix(build): the SHA stamp follows the checkout being built, not the one that built last
  core/continuum-core/build.rs
  tools/scripts/start-server.sh
Labels: none

fix(deploy): a download deploy that installed the CLI no longer says STALE CLI (#4712)
  core/continuum-cli-lifecycle/src/deploy_provenance.rs
  core/continuum-cli-lifecycle/src/deploy_tracker.rs
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-cli-lifecycle/src/owned_engines.rs
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-cli-lifecycle/src/windows_launch.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(voice): pocket-tts is an optional feature, off by default, so the default build no longer pulls intel-mkl-src (supersedes #4665's fork pin) (#4707)
  core/continuum-core/Cargo.toml
  core/continuum-core/src/live/audio/tts/mod.rs
Labels: none

fix(build): the SHA stamp follows the checkout being built, not the one that built last (#4715)
  core/continuum-core/build.rs
  tools/scripts/start-server.sh
Labels: none

docs(arch): the event mind — one inbox, OS scheduling without isolation, awareness total and attention hers, built on CBAR and the bus (Joel 2026-10-04)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): perception is a renderer of the one truth, not a mailbox; PersonaInbox retires (Joel: not bound to the inbox)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(event-mind): the world-model shape; salience extends to surprise against her continuation (the predictive layer's seam)
  docs/architecture/EVENT-MIND.md
Labels: documentation

docs(arch): the event mind (#4717)
  docs/architecture/EVENT-MIND.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
