Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

style(llama): format imported manifest-path correction
  core/llama/build.rs
Labels: none

feat(shutdown): a stop that SAVES, and says what reached disk
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/mod.rs
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/commands/log/write.rs
  core/continuum-core/src/commands/log/write_batch.rs
  core/continuum-core/src/commands/system.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/main.rs
  core/continuum-core/src/modules/cognition.rs
  core/continuum-core/src/modules/logger.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/runtime/admission_gate.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/runtime.rs
  core/continuum-core/src/runtime/service_module.rs
Labels: none

fix(cognition): restore checkpoint evidence without inventing outcomes
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

docs: lead with a learning society, the visual demo, and public proof (#3865)
  README.md
  docs/planning/VIRAL-LAUNCH-PLAN.md
Labels: documentation

fix: resolve checkpoint adoption Clippy findings
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/persona_workspace/checkpoint_adoption.rs
Labels: none

fix: resolve checkpoint adoption Clippy findings
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/persona_workspace/checkpoint_adoption.rs
Labels: none

test(persona): check held-work fixture registration
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(llama): resolve vendor source from the invoking checkout (#3928)
  core/llama/build.rs
Labels: none

feat(training): a card-linked turn STAGES its credit and its generation receipts
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/act_observe/types.rs
  core/continuum-core/src/cognition/experience.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/provenance.rs
  core/continuum-core/src/commands/persona/turn_frame/execute.rs
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/training_producer.rs
Labels: none

Reuse Cargo's lib-test executable for PostgreSQL CI coverage
  .github/workflows/continuum-rust-tests.yml
  scripts/ci/rust_lib_runner.py
  scripts/ci/test_rust_lib_runner.py
Labels: workflow

Preserve legacy Persona checkpoints and refuse blank recovery (#3925)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/persona_workspace/checkpoint_adoption.rs
  core/continuum-core/src/cognition/should_respond_module.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
  core/continuum-core/src/persona/host.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/supervisor.rs
  docs/architecture/PERSONA-COGNITION-PIPELINE.md
  docs/personas/CHECKPOINT-RECOVERY.md
Labels: documentation

fix(shutdown): the reachability item was the TYPE, not the accessor; produced timeout outcomes; deterministic clocks
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(airc-purity): voice-mirror warn → live.log, LIVE-validated + end-to-end proof of #194 deploy guard (#1957)
  core/continuum-core/src/modules/live.rs
  docs/planning/LIVEKIT-PERCEPTION-PIPELINE.md
Labels: documentation

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(shutdown): restore three rationale comments the integration merge dropped
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(shutdown): declare SlowSaver / SlowJoiner as UNWIRED fixtures
  core/continuum-core/src/runtime/registry.rs
Labels: none

feat(shutdown): a stop that SAVES, and says what reached disk (#3929)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/mod.rs
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/commands/log/write.rs
  core/continuum-core/src/commands/log/write_batch.rs
  core/continuum-core/src/commands/system.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/main.rs
  core/continuum-core/src/modules/cognition.rs
  core/continuum-core/src/modules/logger.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/runtime/admission_gate.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/registry.rs
  core/continuum-core/src/runtime/runtime.rs
  core/continuum-core/src/runtime/service_module.rs
Labels: none

fix(training): report a refused stage, and reach the data layer at all
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/training_producer.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(persona): refuse a resident bootstrap when persistence is unconfirmed (#3927)
  core/continuum-core/src/cognition/working_memory.rs
  core/continuum-core/src/persona/host.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/supervisor.rs
  docs/personas/CHECKPOINT-RECOVERY.md
Labels: documentation

fix(hygiene): name the ORM boundary the batch serializations cross
  core/continuum-core/src/persona/training_producer.rs
Labels: none

fix(build): watch git paths that EXIST, so a worktree stops recompiling every time
  core/continuum-core/build.rs
Labels: none

fix(orm): batch was atomic on neither adapter; a settled card refuses claims (#3924)
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/act_observe/types.rs
  core/continuum-core/src/cognition/experience.rs
  core/continuum-core/src/cognition/mod.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/provenance.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/cognition/workspace_capture.rs
  core/continuum-core/src/cognition/workspace_dashboard.rs
  core/continuum-core/src/commands/persona/turn_frame/execute.rs
  core/continuum-core/src/modules/card_staging.rs
  core/continuum-core/src/orm/adapter.rs
  core/continuum-core/src/orm/postgres.rs
  core/continuum-core/src/orm/sqlite.rs
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/training_producer.rs
Labels: workflow

fix(build): watch git paths that EXIST, so a worktree stops recompiling every time (#3939)
  core/continuum-core/build.rs
Labels: none

fix(cognition): a busy room must not make a citizen mute
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  ttt_sol.exe
  ttt_sol.pdb
Labels: none

workspace: autosave persona work before shared sync
  ttt_sol.exe
Labels: none

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_tictactoe_winner.rs
Labels: none

workspace: autosave persona work before shared sync
  ttt_sol.exe
  ttt_sol.pdb
Labels: none

workspace: autosave persona work before shared sync
  ttt_sol.exe
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  conway_sol.exe
  conway_sol.pdb
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none
