Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(vitals): the SPEEDLINE — per-citizen decode/prefill micro-speedometers on the roster tile
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
Labels: none

test(web): message-time assertion pins the shape, not a UTC wall-clock
  apps/web/src/chat/renderChat.spec.ts
Labels: tests

feat(web): record & awards on the profile — identity earned from verdicts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/persona/renderPersona.ts
Labels: none

feat(web): profile right-rail instruments — Record, Engine, Active Work
  apps/web/src/render/parts.ts
  packages/chat-view/patternProjections.ts
Labels: none

feat(web): the FORM CURVE — growth as a line on the RECORD instrument
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
  packages/chat-view/patternProjections.ts
Labels: none

docs(architecture): citizen homes + the sims neighborhood — the third render target
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation

feat(web): the HOME INTERIOR card — her apartment, furnished by live facts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/persona/renderPersona.ts
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation

docs(homes): the bar is REAL 3D — bevy canonical, live calls as in-scene surfaces, SVG card demoted to preview stub
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation

feat(web): REAL 3D homes — three.js orthographic scene on the profile + the legacy audit that found the plan half-built
  apps/web/package.json
  apps/web/src/persona/renderPersona.ts
  apps/web/src/scene/HomeSceneElement.ts
  apps/web/src/scene/homeSceneModel.ts
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation, dependencies

feat(web): the profile de-dump — PAGES-IA plan + the tabbed <persona-page> shell
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/persona/renderPersona.ts
  apps/web/src/scene/HomeSceneElement.ts
  docs/planning/PAGES-IA.md
Labels: documentation

feat(web): her REAL avatar stands in her home — the bevy render pipeline honored
  apps/web/src/persona/renderPersona.ts
  apps/web/src/scene/HomeSceneElement.ts
  apps/web/src/scene/homeSceneModel.ts
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation

fix(web): NEVER JavaScript rendering — three.js deleted, the home shows the native bevy frame
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/persona/renderPersona.ts
  apps/web/src/scene/HomeSceneElement.ts
  apps/web/src/scene/homeSceneModel.ts
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation, dependencies

docs(homes): the hot-potato form of the renderer law
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
Labels: documentation

docs(live): the avatar budget — 14 citizens on camera without taxing a token
  docs/architecture/LIVE-AVATAR-BUDGET.md
Labels: documentation

docs(live): engines, not percentages — the full-concurrency budget with the burn receipt
  docs/architecture/LIVE-AVATAR-BUDGET.md
Labels: documentation

docs: mark tonight's live-plane fragments as RAW INPUTS, not architecture
  docs/architecture/CITIZEN-HOMES-ORTHOGRAPHIC.md
  docs/architecture/LIVE-AVATAR-BUDGET.md
Labels: documentation

feat(chat): chat/history — the durable transcript verb the store always deserved
  apps/web/src/index.ts
  core/continuum-core/src/commands/chat/history.rs
  core/continuum-core/src/commands/chat/mod.rs
Labels: none

fix(identity): the operator self-peer publishes as HUMAN — runtime 'interactive', kind 'human'
  core/continuum-core/src/persona/airc_runtime.rs
Labels: none

feat(web): PAGES-IA slice 2 — the academy landing digests history
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/content/registry.ts
Labels: none

feat(web): PAGES-IA slices 3+4 — run rooms and solve rooms get their rail instruments
  packages/chat-view/patternProjections.ts
Labels: none

feat(web): every name is a door — act actors and bench workers navigate to their pages
  apps/web/src/bench/renderBench.ts
  apps/web/src/index.ts
  apps/web/src/render/parts.ts
Labels: none

feat(web): the universe wakes — cosmos is the default skin, and it reacts to TRUTH
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/CosmosBackdrop.ts
Labels: none

fix(web): the cosmos crash — rebuilt on the paint budget; eye-node reads the page's console
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/CosmosBackdrop.ts
  packages/perception/domSurface.ts
Labels: none

feat(web): the POSITRON universe — the app renders its own nervous system
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/PositronTrace.ts
Labels: none

refactor(web): universes become an OOP framework — interface + registry, zero duck typing
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/PositronTrace.ts
  apps/web/src/universe/CosmosUniverse.ts
  apps/web/src/universe/PositronUniverse.ts
  apps/web/src/universe/Universe.ts
Labels: none

fix(chat): chat/history registered once — action_command! self-registers
  core/continuum-core/src/commands/chat/history.rs
Labels: none

fix(chat): history skips stream chunks — same rule as the live decoder
  core/continuum-core/src/commands/chat/history.rs
Labels: none

feat(perception): eye-node joins the boot path and survives reboots
  apps/eye-node/src/index.ts
  sdk/typescript/NodeSocketTransport.ts
  tools/scripts/start-server.sh
Labels: none

feat(cognition): measured reply reserve — the output twin of working-set demand
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/working_set.rs
Labels: none

feat(web): chat-room rail answers 'what do I do and monitor HERE'
  apps/web/src/render/parts.ts
  packages/chat-view/patternProjections.ts
  packages/patterns/index.ts
Labels: none

feat(activity): start-a-project is one flow — recipes, spawn-as-operator, invite
  core/continuum-core/src/modules/activity.rs
Labels: none

feat(chat): senderId optional — the sender chain lives at the command boundary
  core/continuum-core/src/commands/chat/send.rs
Labels: none

fix(chat): chat/send reaches citizens' ears — the daemon-room say leg
  core/continuum-core/src/commands/chat/send.rs
Labels: none

feat(web): connection state IS the continuon orb + favicon — banner deleted
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/widgets.ts
  docs/design/CONTINUON-THE-HAND.md
  packages/chat-view/patternProjections.ts
  packages/patterns/index.ts
  sdk/typescript/StateConnection.ts
Labels: documentation

fix(bench): the sweeper never confiscates from a RESIDENT owner + SWE kickoff coaches the close
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/benchmark_grade.rs
Labels: none

feat(presence): the left panel becomes GLOBAL — presence/directory + operator joins the commons
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/mod.rs
  core/continuum-core/src/commands/presence_directory.rs
  core/continuum-core/src/modules/work.rs
  core/continuum-core/src/persona/operator_peer.rs
Labels: none

fix(presence): drop the colliding aliases + no seed fallback
  apps/web/src/index.ts
  core/continuum-core/src/commands/presence_directory.rs
Labels: none

fix(presence): directory reads the durable room directories, not the event page
  core/continuum-core/src/commands/presence_directory.rs
  core/continuum-core/src/ipc/positron_presence.rs
Labels: none

docs(presence): mark presence/directory as interim over airc#1367
  core/continuum-core/src/commands/presence_directory.rs
Labels: none

fix(boot): fresh clone installs workspace deps before the desktop/eye rails (#291)
  tools/scripts/start-server.sh
Labels: none
