Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Replace jtag ping subprocess with direct server health check
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

Docker hardening: health checks, resource caps, GPU profiles, grid architecture docs
  .github/workflows/docker-images.yml
  docker-compose.yml
  docker/node-server.Dockerfile
  docs/grid/ARES-KERNEL.md
  docs/grid/DOCKER-NODE-ARCHITECTURE.md
  docs/grid/GRID-ARCHITECTURE.md
  docs/images/grid-docker-architecture-0.png
  docs/images/grid-docker-architecture-1.png
Labels: documentation, workflow

Tailscale sidecar for Docker TLS, fix WS localhost fallback, ONNX Runtime
  docker-compose.yml
  docker/Caddyfile
  docker/caddy-entrypoint.sh
  docker/continuum-core.Dockerfile
  docker/tailscale-serve.json
  src/system/core/connection-broker/shared/ConnectionBroker.ts
  src/system/secrets/SecretManager.ts
  src/system/transports/browser/TransportFactoryBrowser.ts
  src/system/transports/shared/TransportConfig.ts
Labels: none

Docker auto-seed: detect empty database on first run, seed via jtag CLI
  src/server/docker-entrypoint.ts
Labels: none

Update gap analysis: Docker Phase 11 status after E2E on BigMama
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Resilient Docker seeding: retry with backoff, skip readiness check
  src/scripts/seed-continuum.ts
  src/scripts/seed/helpers.ts
  src/server/docker-entrypoint.ts
Labels: none

Remove hardcoded mem_limits from core/node-server — let host resources be visible to allocator
  docker-compose.yml
Labels: none

Seed ALL personas regardless of hardware — allocator activates at runtime
  src/scripts/seed-continuum.ts
Labels: none

Remove hardcoded tailnet ID and IPs from docs and config
  docker-compose.yml
  docker/caddy-entrypoint.sh
  docs/grid/ARES-KERNEL.md
Labels: documentation

Separate local and grid Docker modes via profiles
  docker-compose.yml
Labels: none

SecretManager: mirror all config.env keys to process.env (not just whitelist)
  src/system/secrets/SecretManager.ts
Labels: none

Persona activation on startup: lifecycle manager runs initial allocation
  src/system/user/server/PersonaLifecycleManager.ts
Labels: none

Suppress UI errors for unconfigured providers — dormant personas stay quiet
  src/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

Add LIVEKIT_URL=ws://livekit:7880 for Docker internal connection
  docker-compose.yml
Labels: none

Add step-by-step diagnostic timing to live/join to identify hang point
  src/commands/collaboration/live/join/server/LiveJoinServerCommand.ts
Labels: none

Fix avatar catalog panic killing live/join: fall back to static catalog when no VRM files on disk
  src/workers/continuum-core/src/live/avatar/catalog.rs
  src/workers/continuum-core/src/live/avatar/selection.rs
Labels: none

Bake CC0 avatar VRM models into continuum-core image via additional_contexts
  docker-compose.yml
  docker/continuum-core.Dockerfile
Labels: none

Avatar models: env-configurable dir, baked at /app/avatars to avoid volume conflict
  docker-compose.yml
  docker/continuum-core.Dockerfile
  src/workers/continuum-core/src/live/avatar/catalog.rs
Labels: none

Remove symlink (volume mount wipes it), env var AVATAR_MODELS_DIR handles path
  docker/continuum-core.Dockerfile
Labels: none

Add fault isolation section to Docker architecture: container-level resource budgets, criticality tiers, storage limits
  docs/grid/DOCKER-NODE-ARCHITECTURE.md
Labels: documentation

Enable livekit-webrtc feature in Docker build (x86 should work, ARM64 TBD)
  docker-compose.yml
Labels: none

Revert livekit-webrtc: webrtc-sys C++ fails in Docker (needs glib/pipewire/X11). Use load-dynamic-ort only.
  docker-compose.yml
Labels: none

LiveKit node-ip configurable via LIVEKIT_NODE_IP env (fixes WebRTC from remote browsers)
  docker-compose.yml
Labels: none

Configurable host ports for grid mode: avoid Tailscale port conflicts
  docker-compose.yml
Labels: none

Add launch.sh: start Docker, detect URL (local/grid/SSH), auto-open browser
  launch.sh
Labels: none

Add open.sh: find grid nodes on tailnet and open browser (./open.sh continuum)
  open.sh
Labels: none

Add continuum CLI command: one binary, auto-detect local/grid/headless, install via curl|bash
  bin/continuum
  install.sh
  launch.sh
  open.sh
Labels: none

continuum CLI: add dev mode, colored status, logs, build, grid node state, SSH detection
  bin/continuum
Labels: none

Fix 30s white screen: render UI immediately, connect WS in background. Add beforeunload cleanup.
  src/examples/widget-ui/src/index.ts
Labels: none

LiveKit grid mode: WebRTC over Tailscale mesh with real UDP
  docker-compose.yml
  docker/livekit-entrypoint.sh
  docker/livekit.yaml
  docker/tailscale-serve.json
  docker/test-livekit-grid.sh
Labels: none

Enable livekit-webrtc in Docker: 14 AI personas connect to LiveKit room
  docker/continuum-core.Dockerfile
  src/workers/Cargo.lock
Labels: none

Fix LiveKit agent reconnection churn: idempotent session registration
  src/commands/collaboration/live/leave/server/LiveLeaveServerCommand.ts
  src/workers/continuum-core/src/modules/live.rs
Labels: none

Skip codebase indexing in production/Docker
  src/system/core/system/server/ServiceInitializer.ts
Labels: none

Disable livekit-webrtc in Docker build to fix startup deadlock
  docker-compose.yml
  docker/continuum-core.Dockerfile
Labels: none

Temporarily set Rust logging to INFO for Docker debugging
  src/workers/continuum-core/src/main.rs
Labels: none

Re-enable livekit-webrtc: STT pipeline requires it, deadlock is intermittent
  docker-compose.yml
  docker/continuum-core.Dockerfile
Labels: none

Architecture: sensory-transport separation with livekit-bridge
  docs/architecture/SENSORY-TRANSPORT-SEPARATION.md
  src/workers/Cargo.toml
  src/workers/livekit-bridge/Cargo.toml
  src/workers/livekit-protocol/Cargo.toml
  src/workers/livekit-protocol/src/lib.rs
Labels: documentation

livekit-bridge: transport adapter binary compiles
  src/workers/livekit-bridge/Cargo.toml
  src/workers/livekit-bridge/src/agent.rs
  src/workers/livekit-bridge/src/main.rs
  src/workers/livekit-bridge/src/server.rs
Labels: none

Bridge client + full workspace compiles: three-binary split ready
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/live/transport/bridge_client.rs
  src/workers/continuum-core/src/live/transport/mod.rs
  src/workers/livekit-bridge/Cargo.toml
  src/workers/livekit-bridge/src/agent.rs
  src/workers/livekit-bridge/src/server.rs
  src/workers/livekit-protocol/Cargo.toml
Labels: none

Wire bridge_client into VoiceModule and main — core no longer calls LiveKit directly
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/live/transport/bridge_client.rs
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/modules/live.rs
Labels: none
