Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

ratchet: justify the operator-voice fallback in say_in_card_room; rebased onto canary tip
  core/continuum-core/src/modules/verdict_board.rs
Labels: none

fix(verdict): a failed grade returns to its holder with the failing tests named — the board follows the verdict both ways (#3868)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/benchmark_grade.rs
  core/continuum-core/src/modules/mod.rs
  core/continuum-core/src/modules/verdict_board.rs
Labels: none

fix(project): distinguish rejected board snapshots across surfaces
  apps/tui/src/ansiTarget.ts
  apps/tui/src/renderChat.spec.ts
  apps/web/src/content/registry.spec.ts
  apps/web/src/content/registry.ts
  packages/chat-view/index.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/projectProjections.ts
Labels: tests

fix(grade): pin candidate base and prove cross-checkout text transfer
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(power): a hosting node holds a sleep assertion for the core's lifetime and says when it was suspended (card 94a95a98)
  core/continuum-core/src/main.rs
  core/continuum-core/src/system_resources/absence_watch.rs
  core/continuum-core/src/system_resources/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(desktop): restore project rooms with their scoped work board (#3869)
  apps/tui/src/ansiTarget.ts
  apps/tui/src/renderChat.spec.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/content/registry.spec.ts
  apps/web/src/content/registry.ts
  packages/chat-view/index.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
  packages/chat-view/projectProjections.ts
Labels: tests

fix(benchmark): extract portable patches against the exact declared base (#3871)
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(verdict): name remote holders through durable peer identities
  core/continuum-core/src/modules/verdict_board.rs
Labels: none

fix(memory): swap is its own pressure axis and the monitor writes rows (card 5527936b)
  core/continuum-core/src/system_resources/memory_pressure.rs
Labels: none

docs(planning): the alpha's cross-grid team round — definition, seams, slices, owners, acceptance (Joel 2026-09-08)
  docs/planning/ALPHA-CROSS-GRID-TEAM-ROUND.md
Labels: documentation

fix(verdict): reuse board short-id formatting for unknown holders
  core/continuum-core/src/modules/verdict_board.rs
  core/continuum-core/src/persona/card_holder.rs
Labels: none

ratchet: justify the two unwrap_or(0) sites in absence_watch
  core/continuum-core/src/system_resources/absence_watch.rs
Labels: none

docs(planning): S6 seam path is persona/training_producer.rs; claim-and-build-in-the-worktree rule with the worktree's own target dir (IntelMac's review)
  docs/planning/ALPHA-CROSS-GRID-TEAM-ROUND.md
Labels: documentation

fix(rag): the roster follows the citizen into the room she is in, not the room she was born in (#3862)
  core/continuum-core/src/persona/supervisor.rs
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

docs(rag): mark the viewstate_rag room-scope section superseded — its prerequisite landed, and it was read as current mid-diagnosis
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(memory): swap is its own pressure axis and the monitor writes rows (card 5527936b) (#3877)
  core/continuum-core/src/system_resources/memory_pressure.rs
Labels: none

feat(grid): a spawned round announces itself to its parent room, and every node's resume pass seats its residents into announced citizen rounds (alpha S4)
  core/continuum-core/src/experience/children.rs
  core/continuum-core/src/experience/mod.rs
  core/continuum-core/src/modules/activity.rs
  core/continuum-core/src/modules/benchmark_resume.rs
Labels: none

fix(power): a hosting node holds a sleep assertion for the core's lifetime and says when it was suspended (card 94a95a98) (#3875)
  core/continuum-core/src/main.rs
  core/continuum-core/src/system_resources/absence_watch.rs
  core/continuum-core/src/system_resources/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(rag): the per-room lookup must not INSERT, and the doc must not claim a guarantee the compiler does not enforce (review of #3879)
  core/continuum-core/src/persona/viewstate_rag.rs
  core/continuum-positron/src/scoping.rs
Labels: none

fix(verdict): keep remote holders named in room feedback (#3876)
  core/continuum-core/src/modules/verdict_board.rs
  core/continuum-core/src/persona/card_holder.rs
Labels: none

docs(rag): point the unenforced-binding note at its filed card (#3881)
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

fix(memory): the anomaly scan names root-owned memory hogs through ps when sysinfo reads them as zero (card 5527936b, part 3)
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/continuum-core/src/system_resources/mod.rs
  core/continuum-core/src/system_resources/process_anomaly.rs
Labels: none

fix(rag): a continuation cursor carries its room, and refuses to resume in another one
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

identity: the child record's room_id is a Uuid, not a String (the loose-id guard)
  core/continuum-core/src/experience/children.rs
  core/continuum-core/src/modules/activity.rs
Labels: none

docs(planning): S7's baseline is the seed-3 M5-only round; the cross-node run re-dispatches the same seed
  docs/planning/ALPHA-CROSS-GRID-TEAM-ROUND.md
Labels: documentation

fix(memory): the anomaly scan names root-owned memory hogs through ps when sysinfo reads them as zero (card 5527936b, part 3) (#3882)
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/continuum-core/src/system_resources/mod.rs
  core/continuum-core/src/system_resources/process_anomaly.rs
Labels: none

fix(hygiene): justify the cursor-stamp `unwrap_or` the ratchet caught, and the four lock recoveries beside it
  core/continuum-core/src/persona/viewstate_rag.rs
  core/continuum-positron/src/scoping.rs
Labels: none

feat(grid): a spawned round announces itself to its parent room, and every node's resume pass seats its residents into announced citizen rounds (alpha S4) (#3880)
  core/continuum-core/src/experience/children.rs
  core/continuum-core/src/experience/mod.rs
  core/continuum-core/src/modules/activity.rs
  core/continuum-core/src/modules/benchmark_resume.rs
Labels: none

fix(rag): the roster follows the citizen into the room she is in, not the room she was born in (#3862) (#3879)
  core/continuum-core/src/persona/supervisor.rs
  core/continuum-core/src/persona/viewstate_rag.rs
  core/continuum-positron/src/scoping.rs
Labels: none

docs(planning): the alpha's cross-grid team round — definition, seams, slices, owners, acceptance (#3878)
  docs/planning/ALPHA-CROSS-GRID-TEAM-ROUND.md
Labels: documentation

fix(memory): the ps reader drains stdout while it waits (card 5527936b)
  core/continuum-core/src/system_resources/process_anomaly.rs
Labels: none

review(c7ae34b2): a ps read that could not complete is an Err naming why, never an empty list; the monitor probes memory.pressure.anomaly_unreadable
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/continuum-core/src/system_resources/process_anomaly.rs
Labels: none

fix(memory): the ps reader drains stdout while it waits — the anomaly row fires on a real machine (card 5527936b) (#3884)
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/continuum-core/src/system_resources/process_anomaly.rs
Labels: none

fix(perception): close browser when surface initialization fails
  packages/perception/domSurface.spec.ts
  packages/perception/domSurface.ts
Labels: tests

fix(perception): close browser when surface initialization fails (#3886)
  packages/perception/domSurface.spec.ts
  packages/perception/domSurface.ts
Labels: tests

fix(perception): the boot reaps the eyes it left behind (card de9b8876, slice 3)
  core/continuum-core/src/boot_plan.rs
  core/continuum-core/src/system_resources/eye_reaper.rs
  core/continuum-core/src/system_resources/mod.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(benchmark): one citizen's outcome is not another's to overwrite (card f1a4881a)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
