Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(web): live learning feed — the engram stream on the persona Mind tab
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/persona/renderPersona.ts
Labels: none

feat(presence): faces ride the directory — avatars render everywhere the seed reaches
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/presence_directory.rs
  core/continuum-core/src/ipc/positron_presence.rs
Labels: none

feat(live): the avatar plane runs at 30fps — the live-call bar
  core/continuum-core/src/live/avatar/video_pump.rs
  core/continuum-core/src/live/video/bevy_renderer/mod.rs
Labels: none

feat(stt): citizens can HEAR — local moonshine engine selected at init, fetched by the boot rail
  core/continuum-core/src/live/audio/stt/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(live): calls join as the VIEWER + the grid shows connected people only
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  packages/chat-view/liveProjections.ts
Labels: none

feat(live): humans are video participants — camera capture inherent in positron
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/live/callClient.ts
  apps/web/src/live/renderLive.ts
  apps/web/src/render/parts.ts
  packages/chat-view/liveProjections.ts
  packages/patterns/liveContent.ts
Labels: none

feat(live): staged media permissions — reason before ask, ask on intent, platform remembers
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/live/renderLive.ts
  apps/web/src/render/parts.ts
  docs/design/POSITRON-MEDIA-PERMISSIONS.md
  packages/chat-view/liveProjections.ts
  packages/patterns/liveContent.ts
Labels: documentation

fix(web+live): overdraw discipline + citizens actually join calls
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/live/renderLive.ts
  core/continuum-core/src/ipc/mod.rs
Labels: none

fix(merge)+feat(live): repair merge fallout, mint live/token — the WebRTC door
  .gitmodules
  core/continuum-core/src/commands/live_token.rs
  core/continuum-core/src/commands/mod.rs
  core/continuum-core/src/commands/search/engine.rs
Labels: none

feat(live): the web is a REAL WebRTC participant — LiveKit tracks end-to-end
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/live/callClient.ts
  apps/web/src/live/renderLive.ts
  packages/chat-view/liveProjections.ts
  packages/patterns/liveContent.ts
Labels: dependencies

fix(live): media fills tiles, stage-first layout, call grid = participants only
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/live/renderLive.ts
  packages/chat-view/liveProjections.ts
Labels: none

feat(live): pin-or-speaking stage rule — the surveyed consensus
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/live/renderLive.ts
  apps/web/src/render/parts.ts
  package-lock.json
  packages/chat-view/liveProjections.ts
  packages/patterns/liveContent.ts
Labels: dependencies

feat(identity): sessions ADOPT identity, never mint it — identity/whoami
  apps/web/src/config.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/identity_whoami.rs
  core/continuum-core/src/commands/mod.rs
Labels: none

fix(identity): the viewer's row wears their REAL name — 'you' dies
  apps/web/src/index.ts
Labels: none

feat(identity): agent sessions wear their OWN identity — the actorKind claim
  client/continuum-client/src/command.rs
  core/continuum-core/src/commands/benchmark_round.rs
  core/continuum-core/src/commands/chat/send.rs
  core/continuum-core/src/commands/identity_whoami.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/operator_peer.rs
  core/continuum-core/src/runtime/command_envelope.rs
  core/continuum-core/src/sdk_codegen/handler.rs
Labels: none

fix(identity): agent self-peer boots — provider threaded through bootstrap_as
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/operator_peer.rs
Labels: none

feat(serving): fund the scratch lane — residents+1, so no citizen is ever the eviction victim
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

chore: regen WorkDriver binding + readme-purpose draft (session strays)
  docs/planning/README-PURPOSE-DRAFT.md
  protocol/typescript/benchmark/WorkDriver.ts
Labels: documentation

chore: ChatHistoryMessage binding + ignore the stray whisper model copy (tools/models is the root)
  .gitignore
  protocol/typescript/chat/ChatHistoryMessage.ts
Labels: none

chore: ts-rs bindings for today's verbs (chat/history, identity/whoami, live/token)
  protocol/typescript/chat/ChatHistoryParams.ts
  protocol/typescript/chat/ChatHistoryResult.ts
  protocol/typescript/identity/WhoamiParams.ts
  protocol/typescript/identity/WhoamiResult.ts
  protocol/typescript/live/LiveTokenParams.ts
  protocol/typescript/live/LiveTokenResult.ts
Labels: none

fix(ci): pay the guard suite — every ratchet + pin from today's additions
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/persona_tools.rs
  core/continuum-core/src/cognition/working_set.rs
  core/continuum-core/src/commands/chat/history.rs
  core/continuum-core/src/commands/identity_whoami.rs
  core/continuum-core/src/commands/live_token.rs
  core/continuum-core/src/commands/presence_directory.rs
  core/continuum-core/src/inference/backends/qwen2_safetensors.rs
  core/continuum-core/src/live/audio/stt/mod.rs
  core/continuum-core/src/modules/activity.rs
  core/continuum-core/src/modules/cargo/mod.rs
  core/continuum-core/src/modules/cargo/types.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

chore(protocol): regenerated ts-rs bindings for actorKind + typed senderId
  protocol/typescript/chat/ChatHistoryMessage.ts
  protocol/typescript/chat/ChatSendWireParams.ts
  protocol/typescript/persona/PresenceDirectoryEntry.ts
  protocol/typescript/persona/PresenceDirectoryParams.ts
  protocol/typescript/persona/PresenceDirectoryResult.ts
  protocol/typescript/runtime/CommandRequest.ts
Labels: none

fix(bench): pytest node ids with spaces are real — parse them whole, score upstream's truncated fragments by prefix
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(bench): pytest node ids with spaces are real — parse them whole, score upstream's truncated fragments by prefix (#2711)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(serving): re-home evidence counts lanes — total token-space, not per-slot window
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

docs(readme): vs. the Harness Generation — answer the omp thread's own questions
  README.md
Labels: documentation

docs(readme): vs. the Harness Generation — answer the omp thread's own questions (#2718)
  README.md
Labels: documentation

fix(serving): re-home evidence counts lanes — total token-space, not per-slot window (#2717)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(kv): the context switch — page KV to disk on eviction, restore on return
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/lane_args.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/inference/slots.rs
  core/continuum-core/src/system_resources/disk_eviction.rs
  core/continuum-core/src/system_resources/disk_reporters.rs
Labels: none

feat(kv): the context switch — page KV to disk on eviction, restore on return (#2719)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/lane_args.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/inference/slots.rs
  core/continuum-core/src/system_resources/disk_eviction.rs
  core/continuum-core/src/system_resources/disk_reporters.rs
Labels: none

fix(serving): KV bytes/token from the artifact's own header — the weights guess over-charged MoE 4x
  core/continuum-core/src/inference_capability/gguf_keys.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(cognition): recall rides the volatile tail — it re-scores every turn and was churning the stable KV head
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

fix(cognition): apply the KV split for real — volatile framing rides the facts phase, never the system message
  core/continuum-core/src/cognition/deliberation_prompt.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(cognition): apply the KV split for real — volatile framing rides the facts phase, never the system message
  core/continuum-core/src/cognition/deliberation_prompt.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(cognition): recall rides the volatile tail — it re-scores every turn and was churning the stable KV head
  core/continuum-core/src/cognition/recall_faculty.rs
Labels: none

fix(serving): KV bytes/token from the artifact's own header — the weights guess over-charged MoE 4x
  core/continuum-core/src/inference_capability/gguf_keys.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(avatars): restore vroid-sample-d.glb to tracking
  models/avatars/vroid-sample-d.glb
Labels: none

fix(kv): the remaining layers — header-true KV rate, recall to the tail, the split applied for real (#2721)
  core/continuum-core/src/cognition/deliberation_prompt.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/recall_faculty.rs
  core/continuum-core/src/inference_capability/gguf_keys.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(avatars): restore vroid-sample-d.glb to tracking (#2722)
  models/avatars/vroid-sample-d.glb
Labels: none

fix(cognition): byte-stable conversation front — quantized window trimming + suppression-style dup collapse
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
