Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Simplify RecipeInput - strings only, system resolves
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
Labels: none

Tighten RecipeInput - no empty definitions allowed
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
Labels: none

Add entity validation to RecipeInput
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
Labels: none

Add shared EntityValidator for reusable validation
  src/debug/jtag/system/validation/shared/EntityValidator.ts
Labels: none

attempts at fixing widgets
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/right-panel/RightPanelWidget.ts
  src/debug/jtag/widgets/shared/BaseSidePanelWidget.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/sidebar/public/sidebar-panel.css
Labels: dependencies

recipe load
  src/debug/jtag/commands/workspace/recipe/load/browser/RecipeLoadBrowserCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/recipes/academy-training.json
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/recipes/gan-recipe.json
  src/debug/jtag/system/recipes/gan.json
  src/debug/jtag/system/recipes/multi-persona-chat.json
Labels: dependencies

Add recipe JSON files for all FALLBACK_REGISTRY content types
  src/debug/jtag/commands/workspace/recipe/load/server/RecipeLoadServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/recipes/browser.json
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/recipes/chat.json
  src/debug/jtag/system/recipes/diagnostics-log.json
  src/debug/jtag/system/recipes/diagnostics.json
  src/debug/jtag/system/recipes/help.json
  src/debug/jtag/system/recipes/persona.json
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: dependencies

Fix sidebar flexbox to fill space and prioritize Users section
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
Labels: none

brain view as subcontrol
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/POSITRON-HOOKS-AND-PERCEPTION.md
  src/debug/jtag/docs/POSITRON-STATE-LAYERS.md
  src/debug/jtag/docs/design/HUD-MICROWIDGET-ARCHITECTURE.md
  src/debug/jtag/docs/design/HUD-VISION.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/system/recipes/profile.json
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
Labels: documentation, dependencies

Add Positron state adapter and fix CSS layout issues
  src/debug/jtag/commands/collaboration/content/open/browser/ContentOpenBrowserCommand.ts
  src/debug/jtag/commands/collaboration/content/open/server/ContentOpenServerCommand.ts
  src/debug/jtag/commands/collaboration/content/open/shared/ContentOpenTypes.ts
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/shared/services/state/PositronContentStateAdapter.ts
Labels: dependencies

Add PositronWidgetState for AI context awareness
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/help/HelpWidget.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/shared/AssistantPanel.ts
  src/debug/jtag/widgets/shared/services/state/PositronWidgetState.ts
Labels: dependencies

Add SystemNavWidget to left sidebar for quick navigation
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/sidebar/SystemNavWidget.ts
Labels: dependencies

Revert "Add SystemNavWidget to left sidebar for quick navigation"
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
  src/debug/jtag/widgets/sidebar/SystemNavWidget.ts
Labels: dependencies

Fix right panel room switching + add layout position architecture
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/layout/LayoutManager.ts
  src/debug/jtag/system/layout/LayoutTypes.ts
  src/debug/jtag/system/layout/index.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

Add global layout inheritance for persistent sidebar widgets
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/layout/LayoutManager.ts
  src/debug/jtag/system/layout/LayoutTypes.ts
  src/debug/jtag/system/layout/index.ts
  src/debug/jtag/system/recipes/settings.json
  src/debug/jtag/widgets/settings-nav/SettingsNavWidget.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/settings/styles/settings.scss
  src/debug/jtag/widgets/settings/styles/settings.styles.ts
  src/debug/jtag/widgets/sidebar/SidebarWidget.ts
Labels: dependencies

Add Positron state to LogViewerWidget + LogsNavWidget for sidebar
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/layout/LayoutTypes.ts
  src/debug/jtag/system/recipes/logs.json
  src/debug/jtag/widgets/log-viewer/LogViewerWidget.ts
  src/debug/jtag/widgets/logs-nav/LogsNavWidget.ts
Labels: dependencies

Remove embedded assistants - use layout-driven right panel instead
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: none

Fix layout overflow + two-row header + global sidebar order
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/layout/LayoutTypes.ts
  src/debug/jtag/widgets/content-tabs/ContentTabsWidget.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/main/public/main-panel.css
  src/debug/jtag/widgets/main/public/main-panel.html
  src/debug/jtag/widgets/shared/themes/base/theme.css
Labels: dependencies

Support new widgets-array layout format in recipes
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/layout/LayoutTypes.ts
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/recipes/theme.json
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
Labels: dependencies

Remove embedded assistant from ThemeWidget
  src/debug/jtag/widgets/shared/ThemeWidget.ts
Labels: none

Fix panel expand buttons for shadow DOM z-index
  src/debug/jtag/examples/widget-ui/src/components/PanelResizer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/continuum/public/continuum-widget.css
  src/debug/jtag/widgets/continuum/public/continuum-widget.html
Labels: dependencies

Update README with fresh UI screenshots
  src/debug/jtag/README.md
  src/debug/jtag/docs/images/readme-brain.png
  src/debug/jtag/docs/images/readme-chat.png
  src/debug/jtag/docs/images/readme-settings.png
  src/debug/jtag/docs/images/readme-theme.png
Labels: documentation

Update root README with fresh UI screenshots
  README.md
Labels: documentation

Add widget state → RAG pipeline and URL routing resolution
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/services/WidgetContextService.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/routing/RoutingService.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/shared/RoomStateManager.ts
Labels: dependencies

PR 3: Replace hardcoded colors with CSS variables in shared styles
  src/debug/jtag/widgets/shared/styles/FormStyles.ts
  src/debug/jtag/widgets/shared/styles/PanelStyles.ts
Labels: none

PR 3: CSS variables in HelpWidget, AssistantPanel, ContentTabsWidget
  src/debug/jtag/widgets/content-tabs/ContentTabsWidget.ts
  src/debug/jtag/widgets/help/HelpWidget.ts
  src/debug/jtag/widgets/shared/AssistantPanel.ts
Labels: none

PR 3: CSS variables in Diagnostics, LogViewer, UserProfile, Theme, buttons
  src/debug/jtag/widgets/buttons/public/buttons.css
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/header-controls/HeaderControlsWidget.ts
  src/debug/jtag/widgets/log-viewer/LogViewerWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/sidebar-panel/public/sidebar-panel.css
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
Labels: none

Add Positron widget state emission to 4 more widgets
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
Labels: none

Add reactive widget pattern: ChatWidget subscribes to Positron state
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

Add widget-to-widget pub/sub API to PositronWidgetState
  src/debug/jtag/docs/REACTIVE-WIDGET-PATTERN.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/services/state/PositronWidgetState.ts
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
Labels: documentation, dependencies

Add collaborative events to SettingsWidget
  src/debug/jtag/widgets/settings/SettingsWidget.ts
Labels: none

Fix semantic memory recall + add Positron meta-awareness
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
Labels: none

Add AI Sandbox Command System for autonomous tool creation
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/development/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/commands/development/debug/widget-state/server/WidgetStateServerCommand.ts
  src/debug/jtag/commands/development/debug/widget-state/shared/WidgetStateDebugTypes.ts
  src/debug/jtag/commands/development/propose-command/server/ProposeCommandServerCommand.ts
  src/debug/jtag/commands/development/propose-command/shared/ProposeCommandTypes.ts
  src/debug/jtag/commands/development/sandbox-execute/server/SandboxExecuteServerCommand.ts
  src/debug/jtag/commands/development/sandbox-execute/shared/SandboxExecuteTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/events/shared/ScopedEventSystem.ts
  src/debug/jtag/system/rag/services/WidgetContextService.ts
  src/debug/jtag/system/recipes/settings.json
  src/debug/jtag/widgets/settings/SettingsAssistantWidget.ts
  src/debug/jtag/widgets/settings/SettingsWidget.ts
  src/debug/jtag/widgets/shared/services/state/PositronWidgetState.ts
Labels: dependencies

Validate semantic memory recall infrastructure
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add tool call loop detection to prevent infinite AI loops
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

Add semantic loop detector command + fix tool result truncation
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/detect-semantic-loop/.npmignore
  src/debug/jtag/commands/ai/detect-semantic-loop/README.md
  src/debug/jtag/commands/ai/detect-semantic-loop/browser/AiDetectSemanticLoopBrowserCommand.ts
  src/debug/jtag/commands/ai/detect-semantic-loop/package.json
  src/debug/jtag/commands/ai/detect-semantic-loop/server/AiDetectSemanticLoopServerCommand.ts
  src/debug/jtag/commands/ai/detect-semantic-loop/shared/AiDetectSemanticLoopTypes.ts
  src/debug/jtag/commands/ai/detect-semantic-loop/test/integration/AiDetect-semantic-loopIntegration.test.ts
  src/debug/jtag/commands/ai/detect-semantic-loop/test/unit/AiDetect-semantic-loopCommand.test.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/specs/ai-detect-semantic-loop.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/backfill-memory-embeddings.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: documentation, tests, dependencies

Integrate semantic loop detection into response pipeline
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: dependencies

Add getStoredContext query to widget-state command
  src/debug/jtag/commands/development/debug/widget-state/server/WidgetStateServerCommand.ts
  src/debug/jtag/commands/development/debug/widget-state/shared/WidgetStateDebugTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add WebViewWidget for co-browsing AI context
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/widgets/web-view/WebViewWidget.ts
Labels: none

Fix Browser widget and navigation tab switching
  src/debug/jtag/system/recipes/browser.json
  src/debug/jtag/widgets/header-controls/HeaderControlsWidget.ts
  src/debug/jtag/widgets/main/MainWidget.ts
  src/debug/jtag/widgets/main/shared/ContentTypeRegistry.ts
  src/debug/jtag/widgets/web-view/WebViewWidget.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
