Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Tool call parsing: 5 format adapters + correction + codec migrated to Rust
  src/debug/jtag/commands/ai/agent/server/AiAgentServerCommand.ts
  src/debug/jtag/system/tools/server/AgentToolExecutor.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/tool_parsing.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/modules/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/tool_parsing.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/codec.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/correction.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/mod.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/parsers.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/types.rs
Labels: none

Genome paging: LRU eviction + memory budget decisions migrated to Rust
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaGenome.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/genome_paging.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
Labels: none

Post-inference adequacy: batch check replaces N individual IPC calls
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/evaluator.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
Labels: none

Cognition state consolidation: 7 DashMaps → 1, dead code removal, text analysis optimization
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/RateLimiter.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/tests/unit/RateLimiter.test.ts
  src/debug/jtag/text
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/evaluator.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/similarity.rs
  src/debug/jtag/workers/continuum-core/src/persona/unified.rs
Labels: tests, dependencies

RAG budget as single authority for all LLM context
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGSource.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/sources/CodeToolSource.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/GlobalAwarenessSource.ts
  src/debug/jtag/system/rag/sources/GovernanceSource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/ProjectContextSource.ts
  src/debug/jtag/system/rag/sources/SemanticMemorySource.ts
  src/debug/jtag/system/rag/sources/SocialMediaRAGSource.ts
  src/debug/jtag/system/rag/sources/ToolDefinitionsSource.ts
  src/debug/jtag/system/rag/sources/WidgetContextSource.ts
  src/debug/jtag/system/rag/sources/index.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: dependencies

Rich identity prompts + tool prioritization fix
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/ToolDefinitionsSource.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: dependencies

Stable tool calling across all native providers
  src/debug/jtag/commands/ai/agent/server/AiAgentServerCommand.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/workers/continuum-core/src/tool_parsing/parsers.rs
Labels: none

RAG improvements: identity prompts, prompt capture, garbage detection
  CLAUDE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/PromptCapture.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/ToolDefinitionsSource.ts
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/garbage_detection.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/types.rs
Labels: documentation, dependencies

Candle stability + RAG budget fixes + tool calling improvements
  src/debug/jtag/commands/ai/agent/server/AiAgentServerCommand.ts
  src/debug/jtag/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/commands/ai/thoughtstream/server/ThoughtStreamServerCommand.ts
  src/debug/jtag/commands/user/create/shared/UserCreateTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/server/AIProviderDaemonServer.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/PromptFormatters.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/builders/CodebaseRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/sources/CodeToolSource.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/ToolDefinitionsSource.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/config/PersonaModelConfigs.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/system/user/server/modules/being/LimbicSystem.ts
  src/debug/jtag/system/user/server/modules/being/MotorCortex.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/IDecisionAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/LLMAdapter.ts
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/log-viewer/LogViewerWidget.ts
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
  src/debug/jtag/workers/continuum-core/src/inference/quantized.rs
  src/debug/jtag/workers/continuum-core/src/tool_parsing/parsers.rs
Labels: dependencies

Provider-scoped ModelRegistry: fix cross-provider context window collisions
  src/debug/jtag/commands/media/resize/server/MediaResizeServerCommand.ts
  src/debug/jtag/commands/media/resize/shared/MediaResizeTypes.ts
  src/debug/jtag/commands/rag/budget/server/RAGBudgetServerCommand.ts
  src/debug/jtag/commands/rag/budget/shared/RAGBudgetTypes.ts
  src/debug/jtag/commands/rag/load/server/RAGLoadServerCommand.ts
  src/debug/jtag/commands/rag/load/shared/RAGLoadTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGBudgetManager.ts
  src/debug/jtag/system/rag/sources/ActivityContextSource.ts
  src/debug/jtag/system/rag/sources/GovernanceSource.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
  src/debug/jtag/system/shared/ModelRegistry.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: tests, dependencies

ModelCapabilities type system: enums and profiles for LoRA/PEFT/quantization
  src/debug/jtag/system/shared/ModelCapabilities.ts
  src/debug/jtag/system/shared/ModelRegistry.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: tests

Academy Dojo: dual-sentinel teacher/student architecture
  src/debug/jtag/commands/genome/academy-session/browser/GenomeAcademySessionBrowserCommand.ts
  src/debug/jtag/commands/genome/academy-session/package.json
  src/debug/jtag/commands/genome/academy-session/server/GenomeAcademySessionServerCommand.ts
  src/debug/jtag/commands/genome/academy-session/shared/GenomeAcademySessionTypes.ts
  src/debug/jtag/commands/genome/dataset-synthesize/browser/GenomeDatasetSynthesizeBrowserCommand.ts
  src/debug/jtag/commands/genome/dataset-synthesize/package.json
  src/debug/jtag/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
  src/debug/jtag/commands/genome/dataset-synthesize/shared/GenomeDatasetSynthesizeTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/personas/ACADEMY-DOJO-ARCHITECTURE.md
  src/debug/jtag/docs/sentinel-lora-training.md
  src/debug/jtag/system/genome/entities/AcademyCurriculumEntity.ts
  src/debug/jtag/system/genome/entities/AcademyExaminationEntity.ts
  src/debug/jtag/system/genome/entities/AcademySessionEntity.ts
  src/debug/jtag/system/genome/shared/AcademyTypes.ts
  src/debug/jtag/system/sentinel/pipelines/StudentPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/TeacherPipeline.ts
  src/debug/jtag/tests/integration/sentinel-lora-training.test.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/sentinel.ts
Labels: documentation, tests, dependencies

Sentinel interpolation engine: multi-pass nesting, JSON traversal, loop-relative refs
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/genome/academy-session/server/GenomeAcademySessionServerCommand.ts
  src/debug/jtag/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/ORMRustClient.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/shared/AcademyTypes.ts
  src/debug/jtag/system/sentinel/pipelines/StudentPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/TeacherPipeline.ts
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/interpolation.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/command.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/loop_step.rs
Labels: dependencies

Sentinel lifecycle: entity persistence, persona ownership, escalation to inbox
  src/debug/jtag/commands/genome/academy-session/server/GenomeAcademySessionServerCommand.ts
  src/debug/jtag/commands/sentinel/run/server/SentinelRunServerCommand.ts
  src/debug/jtag/commands/sentinel/run/shared/SentinelRunTypes.ts
  src/debug/jtag/commands/sentinel/save/server/SentinelSaveServerCommand.ts
  src/debug/jtag/commands/sentinel/save/shared/SentinelSaveTypes.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/docs/personas/ACADEMY-DOJO-ARCHITECTURE.md
  src/debug/jtag/docs/sentinel-lora-training.md
  src/debug/jtag/system/data/entities/TaskEntity.ts
  src/debug/jtag/system/sentinel/SentinelDefinition.ts
  src/debug/jtag/system/sentinel/SentinelEscalationService.ts
  src/debug/jtag/system/sentinel/entities/SentinelEntity.ts
  src/debug/jtag/system/sentinel/index.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: documentation, tests

Sentinel memory integration, trigger service, and pattern recall
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/system/data/entities/MemoryEntity.ts
  src/debug/jtag/system/sentinel/SentinelEscalationService.ts
  src/debug/jtag/system/sentinel/SentinelTriggerService.ts
  src/debug/jtag/system/sentinel/index.ts
  src/debug/jtag/system/user/server/modules/MemoryTypes.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: documentation, tests

Phenotype validation + quality gating for Academy student pipeline
  src/debug/jtag/commands/genome/phenotype-validate/package.json
  src/debug/jtag/commands/genome/phenotype-validate/server/GenomePhenotypeValidateServerCommand.ts
  src/debug/jtag/commands/genome/phenotype-validate/shared/GenomePhenotypeValidateTypes.ts
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/system/genome/shared/AcademyTypes.ts
  src/debug/jtag/system/sentinel/pipelines/StudentPipeline.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: documentation, tests, dependencies

Dynamic composition, LRU paging, and remediation loop
  src/debug/jtag/commands/genome/compose/package.json
  src/debug/jtag/commands/genome/compose/server/GenomeComposeServerCommand.ts
  src/debug/jtag/commands/genome/compose/shared/GenomeComposeTypes.ts
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/system/genome/shared/AcademyTypes.ts
  src/debug/jtag/system/genome/shared/GenomeAssemblyTypes.ts
  src/debug/jtag/system/sentinel/pipelines/StudentPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/TeacherPipeline.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: documentation, tests, dependencies

Multi-persona competition + gap analysis for Academy Phase D
  src/debug/jtag/commands/genome/academy-competition/package.json
  src/debug/jtag/commands/genome/academy-competition/server/GenomeAcademyCompetitionServerCommand.ts
  src/debug/jtag/commands/genome/academy-competition/shared/GenomeAcademyCompetitionTypes.ts
  src/debug/jtag/commands/genome/gap-analysis/package.json
  src/debug/jtag/commands/genome/gap-analysis/server/GenomeGapAnalysisServerCommand.ts
  src/debug/jtag/commands/genome/gap-analysis/shared/GenomeGapAnalysisTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/system/genome/entities/CompetitionEntity.ts
  src/debug/jtag/system/genome/shared/CompetitionTypes.ts
  src/debug/jtag/tests/unit/semantic-cognition.test.ts
Labels: documentation, tests, dependencies

Fix JTAGClient connection hang + Academy Dojo integration tests
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/connection-broker/shared/ConnectionBroker.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/tests/debug/ws-diagnostic.ts
  src/debug/jtag/tests/integration/sentinel-lora-training.test.ts
  src/debug/jtag/vitest.config.ts
Labels: tests, dependencies

Eliminate Academy Dojo technical debt: type safety, imports, READMEs
  src/debug/jtag/commands/genome/academy-competition/README.md
  src/debug/jtag/commands/genome/academy-competition/browser/GenomeAcademyCompetitionBrowserCommand.ts
  src/debug/jtag/commands/genome/academy-competition/server/GenomeAcademyCompetitionServerCommand.ts
  src/debug/jtag/commands/genome/academy-session/README.md
  src/debug/jtag/commands/genome/academy-session/server/GenomeAcademySessionServerCommand.ts
  src/debug/jtag/commands/genome/dataset-synthesize/README.md
  src/debug/jtag/system/genome/entities/AcademyCurriculumEntity.ts
  src/debug/jtag/system/genome/entities/AcademyExaminationEntity.ts
  src/debug/jtag/system/genome/entities/AcademySessionEntity.ts
Labels: documentation

Replace as-any casts with typed executors across all genome commands
  src/debug/jtag/commands/genome/compose/server/GenomeComposeServerCommand.ts
  src/debug/jtag/commands/genome/gap-analysis/server/GenomeGapAnalysisServerCommand.ts
  src/debug/jtag/commands/genome/paging-adapter-register/server/GenomePagingAdapterRegisterServerCommand.ts
  src/debug/jtag/commands/genome/train/server/GenomeTrainServerCommand.ts
Labels: none

Knowledge Synthesis system: source-agnostic learning + benchmarks
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/genome/dataset-synthesize/server/GenomeDatasetSynthesizeServerCommand.ts
  src/debug/jtag/commands/genome/dataset-synthesize/shared/GenomeDatasetSynthesizeTypes.ts
  src/debug/jtag/commands/interface/web/search/server/SearchRateLimiter.ts
  src/debug/jtag/commands/interface/web/search/server/WebSearchServerCommand.ts
  src/debug/jtag/docs/PRACTICAL-ROADMAP.md
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterTypes.ts
  src/debug/jtag/system/core/router/shared/RouterConstants.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/scripts/peft-train.py
  src/debug/jtag/system/genome/server/AdapterStore.ts
  src/debug/jtag/system/genome/shared/AcademyTypes.ts
  src/debug/jtag/system/genome/shared/KnowledgeTypes.ts
  src/debug/jtag/system/sentinel/pipelines/BenchmarkPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/KnowledgeExplorationPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/TeacherPipeline.ts
  src/debug/jtag/system/user/server/modules/being/LimbicSystem.ts
  src/debug/jtag/tests/integration/benchmark-generation.test.ts
  src/debug/jtag/tests/integration/knowledge-synthesis-repo.test.ts
  src/debug/jtag/tests/integration/lora-inference-improvement.test.ts
  src/debug/jtag/tests/integration/sentinel-multi-step-pipeline.test.ts
  src/debug/jtag/tests/integration/web-research-synthesis.test.ts
Labels: documentation, tests, dependencies

Route Python training through Rust sentinel process management
  src/debug/jtag/commands/genome/train/server/GenomeTrainServerCommand.ts
  src/debug/jtag/commands/genome/train/shared/GenomeTrainTypes.ts
  src/debug/jtag/system/genome/fine-tuning/server/BaseServerLoRATrainer.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/PEFTLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/shared/FineTuningTypes.ts
Labels: none

Async training architecture: SentinelEventBridge + dual-mode genome/train
  src/debug/jtag/commands/genome/train/server/GenomeTrainServerCommand.ts
  src/debug/jtag/commands/genome/train/shared/GenomeTrainTypes.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/PEFTLoRAAdapter.ts
  src/debug/jtag/system/genome/server/TrainingCompletionHandler.ts
  src/debug/jtag/system/sentinel/SentinelEventBridge.ts
  src/debug/jtag/system/sentinel/index.ts
Labels: none

Fix integration tests: sync pipeline mode, collection routing, response types
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/sentinel/run/server/SentinelRunServerCommand.ts
  src/debug/jtag/commands/sentinel/run/shared/SentinelRunTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/sentinel/pipelines/BenchmarkPipeline.ts
  src/debug/jtag/tests/integration/benchmark-generation.test.ts
  src/debug/jtag/tests/integration/genome-crud.test.ts
  src/debug/jtag/tests/integration/genome-fine-tuning-e2e.test.ts
  src/debug/jtag/tests/integration/knowledge-synthesis-repo.test.ts
  src/debug/jtag/tests/integration/recipe-load.test.ts
  src/debug/jtag/tests/integration/sentinel-multi-step-pipeline.test.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/sentinel.ts
Labels: tests, dependencies

Add LearningScheduler: RTOS-style periodic training coordinator
  src/debug/jtag/system/genome/server/LearningScheduler.ts
Labels: none

BenchmarkEntity + CodingChallengePipeline + sentinelExecute output fix
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/shared/generated-collection-constants.ts
  src/debug/jtag/system/data/entities/BenchmarkEntity.ts
  src/debug/jtag/system/data/entities/BenchmarkResultEntity.ts
  src/debug/jtag/system/sentinel/pipelines/BenchmarkPipeline.ts
  src/debug/jtag/system/sentinel/pipelines/CodingChallengePipeline.ts
  src/debug/jtag/tests/integration/benchmark-generation.test.ts
  src/debug/jtag/tests/integration/coding-challenge-benchmark.test.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/sentinel.ts
Labels: tests

claude forgot these
  src/debug/jtag/commands/sentinel/cancel/server/SentinelCancelServerCommand.ts
  src/debug/jtag/commands/sentinel/cancel/shared/SentinelCancelTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/PEFTLoRAAdapter.ts
  src/debug/jtag/system/sentinel/pipelines/KnowledgeExplorationPipeline.ts
Labels: dependencies

Fix RAG token budget and eliminate fallback defaults across AI pipeline
  src/debug/jtag/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/debug/jtag/commands/ai/generate/shared/AIGenerateTypes.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/commands/ai/thoughtstream/server/ThoughtStreamServerCommand.ts
  src/debug/jtag/commands/ai/thoughtstream/shared/ThoughtStreamTypes.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/config/PersonaModelConfigs.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/SignalDetector.ts
Labels: none

Token budget enforcement: replace guessed message counts with actual token accumulation
  src/system/rag/builders/ChatRAGBuilder.ts
  src/system/rag/sources/ConversationHistorySource.ts
Labels: none

Consolidate overflow conversation history instead of silently dropping it
  src/system/rag/sources/ConversationHistorySource.ts
Labels: none

Fix persona stuck on failed messages: always advance bookmark
  src/system/user/server/modules/PersonaAutonomousLoop.ts
Labels: none

Startup speed + event filtering + memory leak fixes
  src/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/daemons/user-daemon/server/UserDaemonServer.ts
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/shared/version.ts
  src/system/core/client/shared/JTAGClient.ts
  src/system/core/shared/Events.ts
  src/system/core/shared/ResponseCorrelator.ts
  src/system/user/server/PersonaUser.ts
  src/widgets/browser/services/WidgetEventServiceBrowser.ts
  src/widgets/shared/BaseContentWidget.ts
  src/widgets/shared/BaseWidget.ts
Labels: dependencies

significant logging reliabiilty and speed improvements
  src/daemons/events-daemon/shared/EventsDaemon.ts
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/shared/ipc/logger/LoggerMessageTypes.ts
  src/shared/ipc/logger/LoggerWorkerClient.ts
  src/shared/version.ts
  src/system/core/logging/ComponentLogger.ts
  src/system/core/logging/LogBatcher.ts
  src/system/core/logging/Logger.ts
  src/system/user/server/modules/PersonaAutonomousLoop.ts
  src/system/user/server/modules/PersonaTaskExecutor.ts
  src/workers/continuum-core/src/modules/logger.rs
Labels: dependencies

UserEntityCache + reduced monitoring: eliminate 515 ORM timeouts
  src/daemons/session-daemon/server/SessionDaemonServer.ts
  src/daemons/user-daemon/server/UserDaemonServer.ts
  src/system/user/server/CallerDetector.ts
  src/system/user/server/UserEntityCache.ts
Labels: none

Health check exponential backoff + log throttling for failing providers
  src/daemons/ai-provider-daemon/server/AdapterHealthMonitor.ts
  src/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/shared/version.ts
Labels: dependencies

Log hygiene: eliminate 87% of npm-start.log noise (7596 → 936 lines)
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/daemons/data-daemon/server/ORMRustClient.ts
  src/daemons/data-daemon/shared/ORMLogger.ts
  src/daemons/events-daemon/shared/EventsDaemon.ts
  src/daemons/session-daemon/server/SessionDaemonServer.ts
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/shared/version.ts
  src/system/core/client/server/JTAGClientServer.ts
  src/system/core/shared/TimingHarness.ts
  src/system/resources/shared/ResourceManager.ts
  src/system/voice/server/AIAudioInjector.ts
Labels: dependencies

Remove EntityScroller debug logging that spams browser console
  src/widgets/shared/EntityScroller.ts
Labels: none

Startup speed, event filtering, log hygiene & reliability (#272)
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/daemons/ai-provider-daemon/server/AdapterHealthMonitor.ts
  src/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/daemons/data-daemon/server/ORMRustClient.ts
  src/daemons/data-daemon/shared/ORMLogger.ts
  src/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/daemons/events-daemon/shared/EventsDaemon.ts
  src/daemons/session-daemon/server/SessionDaemonServer.ts
  src/daemons/user-daemon/server/UserDaemonServer.ts
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/shared/ipc/logger/LoggerMessageTypes.ts
  src/shared/ipc/logger/LoggerWorkerClient.ts
  src/shared/version.ts
  src/system/core/client/server/JTAGClientServer.ts
  src/system/core/client/shared/JTAGClient.ts
  src/system/core/logging/ComponentLogger.ts
  src/system/core/logging/LogBatcher.ts
  src/system/core/logging/Logger.ts
  src/system/core/shared/Events.ts
  src/system/core/shared/ResponseCorrelator.ts
  src/system/core/shared/TimingHarness.ts
  src/system/resources/shared/ResourceManager.ts
  src/system/user/server/CallerDetector.ts
  src/system/user/server/PersonaUser.ts
  src/system/user/server/UserEntityCache.ts
  src/system/user/server/modules/PersonaAutonomousLoop.ts
  src/system/user/server/modules/PersonaTaskExecutor.ts
  src/system/voice/server/AIAudioInjector.ts
  src/widgets/browser/services/WidgetEventServiceBrowser.ts
  src/widgets/shared/BaseContentWidget.ts
  src/widgets/shared/BaseWidget.ts
  src/widgets/shared/EntityScroller.ts
  src/workers/continuum-core/src/modules/logger.rs
Labels: dependencies

Kokoro TTS E2E: tokenizer fix, VAD model path, ordered TTS registry
  src/generated-command-schemas.json
  src/package-lock.json
  src/package.json
  src/scripts/download-voice-models.sh
  src/shared/version.ts
  src/workers/continuum-core/src/voice/mixer.rs
  src/workers/continuum-core/src/voice/tts/kokoro.rs
  src/workers/continuum-core/src/voice/tts/mod.rs
  src/workers/continuum-core/src/voice/vad/production.rs
  src/workers/continuum-core/src/voice/vad/silero_raw.rs
Labels: dependencies
