Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Tray: number inside ring icon, SVG data URL rendering
  bin/tray/main.js
Labels: none

Tray: fix icon rendering — offscreen BrowserWindow SVG→PNG
  bin/tray/main.js
Labels: none

Tray: click shows menu, doesn't auto-open browser
  bin/tray/main.js
Labels: none

Tray: pluggable menu section registry
  bin/tray/main.js
Labels: none

continuum is always lowercase
  bin/tray/main.js
Labels: none

Tray: HAL 9000 eye — ring + glowing center dot, color = mood
  bin/tray/main.js
Labels: none

Tray: strip ANSI from CLI output — fixes grid node parsing
  bin/tray/main.js
Labels: none

Onboarding: auto Tailscale grid setup, zero manual config (#823)
  bin/tray/main.js
  docker-compose.yml
  setup.sh
Labels: none

Tray: native Swift, JSON-driven, no Electron
  bin/continuum
  bin/tray/.gitignore
  bin/tray/ContinuumTray.swift
  bin/tray/continuum-tray
  bin/tray/main.js
  bin/tray/package.json
  setup.sh
Labels: dependencies

README: the Plaything — whatever hardware you have, self-organizing
  README.md
  docs/images/plaything-grid.png
Labels: documentation

Tray: native Swift + JSON-driven menu from continuum CLI (#824)
  README.md
  bin/continuum
  bin/tray/.gitignore
  bin/tray/ContinuumTray.swift
  bin/tray/continuum-tray
  bin/tray/main.js
  bin/tray/package.json
  docs/images/plaything-grid.png
  setup.sh
Labels: documentation, dependencies

Credit Black Mirror for Plaything image
  README.md
Labels: documentation

Credit Black Mirror for Plaything image (#825)
  README.md
Labels: documentation

README: Discord link in Getting Started
  README.md
Labels: documentation

README: Discord link in Getting Started (#826)
  README.md
Labels: documentation

README: AI personas on Discord coming soon
  README.md
Labels: documentation

README: AI personas on Discord coming soon (#828)
  README.md
Labels: documentation

Fix 6 broken things for public users
  .env.example
  bin/continuum
  setup.sh
Labels: none

Fix duplicate tabs: deduplicate on initialize and update
  src/system/state/ContentStateService.ts
Labels: none

Docker: fix IPC socket failure on macOS — tmpfs + specific mounts
  docker-compose.yml
Labels: none

Public user fixes: setup.sh, hardcoded names, duplicate tabs, keychain (#831)
  .env.example
  bin/continuum
  docker-compose.yml
  setup.sh
  src/system/state/ContentStateService.ts
Labels: none

Universe widget: rename user-facing Theme → Universe
  src/widgets/shared/public/universe-widget.html
Labels: none

Universe widget: rename user-facing Theme → Universe (#835)
  src/widgets/shared/public/universe-widget.html
Labels: none

Per-entity widget instances — each room gets its own chat widget
  src/widgets/main/MainWidget.ts
Labels: none

Per-entity widget instances — each room gets its own chat widget (#836)
  src/widgets/main/MainWidget.ts
Labels: none

Paper stub: Validated Structured Pruning for Consumer Hardware
  docs/papers/VALIDATED-TENSOR-SURGERY.md
Labels: documentation

Paper: bugs table and Layer 4 update
  docs/papers/VALIDATED-TENSOR-SURGERY.md
Labels: documentation

Papers: write down 5 findings into both experiential and validated-pruning
  docs/papers/EXPERIENTIAL-PLASTICITY.md
  docs/papers/VALIDATED-TENSOR-SURGERY.md
Labels: documentation

Papers + kash-feedback: gpt2 OUTCOME D, four-metric finding, Layer 6
  docs/papers/EXPERIENTIAL-PLASTICITY.md
  docs/papers/VALIDATED-TENSOR-SURGERY.md
  kash-feedback.md
Labels: documentation

PLASTICITY-COMPACTION: §4.1.4.2 per-tier negative result + §4.1.5 distillation-first pivot
  docs/hf-deprecation-notices/qwen2.5-coder-14b-compacted-DEPRECATION.md
  docs/papers/NEUROPLASTIC-SUBSTRATE.md
  docs/papers/PLASTICITY-COMPACTION.md
Labels: documentation

PLASTICITY-COMPACTION §4.1.3.4 + forge template architecture rule
  CLAUDE.md
  docs/papers/PLASTICITY-COMPACTION.md
Labels: documentation

Paper stub: Validated Structured Pruning for Consumer Hardware (#840)
  CLAUDE.md
  docs/hf-deprecation-notices/qwen2.5-coder-14b-compacted-DEPRECATION.md
  docs/papers/EXPERIENTIAL-PLASTICITY.md
  docs/papers/NEUROPLASTIC-SUBSTRATE.md
  docs/papers/PLASTICITY-COMPACTION.md
  docs/papers/VALIDATED-TENSOR-SURGERY.md
  kash-feedback.md
Labels: documentation

PLASTICITY-COMPACTION §4.1.3.4: second empirical anchor + §4.1.3.4.1 discipline gate
  docs/papers/PLASTICITY-COMPACTION.md
Labels: documentation

PLASTICITY-COMPACTION §4.1.3.4: second empirical anchor + §4.1.3.4.1 discipline gate
  docs/papers/PLASTICITY-COMPACTION.md
Labels: documentation

PLASTICITY-COMPACTION §4.1.3.4: second empirical anchor + §4.1.3.4.1 discipline gate (#850)
  docs/papers/PLASTICITY-COMPACTION.md
Labels: documentation

docs: forge-alloy domain extensibility refactor proposal
  docs/architecture/FORGE-ALLOY-DOMAIN-EXTENSIBILITY.md
Labels: documentation

docs: forge-alloy domain extensibility refactor proposal (#851)
  docs/architecture/FORGE-ALLOY-DOMAIN-EXTENSIBILITY.md
Labels: documentation

docs: cross-reference plugin sprint design doc
  docs/architecture/FORGE-ALLOY-DOMAIN-EXTENSIBILITY.md
Labels: documentation

docs: factory pipeline UI — backend BigMama production loop section
  docs/architecture/FACTORY-PIPELINE-UI.md
Labels: documentation

docs: factory pipeline — assembly-line stations + shipping department boundary
  docs/architecture/FACTORY-PIPELINE-UI.md
Labels: documentation
