Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(ai): AircRemoteInferenceAdapter — cross-grid inference as a first-class AIProviderAdapter (task #108 slice C)
  core/continuum-core/src/ai/airc_remote_adapter.rs
  core/continuum-core/src/ai/mod.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
Labels: none

polish(ai): R2+R3 LGTM-WITH-NOTES — dedupe build_headers, fix mod-doc, harden integration test
  core/continuum-core/src/inference/airc_remote/mod.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
Labels: none

fix(tools): inline dotenv.parse in generate-config — kill canary CI breakage from layout sweep
  tools/generator/generate-config.ts
Labels: none

fix(tools): inline dotenv.parse in generate-config — kill canary CI breakage from layout sweep (#1562)
  tools/generator/generate-config.ts
Labels: none

test(airc-remote): end-to-end integration through real substrate stack (task #118 slice E)
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
Labels: none

polish(test): R1 LGTM-WITH-NOTES on PR #1563 — tighten error-path + missing-module assertions
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
Labels: none

test(airc-remote): end-to-end integration through real substrate stack (task #118) (#1563)
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
Labels: none

feat(apps/cli): reconcile `ctm generate` back onto canary + extend `grid-smoke` v1 + wire-contract test
  apps/cli/README.md
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
  core/continuum-core/tests/cli_wire_contract.rs
Labels: documentation

feat(apps/cli): reconcile `ctm generate` back onto canary + extend `grid-smoke` v1 + wire-contract test (#1564)
  apps/cli/README.md
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
  core/continuum-core/tests/cli_wire_contract.rs
Labels: documentation

fix(substrate): strip hardware identity (5090, joels-) from today's code + docs
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
  core/continuum-core/src/inference/airc_remote/adapter.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
Labels: none

fix(substrate): strip hardware identity (5090, joels-) from today's code + docs (#1565)
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
  core/continuum-core/src/inference/airc_remote/adapter.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
Labels: none

docs(cli): note ctm = continuum-with-vowels-removed so the next person doesn't have to ask
  apps/cli/Cargo.toml
  apps/cli/README.md
Labels: documentation

docs(cli): note ctm = continuum-with-vowels-removed so the next person doesn't have to ask (#1566)
  apps/cli/Cargo.toml
  apps/cli/README.md
Labels: documentation

feat(persona): PersonaCommandInboundPump — pump module for cross-grid command dispatch (install module; bootstrap wiring follows in #222)
  core/continuum-core/src/persona/command_inbound_pump.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/tests/persona_command_inbound_pump.rs
Labels: none

feat(persona): PersonaCommandInboundPump — pump module for cross-grid command dispatch (install module; bootstrap wiring follows in #222) (#1567)
  core/continuum-core/src/persona/command_inbound_pump.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/tests/persona_command_inbound_pump.rs
Labels: none

feat(persona): wire PersonaCommandInboundPump into bootstrap — the install actually runs in prod now (task #222)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/persona_instance_manager.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/command_inbound_pump.rs
Labels: none

feat(persona): wire PersonaCommandInboundPump into bootstrap — the install actually runs in prod now (task #222) (#1568)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/persona_instance_manager.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/command_inbound_pump.rs
Labels: none

refactor(executor): eliminate GLOBAL_EXECUTOR — pure DI via ServiceModule::install_executor (task #224)
  core/continuum-core/src/cognition/vision_describe.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/transport/livekit_agent.rs
  core/continuum-core/src/modules/ai_provider.rs
  core/continuum-core/src/modules/channel.rs
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/cognition.rs
  core/continuum-core/src/modules/grid/connection.rs
  core/continuum-core/src/modules/grid/mod.rs
  core/continuum-core/src/modules/persona_instance_manager.rs
  core/continuum-core/src/modules/sentinel/executor.rs
  core/continuum-core/src/modules/sentinel/mod.rs
  core/continuum-core/src/modules/sentinel/steps/approve.rs
  core/continuum-core/src/modules/sentinel/steps/coding_agent.rs
  core/continuum-core/src/modules/sentinel/steps/command.rs
  core/continuum-core/src/modules/sentinel/steps/condition.rs
  core/continuum-core/src/modules/sentinel/steps/emit.rs
  core/continuum-core/src/modules/sentinel/steps/llm.rs
  core/continuum-core/src/modules/sentinel/steps/loop_step.rs
  core/continuum-core/src/modules/sentinel/steps/parallel.rs
  core/continuum-core/src/modules/sentinel/steps/sentinel.rs
  core/continuum-core/src/modules/sentinel/steps/shell.rs
  core/continuum-core/src/modules/sentinel/steps/watch.rs
  core/continuum-core/src/modules/sentinel/steps/web_research.rs
  core/continuum-core/src/modules/sentinel/types.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/runtime/command_executor.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/registry.rs
  core/continuum-core/src/runtime/service_module.rs
Labels: none

refactor(executor): eliminate GLOBAL_EXECUTOR — pure DI via ServiceModule::install_executor (task #224) (#1569)
  core/continuum-core/src/cognition/vision_describe.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/transport/livekit_agent.rs
  core/continuum-core/src/modules/ai_provider.rs
  core/continuum-core/src/modules/channel.rs
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/cognition.rs
  core/continuum-core/src/modules/grid/connection.rs
  core/continuum-core/src/modules/grid/mod.rs
  core/continuum-core/src/modules/persona_instance_manager.rs
  core/continuum-core/src/modules/sentinel/executor.rs
  core/continuum-core/src/modules/sentinel/mod.rs
  core/continuum-core/src/modules/sentinel/steps/approve.rs
  core/continuum-core/src/modules/sentinel/steps/coding_agent.rs
  core/continuum-core/src/modules/sentinel/steps/command.rs
  core/continuum-core/src/modules/sentinel/steps/condition.rs
  core/continuum-core/src/modules/sentinel/steps/emit.rs
  core/continuum-core/src/modules/sentinel/steps/llm.rs
  core/continuum-core/src/modules/sentinel/steps/loop_step.rs
  core/continuum-core/src/modules/sentinel/steps/parallel.rs
  core/continuum-core/src/modules/sentinel/steps/sentinel.rs
  core/continuum-core/src/modules/sentinel/steps/shell.rs
  core/continuum-core/src/modules/sentinel/steps/watch.rs
  core/continuum-core/src/modules/sentinel/steps/web_research.rs
  core/continuum-core/src/modules/sentinel/types.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/runtime/command_executor.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/registry.rs
  core/continuum-core/src/runtime/service_module.rs
Labels: none

refactor(sentinel): port sentinel/escalate to pure Rust — kill the TS round-trip (task #225, Stage B PR 1/3)
  core/continuum-core/src/modules/sentinel/escalation.rs
  core/continuum-core/src/modules/sentinel/mod.rs
  core/continuum-core/src/modules/sentinel/types.rs
  protocol/typescript/sentinel/EscalationAction.ts
  protocol/typescript/sentinel/EscalationCondition.ts
  protocol/typescript/sentinel/EscalationPriority.ts
  protocol/typescript/sentinel/EscalationRule.ts
  protocol/typescript/sentinel/SentinelEscalation.ts
  src/browser/generated.ts
  src/commands/sentinel/escalate/browser/SentinelEscalateBrowserCommand.ts
  src/commands/sentinel/escalate/package.json
  src/commands/sentinel/escalate/server/SentinelEscalateServerCommand.ts
  src/commands/sentinel/escalate/shared/SentinelEscalateTypes.ts
  src/server/generated.ts
  src/shared/generated-command-constants.ts
  src/system/sentinel/SentinelEscalationService.ts
  src/system/sentinel/index.ts
  src/system/user/server/PersonaInboxRegistry.ts
  src/system/user/server/modules/PersonaTaskExecutor.ts
  src/system/user/server/modules/QueueItemTypes.ts
Labels: dependencies

refactor(transport): delete dead livekit_agent.rs + stub (task #226, Stage B PR 2/3)
  core/continuum-core/src/concurrency/mod.rs
  core/continuum-core/src/live/transport/livekit_agent.rs
  core/continuum-core/src/live/transport/livekit_agent_stub.rs
  core/continuum-core/src/live/transport/mod.rs
Labels: none

refactor(channel): delete dead genome/job-create training trigger (task #227, Stage B PR 3/3)
  core/continuum-core/src/modules/channel.rs
  protocol/typescript/runtime/ChannelTickConfig.ts
Labels: none

refactor(sentinel): port sentinel/escalate to pure Rust — kill the TS round-trip (task #225, Stage B PR 1/3) (#1570)
  core/continuum-core/src/modules/sentinel/escalation.rs
  core/continuum-core/src/modules/sentinel/mod.rs
  core/continuum-core/src/modules/sentinel/types.rs
  protocol/typescript/sentinel/EscalationAction.ts
  protocol/typescript/sentinel/EscalationCondition.ts
  protocol/typescript/sentinel/EscalationPriority.ts
  protocol/typescript/sentinel/EscalationRule.ts
  protocol/typescript/sentinel/SentinelEscalation.ts
  src/browser/generated.ts
  src/commands/sentinel/escalate/browser/SentinelEscalateBrowserCommand.ts
  src/commands/sentinel/escalate/package.json
  src/commands/sentinel/escalate/server/SentinelEscalateServerCommand.ts
  src/commands/sentinel/escalate/shared/SentinelEscalateTypes.ts
  src/server/generated.ts
  src/shared/generated-command-constants.ts
  src/system/sentinel/SentinelEscalationService.ts
  src/system/sentinel/index.ts
  src/system/user/server/PersonaInboxRegistry.ts
  src/system/user/server/modules/PersonaTaskExecutor.ts
  src/system/user/server/modules/QueueItemTypes.ts
Labels: dependencies

refactor(transport): delete dead livekit_agent.rs + stub (task #226, Stage B PR 2/3) (#1571)
  core/continuum-core/src/concurrency/mod.rs
  core/continuum-core/src/live/transport/livekit_agent.rs
  core/continuum-core/src/live/transport/livekit_agent_stub.rs
  core/continuum-core/src/live/transport/mod.rs
Labels: none

refactor(channel): delete dead genome/job-create training trigger (task #227, Stage B PR 3/3) (#1572)
  core/continuum-core/src/modules/channel.rs
  protocol/typescript/runtime/ChannelTickConfig.ts
Labels: none

feat(model_registry): add Mistral provider + flagship models — closes the last cloud-inference gap
  core/continuum-core/src/model_registry/catalog.rs
  core/continuum-core/src/model_registry/types.rs
  core/continuum-core/src/modules/ai_provider.rs
  protocol/typescript/model_registry/Arch.ts
Labels: none

feat(model_registry): add Mistral provider + flagship models — closes the last cloud-inference gap (#1573)
  core/continuum-core/src/model_registry/catalog.rs
  core/continuum-core/src/model_registry/types.rs
  core/continuum-core/src/modules/ai_provider.rs
  protocol/typescript/model_registry/Arch.ts
Labels: none

feat(genome): fine-tuning subsystem — trait + types + registry + OpenAI adapter (task #230, Stage 1)
  core/continuum-core/Cargo.toml
  core/continuum-core/src/genome/fine_tuning/adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/openai_adapter.rs
  core/continuum-core/src/genome/fine_tuning/registry.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/genome/mod.rs
  protocol/typescript/genome/fine_tuning/JobHandle.ts
  protocol/typescript/genome/fine_tuning/JobMetrics.ts
  protocol/typescript/genome/fine_tuning/LoRAHyperparams.ts
  protocol/typescript/genome/fine_tuning/ScheduleParams.ts
  protocol/typescript/genome/fine_tuning/TrainingArtifact.ts
  protocol/typescript/genome/fine_tuning/TrainingDataset.ts
  protocol/typescript/genome/fine_tuning/TrainingExample.ts
  protocol/typescript/genome/fine_tuning/TrainingJobRequest.ts
  protocol/typescript/genome/fine_tuning/TrainingSource.ts
  protocol/typescript/genome/fine_tuning/TrainingStatus.ts
Labels: none

feat(genome): FineTuningCoordinator + GenomeModule + LocalCandleFineTuner skeleton — the unification
  core/continuum-core/src/genome/fine_tuning/coordinator.rs
  core/continuum-core/src/genome/fine_tuning/local_candle_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/genome.rs
  core/continuum-core/src/modules/mod.rs
Labels: none

feat(genome): fine-tuning subsystem — trait + coordinator + ServiceModule + OpenAI + local skeleton (task #230) (#1574)
  core/continuum-core/Cargo.toml
  core/continuum-core/src/genome/fine_tuning/adapter.rs
  core/continuum-core/src/genome/fine_tuning/coordinator.rs
  core/continuum-core/src/genome/fine_tuning/local_candle_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/openai_adapter.rs
  core/continuum-core/src/genome/fine_tuning/registry.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/genome/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/genome.rs
  core/continuum-core/src/modules/mod.rs
  protocol/typescript/genome/fine_tuning/JobHandle.ts
  protocol/typescript/genome/fine_tuning/JobMetrics.ts
  protocol/typescript/genome/fine_tuning/LoRAHyperparams.ts
  protocol/typescript/genome/fine_tuning/ScheduleParams.ts
  protocol/typescript/genome/fine_tuning/TrainingArtifact.ts
  protocol/typescript/genome/fine_tuning/TrainingDataset.ts
  protocol/typescript/genome/fine_tuning/TrainingExample.ts
  protocol/typescript/genome/fine_tuning/TrainingJobRequest.ts
  protocol/typescript/genome/fine_tuning/TrainingSource.ts
  protocol/typescript/genome/fine_tuning/TrainingStatus.ts
Labels: none

feat(genome): LoRA math foundation — trainable A/B module with paper-spec init + autograd (task #231)
  core/continuum-core/src/genome/fine_tuning/lora_module.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
Labels: none

feat(genome): LoRA math foundation — trainable A/B module with paper-spec init + autograd (task #231) (#1575)
  core/continuum-core/src/genome/fine_tuning/lora_module.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
Labels: none

feat(genome): LoRA training loop — DataLoader + AdamW + cross-entropy (task #232)
  Cargo.lock
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/training_loop.rs
Labels: none

feat(genome): LoRA training loop — DataLoader + AdamW + cross-entropy (task #232) (#1576)
  Cargo.lock
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/training_loop.rs
Labels: none

feat(genome): LocalCandleFineTuner end-to-end — job actor + safetensors output (task #233)
  core/continuum-core/src/genome/fine_tuning/byte_tokenizer.rs
  core/continuum-core/src/genome/fine_tuning/job_actor.rs
  core/continuum-core/src/genome/fine_tuning/local_candle_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/safetensors_io.rs
Labels: none

feat(genome): LocalCandleFineTuner end-to-end — job actor + safetensors output (task #233) (#1577)
  core/continuum-core/src/genome/fine_tuning/byte_tokenizer.rs
  core/continuum-core/src/genome/fine_tuning/job_actor.rs
  core/continuum-core/src/genome/fine_tuning/local_candle_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/safetensors_io.rs
Labels: none

test(genome): VDD pass — math-accuracy tests for LoRA stack (task #234)
  core/continuum-core/src/genome/fine_tuning/lora_module.rs
  core/continuum-core/src/genome/fine_tuning/safetensors_io.rs
  core/continuum-core/src/genome/fine_tuning/training_loop.rs
Labels: none

test(genome): VDD pass — math-accuracy tests for LoRA stack (task #234) (#1578)
  core/continuum-core/src/genome/fine_tuning/lora_module.rs
  core/continuum-core/src/genome/fine_tuning/safetensors_io.rs
  core/continuum-core/src/genome/fine_tuning/training_loop.rs
Labels: none

feat(genome): TrainingTriggerModule — substrate-native batching coordinator (task #228)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/mod.rs
  core/continuum-core/src/modules/training_trigger.rs
Labels: none

feat(genome): TrainingTriggerModule — substrate-native batching coordinator (task #228) (#1579)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/mod.rs
  core/continuum-core/src/modules/training_trigger.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
