Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

bug in claude using jtagsystem
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.info.json
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.log
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.log.json
  .continuum/sessions/validation/run_fd193147d81f/logs/server.log
  .continuum/sessions/validation/run_fd193147d81f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/body-test.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/content-test.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/screenshot-1755459480965.png
  .continuum/sessions/validation/run_fd193147d81f/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.979.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tests/integration/browser-server-event-flow.test.ts
  src/debug/jtag/tests/integration/chat-widget-room-events.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

bug in claude using jtagsystem
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.info.json
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.log
  .continuum/sessions/validation/run_fd193147d81f/logs/browser.log.json
  .continuum/sessions/validation/run_fd193147d81f/logs/server.log
  .continuum/sessions/validation/run_fd193147d81f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/body-test.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/content-test.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_fd193147d81f/screenshots/screenshot-1755459480965.png
  .continuum/sessions/validation/run_fd193147d81f/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.979.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tests/integration/browser-server-event-flow.test.ts
  src/debug/jtag/tests/integration/chat-widget-room-events.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

command and event fixes
  .continuum/sessions/validation/run_370451c7090c/logs/browser.info.json
  .continuum/sessions/validation/run_370451c7090c/logs/browser.log
  .continuum/sessions/validation/run_370451c7090c/logs/browser.log.json
  .continuum/sessions/validation/run_370451c7090c/logs/server.log
  .continuum/sessions/validation/run_370451c7090c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/body-test.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/content-test.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/screenshot-1755469347291.png
  .continuum/sessions/validation/run_370451c7090c/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/browser/ChatSendMessageBrowserCommand.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1003.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/cross-environment-events-working.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

command and event fixes
  .continuum/sessions/validation/run_370451c7090c/logs/browser.info.json
  .continuum/sessions/validation/run_370451c7090c/logs/browser.log
  .continuum/sessions/validation/run_370451c7090c/logs/browser.log.json
  .continuum/sessions/validation/run_370451c7090c/logs/server.log
  .continuum/sessions/validation/run_370451c7090c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/body-test.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/content-test.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_370451c7090c/screenshots/screenshot-1755469347291.png
  .continuum/sessions/validation/run_370451c7090c/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/browser/ChatSendMessageBrowserCommand.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1003.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/cross-environment-events-working.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

events might be working
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.info.json
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.log
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.log.json
  .continuum/sessions/validation/run_992399b0ba06/logs/server.log
  .continuum/sessions/validation/run_992399b0ba06/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/body-test.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/content-test.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/screenshot-1755485764999.png
  .continuum/sessions/validation/run_992399b0ba06/session-info.json
  src/debug/jtag/TEST-REFINEMENT-SUMMARY.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1003.tgz
  src/debug/jtag/continuum-jtag-1.0.1009.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/priority/MessagePriorityStrategy.ts
  src/debug/jtag/tests/integration/chat-event-integration.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tests/integration/event-system-comprehensive.test.ts
  src/debug/jtag/tests/shared/EventTestUtilities.ts
  src/debug/jtag/tests/unit/event-system-refined.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

events might be working
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.info.json
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.log
  .continuum/sessions/validation/run_992399b0ba06/logs/browser.log.json
  .continuum/sessions/validation/run_992399b0ba06/logs/server.log
  .continuum/sessions/validation/run_992399b0ba06/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/body-test.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/content-test.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_992399b0ba06/screenshots/screenshot-1755485764999.png
  .continuum/sessions/validation/run_992399b0ba06/session-info.json
  src/debug/jtag/TEST-REFINEMENT-SUMMARY.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1003.tgz
  src/debug/jtag/continuum-jtag-1.0.1009.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/priority/MessagePriorityStrategy.ts
  src/debug/jtag/tests/integration/chat-event-integration.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tests/integration/event-system-comprehensive.test.ts
  src/debug/jtag/tests/shared/EventTestUtilities.ts
  src/debug/jtag/tests/unit/event-system-refined.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

fixes for events
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.info.json
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.log
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.log.json
  .continuum/sessions/validation/run_dcaec54994de/logs/server.log
  .continuum/sessions/validation/run_dcaec54994de/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/body-test.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/content-test.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/screenshot-1755487711771.png
  .continuum/sessions/validation/run_dcaec54994de/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1009.tgz
  src/debug/jtag/continuum-jtag-1.0.1012.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/priority/MessagePriorityStrategy.ts
  src/debug/jtag/system/events/shared/EventSystemConstants.ts
  src/debug/jtag/system/events/shared/EventSystemTypes.ts
  src/debug/jtag/tests/integration/event-system-supertest.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

fixes for events
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.info.json
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.log
  .continuum/sessions/validation/run_dcaec54994de/logs/browser.log.json
  .continuum/sessions/validation/run_dcaec54994de/logs/server.log
  .continuum/sessions/validation/run_dcaec54994de/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/body-test.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/content-test.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_dcaec54994de/screenshots/screenshot-1755487711771.png
  .continuum/sessions/validation/run_dcaec54994de/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1009.tgz
  src/debug/jtag/continuum-jtag-1.0.1012.tgz
  src/debug/jtag/daemons/events-daemon/shared/EventsDaemon.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/router/shared/priority/MessagePriorityStrategy.ts
  src/debug/jtag/system/events/shared/EventSystemConstants.ts
  src/debug/jtag/system/events/shared/EventSystemTypes.ts
  src/debug/jtag/tests/integration/event-system-supertest.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

fixed event tests
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.info.json
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.log
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.log.json
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/server.log
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/body-test.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/content-test.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/screenshot-1755489458642.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1012.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/events/shared/EventSystemTypes.ts
  src/debug/jtag/tests/integration/cross-environment-events-working.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tests/integration/event-system-supertest.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

fixed event tests
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.info.json
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.log
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/browser.log.json
  .continuum/sessions/validation/run_6dfe0fd3cc0b/logs/server.log
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/body-test.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/content-test.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/screenshots/screenshot-1755489458642.png
  .continuum/sessions/validation/run_6dfe0fd3cc0b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1012.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/events/shared/EventSystemTypes.ts
  src/debug/jtag/tests/integration/cross-environment-events-working.test.ts
  src/debug/jtag/tests/integration/cross-environment-events.test.ts
  src/debug/jtag/tests/integration/event-system-supertest.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

cleanup
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.info.json
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.log
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.log.json
  .continuum/sessions/validation/run_f07ce7605335/logs/server.log
  .continuum/sessions/validation/run_f07ce7605335/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/body-test.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/content-test.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/screenshot-1755492149949.png
  .continuum/sessions/validation/run_f07ce7605335/session-info.json
  src/debug/jtag/AI_PROBLEM_SOLVING_GUIDE.md
  src/debug/jtag/AI_QUICK_REFERENCE.md
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/EVENT_SYSTEM_MODULARIZATION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1016.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/events/shared/EventTestUtils.ts
  src/debug/jtag/system/events/shared/EventValidationPatterns.ts
  src/debug/jtag/tests/integration/event-system-modular-validation.test.ts
  src/debug/jtag/tests/shared/EventTestRunner.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

cleanup
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.info.json
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.log
  .continuum/sessions/validation/run_f07ce7605335/logs/browser.log.json
  .continuum/sessions/validation/run_f07ce7605335/logs/server.log
  .continuum/sessions/validation/run_f07ce7605335/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/body-test.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/content-test.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_f07ce7605335/screenshots/screenshot-1755492149949.png
  .continuum/sessions/validation/run_f07ce7605335/session-info.json
  src/debug/jtag/AI_PROBLEM_SOLVING_GUIDE.md
  src/debug/jtag/AI_QUICK_REFERENCE.md
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/EVENT_SYSTEM_MODULARIZATION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1016.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/events/shared/EventTestUtils.ts
  src/debug/jtag/system/events/shared/EventValidationPatterns.ts
  src/debug/jtag/tests/integration/event-system-modular-validation.test.ts
  src/debug/jtag/tests/shared/EventTestRunner.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

good tests
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.info.json
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.log
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.log.json
  .continuum/sessions/validation/run_e8d422cc4e37/logs/server.log
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/body-test.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/content-test.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/screenshot-1755542935929.png
  .continuum/sessions/validation/run_e8d422cc4e37/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1022.tgz
  src/debug/jtag/continuum-jtag-1.0.1024.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-comprehensive-tests.sh
  src/debug/jtag/scripts/test-category-demo-final.sh
  src/debug/jtag/tsconfig.json
Labels: dependencies

good tests
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.info.json
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.log
  .continuum/sessions/validation/run_e8d422cc4e37/logs/browser.log.json
  .continuum/sessions/validation/run_e8d422cc4e37/logs/server.log
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/body-test.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/content-test.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e8d422cc4e37/screenshots/screenshot-1755542935929.png
  .continuum/sessions/validation/run_e8d422cc4e37/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1022.tgz
  src/debug/jtag/continuum-jtag-1.0.1024.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-comprehensive-tests.sh
  src/debug/jtag/scripts/test-category-demo-final.sh
  src/debug/jtag/tsconfig.json
Labels: dependencies

categorization of tests
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.info.json
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.log
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.log.json
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/server.log
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/body-test.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/content-test.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/screenshot-1755544839986.png
  .continuum/sessions/validation/run_e023a3ccc0bc/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1024.tgz
  src/debug/jtag/continuum-jtag-1.0.1027.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tsconfig.json
Labels: dependencies

categorization of tests
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.info.json
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.log
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/browser.log.json
  .continuum/sessions/validation/run_e023a3ccc0bc/logs/server.log
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/body-test.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/content-test.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e023a3ccc0bc/screenshots/screenshot-1755544839986.png
  .continuum/sessions/validation/run_e023a3ccc0bc/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1024.tgz
  src/debug/jtag/continuum-jtag-1.0.1027.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tsconfig.json
Labels: dependencies

browser tests
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.info.json
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.log
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.log.json
  .continuum/sessions/validation/run_a1bda41f2eac/logs/server.log
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/body-test.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/content-test.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/screenshot-1755546433544.png
  .continuum/sessions/validation/run_a1bda41f2eac/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1027.tgz
  src/debug/jtag/continuum-jtag-1.0.1028.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/layer-6-browser-integration/browser-automation-test.ts
  src/debug/jtag/tests/layer-6-browser-integration/minimal-pure-jtag.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/pure-jtag-browser-automation.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

browser tests
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.info.json
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.log
  .continuum/sessions/validation/run_a1bda41f2eac/logs/browser.log.json
  .continuum/sessions/validation/run_a1bda41f2eac/logs/server.log
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/body-test.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/content-test.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a1bda41f2eac/screenshots/screenshot-1755546433544.png
  .continuum/sessions/validation/run_a1bda41f2eac/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1027.tgz
  src/debug/jtag/continuum-jtag-1.0.1028.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/layer-6-browser-integration/browser-automation-test.ts
  src/debug/jtag/tests/layer-6-browser-integration/minimal-pure-jtag.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/pure-jtag-browser-automation.test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

npm test runs all tests
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.info.json
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.log
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.log.json
  .continuum/sessions/validation/run_947c4dbfb519/logs/server.log
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/body-test.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/content-test.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/screenshot-1755551312706.png
  .continuum/sessions/validation/run_947c4dbfb519/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1028.tgz
  src/debug/jtag/continuum-jtag-1.0.1031.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/quick-browser-test.ts
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/chat-widget-automation.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/clean-widget-test.ts
  src/debug/jtag/tests/layer-6-browser-integration/comprehensive-widget-automation.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/simplified-widget-demo.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/test-bench-widget-interaction.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

npm test runs all tests
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.info.json
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.log
  .continuum/sessions/validation/run_947c4dbfb519/logs/browser.log.json
  .continuum/sessions/validation/run_947c4dbfb519/logs/server.log
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/body-test.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/content-test.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_947c4dbfb519/screenshots/screenshot-1755551312706.png
  .continuum/sessions/validation/run_947c4dbfb519/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1028.tgz
  src/debug/jtag/continuum-jtag-1.0.1031.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/quick-browser-test.ts
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/chat-widget-automation.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/clean-widget-test.ts
  src/debug/jtag/tests/layer-6-browser-integration/comprehensive-widget-automation.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/simplified-widget-demo.test.ts
  src/debug/jtag/tests/layer-6-browser-integration/test-bench-widget-interaction.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

solid script runner
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.info.json
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.log
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.log.json
  .continuum/sessions/validation/run_29902e724f7f/logs/server.log
  .continuum/sessions/validation/run_29902e724f7f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/body-test.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/content-test.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/screenshot-1755553229827.png
  .continuum/sessions/validation/run_29902e724f7f/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.1031.tgz
  src/debug/jtag/continuum-jtag-1.0.1033.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

solid script runner
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.info.json
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.log
  .continuum/sessions/validation/run_29902e724f7f/logs/browser.log.json
  .continuum/sessions/validation/run_29902e724f7f/logs/server.log
  .continuum/sessions/validation/run_29902e724f7f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/body-test.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/content-test.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_29902e724f7f/screenshots/screenshot-1755553229827.png
  .continuum/sessions/validation/run_29902e724f7f/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.1031.tgz
  src/debug/jtag/continuum-jtag-1.0.1033.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/chat-daemon-tdd.test.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, tests, dependencies

better dev process and tests
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.info.json
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.log
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.log.json
  .continuum/sessions/validation/run_0783a136fc5b/logs/server.log
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/body-test.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/content-test.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/screenshot-1755557417139.png
  .continuum/sessions/validation/run_0783a136fc5b/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.1033.tgz
  src/debug/jtag/continuum-jtag-1.0.1036.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
  src/debug/jtag/tests/transport-diagnostic.test.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/utils/TestAutoSpawn.ts
Labels: documentation, tests, dependencies

better dev process and tests
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.info.json
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.log
  .continuum/sessions/validation/run_0783a136fc5b/logs/browser.log.json
  .continuum/sessions/validation/run_0783a136fc5b/logs/server.log
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/body-test.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/content-test.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0783a136fc5b/screenshots/screenshot-1755557417139.png
  .continuum/sessions/validation/run_0783a136fc5b/session-info.json
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/continuum-jtag-1.0.1033.tgz
  src/debug/jtag/continuum-jtag-1.0.1036.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
  src/debug/jtag/tests/transport-diagnostic.test.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/utils/TestAutoSpawn.ts
Labels: documentation, tests, dependencies

smarter build system?
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.info.json
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.log
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.log.json
  .continuum/sessions/validation/run_075d45e0a8e7/logs/server.log
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/body-test.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/content-test.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/screenshot-1755566096298.png
  .continuum/sessions/validation/run_075d45e0a8e7/session-info.json
  src/debug/jtag/COMPREHENSIVE-ERROR-HANDLING-SUMMARY.md
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/TEST-VALIDATION-SUMMARY.md
  src/debug/jtag/continuum-jtag-1.0.1036.tgz
  src/debug/jtag/continuum-jtag-1.0.1046.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/smart-build.ts
  src/debug/jtag/tests/auto-spawn-integration.test.ts
  src/debug/jtag/tests/autonomous-development-demo.test.ts
  src/debug/jtag/tests/build-detection-focused.test.ts
  src/debug/jtag/tests/build-version-detection.test.ts
  src/debug/jtag/tests/error-handling-diagnostics.test.ts
  src/debug/jtag/tests/screenshot-hang-debug.test.ts
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tests/screenshot-verification.test.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/utils/AggressiveHangBreaker.ts
  src/debug/jtag/utils/BuildVersionDetector.ts
  src/debug/jtag/utils/DiagnosticsLogger.ts
  src/debug/jtag/utils/HangingTestDetector.ts
  src/debug/jtag/utils/ImmediateHangKiller.ts
  src/debug/jtag/utils/TestAutoSpawn.ts
Labels: documentation, tests, dependencies

smarter build system?
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.info.json
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.log
  .continuum/sessions/validation/run_075d45e0a8e7/logs/browser.log.json
  .continuum/sessions/validation/run_075d45e0a8e7/logs/server.log
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/body-test.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/content-test.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_075d45e0a8e7/screenshots/screenshot-1755566096298.png
  .continuum/sessions/validation/run_075d45e0a8e7/session-info.json
  src/debug/jtag/COMPREHENSIVE-ERROR-HANDLING-SUMMARY.md
  src/debug/jtag/DEV-PROCESS.md
  src/debug/jtag/TEST-VALIDATION-SUMMARY.md
  src/debug/jtag/continuum-jtag-1.0.1036.tgz
  src/debug/jtag/continuum-jtag-1.0.1046.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/scripts/smart-build.ts
  src/debug/jtag/tests/auto-spawn-integration.test.ts
  src/debug/jtag/tests/autonomous-development-demo.test.ts
  src/debug/jtag/tests/build-detection-focused.test.ts
  src/debug/jtag/tests/build-version-detection.test.ts
  src/debug/jtag/tests/error-handling-diagnostics.test.ts
  src/debug/jtag/tests/screenshot-hang-debug.test.ts
  src/debug/jtag/tests/screenshot-integration-advanced.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tests/screenshot-verification.test.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/utils/AggressiveHangBreaker.ts
  src/debug/jtag/utils/BuildVersionDetector.ts
  src/debug/jtag/utils/DiagnosticsLogger.ts
  src/debug/jtag/utils/HangingTestDetector.ts
  src/debug/jtag/utils/ImmediateHangKiller.ts
  src/debug/jtag/utils/TestAutoSpawn.ts
Labels: documentation, tests, dependencies

significant improvement in quality
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.info.json
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.log
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.log.json
  .continuum/sessions/validation/run_a2c40f782852/logs/server.log
  .continuum/sessions/validation/run_a2c40f782852/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/body-test.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/content-test.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/screenshot-1755577293979.png
  .continuum/sessions/validation/run_a2c40f782852/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1046.tgz
  src/debug/jtag/continuum-jtag-1.0.1050.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/transport/browser-server-commands.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

significant improvement in quality
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.info.json
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.log
  .continuum/sessions/validation/run_a2c40f782852/logs/browser.log.json
  .continuum/sessions/validation/run_a2c40f782852/logs/server.log
  .continuum/sessions/validation/run_a2c40f782852/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/body-test.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/content-test.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a2c40f782852/screenshots/screenshot-1755577293979.png
  .continuum/sessions/validation/run_a2c40f782852/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1046.tgz
  src/debug/jtag/continuum-jtag-1.0.1050.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/transport/browser-server-commands.test.ts
  src/debug/jtag/tests/screenshot-transport-test.ts
  src/debug/jtag/tsconfig.json
Labels: tests, dependencies

improved typings
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.info.json
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.log
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.log.json
  .continuum/sessions/validation/run_6d36c425813f/logs/server.log
  .continuum/sessions/validation/run_6d36c425813f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/body-test.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/content-test.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/screenshot-1755579648761.png
  .continuum/sessions/validation/run_6d36c425813f/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageTypes.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/daemons/widget-daemon/shared/WidgetDaemon.ts
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
  src/debug/jtag/system/events/shared/EventTestUtils.ts
  src/debug/jtag/system/shared/SecureConfigTypes.ts
  src/debug/jtag/system/transports/shared/TransportBase.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/widgets/chat/ChatWidget.ts
  src/debug/jtag/widgets/shared/WidgetBase.ts
Labels: dependencies

improved typings
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.info.json
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.log
  .continuum/sessions/validation/run_6d36c425813f/logs/browser.log.json
  .continuum/sessions/validation/run_6d36c425813f/logs/server.log
  .continuum/sessions/validation/run_6d36c425813f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/body-test.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/content-test.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6d36c425813f/screenshots/screenshot-1755579648761.png
  .continuum/sessions/validation/run_6d36c425813f/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageTypes.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/daemons/widget-daemon/shared/WidgetDaemon.ts
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
  src/debug/jtag/system/events/shared/EventTestUtils.ts
  src/debug/jtag/system/shared/SecureConfigTypes.ts
  src/debug/jtag/system/transports/shared/TransportBase.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
  src/debug/jtag/tsconfig.json
  src/debug/jtag/widgets/chat/ChatWidget.ts
  src/debug/jtag/widgets/shared/WidgetBase.ts
Labels: dependencies

start abstracting “test-bench”
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.info.json
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.log
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.log.json
  .continuum/sessions/validation/run_3bebe026cd4c/logs/server.log
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/body-test.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/content-test.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/screenshot-1755621703912.png
  .continuum/sessions/validation/run_3bebe026cd4c/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1050.tgz
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/README.md
  src/debug/jtag/examples/widget-ui/build-browser.js
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/public/demo.css
  src/debug/jtag/examples/widget-ui/public/demo.html
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/examples/widget-ui/src/minimal-server.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/deploy-widget-ui.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/shared/ExampleConfig.js
  src/debug/jtag/system/shared/ExampleConfig.ts
  src/debug/jtag/system/shared/ExampleConfigTypes.js
  src/debug/jtag/system/shared/ExampleConfigTypes.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

start abstracting “test-bench”
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.info.json
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.log
  .continuum/sessions/validation/run_3bebe026cd4c/logs/browser.log.json
  .continuum/sessions/validation/run_3bebe026cd4c/logs/server.log
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/body-test.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/content-test.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3bebe026cd4c/screenshots/screenshot-1755621703912.png
  .continuum/sessions/validation/run_3bebe026cd4c/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1050.tgz
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/README.md
  src/debug/jtag/examples/widget-ui/build-browser.js
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/public/demo.css
  src/debug/jtag/examples/widget-ui/public/demo.html
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/examples/widget-ui/src/minimal-server.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/deploy-widget-ui.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/shared/ExampleConfig.js
  src/debug/jtag/system/shared/ExampleConfig.ts
  src/debug/jtag/system/shared/ExampleConfigTypes.js
  src/debug/jtag/system/shared/ExampleConfigTypes.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

worked (test-with-server.ts still hard coded)
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.info.json
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.log
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.log.json
  .continuum/sessions/validation/run_e08d7d00bb75/logs/server.log
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/body-test.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/content-test.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/screenshot-1755814149711.png
  .continuum/sessions/validation/run_e08d7d00bb75/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1066.tgz
  src/debug/jtag/continuum-jtag-1.0.1067.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

worked (test-with-server.ts still hard coded)
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.info.json
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.log
  .continuum/sessions/validation/run_e08d7d00bb75/logs/browser.log.json
  .continuum/sessions/validation/run_e08d7d00bb75/logs/server.log
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/body-test.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/content-test.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e08d7d00bb75/screenshots/screenshot-1755814149711.png
  .continuum/sessions/validation/run_e08d7d00bb75/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1066.tgz
  src/debug/jtag/continuum-jtag-1.0.1067.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

better errors
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.info.json
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.log
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.log.json
  .continuum/sessions/validation/run_bd7fe580e455/logs/server.log
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/body-test.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/content-test.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/screenshot-1755815364902.png
  .continuum/sessions/validation/run_bd7fe580e455/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1067.tgz
  src/debug/jtag/continuum-jtag-1.0.1069.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-active-example.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

better errors
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.info.json
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.log
  .continuum/sessions/validation/run_bd7fe580e455/logs/browser.log.json
  .continuum/sessions/validation/run_bd7fe580e455/logs/server.log
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/body-test.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/content-test.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_bd7fe580e455/screenshots/screenshot-1755815364902.png
  .continuum/sessions/validation/run_bd7fe580e455/session-info.json
  src/debug/jtag/continuum-jtag-1.0.1067.tgz
  src/debug/jtag/continuum-jtag-1.0.1069.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-active-example.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/tsconfig.json
Labels: dependencies

auto-start hmm
  .continuum/sessions/validation/run_36c259269559/logs/browser.info.json
  .continuum/sessions/validation/run_36c259269559/logs/browser.log
  .continuum/sessions/validation/run_36c259269559/logs/browser.log.json
  .continuum/sessions/validation/run_36c259269559/logs/server.log
  .continuum/sessions/validation/run_36c259269559/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/body-test.png
  .continuum/sessions/validation/run_36c259269559/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/content-test.png
  .continuum/sessions/validation/run_36c259269559/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/screenshot-1755818964541.png
  .continuum/sessions/validation/run_36c259269559/session-info.json
  src/debug/jtag/auto-start.ts
  src/debug/jtag/continuum-jtag-1.0.1069.tgz
  src/debug/jtag/continuum-jtag-1.0.1071.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/middleware.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/minimal-server-template.ts
  src/debug/jtag/templates/universal-demo.html
  src/debug/jtag/tsconfig.json
Labels: dependencies

auto-start hmm
  .continuum/sessions/validation/run_36c259269559/logs/browser.info.json
  .continuum/sessions/validation/run_36c259269559/logs/browser.log
  .continuum/sessions/validation/run_36c259269559/logs/browser.log.json
  .continuum/sessions/validation/run_36c259269559/logs/server.log
  .continuum/sessions/validation/run_36c259269559/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/body-test.png
  .continuum/sessions/validation/run_36c259269559/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/content-test.png
  .continuum/sessions/validation/run_36c259269559/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_36c259269559/screenshots/screenshot-1755818964541.png
  .continuum/sessions/validation/run_36c259269559/session-info.json
  src/debug/jtag/auto-start.ts
  src/debug/jtag/continuum-jtag-1.0.1069.tgz
  src/debug/jtag/continuum-jtag-1.0.1071.tgz
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/middleware.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/minimal-server-template.ts
  src/debug/jtag/templates/universal-demo.html
  src/debug/jtag/tsconfig.json
Labels: dependencies

functional switching between examples
  .continuum/sessions/validation/run_958c52571b66/logs/browser.info.json
  .continuum/sessions/validation/run_958c52571b66/logs/browser.log
  .continuum/sessions/validation/run_958c52571b66/logs/browser.log.json
  .continuum/sessions/validation/run_958c52571b66/logs/server.log
  .continuum/sessions/validation/run_958c52571b66/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/body-test.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/content-test.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/screenshot-1755923103430.png
  .continuum/sessions/validation/run_958c52571b66/session-info.json
  src/debug/jtag/GLOBAL-INSTALL.md
  src/debug/jtag/README.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1071.tgz
  src/debug/jtag/continuum-jtag-1.0.1081.tgz
  src/debug/jtag/daemons/console-daemon/server/ConsoleDaemonServer.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-active-example.ts
  src/debug/jtag/scripts/signal-system-ready.ts
  src/debug/jtag/scripts/smart-deploy.ts
  src/debug/jtag/scripts/smart-system-startup.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/config/WorkingDirConfig.ts
  src/debug/jtag/system/core/process/ProcessCoordinator.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

functional switching between examples
  .continuum/sessions/validation/run_958c52571b66/logs/browser.info.json
  .continuum/sessions/validation/run_958c52571b66/logs/browser.log
  .continuum/sessions/validation/run_958c52571b66/logs/browser.log.json
  .continuum/sessions/validation/run_958c52571b66/logs/server.log
  .continuum/sessions/validation/run_958c52571b66/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/body-test.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/content-test.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_958c52571b66/screenshots/screenshot-1755923103430.png
  .continuum/sessions/validation/run_958c52571b66/session-info.json
  src/debug/jtag/GLOBAL-INSTALL.md
  src/debug/jtag/README.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/config/examples.json
  src/debug/jtag/continuum-jtag-1.0.1071.tgz
  src/debug/jtag/continuum-jtag-1.0.1081.tgz
  src/debug/jtag/daemons/console-daemon/server/ConsoleDaemonServer.ts
  src/debug/jtag/examples/test-bench/package-lock.json
  src/debug/jtag/examples/test-bench/package.json
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-active-example.ts
  src/debug/jtag/scripts/signal-system-ready.ts
  src/debug/jtag/scripts/smart-deploy.ts
  src/debug/jtag/scripts/smart-system-startup.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/config/WorkingDirConfig.ts
  src/debug/jtag/system/core/process/ProcessCoordinator.ts
  src/debug/jtag/tsconfig.json
Labels: documentation, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
