Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

bug fixes
  ACADEMY_SYSTEM_COMPLETE.md
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/train/AcademyTrainCommand.ts
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/createroom/CreateroomCommand.ts
  src/commands/database/backup/DatabaseBackupCommand.ts
  src/commands/database/query/DatabaseQueryCommand.ts
  src/commands/database/save/DatabaseSaveCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: documentation

bug fixes
  ACADEMY_SYSTEM_COMPLETE.md
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/train/AcademyTrainCommand.ts
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/createroom/CreateroomCommand.ts
  src/commands/database/backup/DatabaseBackupCommand.ts
  src/commands/database/query/DatabaseQueryCommand.ts
  src/commands/database/save/DatabaseSaveCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: documentation

window launched some widget might have worked
  src/commands/kernel/system/ProcessCommand.ts
  src/commands/kernel/system/package.json
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
  src/daemons/browser-manager/adapters/IDevToolsAdapter.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/browser-manager/modules/IBrowserModule.ts
  src/daemons/browser-manager/test/integration/RealBrowserLaunch.integration.test.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/WebSocketManager.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: tests, dependencies

window launched some widget might have worked
  src/commands/kernel/system/ProcessCommand.ts
  src/commands/kernel/system/package.json
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
  src/daemons/browser-manager/adapters/IDevToolsAdapter.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/browser-manager/modules/IBrowserModule.ts
  src/daemons/browser-manager/test/integration/RealBrowserLaunch.integration.test.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/WebSocketManager.ts
  src/system/startup/ContinuumSystemStartup.ts
Labels: tests, dependencies

..
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
Labels: none

..
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
Labels: none

widget issues
  src/commands/kernel/system/ProcessCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
Labels: none

widget issues
  src/commands/kernel/system/ProcessCommand.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
Labels: none

lol
  increment-version.js
  package.json
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/SimpleBrowserLauncher.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/integrations/websocket/core/MessageRouter.ts
  src/integrations/websocket/test/command-routing.integration.test.ts
  src/integrations/websocket/test/package.json
  src/system/configuration/PortConfiguration.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/test/package.json
  src/ui/components/test/widget-registration.test.ts
  src/ui/continuum-browser.ts
  watch-and-increment.js
Labels: tests, dependencies

lol
  increment-version.js
  package.json
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/SimpleBrowserLauncher.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/integrations/websocket/core/MessageRouter.ts
  src/integrations/websocket/test/command-routing.integration.test.ts
  src/integrations/websocket/test/package.json
  src/system/configuration/PortConfiguration.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/test/package.json
  src/ui/components/test/widget-registration.test.ts
  src/ui/continuum-browser.ts
  watch-and-increment.js
Labels: tests, dependencies

bugs
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/system/ProcessCommand.ts
Labels: none

bugs
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/system/ProcessCommand.ts
Labels: none

400 bugs or so still
  src/commands/kernel/system/ProcessCommand.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaGeneration.ts
  src/daemons/academy/FormulaMaster.ts
Labels: none

400 bugs or so still
  src/commands/kernel/system/ProcessCommand.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaGeneration.ts
  src/daemons/academy/FormulaMaster.ts
Labels: none

less errors
  src/daemons/academy/GlobalIdentitySystem.ts
  src/daemons/academy/LayerOptimization.ts
Labels: none

less errors
  src/daemons/academy/GlobalIdentitySystem.ts
  src/daemons/academy/LayerOptimization.ts
Labels: none

417 errors
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/LoRADiscovery.ts
  src/daemons/academy/LocalAcademyTrainer.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/TrainingResourceTracker.ts
Labels: none

417 errors
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/LoRADiscovery.ts
  src/daemons/academy/LocalAcademyTrainer.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/TrainingResourceTracker.ts
Labels: none

380 errors
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/TrainingResourceTracker.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
Labels: none

380 errors
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/TrainingResourceTracker.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
Labels: none

errors and todos for hard coding
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaMaster.ts
Labels: none

errors and todos for hard coding
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaMaster.ts
Labels: none

296 errors
  src/daemons/academy/PersonaGenome.ts
Labels: none

296 errors
  src/daemons/academy/PersonaGenome.ts
Labels: none

error reduction
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/types/index.ts
  src/daemons/academy/types/lora.ts
  src/daemons/academy/types/persona-behavior.ts
  src/daemons/academy/types/persona-evolution.ts
  src/daemons/academy/types/persona-genome.ts
  src/daemons/academy/types/persona-identity.ts
  src/daemons/academy/types/persona-knowledge.ts
  src/daemons/academy/types/persona-reproduction.ts
  src/daemons/academy/types/persona-substrate.ts
Labels: none

error reduction
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/types/index.ts
  src/daemons/academy/types/lora.ts
  src/daemons/academy/types/persona-behavior.ts
  src/daemons/academy/types/persona-evolution.ts
  src/daemons/academy/types/persona-genome.ts
  src/daemons/academy/types/persona-identity.ts
  src/daemons/academy/types/persona-knowledge.ts
  src/daemons/academy/types/persona-reproduction.ts
  src/daemons/academy/types/persona-substrate.ts
Labels: none

most bugs fixed now
  package.json
  src/commands/core/preferences/index.server.ts
  src/commands/core/reload/index.server.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
  src/daemons/browser-manager/adapters/IDevToolsAdapter.ts
  src/daemons/browser-manager/modules/BrowserLauncher.ts
  src/daemons/browser-manager/modules/BrowserRegistry.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/browser-manager/modules/IBrowserModule.ts
  src/daemons/browser-manager/modules/PortManager.ts
  src/daemons/browser-manager/modules/ResourceManager.ts
  src/daemons/browser-manager/modules/SessionManager.ts
  src/daemons/browser-manager/modules/index.ts
  src/daemons/browser-manager/modules/package.json
  src/daemons/browser-manager/types/browser-core.ts
  src/daemons/browser-manager/types/browser-management.ts
  src/daemons/browser-manager/types/browser-session.ts
  src/daemons/browser-manager/types/devtools.ts
  src/daemons/browser-manager/types/index.ts
  src/types/browser/index.ts
Labels: dependencies

most bugs fixed now
  package.json
  src/commands/core/preferences/index.server.ts
  src/commands/core/reload/index.server.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/ChromiumDevToolsAdapter.ts
  src/daemons/browser-manager/adapters/IDevToolsAdapter.ts
  src/daemons/browser-manager/modules/BrowserLauncher.ts
  src/daemons/browser-manager/modules/BrowserRegistry.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
  src/daemons/browser-manager/modules/ChromeBrowserModule.ts
  src/daemons/browser-manager/modules/IBrowserModule.ts
  src/daemons/browser-manager/modules/PortManager.ts
  src/daemons/browser-manager/modules/ResourceManager.ts
  src/daemons/browser-manager/modules/SessionManager.ts
  src/daemons/browser-manager/modules/index.ts
  src/daemons/browser-manager/modules/package.json
  src/daemons/browser-manager/types/browser-core.ts
  src/daemons/browser-manager/types/browser-management.ts
  src/daemons/browser-manager/types/browser-session.ts
  src/daemons/browser-manager/types/devtools.ts
  src/daemons/browser-manager/types/index.ts
  src/types/browser/index.ts
Labels: dependencies

Implement comprehensive widget fallback system with warning support
  main.ts
  package.json
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/components/Chat/package.json
  src/ui/components/Chat/test/unit/ChatWidget.test.ts
  src/ui/components/Continuon/package.json
  src/ui/components/Persona/package.json
  src/ui/components/Sidebar/package.json
  src/ui/components/Sidebar/test/unit/SidebarWidget.test.ts
  src/ui/components/Version/package.json
  src/ui/components/shared/WidgetFallbacks.ts
  src/ui/components/test/debug-widget-discovery.ts
  src/ui/components/test/widget-integration.test.ts
  src/ui/components/test/widget-test.html
  src/ui/continuum-browser.ts
Labels: tests, dependencies

Implement comprehensive widget fallback system with warning support
  main.ts
  package.json
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/components/Chat/package.json
  src/ui/components/Chat/test/unit/ChatWidget.test.ts
  src/ui/components/Continuon/package.json
  src/ui/components/Persona/package.json
  src/ui/components/Sidebar/package.json
  src/ui/components/Sidebar/test/unit/SidebarWidget.test.ts
  src/ui/components/Version/package.json
  src/ui/components/shared/WidgetFallbacks.ts
  src/ui/components/test/debug-widget-discovery.ts
  src/ui/components/test/widget-integration.test.ts
  src/ui/components/test/widget-test.html
  src/ui/continuum-browser.ts
Labels: tests, dependencies

widgets closer
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/ui/assets/BaseWidget.css
  src/ui/assets/ChatWidget.css
  src/ui/assets/SidebarWidget.css
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/WIDGET-ARCHITECTURE.md
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/test/BaseWidget.asset.integration.test.ts
  src/ui/components/test/AllWidgets.asset.integration.test.ts
  src/ui/continuum-browser.ts
  test-asset-paths.ts
  test-widget-assets.ts
Labels: documentation, tests

widgets closer
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/ui/assets/BaseWidget.css
  src/ui/assets/ChatWidget.css
  src/ui/assets/SidebarWidget.css
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/WIDGET-ARCHITECTURE.md
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/test/BaseWidget.asset.integration.test.ts
  src/ui/components/test/AllWidgets.asset.integration.test.ts
  src/ui/continuum-browser.ts
  test-asset-paths.ts
  test-widget-assets.ts
Labels: documentation, tests

server controls
  AI-POWERED-DEVELOPMENT.md
  CLAUDE.md
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/WIDGET-ARCHITECTURE.md
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetServerControls.ts
  src/ui/components/shared/test/UniversalWidgetAssetTest.ts
  src/ui/components/test/integration/WidgetBrowserIntegration.test.ts
  src/ui/continuum-browser.ts
Labels: documentation, tests

server controls
  AI-POWERED-DEVELOPMENT.md
  CLAUDE.md
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/WIDGET-ARCHITECTURE.md
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetServerControls.ts
  src/ui/components/shared/test/UniversalWidgetAssetTest.ts
  src/ui/components/test/integration/WidgetBrowserIntegration.test.ts
  src/ui/continuum-browser.ts
Labels: documentation, tests

clean idea for interactive personas
  PERSONA-LORA-INTEGRATION.md
  src/academy/PromptValidationSystem.ts
  src/daemons/persona/StockPersonaHandler.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/shared/InteractivePersona.css
  src/ui/components/shared/InteractivePersona.ts
  src/ui/components/shared/UniversalUserSystem.ts
  src/ui/continuum-browser.ts
Labels: documentation

clean idea for interactive personas
  PERSONA-LORA-INTEGRATION.md
  src/academy/PromptValidationSystem.ts
  src/daemons/persona/StockPersonaHandler.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/shared/InteractivePersona.css
  src/ui/components/shared/InteractivePersona.ts
  src/ui/components/shared/UniversalUserSystem.ts
  src/ui/continuum-browser.ts
Labels: documentation

bug fixes
  src/academy/PromptValidationSystem.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/types/persona-genome.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/DaemonMessageUtils.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/SessionManager.ts
  src/daemons/browser-manager/types/browser-core.ts
  src/daemons/browser-manager/types/browser-management.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/database/DatabaseDaemon.ts
  src/ui/components/Academy/AcademyWidget.ts
  src/ui/components/domain/communication/chat/AcademyChatWidget.ts
Labels: none

bug fixes
  src/academy/PromptValidationSystem.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/types/persona-genome.ts
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/DaemonMessageUtils.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/SessionManager.ts
  src/daemons/browser-manager/types/browser-core.ts
  src/daemons/browser-manager/types/browser-management.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/database/DatabaseDaemon.ts
  src/ui/components/Academy/AcademyWidget.ts
  src/ui/components/domain/communication/chat/AcademyChatWidget.ts
Labels: none

less errors
  src/daemons/base/DatabaseIntegration.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/modules/BrowserLauncher.ts
  src/daemons/browser-manager/modules/BrowserRegistry.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
Labels: none

less errors
  src/daemons/base/DatabaseIntegration.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/modules/BrowserLauncher.ts
  src/daemons/browser-manager/modules/BrowserRegistry.ts
  src/daemons/browser-manager/modules/BrowserSessionManager.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
