Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

🔧 fix: Screenshot command execution with proper mock response structure
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
Labels: none

🔧 fix: Screenshot command execution with proper mock response structure
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
Labels: none

pre connect meddling
  continuum
  jtag.ts
  package-lock.json
  package.json
  src/cli/README.md
  src/cli/continuum-cli.ts
  src/cli/package.json
  src/cli/test/integration/ComprehensiveCLI.integration.test.ts
  src/cli/test/integration/NewUserExperience.integration.test.ts
  src/cli/test/unit/ThinContinuumCLI.test.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/core/data-marshal/test/integration/DataMarshalCommand.integration.test.ts
  src/commands/core/data-marshal/test/unit/DataMarshalCommand.simple.test.ts
  src/commands/core/data-marshal/test/unit/DataMarshalCommand.test.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/data-marshal/DataMarshalCommand.ts
  src/commands/data-marshal/README.md
  src/commands/data-marshal/package.json
  src/commands/data-marshal/test/integration/ScreenshotFileSystem.integration.test.ts
  src/commands/data-marshal/test/integration/ScreenshotMarshal.integration.test.ts
  src/commands/data-marshal/test/unit/DataMarshalCommand.test.ts
Labels: documentation, tests, dependencies

pre connect meddling
  continuum
  jtag.ts
  package-lock.json
  package.json
  src/cli/README.md
  src/cli/continuum-cli.ts
  src/cli/package.json
  src/cli/test/integration/ComprehensiveCLI.integration.test.ts
  src/cli/test/integration/NewUserExperience.integration.test.ts
  src/cli/test/unit/ThinContinuumCLI.test.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/core/data-marshal/test/integration/DataMarshalCommand.integration.test.ts
  src/commands/core/data-marshal/test/unit/DataMarshalCommand.simple.test.ts
  src/commands/core/data-marshal/test/unit/DataMarshalCommand.test.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/data-marshal/DataMarshalCommand.ts
  src/commands/data-marshal/README.md
  src/commands/data-marshal/package.json
  src/commands/data-marshal/test/integration/ScreenshotFileSystem.integration.test.ts
  src/commands/data-marshal/test/integration/ScreenshotMarshal.integration.test.ts
  src/commands/data-marshal/test/unit/DataMarshalCommand.test.ts
Labels: documentation, tests, dependencies

🧹 refactor: Eliminate connect command special handling + ultra-thin CLI architecture
  continuum
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/test/integration/ComprehensiveCLI.integration.test.ts
  src/cli/test/unit/ThinContinuumCLI.test.ts
  src/commands/development/jtag/JtagCommand.ts
Labels: tests, dependencies

🧹 refactor: Eliminate connect command special handling + ultra-thin CLI architecture
  continuum
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/test/integration/ComprehensiveCLI.integration.test.ts
  src/cli/test/unit/ThinContinuumCLI.test.ts
  src/commands/development/jtag/JtagCommand.ts
Labels: tests, dependencies

🎯 refactor: Universal integration parser system - elegant code deletion
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/base-command/parsers/CLIIntegrationParser.ts
  src/commands/core/base-command/parsers/IntegrationParser.ts
  src/commands/core/base-command/parsers/JSONIntegrationParser.ts
  src/commands/core/base-command/parsers/index.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
Labels: dependencies

🎯 refactor: Universal integration parser system - elegant code deletion
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/base-command/parsers/CLIIntegrationParser.ts
  src/commands/core/base-command/parsers/IntegrationParser.ts
  src/commands/core/base-command/parsers/JSONIntegrationParser.ts
  src/commands/core/base-command/parsers/index.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
Labels: dependencies

documentation
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture/universal-integration-parsers.md
  middle-out/development/widget-architecture.md
Labels: documentation

documentation
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture/universal-integration-parsers.md
  middle-out/development/widget-architecture.md
Labels: documentation

check in getting far
  package-lock.json
  package.json
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/chat_history/ChatHistoryCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/core/SimpleDaemonStarter.ts
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/DefaultRoomsConfig.ts
  src/daemons/chatroom/config/default-rooms.json
  src/daemons/chatroom/test/run-tests.ts
  src/daemons/chatroom/test/unit/ChatRoomDaemon.test.ts
  src/daemons/chatroom/test/unit/DefaultRooms.test.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/MessageRouter.ts
  src/integrations/websocket/handlers/ChatHandler.ts
  src/integrations/websocket/handlers/CoreHandlers.ts
  src/integrations/websocket/handlers/index.ts
  src/types/shared/ChatRoomTypes.ts
  src/types/shared/CommandOperationTypes.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/shared/ChatEventTypes.ts
  src/ui/components/shared/RoomDataManager.ts
  src/ui/components/shared/chat-events-config.json
  src/ui/components/shared/room-type-config.json
  src/ui/components/test/browser-widget-manifest.test.ts
  src/ui/components/test/room-data-system.test.ts
  src/ui/components/test/room-display-fix.test.ts
  src/ui/components/test/widget-asset-loading-simple.test.ts
  src/ui/components/test/widget-asset-loading.test.ts
  src/ui/components/test/widget-system-integration.test.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: tests, dependencies

check in getting far
  package-lock.json
  package.json
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/chat_history/ChatHistoryCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/core/SimpleDaemonStarter.ts
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/DefaultRoomsConfig.ts
  src/daemons/chatroom/config/default-rooms.json
  src/daemons/chatroom/test/run-tests.ts
  src/daemons/chatroom/test/unit/ChatRoomDaemon.test.ts
  src/daemons/chatroom/test/unit/DefaultRooms.test.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/integrations/websocket/core/MessageRouter.ts
  src/integrations/websocket/handlers/ChatHandler.ts
  src/integrations/websocket/handlers/CoreHandlers.ts
  src/integrations/websocket/handlers/index.ts
  src/types/shared/ChatRoomTypes.ts
  src/types/shared/CommandOperationTypes.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/shared/ChatEventTypes.ts
  src/ui/components/shared/RoomDataManager.ts
  src/ui/components/shared/chat-events-config.json
  src/ui/components/shared/room-type-config.json
  src/ui/components/test/browser-widget-manifest.test.ts
  src/ui/components/test/room-data-system.test.ts
  src/ui/components/test/room-display-fix.test.ts
  src/ui/components/test/widget-asset-loading-simple.test.ts
  src/ui/components/test/widget-asset-loading.test.ts
  src/ui/components/test/widget-system-integration.test.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: tests, dependencies

better typing
  package-lock.json
  package.json
  src/commands/communication/chat/ChatCommand.ts
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/DefaultRoomsConfig.ts
  src/daemons/chatroom/test/unit/ChatRoomDaemon.test.ts
  src/daemons/chatroom/test/unit/DefaultRooms.test.ts
  src/types/shared/chat/ChatTypes.ts
  src/types/shared/chat/index.ts
  src/types/shared/commands/CommandTypes.ts
  src/types/shared/core/UserPersona.ts
  src/types/shared/core/index.ts
  src/types/shared/index.ts
  src/types/shared/network/NetworkTypes.ts
  src/types/shared/session/SessionTypes.ts
Labels: tests, dependencies

better typing
  package-lock.json
  package.json
  src/commands/communication/chat/ChatCommand.ts
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/DefaultRoomsConfig.ts
  src/daemons/chatroom/test/unit/ChatRoomDaemon.test.ts
  src/daemons/chatroom/test/unit/DefaultRooms.test.ts
  src/types/shared/chat/ChatTypes.ts
  src/types/shared/chat/index.ts
  src/types/shared/commands/CommandTypes.ts
  src/types/shared/core/UserPersona.ts
  src/types/shared/core/index.ts
  src/types/shared/index.ts
  src/types/shared/network/NetworkTypes.ts
  src/types/shared/session/SessionTypes.ts
Labels: tests, dependencies

better persona docs
  middle-out/README.md
  middle-out/academy/README.md
  middle-out/academy/algorithmic-testing.md
  middle-out/academy/autonomous-selection.md
  middle-out/academy/persona-discovery.md
Labels: documentation

better persona docs
  middle-out/README.md
  middle-out/academy/README.md
  middle-out/academy/algorithmic-testing.md
  middle-out/academy/autonomous-selection.md
  middle-out/academy/persona-discovery.md
Labels: documentation

🎓 feat: Complete Academy architecture integration
  middle-out/academy/README.md
  middle-out/academy/ai-workflow-integration.md
  middle-out/academy/chat-integration.md
  middle-out/academy/comprehensive-testing-strategy.md
  middle-out/academy/genomic-data-architecture.md
  middle-out/academy/intelligent-test-integration.md
  middle-out/academy/modular-architecture-compliance.md
  middle-out/development/system-rebuild-priorities.md
  src/commands/core/base-command/parsers/MCPIntegrationParser.ts
  src/commands/core/base-command/parsers/PersonaMeshParser.ts
  src/commands/core/base-command/parsers/index.ts
Labels: documentation

🎓 feat: Complete Academy architecture integration
  middle-out/academy/README.md
  middle-out/academy/ai-workflow-integration.md
  middle-out/academy/chat-integration.md
  middle-out/academy/comprehensive-testing-strategy.md
  middle-out/academy/genomic-data-architecture.md
  middle-out/academy/intelligent-test-integration.md
  middle-out/academy/modular-architecture-compliance.md
  middle-out/development/system-rebuild-priorities.md
  src/commands/core/base-command/parsers/MCPIntegrationParser.ts
  src/commands/core/base-command/parsers/PersonaMeshParser.ts
  src/commands/core/base-command/parsers/index.ts
Labels: documentation

🎯 feat: Universal integration parser system + Code Quality Scouting
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/rest-api.md
  middle-out/development/DECLUTTERING_PROTOCOL.md
  middle-out/development/README.md
  middle-out/development/code-quality-scouting.md
  middle-out/development/screenshot-implementation-plan.md
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/test/cli-command-propagation.test.ts
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
  src/types/shared/SessionTypes.ts
Labels: documentation, tests, dependencies

🎯 feat: Universal integration parser system + Code Quality Scouting
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/rest-api.md
  middle-out/development/DECLUTTERING_PROTOCOL.md
  middle-out/development/README.md
  middle-out/development/code-quality-scouting.md
  middle-out/development/screenshot-implementation-plan.md
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/test/cli-command-propagation.test.ts
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/daemons/command-processor/CommandProcessorDaemon.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/core/RouteManager.ts
  src/types/shared/SessionTypes.ts
Labels: documentation, tests, dependencies

refactor: eliminate temp-disabled dead code directory
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/discovery/CommandDiscovery.ts
  src/integrations/websocket/core/RouteManager.ts
  src/services/UniversalCommandRegistry.ts
  temp-disabled/BrowserComprehensiveTest.ts
  temp-disabled/static-methods-test.ts
Labels: dependencies

refactor: eliminate temp-disabled dead code directory
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/discovery/CommandDiscovery.ts
  src/integrations/websocket/core/RouteManager.ts
  src/services/UniversalCommandRegistry.ts
  temp-disabled/BrowserComprehensiveTest.ts
  temp-disabled/static-methods-test.ts
Labels: dependencies

critical endpoint fix
  src/cli/continuum-cli.ts
Labels: none

critical endpoint fix
  src/cli/continuum-cli.ts
Labels: none

screenshot attempt
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
Labels: dependencies

screenshot attempt
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
Labels: dependencies

🎯 fix: Screenshot command architectural improvements
  package-lock.json
  package.json
  src/commands/browser/screenshot/ContinuonAnimations.css
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/ui/components/examples/ModuleBootstrap.ts
Labels: dependencies

🎯 fix: Screenshot command architectural improvements
  package-lock.json
  package.json
  src/commands/browser/screenshot/ContinuonAnimations.css
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/ui/components/examples/ModuleBootstrap.ts
Labels: dependencies

feat: Implement server-to-browser communication for screenshot command
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: dependencies

feat: Implement server-to-browser communication for screenshot command
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: dependencies

screenshot saved to "/Users/joel/.continuum/screenshots/screenshot-1752476016382.png"
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/file/fileSave/FileSaveCommand.ts
  src/commands/file/fileSave/README.md
  src/commands/file/fileSave/test/unit/FileSaveCommand.test.ts
  src/commands/file/index.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
  src/ui/continuum-browser-client/types/WebSocketTypes.ts
Labels: documentation, tests, dependencies

screenshot saved to "/Users/joel/.continuum/screenshots/screenshot-1752476016382.png"
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/file/fileSave/FileSaveCommand.ts
  src/commands/file/fileSave/README.md
  src/commands/file/fileSave/test/unit/FileSaveCommand.test.ts
  src/commands/file/index.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
  src/ui/continuum-browser-client/types/WebSocketTypes.ts
Labels: documentation, tests, dependencies

saving to right place
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/index.ts
Labels: dependencies

saving to right place
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/index.ts
Labels: dependencies

fixes yikes
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
Labels: dependencies

fixes yikes
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
Labels: dependencies

share types between client and server
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
Labels: dependencies

share types between client and server
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
Labels: dependencies

unused code
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
Labels: dependencies

unused code
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
Labels: dependencies
