Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Compression pipeline orchestration + IPC device spec parsing
  src/workers/continuum-core/src/modules/plasticity/mod.rs
  src/workers/continuum-core/src/modules/plasticity/pipeline.rs
Labels: none

plasticity/compress IPC command — generated + wired end-to-end
  src/commands/plasticity/compress/.npmignore
  src/commands/plasticity/compress/README.md
  src/commands/plasticity/compress/browser/PlasticityCompressBrowserCommand.ts
  src/commands/plasticity/compress/package.json
  src/commands/plasticity/compress/server/PlasticityCompressServerCommand.ts
  src/commands/plasticity/compress/shared/PlasticityCompressTypes.ts
  src/commands/plasticity/compress/test/integration/PlasticityCompressIntegration.test.ts
  src/commands/plasticity/compress/test/unit/PlasticityCompressCommand.test.ts
  src/generator/specs/plasticity-compress.json
  src/workers/continuum-core/src/modules/plasticity/mod.rs
Labels: documentation, tests, dependencies

Python subprocess adapter: unified Rust wrapper for all Python calls
  src/workers/continuum-core/src/modules/mod.rs
  src/workers/continuum-core/src/modules/python_adapter.rs
Labels: none

Integration phases: compacted model → local coding agent → self-service → ecosystem
  docs/genome/INTEGRATION-PHASES.md
Labels: documentation

CandleAdapter: local GGUF model discovery + continuum-ai model alias
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

Pre-alpha gap analysis: what's done, what's needed for launch
  docs/PRE-ALPHA-GAP-ANALYSIS.md
Labels: documentation

Update gap analysis + competitive landscape with compression breakthrough
  docs/planning/ALPHA-GAP-ANALYSIS.md
  docs/planning/COMPETITIVE-LANDSCAPE.md
Labels: documentation

Auto-download GGUF models from HuggingFace
  src/workers/continuum-core/src/inference/model.rs
Labels: none

Model registry: JSON config replaces hardcoded match statement
  src/workers/continuum-core/src/inference/candle_adapter.rs
  src/workers/continuum-core/src/inference/model_registry.json
Labels: none

Architecture-aware EOS tokens + real-world coding test prompts
  src/workers/continuum-core/src/bin/test_qwen_gguf.rs
  src/workers/continuum-core/src/inference/backends/llama_gguf.rs
Labels: none

Repetition penalty + mixed_quant tool + real-world coding prompts
  src/workers/continuum-core/src/bin/mixed_quant.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
Labels: none

Confirmed: model is correct, our Candle forward pass has a bug
  src/workers/continuum-core/src/inference/backends/mod.rs
Labels: none

Diagnosing forward pass: special token inflation in Q3_K_S output head
  src/workers/continuum-core/src/inference/backends/mod.rs
Labels: none

Diagnosing forward pass: special token inflation in Q3_K_S output head
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
Labels: none

FIXED: F16 embedding was corrupting logits — F32 matches PyTorch
  src/workers/continuum-core/src/bin/test_qwen_gguf.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
Labels: none

QAT experiment: one round doubled coherent output (10→20 tokens)
  src/workers/continuum-core/src/inference/backends/llama_gguf.rs
Labels: none

Gap analysis: ship 14B (alpha), research 32B QAT (parallel)
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Sentinel local-agent runs end-to-end with 14B on Metal
  src/browser/generated.ts
  src/commands/plasticity/compress/server/PlasticityCompressServerCommand.ts
  src/generated-command-schemas.json
  src/server/generated.ts
  src/shared/generated-command-constants.ts
Labels: none

Publish 14B to HuggingFace + update model registry
  src/workers/continuum-core/src/inference/model_registry.json
Labels: none

CONTINUUM_STORAGE_PATH: configurable external drive for models/adapters
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

Fix inference pipeline: chat template adapter, special token suppression, workspace identity
  src/commands/sentinel/coding-agent/server/SentinelCodingAgentServerCommand.ts
  src/system/sentinel/coding-agents/LocalAgentProvider.ts
  src/system/user/server/modules/ToolFormatAdapter.ts
  src/workers/continuum-core/src/inference/backends/llama_gguf.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

Remove hardcoded tools from LocalAgentProvider, wire through ToolGroupRegistry
  src/commands/ai/agent/server/AiAgentServerCommand.ts
  src/system/sentinel/coding-agents/LocalAgentProvider.ts
Labels: none

Model registry types: ts-rs generated, single source of truth
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

Local inference: handle+events architecture + colon-shorthand tool parser
  src/commands/ai/agent/server/AiAgentServerCommand.ts
  src/commands/ai/agent/shared/AiAgentTypes.ts
  src/shared/generated/index.ts
  src/system/sentinel/coding-agents/LocalAgentProvider.ts
  src/workers/continuum-core/src/tool_parsing/parsers.rs
Labels: none

Local inference: training-format prompts, bare-tool parser, sampling fixes
  src/commands/ai/agent/server/AiAgentServerCommand.ts
  src/system/sentinel/coding-agents/LocalAgentProvider.ts
  src/system/sentinel/coding-agents/LocalContextBuilder.ts
  src/system/sentinel/coding-agents/LocalModelRouter.ts
  src/system/shared/Constants.ts
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/bin/dequantize_gguf.rs
  src/workers/continuum-core/src/bin/diagnose_prefill.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/model.rs
  src/workers/continuum-core/src/modules/plasticity/gguf_writer.rs
  src/workers/continuum-core/src/modules/plasticity/pipeline.rs
  src/workers/continuum-core/src/modules/python_adapter.rs
  src/workers/continuum-core/src/tool_parsing/parsers.rs
Labels: none

Phase 5B: BF16 auto-detection in load_model_from_dir + dequantize-gguf copies topology
  src/workers/continuum-core/src/bin/dequantize_gguf.rs
  src/workers/continuum-core/src/bin/mixed_quant.rs
  src/workers/continuum-core/src/inference/model.rs
Labels: none

GGUF batch prefill + Metal inference optimizations (2x speedup)
  src/commands/ai/agent/server/AiAgentServerCommand.ts
  src/system/sentinel/coding-agents/LocalContextBuilder.ts
  src/workers/continuum-core/src/bin/dequantize_gguf.rs
  src/workers/continuum-core/src/inference/backends/llama_gguf.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/model.rs
  src/workers/continuum-core/src/inference/vendored/compact_llama.rs
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
  src/workers/continuum-core/src/inference/vendored/qwen2.rs
Labels: none

f64 RmsNorm + CANDLE_FORCE_CPU + inference_test binary
  src/workers/continuum-core/src/bin/inference_test.rs
  src/workers/continuum-core/src/inference/model.rs
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
Labels: none

Logit-level repetition penalty (matching llama.cpp)
  src/workers/continuum-core/src/inference/backends/mod.rs
Labels: none

Candle quantized inference diagnostics + RmsNorm/softmax investigation
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
Labels: none

Candle inference pipeline fixes + RealClassEval academy validation
  src/system/sentinel/pipelines/RealClassEvalStudentPipeline.ts
  src/workers/.gitignore
  src/workers/Cargo.toml
  src/workers/continuum-core/src/ai/types.rs
  src/workers/continuum-core/src/bin/inference_test.rs
  src/workers/continuum-core/src/bin/test_qwen_gguf.rs
  src/workers/continuum-core/src/http/anthropic_compat.rs
  src/workers/continuum-core/src/http/mod.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/inference/candle_adapter.rs
  src/workers/continuum-core/src/inference/model.rs
  src/workers/continuum-core/src/inference/quantized.rs
  src/workers/continuum-core/src/inference/vendored/quantized_llama.rs
  src/workers/continuum-core/src/modules/agent.rs
  src/workers/continuum-core/src/modules/ai_provider.rs
  src/workers/continuum-core/src/modules/sentinel/steps/llm.rs
  src/workers/continuum-core/src/system_resources/mod.rs
Labels: none

Add automated tower install script
  src/scripts/install.sh
Labels: none

Install script: no sudo, use nvm for Node.js
  src/scripts/install.sh
Labels: none

Platform-aware Rust GPU features: Metal/CUDA/CPU auto-detect
  src/scripts/parallel-start.sh
  src/scripts/setup-rust.sh
  src/scripts/shared/cargo-features.sh
Labels: none

Add CUDA toolkit PATH setup for nvcc (cudarc build requirement)
  src/scripts/shared/cargo-features.sh
Labels: none

Install script: add glib, alsa, cmake deps for Linux Rust build
  src/scripts/install.sh
Labels: none

WSL2: add /usr/lib/wsl/lib to PATH for nvidia-smi (CUDA compute cap detection)
  src/scripts/shared/cargo-features.sh
Labels: none

Move accelerate to feature flag (macOS-only, not workspace default)
  src/scripts/shared/cargo-features.sh
  src/workers/Cargo.toml
  src/workers/continuum-core/Cargo.toml
Labels: none

Install: add libclang-dev for bindgen (whisper-rs-sys)
  src/scripts/install.sh
Labels: none

Install: add protobuf-compiler for tonic-prost gRPC codegen
  src/scripts/install.sh
Labels: none
