Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

chore(airc): pin f5f47d5 — every work verb takes the id the board shows (#1539); only the latest run of each check votes (#1540)
  Cargo.lock
  Cargo.toml
Labels: none

fix(genome): only the job ledger's owner reconciles it; a test never opens the home ledger
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

fix(genome): only the job ledger's owner reconciles it; a test never opens the home ledger (#4799)
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

fix(ci): PR runs restore canary's rust caches and never save their own
  .github/workflows/auto-close-queue-cards.yml
  .github/workflows/continuum-rust-tests.yml
  .github/workflows/manifest-projection-drift-guard.yml
  .github/workflows/source-hygiene.yml
Labels: workflow

fix(genome): a failed reuse retries, a decided gene never returns, a trial expires, a held bucket is bounded (Cormac on #4794)
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/commands/genome_share.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/competence.rs
  core/continuum-core/src/genome/gene_trial.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  protocol/typescript/genome/Took.ts
Labels: none

refactor(genome): decide() takes what it decides on; the competence's size is its maker's
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/genome/competence.rs
Labels: none

fix(trigger): a replay into a held bucket is AlreadyAccepted, never BucketHeldFull (BigMama on #4794)
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
Labels: none

fix(ci): PR runs restore canary's rust caches and never save their own (#4801)
  .github/workflows/auto-close-queue-cards.yml
  .github/workflows/continuum-rust-tests.yml
  .github/workflows/manifest-projection-drift-guard.yml
  .github/workflows/source-hygiene.yml
Labels: workflow

fix(genome): drop the test locals decide() no longer takes (CI warning ratchet)
  core/continuum-core/src/genome/competence.rs
Labels: none

docs(genome): novelty and surprise from every sense; taught signals are the cheapest loops
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

docs(genome): novelty reads engram distance; one calibrated unit per sense; taught pairs file under their own trait (Fable on #4803)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

chore(engine): pin llama.cpp 49210a62 — training leases from serving (share + labelled-only outputs), Metal+BLAS gate fixed (fork #32)
  core/vendor/LLAMA_CPP_PIN
Labels: none

chore(engine): pin llama.cpp c67f88660 — adds #33, the window duration distribution (max/p50/p95) in /train status, so the 5090 takes one deploy
  core/vendor/LLAMA_CPP_PIN
Labels: none

feat(genome): reuse adopts the gene for trial, a trial holds the bucket, fork carries lineage (#4794)
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/commands/genome/mod.rs
  core/continuum-core/src/commands/genome_share.rs
  core/continuum-core/src/commands/training_trigger/flush.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/competence.rs
  core/continuum-core/src/genome/fine_tuning/adapter.rs
  core/continuum-core/src/genome/fine_tuning/coordinator.rs
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/local_candle_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mlx_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/recording_adapter.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/genome/gene_trial.rs
  core/continuum-core/src/genome/recall_select.rs
  core/continuum-core/src/genome/signature.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  docs/architecture/GENE-REUSE-FORK-MINT.md
  protocol/typescript/genome/GeneRef.ts
  protocol/typescript/genome/JobCreateOutcome.ts
  protocol/typescript/genome/JobCreateParams.ts
  protocol/typescript/genome/Took.ts
  protocol/typescript/genome/fine_tuning/TrainingJobRequest.ts
  protocol/typescript/training_trigger/DispatchPhase.ts
  protocol/typescript/training_trigger/SubmitOutcome.ts
Labels: documentation

fix(inference): context checkpoints cover the slot's whole window
  core/continuum-core/src/inference/lane_args.rs
Labels: none

chore(engine): pin llama.cpp 49210a62 — training leases from serving; Metal+BLAS gate fixed (fork #32) (#4804)
  core/vendor/LLAMA_CPP_PIN
Labels: none

fix(inference): mark the checkpoint COUNT exempt from the context-size guard, with its reason
  core/continuum-core/src/inference/lane_args.rs
Labels: none

fix(inference): context checkpoints cover the slot's whole window (#4805)
  core/continuum-core/src/inference/lane_args.rs
Labels: none

feat(genome): her surprise gates the decision; an unsurprised bucket holds
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/competence.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  core/continuum-core/src/persona/awareness.rs
  protocol/typescript/genome/Took.ts
Labels: none

fix(genome): say why the decision's two unwrap_or defaults are safe (hygiene ratchet)
  core/continuum-core/src/commands/genome/job_create.rs
Labels: none

fix(genome): a surprise reading expires on read and needs three judgements; the decision's own arm is tested (Cormac on #4796)
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/persona/awareness.rs
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

feat(genome): her surprise gates the decision; an unsurprised bucket holds (#4796)
  core/continuum-core/src/commands/genome/job_create.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/competence.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  core/continuum-core/src/persona/awareness.rs
  docs/architecture/GENE-REUSE-FORK-MINT.md
  protocol/typescript/genome/Took.ts
Labels: documentation

fix(genome): the share probe says reported=false on an engine with no counts; a missing policy is never a zero share (Cormac on #4798)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

feat(genome): the engine adapter sends training's share of the lane's time (share_ppm)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

feat(genome): the run's completion probes the share the engine counted (Cormac on #4798)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

docs(genome): novelty and surprise from every sense; taught signals are the cheapest loops (#4803)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

feat(genome): the engine adapter sends training's share of the lane's time (share_ppm) (#4798)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

feat(genome): one typed return of a job's examples, and a verb for the jobs that never trained
  core/continuum-core/src/commands/training_trigger/mod.rs
  core/continuum-core/src/commands/training_trigger/return_.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger.rs
  protocol/typescript/training_trigger/ReturnParams.ts
Labels: none

fix(genome): the return verb journals through #4796's typed journal_returned
  core/continuum-core/src/commands/training_trigger/return_.rs
Labels: none

fix(genome): a returned job's examples join the bucket's policy (Fable on #4800)
  core/continuum-core/src/commands/training_trigger/return_.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
Labels: none

feat(genome): one typed return of a job's examples, and a verb for the jobs that never trained (#4800)
  core/continuum-core/src/commands/training_trigger/mod.rs
  core/continuum-core/src/commands/training_trigger/return_.rs
  core/continuum-core/src/commands/training_trigger/submit.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  protocol/typescript/training_trigger/ReturnParams.ts
Labels: none

fix(deploy): the engine build uses the CUDA tree the build environment declared
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(deploy): the engine build uses the CUDA tree the build environment declared (#4807)
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(hygiene): canary red: #4807's unwrap_or_default carries its reason on its own line
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(hygiene): canary red: #4807's unwrap_or_default carries its reason on its own line (#4808)
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(serving): a loading engine of ours is not a failed one
  core/continuum-core/src/inference/llama_server.rs
Labels: none

fix(build-env): add the CUDA import-lib dir whoever set CUDA_PATH
  tools/scripts/lib/windows-build-env.sh
Labels: none

fix(deploy): refuse before stopping a serving core it cannot restart
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(serving): a loading engine of ours is not a failed one (#4809)
  core/continuum-core/src/inference/llama_server.rs
Labels: none

fix(build-env): add the CUDA import-lib dir whoever set CUDA_PATH (#4810)
  tools/scripts/lib/windows-build-env.sh
Labels: none
