Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

test(serving): the keep-the-last-bound rule is a pure next_knee with its own test (card d4d2ef4a)
  core/continuum-core/src/inference/prefill_knee.rs
Labels: none

ci(rust-tests): pull the Postgres service image from ECR Public, not Docker Hub (every Rust lane died on the anonymous pull rate limit)
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

ci(rust-tests): pull the Postgres service image from ECR Public, not Docker Hub (every Rust lane died on the anonymous pull rate limit) (#4885)
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

fix(workspace): the shared sync never autosaves onto or merges into a card branch (card 8fecb762) (#4880)
  core/continuum-core/src/code/git_bridge.rs
  core/continuum-core/src/modules/card_staging.rs
Labels: none

feat(serving): the measured prefill knee bounds the lanes a seat serves, beside the decode knee (card d4d2ef4a, e370a673 slice 2) (#4883)
  core/continuum-core/src/cognition/serving_plan.rs
  core/continuum-core/src/inference/prefill_knee.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(code): a citizen's hands are confined to her workspace: sandboxed spawns (seatbelt, landlock), file verbs refuse outside paths by name (card d598c806) (#4882)
  .gitignore
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/code/confinement.rs
  core/continuum-core/src/code/mod.rs
  core/continuum-core/src/code/path_security.rs
  core/continuum-core/src/code/shell_session.rs
  core/continuum-core/src/commands/code/cargo/check.rs
  core/continuum-core/src/commands/code/cargo/mod.rs
  core/continuum-core/src/commands/code/cargo/test.rs
  core/continuum-core/src/commands/code/run.rs
  core/continuum-core/src/commands/vision/look.rs
  core/continuum-core/src/commands/vision/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/modules/vision.rs
Labels: none

fix(learning): recover retained review boundaries after restart (#4884)
  core/continuum-core/src/cognition/dream_consolidation.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
  core/continuum-core/src/persona/training_producer/reviewed/boundaries.rs
  docs/evidence/20261009-retained-reviewed-credit.md
Labels: documentation

fix(serving): the window allocator packs no further than the plan's knee (card b52e8da0)
  core/continuum-core/src/cognition/serving_plan.rs
  core/continuum-core/src/cognition/window_allocator.rs
Labels: none

fix(serving): the window allocator packs no further than the plan's knee (card b52e8da0) (#4886)
  core/continuum-core/src/cognition/serving_plan.rs
  core/continuum-core/src/cognition/window_allocator.rs
Labels: none

fix(install): never stage an engine into a slot an installer release receipt names
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

docs: make continuous refinement part of delivery
  CLAUDE.md
Labels: documentation

fix(installer): recover prepared selection after sealed engine damage
  docs/evidence/20261009-damaged-installed-selection.md
  install.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

docs: make continuous refinement part of delivery (#4888)
  CLAUDE.md
Labels: documentation

fix(installer): recover prepared selection after sealed engine damage (#4889)
  docs/evidence/20261009-damaged-installed-selection.md
  install.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): never stage an engine into a slot an installer release receipt names (#4887)
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(installer): recognize damaged legacy previous receipt
  docs/evidence/20261009-damaged-installed-selection.md
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): recognize verified superseded selection files
  docs/evidence/20261009-damaged-installed-selection.md
  install.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): recover verified superseded installed selections (#4890)
  docs/evidence/20261009-damaged-installed-selection.md
  install.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(prompt): an age renders as a log-spaced bucket, never the exact minute, so a board line stops forfeiting the prompt cache behind it (card 5346e86a, M5 evidence)
  core/continuum-core/src/cognition/recall_faculty.rs
  core/continuum-core/src/utils/age.rs
Labels: none

fix(serving): the prompt cache holds the minds that actually take turns, not lanes x 2 (card 58ba9752)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(prompt): an age renders as a log-spaced bucket, never the exact minute, so a board line stops forfeiting the prompt cache behind it (card 5346e86a, M5 evidence) (#4891)
  core/continuum-core/src/cognition/recall_faculty.rs
  core/continuum-core/src/utils/age.rs
Labels: none

fix(serving): the prompt cache holds the minds that actually take turns, not lanes x 2 (card 58ba9752) (#4892)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(genome): a Took persisted as a bare job id before #4794 reads as Joined, so a durable dispatch from before the tagged enum no longer refuses every settlement behind it
  core/continuum-core/src/commands/genome/job_create.rs
Labels: none

fix(genome): the exact walk is its own footprint shape, and the core sends the engine a chunk whose measured footprint fits the governed VRAM (card d6dae498)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

chore(bindings): regenerate Took.ts for the doc comment ts-rs carries into the binding
  protocol/typescript/genome/Took.ts
Labels: none

fix(genome): a refused run files the graph the engine's preflight measured, under the chunk it ran, so the next dispatch steps the chunk down (BigMama on #4894)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

fix(genome): for_test keeps its cfg(test) gate (the inserted sibling had taken the attribute; the lib build broke)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

fix(genome): a Took persisted as a bare job id before #4794 reads as Joined (Kimi's 13 staged credits refused on the 5090) (#4893)
  core/continuum-core/src/commands/genome/job_create.rs
  protocol/typescript/genome/Took.ts
Labels: none

chore(engine): pin the engine with the exact walk's horizon-retry rewind (fork #49)
  core/vendor/LLAMA_CPP_PIN
Labels: none

test(genome): the Took round-trip covers every variant through a wildcard-free match, so a variant without a wire twin fails to compile (Cormac on #4893)
  core/continuum-core/src/commands/genome/job_create.rs
Labels: none

test(genome): the Took round-trip covers every variant through a wildcard-free match, so a variant without a wire twin fails to compile (Cormac on #4893)
  core/continuum-core/src/commands/genome/job_create.rs
Labels: none

fix(genome): the exact walk is its own footprint shape, and the core sends a chunk whose measured footprint fits the governed VRAM (card d6dae498, Kimi's 04:34Z refusal) (#4894)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

chore(engine): pin the engine with the exact walk's horizon-retry rewind (fork #49) (#4895)
  core/vendor/LLAMA_CPP_PIN
Labels: none

test(genome): the Took round-trip covers every variant through a wildcard-free match, so a variant without a wire twin fails to compile (Cormac on #4893) (#4896)
  core/continuum-core/src/commands/genome/job_create.rs
Labels: none

code/github/pr-create: same-line justifications on the three unwrap_or_default reads in remote_head_tip (#4897 ratchet lane, comments only)
  core/continuum-core/src/commands/code/github/pr_create.rs
Labels: none

fix(serving): the rotation window spans a slow seat's roster cycle, not one turn (card 56d3c76f)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): the rotation window is measured, the p90 of residents' return intervals (card 56d3c76f)
  core/continuum-core/src/cognition/working_set.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): the prompt cache's rotation window is measured, the p90 of residents' return intervals (card 56d3c76f) (#4898)
  core/continuum-core/src/cognition/working_set.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(install): stage a release from the core's extended \?\ artifact path, so unattended Windows deploys that ship an engine work
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(training): a pass after a failure trains the correction, not the turns the review rejected (card ad4bfaeb)
  core/continuum-core/src/persona/training_producer.rs
Labels: none
