Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

runs but sucks 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T18:56:27.680Z
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/simple-continuum.ts
Labels: dependencies

runs but sucks 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T18:56:27.680Z
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/simple-continuum.ts
Labels: dependencies

logs work 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T19:54:31.843Z
  CLAUDE.md
  middle-out/development/testing-workflow.md
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/lifecycle-continuum.ts
Labels: documentation, dependencies

logs work 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T19:54:31.843Z
  CLAUDE.md
  middle-out/development/testing-workflow.md
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/lifecycle-continuum.ts
Labels: documentation, dependencies

browser client can log 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T20:20:31.504Z
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/README.md
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
  src/ui/continuum-browser-client/index.ts
  src/ui/continuum-browser-client/package.json
  src/ui/continuum-browser-client/test/integration/ContinuumBrowserClient.integration.test.ts
  src/ui/continuum-browser-client/test/unit/ContinuumBrowserClient.test.ts
  src/ui/continuum-browser-client/types/BrowserClientTypes.ts
  src/ui/continuum-browser-client/types/ConsoleTypes.ts
  src/ui/continuum-browser-client/types/WebSocketTypes.ts
Labels: documentation, tests, dependencies

browser client can log 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T20:20:31.504Z
  package-lock.json
  package.json
  scripts/build-browser.cjs
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/README.md
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
  src/ui/continuum-browser-client/index.ts
  src/ui/continuum-browser-client/package.json
  src/ui/continuum-browser-client/test/integration/ContinuumBrowserClient.integration.test.ts
  src/ui/continuum-browser-client/test/unit/ContinuumBrowserClient.test.ts
  src/ui/continuum-browser-client/types/BrowserClientTypes.ts
  src/ui/continuum-browser-client/types/ConsoleTypes.ts
  src/ui/continuum-browser-client/types/WebSocketTypes.ts
Labels: documentation, tests, dependencies

fixed console debugging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:25:13.241Z
  package-lock.json
  package.json
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/ui/components/core/WidgetFactory.ts
  src/ui/components/core/WidgetManager.ts
  src/ui/components/core/WidgetRegistry.ts
  src/ui/components/core/package.json
  src/ui/components/types/WidgetTypes.ts
  src/ui/components/types/package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
  src/ui/lifecycle-continuum.ts
  src/ui/simple-continuum.ts
Labels: dependencies

fixed console debugging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:25:13.241Z
  package-lock.json
  package.json
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/ui/components/core/WidgetFactory.ts
  src/ui/components/core/WidgetManager.ts
  src/ui/components/core/WidgetRegistry.ts
  src/ui/components/core/package.json
  src/ui/components/types/WidgetTypes.ts
  src/ui/components/types/package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
  src/ui/lifecycle-continuum.ts
  src/ui/simple-continuum.ts
Labels: dependencies

fixes for ConsoleForwarder.ts 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:33:32.512Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

fixes for ConsoleForwarder.ts 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:33:32.512Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

bug fix, still doubled 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:47:05.022Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

bug fix, still doubled 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T22:47:05.022Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

preserve order 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T23:19:42.354Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

preserve order 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-09T23:19:42.354Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

type warnings 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:02:08.046Z
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: none

type warnings 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:02:08.046Z
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: none

linter lead me astray 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:09:35.989Z
  package-lock.json
  package.json
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: dependencies

linter lead me astray 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:09:35.989Z
  package-lock.json
  package.json
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/connection/WebSocketManager.ts
Labels: dependencies

much cleanup 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:34:09.100Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

much cleanup 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:34:09.100Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

duplicate log issue 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:41:00.799Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
Labels: dependencies

duplicate log issue 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T00:41:00.799Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
Labels: dependencies

session logs now good 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T01:22:03.667Z
  package-lock.json
  package.json
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: dependencies

session logs now good 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T01:22:03.667Z
  package-lock.json
  package.json
  src/daemons/session-manager/SessionManagerDaemon.ts
Labels: dependencies

logs for issues with socket 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T02:19:11.967Z
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: none

logs for issues with socket 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T02:19:11.967Z
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: none

refresh works 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T02:38:11.955Z
  package-lock.json
  package.json
  src/daemons/base/DaemonTypes.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/MacChromeAdapter.ts
  src/daemons/browser-manager/adapters/MacOperaAdapter.ts
  src/daemons/browser-manager/adapters/base/BaseBrowserAdapter.ts
  src/daemons/browser-manager/adapters/os/MacOSBrowserAdapter.ts
  src/daemons/browser-manager/adapters/scripts/refresh-tab.applescript
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/daemons/widget/WidgetDaemon.ts
  src/daemons/widget/package.json
  src/daemons/widget/test/unit/WidgetDaemon.test.ts
  src/shared/types/WidgetEventTypes.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/types/shared/BrowserEvents.ts
  src/types/shared/EventTypes.ts
  src/types/shared/SessionEventTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: tests, dependencies

refresh works 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T02:38:11.955Z
  package-lock.json
  package.json
  src/daemons/base/DaemonTypes.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/browser-manager/adapters/MacChromeAdapter.ts
  src/daemons/browser-manager/adapters/MacOperaAdapter.ts
  src/daemons/browser-manager/adapters/base/BaseBrowserAdapter.ts
  src/daemons/browser-manager/adapters/os/MacOSBrowserAdapter.ts
  src/daemons/browser-manager/adapters/scripts/refresh-tab.applescript
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/daemons/widget/WidgetDaemon.ts
  src/daemons/widget/package.json
  src/daemons/widget/test/unit/WidgetDaemon.test.ts
  src/shared/types/WidgetEventTypes.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/types/shared/BrowserEvents.ts
  src/types/shared/EventTypes.ts
  src/types/shared/SessionEventTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: tests, dependencies

Implement widget command routing - widget:discover now functional
  package-lock.json
  package.json
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/types/shared/CommandTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

Implement widget command routing - widget:discover now functional
  package-lock.json
  package.json
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/startup/ContinuumSystemStartup.ts
  src/types/shared/CommandTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

json passed well for logging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T03:57:31.370Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

json passed well for logging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T03:57:31.370Z
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

very good logging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:17:16.445Z
  continuum
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

very good logging 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:17:16.445Z
  continuum
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
  src/types/shared/ConsoleTypes.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/console/ConsoleForwarder.ts
Labels: dependencies

Complete JTAG debugging system with AI probe capabilities
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

Complete JTAG debugging system with AI probe capabilities
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

cool probing 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:26:40.358Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

cool probing 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:26:40.358Z
  package-lock.json
  package.json
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
Labels: dependencies

alien probe fully operational 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:32:03.476Z
  continuum
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
Labels: dependencies

alien probe fully operational 🔍 COMPREHENSIVE MODULE COMPLIANCE REPORT ========================================== ⏰ Generated: 2025-07-10T04:32:03.476Z
  continuum
  package-lock.json
  package.json
  src/commands/core/console/ConsoleCommand.ts
Labels: dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
