Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Step 2: Testing validation summary appended to commit message
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: Testing validation summary appended to commit message
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: Enhanced validation summary integration with prepare-commit-msg hook
  src/debug/jtag/final-complete-test.md
  src/debug/jtag/scripts/git-precommit.sh
Labels: documentation

Step 2: Enhanced validation summary integration with prepare-commit-msg hook
  src/debug/jtag/final-complete-test.md
  src/debug/jtag/scripts/git-precommit.sh
Labels: documentation

Step 2: Testing simplified validation summary integration
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: Testing simplified validation summary integration
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: Debug commit to trace git hooks execution
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: Debug commit to trace git hooks execution
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: SUCCESSFUL validation summary integration test
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 2: SUCCESSFUL validation summary integration test
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 3: Testing session directory copying to commit validation
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.info.json
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.log
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.log.json
  .continuum/sessions/validation/run_6e7b48bb7582/logs/server.log
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/body-test.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/content-test.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/screenshot-1758945482085.png
  .continuum/sessions/validation/run_6e7b48bb7582/session-info.json
  src/debug/jtag/final-complete-test.md
Labels: documentation

Step 3: Testing session directory copying to commit validation
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.info.json
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.log
  .continuum/sessions/validation/run_6e7b48bb7582/logs/browser.log.json
  .continuum/sessions/validation/run_6e7b48bb7582/logs/server.log
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/body-test.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/content-test.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6e7b48bb7582/screenshots/screenshot-1758945482085.png
  .continuum/sessions/validation/run_6e7b48bb7582/session-info.json
  src/debug/jtag/final-complete-test.md
Labels: documentation

test: bulletproof validation system with 100% CRUD success
  package-lock.json
  package.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2055.tgz
  src/debug/jtag/continuum-jtag-1.0.2079.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/final-complete-test.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: documentation, tests, dependencies

test: bulletproof validation system with 100% CRUD success
  package-lock.json
  package.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_497e895c1539/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2055.tgz
  src/debug/jtag/continuum-jtag-1.0.2079.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/final-complete-test.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: documentation, tests, dependencies

claude claims this is “bulletproof”
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-debug.json
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-debug.log
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-log.json
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-log.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-debug.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-debug.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-log.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-log.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-warn.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-warn.log
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-system.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-users.png
  .continuum/sessions/validation/run_dedf86989225/test-results.txt
  .continuum/sessions/validation/run_dedf86989225/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2079.tgz
  src/debug/jtag/continuum-jtag-1.0.2080.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

claude claims this is “bulletproof”
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-debug.json
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-debug.log
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-log.json
  .continuum/sessions/validation/run_dedf86989225/logs/browser-console-log.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-debug.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-debug.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-log.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-log.log
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-warn.json
  .continuum/sessions/validation/run_dedf86989225/logs/server-console-warn.log
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-system.png
  .continuum/sessions/validation/run_dedf86989225/screenshots/precommit-users.png
  .continuum/sessions/validation/run_dedf86989225/test-results.txt
  .continuum/sessions/validation/run_dedf86989225/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2079.tgz
  src/debug/jtag/continuum-jtag-1.0.2080.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

feat: add post-commit cleanup for validation artifacts
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2080.tgz
  src/debug/jtag/continuum-jtag-1.0.2081.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-postcommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

feat: add post-commit cleanup for validation artifacts
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_36577c1ad05e/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2080.tgz
  src/debug/jtag/continuum-jtag-1.0.2081.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-postcommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: integrate post-commit cleanup into precommit validation script
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-debug.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-debug.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-log.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-debug.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-debug.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-log.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-log.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-warn.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-warn.log
  .continuum/sessions/validation/run_966c8c5b68cb/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_966c8c5b68cb/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2082.tgz
  src/debug/jtag/continuum-jtag-1.0.2083.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: integrate post-commit cleanup into precommit validation script
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-debug.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-debug.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/browser-console-log.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-debug.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-debug.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-log.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-log.log
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-warn.json
  .continuum/sessions/validation/run_966c8c5b68cb/logs/server-console-warn.log
  .continuum/sessions/validation/run_966c8c5b68cb/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_966c8c5b68cb/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2082.tgz
  src/debug/jtag/continuum-jtag-1.0.2083.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: preserve validation artifacts during clean operations
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2083.tgz
  src/debug/jtag/continuum-jtag-1.0.2084.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: preserve validation artifacts during clean operations
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_1981712843dd/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/browser-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-debug.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-debug.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-log.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-log.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-warn.json
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/logs/server-console-warn.log
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_25cad5df7e91/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2083.tgz
  src/debug/jtag/continuum-jtag-1.0.2084.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

maybe better
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.log
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-system.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-users.png
  .continuum/sessions/validation/run_5e4ffdb86a60/test-results.txt
  .continuum/sessions/validation/run_5e4ffdb86a60/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2084.tgz
  src/debug/jtag/continuum-jtag-1.0.2086.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

maybe better
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.log
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-system.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-users.png
  .continuum/sessions/validation/run_5e4ffdb86a60/test-results.txt
  .continuum/sessions/validation/run_5e4ffdb86a60/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2084.tgz
  src/debug/jtag/continuum-jtag-1.0.2086.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: stop committing validation artifacts to eliminate git noise
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.log
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-system.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-users.png
  .continuum/sessions/validation/run_5e4ffdb86a60/test-results.txt
  .continuum/sessions/validation/run_5e4ffdb86a60/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2086.tgz
  src/debug/jtag/continuum-jtag-1.0.2087.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

fix: stop committing validation artifacts to eliminate git noise
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/browser-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-debug.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-log.log
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.json
  .continuum/sessions/validation/run_5e4ffdb86a60/logs/server-console-warn.log
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-chat.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-rooms.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-system.png
  .continuum/sessions/validation/run_5e4ffdb86a60/screenshots/precommit-users.png
  .continuum/sessions/validation/run_5e4ffdb86a60/test-results.txt
  .continuum/sessions/validation/run_5e4ffdb86a60/validation-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2086.tgz
  src/debug/jtag/continuum-jtag-1.0.2087.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
Labels: dependencies

not ideal but less code
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2087.tgz
  src/debug/jtag/continuum-jtag-1.0.2112.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/EntityScrollerWidget.ts
  src/debug/jtag/widgets/shared/RoomStateManager.ts
Labels: tests, dependencies

not ideal but less code
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2087.tgz
  src/debug/jtag/continuum-jtag-1.0.2112.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/EntityScrollerWidget.ts
  src/debug/jtag/widgets/shared/RoomStateManager.ts
Labels: tests, dependencies

attempted check in
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/academy/create-session/shared/AcademyCreateSessionTypes.ts
  src/debug/jtag/commands/debug/academy-sessions/shared/AcademySessionsDebugTypes.ts
  src/debug/jtag/commands/debug/content-types/shared/ContentTypesDebugTypes.ts
  src/debug/jtag/continuum-jtag-1.0.2112.tgz
  src/debug/jtag/continuum-jtag-1.0.2116.tgz
  src/debug/jtag/docs/DYNAMIC-CONTENT-STATE-SYSTEM.md
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/services/ContentService.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/system/data/entities/TrainingSessionEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/shared/BaseContentWidget.ts
Labels: documentation, dependencies

attempted check in
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/academy/create-session/shared/AcademyCreateSessionTypes.ts
  src/debug/jtag/commands/debug/academy-sessions/shared/AcademySessionsDebugTypes.ts
  src/debug/jtag/commands/debug/content-types/shared/ContentTypesDebugTypes.ts
  src/debug/jtag/continuum-jtag-1.0.2112.tgz
  src/debug/jtag/continuum-jtag-1.0.2116.tgz
  src/debug/jtag/docs/DYNAMIC-CONTENT-STATE-SYSTEM.md
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/services/ContentService.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/system/data/entities/TrainingSessionEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/widgets/shared/BaseContentWidget.ts
Labels: documentation, dependencies

having issues during seeding, but checkpointed
  src/debug/jtag/ACADEMY_ARCHITECTURE.md
  src/debug/jtag/ACADEMY_GENOMIC_DESIGN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2116.tgz
  src/debug/jtag/continuum-jtag-1.0.2119.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/system/data/entities/TrainingSessionEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
Labels: documentation, dependencies

having issues during seeding, but checkpointed
  src/debug/jtag/ACADEMY_ARCHITECTURE.md
  src/debug/jtag/ACADEMY_GENOMIC_DESIGN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2116.tgz
  src/debug/jtag/continuum-jtag-1.0.2119.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/system/data/entities/TrainingSessionEntity.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
Labels: documentation, dependencies

checkpoint
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/state/create/browser/StateCreateBrowserCommand.ts
  src/debug/jtag/commands/state/create/server/StateCreateServerCommand.ts
  src/debug/jtag/commands/state/create/shared/StateCreateTypes.ts
  src/debug/jtag/commands/state/get/browser/StateGetBrowserCommand.ts
  src/debug/jtag/commands/state/get/server/StateGetServerCommand.ts
  src/debug/jtag/commands/state/get/shared/StateGetTypes.ts
  src/debug/jtag/commands/state/get/test/StateGetIntegrationTest.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2119.tgz
  src/debug/jtag/continuum-jtag-1.0.2131.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/browser/JTAGClientBrowser.ts
  src/debug/jtag/system/core/shared/JTAGBase.ts
  src/debug/jtag/system/core/state/browser/StateBrowser.ts
  src/debug/jtag/system/core/state/shared/State.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/test-state-api-integration.sh
  src/debug/jtag/test-state-get-command.sh
  src/debug/jtag/test-state-system-integration.sh
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
  src/debug/jtag/tests/integration/state-api-integration.test.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
Labels: tests, dependencies

checkpoint
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/state/create/browser/StateCreateBrowserCommand.ts
  src/debug/jtag/commands/state/create/server/StateCreateServerCommand.ts
  src/debug/jtag/commands/state/create/shared/StateCreateTypes.ts
  src/debug/jtag/commands/state/get/browser/StateGetBrowserCommand.ts
  src/debug/jtag/commands/state/get/server/StateGetServerCommand.ts
  src/debug/jtag/commands/state/get/shared/StateGetTypes.ts
  src/debug/jtag/commands/state/get/test/StateGetIntegrationTest.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2119.tgz
  src/debug/jtag/continuum-jtag-1.0.2131.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/browser/JTAGClientBrowser.ts
  src/debug/jtag/system/core/shared/JTAGBase.ts
  src/debug/jtag/system/core/state/browser/StateBrowser.ts
  src/debug/jtag/system/core/state/shared/State.ts
  src/debug/jtag/system/data/entities/ContentTypeEntity.ts
  src/debug/jtag/test-state-api-integration.sh
  src/debug/jtag/test-state-get-command.sh
  src/debug/jtag/test-state-system-integration.sh
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
  src/debug/jtag/tests/integration/state-api-integration.test.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
Labels: tests, dependencies

state update and fix outdated integration tests
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/state/update/browser/StateUpdateBrowserCommand.ts
  src/debug/jtag/commands/state/update/server/StateUpdateServerCommand.ts
  src/debug/jtag/commands/state/update/shared/StateUpdateTypes.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2131.tgz
  src/debug/jtag/continuum-jtag-1.0.2134.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
Labels: tests, dependencies

state update and fix outdated integration tests
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/state/update/browser/StateUpdateBrowserCommand.ts
  src/debug/jtag/commands/state/update/server/StateUpdateServerCommand.ts
  src/debug/jtag/commands/state/update/shared/StateUpdateTypes.ts
  src/debug/jtag/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/debug/jtag/continuum-jtag-1.0.2131.tgz
  src/debug/jtag/continuum-jtag-1.0.2134.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
Labels: tests, dependencies

run state management tests in addition to precommit
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/test/run/suite/shared/TestRunSuiteTypes.ts
  src/debug/jtag/continuum-jtag-1.0.2134.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/state-system-integration.test.ts
Labels: tests, dependencies

run state management tests in addition to precommit
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/test/run/suite/shared/TestRunSuiteTypes.ts
  src/debug/jtag/continuum-jtag-1.0.2134.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/state-system-integration.test.ts
Labels: tests, dependencies

trying to commit
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2141.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/README-git-hooks.md
  src/debug/jtag/scripts/git-prepush.sh
  src/debug/jtag/scripts/setup-git-hooks.sh
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

trying to commit
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.2141.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/README-git-hooks.md
  src/debug/jtag/scripts/git-prepush.sh
  src/debug/jtag/scripts/setup-git-hooks.sh
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
