Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(persona): silence affordance — PASS token in prompt + brain-driven recognition (#151)
  src/workers/continuum-core/src/persona/prompt_assembly.rs
  src/workers/continuum-core/src/persona/response.rs
Labels: none

fix(persona): LCD identity grounding — explicit drift-target enumeration in system prompt (#152)
  src/workers/continuum-core/src/persona/service_loop.rs
  src/workers/continuum-core/src/persona/supervisor.rs
Labels: none

feat(probes): time_probe! macro — safe one-line async timing for cognition seams
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/routing/macros.rs
Labels: documentation

refactor(probes): time_probe! revision per reviewer mandate findings
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/routing/macros.rs
Labels: documentation

fix(probes): on_close in both probe Layers — time_sync!/time_probe! now persist (#196)
  src/workers/continuum-core/src/routing/macros.rs
  src/workers/continuum-core/src/routing/probe_file_sink.rs
  src/workers/continuum-core/src/routing/probe_router.rs
Labels: none

feat(probes): convenient debugging — prefix filter + boot wiring + env coupling at one seam (#151) (#1538)
  README.md
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/routing/mod.rs
  src/workers/continuum-core/src/routing/probe_file_sink.rs
  src/workers/continuum-core/src/routing/tracing_init.rs
Labels: documentation

fix(cognition): silence affordance + LCD identity grounding (#151 + #152) (#1539)
  src/workers/continuum-core/src/persona/prompt_assembly.rs
  src/workers/continuum-core/src/persona/response.rs
  src/workers/continuum-core/src/persona/service_loop.rs
  src/workers/continuum-core/src/persona/supervisor.rs
Labels: none

feat(probes): time_probe! macro — safe one-line async timing (#1540)
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/routing/macros.rs
Labels: documentation

refactor(probes): hoist SpanProbeMeta to shared module — addresses R1+R2 BLOCKs
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/routing/mod.rs
  src/workers/continuum-core/src/routing/probe_file_sink.rs
  src/workers/continuum-core/src/routing/probe_router.rs
  src/workers/continuum-core/src/routing/probe_span_meta.rs
Labels: documentation

fix(probes): on_close in both probe Layers — time_sync!/time_probe! now persist (#196) (#1541)
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/routing/macros.rs
  src/workers/continuum-core/src/routing/mod.rs
  src/workers/continuum-core/src/routing/probe_file_sink.rs
  src/workers/continuum-core/src/routing/probe_router.rs
  src/workers/continuum-core/src/routing/probe_span_meta.rs
Labels: documentation

docs(README): crystallize the compounding argument — why mesh beats datacenter
  README.md
Labels: documentation

docs(README): crystallize the compounding argument — why mesh beats datacenter (#1542)
  README.md
Labels: documentation

feat(adapter): arc 1 — typed protocol descriptors on AdapterCapabilities (card 42bd9367)
  src/workers/continuum-core/src/ai/adapter.rs
  src/workers/continuum-core/src/ai/anthropic_adapter.rs
  src/workers/continuum-core/src/ai/heuristic_adapter.rs
  src/workers/continuum-core/src/ai/openai_adapter.rs
  src/workers/continuum-core/src/inference/airc_remote/adapter.rs
  src/workers/continuum-core/src/inference/llamacpp_adapter.rs
Labels: none

feat(adapter): arc 1 — typed protocol descriptors on AdapterCapabilities (card 42bd9367) (#1543)
  src/workers/continuum-core/src/ai/adapter.rs
  src/workers/continuum-core/src/ai/anthropic_adapter.rs
  src/workers/continuum-core/src/ai/heuristic_adapter.rs
  src/workers/continuum-core/src/ai/openai_adapter.rs
  src/workers/continuum-core/src/inference/airc_remote/adapter.rs
  src/workers/continuum-core/src/inference/llamacpp_adapter.rs
Labels: none

fix(boot): close convergent BLOCK on PR #1528 — Uuid::nil + manifest compression + load-bearing seam coverage
  src/workers/continuum-core/src/airc/discovery_aggregate.rs
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/modules/airc.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: none

fix(boot): typed AircDiscovery + BootMode + conditional manifest (Slice A.2.1)
  src/workers/continuum-core/src/airc/discovery_aggregate.rs
  src/workers/continuum-core/src/airc/discovery_state.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/modules/airc.rs
  src/workers/continuum-core/src/runtime/boot_mode.rs
  src/workers/continuum-core/src/runtime/mod.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: none

fix(boot): typed AircDiscovery + BootMode + conditional manifest (Slice A.2.1) (#1528)
  src/workers/continuum-core/src/airc/discovery_aggregate.rs
  src/workers/continuum-core/src/airc/discovery_state.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/modules/airc.rs
  src/workers/continuum-core/src/runtime/boot_mode.rs
  src/workers/continuum-core/src/runtime/mod.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: none

docs(grid): GRID-BUS-ARCHITECTURE — airc as universal bus + grid substrate (#1439)
  docs/architecture/GRID-BUS-ARCHITECTURE.md
Labels: documentation

docs(planning): HEADLESS-PERSONA-HOST-LOOP — slice 13 design (#1510)
  docs/planning/HEADLESS-PERSONA-HOST-LOOP.md
Labels: documentation

test(sentinel): isolate checkpoint tests via CONTINUUM_CHECKPOINT_DIR (#205)
  src/workers/continuum-core/src/modules/sentinel/checkpoint.rs
Labels: none

test(sentinel): isolate checkpoint tests via CONTINUUM_CHECKPOINT_DIR (#205) (#1544)
  src/workers/continuum-core/src/modules/sentinel/checkpoint.rs
Labels: none

feat(probes): instrument inference seam + prompt assembly (#206, #195)
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/inference/llamacpp_adapter.rs
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: documentation

feat(probes): instrument inference seam + prompt assembly (#206, #195) (#1545)
  docs/architecture/RTOS-DEBUGGER-PROBES.md
  src/workers/continuum-core/src/inference/llamacpp_adapter.rs
  src/workers/continuum-core/src/persona/prompt_assembly.rs
Labels: documentation

chore(package): npm start IS headless; npm run desktop adds Node UX
  package.json
Labels: dependencies

chore(package): npm start IS headless; npm run desktop adds Node UX (#1546)
  package.json
Labels: dependencies

fix(probes): rolling-log fmt-layer default — disarm the disk bomb (#211)
  src/workers/Cargo.lock
  src/workers/Cargo.toml
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/routing/tracing_init.rs
Labels: none

fix(ci): replace Docker-based pr-size-labeler with pure-JS github-script
  .github/workflows/pr-labeler.yml
Labels: workflow

fix(probes): rolling-log fmt-layer default — disarm the disk bomb (#211) (#1547)
  src/workers/Cargo.lock
  src/workers/Cargo.toml
  src/workers/continuum-core/Cargo.toml
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/routing/tracing_init.rs
Labels: none

fix(ci): replace Docker-based pr-size-labeler with pure-JS github-script (#1548)
  .github/workflows/pr-labeler.yml
Labels: workflow

fix(probes): isolate global-subscriber tests to kill #203 pollution flake
  src/workers/continuum-core/src/routing/tracing_init.rs
  src/workers/continuum-core/tests/tracing_install_global.rs
Labels: none

feat(runtime): boot_status — honest one-line-per-subsystem startup contract
  src/workers/continuum-core/src/main.rs
  src/workers/continuum-core/src/runtime/boot_status.rs
  src/workers/continuum-core/src/runtime/mod.rs
Labels: none

feat(persona): auto-migrate legacy persona-home layout instead of refusing boot
  src/workers/continuum-core/src/persona/airc_runtime.rs
Labels: none

feat(boot): airc daemon discovery reports via boot_status (slice A3)
  src/workers/continuum-core/src/ipc/mod.rs
Labels: none

feat(boot): adapter selection reports via boot_status (slice A4)
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(boot_status): route via probe! macro so JSONL sink + ProbeRouter actually see the events (reviewer #1)
  src/workers/continuum-core/src/runtime/boot_status.rs
Labels: none

fix(boot:adapter): use real provider-id constants + recognize DMR as offline (reviewer #1)
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

feat(boot): model GGUF availability reports via boot_status (slice A5)
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

feat(cognition): discoverable_tools + tools field on GenerateResponseRequest
  src/shared/generated/cognition/GenerateResponseRequest.ts
  src/workers/continuum-core/src/cognition/generate_response.rs
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/tool_discovery.rs
Labels: none

fix(build): cut continuum target/ from 42 GB to ~7 GB + shared cache across worktrees
  src/scripts/start-server.sh
  src/workers/Cargo.toml
Labels: none

docs(concurrency): style guide + required-first-read pin in CLAUDE.md
  CLAUDE.md
  docs/architecture/CONCURRENCY-STYLE-GUIDE.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
