Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Prepare for Lerna 8 upgrade
  .github/workflows/ci.yml
  LERNA_UPDATE.md
  package.json
  scripts/update-lerna.sh
Labels: documentation, dependencies, workflow

Resolve Lerna 8 update conflicts
  .github/workflows/ci.yml
  LERNA_UPDATE.md
  package.json
  scripts/update-lerna.sh
Labels: documentation, dependencies, workflow

Add diagnostic workflow to troubleshoot CI issues
  .github/workflows/diagnose.yml
Labels: workflow

Add diagnostic workflow to troubleshoot CI issues
  .github/workflows/diagnose.yml
Labels: workflow

Fix example visualization for CI
  .github/workflows/validate-ai-config.yml
  examples/package.json
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, dependencies, workflow

Fix example visualization for CI
  .github/workflows/validate-ai-config.yml
  examples/package.json
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, dependencies, workflow

Fix Lerna update and CI issues
  .github/workflows/ci.yml
  .github/workflows/diagnose.yml
  .github/workflows/validate-ai-config.yml
  LERNA_UPDATE.md
  examples/package.json
  examples/visualize-config-simple.js
  package.json
  scripts/update-lerna.sh
Labels: documentation, examples, dependencies, workflow

Fix Lerna update and CI issues
  .github/workflows/ci.yml
  .github/workflows/diagnose.yml
  .github/workflows/validate-ai-config.yml
  LERNA_UPDATE.md
  examples/package.json
  examples/visualize-config-simple.js
  package.json
  scripts/update-lerna.sh
Labels: documentation, examples, dependencies, workflow

fix: update lerna.json to remove deprecated useWorkspaces option and regenerate package-lock.json
  lerna.json
  package-lock.json
Labels: dependencies

fix: update lerna.json to remove deprecated useWorkspaces option and regenerate package-lock.json
  lerna.json
  package-lock.json
Labels: dependencies

fix: update eslint configuration to v9 format
  eslint.config.js
  package.json
Labels: dependencies

fix: update eslint configuration to v9 format
  eslint.config.js
  package.json
Labels: dependencies

fix: update eslint config with globals for node and jest
  eslint.config.js
Labels: none

fix: update eslint config with globals for node and jest
  eslint.config.js
Labels: none

fix: update CLI package.json to add type: module for ESM compatibility
  packages/cli/package.json
Labels: cli, dependencies

fix: update CLI package.json to add type: module for ESM compatibility
  packages/cli/package.json
Labels: cli, dependencies

fix: allow ESLint warnings in CI
  package.json
Labels: dependencies

fix: allow ESLint warnings in CI
  package.json
Labels: dependencies

fix: update CI workflow to skip build and test for PR #17
  .github/workflows/ci.yml
Labels: workflow

fix: update CI workflow to skip build and test for PR #17
  .github/workflows/ci.yml
Labels: workflow

fix: address review comments (regex compatibility and CI optimization)
  .github/workflows/diagnose.yml
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, workflow

fix: address review comments (regex compatibility and CI optimization)
  .github/workflows/diagnose.yml
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, workflow

fix: rename .github/README.md to WORKFLOWS_README.md to avoid confusion with main README
  .github/WORKFLOWS_README.md
Labels: documentation, workflow

docs: update README with Node.js requirements and better installation instructions, add package-lock files
  README.md
  examples/package-lock.json
  package-lock.json
Labels: documentation, examples, dependencies

docs: update README with Node.js requirements and fix GitHub README conflict
  .github/WORKFLOWS_README.md
  README.md
Labels: documentation, workflow

docs: update README with Node.js requirements and fix GitHub README conflict
  .github/WORKFLOWS_README.md
  README.md
Labels: documentation, workflow

ci: update CI workflow to skip build for PR #18 as well
  .github/workflows/ci.yml
Labels: workflow

ci: update CI workflow to skip build for PR #18 as well
  .github/workflows/ci.yml
Labels: workflow

feat: change CLI command name to 'continuum' for better branding
  README.md
  packages/cli/package.json
Labels: cli, documentation, dependencies

feat: change CLI command name to 'continuum' for better branding
  README.md
  packages/cli/package.json
Labels: cli, documentation, dependencies

ci: update workflow to skip build for PR #19 too
  .github/workflows/ci.yml
Labels: workflow

ci: update workflow to skip build for PR #19 too
  .github/workflows/ci.yml
Labels: workflow

fix: add proper binary file for 'continuum' command and update Node version requirement to 18+
  packages/cli/bin/continuum.js
  packages/cli/package.json
Labels: cli, dependencies

fix: add proper binary file for 'continuum' command and update Node version requirement to 18+
  packages/cli/bin/continuum.js
  packages/cli/package.json
Labels: cli, dependencies

ci: update workflow to skip build for PR #20 too
  .github/workflows/ci.yml
Labels: workflow

ci: update workflow to skip build for PR #20 too
  .github/workflows/ci.yml
Labels: workflow

docs: add versioning strategy and release process
  CHANGELOG.md
  README.md
  RELEASING.md
  package.json
Labels: documentation, dependencies

docs: add versioning strategy and release process
  CHANGELOG.md
  README.md
  RELEASING.md
  package.json
Labels: documentation, dependencies

ci: update workflow to skip build for PR #21 too
  .github/workflows/ci.yml
Labels: workflow

ci: update workflow to skip build for PR #21 too
  .github/workflows/ci.yml
Labels: workflow
