Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat: Phase 2 (part 2) - wire PersonaMemory into PersonaUser
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
  src/debug/jtag/system/user/server/tests/integration/PersonaUser-Lifecycle.test.ts
Labels: tests

docs: brain introspection design - entity-based cognitive debugging
  src/debug/jtag/system/user/server/modules/cognitive/BRAIN-INTROSPECTION-DESIGN.md
Labels: documentation

just a document
  src/debug/jtag/system/user/server/modules/PERSONA-CONVERGENCE-ROADMAP.md
Labels: documentation

ok
  src/debug/jtag/system/user/server/modules/PHASE-3BIS-COMPLETE-PLAN.md
  src/debug/jtag/system/user/server/modules/PHASE-3BIS-MIGRATION-PLAN.md
Labels: documentation

just docs
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PHASE-3BIS-REVISED.md
Labels: documentation, dependencies

decay
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/coordination/server/ChatCoordinationStream.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PHASE-3BIS-REVISED.md
Labels: documentation, dependencies

well they respond
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/activity/user-present/server/ActivityUserPresentServerCommand.ts
  src/debug/jtag/commands/activity/user-present/shared/ActivityUserPresentTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/main/MainWidget.ts
Labels: dependencies

some multi tasking in persona
  papers/NOVEL-CONCEPTS-TO-ADD.md
  papers/thoughtstream-coordination/paper.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/COORDINATION-DECISION-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
Labels: documentation, dependencies

decision entry for introspection
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/CoordinationDecisionEntity.ts
Labels: dependencies

still responding cognition moving forward
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/PHASE-5C-INTEGRATION-PLAN.md
  src/debug/jtag/docs/PHASE-5C-STATUS.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/coordination/server/CoordinationDecisionLogger.ts
  src/debug/jtag/system/data/config/DatabaseConfig.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation, dependencies

cognitive reporting
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/activity/user-present/browser/ActivityUserPresentCommand.ts
  src/debug/jtag/commands/ai/report/decisions/server/DecisionReportFormatter.ts
  src/debug/jtag/commands/ai/report/decisions/server/DecisionReportServerCommand.ts
  src/debug/jtag/commands/ai/report/decisions/shared/DecisionReportTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

manually tested cognition, or at least system still up
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/cognition/DECISION-ADAPTER-PLAN.md
  src/debug/jtag/system/user/server/modules/cognition/adapters/IDecisionAdapter.ts
Labels: documentation, dependencies

fix: restore full RAG context in decision reports with verbose flag
  src/debug/jtag/commands/ai/report/decisions/server/DecisionReportFormatter.ts
Labels: none

testing changes
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/git-precommit.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/tests/integration/ai-decision-report-integration.test.ts
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
Labels: tests, dependencies

fix: precommit hook improvements - reliable AI test + skip heavy chat screenshots
  src/debug/jtag/tests/integration/database-chat-integration.test.ts
Labels: tests

working markdown for decisions
  src/debug/jtag/.continuum/sessions/validation/latest-validation-summary.txt
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/report/decisions/server/DecisionReportServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

fast responses
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/cognition/DecisionAdapterChain.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/FastPathAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/IDecisionAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/LLMAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/ThermalAdapter.ts
Labels: dependencies

genome architectrure and vine diesel
  src/debug/jtag/docs/GENOME-DAEMON-ARCHITECTURE.md
  src/debug/jtag/docs/VINE-DIESEL-PERSONA-DESIGN.md
Labels: documentation

genomic data architecture
  src/debug/jtag/docs/GENOME-DAEMON-ARCHITECTURE.md
Labels: documentation

sharing of persona and phenotype via genomic lora layers
  src/debug/jtag/docs/GENOME-DAEMON-ARCHITECTURE.md
  src/debug/jtag/docs/GENOME-LABS-UX.md
  src/debug/jtag/docs/LORA-TRAINING-STRATEGY.md
Labels: documentation

lora didnt break anything
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/LORA-TRAINING-STRATEGY.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/server/GenomeDaemon.test.ts
  src/debug/jtag/system/genome/server/GenomeDaemon.ts
  src/debug/jtag/system/genome/shared/AdapterRegistry.test.ts
  src/debug/jtag/system/genome/shared/AdapterRegistry.ts
  src/debug/jtag/system/genome/shared/LRUEviction.test.ts
  src/debug/jtag/system/genome/shared/LRUEviction.ts
  src/debug/jtag/system/genome/shared/MockLoRAAdapter.test.ts
  src/debug/jtag/system/genome/shared/MockLoRAAdapter.ts
  src/debug/jtag/system/genome/shared/PersonaGenomeState.test.ts
  src/debug/jtag/system/genome/shared/PersonaGenomeState.ts
Labels: documentation, tests, dependencies

ai’s all think
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/genome/server/GenomeServer.test.ts
  src/debug/jtag/commands/genome/server/GenomeServer.ts
  src/debug/jtag/commands/genome/shared/GenomeTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/server/GenomeDaemon.ts
  src/debug/jtag/system/genome/shared/PersonaGenomeState.ts
Labels: tests, dependencies

claude says it works
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/genome/paging-activate/server/GenomeActivateServerCommand.ts
  src/debug/jtag/commands/genome/paging-activate/shared/GenomeActivateTypes.ts
  src/debug/jtag/commands/genome/paging-deactivate/server/GenomeDeactivateServerCommand.ts
  src/debug/jtag/commands/genome/paging-deactivate/shared/GenomeDeactivateTypes.ts
  src/debug/jtag/commands/genome/paging-register/server/GenomeRegisterServerCommand.ts
  src/debug/jtag/commands/genome/paging-register/shared/GenomeRegisterTypes.ts
  src/debug/jtag/commands/genome/paging-stats/server/GenomePagingStatsServerCommand.ts
  src/debug/jtag/commands/genome/paging-stats/shared/GenomeStatsTypes.ts
  src/debug/jtag/commands/genome/paging-unregister/server/GenomeUnregisterServerCommand.ts
  src/debug/jtag/commands/genome/paging-unregister/shared/GenomeUnregisterTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

genome work
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/genome/paging-adapter-register/server/GenomePagingAdapterRegisterServerCommand.ts
  src/debug/jtag/commands/genome/paging-adapter-register/shared/GenomePagingAdapterRegisterTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

tested works too well
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/browser/ChatExportBrowserCommand.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/chat/export/shared/ChatExportCommand.ts
  src/debug/jtag/commands/chat/export/shared/ChatExportTypes.ts
  src/debug/jtag/commands/chat/send/browser/ChatSendBrowserCommand.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/commands/chat/send/shared/ChatSendCommand.ts
  src/debug/jtag/commands/chat/send/shared/ChatSendTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/design/ROOM-MUTE-DESIGN.md
  src/debug/jtag/design/UNIVERSAL-ACTIVITY-THREADING.md
  src/debug/jtag/docs/PERSONA-SYSTEM-AUDIT.md
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/THREADING-AS-THOUGHTSTREAM.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/shared/workers/PersonaWorkerThread.ts
  src/debug/jtag/shared/workers/persona-worker.ts
  src/debug/jtag/system/genome/MULTI-TIER-TRAINING-STRATEGY.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/OllamaLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/test-ollama.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation, dependencies

docs: add GitHub training pipeline architecture
  src/debug/jtag/docs/GITHUB-TRAINING-PIPELINE.md
  src/debug/jtag/docs/README.md
Labels: documentation

docs: add GitHub training pipeline architecture (#170)
  src/debug/jtag/docs/GITHUB-TRAINING-PIPELINE.md
  src/debug/jtag/docs/README.md
Labels: documentation

docs: add GitHub training pipeline architecture (#170)
  src/debug/jtag/docs/GITHUB-TRAINING-PIPELINE.md
  src/debug/jtag/docs/README.md
Labels: documentation

cold event storage, scoped based recipes, git integration
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/training-daemon/server/TrainingDaemonServer.ts
  src/debug/jtag/daemons/training-daemon/shared/TrainingDaemon.ts
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/architecture/TRAINING-DATA-PIPELINE.md
  src/debug/jtag/docs/recipes/SCOPE-BASED-RECIPES.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/constants/RoomConstants.ts
  src/debug/jtag/system/data/entities/SystemCheckpointEntity.ts
  src/debug/jtag/system/data/entities/WebhookEventEntity.ts
  src/debug/jtag/system/webhooks/WebhookProcessor.ts
Labels: documentation, dependencies

test: add comprehensive training pipeline test suite
  src/debug/jtag/daemons/training-daemon/server/TrainingDaemonServer.ts
  src/debug/jtag/tests/integration/training-pipeline-simple.test.ts
  src/debug/jtag/tests/integration/training-pipeline.test.ts
  src/debug/jtag/tests/unit/training-daemon.test.ts
  src/debug/jtag/tests/unit/webhook-processor.test.ts
Labels: tests

docs: add collaborative learning vision
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/COLLABORATIVE-LEARNING-VISION.md
  src/debug/jtag/docs/README.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

docs: add composable expertise architecture with LoRA layer stacking
  src/debug/jtag/docs/COMPOSABLE-EXPERTISE.md
Labels: documentation

docs: add Grid marketplace vision + practical Phase 1 roadmap
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/docs/PRACTICAL-ROADMAP.md
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/papers/GRID-DECENTRALIZED-MARKETPLACE.md
Labels: documentation

begin code of lora
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/ARCHITECTURE-GAPS-PHASE1.md
  src/debug/jtag/docs/CODEBASE-RAG-DESIGN.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/CodebaseRAGBuilder.ts
  src/debug/jtag/system/rag/shared/CodebaseTypes.ts
Labels: documentation, dependencies

verified working
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/index-codebase/shared/CodebaseIndexCommand.ts
  src/debug/jtag/commands/ai/rag/index-codebase/shared/CodebaseIndexTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/CODEBASE-RAG-DESIGN.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/CodeIndexEntity.ts
  src/debug/jtag/system/shared/Constants.ts
Labels: documentation, dependencies

Generic Rag
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/embedding/generate/server/EmbeddingGenerateServerCommand.ts
  src/debug/jtag/commands/ai/embedding/generate/shared/EmbeddingGenerateCommand.ts
  src/debug/jtag/commands/ai/embedding/generate/shared/EmbeddingGenerateTypes.ts
  src/debug/jtag/commands/ai/rag/index/create/server/IndexCreateServerCommand.ts
  src/debug/jtag/commands/ai/rag/index/create/shared/IndexCreateCommand.ts
  src/debug/jtag/commands/ai/rag/index/create/shared/IndexCreateTypes.ts
  src/debug/jtag/commands/ai/rag/query-fetch/shared/RagQueryFetchTypes.ts
  src/debug/jtag/commands/ai/rag/query-open/server/RagQueryOpenServerCommand.ts
  src/debug/jtag/commands/ai/rag/query-open/shared/RagQueryOpenCommand.ts
  src/debug/jtag/commands/ai/rag/query-open/shared/RagQueryOpenTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/docs/CODEBASE-RAG-IMPLEMENTATION.md
  src/debug/jtag/docs/MULTI-MODEL-PERSONA-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
Labels: documentation, dependencies

RAG Iterator Pattern Implementation
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/index/create/server/IndexCreateServerCommand.ts
  src/debug/jtag/commands/ai/rag/query-close/server/RagQueryCloseServerCommand.ts
  src/debug/jtag/commands/ai/rag/query-close/shared/RagQueryCloseCommand.ts
  src/debug/jtag/commands/ai/rag/query-close/shared/RagQueryCloseTypes.ts
  src/debug/jtag/commands/ai/rag/query-fetch/server/RagQueryFetchServerCommand.ts
  src/debug/jtag/commands/ai/rag/query-fetch/shared/RagQueryFetchCommand.ts
  src/debug/jtag/commands/ai/rag/query-fetch/shared/RagQueryFetchTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
Labels: dependencies

lora adapters and business case
  BUSINESS-PHILOSOPHY.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/fine-tuning/ASYNC-ARCHITECTURE.md
  src/debug/jtag/system/genome/fine-tuning/PROVIDER-STATUS.md
  src/debug/jtag/system/genome/fine-tuning/TEST-RESULTS.md
  src/debug/jtag/system/genome/fine-tuning/server/BaseLoRATrainerServer.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/AnthropicLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/DeepSeekLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/OllamaLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/OpenAILoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/PEFTLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/BaseRemoteAPITest.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/INTEGRATION-STRATEGY.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/README.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/STATUS.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/deployment/CLOUD-SERVICE.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/deployment/IMMEDIATE-ROADMAP.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/deployment/MULTI-PLATFORM-STRATEGY.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/deployment/docker-compose.yml
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-all.sh
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-aws-bedrock.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-deepseek.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-fireworks.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-openai.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/api-tests/test-together.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/shared/RemoteAPICore.ts
  src/debug/jtag/system/genome/fine-tuning/server/adapters/shared/RemoteAPITypes.ts
  src/debug/jtag/system/genome/fine-tuning/shared/ADAPTER-ARCHITECTURE.md
  src/debug/jtag/system/genome/fine-tuning/shared/BaseLoRATrainer.ts
  src/debug/jtag/system/genome/fine-tuning/shared/FineTuningTypes.ts
  src/debug/jtag/system/genome/fine-tuning/test-handle-pattern.ts
  src/debug/jtag/widgets/CONTENT-ROUTING.md
Labels: documentation, dependencies

feat: implement Together AI LoRA fine-tuning adapter
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/genome/fine-tuning/PROVIDER-CONSOLIDATION-PLAN.md
  src/debug/jtag/system/genome/fine-tuning/PROVIDER-STATUS.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/TogetherLoRAAdapter.ts
Labels: documentation, dependencies

feat: add Together AI LoRA adapter with end-to-end test
  src/debug/jtag/system/genome/fine-tuning/PROVIDER-STATUS.md
  src/debug/jtag/system/genome/fine-tuning/server/adapters/TogetherLoRAAdapter.ts
  src/debug/jtag/system/genome/fine-tuning/test-together-adapter.ts
Labels: documentation
