Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(cognition): narrow the claim to what was measured — a stale rung shrinks the prompt, it does not open the loop
  core/continuum-core/src/cognition/context_budget.rs
Labels: none

fix(benchmark): resolve native grading tools on Windows (#4319)
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/shell_portable.rs
Labels: none

fix(placement): say SERVED, not "runs here" — routing is not residency (#4316)
  core/continuum-core/src/persona/placement_switch.rs
Labels: none

feat(genome): train CUDA LoRA through shared native job ownership
  core/continuum-core/src/bin/forge_custodian.rs
  core/continuum-core/src/forge/grid_custodian.rs
  core/continuum-core/src/forge/lora_convert.rs
  core/continuum-core/src/forge/mlx_train.rs
  core/continuum-core/src/forge/mod.rs
  core/continuum-core/src/forge/protocol.rs
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda-requirements.txt
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/cuda_train.py
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  core/continuum-core/src/genome/fine_tuning/mlx_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/forge.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
  protocol/typescript/genome/fine_tuning/ArtifactFormat.ts
Labels: documentation

Preserve multimodal CUDA model layout and verify native GGUF export
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/cuda_train.py
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
Labels: documentation, workflow

fix(cognition): an unknown prefill rate is not permission for the whole window (#4321)
  core/continuum-core/src/cognition/context_budget.rs
Labels: none

fix(bench): one answer to "how is a missing host prerequisite recorded" — the freetype gate was the second instance
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(disk): the airc build tree gets a row and an owner — a third cargo cache was tracked by nobody and evicted by nobody
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/system_resources/disk_eviction.rs
  core/continuum-core/src/system_resources/disk_reporters.rs
  core/continuum-core/src/system_resources/mod.rs
Labels: none

Pin CUDA adapter base identity and document native MLX admission gap
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  docs/architecture/CUDA-GENOME-TRAINING.md
Labels: documentation

fix(bench): a missing uv is a COULD-NOT-LOOK, never the instance's standing refusal (#4320)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

feat(genome): add governed CUDA LoRA with shared native training ownership (#4322)
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/bin/forge_custodian.rs
  core/continuum-core/src/forge/grid_custodian.rs
  core/continuum-core/src/forge/lora_convert.rs
  core/continuum-core/src/forge/mlx_train.rs
  core/continuum-core/src/forge/mod.rs
  core/continuum-core/src/forge/protocol.rs
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda-requirements.txt
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/cuda_train.py
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  core/continuum-core/src/genome/fine_tuning/mlx_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/mod.rs
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/forge.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
  protocol/typescript/genome/fine_tuning/ArtifactFormat.ts
Labels: documentation, workflow

fix(deploy+serving): sysinfo::available_memory() returns 0 on macOS — three readers budgeted against a permanent zero
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/capacity/system_profile.rs
  core/continuum-core/src/inference/backends/llamacpp.rs
  core/continuum-core/src/system_resources/memory_pressure.rs
Labels: none

fix(disk): the airc build tree gets a row and an owner — a third cargo cache was tracked by nobody and evicted by nobody (#4323)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/system_resources/disk_eviction.rs
  core/continuum-core/src/system_resources/disk_reporters.rs
  core/continuum-core/src/system_resources/mod.rs
Labels: none

fix(allocator): gate a mind on her NEED (post-fit, held turns) and target her WISH — a requirement is a target, not a gate
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/window_allocator.rs
  core/continuum-core/src/cognition/working_set.rs
  core/continuum-core/src/modules/grid_allocator.rs
Labels: none

fix(deploy+serving): sysinfo::available_memory() returns 0 on macOS — three readers budgeted against a permanent zero (#4324)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/capacity/system_profile.rs
  core/continuum-core/src/inference/backends/llamacpp.rs
  core/continuum-core/src/system_resources/memory_pressure.rs
Labels: none

fix(allocator): gate a mind on her NEED (post-fit, held turns) and target her WISH — a requirement is a target, not a gate (#4325)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/window_allocator.rs
  core/continuum-core/src/cognition/working_set.rs
  core/continuum-core/src/modules/grid_allocator.rs
Labels: none

Fix genome job lookup handle collision with command envelope
  core/continuum-core/src/commands/genome/job_cancel.rs
  core/continuum-core/src/commands/genome/job_status.rs
  core/continuum-core/src/commands/genome/mod.rs
  protocol/typescript/genome/JobLookupParams.ts
Labels: none

Fix genome job lookup handle collision with command envelope (#4326)
  core/continuum-core/src/commands/genome/job_cancel.rs
  core/continuum-core/src/commands/genome/job_status.rs
  core/continuum-core/src/commands/genome/mod.rs
  protocol/typescript/genome/JobLookupParams.ts
Labels: none

fix: receipt accepted credit without privileged evidence deletion
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
  docs/architecture/TEAM-WORK-DIAGNOSTICS.md
Labels: documentation

probe(cognition): the unheld turn is said — persona.need.unheld carries sent/framing/fit_ok/reason
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix: persist credit acceptance without privileged deletion (#4327)
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
  docs/architecture/TEAM-WORK-DIAGNOSTICS.md
Labels: documentation

fix: retain typed terminal training outcomes in job ledger
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
Labels: none

fix: retain typed terminal training outcomes in job ledger (#4330)
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
Labels: none

fix(work): work/heartbeat and work/release act where the card lives — the _in forms, never a room switch
  core/continuum-core/src/modules/work.rs
Labels: none

probe(cognition): the unheld turn is said — persona.need.unheld carries sent/framing/fit_ok/reason (#4329)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(genome): expose terminal job history through status command
  core/continuum-core/src/commands/genome/job_status.rs
  core/continuum-core/src/commands/genome/mod.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  protocol/typescript/genome/JobStatusOutcome.ts
  protocol/typescript/genome/JobStatusParams.ts
  protocol/typescript/genome/JobStatusSource.ts
Labels: none

fix(genome): emit JSON-compatible history offsets
  core/continuum-core/src/commands/genome/job_status.rs
  protocol/typescript/genome/JobStatusOutcome.ts
  protocol/typescript/genome/JobStatusParams.ts
Labels: none

fix(genome): regenerate cancel handle documentation
  protocol/typescript/genome/JobLookupParams.ts
Labels: none

fix(training): expose journal corruption without blocking later receipts
  core/continuum-core/src/commands/genome/job_status.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  protocol/typescript/genome/JobStatusOutcome.ts
Labels: none

docs(genome): clarify cancel handle adapter selection
  core/continuum-core/src/commands/genome/mod.rs
  protocol/typescript/genome/JobLookupParams.ts
Labels: none

fix(genome): recover terminal job status after restart (#4332)
  core/continuum-core/src/commands/genome/job_status.rs
  core/continuum-core/src/commands/genome/mod.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/modules/training_trigger/durable.rs
  protocol/typescript/genome/JobLookupParams.ts
  protocol/typescript/genome/JobStatusOutcome.ts
  protocol/typescript/genome/JobStatusParams.ts
  protocol/typescript/genome/JobStatusSource.ts
Labels: none

fix(training): retain CUDA jobs while governed capacity is unavailable
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/cuda_train.py
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
Labels: documentation

fix(genome): one ledger row, one write — the jobs ledger no longer zips concurrent rows together
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

fix(training): retain CUDA jobs while governed capacity is unavailable (#4333)
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/cuda_train.py
  core/continuum-core/src/genome/fine_tuning/cuda_train_test.py
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
Labels: documentation

fix(training): expose governed capacity waits through job status
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
  protocol/typescript/genome/fine_tuning/TrainingStatus.ts
Labels: documentation

fix(training): expose governed capacity waits through job status (#4335)
  core/continuum-core/src/forge/training_admission.rs
  core/continuum-core/src/genome/fine_tuning/cuda_lora_adapter.rs
  core/continuum-core/src/genome/fine_tuning/job_board.rs
  core/continuum-core/src/genome/fine_tuning/native_jobs.rs
  core/continuum-core/src/genome/fine_tuning/types.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  docs/architecture/CUDA-GENOME-TRAINING.md
  protocol/typescript/genome/fine_tuning/TrainingStatus.ts
Labels: documentation

fix(genome): one ledger row, one write — the jobs ledger no longer zips concurrent rows together (#4334)
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

fix(client): a refusal keeps its typed outcome — ClientError::Refused carries the command's own result, the CLI prints it, FFI forwards it
  client/continuum-client-ffi/src/lib.rs
  client/continuum-client/src/airc_ipc.rs
  client/continuum-client/src/error.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/tool_executor/command_executor.rs
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/runtime/core_ipc_transport.rs
  core/continuum-core/src/runtime/in_process_transport.rs
Labels: none

fix(genome): preserve continuation for inspected history pages
  core/continuum-core/src/commands/genome/job_status.rs
  protocol/typescript/genome/JobStatusOutcome.ts
Labels: none

fix(genome): preserve continuation for inspected history pages (#4337)
  core/continuum-core/src/commands/genome/job_status.rs
  protocol/typescript/genome/JobStatusOutcome.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
