Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(attention): acknowledge only the drained input generation
  core/continuum-core/src/cognition/directed_pending.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

test(attention): retain late input across batch acknowledgement
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(attention): preserve newer wakes across inbox acknowledgement (#4622)
  core/continuum-core/src/cognition/directed_pending.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(inference): release registry guard before generation
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/cognition/generate_response.rs
Labels: none

fix(inference): lease the selected adapter outside the registry lock (#4623)
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/cognition/generate_response.rs
Labels: none

fix(core): recover AIRC through guarded attach on Windows
  core/continuum-core/src/airc/discovery_aggregate.rs
Labels: none

Install uu as a hard link to the Windows CLI
  Cargo.lock
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

Repair both CLI names when only the primary is missing
  core/continuum-cli-lifecycle/src/install_cli.rs
Labels: none

fix(core): recover AIRC through guarded attach on Windows (#4624)
  core/continuum-core/src/airc/discovery_aggregate.rs
Labels: none

Install uu as a Windows hard-link alias (#4625)
  Cargo.lock
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(interface): expose screenshot capture parameters to tools
  core/continuum-core/src/interface/mod.rs
Labels: none

test(interface): verify capture schema and account for its prompt cost
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

fix(interface): expose screenshot capture parameters to tools (#4626)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/interface/mod.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

fix(genome): recover corroborated legacy reboot outcomes
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

docs: define event-driven mind acceptance and shared flow
  docs/architecture/EVENT-MIND-ACCEPTANCE.md
Labels: documentation

docs: define event-driven mind acceptance and shared flow (#4628)
  docs/architecture/EVENT-MIND-ACCEPTANCE.md
Labels: documentation

fix(genome): recover corroborated legacy reboot outcomes (#4627)
  core/continuum-core/src/genome/fine_tuning/job_board.rs
Labels: none

feat(perception): observe PDF text and page pixels through shared surface
  apps/eye-node/README.md
  apps/eye-node/src/observeAdapter.ts
  packages/perception/index.ts
  packages/perception/pdfSurface.ts
Labels: documentation

fix(perception): expose PDF page reading in installed command discovery
  core/continuum-core/src/perception/mod.rs
Labels: none

fix(perception): enforce local PDF sources and test allocation boundaries
  packages/perception/pdfSurface.spec.ts
  packages/perception/pdfSurface.ts
Labels: tests

feat(perception): decode PDF pages through the shared observation surface (#4629)
  apps/eye-node/README.md
  apps/eye-node/src/observeAdapter.ts
  core/continuum-core/src/perception/mod.rs
  packages/perception/index.ts
  packages/perception/pdfSurface.spec.ts
  packages/perception/pdfSurface.ts
Labels: documentation, tests

Use generation index for reviewed credit binding
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
Labels: none

docs(learning): identify credit storage decoding boundaries
  core/continuum-core/src/persona/training_producer/reviewed.rs
Labels: none

fix(perception): provision PDF decoders for Windows service
  apps/eye-node/src/observeAdapter.ts
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
Labels: none

fix(install): preserve prepared resume without provisioning
  install.ps1
Labels: none

Use indexed generation lookup for reviewed credit binding (#4630)
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
Labels: none

fix(perception): install PDF runtime for Windows provider (#4631)
  apps/eye-node/src/observeAdapter.ts
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
Labels: none

fix(install): repair unloadable PDF decoders
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): repair unloadable PDF decoders (#4632)
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

docs(cognition): distinguish historical gaps from live tool wiring
  docs/architecture/PERSONA-COGNITION-PIPELINE.md
Labels: documentation

fix(cognition): count perception tools as verification feedback
  core/continuum-core/src/cognition/act_observe/observation.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

fix(work): distinguish review claims in missing-repo feedback
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): retain full published identity in submission receipts
  core/continuum-core/src/modules/work/submission.rs
  protocol/typescript/work/WorkSubmitResult.ts
Labels: none

fix(work): keep actionable repo help within tool budget
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): retain full published identity in submission receipts (#4634)
  core/continuum-core/src/modules/work/submission.rs
  protocol/typescript/work/WorkSubmitResult.ts
Labels: none

fix(cognition): recognize perception feedback and correct stale wiring guidance (#4633)
  core/continuum-core/src/cognition/act_observe/observation.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
  core/continuum-core/src/modules/work.rs
  docs/architecture/PERSONA-COGNITION-PIPELINE.md
Labels: documentation

fix(deploy): retain claimed revision through warm builds
  core/continuum-cli-lifecycle/src/deploy_provenance.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(code): restore retained review workspaces and accept Windows shell paths
  core/continuum-core/src/code/path_security.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/persona/work_focus.rs
Labels: none

fix(deploy): retain claimed revision through warm builds (#4635)
  core/continuum-cli-lifecycle/src/deploy_provenance.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(code): resolve directory receipts through the shared path boundary
  core/continuum-core/src/code/file_engine.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
