Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix: resolve all git hook validation issues
  .husky/pre-commit
  package-lock.json
  package.json
  src/daemons/base/index.ts
  src/daemons/base/package.json
  src/daemons/base/test/unit/BaseDaemon.test.ts
  src/daemons/mesh/package.json
  src/daemons/mesh/test/unit/MeshNodeDaemon.test.ts
  src/testing/IntelligentModularTestRunner.ts
  src/testing/SimpleTestRunner.ts
Labels: tests, dependencies

fix: resolve all git hook validation issues
  .husky/pre-commit
  package-lock.json
  package.json
  src/daemons/base/index.ts
  src/daemons/base/package.json
  src/daemons/base/test/unit/BaseDaemon.test.ts
  src/daemons/mesh/package.json
  src/daemons/mesh/test/unit/MeshNodeDaemon.test.ts
  src/testing/IntelligentModularTestRunner.ts
  src/testing/SimpleTestRunner.ts
Labels: tests, dependencies

feat: comprehensive modular testing infrastructure with graduation system
  .husky/pre-commit
  package.json
  src/testing/IncrementalComplianceTracker.ts
  src/testing/ModuleComplianceReport.ts
  src/testing/ModuleGraduationTracker.ts
Labels: dependencies

feat: comprehensive modular testing infrastructure with graduation system
  .husky/pre-commit
  package.json
  src/testing/IncrementalComplianceTracker.ts
  src/testing/ModuleComplianceReport.ts
  src/testing/ModuleGraduationTracker.ts
Labels: dependencies

fix: resolve TypeScript compilation issues in testing infrastructure
  middle-out/README.md
  middle-out/testing/intelligent-modular-testing.md
  src/testing/ModuleComplianceReport.ts
Labels: documentation

fix: resolve TypeScript compilation issues in testing infrastructure
  middle-out/README.md
  middle-out/testing/intelligent-modular-testing.md
  src/testing/ModuleComplianceReport.ts
Labels: documentation

🎓 graduate: 4 modules achieve full compliance\!
  CLAUDE.md
  src/integrations/websocket/package.json
  src/testing/ModuleComplianceReport.ts
  src/ui/components/ActiveProjects/package.json
  src/ui/components/SavedPersonas/package.json
  src/ui/components/UserSelector/package.json
Labels: documentation, dependencies

🎓 graduate: 4 modules achieve full compliance\!
  CLAUDE.md
  src/integrations/websocket/package.json
  src/testing/ModuleComplianceReport.ts
  src/ui/components/ActiveProjects/package.json
  src/ui/components/SavedPersonas/package.json
  src/ui/components/UserSelector/package.json
Labels: documentation, dependencies

🎓 achieve: 100% WIDGET COMPLIANCE\! Major cleanup + ChatRoom graduation
  src/testing/ModuleComplianceReport.ts
  src/ui/components/ChatRoom/package.json
  src/ui/components/ChatRoom/test/integration/ChatRoom.integration.test.ts
  src/ui/components/ChatRoom/test/unit/ChatRoom.test.ts
  src/ui/components/domain/communication/base/package.json
  src/ui/components/domain/intelligence/base/package.json
  src/ui/components/domain/navigation/base/package.json
  src/ui/components/domain/system/base/package.json
  src/ui/components/intermediate/command-widget/CommandWidget.ts
  src/ui/components/intermediate/real-time-widget/package.json
Labels: tests, dependencies

🎓 achieve: 100% WIDGET COMPLIANCE\! Major cleanup + ChatRoom graduation
  src/testing/ModuleComplianceReport.ts
  src/ui/components/ChatRoom/package.json
  src/ui/components/ChatRoom/test/integration/ChatRoom.integration.test.ts
  src/ui/components/ChatRoom/test/unit/ChatRoom.test.ts
  src/ui/components/domain/communication/base/package.json
  src/ui/components/domain/intelligence/base/package.json
  src/ui/components/domain/navigation/base/package.json
  src/ui/components/domain/system/base/package.json
  src/ui/components/intermediate/command-widget/CommandWidget.ts
  src/ui/components/intermediate/real-time-widget/package.json
Labels: tests, dependencies

🎯 implement: Progressive Quality Enforcement System - Per-Module Configuration
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/daemons/base/package.json
  src/testing/ESLintGraduationTracker.ts
  src/testing/QualityEnforcementEngine.ts
Labels: dependencies

🎯 implement: Progressive Quality Enforcement System - Per-Module Configuration
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/daemons/base/package.json
  src/testing/ESLintGraduationTracker.ts
  src/testing/QualityEnforcementEngine.ts
Labels: dependencies

🎯 complete: TypeScript Schema System for Module Quality Standards
  package.json
  src/testing/QualityEnforcementEngine.ts
  src/types/ModuleQualitySchema.ts
Labels: dependencies

🎯 complete: TypeScript Schema System for Module Quality Standards
  package.json
  src/testing/QualityEnforcementEngine.ts
  src/types/ModuleQualitySchema.ts
Labels: dependencies

feat: add package.json to core command categories with quality configs
  src/commands/browser/package.json
  src/commands/core/package.json
  src/commands/system/package.json
Labels: dependencies

feat: add package.json to core command categories with quality configs
  src/commands/browser/package.json
  src/commands/core/package.json
  src/commands/system/package.json
Labels: dependencies

feat: implement template-based command compliance auto-fix system
  package.json
  scripts/fix-command-compliance.js
  scripts/templates/command-index.ts
  scripts/templates/command-package.json
  scripts/templates/command-test.ts
Labels: dependencies

feat: implement template-based command compliance auto-fix system
  package.json
  scripts/fix-command-compliance.js
  scripts/templates/command-index.ts
  scripts/templates/command-package.json
  scripts/templates/command-test.ts
Labels: dependencies

feat: achieve 100% command module compliance with template system
  src/commands/academy/package.json
  src/commands/ai/package.json
  src/commands/communication/package.json
  src/commands/database/package.json
  src/commands/development/package.json
  src/commands/devtools/package.json
  src/commands/docs/package.json
  src/commands/events/package.json
  src/commands/file/package.json
  src/commands/input/package.json
  src/commands/kernel/package.json
  src/commands/monitoring/package.json
  src/commands/persona/package.json
  src/commands/planning/package.json
  src/commands/testing/package.json
  src/commands/ui/package.json
Labels: dependencies

feat: achieve 100% command module compliance with template system
  src/commands/academy/package.json
  src/commands/ai/package.json
  src/commands/communication/package.json
  src/commands/database/package.json
  src/commands/development/package.json
  src/commands/devtools/package.json
  src/commands/docs/package.json
  src/commands/events/package.json
  src/commands/file/package.json
  src/commands/input/package.json
  src/commands/kernel/package.json
  src/commands/monitoring/package.json
  src/commands/persona/package.json
  src/commands/planning/package.json
  src/commands/testing/package.json
  src/commands/ui/package.json
Labels: dependencies

fix: resolve ES module __dirname issue in MacOSBrowserAdapter
  src/daemons/browser-manager/adapters/os/MacOSBrowserAdapter.ts
Labels: none

fix: resolve ES module __dirname issue in MacOSBrowserAdapter
  src/daemons/browser-manager/adapters/os/MacOSBrowserAdapter.ts
Labels: none

feat: graduate 5 modules to strict quality enforcement
  middle-out/development/progressive-quality-enforcement.md
  src/commands/browser/package.json
  src/commands/core/package.json
  src/commands/system/package.json
  src/daemons/command-processor/package.json
  src/daemons/mesh-coordinator/package.json
  src/daemons/mesh-coordinator/test/unit/MeshCoordinatorDaemon.test.ts
  src/testing/QualityEnforcementEngine.ts
Labels: documentation, tests, dependencies

feat: graduate 5 modules to strict quality enforcement
  middle-out/development/progressive-quality-enforcement.md
  src/commands/browser/package.json
  src/commands/core/package.json
  src/commands/system/package.json
  src/daemons/command-processor/package.json
  src/daemons/mesh-coordinator/package.json
  src/daemons/mesh-coordinator/test/unit/MeshCoordinatorDaemon.test.ts
  src/testing/QualityEnforcementEngine.ts
Labels: documentation, tests, dependencies

feat: graduate 3 core daemons to strict quality enforcement
  src/daemons/browser-manager/package.json
  src/daemons/renderer/package.json
  src/daemons/session-manager/package.json
Labels: dependencies

feat: graduate 3 core daemons to strict quality enforcement
  src/daemons/browser-manager/package.json
  src/daemons/renderer/package.json
  src/daemons/session-manager/package.json
Labels: dependencies

feat: enhance quality schema with PERFECT status and automated verification
  src/daemons/academy/package.json
  src/daemons/static-file/package.json
  src/types/ModuleQualitySchema.ts
Labels: dependencies

feat: enhance quality schema with PERFECT status and automated verification
  src/daemons/academy/package.json
  src/daemons/static-file/package.json
  src/types/ModuleQualitySchema.ts
Labels: dependencies

feat: implement quality-aware runtime system with executable metadata
  middle-out/development/automated-quality-verification.md
  src/testing/QualityAwareRuntime.ts
  src/testing/test/QualityAwareRuntime.test.ts
Labels: documentation, tests

feat: implement quality-aware runtime system with executable metadata
  middle-out/development/automated-quality-verification.md
  src/testing/QualityAwareRuntime.ts
  src/testing/test/QualityAwareRuntime.test.ts
Labels: documentation, tests

feat: enhance git pre-push hook with comprehensive error messaging
  .husky/pre-push
Labels: none

feat: enhance git pre-push hook with comprehensive error messaging
  .husky/pre-push
Labels: none

fix: resolve WildcardRouting integration test failures
  src/test/integration/WildcardRouting.integration.test.ts
Labels: tests

fix: resolve WildcardRouting integration test failures
  src/test/integration/WildcardRouting.integration.test.ts
Labels: tests

fix: resolve browser manager integration test failures
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: tests

fix: resolve browser manager integration test failures
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: tests

feat: implement comprehensive immune system for zombie tab bug detection
  middle-out/development/immune-system-design.md
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: documentation, tests

feat: implement comprehensive immune system for zombie tab bug detection
  middle-out/development/immune-system-design.md
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: documentation, tests

fix: complete immune system tests to documentation-only approach
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: tests

fix: complete immune system tests to documentation-only approach
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
Labels: tests
