Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

blank bs
  continuum
  main.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/integrations/websocket/WebSocketDaemon.ts
Labels: none

blank bs
  continuum
  main.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/integrations/websocket/WebSocketDaemon.ts
Labels: none

nearly working well
  main.ts
  package.json
  src/daemons/renderer/RendererDaemon.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/continuum-browser.ts
Labels: dependencies

nearly working well
  main.ts
  package.json
  src/daemons/renderer/RendererDaemon.ts
  src/ui/components/Chat/ChatWidget.ts
  src/ui/components/Sidebar/SidebarWidget.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/continuum-browser.ts
Labels: dependencies

so close
  src/ui/continuum-browser.ts
Labels: none

so close
  src/ui/continuum-browser.ts
Labels: none

new org
  CLAUDE.md
  MIDDLE-OUT.md
  launch.ts
  main.ts
  package.json
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/commands/ui/discover-widgets/package.json
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/SafeBrowserManager.ts
  src/daemons/browser-manager/SessionIntegration.ts
  src/daemons/browser-manager/SessionManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/browser-manager/test/BrowserConnection.test.ts
  src/daemons/browser-manager/test/IntelligentBrowserManager.test.ts
  src/daemons/browser-manager/test/JTAG.test.ts
  src/daemons/browser-manager/test/SafeBrowserManager.test.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/continuum-directory/package.json
  src/daemons/continuum-directory/test/integration/ContinuumDirectoryDaemon.integration.test.ts
  src/daemons/continuum-directory/test/unit/ContinuumDirectoryDaemon.test.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/testing/package.json
  src/system/testing/test/universal-layer-runner.ts
  src/types/css.d.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetDiscovery.ts
  src/ui/components/shared/WidgetTestTemplate.ts
  src/ui/components/test/AllWidgetsTest.ts
  src/ui/components/test/widget-runner.ts
  src/ui/continuum-browser.ts
Labels: documentation, tests, dependencies

new org
  CLAUDE.md
  MIDDLE-OUT.md
  launch.ts
  main.ts
  package.json
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/commands/ui/discover-widgets/package.json
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/SafeBrowserManager.ts
  src/daemons/browser-manager/SessionIntegration.ts
  src/daemons/browser-manager/SessionManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/browser-manager/test/BrowserConnection.test.ts
  src/daemons/browser-manager/test/IntelligentBrowserManager.test.ts
  src/daemons/browser-manager/test/JTAG.test.ts
  src/daemons/browser-manager/test/SafeBrowserManager.test.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/continuum-directory/package.json
  src/daemons/continuum-directory/test/integration/ContinuumDirectoryDaemon.integration.test.ts
  src/daemons/continuum-directory/test/unit/ContinuumDirectoryDaemon.test.ts
  src/daemons/renderer/RendererDaemon.ts
  src/daemons/renderer/core/HTMLRenderingEngine.ts
  src/daemons/renderer/core/TypeScriptCompiler.ts
  src/daemons/session-manager/SessionManagerDaemon.ts
  src/integrations/websocket/WebSocketDaemon.ts
  src/system/testing/package.json
  src/system/testing/test/universal-layer-runner.ts
  src/types/css.d.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetDiscovery.ts
  src/ui/components/shared/WidgetTestTemplate.ts
  src/ui/components/test/AllWidgetsTest.ts
  src/ui/components/test/widget-runner.ts
  src/ui/continuum-browser.ts
Labels: documentation, tests, dependencies

probably broken. now test
  MIDDLE-OUT.md
  main.ts
  src/commands/development/connect/ConnectCommand.ts
  src/commands/file/append/FileAppendCommand.ts
  src/commands/file/append/package.json
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/base/package.json
  src/commands/file/list/package.json
  src/commands/file/read/FileReadCommand.ts
  src/commands/file/read/package.json
  src/commands/file/write/FileWriteCommand.ts
  src/commands/file/write/package.json
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/connect/package.json
  src/commands/kernel/daemon/package.json
  src/commands/kernel/session/package.json
  src/commands/kernel/system/package.json
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/commands/testing/validate-system/package.json
  src/daemons/base/DaemonMessageUtils.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/continuum-directory/package.json
  src/daemons/session-manager/package.json
  src/system/startup/ContinuumSystemStartup.ts
  src/system/startup/package.json
  src/system/testing/test/universal-layer-runner.ts
  src/testing/module-compliance/ModuleComplianceFramework.ts
  src/testing/module-compliance/package.json
  src/testing/module-compliance/test/integration/ModuleComplianceFramework.integration.test.ts
  src/testing/module-compliance/test/unit/ModuleComplianceFramework.test.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/package.json
  src/testing/self-validating/test/integration/SelfValidatingModule.integration.test.ts
  src/testing/self-validating/test/unit/SelfValidatingModule.test.ts
  src/types/ContinuumPackage.ts
Labels: documentation, tests, dependencies

probably broken. now test
  MIDDLE-OUT.md
  main.ts
  src/commands/development/connect/ConnectCommand.ts
  src/commands/file/append/FileAppendCommand.ts
  src/commands/file/append/package.json
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/base/package.json
  src/commands/file/list/package.json
  src/commands/file/read/FileReadCommand.ts
  src/commands/file/read/package.json
  src/commands/file/write/FileWriteCommand.ts
  src/commands/file/write/package.json
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/kernel/connect/package.json
  src/commands/kernel/daemon/package.json
  src/commands/kernel/session/package.json
  src/commands/kernel/system/package.json
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/commands/testing/validate-system/package.json
  src/daemons/base/DaemonMessageUtils.ts
  src/daemons/browser-manager/IntelligentBrowserManager.ts
  src/daemons/browser-manager/package.json
  src/daemons/continuum-directory/package.json
  src/daemons/session-manager/package.json
  src/system/startup/ContinuumSystemStartup.ts
  src/system/startup/package.json
  src/system/testing/test/universal-layer-runner.ts
  src/testing/module-compliance/ModuleComplianceFramework.ts
  src/testing/module-compliance/package.json
  src/testing/module-compliance/test/integration/ModuleComplianceFramework.integration.test.ts
  src/testing/module-compliance/test/unit/ModuleComplianceFramework.test.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/package.json
  src/testing/self-validating/test/integration/SelfValidatingModule.integration.test.ts
  src/testing/self-validating/test/unit/SelfValidatingModule.test.ts
  src/types/ContinuumPackage.ts
Labels: documentation, tests, dependencies

module compliance
  src/commands/browser/browser/package.json
  src/commands/browser/screenshot/package.json
  src/commands/communication/chat/package.json
  src/commands/core/agents/package.json
  src/commands/core/base-command/package.json
  src/commands/core/console/package.json
  src/commands/core/health/package.json
  src/commands/core/preferences/package.json
  src/commands/core/projects/package.json
  src/commands/core/reload/package.json
  src/commands/file/exec/package.json
  src/commands/file/savefile/package.json
  src/commands/ui/emotion/package.json
  src/daemons/browser-manager/package.json
  src/daemons/persona/package.json
  src/daemons/renderer/package.json
  src/integrations/websocket/package.json
  src/testing/module-compliance/ModuleComplianceFramework.ts
  src/testing/module-compliance/module-compliance.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/self-validating.ts
  src/ui/components/ActiveProjects/package.json
  src/ui/components/SavedPersonas/package.json
Labels: dependencies

module compliance
  src/commands/browser/browser/package.json
  src/commands/browser/screenshot/package.json
  src/commands/communication/chat/package.json
  src/commands/core/agents/package.json
  src/commands/core/base-command/package.json
  src/commands/core/console/package.json
  src/commands/core/health/package.json
  src/commands/core/preferences/package.json
  src/commands/core/projects/package.json
  src/commands/core/reload/package.json
  src/commands/file/exec/package.json
  src/commands/file/savefile/package.json
  src/commands/ui/emotion/package.json
  src/daemons/browser-manager/package.json
  src/daemons/persona/package.json
  src/daemons/renderer/package.json
  src/integrations/websocket/package.json
  src/testing/module-compliance/ModuleComplianceFramework.ts
  src/testing/module-compliance/module-compliance.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/self-validating.ts
  src/ui/components/ActiveProjects/package.json
  src/ui/components/SavedPersonas/package.json
Labels: dependencies

ineritance tests
  MIDDLE-OUT.md
  src/commands/file/append/FileAppendCommand.ts
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/read/FileReadCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/testing/module-compliance/test/unit/ModuleComplianceFramework.test.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/test/unit/SelfValidatingModule.test.ts
  src/types/BaseModule.ts
  src/types/ContinuumCommand.ts
  src/types/ContinuumDaemon.ts
  src/types/test/unit/BaseModule.test.ts
Labels: documentation, tests

ineritance tests
  MIDDLE-OUT.md
  src/commands/file/append/FileAppendCommand.ts
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/read/FileReadCommand.ts
  src/commands/file/write/FileWriteCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/testing/module-compliance/test/unit/ModuleComplianceFramework.test.ts
  src/testing/self-validating/SelfValidatingModule.ts
  src/testing/self-validating/test/unit/SelfValidatingModule.test.ts
  src/types/BaseModule.ts
  src/types/ContinuumCommand.ts
  src/types/ContinuumDaemon.ts
  src/types/test/unit/BaseModule.test.ts
Labels: documentation, tests

discovery
  src/types/ContinuumPackage.ts
  src/types/package.json
Labels: dependencies

discovery
  src/types/ContinuumPackage.ts
  src/types/package.json
Labels: dependencies

path issue
  src/system/testing/test/universal-layer-runner.ts
Labels: none

path issue
  src/system/testing/test/universal-layer-runner.ts
Labels: none

better daemons
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/DaemonProtocol.ts
  src/daemons/browser-manager/test/unit/BrowserManagerDaemon.test.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/persona/test/unit/PersonaDaemon.test.ts
  src/daemons/renderer/test/unit/RendererDaemon.test.ts
  src/daemons/session-manager/test/unit/SessionManagerDaemon.test.ts
Labels: tests

better daemons
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/DaemonProtocol.ts
  src/daemons/browser-manager/test/unit/BrowserManagerDaemon.test.ts
  src/daemons/continuum-directory/ContinuumDirectoryDaemon.ts
  src/daemons/persona/test/unit/PersonaDaemon.test.ts
  src/daemons/renderer/test/unit/RendererDaemon.test.ts
  src/daemons/session-manager/test/unit/SessionManagerDaemon.test.ts
Labels: tests

daemon inheritance
  FILES.md.backup
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/MessageRoutedDaemon.ts
  src/daemons/base/RequestResponseDaemon.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/persona/PersonaDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/ui/components/shared/DataDisplayWidget.ts
Labels: none

daemon inheritance
  FILES.md.backup
  src/daemons/base/BaseDaemon.ts
  src/daemons/base/MessageRoutedDaemon.ts
  src/daemons/base/RequestResponseDaemon.ts
  src/daemons/browser-manager/BrowserManagerDaemon.ts
  src/daemons/persona/PersonaDaemon.ts
  src/daemons/renderer/RendererDaemon.ts
  src/ui/components/shared/DataDisplayWidget.ts
Labels: none

update dox
  MIDDLE-OUT.md
  src/commands/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/agents/AgentsCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/direct-command/DirectCommand.ts
  src/commands/core/direct-command/package.json
  src/commands/core/health/HealthCommand.ts
  src/commands/core/info/InfoCommand.ts
  src/commands/core/operation-routed-command/OperationRoutedCommand.ts
  src/commands/core/operation-routed-command/package.json
  src/commands/core/personas/PersonasCommand.ts
  src/commands/core/preferences/PreferencesCommand.ts
  src/commands/core/projects/ProjectsCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/core/remote-command/package.json
Labels: documentation, dependencies

update dox
  MIDDLE-OUT.md
  src/commands/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/core/agents/AgentsCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/direct-command/DirectCommand.ts
  src/commands/core/direct-command/package.json
  src/commands/core/health/HealthCommand.ts
  src/commands/core/info/InfoCommand.ts
  src/commands/core/operation-routed-command/OperationRoutedCommand.ts
  src/commands/core/operation-routed-command/package.json
  src/commands/core/personas/PersonasCommand.ts
  src/commands/core/preferences/PreferencesCommand.ts
  src/commands/core/projects/ProjectsCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/core/remote-command/package.json
Labels: documentation, dependencies

shared sessions, commands for that, daemon mods windows
  src/commands/browser/browser/BrowserCommand.ts
  src/commands/browser/browser/package.json
  src/commands/browser/browserjs/package.json
  src/commands/browser/promisejs/PromisejsCommand.ts
  src/commands/browser/promisejs/package.json
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/package.json
  src/commands/core/agents/AgentsCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/health/HealthCommand.ts
  src/commands/core/personas/PersonasCommand.ts
  src/commands/core/projects/ProjectsCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/continuum-directory/README.md
  src/daemons/session-manager/README.md
Labels: documentation, dependencies

shared sessions, commands for that, daemon mods windows
  src/commands/browser/browser/BrowserCommand.ts
  src/commands/browser/browser/package.json
  src/commands/browser/browserjs/package.json
  src/commands/browser/promisejs/PromisejsCommand.ts
  src/commands/browser/promisejs/package.json
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/package.json
  src/commands/core/agents/AgentsCommand.ts
  src/commands/core/console/ConsoleCommand.ts
  src/commands/core/health/HealthCommand.ts
  src/commands/core/personas/PersonasCommand.ts
  src/commands/core/projects/ProjectsCommand.ts
  src/commands/core/remote-command/RemoteCommand.ts
  src/commands/kernel/connect/ConnectCommand.ts
  src/daemons/continuum-directory/README.md
  src/daemons/session-manager/README.md
Labels: documentation, dependencies

…
  src/commands/kernel/connect/ConnectCommand.ts
Labels: none

…
  src/commands/kernel/connect/ConnectCommand.ts
Labels: none

circular dep
  src/commands/core/preferences/package.json
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/write/FileWriteCommand.ts
Labels: dependencies

circular dep
  src/commands/core/preferences/package.json
  src/commands/file/base/BaseFileCommand.ts
  src/commands/file/write/FileWriteCommand.ts
Labels: dependencies

cleanup
  src/commands/core/agents/package.json
  src/commands/core/base-command/package.json
  src/commands/core/bootstrap/package.json
  src/commands/core/console/package.json
  src/commands/core/event/package.json
  src/commands/core/health/package.json
  src/commands/core/help/package.json
  src/commands/core/migration/package.json
  src/commands/core/projects/package.json
  src/commands/core/reload/package.json
  src/commands/core/session/package.json
  src/daemons/command-processor/package.json
Labels: dependencies

cleanup
  src/commands/core/agents/package.json
  src/commands/core/base-command/package.json
  src/commands/core/bootstrap/package.json
  src/commands/core/console/package.json
  src/commands/core/event/package.json
  src/commands/core/health/package.json
  src/commands/core/help/package.json
  src/commands/core/migration/package.json
  src/commands/core/projects/package.json
  src/commands/core/reload/package.json
  src/commands/core/session/package.json
  src/daemons/command-processor/package.json
Labels: dependencies

chat stuff
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/createroom/CreateroomCommand.ts
  src/commands/database/backup/DatabaseBackupCommand.ts
  src/commands/database/backup/package.json
  src/commands/database/query/DatabaseQueryCommand.ts
  src/commands/database/query/package.json
  src/commands/database/save/DatabaseSaveCommand.ts
  src/commands/database/save/package.json
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/README.md
  src/daemons/chatroom/package.json
  src/daemons/database/DatabaseDaemon.ts
  src/daemons/database/package.json
Labels: documentation, dependencies

chat stuff
  src/commands/communication/chat/ChatCommand.ts
  src/commands/communication/createroom/CreateroomCommand.ts
  src/commands/database/backup/DatabaseBackupCommand.ts
  src/commands/database/backup/package.json
  src/commands/database/query/DatabaseQueryCommand.ts
  src/commands/database/query/package.json
  src/commands/database/save/DatabaseSaveCommand.ts
  src/commands/database/save/package.json
  src/daemons/chatroom/ChatRoomDaemon.ts
  src/daemons/chatroom/README.md
  src/daemons/chatroom/package.json
  src/daemons/database/DatabaseDaemon.ts
  src/daemons/database/package.json
Labels: documentation, dependencies

academy
  README.md
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/spawn/package.json
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/status/package.json
  src/commands/academy/train/AcademyTrainCommand.ts
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/README.md
Labels: documentation, dependencies

academy
  README.md
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/spawn/package.json
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/status/package.json
  src/commands/academy/train/AcademyTrainCommand.ts
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/README.md
Labels: documentation, dependencies

Academy logic
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/spawn/README.md
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/status/README.md
  src/commands/academy/train/AcademyTrainCommand.ts
  src/commands/academy/train/README.md
  src/commands/academy/train/package.json
  src/daemons/academy/ACADEMY_OVERVIEW.md
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaGeneration.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/FormulaMasterREADME.md
  src/daemons/academy/GlobalIdentitySystem.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/LoRADiscovery.ts
  src/daemons/academy/LocalAcademyTrainer.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/PersonaSearchIndex.ts
  src/daemons/academy/TrainingResourceTracker.ts
  src/daemons/academy/database/AcademyDatabaseClient.ts
  src/daemons/academy/database/AcademySchema.ts
  src/daemons/academy/package.json
  src/daemons/base/DatabaseIntegration.ts
  src/daemons/integration-patterns.md
  src/integrations/academy/AcademyIntegration.ts
  src/ui/components/Academy/AcademyWidget.ts
  src/ui/components/Academy/README.md
  src/ui/components/Academy/package.json
Labels: documentation, dependencies

Academy logic
  src/commands/academy/spawn/AcademySpawnCommand.ts
  src/commands/academy/spawn/README.md
  src/commands/academy/status/AcademyStatusCommand.ts
  src/commands/academy/status/README.md
  src/commands/academy/train/AcademyTrainCommand.ts
  src/commands/academy/train/README.md
  src/commands/academy/train/package.json
  src/daemons/academy/ACADEMY_OVERVIEW.md
  src/daemons/academy/AcademyDaemon.ts
  src/daemons/academy/AcademyDatabase.ts
  src/daemons/academy/CapabilitySynthesis.ts
  src/daemons/academy/FormulaGeneration.ts
  src/daemons/academy/FormulaMaster.ts
  src/daemons/academy/FormulaMasterREADME.md
  src/daemons/academy/GlobalIdentitySystem.ts
  src/daemons/academy/LayerOptimization.ts
  src/daemons/academy/LoRADiscovery.ts
  src/daemons/academy/LocalAcademyTrainer.ts
  src/daemons/academy/PersonaGenome.ts
  src/daemons/academy/PersonaSearchIndex.ts
  src/daemons/academy/TrainingResourceTracker.ts
  src/daemons/academy/database/AcademyDatabaseClient.ts
  src/daemons/academy/database/AcademySchema.ts
  src/daemons/academy/package.json
  src/daemons/base/DatabaseIntegration.ts
  src/daemons/integration-patterns.md
  src/integrations/academy/AcademyIntegration.ts
  src/ui/components/Academy/AcademyWidget.ts
  src/ui/components/Academy/README.md
  src/ui/components/Academy/package.json
Labels: documentation, dependencies

more academy widget design
  screenshots/continuum-academy-start.jpg
  screenshots/old-main-interface.png
  src/daemons/academy/AcademyChat.md
  src/daemons/academy/LiveTrainingControls.md
  src/ui/components/WIDGET_ARCHITECTURE.md
  src/ui/components/WIDGET_MIGRATION.md
  src/ui/components/WIDGET_OPTIMIZATION.md
  src/ui/components/core/base-widget/package.json
  src/ui/components/core/data-display/package.json
  src/ui/components/core/widget-system/package.json
  src/ui/components/domain/communication/base/package.json
  src/ui/components/domain/communication/chat/AcademyChatWidget.ts
  src/ui/components/domain/intelligence/base/package.json
  src/ui/components/domain/navigation/base/package.json
  src/ui/components/domain/system/base/package.json
  src/ui/components/intermediate/command-widget/CommandWidget.ts
  src/ui/components/intermediate/real-time-widget/package.json
Labels: documentation, dependencies

more academy widget design
  screenshots/continuum-academy-start.jpg
  screenshots/old-main-interface.png
  src/daemons/academy/AcademyChat.md
  src/daemons/academy/LiveTrainingControls.md
  src/ui/components/WIDGET_ARCHITECTURE.md
  src/ui/components/WIDGET_MIGRATION.md
  src/ui/components/WIDGET_OPTIMIZATION.md
  src/ui/components/core/base-widget/package.json
  src/ui/components/core/data-display/package.json
  src/ui/components/core/widget-system/package.json
  src/ui/components/domain/communication/base/package.json
  src/ui/components/domain/communication/chat/AcademyChatWidget.ts
  src/ui/components/domain/intelligence/base/package.json
  src/ui/components/domain/navigation/base/package.json
  src/ui/components/domain/system/base/package.json
  src/ui/components/intermediate/command-widget/CommandWidget.ts
  src/ui/components/intermediate/real-time-widget/package.json
Labels: documentation, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
