Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

orm(phase2-step3): ensure_schema pivots through resolve() + to_collection_schema
  src/workers/continuum-core/src/modules/data.rs
  src/workers/continuum-core/src/modules/entity_schemas.rs
Labels: none

install: kill 3 sudo traps that broke npm start + curl|bash on Mac
  install.sh
  src/scripts/install.sh
  src/scripts/lib/install-common.sh
Labels: none

install(mac): fix Docker VM sizing — reserve headroom for native core + macOS
  install.sh
Labels: none

orm(phase2-step4): seed QW#1 ensured_columns_cache at ensure_schema time
  src/workers/continuum-core/src/orm/postgres.rs
Labels: none

review(step4): extend-not-replace on cache seed per m5 feedback
  src/workers/continuum-core/src/orm/postgres.rs
Labels: none

install+start+stop: detect dev↔carl mode collisions + unify stop
  install.sh
  src/scripts/parallel-start.sh
  src/scripts/system-stop.sh
Labels: none

gpu-always: rip silent CPU fallbacks, DMR honest live-catalog, shared hardware detect
  src/scripts/lib/install-common.sh
  src/scripts/seed/personas.ts
  src/workers/continuum-core/src/ai/adapter.rs
  src/workers/continuum-core/src/ai/openai_adapter.rs
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

gpu-always: InferenceDevice enum + device-filtered select()
  src/workers/continuum-core/src/ai/adapter.rs
  src/workers/continuum-core/src/http/mod.rs
  src/workers/continuum-core/src/inference/candle_adapter.rs
  src/workers/continuum-core/src/modules/agent.rs
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

install: pull persona model into DMR + AIProviderRustClient restart fix
  install.sh
  src/daemons/ai-provider-daemon/server/AIProviderRustClient.ts
Labels: none

gpu-always: 'local' provider = auto-route to best GPU adapter
  src/scripts/seed/personas.ts
  src/system/user/server/config/PersonaModelConfigs.ts
  src/workers/continuum-core/src/ai/adapter.rs
Labels: none

gpu-always: resolve DMR model name for API request
  src/workers/continuum-core/src/ai/openai_adapter.rs
Labels: none

gpu-always: DMR model-name resolution + gating via 'local' not 'candle'
  src/system/user/server/PersonaUser.ts
Labels: none

codify hacks: seed always syncs provider + gating uses same model
  src/scripts/seed-continuum.ts
  src/system/user/server/PersonaUser.ts
Labels: none

dmr(windows): detect model-runner.docker.internal for containerized core
  src/workers/continuum-core/src/ai/openai_adapter.rs
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

debug(dmr): add eprintln probe logging for container DMR detection
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

docker: add entity_schemas.json to continuum-core build context
  docker-compose.yml
  docker/continuum-core.Dockerfile
Labels: none

docker: add libgomp1 to runtime image (ggml-cpu OpenMP dependency)
  docker/continuum-core.Dockerfile
Labels: none

Revert "debug(dmr): add eprintln probe logging for container DMR detection"
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

seed: auto-sync persona providers on every restart (not just first seed)
  src/server/seed-in-process.ts
Labels: none

ci: fix entity_schemas.json missing for cuda + vulkan core builds
  .github/workflows/docker-images.yml
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core-vulkan.Dockerfile
Labels: workflow

docs: per-OS setup page for the openclaw audience (Mac / Win / Linux)
  docs/SETUP.md
Labels: documentation

build(push-image): add :pr-<N> tag + shared-generated build context
  scripts/push-image.sh
Labels: none

ci: image-coverage gate runs on PRs + at the right tag, fails loud on missing variants
  .github/workflows/docker-images.yml
Labels: workflow

fix(llama/build): link Accelerate.framework UNCONDITIONALLY on macOS
  src/workers/llama/build.rs
Labels: none

fix(llama/build): link ggml-blas UNCONDITIONALLY on macOS
  src/workers/llama/build.rs
Labels: none

build(push-image): detect nvcc not nvidia-smi for CUDA Phase 0 gate
  scripts/push-image.sh
Labels: none

fix(http): kill candle escape hatch on /v1/messages — provider is SSOT
  src/workers/continuum-core/src/http/mod.rs
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(provider): kill INFERENCE_MODE-driven candle priority promotion
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(setup): pull forged Qwen3.5 into DMR + remind about GPU toggles
  setup.sh
Labels: none

docs: README points to docs/SETUP.md as canonical, redirect old per-OS pages
  README.md
  docs/INSTALL-WINDOWS.md
Labels: documentation

docs(gap): update ALPHA-GAP-ANALYSIS for PR891 session (2026-04-16/17)
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

feat(cli): continuum update splits Carl (pull) vs Dev (build) paths
  bin/continuum
Labels: none

feat(skills): continuum:update skill + install.sh installer hook
  install.sh
  skills/continuum-update/SKILL.md
Labels: documentation

feat(skills): continuum:status + continuum:doctor + continuum:chat
  skills/continuum-chat/SKILL.md
  skills/continuum-doctor/SKILL.md
  skills/continuum-status/SKILL.md
Labels: documentation

docs: surface continuum skills in README + SETUP.md
  README.md
  docs/SETUP.md
Labels: documentation

compose: decouple livekit from default stack — behind `live` profile
  docker-compose.yml
Labels: none

skills: /continuum:install + /continuum:logs — first-run + debugging
  skills/continuum-install/SKILL.md
  skills/continuum-logs/SKILL.md
Labels: documentation

bench: multi-persona concurrency — 566 tok/s aggregate at 4 concurrent on RTX 5090
  docs/benchmarks/MULTI-PERSONA-CONCURRENCY.md
Labels: documentation

fix(live): browser LiveKit URL defaults to localhost not docker DNS
  docker-compose.yml
Labels: none

fix(setup): verify GPU backend engaged + enable TCP programmatically + post-pull catalog check
  setup.sh
Labels: none
