Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Share process-owned elevation across nested Windows installers
  docs/infrastructure/INSTALL-ARCHITECTURE.md
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

Select shared elevation dependency from the install manifest
  docs/infrastructure/INSTALL-ARCHITECTURE.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

Delegate grid firewall setup to the AIRC public installer
  docs/infrastructure/INSTALL-ARCHITECTURE.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

Read native installer results independently of caller scope
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

Share owned Windows elevation across nested installers (#4649)
  docs/infrastructure/INSTALL-ARCHITECTURE.md
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): preserve storage config and route downloads before provisioning
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): preserve storage config and route downloads before provisioning (#4650)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): restore toolchain environment and stop failed prerequisites
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): restore toolchain environment and stop failed prerequisites (#4651)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): resume owned cold migrations without hiding partial failures
  .github/workflows/carl-install-smoke.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

fix(install): resume owned cold migrations without hiding partial failures (#4652)
  .github/workflows/carl-install-smoke.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

feat(install): define durable managed payload placement contract
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/engine_slots.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/paths/mod.rs
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/payload-paths.ps1
  tools/scripts/lib/payload-paths.sh
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): connect payload placement to public setup and runtime loaders
  .github/workflows/carl-install-smoke.yml
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/engine_slots.rs
  core/continuum-core/src/paths/mod.rs
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-llama-server.sh
  tools/scripts/install-manifest.toml
  tools/scripts/install.sh
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-build-env.sh
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/start-server.sh
  tools/scripts/tests/install-llama-server-slots.test.sh
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

test(install): resolve cold payloads in slot CLI fixtures
  tools/scripts/tests/windows-service.test.ps1
Labels: none

test(installer): include payload resolver in warm-build fixture
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/tests/start-server-build-only.test.sh
Labels: documentation

fix(installer): preserve managed payload paths across core restart
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/install-service.sh
  tools/scripts/install.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/start-server.sh
Labels: documentation

Install: share durable payload placement across runtime and adapters (#4653)
  .github/workflows/carl-install-smoke.yml
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/engine_slots.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/paths/mod.rs
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-llama-server.sh
  tools/scripts/install-manifest.toml
  tools/scripts/install-service.sh
  tools/scripts/install.sh
  tools/scripts/lib/install-common.sh
  tools/scripts/lib/install-common.test.sh
  tools/scripts/lib/payload-paths.ps1
  tools/scripts/lib/payload-paths.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-build-env.sh
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/start-server.sh
  tools/scripts/tests/install-llama-server-slots.test.sh
  tools/scripts/tests/start-server-build-only.test.sh
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

fix(install): provision native XZ decoder before LLVM extraction
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation, workflow

test(install): return success after expected XZ rejection
  tools/scripts/tests/windows-xz.test.ps1
Labels: none

Install: provision XZ before extracting LLVM on Windows (#4654)
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation, workflow

fix(install): decode XZ before native tar to avoid filter pipe stalls
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation

chore: move loose feedback out of repository root
  docs/sentinel/kash-feedback.md
Labels: documentation

chore: remove config pointer to absent GPT.json
  .gptrc
Labels: none

fix(install): decode XZ before native tar to avoid filter pipe stalls (#4655)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation

fix(installer): add hidden native process runner and migrate build calls
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: workflow

fix(installer): preserve gsudo flags in hidden elevation calls
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(installer): hide toolchain probes and checkout update children
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(installer): hide service handoff and enforce grid authentication
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(installer): generate hidden pre-clone bootstrap from shared launcher
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation, workflow

test(installer): probe unadapted descendant visibility on CI desktop
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/tests/windows-process.test.ps1
Labels: workflow

ci(installer): check hidden bootstrap before the Windows core build
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

Own installer build trees and terminate them on cancellation
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

Capture fixture failures without host error-format dependencies
  tools/scripts/tests/windows-service.test.ps1
Labels: none

feat(media): stream native audio with owned cancellable playback
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/ai/stream_sinks.rs
  core/continuum-core/src/cognition/generation_drop.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/commands/ai/generate.rs
  core/continuum-core/src/inference/airc_remote/adapter.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/src/inference/media_wire.rs
  core/continuum-core/src/inference/mod.rs
  core/continuum-core/src/inference/native_output.rs
  core/continuum-core/src/inference/sse_stream.rs
  core/continuum-core/src/live/audio/mixer.rs
  core/continuum-core/src/live/audio/mod.rs
  core/continuum-core/src/live/audio/native_playback.rs
  core/continuum-core/src/live/transport/call_server.rs
  core/continuum-core/src/modules/live.rs
  core/continuum-core/src/persona/placement_switch.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/routing/command_handler.rs
  core/continuum-core/src/utils/audio.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
  docs/testing/PDF-NATIVE-VISION-ACCEPTANCE.md
  tools/scripts/tests/pdf-vision-live.ps1
Labels: documentation

fix(setup): own installer coordinators until successful daemon handoff
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(setup): resolve first native application in duplicate PATH
  install.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/tests/windows-process.test.ps1
Labels: none

fix(installer): hide native Windows child processes (#4658)
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  install.ps1
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-elevation.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

fix(install): detect and validate local CUDA architecture targets
  .github/workflows/continuum-rust-tests.yml
  core/llama/build.rs
  docs/architecture/GPU-CONTRACT.md
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/install-llama-server.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/cuda-targets.ps1
  tools/scripts/lib/cuda-targets.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/start-server.sh
  tools/scripts/tests/cuda-targets.test.ps1
  tools/scripts/tests/cuda-targets.test.sh
  tools/scripts/tests/install-llama-server-slots.test.sh
  tools/scripts/tests/start-server-build-only.test.sh
Labels: documentation, workflow

docs(media): record deployed native foundation and PDF acceptance
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(cuda): pin tested Pascal Candle dependency without unused MoE archive
  Cargo.lock
  Cargo.toml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
Labels: documentation
