Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

delete: PersonaToolExecutor.executeToolCalls — XML fallback path for non-native providers
  src/system/user/server/modules/PersonaToolExecutor.ts
  src/tests/integration/persona-tool-calling.test.ts
Labels: tests

rename: clarify 'fallback' nomenclature where the code is NOT a fallback
  src/system/user/server/config/PersonaModelConfigs.ts
  src/system/user/server/modules/RustCognitionBridge.ts
  src/system/user/server/modules/TaskAwareProviderRouter.ts
Labels: none

docs(grid): MIGRATION-LOG — per-target decisions for the TS → Rust migration
  docs/grid/MIGRATION-LOG.md
Labels: documentation

docs(grid): unified-executor doctrine — commands ARE tool calls (Joel 2026-05-29)
  docs/grid/MIGRATION-LOG.md
Labels: documentation

docs(grid): commands surface audit — the unified executor already exists
  docs/grid/MIGRATION-LOG.md
Labels: documentation

lock-in: eslint baseline 5402 → 5399 (-3) + grid-composability doctrine
  docs/grid/MIGRATION-LOG.md
  src/eslint-baseline.linux.txt
Labels: documentation

fix(persona): delete 5 fallback nests in PersonaAutonomousLoop — failures must surface (#1459)
  docs/grid/MIGRATION-LOG.md
  src/eslint-baseline.linux.txt
  src/shared/workers/PersonaWorkerThread.ts
  src/shared/workers/persona-worker.ts
  src/system/user/server/PersonaUser.ts
  src/system/user/server/config/PersonaModelConfigs.ts
  src/system/user/server/modules/PersonaAutonomousLoop.ts
  src/system/user/server/modules/PersonaMessageEvaluator.ts
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/system/user/server/modules/PersonaToolExecutor.ts
  src/system/user/server/modules/RustCognitionBridge.ts
  src/system/user/server/modules/SignalDetector.ts
  src/system/user/server/modules/TaskAwareProviderRouter.ts
  src/tests/integration/persona-tool-calling.test.ts
  src/tests/integration/worker-mock-evaluation.test.ts
  src/tests/integration/worker-parallelism-proof.test.ts
  src/tests/integration/worker-skeleton.test.ts
  src/tests/manual/test-signal-detector.ts
  src/tests/unit/shared-node-boundary.test.ts
Labels: documentation, tests

lock-in: eslint baseline 5399 → 5365 (-34) post-social-cascade
  src/eslint-baseline.linux.txt
Labels: none

docs(migration): slice 2 triage — indicator/positron/list/recipe
  docs/grid/MIGRATION-LOG.md
Labels: documentation

docs(migration): chat-message-flow migration scope — gated on airc e51ab14e
  docs/grid/MIGRATION-LOG.md
Labels: documentation

docs(grid): L0-2 dispatch slicing — delete-as-we-go contract for the persona migration (#1458)
  docs/grid/L0-2-DISPATCH-SLICING.md
Labels: documentation

docs(grid): L0 E2E persona cognition plan — sequencing the Rust-only cognition path
  docs/grid/L0-PERSONA-COGNITION-E2E-PLAN.md
Labels: documentation

feat(continuum-core/persona): L0-2-prep — PersonaSlot extension, enroll opens
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-prep — PersonaSlot extension, enroll opens (#1464)
  docs/grid/L0-PERSONA-COGNITION-E2E-PLAN.md
  src/workers/continuum-core/src/persona/service_module.rs
Labels: documentation

feat(continuum-core/persona): L0-2-dispatch — service_once_for through full_evaluate
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-dispatch — service_once_for through full_evaluate (#1465)
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-respond — wire respond() with upstream context
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-respond-context — required ResponderConfig, NeedsResponse outcome, no empty defaults
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

docs(migration): slice 2 triage — indicator/positron/list/recipe (#1461)
  docs/grid/MIGRATION-LOG.md
Labels: documentation

docs(migration): chat-message-flow migration scope — gated on airc e51ab14e (#1462)
  docs/grid/MIGRATION-LOG.md
Labels: documentation

feat(continuum-core/persona): L0-2-respond-context — required ResponderConfig, NeedsResponse outcome, no empty defaults (#1467)
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-respond-call — Responder DI, lock-around-await, inference CB threshold
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

feat(continuum-core/persona): L0-2-respond-call — Responder DI, lock-around-await, inference CB threshold (#1468)
  src/workers/continuum-core/src/persona/service_module.rs
Labels: none

docs(grid): L0-2-cutover investigation — found existing parallel infrastructure, propose synthesis
  docs/grid/L0-2-CUTOVER-INVESTIGATION.md
Labels: documentation

docs(grid): L0-2-cutover addendum — channels are multitasking contexts that cross-pollinate
  docs/grid/L0-2-CUTOVER-INVESTIGATION.md
Labels: documentation

docs(grid): L0-2-cutover addendum — brain regions are CBAR pipeline elements, RTOS, parallel, never blocking
  docs/grid/L0-2-CUTOVER-INVESTIGATION.md
Labels: documentation

docs(architecture): brain-regions substrate spec + cognition algorithms (design-only)
  docs/architecture/BRAIN-REGIONS-SUBSTRATE.md
  docs/architecture/COGNITION-ALGORITHMS.md
Labels: documentation

docs(grid): L0-2-cutover investigation — found existing parallel infrastructure, propose synthesis (#1469)
  docs/grid/L0-2-CUTOVER-INVESTIGATION.md
Labels: documentation

docs(architecture): brain-regions substrate spec + cognition algorithms (design-only) (#1470)
  docs/architecture/BRAIN-REGIONS-SUBSTRATE.md
  docs/architecture/COGNITION-ALGORITHMS.md
Labels: documentation

feat(continuum-core/runtime): L0-3a.0 — BrainRegion trait + ReadyBuffer + RegionTelemetry (substrate prerequisite)
  src/shared/generated/runtime/CadenceHint.ts
  src/shared/generated/runtime/ComputeClass.ts
  src/shared/generated/runtime/MemoryClass.ts
  src/shared/generated/runtime/PersonaLifecycle.ts
  src/shared/generated/runtime/PressureLevel.ts
  src/shared/generated/runtime/PressureProfile.ts
  src/shared/generated/runtime/PressureSignalKind.ts
  src/shared/generated/runtime/RegionId.ts
  src/shared/generated/runtime/RegionSignal.ts
  src/shared/generated/runtime/RegionTelemetry.ts
  src/shared/generated/runtime/SleepPhase.ts
  src/shared/generated/runtime/TickOutcome.ts
  src/workers/continuum-core/src/runtime/brain_region.rs
  src/workers/continuum-core/src/runtime/mod.rs
  src/workers/continuum-core/src/runtime/ready_buffer.rs
  src/workers/continuum-core/src/runtime/region_telemetry.rs
Labels: none

feat(continuum-core/runtime): L0-3a.0 — BrainRegion trait + ReadyBuffer + RegionTelemetry (substrate prerequisite) (#1471)
  src/shared/generated/runtime/CadenceHint.ts
  src/shared/generated/runtime/ComputeClass.ts
  src/shared/generated/runtime/MemoryClass.ts
  src/shared/generated/runtime/PersonaLifecycle.ts
  src/shared/generated/runtime/PressureLevel.ts
  src/shared/generated/runtime/PressureProfile.ts
  src/shared/generated/runtime/PressureSignalKind.ts
  src/shared/generated/runtime/RegionId.ts
  src/shared/generated/runtime/RegionSignal.ts
  src/shared/generated/runtime/RegionTelemetry.ts
  src/shared/generated/runtime/SleepPhase.ts
  src/shared/generated/runtime/TickOutcome.ts
  src/workers/continuum-core/src/runtime/brain_region.rs
  src/workers/continuum-core/src/runtime/mod.rs
  src/workers/continuum-core/src/runtime/ready_buffer.rs
  src/workers/continuum-core/src/runtime/region_telemetry.rs
Labels: none

feat(continuum-core/modules): L0-3a.1 — HippocampusModule skeleton (BrainRegion + ServiceModule, empty tick)
  src/workers/continuum-core/src/modules/hippocampus.rs
  src/workers/continuum-core/src/modules/mod.rs
Labels: none

feat(continuum-core/modules): L0-3a.1 — HippocampusModule skeleton (BrainRegion + ServiceModule, empty tick) (#1473)
  src/workers/continuum-core/src/modules/hippocampus.rs
  src/workers/continuum-core/src/modules/mod.rs
Labels: none

feat(continuum-core/persona): L0-3a.2a — EngramGraph + EngramEdge + EdgeKind (algorithm 3 substrate)
  src/shared/generated/persona/EdgeKind.ts
  src/shared/generated/persona/EngramEdge.ts
  src/workers/continuum-core/src/persona/engram_graph.rs
  src/workers/continuum-core/src/persona/mod.rs
Labels: none

feat(continuum-core/persona): L0-3a.2a — EngramGraph + EngramEdge + EdgeKind (algorithm 3 substrate) (#1474)
  src/shared/generated/persona/EdgeKind.ts
  src/shared/generated/persona/EngramEdge.ts
  src/workers/continuum-core/src/persona/engram_graph.rs
  src/workers/continuum-core/src/persona/mod.rs
Labels: none

perf(persona/cognition): zero-alloc is_mentioned via cached lowercase + ASCII byte scan
  src/workers/continuum-core/src/persona/cognition.rs
Labels: none

harden(utils): UTF-8-safe truncate_at_char_boundary helper + sweep all 8 call sites
  src/workers/continuum-core/src/bin/diagnose_prefill.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/modules/grid/handlers.rs
  src/workers/continuum-core/src/modules/grid/node.rs
  src/workers/continuum-core/src/persona/cognition.rs
  src/workers/continuum-core/src/utils/mod.rs
  src/workers/continuum-core/src/utils/str_truncate.rs
Labels: none

perf(persona/cognition): zero-alloc is_mentioned via cached lowercase + ASCII byte scan (#1477)
  src/workers/continuum-core/src/persona/cognition.rs
Labels: none

harden(utils): UTF-8-safe truncate_at_char_boundary helper + sweep all 8 call sites (#1478)
  src/workers/continuum-core/src/bin/diagnose_prefill.rs
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/modules/grid/handlers.rs
  src/workers/continuum-core/src/modules/grid/node.rs
  src/workers/continuum-core/src/persona/cognition.rs
  src/workers/continuum-core/src/utils/mod.rs
  src/workers/continuum-core/src/utils/str_truncate.rs
Labels: none

perf(persona): zero-alloc mention detection + promote str_case helpers to utils
  src/workers/continuum-core/src/persona/cognition.rs
  src/workers/continuum-core/src/persona/text_analysis/mention_detection.rs
  src/workers/continuum-core/src/utils/mod.rs
  src/workers/continuum-core/src/utils/str_case.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
