Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

amazing autonomous dev
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/finalize/browser/DecisionFinalizeBrowserCommand.ts
  src/debug/jtag/commands/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/decision/finalize/shared/DecisionFinalizeCommand.ts
  src/debug/jtag/commands/decision/finalize/shared/DecisionFinalizeTypes.ts
  src/debug/jtag/commands/decision/propose/browser/DecisionProposeBrowserCommand.ts
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/decision/propose/shared/DecisionProposeCommand.ts
  src/debug/jtag/commands/decision/propose/shared/DecisionProposeTypes.ts
  src/debug/jtag/commands/decision/rank/browser/DecisionRankBrowserCommand.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/decision/rank/shared/DecisionRankCommand.ts
  src/debug/jtag/commands/decision/rank/shared/DecisionRankTypes.ts
  src/debug/jtag/commands/vote/propose/shared/VoteProposeTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/DecisionProposalEntity.ts
  src/debug/jtag/system/data/entities/FileVoteProposalEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

more commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

kind of amazing ai coding and trying to edit the browser
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/help/shared/HelpTypes.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/commands/tree/browser/TreeBrowserCommand.ts
  src/debug/jtag/commands/tree/package.json
  src/debug/jtag/commands/tree/server/TreeServerCommand.ts
  src/debug/jtag/commands/tree/shared/TreeCommand.ts
  src/debug/jtag/commands/tree/shared/TreeTypes.ts
  src/debug/jtag/docs/AI-TOOL-CALLING-TROUBLESHOOTING.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
Labels: documentation, dependencies

Refactor PersonaToolExecutor: Remove hardcoded handlers, use ToolRegistry (669→210 lines, 68% reduction)
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/exec/browser/ExecBrowserCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

fixing bugs for tools
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/code/find/shared/CodeFindCommand.ts
  src/debug/jtag/commands/code/find/shared/CodeFindTypes.ts
  src/debug/jtag/commands/code/read/server/CodeReadServerCommand.ts
  src/debug/jtag/docs/issues/ai-team-issues-tracker.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
Labels: documentation, dependencies

claude claims this works
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

rag budgeting is a disaster
  CLAUDE.md
  src/debug/jtag/api/data-seed/UserDataSeed.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/model/list/shared/ModelListCommand.ts
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/rag/budget/server/RAGBudgetServerCommand.ts
  src/debug/jtag/commands/rag/budget/shared/RAGBudgetTypes.ts
  src/debug/jtag/commands/rag/load/server/RAGLoadServerCommand.ts
  src/debug/jtag/commands/rag/load/shared/RAGLoadTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/backup-database.ts
  src/debug/jtag/scripts/restore-database.ts
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserStateEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/CONTEXT-AWARE-RAG-DESIGN.md
  src/debug/jtag/system/user/server/modules/PERSONA-DORMANCY-AUTO-RULES.md
  src/debug/jtag/system/user/server/modules/PERSONA-DORMANCY-DESIGN.md
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/cognition/PeerReviewTypes.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/FastPathAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/adapters/LLMAdapter.ts
  src/debug/jtag/tests/integration/test-all-provider-personas.ts
Labels: documentation, dependencies

claude is slowly ruining my life
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/click/shared/ClickTypes.ts
  src/debug/jtag/commands/get-text/shared/GetTextTypes.ts
  src/debug/jtag/commands/type/shared/TypeTypes.ts
  src/debug/jtag/commands/wait-for-element/shared/WaitForElementTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/backup-database.ts
  src/debug/jtag/scripts/cleanup-observability.sh
  src/debug/jtag/scripts/restore-database.ts
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/tests/integration/ai-gating-quality.test.ts
  src/debug/jtag/tests/integration/ai-response-baseline.test.ts
  src/debug/jtag/tests/integration/ai-response-integration.test.ts
  src/debug/jtag/tests/integration/chat-response-time.test.ts
  src/debug/jtag/tests/integration/cns-integration.test.ts
  src/debug/jtag/tests/integration/test-ai-factual-history.ts
  src/debug/jtag/tests/integration/test-all-cloud-providers.ts
Labels: tests, dependencies

new commands
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

web fetch, search not work
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/web/fetch/server/WebFetchServerCommand.ts
  src/debug/jtag/commands/web/fetch/shared/WebFetchTypes.ts
  src/debug/jtag/commands/web/search/server/WebSearchServerCommand.ts
  src/debug/jtag/commands/web/search/shared/WebSearchTypes.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

media capabiliy started
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/commands/chat/send/server/ChatSendServerCommand.ts
  src/debug/jtag/commands/screenshot/server/ScreenshotServerCommand.ts
  src/debug/jtag/commands/screenshot/shared/ScreenshotTypes.ts
  src/debug/jtag/commands/web/search/server/WebSearchServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/ai/MULTIMODAL-ARCHITECTURE.md
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMediaConfig.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/widgets/chat/MESSAGE-COMPOSER-DESIGN.md
  src/debug/jtag/widgets/chat/adapters/AdapterRegistry.ts
  src/debug/jtag/widgets/chat/adapters/ImageMessageAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: documentation, dependencies

images kind of working in display
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/adapters/AdapterRegistry.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

images display now in chat
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/adapters/ImageMessageAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

fix entity scroller sort of
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: dependencies

good help command
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/data/read/server/DataReadServerCommand.ts
  src/debug/jtag/commands/data/read/shared/DataReadTypes.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/commands/help/shared/HelpTypes.ts
  src/debug/jtag/commands/list/browser/ListBrowserCommand.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/commands/list/shared/ListTypes.ts
  src/debug/jtag/commands/schema/generate/browser/SchemaGenerateBrowserCommand.ts
  src/debug/jtag/commands/schema/generate/server/SchemaGenerateServerCommand.ts
  src/debug/jtag/commands/schema/generate/shared/SchemaGenerateTypes.ts
  src/debug/jtag/commands/test/utils/MockUtils.ts
  src/debug/jtag/commands/tree/shared/TreeCommand.ts
  src/debug/jtag/commands/tree/shared/TreeTypes.ts
  src/debug/jtag/generated/command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/generate-command-schemas.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/typescript/shared/TypeScriptCompiler.ts
  src/debug/jtag/system/user/AI-IMAGE-AUTONOMY-IMPLEMENTATION.md
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: documentation, dependencies

check in commands before claude breaks more things
  src/debug/jtag/BUGFIXES-2025-11-19.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/git/GIT-COMMANDS-ROADMAP.md
  src/debug/jtag/commands/git/IMPLEMENTATION-PLAN.md
  src/debug/jtag/commands/git/issue/create/browser/GitIssueCreateBrowserCommand.ts
  src/debug/jtag/commands/git/issue/create/server/GitIssueCreateServerCommand.ts
  src/debug/jtag/commands/git/issue/create/shared/GitIssueCreateTypes.ts
  src/debug/jtag/commands/git/issue/list/browser/GitIssueListBrowserCommand.ts
  src/debug/jtag/commands/git/issue/list/server/GitIssueListServerCommand.ts
  src/debug/jtag/commands/git/issue/list/shared/GitIssueListTypes.ts
  src/debug/jtag/commands/session/get-id/browser/SessionGetIdBrowserCommand.ts
  src/debug/jtag/commands/session/get-id/server/SessionGetIdServerCommand.ts
  src/debug/jtag/commands/session/get-id/shared/SessionGetIdTypes.ts
  src/debug/jtag/commands/session/get-user/browser/SessionGetUserBrowserCommand.ts
  src/debug/jtag/commands/session/get-user/server/SessionGetUserServerCommand.ts
  src/debug/jtag/commands/session/get-user/shared/SessionGetUserTypes.ts
  src/debug/jtag/commands/user/get-me/browser/UserGetMeBrowserCommand.ts
  src/debug/jtag/commands/user/get-me/server/UserGetMeServerCommand.ts
  src/debug/jtag/commands/user/get-me/shared/UserGetMeTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/ollama/shared/OllamaAdapter.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/typescript/TYPESCRIPT-COMMANDS-ROADMAP.md
Labels: documentation, dependencies

confirmed working ok
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/session/get-user/server/SessionGetUserServerCommand.ts
  src/debug/jtag/commands/user/get-me/server/UserGetMeServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

better rag
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
Labels: documentation, dependencies

fix(git/issue/create): Add parameter validation for required fields
  src/debug/jtag/commands/git/issue/create/server/GitIssueCreateServerCommand.ts
Labels: none

fixed issues crud thing probably dying
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

fix(types): Add mediaConfig to UserEntity and remove 'as any' casts
  src/debug/jtag/PERSONA-COGNITION-BRANCH-STATUS.md
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMediaConfig.ts
Labels: documentation

killed commit, verified by human
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
  src/debug/jtag/system/user/server/modules/PersonaTrainingManager.ts
Labels: dependencies

refactor(PersonaUser): Extract message evaluation logic to PersonaMessageEvaluator module
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
Labels: none

Persona loop
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
Labels: dependencies

refactor(PersonaUser): Complete delegation to PersonaMessageEvaluator
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: none

persona genome
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/design/NEUROPLASTIC-CONSCIOUSNESS-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaGenomeManager.ts
Labels: documentation, dependencies

Update src/debug/jtag/commands/data/read/shared/DataReadTypes.ts
  src/debug/jtag/commands/data/read/shared/DataReadTypes.ts
Labels: none

fix(DataDaemon): Remove redundant checkWildcardSubscriptions call
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
Labels: none

refactor(decision): Extract Condorcet winner calculation to shared utility
  README.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/git/issue/create/server/GitIssueCreateServerCommand.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/shared/CondorcetUtils.ts
Labels: documentation, dependencies

refactor(code/read): Add performance limits to fuzzy file matching
  src/debug/jtag/commands/code/read/server/CodeReadServerCommand.ts
Labels: none

refactor(help): Improve error handling for missing command schemas
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/code/find/shared/CodeFindTypes.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
Labels: none

refactor(rag): Centralize model context window configuration
  src/debug/jtag/commands/rag/budget/server/RAGBudgetServerCommand.ts
  src/debug/jtag/commands/rag/load/server/RAGLoadServerCommand.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
Labels: none

generated files
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

fix(DataDaemon): Add validation to data/update to prevent invalid updates
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
Labels: none

feat(shell/execute): Add safe shell command execution for PersonaUsers
  src/debug/jtag/commands/shell/execute/browser/ShellExecuteBrowserCommand.ts
  src/debug/jtag/commands/shell/execute/server/ShellExecuteServerCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteTypes.ts
Labels: none

refactor(help): Make help command query 'list' dynamically
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
Labels: none

fix(list): Add params field to command signatures for dynamic discovery
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package.json
Labels: dependencies

fix(TaskEntity): Add explicit status enum validation
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/system/data/entities/TaskEntity.ts
Labels: none

docs(persona): Add Adaptive Complexity Routing architecture from AI team design
  src/debug/jtag/system/user/server/modules/ADAPTIVE-COMPLEXITY-ROUTING.md
Labels: documentation

fix copilot issues - forced checkin
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies
