Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Phase 7b-c: Full clustering algorithm in Rust
  src/debug/jtag/system/user/server/modules/cognition/memory/MemoryConsolidationSubprocess.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
Labels: none

Phase 7d: Add top-k similarity search and update LongTermMemoryStore
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/LongTermMemoryStore.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
Labels: dependencies

RAG consistency: Update RagQueryOpen to use Rust similarity
  src/debug/jtag/commands/ai/rag/query-open/server/RagQueryOpenServerCommand.ts
Labels: none

Phase 6e: Add embedding cache and DataModule event publishing
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
Labels: dependencies

Phase 6f: Wire ModuleLogger into ModuleContext
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/runtime/module_context.rs
Labels: dependencies

Fix AI tool format parsing + git author attribution
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: dependencies

Add BareToolCallAdapter for natural tool call format
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: dependencies

code tools
  src/debug/jtag/commands/interface/launch/url/.npmignore
  src/debug/jtag/commands/interface/launch/url/README.md
  src/debug/jtag/commands/interface/launch/url/browser/InterfaceLaunchUrlBrowserCommand.ts
  src/debug/jtag/commands/interface/launch/url/package.json
  src/debug/jtag/commands/interface/launch/url/server/InterfaceLaunchUrlServerCommand.ts
  src/debug/jtag/commands/interface/launch/url/shared/InterfaceLaunchUrlTypes.ts
  src/debug/jtag/commands/interface/launch/url/test/integration/InterfaceLaunchUrlIntegration.test.ts
  src/debug/jtag/commands/interface/launch/url/test/unit/InterfaceLaunchUrlCommand.test.ts
  src/debug/jtag/commands/interface/web/search/server/WebSearchServerCommand.ts
  src/debug/jtag/commands/workspace/git/workspace/init/server/GitWorkspaceInitServerCommand.ts
  src/debug/jtag/daemons/code-daemon/server/CodeDaemonServer.ts
  src/debug/jtag/daemons/code-daemon/shared/CodeDaemon.ts
  src/debug/jtag/docs/PERSONA-CODING-SYSTEM.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/specs/interface-launch-url.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/code/server/WorkspaceStrategy.ts
  src/debug/jtag/system/data/entities/TaskEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/DefaultSentinelRules.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/ShellEventHandler.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/system/user/server/modules/cognition/reasoning/SimplePlanFormulator.ts
  src/debug/jtag/system/user/server/modules/cognition/reasoning/types.ts
  src/debug/jtag/workers/continuum-core/src/modules/code.rs
Labels: documentation, tests, dependencies

Absorb inference-grpc into continuum-core via CandleAdapter
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/Cargo.toml
  src/debug/jtag/workers/continuum-core/src/ai/adapter.rs
  src/debug/jtag/workers/continuum-core/src/ai/anthropic_adapter.rs
  src/debug/jtag/workers/continuum-core/src/ai/mod.rs
  src/debug/jtag/workers/continuum-core/src/ai/openai_adapter.rs
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
  src/debug/jtag/workers/continuum-core/src/inference/lora.rs
  src/debug/jtag/workers/continuum-core/src/inference/mod.rs
  src/debug/jtag/workers/continuum-core/src/inference/model.rs
  src/debug/jtag/workers/continuum-core/src/inference/quantized.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/workers-config.json
Labels: dependencies

Add Ollama adapter and fix AI provider routing
  src/debug/jtag/commands/inference/generate/server/InferenceGenerateServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed/personas.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ai/openai_adapter.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
Labels: dependencies

Remove Ollama adapter - local inference must use Candle for LoRA
  src/debug/jtag/commands/inference/generate/server/InferenceGenerateServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed/personas.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ai/openai_adapter.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
Labels: dependencies

Add global runtime::logger() for Candle inference logging
  src/debug/jtag/system/ai/server/AIDecisionService.ts
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
  src/debug/jtag/workers/continuum-core/src/inference/mod.rs
  src/debug/jtag/workers/continuum-core/src/inference/model.rs
  src/debug/jtag/workers/continuum-core/src/inference/quantized.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/continuum-core/src/runtime/mod.rs
  src/debug/jtag/workers/continuum-core/src/runtime/module_logger.rs
Labels: none

Modularize RustCoreIPC.ts into domain-specific mixin modules
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle-grpc/shared/CandleGrpcAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/ai.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/base.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/channel.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/code.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/embedding.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/index.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/memory.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/models.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/rag.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/runtime.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/search.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/voice.ts
Labels: dependencies

Fix CandleAdapter Llama 3 chat template format + stability tuning
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

Fix Fireworks AI 404: update default model to Llama 3.3 70B
  src/debug/jtag/daemons/ai-provider-daemon/adapters/fireworks/shared/FireworksBaseConfig.ts
  src/debug/jtag/system/user/server/config/PersonaModelConfigs.ts
Labels: none

RAG budget awareness: consolidate context building into RAG sources
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AICapabilityRegistry.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/sources/ActivityContextSource.ts
  src/debug/jtag/system/rag/sources/GovernanceSource.ts
  src/debug/jtag/system/rag/sources/index.ts
  src/debug/jtag/system/user/server/config/PersonaModelConfigs.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
Labels: dependencies

Candle token limiting: prevent NaN in quantized models
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-rust-bindings.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/inference/candle_adapter.rs
  src/debug/jtag/workers/continuum-core/src/inference/quantized.rs
Labels: dependencies

SentinelRunner: declarative step engine for pipeline sentinels
  src/debug/jtag/docs/LORA-MESH-DISTRIBUTION.md
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/sentinel/BuildSentinel.ts
  src/debug/jtag/system/sentinel/SentinelDefinition.ts
  src/debug/jtag/system/sentinel/SentinelRunner.ts
  src/debug/jtag/system/sentinel/index.ts
  src/debug/jtag/system/sentinel/tests/SentinelRunner.test.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/sentinel.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel.rs
Labels: documentation, tests, dependencies

SentinelRunner: add tool calling, parallel execution, event triggers
  src/debug/jtag/system/sentinel/SentinelDefinition.ts
  src/debug/jtag/system/sentinel/SentinelRunner.ts
  src/debug/jtag/system/sentinel/SentinelTrigger.ts
  src/debug/jtag/system/sentinel/index.ts
  src/debug/jtag/system/sentinel/tests/olympics-build-fix.test.ts
Labels: tests

SentinelRunner: add pipeline type, fix IPC logging
  src/debug/jtag/commands/sentinel/run/server/SentinelRunServerCommand.ts
  src/debug/jtag/commands/sentinel/run/shared/SentinelRunTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/ipc/WorkerClient.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/sentinel/SentinelRunner.ts
  src/debug/jtag/workers/continuum-core/src/modules/logger.rs
Labels: dependencies

Sentinel: move pipeline execution to Rust, delete TypeScript infrastructure
  src/debug/jtag/.doc-staging/persona/sentinel-architecture.md
  src/debug/jtag/commands/sentinel/logs/list/server/SentinelLogsListServerCommand.ts
  src/debug/jtag/commands/sentinel/logs/read/server/SentinelLogsReadServerCommand.ts
  src/debug/jtag/commands/sentinel/logs/tail/server/SentinelLogsTailServerCommand.ts
  src/debug/jtag/commands/sentinel/run/server/SentinelRunServerCommand.ts
  src/debug/jtag/commands/sentinel/run/shared/SentinelRunTypes.ts
  src/debug/jtag/commands/sentinel/save/server/SentinelSaveServerCommand.ts
  src/debug/jtag/commands/sentinel/status/server/SentinelStatusServerCommand.ts
  src/debug/jtag/commands/sentinel/status/shared/SentinelStatusTypes.ts
  src/debug/jtag/docs/SENTINEL-PIPELINE-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/system/server/JTAGSystemServer.ts
  src/debug/jtag/system/sentinel/AgentSentinel.ts
  src/debug/jtag/system/sentinel/BuildSentinel.ts
  src/debug/jtag/system/sentinel/ModelProvider.ts
  src/debug/jtag/system/sentinel/OrchestratorSentinel.ts
  src/debug/jtag/system/sentinel/Sentinel.ts
  src/debug/jtag/system/sentinel/SentinelExecutionLog.ts
  src/debug/jtag/system/sentinel/SentinelLogWriter.ts
  src/debug/jtag/system/sentinel/SentinelRunner.ts
  src/debug/jtag/system/sentinel/SentinelTrigger.ts
  src/debug/jtag/system/sentinel/SentinelWorkspace.ts
  src/debug/jtag/system/sentinel/TaskSentinel.ts
  src/debug/jtag/system/sentinel/ToolResultMemoryCapture.ts
  src/debug/jtag/system/sentinel/VisualSentinel.ts
  src/debug/jtag/system/sentinel/challenge.ts
  src/debug/jtag/system/sentinel/cli.ts
  src/debug/jtag/system/sentinel/index.ts
  src/debug/jtag/system/sentinel/tests/SentinelRunner.test.ts
  src/debug/jtag/system/sentinel/tests/olympics-build-fix.test.ts
  src/debug/jtag/tests/integration/sentinel-evidence.test.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/sentinel.ts
  src/debug/jtag/workers/continuum-core/src/modules/logger.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel.rs
Labels: documentation, tests, dependencies

Add CommandExecutor: universal command routing for ALL continuum-core processes
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel.rs
  src/debug/jtag/workers/continuum-core/src/runtime/command_executor.rs
  src/debug/jtag/workers/continuum-core/src/runtime/mod.rs
Labels: dependencies

CommandExecutor: fix TypeScript command routing via Unix socket
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/ipc/archive-worker/CommandRouterServer.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/runtime/command_executor.rs
Labels: dependencies

Schema generator: fix descriptions, deduplicate, read READMEs
  src/debug/jtag/commands/sentinel/list/shared/SentinelListTypes.ts
  src/debug/jtag/commands/sentinel/load/shared/SentinelLoadTypes.ts
  src/debug/jtag/commands/sentinel/logs/list/shared/SentinelLogsListTypes.ts
  src/debug/jtag/commands/sentinel/logs/read/shared/SentinelLogsReadTypes.ts
  src/debug/jtag/commands/sentinel/logs/tail/shared/SentinelLogsTailTypes.ts
  src/debug/jtag/commands/sentinel/run/shared/SentinelRunTypes.ts
  src/debug/jtag/commands/sentinel/save/shared/SentinelSaveTypes.ts
  src/debug/jtag/commands/sentinel/status/shared/SentinelStatusTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/sentinel.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/executor.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/interpolation.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/logs.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/command.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/condition.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/llm.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/loop_step.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/shell.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/types.rs
  src/debug/jtag/workers/continuum-core/tests/call_server_integration.rs
  src/debug/jtag/workers/continuum-core/tests/common/mod.rs
  src/debug/jtag/workers/continuum-core/tests/hold_music_test.rs
  src/debug/jtag/workers/continuum-core/tests/tts_only_test.rs
  src/debug/jtag/workers/continuum-core/tests/tts_stt_roundtrip.rs
  src/debug/jtag/workers/continuum-core/tests/tts_timing_benchmark.rs
Labels: dependencies

Fix JSDoc on all 35 commands with weak schema descriptions
  src/debug/jtag/commands/ai/bag-of-words/shared/BagOfWordsTypes.ts
  src/debug/jtag/commands/ai/dataset/create/shared/DatasetCreateTypes.ts
  src/debug/jtag/commands/ai/dataset/list/shared/DatasetListTypes.ts
  src/debug/jtag/commands/ai/embedding/generate/shared/EmbeddingGenerateTypes.ts
  src/debug/jtag/commands/ai/model/find/shared/ModelFindTypes.ts
  src/debug/jtag/commands/ai/model/list/shared/ModelListTypes.ts
  src/debug/jtag/commands/ai/rag/index-codebase/shared/CodebaseIndexTypes.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/commands/collaboration/chat/analyze/shared/ChatAnalyzeTypes.ts
  src/debug/jtag/commands/collaboration/decision/rank/shared/DecisionRankTypes.ts
  src/debug/jtag/commands/continuum/emotion/shared/EmotionTypes.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/commands/genome/batch-micro-tune/shared/GenomeBatchMicroTuneTypes.ts
  src/debug/jtag/commands/genome/job-create/shared/GenomeJobCreateTypes.ts
  src/debug/jtag/commands/interface/click/shared/ClickTypes.ts
  src/debug/jtag/commands/interface/get-text/shared/GetTextTypes.ts
  src/debug/jtag/commands/interface/navigate/shared/NavigateTypes.ts
  src/debug/jtag/commands/interface/scroll/shared/ScrollTypes.ts
  src/debug/jtag/commands/interface/type/shared/TypeTypes.ts
  src/debug/jtag/commands/interface/wait-for-element/shared/WaitForElementTypes.ts
  src/debug/jtag/commands/logs/read/shared/LogsReadTypes.ts
  src/debug/jtag/commands/logs/search/shared/LogsSearchTypes.ts
  src/debug/jtag/commands/logs/stats/shared/LogsStatsTypes.ts
  src/debug/jtag/commands/persona/learning/capture-feedback/shared/GenomeCaptureFeedbackTypes.ts
  src/debug/jtag/commands/persona/learning/capture-interaction/shared/GenomeCaptureInteractionTypes.ts
  src/debug/jtag/commands/persona/learning/multi-agent-learn/shared/GenomeMultiAgentLearnTypes.ts
  src/debug/jtag/commands/security/setup/shared/SecuritySetupTypes.ts
  src/debug/jtag/commands/session/destroy/shared/SessionDestroyTypes.ts
  src/debug/jtag/commands/session/get-user/shared/SessionGetUserTypes.ts
  src/debug/jtag/commands/utilities/docs/list/shared/DocsListTypes.ts
  src/debug/jtag/commands/utilities/docs/read/shared/DocsReadTypes.ts
  src/debug/jtag/commands/utilities/docs/search/shared/DocsSearchTypes.ts
  src/debug/jtag/commands/workspace/task/complete/shared/TaskCompleteTypes.ts
  src/debug/jtag/commands/workspace/task/create/shared/TaskCreateTypes.ts
  src/debug/jtag/commands/workspace/task/list/shared/TaskListTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
Labels: none

Sentinel architecture doc: add Three Pillars, expand Olympics, clean up stale refs
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

Sentinel pipeline engine: add 4 new step types, enhance loops, unify step signatures
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/executor.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/interpolation.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/command.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/emit.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/llm.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/loop_step.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/parallel.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/sentinel.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/shell.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/watch.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/types.rs
Labels: documentation, dependencies

Sentinel test suite: 101 tests covering all 9 step types, verified live
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/tests/integration/sentinel-execution-log.test.ts
  src/debug/jtag/tests/integration/sentinel-workspace-isolation.test.ts
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/executor.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/interpolation.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/condition.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/emit.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/loop_step.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/parallel.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/sentinel.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/shell.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/watch.rs
Labels: tests, dependencies

Sentinel agentic loop: extract AgentToolExecutor, add ai/agent command, fix native tool passing
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/agent/README.md
  src/debug/jtag/commands/ai/agent/browser/AiAgentBrowserCommand.ts
  src/debug/jtag/commands/ai/agent/server/AiAgentServerCommand.ts
  src/debug/jtag/commands/ai/agent/shared/AiAgentCommand.ts
  src/debug/jtag/commands/ai/agent/shared/AiAgentTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/AgentToolExecutor.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/workers/continuum-core/src/ai/types.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/llm.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/types.rs
Labels: documentation, dependencies

Fix sentinel agentMode routing: bypass Rust registry for TypeScript commands
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/steps/llm.rs
  src/debug/jtag/workers/continuum-core/src/runtime/command_executor.rs
Labels: dependencies

Unified text similarity: 3 TS Jaccard duplicates → 1 Rust implementation
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/similarity.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/types.rs
Labels: dependencies

Combined validation gate: 4 TS gates → 1 Rust IPC call (garbage, loop, truncated tool, semantic)
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/garbage_detection.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/loop_detection.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/types.rs
Labels: dependencies

Params helper: one source of truth for IPC parameter extraction across all 13 Rust modules
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/ResponseCleaner.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/system/user/server/modules/SignalDetector.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/agent.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/modules/code.rs
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
  src/debug/jtag/workers/continuum-core/src/modules/mcp.rs
  src/debug/jtag/workers/continuum-core/src/modules/memory.rs
  src/debug/jtag/workers/continuum-core/src/modules/models.rs
  src/debug/jtag/workers/continuum-core/src/modules/search.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/logs.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/voice.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mention_detection.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/response_cleaning.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/types.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/validation.rs
  src/debug/jtag/workers/continuum-core/src/utils/mod.rs
  src/debug/jtag/workers/continuum-core/src/utils/params.rs
Labels: dependencies

Eliminate all production .unwrap() calls across continuum-core
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ai/anthropic_adapter.rs
  src/debug/jtag/workers/continuum-core/src/ffi/mod.rs
  src/debug/jtag/workers/continuum-core/src/inference/model.rs
  src/debug/jtag/workers/continuum-core/src/inference/quantized.rs
  src/debug/jtag/workers/continuum-core/src/modules/agent.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/modules/code.rs
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
  src/debug/jtag/workers/continuum-core/src/modules/logger.rs
  src/debug/jtag/workers/continuum-core/src/modules/runtime_control.rs
  src/debug/jtag/workers/continuum-core/src/modules/search.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/executor.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/interpolation.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/garbage_detection.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/text_analysis/response_cleaning.rs
  src/debug/jtag/workers/continuum-core/src/runtime/service_module.rs
  src/debug/jtag/workers/continuum-core/src/utils/params.rs
  src/debug/jtag/workers/continuum-core/src/voice/orchestrator.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt/moonshine.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/vad/metrics.rs
Labels: dependencies

Dead code removal + fix ai/sleep identity resolution
  src/debug/jtag/commands/ai/sleep/server/AiSleepServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/ai/server/GarbageDetector.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: dependencies

Fix configCache POJO bug + task polling thundering herd
  src/debug/jtag/daemons/system-daemon/shared/SystemDaemon.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
Labels: none

Migrate persona background timers from TS to single Rust tick loop
  src/debug/jtag/system/core/logging/LogFileRegistry.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/SelfTaskGenerator.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
  src/debug/jtag/tests/integration/cns-integration.test.ts
  src/debug/jtag/tests/unit/cns-factory.test.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/agent.rs
  src/debug/jtag/workers/continuum-core/src/modules/ai_provider.rs
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/modules/code.rs
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/modules/embedding.rs
  src/debug/jtag/workers/continuum-core/src/modules/health.rs
  src/debug/jtag/workers/continuum-core/src/modules/logger.rs
  src/debug/jtag/workers/continuum-core/src/modules/mcp.rs
  src/debug/jtag/workers/continuum-core/src/modules/memory.rs
  src/debug/jtag/workers/continuum-core/src/modules/models.rs
  src/debug/jtag/workers/continuum-core/src/modules/rag.rs
  src/debug/jtag/workers/continuum-core/src/modules/runtime_control.rs
  src/debug/jtag/workers/continuum-core/src/modules/search.rs
  src/debug/jtag/workers/continuum-core/src/modules/sentinel/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/voice.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/self_task_generator.rs
  src/debug/jtag/workers/continuum-core/src/runtime/registry.rs
  src/debug/jtag/workers/continuum-core/src/runtime/runtime.rs
  src/debug/jtag/workers/continuum-core/src/runtime/service_module.rs
Labels: tests

Add ChannelTickConfig: ts-rs configurable tick loop cadence
  src/debug/jtag/shared/generated/runtime/ChannelTickConfig.ts
  src/debug/jtag/shared/generated/runtime/index.ts
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/runtime/runtime.rs
Labels: none

Unified evaluation gate: 5 TS gates → 1 Rust IPC call (<0.03ms)
  src/debug/jtag/commands/ai/sleep/server/AiSleepServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/evaluator.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
Labels: dependencies

Model selection: 4-tier priority chain migrated to Rust
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/bindings/modules/cognition.ts
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/model_selection.rs
Labels: dependencies
