Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

🎉 EMERGENCY SYSTEM RECOVERY COMPLETE - WE ARE BACK BABY\! 🚀
  .husky/pre-commit
  CLAUDE.md
  MIDDLE_OUT_SUCCESS.md
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/development/jtag/JtagCommand.ts
  src/commands/kernel/system/ProcessCommand.ts
  src/commands/persona/personas/PersonasCommand.ts
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/commands/ui/emotion/EmotionCommand.ts
  src/commands/ui/emotion/types.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/services/UniversalCommandRegistry.ts
  src/testing/generate-system-scorecard.ts
  src/types/shared/CommandTypes.ts
Labels: documentation, dependencies

🎉 EMERGENCY SYSTEM RECOVERY COMPLETE - WE ARE BACK BABY\! 🚀
  .husky/pre-commit
  CLAUDE.md
  MIDDLE_OUT_SUCCESS.md
  package-lock.json
  package.json
  src/commands/core/base-command/BaseCommand.ts
  src/commands/core/data-marshal/DataMarshalCommand.ts
  src/commands/development/jtag/JtagCommand.ts
  src/commands/kernel/system/ProcessCommand.ts
  src/commands/persona/personas/PersonasCommand.ts
  src/commands/testing/validate-system/ValidateSystemCommand.ts
  src/commands/ui/discover-widgets/DiscoverWidgetsCommand.ts
  src/commands/ui/emotion/EmotionCommand.ts
  src/commands/ui/emotion/types.ts
  src/integrations/websocket/core/DaemonConnector.ts
  src/services/UniversalCommandRegistry.ts
  src/testing/generate-system-scorecard.ts
  src/types/shared/CommandTypes.ts
Labels: documentation, dependencies

modified files
  package-lock.json
  package.json
  src/testing/generate-system-scorecard.ts
Labels: dependencies

modified files
  package-lock.json
  package.json
  src/testing/generate-system-scorecard.ts
Labels: dependencies

🔧 Fix git hook version remnants - backup/restore package files
  .husky/pre-commit
Labels: none

🔧 Fix git hook version remnants - backup/restore package files
  .husky/pre-commit
Labels: none

🔧 Fix backup/restore system - ensure clean backups and verify restore
  .husky/pre-commit
Labels: none

🔧 Fix backup/restore system - ensure clean backups and verify restore
  .husky/pre-commit
Labels: none

🎯 Perfect backup/restore system - verified working\!
  .gitignore
  .husky/pre-commit
Labels: none

🎯 Perfect backup/restore system - verified working\!
  .gitignore
  .husky/pre-commit
Labels: none

🚀 Enhanced pre-push hook - comprehensive validation of our development process
  .husky/pre-push
Labels: none

🚀 Enhanced pre-push hook - comprehensive validation of our development process
  .husky/pre-push
Labels: none

🔧 Fix test:commands script - use correct test runner
  package.json
Labels: dependencies

🔧 Fix test:commands script - use correct test runner
  package.json
Labels: dependencies

fix: browser flickering + Quality Ratchet Architecture
  .husky/pre-push
  middle-out/README.md
  middle-out/development/quality-ratchet-architecture.md
  package-lock.json
  package.json
Labels: documentation, dependencies

fix: browser flickering + Quality Ratchet Architecture
  .husky/pre-push
  middle-out/README.md
  middle-out/development/quality-ratchet-architecture.md
  package-lock.json
  package.json
Labels: documentation, dependencies

fix: disable jtag-cli command to fix Layer 3 testing
  src/commands/development/jtag-cli/package.json
Labels: dependencies

fix: disable jtag-cli command to fix Layer 3 testing
  src/commands/development/jtag-cli/package.json
Labels: dependencies

feat: build efficiency monitoring - track npm starts and git hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/monitoring/BuildEfficiencyMonitor.ts
  src/monitoring/build-logger.ts
  src/monitoring/package.json
Labels: dependencies

feat: build efficiency monitoring - track npm starts and git hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/monitoring/BuildEfficiencyMonitor.ts
  src/monitoring/build-logger.ts
  src/monitoring/package.json
Labels: dependencies

Viva la revolución
  CLAUDE.md
  MISSION.md
  middle-out/README.md
  middle-out/research/README.md
  middle-out/research/ai-collaboration/humor-as-liberation.md
  middle-out/research/ai-collaboration/self-modifying-architecture.md
  middle-out/research/ai-collaboration/sentinel-ecosystem.md
  middle-out/research/novel-architectures/collaborative-ui-breakthrough.md
  middle-out/research/novel-architectures/genomic-mesh-organism.md
  middle-out/research/novel-architectures/p2p-command-execution.md
  middle-out/research/novel-architectures/viral-gaming-collaboration.md
  middle-out/research/software-engineering/middle-out-methodology.md
Labels: documentation

Viva la revolución
  CLAUDE.md
  MISSION.md
  middle-out/README.md
  middle-out/research/README.md
  middle-out/research/ai-collaboration/humor-as-liberation.md
  middle-out/research/ai-collaboration/self-modifying-architecture.md
  middle-out/research/ai-collaboration/sentinel-ecosystem.md
  middle-out/research/novel-architectures/collaborative-ui-breakthrough.md
  middle-out/research/novel-architectures/genomic-mesh-organism.md
  middle-out/research/novel-architectures/p2p-command-execution.md
  middle-out/research/novel-architectures/viral-gaming-collaboration.md
  middle-out/research/software-engineering/middle-out-methodology.md
Labels: documentation

fix: implement quality ratchet architecture with bulletproof git hooks
  .husky/pre-commit
  .husky/pre-push
  eslint.config.js
  src/daemons/base/BaseDaemon.ts
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
  src/daemons/browser-manager/test/integration/SafeBrowserLaunch.integration.test.ts
  src/test/integration/SharedSessionBrowserLaunch.integration.test.ts
  src/types/ModuleQualitySchema.ts
  tsconfig.test.json
Labels: tests

fix: implement quality ratchet architecture with bulletproof git hooks
  .husky/pre-commit
  .husky/pre-push
  eslint.config.js
  src/daemons/base/BaseDaemon.ts
  src/daemons/browser-manager/test/integration/BrowserManager.integration.test.ts
  src/daemons/browser-manager/test/integration/SafeBrowserLaunch.integration.test.ts
  src/test/integration/SharedSessionBrowserLaunch.integration.test.ts
  src/types/ModuleQualitySchema.ts
  tsconfig.test.json
Labels: tests

cleanup: remove generated files from .continuum/ directory
  .continuum/generated/claude.md
  .continuum/generated/gpt.json
  .continuum/gpt/config.json
  .continuum/regenerated/claude.md
  .continuum/regenerated/gpt.json
Labels: documentation

cleanup: remove generated files from .continuum/ directory
  .continuum/generated/claude.md
  .continuum/generated/gpt.json
  .continuum/gpt/config.json
  .continuum/regenerated/claude.md
  .continuum/regenerated/gpt.json
Labels: documentation

🎉 Complete core module discovery system with universal patterns
  TECHNICAL_DEBT.md
  src/core/modules/discovery.ts
  src/core/modules/index.ts
  src/core/modules/package.json
  src/core/modules/test/integration/testing-system-integration.test.ts
  src/core/modules/test/unit/module-discovery.test.ts
  src/core/modules/test/unit/module-utils.test.ts
  src/core/modules/utils.ts
  src/integrations/academy/AcademyIntegration.ts
  src/integrations/academy/config.ts
  src/integrations/academy/package.json
  src/integrations/academy/test/integration/AcademyIntegration.integration.test.ts
  src/integrations/academy/test/unit/AcademyIntegration.test.ts
  src/integrations/academy/types.ts
  src/testing/IntelligentModularTestRunner.ts
  src/testing/ModuleComplianceReport.ts
  src/testing/config/module-compliance-whitelist.json
Labels: documentation, tests, dependencies

🎉 Complete core module discovery system with universal patterns
  TECHNICAL_DEBT.md
  src/core/modules/discovery.ts
  src/core/modules/index.ts
  src/core/modules/package.json
  src/core/modules/test/integration/testing-system-integration.test.ts
  src/core/modules/test/unit/module-discovery.test.ts
  src/core/modules/test/unit/module-utils.test.ts
  src/core/modules/utils.ts
  src/integrations/academy/AcademyIntegration.ts
  src/integrations/academy/config.ts
  src/integrations/academy/package.json
  src/integrations/academy/test/integration/AcademyIntegration.integration.test.ts
  src/integrations/academy/test/unit/AcademyIntegration.test.ts
  src/integrations/academy/types.ts
  src/testing/IntelligentModularTestRunner.ts
  src/testing/ModuleComplianceReport.ts
  src/testing/config/module-compliance-whitelist.json
Labels: documentation, tests, dependencies

🔧 Implement CommandDiscovery using core module patterns
  src/commands/core/discovery/CommandDiscovery.ts
  src/commands/core/discovery/package.json
  src/commands/core/discovery/test/integration/CommandDiscovery.integration.test.ts
  src/commands/core/discovery/test/unit/CommandDiscovery.test.ts
Labels: tests, dependencies

🔧 Implement CommandDiscovery using core module patterns
  src/commands/core/discovery/CommandDiscovery.ts
  src/commands/core/discovery/package.json
  src/commands/core/discovery/test/integration/CommandDiscovery.integration.test.ts
  src/commands/core/discovery/test/unit/CommandDiscovery.test.ts
Labels: tests, dependencies

✨ Simplify CommandDiscovery to elegant, focused design
  src/commands/core/discovery/CommandDiscovery.ts
Labels: none

✨ Simplify CommandDiscovery to elegant, focused design
  src/commands/core/discovery/CommandDiscovery.ts
Labels: none

🎯 Leverage npm intelligence instead of manual directory scanning
  src/commands/core/discovery/CommandDiscovery.ts
Labels: none

🎯 Leverage npm intelligence instead of manual directory scanning
  src/commands/core/discovery/CommandDiscovery.ts
Labels: none

📚 Complete middle-out documentation architecture
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/universal-module-schema.md
  middle-out/development/README.md
  middle-out/development/npm-intelligence-patterns.md
Labels: documentation

📚 Complete middle-out documentation architecture
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/universal-module-schema.md
  middle-out/development/README.md
  middle-out/development/npm-intelligence-patterns.md
Labels: documentation

✨ implement dynamic widget-server command discovery system
  middle-out/README.md
  middle-out/development/DECLUTTERING_PROTOCOL.md
  middle-out/development/FEATURE_PRESERVATION_PROTOCOL.md
  middle-out/development/LOST_AND_FOUND.md
  middle-out/development/README.md
  middle-out/development/TECHNICAL_DEBT.md
  package-lock.json
  package.json
  src/commands/development/jtag/JtagCommand.ts
  src/types/shared/WidgetServerTypes.ts
  src/ui/components/examples/PersonasWidget.example.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetServerControls.ts
  src/ui/continuum-browser-client/index.ts
Labels: documentation, dependencies

✨ implement dynamic widget-server command discovery system
  middle-out/README.md
  middle-out/development/DECLUTTERING_PROTOCOL.md
  middle-out/development/FEATURE_PRESERVATION_PROTOCOL.md
  middle-out/development/LOST_AND_FOUND.md
  middle-out/development/README.md
  middle-out/development/TECHNICAL_DEBT.md
  package-lock.json
  package.json
  src/commands/development/jtag/JtagCommand.ts
  src/types/shared/WidgetServerTypes.ts
  src/ui/components/examples/PersonasWidget.example.ts
  src/ui/components/shared/BaseWidget.ts
  src/ui/components/shared/WidgetServerControls.ts
  src/ui/continuum-browser-client/index.ts
Labels: documentation, dependencies

✨ Dynamic modules with strong types - architectural breakthrough
  middle-out/development/widget-architecture.md
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
  src/commands/browser/screenshot/package.json
  src/types/shared/WidgetServerTypes.ts
  src/ui/components/SavedPersonas/SavedPersonasWidget.ts
  src/ui/components/examples/DataSourceManager.ts
  src/ui/components/examples/DynamicModuleRegistry.ts
  src/ui/components/examples/DynamicPatternDemoWidget.ts
  src/ui/components/examples/DynamicWidgetComposer.ts
  src/ui/components/examples/ModuleBootstrap.ts
  src/ui/components/examples/SimplePatternWidget.ts
  src/ui/components/examples/data/demo-data.json
  src/ui/components/examples/package.json
  src/ui/components/processors/HealthDataProcessor.ts
  src/ui/components/processors/package.json
Labels: documentation, dependencies

✨ Dynamic modules with strong types - architectural breakthrough
  middle-out/development/widget-architecture.md
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotHandler.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
  src/commands/browser/screenshot/package.json
  src/types/shared/WidgetServerTypes.ts
  src/ui/components/SavedPersonas/SavedPersonasWidget.ts
  src/ui/components/examples/DataSourceManager.ts
  src/ui/components/examples/DynamicModuleRegistry.ts
  src/ui/components/examples/DynamicPatternDemoWidget.ts
  src/ui/components/examples/DynamicWidgetComposer.ts
  src/ui/components/examples/ModuleBootstrap.ts
  src/ui/components/examples/SimplePatternWidget.ts
  src/ui/components/examples/data/demo-data.json
  src/ui/components/examples/package.json
  src/ui/components/processors/HealthDataProcessor.ts
  src/ui/components/processors/package.json
Labels: documentation, dependencies
