Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

ci: reuse core artifacts for doc guards and select Windows helper checks (#4673)
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/ci-change-scope.cjs
  tools/scripts/tests/ci-change-scope.test.cjs
Labels: documentation, workflow

ci: assign shared fixture contracts once and retain Windows adapter proof
  .github/workflows/carl-install-smoke.yml
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/tests/start-server-build-only.test.sh
Labels: documentation, workflow

ci: assign shared fixture contracts once and retain Windows adapter proof (#4674)
  .github/workflows/carl-install-smoke.yml
  .github/workflows/continuum-rust-tests.yml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/tests/start-server-build-only.test.sh
Labels: documentation, workflow

fix(install): verify and recover complete LLVM publication
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-llvm-receipt.ps1
  tools/scripts/tests/windows-service.test.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation

fix(install): verify and recover complete LLVM publication (#4663)
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-llvm-receipt.ps1
  tools/scripts/tests/windows-service.test.ps1
  tools/scripts/tests/windows-xz.test.ps1
Labels: documentation

test(grid): verify stream ownership through remote command handler
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(build): keep unrequested MKL out of Pocket TTS dependency graph
  Cargo.lock
  Cargo.toml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
Labels: documentation

fix(build): pin reviewed Pocket TTS candidate and record speech acceptance
  Cargo.lock
  Cargo.toml
  docs/infrastructure/WINDOWS-INSTALL-BETA-2026-10-01.md
Labels: documentation

test: explicitly release simulated Cargo lock before idle reclaim
  core/continuum-core/src/system_resources/citizen_workspace_pool.rs
Labels: none

fix(build): preserve unrelated locked dependency edges
  Cargo.lock
Labels: none

Cancel remote generation when stream publication fails
  core/continuum-core/src/routing/command_handler.rs
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
Labels: documentation

fix(install): the airc arm asks airc's registrar; hidden on Windows
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

Reconcile active native delivery state and completed handles
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
Labels: documentation

Record installed native PDF consumer acceptance
  docs/testing/NATIVE-MEDIA-CONTINUITY.md
Labels: documentation

fix(launchd): a staged core launchd refuses rolls back to the serving build
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(launchd): a refused kickstart rolls back too; every refused build is kept
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(boot): start-server starts airc through airc's lifecycle, never `airc stop`
  tools/scripts/start-server.sh
Labels: none

fix(boot): no shell-owned airc reap; airc's refusal reaches the operator
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/start-server.sh
  tools/scripts/tests/start-server-airc-recovery.test.sh
Labels: workflow

test(workspace_pool): release the simulated build's lock explicitly
  core/continuum-core/src/system_resources/citizen_workspace_pool.rs
Labels: none

fix(boot): start-server starts airc through airc's lifecycle, never `airc stop` (#4675)
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/start-server.sh
  tools/scripts/tests/start-server-airc-recovery.test.sh
Labels: workflow

fix(launchd): a staged core launchd refuses rolls back to the serving build (#4668)
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/system_resources/citizen_workspace_pool.rs
Labels: none

fix(not_speech): the model's native {name, arguments} call is a tool envelope (f170b515)
  core/continuum-core/src/cognition/not_speech.rs
Labels: none

fix(installer): bound Windows Ninja archive download
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-airc-download.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(installer): bound Windows Ninja archive download (#4677)
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-airc-download.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(source-hygiene): a constructor counts only inside the type's own impl
  core/source-hygiene/src/production_reachability.rs
Labels: none

fix(deploy): the warm build takes the background band only beside a CPU lane
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/llama_server.rs
Labels: none

Preserve replay generation policy independently of scheduling
  core/continuum-core/src/ai/heuristic_adapter.rs
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/ai/types.rs
  core/continuum-core/src/cognition/check_redundancy.rs
  core/continuum-core/src/cognition/dream_consolidation.rs
  core/continuum-core/src/cognition/generate_recipe/orchestrator.rs
  core/continuum-core/src/cognition/generate_response.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/rate_proposals/orchestrator.rs
  core/continuum-core/src/cognition/request_replay.rs
  core/continuum-core/src/cognition/resolution_compute.rs
  core/continuum-core/src/cognition/shared_analysis/mod.rs
  core/continuum-core/src/cognition/should_respond.rs
  core/continuum-core/src/cognition/validate_response.rs
  core/continuum-core/src/commands/ai/generate.rs
  core/continuum-core/src/commands/genome/teach.rs
  core/continuum-core/src/commands/models/try_.rs
  core/continuum-core/src/http/mod.rs
  core/continuum-core/src/inference/airc_remote/adapter.rs
  core/continuum-core/src/inference/airc_remote/protocol.rs
  core/continuum-core/src/inference/airc_remote/transport.rs
  core/continuum-core/src/inference/handle_module.rs
  core/continuum-core/src/inference/handle_store.rs
  core/continuum-core/src/inference/llamacpp_adapter.rs
  core/continuum-core/src/inference/llm_module_service.rs
  core/continuum-core/src/inference/slots.rs
  core/continuum-core/src/modules/agent.rs
  core/continuum-core/src/persona/rag_inspect.rs
  core/continuum-core/src/persona/response.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  protocol/typescript/ai/TextGenerationRequest.ts
Labels: documentation

Record installed replay policy acceptance and remaining gaps
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
Labels: documentation

Use the existing slot class for replay scheduling metadata
  core/continuum-core/src/ai/types.rs
  core/continuum-core/src/cognition/request_replay.rs
  core/continuum-core/src/commands/ai/generate.rs
  core/continuum-core/src/inference/airc_remote/protocol.rs
  core/continuum-core/src/inference/slots.rs
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
  protocol/typescript/ai/SlotClass.ts
  protocol/typescript/ai/TextGenerationRequest.ts
Labels: documentation

Record installed typed replay acceptance and fleet route gap
  docs/planning/MULTIMODAL-STREAMING-MIND-COMPLETION.md
Labels: documentation

fix(launchd): the rollback waits for the restored core; a stale spawn failure is not this start's
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(launchd): a rollback reports "restored" only with the restored build's identity proven
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(placement): an opportunity asks the fall-home's own question, and never steps down (card 60d90c95)
  core/continuum-core/src/persona/placement_switch.rs
Labels: none

fix(launchd): read launchd's spawn count before the kickstart, not after
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(shutdown): a stop lets admitted turns finish before it saves (card 32fa22ba)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/resource_admission.rs
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(placement): an opportunity asks the fall-home's own question, and never steps down (card 60d90c95) (#4682)
  core/continuum-core/src/persona/placement_switch.rs
Labels: none

fix(shutdown): a stopping node ends tool loops at the next act, and the CLI says it is waiting (card 32fa22ba)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/turn_ingress.rs
Labels: none

fix(shutdown): the settle probe names where its bound came from (card 32fa22ba)
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(source-hygiene): count braces outside string and char literals
  core/source-hygiene/src/lib.rs
  core/source-hygiene/src/production_reachability.rs
Labels: none

fix(shutdown): a stop lets admitted turns finish before it saves (card 32fa22ba) (#4684)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/resource_admission.rs
  core/continuum-core/src/cognition/turn_ingress.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none
