Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(bench): retry verdict must LEAD with pass-to-pass breakage — the hidden-collateral fix (#122/#222)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(bench): retry verdict must LEAD with pass-to-pass breakage — the hidden-collateral fix (#122/#222) (#2204)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

docs(readme): lead with the thesis — grid compute that scales on misfit hardware
  README.md
Labels: documentation

docs(readme): creative pass — it's THE GRID, and intelligence scales onto misfit hardware
  README.md
Labels: documentation

docs(readme): LoRA layers are earned learning, not "skills" — and the knowledge TRAVELS
  README.md
Labels: documentation

feat(web): Academy bench board slice 1 — BENCH_PURPOSE content + renderer + real-fixture spec (#374/#329)
  apps/web/src/bench/renderBench.spec.ts
  apps/web/src/bench/renderBench.ts
  apps/web/src/content/registry.ts
  packages/patterns/benchContent.ts
  packages/patterns/index.ts
Labels: tests

feat(web): Academy bench board slice 1 — BENCH_PURPOSE content + renderer + real-fixture spec (#374/#329) (#2206)
  apps/web/src/bench/renderBench.spec.ts
  apps/web/src/bench/renderBench.ts
  apps/web/src/content/registry.ts
  packages/patterns/benchContent.ts
  packages/patterns/index.ts
Labels: tests

fix(bench): lane acquisition is BOUNDED + probed — kill the silent 2h park (n8/n11 stall)
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(bench): lane acquisition is BOUNDED + probed — kill the silent 2h park (n8/n11 stall) (#2207)
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

docs(bench): SWE progression ledger — is their effort IMPROVING or STUCK, as an append-only instrument
  benchmarks/swe/PROGRESSION.md
Labels: documentation

docs(bench): SWE progression ledger — is their effort IMPROVING or STUCK, as an append-only instrument (#2208)
  benchmarks/swe/PROGRESSION.md
Labels: documentation

docs(readme): lead with the thesis — grid compute that scales on misfit hardware (#2205)
  README.md
Labels: documentation

fix(room): shrink the three membership verbs, then re-pin the ceiling 9800 -> 10350
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/modules/room.rs
Labels: none

docs(bench): round D graded — Benchy rung 3 (monotone), Atlas first LEARNING-STUCK (verdict-as-prose didn't teach)
  benchmarks/swe/PROGRESSION.md
Labels: documentation

docs(bench): round D graded — Benchy rung 3 (monotone), Atlas first LEARNING-STUCK (verdict-as-prose didn't teach) (#2209)
  benchmarks/swe/PROGRESSION.md
Labels: documentation

feat(bench): attempt patches become hash-anchored receipts — sha256 on attempt.end + patch persisted per attempt (#379)
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
Labels: none

feat(bench): attempt patches become hash-anchored receipts — sha256 on attempt.end + patch persisted per attempt (#379) (#2210)
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
Labels: none

feat(bench): identical-resubmit detection — the receipt comparison that round D proved prose can't replace
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

feat(bench): identical-resubmit detection — the receipt comparison that round D proved prose can't replace (#2211)
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

feat(bench): offline difficulty manifest for all 300 Lite instances — the curriculum optimizer's state, and an honest surprise
  benchmarks/swe/difficulty-manifest.json
Labels: none

feat(bench): offline difficulty manifest for all 300 Lite instances — the curriculum optimizer's state, and an honest surprise (#2212)
  benchmarks/swe/difficulty-manifest.json
Labels: none

fix(ci): the clients suite existed and nothing ran it; the workflow that should have was pointed at a deleted directory
  .github/workflows/ci.yml
  apps/web/package.json
  packages/chat-view/package.json
  packages/chat-view/vitest.config.ts
Labels: dependencies, workflow

feat(deps): the workspace repairs itself when the manifest moves — on client scripts only
  package.json
  tools/scripts/ensure-node-deps.sh
Labels: dependencies

fix(bench): grader subprocesses get a ceiling + whole-group kill — the 11-hour orphan class dies at its one seam (#381)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(bench): grader subprocesses get a ceiling + whole-group kill — the 11-hour orphan class dies at its one seam (#381) (#2214)
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(cli): one front door — `uu` is the command, and the binary knows its own name
  CLAUDE.md
  core/continuum-core/src/bin/continuum.rs
Labels: documentation

feat(bench): identical-diff re-drive at SETTLE — the resubmission lever moved to the only moment it can still act (+ round E ledger row)
  benchmarks/swe/PROGRESSION.md
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/work.rs
Labels: documentation

feat(bench): identical-diff re-drive at SETTLE — the resubmission lever moved to the only moment it can still act (+ round E ledger row) (#2215)
  benchmarks/swe/PROGRESSION.md
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/work.rs
Labels: documentation

feat(bench): in-loop test verifier — run the repo's own tests at settle and re-drive with real output
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

feat(bench): in-loop test verifier — run the repo's own tests at settle and re-drive with real output (#2216)
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(ai): stream watchdog keyed on TOKEN PROGRESS, not bytes — closes the keepalive-masked wedge that held two runs 5+ hours (#385)
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

fix(ai): stream watchdog keyed on TOKEN PROGRESS, not bytes — closes the keepalive-masked wedge that held two runs 5+ hours (#385) (#2217)
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

fix(bench): infra-void attempts retry instead of grading as zeros — the harness must never launder its faults into her record (#384)
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(bench): infra-void attempts retry instead of grading as zeros — the harness must never launder its faults into her record (#384) (#2218)
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(bench): wedge-killed attempts retry instead of grading — ANY infra_error settle is infrastructure's fault, not hers (#386)
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(bench): wedge-killed attempts retry instead of grading — ANY infra_error settle is infrastructure's fault, not hers (#386) (#2219)
  core/continuum-core/src/commands/agent/solve.rs
Labels: none

fix(cognition): retry a transient deliberation fault in place, don't surrender the whole turn (#386)
  core/continuum-core/src/cognition/act_observe.rs
Labels: none

refactor(cognition): decompose act_observe.rs into a directory module (recency channel extracted)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/recency.rs
Labels: none

docs(readme): 'what that looks like in practice' + prove-it-yourself block up top
  README.md
Labels: documentation

docs(concurrency): write the Video Painter (cb-mobile) pattern language into the style guide
  docs/architecture/CONCURRENCY-STYLE-GUIDE.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
