Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

docs(concurrency): sharpen pattern 6 to the copy-avoidance HIERARCHY + 'ours is harder'
  docs/architecture/CONCURRENCY-STYLE-GUIDE.md
Labels: documentation

refactor(cognition): extract perception predicates from act_observe into their own module
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): SettleOutcome + SettleStep extracted from act_observe (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/types.rs
Labels: none

refactor(cognition): fold 4 remaining perception predicates into perception.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): apply_act extracted from act_observe into apply.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
Labels: none

refactor(cognition): settle_step + drive_to_settle + now_ms extracted into settle.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

refactor(cognition): move from_settled test into types.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/types.rs
Labels: none

refactor(cognition): move recency-rendering tests into recency.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/recency.rs
Labels: none

fix(serving): size llama-server slot count to resident persona population — kill KV-cache thrash (#266)
  core/continuum-core/src/cognition/resource_admission.rs
  core/continuum-core/src/cognition/serving_plan.rs
Labels: none

refactor(cognition): move pure perception-predicate tests into perception.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): move pure perception-predicate tests into perception.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): settle_step + drive_to_settle + now_ms extracted into settle.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

refactor(cognition): decompose act_observe.rs into a directory module (recency channel extracted)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/recency.rs
Labels: none

refactor(cognition): move from_settled test into types.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/types.rs
Labels: none

docs(concurrency): sharpen pattern 6 to the copy-avoidance HIERARCHY + 'ours is harder'
  docs/architecture/CONCURRENCY-STYLE-GUIDE.md
Labels: documentation

refactor(cognition): fold 4 remaining perception predicates into perception.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): SettleOutcome + SettleStep extracted from act_observe (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/types.rs
Labels: none

docs(readme): 'what that looks like in practice' + prove-it-yourself block up top
  README.md
Labels: documentation

fix(serving): size llama-server slot count to resident persona population — kill KV-cache thrash (#266)
  core/continuum-core/src/cognition/resource_admission.rs
  core/continuum-core/src/cognition/serving_plan.rs
Labels: none

fix(cognition): retry a transient deliberation fault in place, don't surrender the whole turn (#386)
  core/continuum-core/src/cognition/act_observe.rs
Labels: none

refactor(cognition): extract perception predicates from act_observe into their own module
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
Labels: none

refactor(cognition): move recency-rendering tests into recency.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/recency.rs
Labels: none

refactor(cognition): apply_act extracted from act_observe into apply.rs (pure code-motion)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
Labels: none

docs(concurrency): write the Video Painter (cb-mobile) pattern language into the style guide
  docs/architecture/CONCURRENCY-STYLE-GUIDE.md
Labels: documentation

feat(serving): the daemon asks the engine what it IS — /props.build_info on the snapshot
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/inference/model_commands.rs
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(install): ninja becomes a manifest module; cmake/ninja stop being CUDA's business
  install.ps1
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-build-env.sh
Labels: none

fix(memory-bridge): resolve the airc binary; stop reporting "daemon down" for "program not found"
  tools/plugins/memory-bridge/scripts/lib.sh
  tools/plugins/memory-bridge/scripts/session-capture.sh
  tools/plugins/memory-bridge/scripts/session-recall.sh
  tools/plugins/memory-bridge/scripts/share.sh
Labels: none

fix(serving): a measured solve quiesces the OTHER residents so it holds an exclusive warm slot (#266/#386)
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/persona/airc_runtime_registry.rs
Labels: none

fix(serving): a measured solve quiesces the OTHER residents so it holds an exclusive warm slot (#266/#386)
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/persona/airc_runtime_registry.rs
Labels: none

feat(memory-bridge): detect a FROZEN install — "current" must not be indistinguishable from "stale"
  tools/plugins/memory-bridge/README.md
  tools/plugins/memory-bridge/scripts/lib.sh
  tools/plugins/memory-bridge/scripts/session-recall.sh
Labels: documentation

docs(readme): lead the 'where we are' block with strength, not a prototype demotion
  README.md
Labels: documentation

docs(readme): lead the 'where we are' block with strength, not a prototype demotion
  README.md
Labels: documentation

fix(plugins): bump memory-bridge to 0.2.0 + gate the bump — the actual reason fixes never shipped
  .github/workflows/plugin-version-guard.yml
  tools/plugins/memory-bridge/.claude-plugin/plugin.json
  tools/scripts/check-plugin-version.sh
Labels: workflow

fix(code/edit): accept the universal old_string/new_string idiom at the shared handler (dogfood)
  core/continuum-core/src/modules/code_commands.rs
Labels: none

refactor(cognition): ToolCall::loop_fingerprint() — one typed source for the repeat/loop key
  core/continuum-core/src/ai/types.rs
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

refactor(cognition): typed Observation — Step 0 new observation.rs types + renderers
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/observation.rs
Labels: none

refactor(cognition): typed Observation — Step 2 apply_act returns ActOutcome
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  protocol/typescript/cognition/ActOutcome.ts
  protocol/typescript/cognition/ActStatus.ts
  protocol/typescript/cognition/Observation.ts
  protocol/typescript/cognition/ToolOutput.ts
  protocol/typescript/cognition/ToolVerb.ts
Labels: none

refactor(cognition): typed Observation — Step 3 WorkingMemory stores typed acts on the Receipt
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

refactor(cognition): typed Observation — Step 4 migrate the seam-5 predicates off receipt prose
  core/continuum-core/src/cognition/act_observe/perception.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

refactor(cognition): typed Observation — Step 5 render_recency/render_recall are the sole producers
  core/continuum-core/src/cognition/act_observe/apply.rs
Labels: none
