Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(serving): predictive-scheduling instrument — measured schedulable coverage from the live trace (#281/#282)
  core/continuum-core/src/capacity/trace_tail.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(serving): predictive-scheduling instrument — measured schedulable coverage from the live trace (#281/#282) (#2122)
  core/continuum-core/src/capacity/trace_tail.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): resident_override on vision_sidecar ServingTarget + K3 coverage measurement
  core/continuum-core/src/capacity/trace_tail.rs
  core/continuum-core/src/inference/vision_sidecar.rs
Labels: none

fix(portability): continuum-core builds on windows-msvc — un-gated unix usage fixed + CI guard (#304, first slice of #197)
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/capacity/expert_container.rs
  core/continuum-core/src/commands/capacity.rs
  core/continuum-core/src/fs_portable.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/lib.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/instantiate.rs
  core/continuum-core/src/modules/docker_tier.rs
  core/continuum-core/src/runtime/core_ipc_transport.rs
Labels: workflow

fix(portability): remove orphaned unix FileExt import — the call site moved to fs_portable but the use stayed (#304)
  core/continuum-core/src/capacity/expert_container.rs
Labels: none

test(portability): TCP-echo sibling for the windows transport arm — one generic wire server, two bind sites (#304 residual)
  core/continuum-core/src/runtime/core_ipc_transport.rs
Labels: none

fix(portability+tests): gate unix-only integration targets + repair pre-existing test-target rot (#304)
  core/continuum-core/tests/call_server_integration.rs
  core/continuum-core/tests/call_server_routing_test.rs
  core/continuum-core/tests/forge_custodian_daemon.rs
  core/continuum-core/tests/hold_music_test.rs
  core/continuum-core/tests/mcp_server_integration.rs
  core/continuum-core/tests/memory_recall_accuracy.rs
  core/continuum-core/tests/qwen35_chat_pipeline_full.rs
  core/continuum-core/tests/stt_noise_benchmark.rs
  core/continuum-core/tests/tts_only_test.rs
  core/continuum-core/tests/tts_stt_roundtrip.rs
  core/continuum-core/tests/tts_timing_benchmark.rs
Labels: none

test(recorder): thread-local fixture-root override — kill the process-global HOME swap (#7)
  core/continuum-core/src/persona/recorder.rs
Labels: none

fix(portability): continuum-core builds on windows-msvc + CI guard (#304, first slice of #197) (#2123)
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/capacity/expert_container.rs
  core/continuum-core/src/commands/capacity.rs
  core/continuum-core/src/fs_portable.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/lib.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/instantiate.rs
  core/continuum-core/src/modules/docker_tier.rs
  core/continuum-core/src/persona/recorder.rs
  core/continuum-core/src/runtime/core_ipc_transport.rs
  core/continuum-core/tests/call_server_integration.rs
  core/continuum-core/tests/call_server_routing_test.rs
  core/continuum-core/tests/forge_custodian_daemon.rs
  core/continuum-core/tests/hold_music_test.rs
  core/continuum-core/tests/mcp_server_integration.rs
  core/continuum-core/tests/memory_recall_accuracy.rs
  core/continuum-core/tests/qwen35_chat_pipeline_full.rs
  core/continuum-core/tests/stt_noise_benchmark.rs
  core/continuum-core/tests/tts_only_test.rs
  core/continuum-core/tests/tts_stt_roundtrip.rs
  core/continuum-core/tests/tts_timing_benchmark.rs
Labels: workflow

feat(cognition): draft-side peer-echo proprioception — perceive the mutual-mirror at the settle seam (#303)
  core/continuum-core/src/cognition/act_observe.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
Labels: none

feat(pager-driver): offline warm-coverage measurement (--synth-layers, --once, --budget-slots)
  core/expert-pager-policy/src/bin/moe-pager-driver.rs
Labels: none

feat(cognition): draft-side peer-echo proprioception — perceive the mutual-mirror at the settle seam (#303) (#2124)
  core/continuum-core/src/cognition/act_observe.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
Labels: none

feat(serving): device-side expert-slot budget on the governed plan — free-VRAM-after-fit, never a constant (#305)
  core/continuum-core/src/modules/serving_daemon.rs
  core/expert-pager-policy/src/plan_file.rs
Labels: none

feat(serving): device-side expert-slot budget on the governed plan — free-VRAM-after-fit, never a constant (#305) (#2125)
  core/continuum-core/src/modules/serving_daemon.rs
  core/expert-pager-policy/src/plan_file.rs
Labels: none

feat(pager): measure cross-layer prefetch predictor ceiling — DEAD lever for K3
  core/expert-pager-policy/src/bin/cooccur-ceiling.rs
Labels: none

feat(catalog): DeepSeek-V4-Flash via the ds4 sidecar — the 304B deliberator joins the registry (#306)
  core/continuum-core/src/model_registry/catalog.rs
Labels: none

feat(inference): register the ds4 sidecar adapter at boot — probe-then-register, DMR's shape (#306)
  core/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(catalog): ds4 residency authority is the SIDECAR, not the serving daemon (#306)
  core/continuum-core/src/model_registry/catalog.rs
Labels: none

fix(persona): workspace map must never describe a root the hands don't act in — provision-and-tell (#49 severe slice)
  core/continuum-core/src/persona/workspace_map_source.rs
Labels: none

feat(work): work/list + work/get — the board's read half (#309)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): offer work/list + work/get in the native tool surface — registered-but-invisible was the residual #309 hole
  core/continuum-core/src/cognition/tool_dialect.rs
  core/continuum-core/src/modules/work.rs
Labels: none

feat(inference): DeepSeek-V4-Flash citizenship — ds4 sidecar provider, catalog row, gateway adapter (#306) (#2126)
  core/continuum-core/src/cognition/tool_dialect.rs
  core/continuum-core/src/model_registry/catalog.rs
  core/continuum-core/src/modules/ai_provider.rs
  core/continuum-core/src/modules/work.rs
  core/continuum-core/src/persona/workspace_map_source.rs
Labels: none

fix(eval): route external-provider base_model_id through the gateway adapter — never lane-spawn weights served elsewhere (#310)
  core/continuum-core/src/cognition/eval.rs
Labels: none

fix(eval): route external-provider base_model_id through the gateway adapter — never lane-spawn weights served elsewhere (#310) (#2127)
  core/continuum-core/src/cognition/eval.rs
Labels: none

feat(parser): lift fence-free narrated tool mentions — 'let's use `list_tasks`' must act, not advise (#309 tail)
  core/continuum-core/src/ai/json_in_prompt_tools.rs
Labels: none

feat(parser): lift fence-free narrated tool mentions — 'let's use `list_tasks`' must act, not advise (#309 tail) (#2128)
  core/continuum-core/src/ai/json_in_prompt_tools.rs
Labels: none

feat(pager): resident_tier on the plan-file wire — the governor's half of the resident/cache split seam
  core/expert-pager-policy/src/plan_file.rs
Labels: none

fix(work): add WorkList + WorkGet to the module's dispatch list — registered-but-undispatchable was the LAST layer (#309)
  core/continuum-core/src/modules/work.rs
Labels: none

feat(pager): resident_tier on the plan-file wire — the governor's half of the resident/cache split seam (#2129)
  core/expert-pager-policy/src/plan_file.rs
Labels: none

feat(pager): DivisionPolicy — the governor's VRAM-division RL brain (#2/#3)
  core/expert-pager-policy/src/division.rs
  core/expert-pager-policy/src/lib.rs
Labels: none

fix(work): add WorkList + WorkGet to the module's dispatch list — registered-but-undispatchable was the LAST layer (#309) (#2130)
  core/continuum-core/src/modules/work.rs
Labels: none

probe(ai): outbound tool-surface wire truth — tools_n/stops_n/temp per chat request
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

guard(registry): dispatch-parity audit — advertised commands must be routable (#309 structural kill)
  core/continuum-core/src/runtime/registry.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(work): claim-contention errors name the holding peer — actionable, not a dead end
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): claim-contention errors name the holding peer — actionable, not a dead end (#2132)
  core/continuum-core/src/modules/work.rs
Labels: none

guard(registry): dispatch-parity audit + outbound tool-surface wire probe (#2131)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/runtime/registry.rs
  core/continuum-core/src/runtime/runtime.rs
Labels: none

feat(serving): division actuation — the daemon consumes DivisionPolicy (#2 of the resident/cache split)
  core/continuum-core/src/capacity/division_actuation.rs
  core/continuum-core/src/capacity/mod.rs
  core/continuum-core/src/model_registry/artifacts.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(eval): the exam's world is a COPY — per-run CoW clone default workspace, never the shared checkout (#312)
  core/continuum-core/src/cognition/eval.rs
Labels: none

fix(eval): the exam's world is a COPY — per-run CoW clone default workspace, never the shared checkout (#312) (#2134)
  core/continuum-core/src/cognition/eval.rs
Labels: none

chore: sweep persona exam/gym debris committed to the shared checkout (#312 tail)
  Users/joel/Development/continuum/reverse_string.rs
  Users/joel/Development/continuum/work-08ece9e8/src/main.rs
  Users/joel/Development/continuum/work-08ece9e8/task_list.md
  add.swift
  conway_game_of_life/Cargo.toml
  conway_game_of_life/src/main.rs
  reverse_string.py
  reverse_string.rs
  work-08ece9e8/sample.txt
  work-08ece9e8/src/main.rs
  work-08ece9e8/wordstats.rs
Labels: documentation
