Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Keep work presence out of conversational intake and label image derivatives correctly
  core/continuum-core/src/media/frame.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

Account multipart text with the deliberation token unit at serving admission
  core/continuum-core/src/cognition/deliberation_budget.rs
  core/continuum-core/src/inference/serving_guard.rs
Labels: none

Verify retained image geometry and MIME against stored bytes
  core/continuum-core/src/media/artifact.rs
  core/continuum-core/src/perception/mod.rs
Labels: none

fix(install): reuse validated release pair on retry and retain CI workspace cache
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/bin/continuum.rs
Labels: workflow

fix(install): reuse the prepared pair from the normal installed CLI too
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(install): validate browser metadata migration against installed release
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): handle elevation cleanup stderr and hide teardown console
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
  tools/scripts/lib/install-common.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

Preserve chat media and retain retrievable image tool receipts (#4592)
  Cargo.lock
  Cargo.toml
  core/continuum-core/Cargo.toml
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/observation.rs
  core/continuum-core/src/cognition/act_observe/perception.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/replay.rs
  core/continuum-core/src/cognition/tool_executor/command_executor.rs
  core/continuum-core/src/cognition/tool_executor/types.rs
  core/continuum-core/src/cognition/working_memory.rs
  core/continuum-core/src/commands/chat/send.rs
  core/continuum-core/src/commands/vision/look.rs
  core/continuum-core/src/inference/serving_guard.rs
  core/continuum-core/src/media/artifact.rs
  core/continuum-core/src/media/frame.rs
  core/continuum-core/src/media/mod.rs
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/chat/types.rs
  core/continuum-core/src/perception/mod.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/airc_source.rs
  core/continuum-core/src/persona/channel_items.rs
  core/continuum-core/src/persona/durable_history.rs
  core/continuum-core/src/persona/scripted_conversation.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/wake_backlog.rs
  protocol/typescript/chat/ChatSendParams.ts
  protocol/typescript/cognition/ToolOutput.ts
  protocol/typescript/media/ImageArtifact.ts
  protocol/typescript/vision/VisionLookParams.ts
  protocol/typescript/vision/VisionLookResult.ts
Labels: none

fix(install): reuse prepared releases and retain CI workspace builds (#4593)
  .github/workflows/continuum-rust-tests.yml
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
  tools/scripts/lib/install-common.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: workflow

fix(perception): apply CSS patches within live browser sessions
  apps/eye-node/src/interactAdapter.spec.ts
  apps/eye-node/src/interactAdapter.ts
  core/continuum-core/src/perception/interact.rs
  docs/architecture/PERCEPTION-SURFACE.md
  packages/perception/domSurface.spec.ts
  protocol/typescript/perception/PerceptionAction.ts
Labels: documentation, tests

fix(perception): keep browser help within native context budget
  core/continuum-core/src/perception/interact.rs
Labels: none

fix(persona): resolve autonomous work focus through subscribed boards (#4591)
  core/continuum-core/src/persona/airc_citizen.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_focus.rs
Labels: none

fix(deploy): acknowledge retained shutdown receipt before core self-exit
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/runtime.rs
  protocol/typescript/system/DrainOutcome.ts
  protocol/typescript/system/ModuleStop.ts
  protocol/typescript/system/ModuleStopOutcome.ts
  protocol/typescript/system/ShutdownCommitParams.ts
  protocol/typescript/system/ShutdownReceipt.ts
  protocol/typescript/system/ShutdownResult.ts
  protocol/typescript/system/ShutdownTarget.ts
Labels: none

docs(deploy): identify lifecycle wire boundaries and stub default
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

fix(perception): keep CSS iteration in the live browser session (#4594)
  apps/eye-node/src/interactAdapter.spec.ts
  apps/eye-node/src/interactAdapter.ts
  core/continuum-core/src/perception/interact.rs
  docs/architecture/PERCEPTION-SURFACE.md
  packages/perception/domSurface.spec.ts
  protocol/typescript/perception/PerceptionAction.ts
Labels: documentation, tests

fix(install): update owned startup tasks without repeated elevation
  tools/scripts/lib/windows-service.ps1
  tools/scripts/register-core-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): validate both task policies before registration
  tools/scripts/lib/windows-service.ps1
  tools/scripts/register-core-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(deploy): support owned-task updates and acknowledged core exit (#4595)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/commands/system/shutdown.rs
  core/continuum-core/src/persona/airc_citizen.rs
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/runtime.rs
  protocol/typescript/system/DrainOutcome.ts
  protocol/typescript/system/ModuleStop.ts
  protocol/typescript/system/ModuleStopOutcome.ts
  protocol/typescript/system/ShutdownCommitParams.ts
  protocol/typescript/system/ShutdownReceipt.ts
  protocol/typescript/system/ShutdownResult.ts
  protocol/typescript/system/ShutdownTarget.ts
  tools/scripts/lib/windows-service.ps1
  tools/scripts/register-core-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): probe writable build output before service image inspection
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): probe writable build output before service image inspection (#4596)
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): preserve registered slots and probe candidate destinations
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(install): preserve registered slots and probe candidate destinations (#4597)
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

ci: scope installer merges to relevant Windows regressions
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/ci-change-scope.cjs
  tools/scripts/tests/ci-change-scope.test.cjs
Labels: workflow

ci: scope installer merges to relevant Windows regressions (#4598)
  .github/workflows/continuum-rust-tests.yml
  tools/scripts/ci-change-scope.cjs
  tools/scripts/tests/ci-change-scope.test.cjs
Labels: workflow

fix(lifecycle): retain lane ownership until exit is observed
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/lane_registry.rs
Labels: none

fix(install): bind teardown to both service slots in one installation
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
Labels: none

fix(lifecycle): retain lane ownership until exit is observed (#4599)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/lane_registry.rs
Labels: none

fix(install): bind teardown to both service slots in one installation (#4600)
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
Labels: none

fix(persona): report observed verbs instead of batch counts
  core/continuum-core/src/commands/persona/live_state.rs
Labels: none

fix(persona): report observed verbs instead of batch counts (#4601)
  core/continuum-core/src/commands/persona/live_state.rs
Labels: none

fix(vision): distinguish generation failure from unavailable models
  core/continuum-core/src/cognition/vision_describe.rs
Labels: none

fix(vision): distinguish generation failure from unavailable models (#4602)
  core/continuum-core/src/cognition/vision_describe.rs
Labels: none

fix(perception): expose typed inputs and reuse caller's last page
  apps/eye-node/src/interactAdapter.spec.ts
  apps/eye-node/src/interactAdapter.ts
  core/continuum-core/src/perception/hot_edit.rs
  core/continuum-core/src/perception/interact.rs
  core/continuum-core/src/perception/mod.rs
  core/continuum-core/src/sdk_codegen/command.rs
  core/continuum-core/src/sdk_codegen/mod.rs
  protocol/typescript/perception/InteractParams.ts
Labels: tests

test(perception): account for newly exposed input schema cost
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(shell): retain bounded completed execution receipts
  core/continuum-core/src/code/shell_session.rs
Labels: none

fix(perception): expose typed inputs and reuse caller-owned last page (#4603)
  apps/eye-node/src/interactAdapter.spec.ts
  apps/eye-node/src/interactAdapter.ts
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/perception/hot_edit.rs
  core/continuum-core/src/perception/interact.rs
  core/continuum-core/src/perception/mod.rs
  core/continuum-core/src/sdk_codegen/command.rs
  core/continuum-core/src/sdk_codegen/mod.rs
  protocol/typescript/perception/InteractParams.ts
Labels: tests

fix(vision): label token-limited descriptions as incomplete
  core/continuum-core/src/cognition/vision_describe.rs
Labels: none

fix(shell): retain bounded completed execution receipts (#4604)
  core/continuum-core/src/code/shell_session.rs
Labels: none

fix(vision): label token-limited descriptions as incomplete (#4605)
  core/continuum-core/src/cognition/vision_describe.rs
Labels: none

fix(vision): reserve description output within generation budget
  core/continuum-core/src/cognition/vision_describe.rs
  core/continuum-core/src/inference/request_body.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
