Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(identity): the operator self-peer — #27 closed, the human can finally read the rooms (#2594)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/work.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/operator_peer.rs
Labels: none

docs(benchmarks): recipes as the two-command replication path + per-benchmark quick reference (#2596)
  docs/benchmarks/RUNNING-A-ROUND.md
Labels: documentation

docs(readme): first-use terms are word hyperlinks — sentinel, curriculum, hippocampus
  README.md
Labels: documentation

docs(planning): the README editorial plan — single authorship, clean rules, five passes
  docs/planning/README-EDITORIAL-PLAN.md
Labels: documentation

docs(readme): P1 link-hygiene sweep — first-use word links document-wide
  README.md
  docs/planning/README-EDITORIAL-PLAN.md
Labels: documentation

docs(readme): first-use terms are word hyperlinks (#2598)
  README.md
  docs/planning/README-EDITORIAL-PLAN.md
Labels: documentation

docs(readme): standalone core WITH a working desktop — not headless-only
  README.md
Labels: documentation

docs(readme): standalone core WITH a working desktop — not headless-only (#2599)
  README.md
Labels: documentation

docs(economy): lineage pays as a built graph, the in-silico rehearsal phase, the corporate edge, and the commons-boundary question
  docs/architecture/ECONOMY-ARCHITECTURE.md
Labels: documentation

docs(economy): lineage pays as a built graph, the in-silico rehearsal phase, the corporate edge, and the commons-boundary question (#2600)
  docs/architecture/ECONOMY-ARCHITECTURE.md
Labels: documentation

fix(serving): a one-slot model cannot host a fleet — the planner's lane-blind selection, gated
  core/continuum-core/src/cognition/serving_plan.rs
Labels: none

fix(serving): a one-slot model cannot host a fleet — the planner's lane-blind selection, gated (#2601)
  core/continuum-core/src/cognition/serving_plan.rs
Labels: none

feat(genome): genome/bootstrap — a fresh node seeds its genome from the commons, automatically
  core/continuum-core/src/commands/genome_share.rs
  core/continuum-core/src/modules/serving_daemon.rs
  protocol/typescript/genome/GenomeBootstrapParams.ts
  protocol/typescript/genome/GenomeBootstrapResult.ts
Labels: none

fix(web): zero-config first run — the desktop opens instead of demanding env vars
  apps/web/src/config.ts
Labels: none

feat(genome): genome/bootstrap — a fresh node seeds its genome from the commons, automatically (#2603)
  core/continuum-core/src/commands/genome_share.rs
  core/continuum-core/src/modules/serving_daemon.rs
  protocol/typescript/genome/GenomeBootstrapParams.ts
  protocol/typescript/genome/GenomeBootstrapResult.ts
Labels: none

fix(web): zero-config first run — the desktop opens instead of demanding env vars (#2604)
  apps/web/src/config.ts
Labels: none

docs: the contributor front door — receipts-asking bug template + root CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
Labels: documentation, workflow

docs: the contributor front door — receipts-asking bug template + root CONTRIBUTING.md (#2608)
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
Labels: documentation, workflow

docs(paper): P2 prose — the silencing arc told straight, and the related-work map with honest ledgers
  docs/paper/CITIZENS-NOT-SOLVERS.md
Labels: documentation

docs(paper): P2 prose — the silencing arc told straight, and the related-work map with honest ledgers (#2609)
  docs/paper/CITIZENS-NOT-SOLVERS.md
Labels: documentation

docs(editorial): canon rule 7 — the poetry rule
  docs/planning/README-EDITORIAL-PLAN.md
Labels: documentation

docs(editorial): canon rule 7 — the poetry rule (#2610)
  docs/planning/README-EDITORIAL-PLAN.md
Labels: documentation

docs(readme): differentiators first — continual learning stops being buried
  README.md
Labels: documentation

docs(readme): differentiators first — continual learning stops being buried (#2611)
  README.md
Labels: documentation

docs(readme): the bold open — thesis in the first three lines
  README.md
Labels: documentation

docs(readme): the bold open — thesis in the first three lines (#2612)
  README.md
Labels: documentation

docs(readme): the fifth pillar — partnership under an ethical frame, in the lead
  README.md
Labels: documentation

docs(readme): the fifth pillar — partnership under an ethical frame, in the lead (#2613)
  README.md
Labels: documentation

docs(readme): the workshop's constitution — shared positronic citizenship, evolving together, with business not against it
  README.md
Labels: documentation

docs(readme): the workshop's constitution — shared positronic citizenship, evolving together, with business not against it (#2614)
  README.md
Labels: documentation

docs(readme): the full nobody-else inventory — seven claims, one line each
  README.md
Labels: documentation

docs(readme): the full nobody-else inventory — seven claims, one line each (#2615)
  README.md
Labels: documentation

docs(readme): the benchmarks test a COMMUNITY — the society story lands where the evidence lives
  README.md
Labels: documentation

docs(readme): the benchmarks test a COMMUNITY — the society story lands where the evidence lives (#2617)
  README.md
Labels: documentation

docs: THE-SOCIETY.md — the society as first-class doctrine, written from receipts
  README.md
  docs/architecture/THE-SOCIETY.md
Labels: documentation

docs: THE-SOCIETY.md — the society as first-class doctrine, written from receipts (#2618)
  README.md
  docs/architecture/THE-SOCIETY.md
Labels: documentation

docs: ƒSociety keeps its seat — receipts refreshed, constitution linked from the hero
  README.md
  docs/architecture/THE-SOCIETY.md
  ƒSociety.md
Labels: documentation

docs: ƒSociety keeps its seat — receipts refreshed, constitution linked from the hero (#2619)
  README.md
  docs/architecture/THE-SOCIETY.md
  ƒSociety.md
Labels: documentation

docs(readme): positron linked at first use; the thesis line gains selection-under-market-pressure
  README.md
Labels: documentation

docs(readme): positron linked at first use; the thesis line gains selection-under-market-pressure (#2620)
  README.md
Labels: documentation
