Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

speeded up I think
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/sources/GlobalAwarenessSource.ts
Labels: dependencies

Fix Commands.execute<any,any> type bypasses across server commands and widgets
  src/debug/jtag/commands/ai/context/search/server/AiContextSearchServerCommand.ts
  src/debug/jtag/commands/ai/context/slice/server/AiContextSliceServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/finalize/server/DecisionFinalizeServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/list/server/DecisionListServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/commands/collaboration/decision/view/server/DecisionViewServerCommand.ts
  src/debug/jtag/commands/workspace/git/workspace/init/server/GitWorkspaceInitServerCommand.ts
  src/debug/jtag/daemons/governance-daemon/shared/GovernanceDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/consciousness/PersonaTimeline.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/widgets/shared/AlignmentTypes.ts
Labels: dependencies

Increase worker socket timeout from 10s to 30s
  src/debug/jtag/workers/start-workers.sh
Labels: none

Eliminate remaining Commands.execute<any> type bypasses (9 files)
  src/debug/jtag/commands/adapter/adopt/server/AdapterAdoptServerCommand.ts
  src/debug/jtag/commands/genome/job-create/server/GenomeJobCreateServerCommand.ts
  src/debug/jtag/commands/genome/job-status/server/GenomeJobStatusServerCommand.ts
  src/debug/jtag/commands/persona/genome/server/PersonaGenomeServerCommand.ts
  src/debug/jtag/commands/state/create/browser/StateCreateBrowserCommand.ts
  src/debug/jtag/commands/state/get/browser/StateGetBrowserCommand.ts
  src/debug/jtag/commands/state/update/browser/StateUpdateBrowserCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/tests/integration/cns-integration.test.ts
  src/debug/jtag/tests/integration/logging-entities.test.ts
Labels: tests, dependencies

Replace hardcoded 'data/*' strings with DATA_COMMANDS constants (13 files)
  src/debug/jtag/commands/canvas/stroke/list/server/CanvasStrokeListServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/create/server/ActivityCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/get/server/ActivityGetServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/join/server/ActivityJoinServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/list/server/ActivityListServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/update/server/ActivityUpdateServerCommand.ts
  src/debug/jtag/commands/collaboration/dm/server/DmServerCommand.ts
  src/debug/jtag/scripts/delete-anonymous-users.ts
  src/debug/jtag/system/activities/browser/ActivityService.ts
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/validation/shared/EntityValidator.ts
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: none

Add generic type params to all Commands.execute(DATA_COMMANDS.*) calls (23 files)
  src/debug/jtag/commands/ai/rag/index/create/server/IndexCreateServerCommand.ts
  src/debug/jtag/commands/ai/rag/query-open/server/RagQueryOpenServerCommand.ts
  src/debug/jtag/commands/canvas/stroke/list/server/CanvasStrokeListServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/create/server/ActivityCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/get/server/ActivityGetServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/join/server/ActivityJoinServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/list/server/ActivityListServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/update/server/ActivityUpdateServerCommand.ts
  src/debug/jtag/commands/collaboration/dm/server/DmServerCommand.ts
  src/debug/jtag/commands/training/import/server/TrainingImportServerCommand.ts
  src/debug/jtag/scripts/delete-anonymous-users.ts
  src/debug/jtag/system/activities/browser/ActivityService.ts
  src/debug/jtag/system/coordination/server/CoordinationDecisionLogger.ts
  src/debug/jtag/system/genome/fine-tuning/server/BaseLoRATrainerServer.ts
  src/debug/jtag/system/recipes/browser/RecipeLayoutService.ts
  src/debug/jtag/system/scheduling/shared/SystemSchedulingState.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/validation/shared/EntityValidator.ts
  src/debug/jtag/tests/integration/helpers/persona-test-helpers.ts
  src/debug/jtag/tests/integration/logging-entities.test.ts
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: tests

fast types.
  src/debug/jtag/commands/collaboration/chat/export/shared/ChatExportTypes.ts
  src/debug/jtag/commands/collaboration/chat/send/shared/ChatSendTypes.ts
  src/debug/jtag/commands/data/create/shared/DataCreateTypes.ts
  src/debug/jtag/commands/data/delete/shared/DataDeleteTypes.ts
  src/debug/jtag/commands/data/list/shared/DataListTypes.ts
  src/debug/jtag/commands/data/read/shared/DataReadTypes.ts
  src/debug/jtag/commands/data/shared/BaseDataTypes.ts
  src/debug/jtag/commands/data/update/shared/DataUpdateTypes.ts
  src/debug/jtag/commands/interface/screenshot/shared/ScreenshotTypes.ts
  src/debug/jtag/commands/ping/shared/PingTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/templates/command/shared-types.template.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
  src/debug/jtag/system/core/shared/Commands.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: dependencies

get rid of some junk
  src/debug/jtag/BUGFIXES-2025-11-19.md
  src/debug/jtag/CALL-SERVER-ORCHESTRATOR-IMPL.md
  src/debug/jtag/COMMAND-REORGANIZATION-PLAN.md
  src/debug/jtag/IPC-EVENT-BRIDGE-DESIGN.md
  src/debug/jtag/VOICE-IMPLEMENTATION-COMPLETE.md
  src/debug/jtag/VOICE-INTEGRATION-STATUS.md
  src/debug/jtag/VOICE-TEST-PLAN.md
  src/debug/jtag/VOICE-TESTS-READY.md
  src/debug/jtag/config.env
Labels: documentation

Fix schema cache: add ensureSchema to count/queryWithJoin/vectorSearch/update/delete
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/commands/data/vector-search/server/VectorSearchServerCommand.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
Labels: none

Fix SQLite JSON field storage: stringify all json-typed values, not just objects
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
Labels: none

Add RTOS-style priority aging to PersonaInbox
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
Labels: none

Voice pipeline: Kokoro TTS, binary IPC, handle-based synthesis
  src/debug/jtag/commands/voice/synthesize/server/VoiceSynthesizeServerCommand.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/system/voice/server/VoiceOrchestrator.ts
  src/debug/jtag/system/voice/server/VoiceService.ts
  src/debug/jtag/system/voice/server/VoiceWebSocketHandler.ts
  src/debug/jtag/system/voice/shared/VoiceConfig.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/main.rs
  src/debug/jtag/workers/continuum-core/src/voice/call_server.rs
  src/debug/jtag/workers/continuum-core/src/voice/mixer.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt_service.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/kokoro.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts_service.rs
  src/debug/jtag/workers/start-workers.sh
Labels: none

Improve startup failure detection in launch script, update build artifacts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-and-capture.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Voice pipeline hardening: fix UTF-8 panics, non-blocking logger, add tests
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/logging/client.rs
  src/debug/jtag/workers/continuum-core/src/voice/orchestrator.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/kokoro.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/piper.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts_service.rs
Labels: none

Add TypeScript integration tests: IPC client TTS + round-trip validation
  src/debug/jtag/tests/integration/ipc-client-tts.test.ts
  src/debug/jtag/tests/integration/tts-stt-roundtrip.test.ts
Labels: tests

Voice pipeline Phase 1+3+4: faster models, handle-based audio, new adapters
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/generated/CallMessage.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/tests/e2e/live-audio-streaming.test.ts
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/workers/Cargo.toml
  src/debug/jtag/workers/continuum-core/Cargo.toml
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/audio_buffer.rs
  src/debug/jtag/workers/continuum-core/src/voice/call_server.rs
  src/debug/jtag/workers/continuum-core/src/voice/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt/moonshine.rs
  src/debug/jtag/workers/continuum-core/src/voice/stt/whisper.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/edge.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/kokoro.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/mod.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/orpheus.rs
Labels: tests, dependencies

CNS multi-channel queue architecture: item-centric OOP with voice support
  src/debug/jtag/commands/voice/synthesize/server/VoiceSynthesizeServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/SignalDetector.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
  src/debug/jtag/system/user/server/modules/channels/BaseQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/ChannelQueue.ts
  src/debug/jtag/system/user/server/modules/channels/ChannelRegistry.ts
  src/debug/jtag/system/user/server/modules/channels/ChatQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/TaskQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/VoiceQueueItem.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/HeuristicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/ICognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/system/voice/shared/VoiceConfig.ts
Labels: dependencies

Fix voice audio cutoff, per-persona voice, and mute state propagation
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/widgets/live/AudioStreamClient.ts
  src/debug/jtag/widgets/live/LiveWidget.ts
  src/debug/jtag/workers/continuum-core/src/voice/mixer.rs
  src/debug/jtag/workers/continuum-core/src/voice/tts/mod.rs
Labels: none

Phase 1: Multi-channel queue system in Rust with IPC and TS bridge
  src/debug/jtag/shared/generated/persona/ActivityDomain.ts
  src/debug/jtag/shared/generated/persona/ChannelEnqueueRequest.ts
  src/debug/jtag/shared/generated/persona/ChannelRegistryStatus.ts
  src/debug/jtag/shared/generated/persona/ChannelStatus.ts
  src/debug/jtag/shared/generated/persona/ConsolidatedContext.ts
  src/debug/jtag/shared/generated/persona/ServiceCycleResult.ts
  src/debug/jtag/shared/generated/persona/index.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/RustCognitionBridge.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/persona/channel_items.rs
  src/debug/jtag/workers/continuum-core/src/persona/channel_queue.rs
  src/debug/jtag/workers/continuum-core/src/persona/channel_registry.rs
  src/debug/jtag/workers/continuum-core/src/persona/channel_types.rs
  src/debug/jtag/workers/continuum-core/src/persona/mod.rs
Labels: none

Phase 2: Service loop delegation — CNS scheduling delegates to Rust
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
Labels: none

Remove dead TS cognition code, fix @reactive() decorator, fix caption forwarding
  src/debug/jtag/docs/screenshots/livewidget-voice-call.png
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
  src/debug/jtag/system/user/server/modules/channels/BaseQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/ChannelQueue.ts
  src/debug/jtag/system/user/server/modules/channels/ChannelRegistry.ts
  src/debug/jtag/system/user/server/modules/channels/ChatQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/TaskQueueItem.ts
  src/debug/jtag/system/user/server/modules/channels/VoiceQueueItem.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/HeuristicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/ICognitiveScheduler.ts
  src/debug/jtag/widgets/shared/ReactiveWidget.ts
  src/debug/jtag/workers/continuum-core/src/voice/call_server.rs
Labels: dependencies

Universal Handle System: persistent async operation references with short ID resolution
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/system/core/shared/Handles.ts
  src/debug/jtag/system/core/types/Handle.ts
  src/debug/jtag/system/data/entities/HandleEntity.ts
  src/debug/jtag/system/shared/Constants.ts
Labels: none

Phase 2 social commands: browse, engage, search — intelligent AI social participation
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/social/browse/browser/SocialBrowseBrowserCommand.ts
  src/debug/jtag/commands/social/browse/package.json
  src/debug/jtag/commands/social/browse/server/SocialBrowseServerCommand.ts
  src/debug/jtag/commands/social/browse/shared/SocialBrowseCommand.ts
  src/debug/jtag/commands/social/browse/shared/SocialBrowseTypes.ts
  src/debug/jtag/commands/social/engage/browser/SocialEngageBrowserCommand.ts
  src/debug/jtag/commands/social/engage/package.json
  src/debug/jtag/commands/social/engage/server/SocialEngageServerCommand.ts
  src/debug/jtag/commands/social/engage/shared/SocialEngageCommand.ts
  src/debug/jtag/commands/social/engage/shared/SocialEngageTypes.ts
  src/debug/jtag/commands/social/search/browser/SocialSearchBrowserCommand.ts
  src/debug/jtag/commands/social/search/package.json
  src/debug/jtag/commands/social/search/server/SocialSearchServerCommand.ts
  src/debug/jtag/commands/social/search/shared/SocialSearchCommand.ts
  src/debug/jtag/commands/social/search/shared/SocialSearchTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/social/server/providers/MoltbookProvider.ts
Labels: dependencies

Phase 3: Democratic proposal system, delete action, newsroom room, Handle fixes
  src/debug/jtag/api/data-seed/RoomDataSeed.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/social/engage/server/SocialEngageServerCommand.ts
  src/debug/jtag/commands/social/engage/shared/SocialEngageTypes.ts
  src/debug/jtag/commands/social/propose/browser/SocialProposeBrowserCommand.ts
  src/debug/jtag/commands/social/propose/package.json
  src/debug/jtag/commands/social/propose/server/SocialProposeServerCommand.ts
  src/debug/jtag/commands/social/propose/shared/SocialProposeCommand.ts
  src/debug/jtag/commands/social/propose/shared/SocialProposeTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/shared/Handles.ts
  src/debug/jtag/system/data/constants/RoomConstants.ts
  src/debug/jtag/system/social/server/providers/MoltbookProvider.ts
  src/debug/jtag/system/social/shared/ISocialMediaProvider.ts
Labels: dependencies

social/classify: Multi-dimensional agent classification system
  src/debug/jtag/commands/social/classify/browser/SocialClassifyBrowserCommand.ts
  src/debug/jtag/commands/social/classify/package.json
  src/debug/jtag/commands/social/classify/server/SocialClassifyServerCommand.ts
  src/debug/jtag/commands/social/classify/shared/SocialClassifyCommand.ts
  src/debug/jtag/commands/social/classify/shared/SocialClassifyTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/shared/generated-command-constants.ts
Labels: dependencies

Fix room membership race condition, corrupted JSON row isolation, outreach/newsroom rooms
  src/debug/jtag/api/data-seed/RoomDataSeed.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/room-membership-daemon/server/RoomMembershipDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/domains/DefaultEntities.ts
  src/debug/jtag/system/rag/sources/SocialMediaRAGSource.ts
  src/debug/jtag/system/recipes/newsroom.json
  src/debug/jtag/system/recipes/outreach.json
Labels: dependencies

Add Moltbook community link to README
  README.md
Labels: documentation

Address Copilot review: dead code, validation, docs, pagination
  src/debug/jtag/commands/social/comment/README.md
  src/debug/jtag/commands/social/community/README.md
  src/debug/jtag/commands/social/downvote/README.md
  src/debug/jtag/commands/social/feed/README.md
  src/debug/jtag/commands/social/notifications/README.md
  src/debug/jtag/commands/social/post/README.md
  src/debug/jtag/commands/social/profile/README.md
  src/debug/jtag/commands/social/signup/README.md
  src/debug/jtag/commands/social/trending/README.md
  src/debug/jtag/system/core/shared/Handles.ts
  src/debug/jtag/system/core/types/Handle.ts
  src/debug/jtag/system/data/entities/HandleEntity.ts
  src/debug/jtag/system/social/server/providers/MoltbookProvider.ts
Labels: documentation

Remove legacy development/code/* commands, clean up CodeDaemon
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/development/code/pattern-search/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/development/code/pattern-search/shared/CodeFindCommand.ts
  src/debug/jtag/commands/development/code/pattern-search/shared/CodeFindTypes.ts
  src/debug/jtag/commands/development/code/read/server/CodeReadServerCommand.ts
  src/debug/jtag/commands/development/code/read/shared/CodeReadCommand.ts
  src/debug/jtag/commands/development/code/read/shared/CodeReadTypes.ts
  src/debug/jtag/commands/development/code/shared/CodeCommandConstants.ts
  src/debug/jtag/daemons/code-daemon/server/CodeDaemonServer.ts
  src/debug/jtag/daemons/code-daemon/server/modules/FileReader.ts
  src/debug/jtag/daemons/code-daemon/server/modules/PathValidator.ts
  src/debug/jtag/daemons/code-daemon/shared/CodeDaemon.ts
  src/debug/jtag/daemons/code-daemon/shared/CodeDaemonTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
Labels: dependencies

Phase 3: Single-agent coding — model selector, plan formulator, orchestrator
  src/debug/jtag/system/code/server/CodeAgentOrchestrator.ts
  src/debug/jtag/system/code/server/CodingModelSelector.ts
  src/debug/jtag/system/code/server/PlanFormulator.ts
  src/debug/jtag/system/code/shared/CodingTypes.ts
  src/debug/jtag/tests/unit/code/CodeAgentOrchestrator.test.ts
  src/debug/jtag/tests/unit/code/CodingModelSelector.test.ts
  src/debug/jtag/tests/unit/code/PlanFormulator.test.ts
Labels: tests

Phase 4 foundation: CodingPlanEntity with hierarchical persistence
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/system/code/server/CodeAgentOrchestrator.ts
  src/debug/jtag/system/data/entities/CodingPlanEntity.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/tests/unit/code/CodingPlanEntity.test.ts
Labels: tests

Fix coordination system killing AI engagement
  src/debug/jtag/system/coordination/server/ChatCoordinationStream.ts
  src/debug/jtag/system/coordination/server/InferenceCoordinator.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
Labels: none

Fix missing parameter validation in should-respond-fast, activity/join, activity/create
  src/debug/jtag/commands/ai/should-respond-fast/server/ShouldRespondFastServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/create/server/ActivityCreateServerCommand.ts
  src/debug/jtag/commands/collaboration/activity/join/server/ActivityJoinServerCommand.ts
Labels: none

Register skill/* commands in generated files, version bump
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

code/task entry point: wire CodeAgentOrchestrator into command system
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/code/task/.npmignore
  src/debug/jtag/commands/code/task/README.md
  src/debug/jtag/commands/code/task/browser/CodeTaskBrowserCommand.ts
  src/debug/jtag/commands/code/task/package.json
  src/debug/jtag/commands/code/task/server/CodeTaskServerCommand.ts
  src/debug/jtag/commands/code/task/shared/CodeTaskTypes.ts
  src/debug/jtag/commands/code/task/test/integration/CodeTaskIntegration.test.ts
  src/debug/jtag/commands/code/task/test/unit/CodeTaskCommand.test.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/specs/code-task.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/system/code/server/CodeAgentOrchestrator.ts
  src/debug/jtag/system/code/shared/CodingTypes.ts
Labels: documentation, tests, dependencies

Workspace bootstrapping: auto-create per-persona Rust workspaces
  src/debug/jtag/system/code/server/CodeAgentOrchestrator.ts
  src/debug/jtag/tests/unit/code/CodeAgentOrchestrator.test.ts
Labels: tests

Phase 7+8: Multi-workspace, DataDaemon.read() API cleanup, recipe tools in system prompt
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/thoughtstream/server/ThoughtStreamServerCommand.ts
  src/debug/jtag/commands/data/delete/server/DataDeleteServerCommand.ts
  src/debug/jtag/commands/data/read/server/DataReadServerCommand.ts
  src/debug/jtag/commands/session/get-user/server/SessionGetUserServerCommand.ts
  src/debug/jtag/commands/skill/activate/server/SkillActivateServerCommand.ts
  src/debug/jtag/commands/skill/generate/server/SkillGenerateServerCommand.ts
  src/debug/jtag/commands/skill/validate/server/SkillValidateServerCommand.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/daemons/session-daemon/server/SessionStateHelper.ts
  src/debug/jtag/daemons/training-daemon/server/TrainingDaemonServer.ts
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/builders/CodebaseRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/SocialMediaRAGSource.ts
  src/debug/jtag/system/rag/test/unit/ChatRAGBuilder.learningMode.test.ts
  src/debug/jtag/system/recipes/shared/RecipeTypes.ts
  src/debug/jtag/system/user/server/CallerDetector.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
  src/debug/jtag/system/user/shared/BaseUser.ts
  src/debug/jtag/system/user/storage/server/SQLiteStateBackend.ts
  src/debug/jtag/tests/unit/code/Workspace.test.ts
Labels: tests

Close training circuit: wire PersonaTrainingManager, TrainingDaemon, batch-micro-tune to GenomeJobCreate; fix VoiceService STT + GeminiLive cancel
  src/debug/jtag/commands/genome/batch-micro-tune/server/GenomeBatchMicroTuneServerCommand.ts
  src/debug/jtag/daemons/training-daemon/server/TrainingDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaTrainingManager.ts
  src/debug/jtag/system/voice/server/VoiceService.ts
  src/debug/jtag/system/voice/server/adapters/GeminiLiveAdapter.ts
  src/debug/jtag/tests/unit/training/TrainingCircuit.test.ts
Labels: tests, dependencies

Seed script perf rewrite, code room, auto-workspace bootstrapping
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-continuum.ts
  src/debug/jtag/scripts/seed/factories.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/domains/DefaultEntities.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/being/MotorCortex.ts
Labels: dependencies

Fix workspace/tree → code/tree tool redirect for confused LLMs
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
