Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs: Alex (Dorian's mediator), Many-Worlds (Joel's framework), grid §10.5 routing
  docs/CONVERSATIONAL-CADENCE-ARCHITECTURE.md
  docs/grid/GRID-ARCHITECTURE.md
  docs/papers/MANY-WORLDS-ABSTRACT.md
Labels: documentation

many-worlds abstract: v0/v1/v2 path for the forge-alloy DSL
  docs/papers/MANY-WORLDS-ABSTRACT.md
Labels: documentation

docs: ROADMAP-VIRAL-CANDIDATES.md — strictly sequential plan for the four milestones
  docs/papers/ROADMAP-VIRAL-CANDIDATES.md
Labels: documentation

roadmap: lock Qwen3.5-35B-A3B as Row 4 — regression test + forge-target floor
  docs/papers/ROADMAP-VIRAL-CANDIDATES.md
Labels: documentation

README: open the door — Contributing section welcomes builders
  README.md
Labels: documentation

feat: model/publish command — Factory ships to HuggingFace
  src/commands/model/publish/.npmignore
  src/commands/model/publish/README.md
  src/commands/model/publish/browser/ModelPublishBrowserCommand.ts
  src/commands/model/publish/package.json
  src/commands/model/publish/server/ModelPublishServerCommand.ts
  src/commands/model/publish/shared/ModelPublishTypes.ts
  src/commands/model/publish/test/integration/ModelPublishIntegration.test.ts
  src/commands/model/publish/test/unit/ModelPublishCommand.test.ts
  src/generator/specs/model-publish.json
Labels: documentation, tests, dependencies

feat: model/publish compile fixes + Factory publish button wiring
  src/commands/model/publish/server/ModelPublishServerCommand.ts
  src/commands/model/publish/shared/ModelPublishTypes.ts
  src/shared/generated-command-constants.ts
  src/widgets/factory/FactoryWidget.ts
Labels: none

docs: CBAR substrate architecture + mixed reality integration
  docs/architecture/CBAR-SUBSTRATE-ARCHITECTURE.md
  docs/live/MIXED-REALITY-CBAR-INTEGRATION.md
Labels: documentation

ci: multi-arch Docker images (amd64 + arm64) — fixes Mac and Ubuntu installs
  .github/workflows/docker-images.yml
Labels: workflow

fix: remove broken contains() check on PR changed_files
  .github/workflows/docker-images.yml
Labels: workflow

ci: verify both architectures after build — prevent broken Mac/Ubuntu images
  .github/workflows/docker-images.yml
Labels: workflow

gap: add #855 (multi-arch Docker) and #856 (grid event streaming) to gap analysis
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

design: grid event streaming — TCP + UDP dual-tier, persistent channels
  docs/design/GRID-EVENT-STREAMING.md
Labels: documentation

docs: §16 grid sovereignty, UUID+path addressing, cross-grid peering, compute marketplace
  docs/grid/GRID-ARCHITECTURE.md
Labels: documentation

feat: GridEventRouter — transparent event forwarding between grid nodes
  src/system/grid/shared/GridEventRouter.ts
Labels: none

docs: Cell Broadband Engine as historical lineage for the grid
  docs/grid/GRID-ARCHITECTURE.md
Labels: documentation

docs: grid vision — heterogeneous computing for everyone
  docs/grid/GRID-VISION.md
Labels: documentation

paper: §V.6.7 Model Compiler empirical validation from Mixtral 8x22B forge
  docs/papers/MANY-WORLDS-ABSTRACT.md
Labels: documentation

feat: search strategy + quality gate in Factory forge controls
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

feat: wire grid forwarding into Events.emit()
  src/system/core/shared/Events.ts
Labels: none

docs: Many-Worlds experimental log — 12 iterations + Avengers architecture
  docs/papers/MANY-WORLDS-EXPERIMENTAL-LOG.md
Labels: documentation

docs: Avengers v3 architecture + HF publish plan + leaderboard target
  docs/papers/MANY-WORLDS-EXPERIMENTAL-LOG.md
Labels: documentation

docs: Many-Worlds integration with Continuum — Factory, Foreman, Grid, Personas
  docs/MANY-WORLDS-INTEGRATION.md
Labels: documentation

docs: logit ensemble breakthrough — first net positive result (+2)
  docs/papers/MANY-WORLDS-EXPERIMENTAL-LOG.md
Labels: documentation

paper: §V.6.7 Model Compiler empirical validation from Mixtral 8x22B forge
  docs/papers/MANY-WORLDS-ABSTRACT.md
Labels: documentation

gap: add #855 (multi-arch Docker) and #856 (grid event streaming) to gap analysis
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

fix: catch ORT runtime panic — prevents Rust core death
  src/workers/continuum-core/src/modules/embedding.rs
Labels: none

fix: generate shared/config.ts in widget-server Docker build
  docker/widget-server.Dockerfile
Labels: none

fix: remove fallbacks from widget-server Dockerfile — fail loud, don't ship broken
  docker/widget-server.Dockerfile
Labels: none

fix: remove ALL fallbacks from widget-server Dockerfile — npm ci, npm install, no 2>/dev/null
  docker/widget-server.Dockerfile
Labels: none

fix(embedding): address Copilot review — fail-fast flag, panic payload extraction, protect FastEmbedProvider
  src/workers/continuum-core/src/memory/embedding.rs
  src/workers/continuum-core/src/modules/embedding.rs
Labels: none

fix: ORT panic catch + Docker install fixes (#861)
  docker/widget-server.Dockerfile
  src/workers/continuum-core/src/memory/embedding.rs
  src/workers/continuum-core/src/modules/embedding.rs
Labels: none

fix: three install blockers — config.env mount, setup.sh pipe hang, TS_AUTHKEY parse error
  docker-compose.yml
  install.sh
  setup.sh
Labels: none

fix: three install blockers — config.env mount, setup.sh pipe hang, TS_AUTHKEY parse error (#862)
  docker-compose.yml
  install.sh
  setup.sh
Labels: none

fix(seed): always create at least Helper AI persona even with 0 GPU/API keys
  src/scripts/seed/personas.ts
Labels: none

fix: install blockers — config.env mount, TS_AUTHKEY, 0 personas (#863)
  src/scripts/seed/personas.ts
Labels: none

fix(ws): persistent reconnect on initial connection failure
  src/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
Labels: none

fix: set execute permission on all scripts in git
  bin/continuum
  bootstrap.sh
  install.sh
  setup.sh
  src/jtag
Labels: none

fix: set execute permission on all scripts in git
  bin/continuum
  bootstrap.sh
  install.sh
  setup.sh
  src/jtag
Labels: none

fix(ws): persistent reconnect on initial connection failure
  src/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
