Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Fix: Candle always configured (no API key needed), auto-create persona SQLite dirs
  src/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
  src/workers/continuum-core/src/orm/sqlite.rs
Labels: none

Adaptive self-installing system: Rust PersonaAllocator + runtime key management
  src/commands/ai/key/remove/.npmignore
  src/commands/ai/key/remove/README.md
  src/commands/ai/key/remove/browser/AiKeyRemoveBrowserCommand.ts
  src/commands/ai/key/remove/package.json
  src/commands/ai/key/remove/server/AiKeyRemoveServerCommand.ts
  src/commands/ai/key/remove/shared/AiKeyRemoveTypes.ts
  src/commands/ai/key/remove/test/integration/AiKeyRemoveIntegration.test.ts
  src/commands/ai/key/remove/test/unit/AiKeyRemoveCommand.test.ts
  src/commands/ai/key/save/.npmignore
  src/commands/ai/key/save/README.md
  src/commands/ai/key/save/browser/AiKeySaveBrowserCommand.ts
  src/commands/ai/key/save/package.json
  src/commands/ai/key/save/server/AiKeySaveServerCommand.ts
  src/commands/ai/key/save/shared/AiKeySaveTypes.ts
  src/commands/ai/key/save/test/integration/AiKeySaveIntegration.test.ts
  src/commands/ai/key/save/test/unit/AiKeySaveCommand.test.ts
  src/daemons/user-daemon/server/UserDaemonServer.ts
  src/generator/specs/ai-key-remove.json
  src/generator/specs/ai-key-save.json
  src/scripts/install.sh
  src/scripts/seed-continuum.ts
  src/scripts/seed/personas.ts
  src/system/user/server/PersonaLifecycleManager.ts
  src/widgets/settings/SettingsWidget.ts
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/modules/mod.rs
  src/workers/continuum-core/src/modules/persona_allocator.rs
  src/workers/continuum-core/src/persona/allocator.rs
  src/workers/continuum-core/src/persona/catalog.json
  src/workers/continuum-core/src/persona/mod.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: documentation, tests, dependencies

Add persona/allocate TS command (generated) — proxies to Rust IPC
  src/commands/persona/allocate/.npmignore
  src/commands/persona/allocate/README.md
  src/commands/persona/allocate/browser/PersonaAllocateBrowserCommand.ts
  src/commands/persona/allocate/package.json
  src/commands/persona/allocate/server/PersonaAllocateServerCommand.ts
  src/commands/persona/allocate/shared/PersonaAllocateTypes.ts
  src/commands/persona/allocate/test/integration/PersonaAllocateIntegration.test.ts
  src/commands/persona/allocate/test/unit/PersonaAllocateCommand.test.ts
  src/generator/specs/persona-allocate.json
Labels: documentation, tests, dependencies

uninstall.sh: add database drop step (4b)
  src/scripts/uninstall.sh
Labels: none

3D immersive: tiered model allocation, GPU video pipeline, clean URLs
  src/scripts/parallel-start.sh
  src/widgets/chat/chat-widget/ChatWidget.ts
  src/widgets/main/MainWidget.ts
  src/widgets/user-profile/UserProfileWidget.ts
  src/workers/continuum-core/src/gpu/memory_manager.rs
  src/workers/continuum-core/src/live/avatar/frame_publisher.rs
  src/workers/continuum-core/src/live/avatar/publishers/mod.rs
  src/workers/continuum-core/src/live/avatar/publishers/wgpu_i420.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/app.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/readback.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/setup.rs
  src/workers/continuum-core/src/live/video/mod.rs
  src/workers/continuum-core/src/live/video/wgpu_gpu_convert.rs
  src/workers/continuum-core/src/persona/allocator.rs
  src/workers/continuum-core/src/persona/catalog.json
Labels: none

Fix VRAM thresholds: RTX 5090 reports 31.84GB, not 32.0
  src/workers/continuum-core/src/persona/allocator.rs
  src/workers/continuum-core/src/persona/catalog.json
Labels: none

Reorder catalog: biggest model first so 5090 gets coder-32b + 8B + 3B
  src/workers/continuum-core/src/persona/allocator.rs
  src/workers/continuum-core/src/persona/catalog.json
Labels: none

install.sh: add ONNX Runtime for Linux (Silero VAD dependency)
  src/scripts/install.sh
Labels: none

install.sh: ONNX Runtime to ~/.continuum/lib/ (no sudo needed)
  src/scripts/install.sh
  src/scripts/parallel-start.sh
Labels: none

install.sh: ONNX Runtime 1.23.0 (ort 2.0.0-rc.11 requires >= 1.23.x)
  src/scripts/install.sh
Labels: none

Candle always registered — zero API keys required
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

Fix live mode: resolve uniqueId→UUID, match tabs by uniqueId
  src/widgets/live/LiveWidget.ts
  src/widgets/main/MainWidget.ts
Labels: none

parallel-start.sh: download avatar models automatically (required for live mode)
  src/scripts/parallel-start.sh
Labels: none

wgpu_gpu_convert: add COPY_DST to plane buffers (required for clear_buffer)
  src/workers/continuum-core/src/live/video/wgpu_gpu_convert.rs
Labels: none

Bevy: load .vrm directly when .glb converter output doesn't exist
  src/workers/continuum-core/src/live/video/bevy_renderer/commands.rs
Labels: none

Bevy: symlink .vrm→.glb for glTF loader (VRM is glTF-compatible)
  src/workers/continuum-core/src/live/video/bevy_renderer/commands.rs
Labels: none

Live mode: Vulkan drivers, robust VRoid downloads, AI persona auto-join
  src/commands/collaboration/live/join/server/LiveJoinServerCommand.ts
  src/scripts/download-avatar-models.sh
  src/scripts/install.sh
Labels: none

Zero-sudo Vulkan + zip: user-space NVIDIA ICD, python3 zipfile extraction
  src/scripts/download-avatar-models.sh
  src/scripts/install.sh
  src/workers/start-workers.sh
Labels: none

Vulkan ICD: point to libnvwgf2umx.so (actual WSL2 NVIDIA Vulkan driver)
  src/workers/start-workers.sh
Labels: none

Vulkan: install libnvidia-gl matching compute driver version, warn if missing
  src/scripts/install.sh
  src/workers/start-workers.sh
Labels: none

npm start auto-checks system deps: tiered sudo, deps-only fast path
  src/scripts/install.sh
  src/scripts/parallel-start.sh
Labels: none

Fix sudo detection: check stdin is terminal, not just /dev/tty exists
  src/scripts/install.sh
Labels: none

Root package.json: npm start/stop/install delegate to src/
  package.json
Labels: dependencies

npm start: open browser automatically, wait for it to connect
  src/scripts/parallel-start.sh
Labels: none

Fix HAS_BROWSER grep -c newline bug, use grep -q consistently
  src/scripts/parallel-start.sh
Labels: none

Fix .vrm→.glb symlinks (use filename not full path), clean stale Vulkan ICD
  src/workers/continuum-core/src/live/video/bevy_renderer/commands.rs
  src/workers/start-workers.sh
Labels: none

LiveKit: force TCP mode on WSL2 (UDP can't traverse WSL2→Windows boundary)
  src/workers/start-workers.sh
Labels: none

LiveKit: use --rtc.force_tcp flag (not YAML config, which conflicts with --dev)
  src/workers/start-workers.sh
Labels: none

LiveKit: rewrite 127.0.0.1 to browser hostname for WSL2 WebSocket compat
  src/widgets/live/LiveWidget.ts
Labels: none

Debug: add error logging to MainWidget route initialization
  src/widgets/main/MainWidget.ts
Labels: none

MainWidget: wait for JTAG client before resolving routes
  src/widgets/main/MainWidget.ts
Labels: none

Remove debug logging, keep waitForClient fix
  src/widgets/main/MainWidget.ts
Labels: none

MainWidget: catch RoutingService.resolve failure on page reload
  src/widgets/main/MainWidget.ts
Labels: none

Fix duplicate AI auto-join: track joined calls, skip if already joined
  src/commands/collaboration/live/join/server/LiveJoinServerCommand.ts
Labels: none

Remove 2D 100Avatars models — flat/ugly next to 3D VRoid models
  src/scripts/download-avatar-models.sh
Labels: none

LiveWidget: fix silent join failure when RoutingService.resolveRoom returns null
  src/widgets/live/LiveWidget.ts
Labels: none

LiveWidget: add server-visible diagnostics for browser join
  src/widgets/live/LiveWidget.ts
Labels: none

LiveWidget: use chat/send for browser diagnostics (visible server-side)
  src/widgets/live/LiveWidget.ts
Labels: none

LiveKit WSL2: use LAN IP for node-ip, bind 0.0.0.0
  src/workers/start-workers.sh
Labels: none

LiveKit WSL2: remove force_tcp — mirrored networking supports UDP
  src/workers/start-workers.sh
Labels: none
