Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Fix LLM tool parameter guessing: rich descriptions + auto-correction
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

Tool infrastructure: descriptions, CDATA/entity normalization, prioritization, meta-tool exclusion
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

Fix tool execution loop: message accumulation, stale toolCalls, lean summaries, permissions, ToolNameCodec
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/PersonaToolRegistry.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: none

Canonical agent loop, handle-based execution, dynamic tool summaries
  src/debug/jtag/commands/collaboration/chat/export/server/ChatExportServerCommand.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/anthropic/shared/AnthropicAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderTypesV2.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/MediaContentFormatter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/server/ServerCommands.ts
  src/debug/jtag/system/core/shared/Commands.ts
  src/debug/jtag/system/core/system/server/JTAGSystemServer.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

Fix context window misconfiguration, enhance coding methodology, consolidate browser detection
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/launch-and-capture.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/orchestration/SystemOrchestrator.ts
  src/debug/jtag/system/rag/sources/CodeToolSource.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
Labels: dependencies

tool improvements, model speedups
  src/debug/jtag/daemons/ai-provider-daemon/adapters/groq/shared/GroqAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/together/shared/TogetherBaseConfig.ts
  src/debug/jtag/daemons/ai-provider-daemon/server/AIProviderDaemonServer.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/shared/ModelContextWindows.ts
  src/debug/jtag/system/shared/ModelRegistry.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
Labels: dependencies

Logging performance: batched flush, async timing, per-component levels, spam rate-limiting
  src/debug/jtag/shared/ipc/WorkerClient.ts
  src/debug/jtag/system/core/logging/ComponentLogger.ts
  src/debug/jtag/system/core/logging/LogLevelRegistry.ts
  src/debug/jtag/system/core/logging/Logger.ts
  src/debug/jtag/system/core/shared/TimingHarness.ts
  src/debug/jtag/workers/logger/src/file_manager.rs
  src/debug/jtag/workers/logger/src/main.rs
  src/debug/jtag/workers/logger/src/rate_limiter.rs
Labels: none

Logging defaults: WARN level, mute noisy components, fix busy-spin and timing opt-in
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/ensure-config.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/Logger.ts
  src/debug/jtag/system/core/logging/LoggerTypes.ts
  src/debug/jtag/system/core/shared/TimingHarness.ts
  src/debug/jtag/workers/logger/src/main.rs
Labels: dependencies

Fix browser detection: retry ping 3x before opening new tab
  src/debug/jtag/scripts/launch-and-capture.ts
Labels: none

Logging cleanup: quiet defaults, per-persona status, CandleGrpc fix
  src/debug/jtag/commands/logs/config/server/LogsConfigServerCommand.ts
  src/debug/jtag/commands/logs/config/shared/LogsConfigTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/candle-grpc/shared/CandleGrpcAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/LoggingConfig.ts
Labels: dependencies

log optimization
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
  src/debug/jtag/system/voice/server/AIAudioBridge.ts
  src/debug/jtag/system/voice/server/VoiceOrchestrator.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
Labels: dependencies

Reduce logging noise: session debug dump, DB verbosity, IPC static rate-limit
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/shared/workers/PersonaWorkerThread.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
Labels: dependencies

Performance: RAG caching, single-flight coalescing, negative cache, fire-and-forget IPC
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/GlobalAwarenessSource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/SemanticMemorySource.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/InboxObserver.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/consciousness/UnifiedConsciousness.ts
Labels: none

new coding theology
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/migrate-sandbox-to-git.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/code/server/ProjectDetector.ts
  src/debug/jtag/system/code/server/Workspace.ts
  src/debug/jtag/system/code/server/WorkspaceStrategy.ts
  src/debug/jtag/system/code/shared/CodingTypes.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/sources/ProjectContextSource.ts
  src/debug/jtag/system/rag/sources/index.ts
  src/debug/jtag/system/recipes/coding.json
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

bug
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolDefinitions.ts
Labels: dependencies

Add task-manager challenge: 3 bugs for AI team to find and fix
  src/debug/jtag/challenges/task-manager/task-manager.test.ts
  src/debug/jtag/challenges/task-manager/task-manager.ts
Labels: tests

Tool capability gating + directed message filter: stop dumb AIs from clogging chat
  src/debug/jtag/commands/user/create/shared/UserCreateTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
Labels: dependencies

Pipeline timing instrumentation: exposes data layer as bottleneck
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

Data layer Phase 0: fix double event emission, fire-and-forget cognition writes
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/cognition/CognitionLogger.ts
  src/debug/jtag/system/user/server/modules/cognition/DecisionAdapterChain.ts
Labels: none

Non-blocking event emission: fire-and-forget all Events.emit() calls
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

Inline semantic loop check, fire-and-forget RAG context update
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

In-memory message cache, direct DB writes, voice-first routing
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

RAG + IPC performance: concurrent rayon dispatch, TS caching, localStorage eviction
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/specs/challenge-list.json
  src/debug/jtag/generator/specs/challenge-run.json
  src/debug/jtag/generator/specs/code-task.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/browser/AsyncStorage.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
Labels: dependencies

sentinel architecture plan
  src/debug/jtag/docs/SENTINEL-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

workspace/list command, RAG project context fallback, sentinel auto-injection
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/code/verify/server/CodeVerifyServerCommand.ts
  src/debug/jtag/commands/workspace/git/push/server/GitPushServerCommand.ts
  src/debug/jtag/commands/workspace/git/shared/resolveWorkspacePath.ts
  src/debug/jtag/commands/workspace/git/status/server/GitStatusServerCommand.ts
  src/debug/jtag/commands/workspace/git/workspace/clean/server/GitWorkspaceCleanServerCommand.ts
  src/debug/jtag/commands/workspace/git/workspace/init/server/GitWorkspaceInitServerCommand.ts
  src/debug/jtag/commands/workspace/list/.npmignore
  src/debug/jtag/commands/workspace/list/README.md
  src/debug/jtag/commands/workspace/list/browser/WorkspaceListBrowserCommand.ts
  src/debug/jtag/commands/workspace/list/package.json
  src/debug/jtag/commands/workspace/list/server/WorkspaceListServerCommand.ts
  src/debug/jtag/commands/workspace/list/shared/WorkspaceListTypes.ts
  src/debug/jtag/commands/workspace/list/test/integration/WorkspaceListIntegration.test.ts
  src/debug/jtag/commands/workspace/list/test/unit/WorkspaceListCommand.test.ts
  src/debug/jtag/daemons/ai-provider-daemon/adapters/groq/shared/GroqAdapter.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AICapabilityRegistry.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/adapters/BaseOpenAICompatibleAdapter.ts
  src/debug/jtag/daemons/artifacts-daemon/shared/ArtifactsDaemon.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/specs/workspace-list.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/generated-command-constants.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/code/server/SentinelAutoConfig.ts
  src/debug/jtag/system/code/server/Workspace.ts
  src/debug/jtag/system/code/server/WorkspaceStrategy.ts
  src/debug/jtag/system/rag/sources/ProjectContextSource.ts
  src/debug/jtag/system/user/directory/server/UserDirectoryManager.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/ToolFormatAdapter.ts
  src/debug/jtag/tests/integration/persona-user-storage.test.ts
Labels: documentation, tests, dependencies

Rust ORM Phase 1: route observability collections through Rust data-daemon worker
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/data-daemon/server/DatabaseHandleRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/DefaultStorageAdapterFactory.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/data-daemon/src/main.rs
Labels: dependencies

cache all entities - joel
  src/debug/jtag/daemons/data-daemon/browser/IndexedDBBackend.ts
  src/debug/jtag/daemons/data-daemon/browser/OfflineStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/shared/Constants.ts
  src/debug/jtag/widgets/user-profile/UserProfileWidget.ts
Labels: dependencies

git names were messed up
  src/debug/jtag/scripts/migrate-sandbox-to-git.ts
  src/debug/jtag/system/code/server/WorkspaceStrategy.ts
Labels: none

Fix modular runtime: response structure + block_on panic
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/modules/channel.rs
  src/debug/jtag/workers/continuum-core/src/modules/code.rs
  src/debug/jtag/workers/continuum-core/src/modules/cognition.rs
  src/debug/jtag/workers/continuum-core/src/modules/health.rs
  src/debug/jtag/workers/continuum-core/src/modules/memory.rs
  src/debug/jtag/workers/continuum-core/src/modules/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/models.rs
  src/debug/jtag/workers/continuum-core/src/modules/voice.rs
  src/debug/jtag/workers/continuum-core/src/runtime/message_bus.rs
  src/debug/jtag/workers/continuum-core/src/runtime/mod.rs
  src/debug/jtag/workers/continuum-core/src/runtime/module_context.rs
  src/debug/jtag/workers/continuum-core/src/runtime/registry.rs
  src/debug/jtag/workers/continuum-core/src/runtime/runtime.rs
  src/debug/jtag/workers/continuum-core/src/runtime/service_module.rs
  src/debug/jtag/workers/continuum-core/src/runtime/shared_compute.rs
Labels: none

Fix hardcoded values: dynamic tools, logs, health status
  src/debug/jtag/commands/ai/status/server/AIStatusServerCommand.ts
  src/debug/jtag/commands/ai/status/shared/AIStatusTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/diagnostics/DiagnosticsWidget.ts
  src/debug/jtag/widgets/persona-brain/PersonaBrainWidget.ts
Labels: dependencies

RagModule: OOP discriminated unions, parallel Rayon loading, zero `any` types
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/mod.rs
  src/debug/jtag/workers/continuum-core/src/modules/rag.rs
Labels: dependencies

batching support for rag
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/shared/RAGComposer.ts
  src/debug/jtag/system/rag/shared/RAGSource.ts
  src/debug/jtag/system/rag/sources/GlobalAwarenessSource.ts
  src/debug/jtag/system/rag/sources/SemanticMemorySource.ts
  src/debug/jtag/workers/continuum-core/bindings/RustCoreIPC.ts
Labels: dependencies

Rust ORM module: database-agnostic storage with dbPath per-request
  src/debug/jtag/workers/continuum-core/Cargo.toml
  src/debug/jtag/workers/continuum-core/src/ipc/mod.rs
  src/debug/jtag/workers/continuum-core/src/lib.rs
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/modules/mod.rs
  src/debug/jtag/workers/continuum-core/src/orm/adapter.rs
  src/debug/jtag/workers/continuum-core/src/orm/mod.rs
  src/debug/jtag/workers/continuum-core/src/orm/query.rs
  src/debug/jtag/workers/continuum-core/src/orm/sqlite.rs
  src/debug/jtag/workers/continuum-core/src/orm/types.rs
  src/debug/jtag/workers/continuum-core/src/runtime/service_module.rs
Labels: none

No fallbacks: require explicit dbPath in all storage adapters
  src/debug/jtag/daemons/data-daemon/server/RustStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteVectorSearchManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/services/RustVectorSearchClient.ts
Labels: dependencies

Improve data/open schema: add ADVANCED warning and valid adapter types
  src/debug/jtag/commands/data/open/shared/DataOpenTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

fixed some data issues
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/list/shared/DataListTypes.ts
  src/debug/jtag/commands/data/open/server/DataOpenServerCommand.ts
  src/debug/jtag/commands/data/read/shared/DataReadTypes.ts
  src/debug/jtag/commands/data/shared/BaseDataTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
Labels: dependencies

Phase 3: Migrate persona core files to ORM
  src/debug/jtag/system/user/server/CallerDetector.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaTaskExecutor.ts
Labels: none

Phase 3: Migrate remaining system files to ORM
  src/debug/jtag/system/core/services/EmbeddingService.ts
  src/debug/jtag/system/genome/fine-tuning/server/TrainingDatasetBuilder.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/builders/CodebaseRAGBuilder.ts
  src/debug/jtag/system/rag/sources/ConversationHistorySource.ts
  src/debug/jtag/system/rag/sources/PersonaIdentitySource.ts
  src/debug/jtag/system/rag/sources/SocialMediaRAGSource.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/SelfTaskGenerator.ts
  src/debug/jtag/system/user/server/modules/TrainingBuffer.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PersonaMemory.ts
  src/debug/jtag/system/user/shared/AgentUser.ts
  src/debug/jtag/system/user/shared/BaseUser.ts
  src/debug/jtag/system/user/shared/HumanUser.ts
  src/debug/jtag/system/user/shared/UserIdentityResolver.ts
  src/debug/jtag/system/user/storage/server/SQLiteStateBackend.ts
Labels: none

Phase 4 Rust ORM: Add ORMRustClient IPC bridge, clean architecture
  src/debug/jtag/daemons/data-daemon/server/ORMRustClient.ts
  src/debug/jtag/daemons/data-daemon/shared/ORMConfig.ts
Labels: none

more completel got queryWithJoin
  src/debug/jtag/daemons/data-daemon/server/ORMRustClient.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/ORM.ts
  src/debug/jtag/docs/RUST-ORM-ARCHITECTURE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/high-level integration strategy
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/shared/version.ts
  src/debug/jtag/workers/continuum-core/src/modules/data.rs
  src/debug/jtag/workers/continuum-core/src/orm/adapter.rs
  src/debug/jtag/workers/continuum-core/src/orm/query.rs
  src/debug/jtag/workers/continuum-core/src/orm/sqlite.rs
Labels: documentation, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
