Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs(positron): address source-auth review — scope framing + handle test + tripwire
  core/continuum-positron/src/connection.rs
Labels: none

feat(positron): authenticate CommandEnvelope.source against session state (#1742)
  core/continuum-positron/src/connection.rs
Labels: none

observability(#84): glass-box probe at the persona-turn → chat:posted seam
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

fix(#84): project human chat/send turns into positron (Case A completeness)
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(#84): remove now-dead serde_json::Value import (review nit)
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(#84): positron carries human chat turns (Case A completeness) + glass-box probe (#1743)
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

feat(positron): migrate ViewState bindings onto the canonical protocol/typescript tree
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/kanban.rs
  core/continuum-positron/src/wall.rs
  protocol/typescript/positron/ChatMessageView.ts
  protocol/typescript/positron/ChatViewState.ts
  protocol/typescript/positron/KanbanCardState.ts
  protocol/typescript/positron/KanbanCardView.ts
  protocol/typescript/positron/KanbanLaneState.ts
  protocol/typescript/positron/KanbanLaneView.ts
  protocol/typescript/positron/KanbanPriority.ts
  protocol/typescript/positron/KanbanPullRequest.ts
  protocol/typescript/positron/KanbanViewState.ts
  protocol/typescript/positron/Provenance.ts
  protocol/typescript/positron/RosterSlotView.ts
  protocol/typescript/positron/SenderKind.ts
  protocol/typescript/positron/WallPostView.ts
  protocol/typescript/positron/WallViewState.ts
  protocol/typescript/positron/index.ts
Labels: none

feat(sdk): StateConnection — the state-subscription client (#29 slice 3)
  sdk/typescript/StateConnection.spec.ts
  sdk/typescript/StateConnection.ts
  sdk/typescript/generated/positron/ClientMessage.ts
  sdk/typescript/generated/positron/CommandEnvelope.ts
  sdk/typescript/generated/positron/CommandSource.ts
  sdk/typescript/generated/positron/KindRevision.ts
  sdk/typescript/generated/positron/ObserverSpec.ts
  sdk/typescript/generated/positron/ServerMessage.ts
  sdk/typescript/generated/positron/StateEnvelope.ts
  sdk/typescript/generated/positron/StateLayer.ts
  sdk/typescript/generated/positron/index.ts
  sdk/typescript/index.ts
Labels: tests

feat(web): three-panel chat widget on the positron read surface (#29 slice 4)
  apps/web/.env.example
  apps/web/README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/src/chat/ChatState.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/chatViewModel.spec.ts
  apps/web/src/chat/chatViewModel.ts
  apps/web/src/chat/renderChat.ts
  apps/web/src/config.ts
  apps/web/src/index.ts
  apps/web/tsconfig.json
  package-lock.json
  sdk/typescript/Events.ts
  sdk/typescript/generated/views/ChatMessageView.ts
  sdk/typescript/generated/views/ChatViewState.ts
  sdk/typescript/generated/views/Provenance.ts
  sdk/typescript/generated/views/RosterSlotView.ts
  sdk/typescript/generated/views/SenderKind.ts
  sdk/typescript/generated/views/index.ts
  sdk/typescript/index.ts
Labels: documentation, tests, dependencies

fix(web): fail loud on unedited .env identity + in-band send failure (#29 review)
  apps/web/.env.example
  apps/web/src/index.ts
Labels: none

feat(client): apps/tui outlier B + shared @continuum/chat-view + clippy-grade lint gate
  apps/tui/.env.example
  apps/tui/README.md
  apps/tui/package.json
  apps/tui/src/config.spec.ts
  apps/tui/src/config.ts
  apps/tui/src/index.ts
  apps/tui/src/renderChat.spec.ts
  apps/tui/src/renderChat.ts
  apps/tui/tsconfig.json
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  apps/web/src/config.ts
  apps/web/src/index.ts
  apps/web/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/chat-view/ChatState.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/index.ts
  packages/chat-view/package.json
  packages/chat-view/tsconfig.json
Labels: documentation, tests, dependencies

feat(client): apps/tui outlier B + shared @continuum/chat-view + clippy-grade lint gate (#1745)
  apps/tui/.env.example
  apps/tui/README.md
  apps/tui/package.json
  apps/tui/src/config.spec.ts
  apps/tui/src/config.ts
  apps/tui/src/index.ts
  apps/tui/src/renderChat.spec.ts
  apps/tui/src/renderChat.ts
  apps/tui/tsconfig.json
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  apps/web/src/config.ts
  apps/web/src/index.ts
  apps/web/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/chat-view/ChatState.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/index.ts
  packages/chat-view/package.json
  packages/chat-view/tsconfig.json
Labels: documentation, tests, dependencies

feat(sdk): fold sdk/typescript into the clippy-grade clients gate + fix ts-rs u64/i64→bigint drift
  core/continuum-core/src/contracts/event_classes.rs
  eslint.config.mjs
  package.json
  protocol/typescript/contracts/ContractBidPayload.ts
  protocol/typescript/contracts/ContractExecutingPayload.ts
  protocol/typescript/contracts/ContractPaidPayload.ts
  protocol/typescript/contracts/ContractProposedPayload.ts
  sdk/typescript/Continuum.ts
  sdk/typescript/Events.ts
  sdk/typescript/Handle.ts
  sdk/typescript/StateConnection.spec.ts
  sdk/typescript/StateConnection.ts
  sdk/typescript/WebSocketTransport.spec.ts
  sdk/typescript/WebSocketTransport.ts
  sdk/typescript/conformance.spec.ts
  sdk/typescript/generated/wire/contracts/ContractBidPayload.ts
  sdk/typescript/generated/wire/contracts/ContractExecutingPayload.ts
  sdk/typescript/generated/wire/contracts/ContractPaidPayload.ts
  sdk/typescript/generated/wire/contracts/ContractProposedPayload.ts
  sdk/typescript/transport.ts
Labels: tests, dependencies

feat(sdk): fold sdk/typescript into the clippy-grade clients gate + fix ts-rs u64/i64→bigint drift (#1746)
  core/continuum-core/src/contracts/event_classes.rs
  eslint.config.mjs
  package.json
  protocol/typescript/contracts/ContractBidPayload.ts
  protocol/typescript/contracts/ContractExecutingPayload.ts
  protocol/typescript/contracts/ContractPaidPayload.ts
  protocol/typescript/contracts/ContractProposedPayload.ts
  sdk/typescript/Continuum.ts
  sdk/typescript/Events.ts
  sdk/typescript/Handle.ts
  sdk/typescript/StateConnection.spec.ts
  sdk/typescript/StateConnection.ts
  sdk/typescript/WebSocketTransport.spec.ts
  sdk/typescript/WebSocketTransport.ts
  sdk/typescript/conformance.spec.ts
  sdk/typescript/generated/wire/contracts/ContractBidPayload.ts
  sdk/typescript/generated/wire/contracts/ContractExecutingPayload.ts
  sdk/typescript/generated/wire/contracts/ContractPaidPayload.ts
  sdk/typescript/generated/wire/contracts/ContractProposedPayload.ts
  sdk/typescript/transport.ts
Labels: tests, dependencies

test(clients): cross-consumer proof — web + terminal off one chat seam
  apps/web/package.json
  apps/web/src/chat/renderChat.spec.ts
  packages/chat-view/crossConsumer.spec.ts
Labels: tests, dependencies

test(clients): cross-consumer proof — web + terminal off one chat seam (#1747)
  apps/web/package.json
  apps/web/src/chat/renderChat.spec.ts
  packages/chat-view/crossConsumer.spec.ts
Labels: tests, dependencies

feat(positron): converge roster projection — one neutral RoomMember→RosterSlotView both rails read (#8/#13)
  apps/web/src/chat/renderChat.spec.ts
  core/continuum-core/src/ipc/positron_kanban_source.rs
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/positron_wall_source.rs
  core/continuum-core/src/persona/room_roster_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/crossConsumer.spec.ts
  protocol/typescript/positron/RosterSlotView.ts
  sdk/typescript/generated/views/RosterSlotView.ts
Labels: tests

test(persona): deterministic seam proof — present member → [Present in this room] via one projection
  core/continuum-core/src/persona/prompt_assembly.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(persona): restore live — persona heartbeats for roster presence + drop generation-lane --embeddings
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/persona/airc_runtime.rs
Labels: none

fix(boot): gate persona hosting on DECODE-verified serving readiness, not just fits_on_gpu
  core/continuum-core/src/ipc/mod.rs
Labels: none

feat(positron): converge roster projection — one neutral RoomMember→RosterSlotView both rails read (#8/#13) (#1748)
  apps/web/src/chat/renderChat.spec.ts
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_kanban_source.rs
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/positron_wall_source.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/prompt_assembly.rs
  core/continuum-core/src/persona/room_roster_source.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/crossConsumer.spec.ts
  protocol/typescript/positron/RosterSlotView.ts
  sdk/typescript/generated/views/RosterSlotView.ts
Labels: tests

feat(tui): make the terminal client actually runnable — tsx loader + live-frame smoke
  apps/tui/package.json
  apps/tui/src/liveFrame.ts
  package-lock.json
Labels: dependencies

feat(tui): make the terminal client actually runnable — tsx loader + live-frame smoke (#1749)
  apps/tui/package.json
  apps/tui/src/liveFrame.ts
  package-lock.json
Labels: dependencies

feat(ws): thin-client WS ingress ON by default on localhost — zero-setup clients
  core/continuum-core/src/ipc/mod.rs
Labels: none

feat(ws): thin-client WS ingress ON by default on localhost — zero-setup clients (#1750)
  core/continuum-core/src/ipc/mod.rs
Labels: none

feat(capture): cu screenshot any interface from a CLI call — operator scope + render wait
  core/continuum-core/src/commands/interface/capture/mod.rs
  core/continuum-core/src/commands/interface/capture/web.rs
Labels: none

feat(capture): cu screenshot any interface from a CLI call — operator scope + render wait (#1751)
  core/continuum-core/src/commands/interface/capture/mod.rs
  core/continuum-core/src/commands/interface/capture/web.rs
Labels: none

feat(desktop): `cu desktop` — open the UI in the natural browser, single-instance
  core/continuum-core/src/commands/desktop.rs
  core/continuum-core/src/commands/mod.rs
  protocol/typescript/desktop/DesktopParams.ts
  protocol/typescript/desktop/DesktopResult.ts
Labels: none

feat(desktop): cu desktop — open the UI in the natural browser, single-instance (#1752)
  core/continuum-core/src/commands/desktop.rs
  core/continuum-core/src/commands/mod.rs
  protocol/typescript/desktop/DesktopParams.ts
  protocol/typescript/desktop/DesktopResult.ts
Labels: none

fix(web): render the live room — Lit reactive props were dead under useDefineForClassFields
  apps/web/src/index.ts
  apps/web/tsconfig.json
Labels: none

fix(web): render the live room — Lit reactive props dead under useDefineForClassFields (#1753)
  apps/web/src/index.ts
  apps/web/tsconfig.json
Labels: none

feat(web): restore the signature look-and-feel via shared design tokens
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/theme.css
Labels: none

feat(web): restore signature look-and-feel via shared design tokens (#1754)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/theme.css
Labels: none

docs(architecture): activity=room=content=tab + consumer-neutral pattern primitives
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  docs/architecture/ACTIVITY-ROOM-PATTERNS.md
Labels: documentation

docs(architecture): activity=room=content=tab + consumer-neutral pattern primitives (#1755)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  docs/architecture/ACTIVITY-ROOM-PATTERNS.md
Labels: documentation

feat(patterns): @continuum/patterns — the consumer-neutral widget pattern contract
  package-lock.json
  package.json
  packages/chat-view/index.ts
  packages/chat-view/package.json
  packages/chat-view/patternProjections.ts
  packages/patterns/index.ts
  packages/patterns/package.json
  packages/patterns/patterns.spec.ts
  packages/patterns/tsconfig.json
Labels: tests, dependencies

feat(patterns): @continuum/patterns — the consumer-neutral widget pattern contract (#1756)
  package-lock.json
  package.json
  packages/chat-view/index.ts
  packages/chat-view/package.json
  packages/chat-view/patternProjections.ts
  packages/patterns/index.ts
  packages/patterns/package.json
  packages/patterns/patterns.spec.ts
  packages/patterns/tsconfig.json
Labels: tests, dependencies

feat(positron): brick 1 — room purpose as data (the Content dispatch key)
  apps/web/src/chat/renderChat.spec.ts
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  protocol/typescript/positron/ChatViewState.ts
  sdk/typescript/generated/views/ChatViewState.ts
Labels: tests

feat(positron): brick 1 — room purpose as data (the Content dispatch key) (#1757)
  apps/web/src/chat/renderChat.spec.ts
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  protocol/typescript/positron/ChatViewState.ts
  sdk/typescript/generated/views/ChatViewState.ts
Labels: tests

feat(patterns): chat room composes into a Workspace (outlier-B groundwork)
  packages/chat-view/index.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
Labels: tests

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
