Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

build(windows): publish the receipted inference engine with core artifacts
  .github/workflows/core-binaries.yml
  core/llama/cpu_target.rs
  core/llama/cpu_target_cli.rs
  tools/scripts/lib/verify-engine-imports.cmake
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: workflow

feat(installer): prepare verified prebuilt releases through the shared consumer
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  install.ps1
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

fix(packaging): include CLI and engine application runtime closures
  .github/workflows/core-binaries.yml
  tools/scripts/lib/verify-engine-imports.cmake
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-runtime-closure.ps1
  tools/scripts/lib/windows-runtime-redistributables.txt
Labels: workflow

fix(installer): stage verified bootstrap runtime closure
  core/continuum-core/src/bin/continuum.rs
  docs/evidence/20261008-windows-prebuilt-install.md
  install.ps1
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): provision the existing LiveKit runtime prerequisite
  docs/evidence/20261008-livekit-installer-prerequisite.md
  install.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

test(installer): include artifact inputs in bootstrap drift fixture
  docs/evidence/20261008-windows-prebuilt-install.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(build): keep published llama CPU code independent of runner ISA (#4870)
  .github/workflows/continuum-rust-tests.yml
  .github/workflows/core-binaries.yml
  core/llama/build.rs
  core/llama/cpu_target.rs
  docs/planning/PREBUILT-CPU-PORTABILITY-20261008.md
Labels: documentation, workflow

fix(cognition): retain bound model rate across serving degradation
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  docs/evidence/20261009-intel-prefill-binding.md
Labels: documentation

fix(cognition): retain bound model rate across serving degradation (#4873)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  docs/evidence/20261009-intel-prefill-binding.md
Labels: documentation

fix(installer): own engine receipt paths in prepared module
  docs/evidence/20261008-windows-prebuilt-install.md
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): resolve TLS runtime from configured OpenSSL
  docs/evidence/20261008-windows-prebuilt-install.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-runtime-closure.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): bind transitive VC discovery to staged runtime
  docs/evidence/20261008-windows-prebuilt-install.md
  tools/scripts/lib/verify-engine-imports.cmake
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): consume published Windows core and engine artifacts (#4871)
  .github/workflows/core-binaries.yml
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  core/llama/cpu_target_cli.rs
  docs/evidence/20261008-windows-prebuilt-install.md
  install.ps1
  tools/scripts/lib/verify-engine-imports.cmake
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-runtime-closure.ps1
  tools/scripts/lib/windows-runtime-redistributables.txt
  tools/scripts/lib/windows-service.ps1
  tools/scripts/sync-windows-bootstrap.ps1
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation, workflow

fix(installer): provision the existing LiveKit runtime prerequisite (#4872)
  docs/evidence/20261008-livekit-installer-prerequisite.md
  install.ps1
  tools/scripts/lib/win-modules.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): keep prebuilt preparation stdout JSON-only
  .github/workflows/core-binaries.yml
  core/continuum-core/src/bin/continuum.rs
  docs/evidence/20261009-prebuilt-prepare-json.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation, workflow

test(installer): create preparation archive with portable tar paths
  docs/evidence/20261009-prebuilt-prepare-json.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(installer): keep prebuilt preparation stdout JSON-only (#4874)
  .github/workflows/core-binaries.yml
  core/continuum-core/src/bin/continuum.rs
  docs/evidence/20261009-prebuilt-prepare-json.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation, workflow

fix(installer): replace inactive engine application membership
  docs/evidence/20261009-inactive-engine-publication.md
  tools/scripts/lib/windows-engine-receipt.ps1
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(installer): replace inactive engine application membership (#4876)
  docs/evidence/20261009-inactive-engine-publication.md
  tools/scripts/lib/windows-engine-receipt.ps1
  tools/scripts/lib/windows-prebuilt.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(windows): launch canonical images with Win32 path spelling
  core/continuum-cli-lifecycle/src/windows_launch.rs
Labels: none

fix(install): complete protected prebuilt service handoff and recovery
  core/continuum-cli-lifecycle/src/installed_release.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/engine_install.rs
  core/continuum-core/src/inference/engine_slots.rs
  docs/evidence/20261009-installed-service-handoff.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-engine-receipt.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

docs: record installed handoff recovery validation
  docs/evidence/20261009-installed-service-handoff.md
Labels: documentation

fix(install): complete protected prebuilt Windows handoff and recovery (#4877)
  core/continuum-cli-lifecycle/src/installed_release.rs
  core/continuum-cli-lifecycle/src/windows_launch.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/inference/engine_install.rs
  core/continuum-core/src/inference/engine_slots.rs
  docs/evidence/20261009-installed-service-handoff.md
  tools/scripts/lib/win-modules.ps1
  tools/scripts/lib/windows-engine-receipt.ps1
  tools/scripts/lib/windows-prepared.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

test(install): exercise the actual published Windows supervisor boundary
  docs/evidence/20261009-published-supervisor-boundary.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

test(install): exercise the actual published Windows supervisor boundary (#4878)
  docs/evidence/20261009-published-supervisor-boundary.md
  tools/scripts/tests/windows-process.test.ps1
Labels: documentation

fix(install): reconcile idle legacy media through guarded graceful EOF
  docs/evidence/20261009-legacy-media-reconciliation.md
  install.ps1
  tools/scripts/ci-change-scope.cjs
  tools/scripts/lib/windows-media-reconciliation.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/ci-change-scope.test.cjs
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

fix(install): recheck resolved active receipt after media reconciliation
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: none

ci(core-binaries): publish the manifest LAST, after the archive it names is complete (#4855)
  .github/workflows/core-binaries.yml
Labels: workflow

fix(install): gracefully reconcile idle legacy media before preparation (#4879)
  docs/evidence/20261009-legacy-media-reconciliation.md
  install.ps1
  tools/scripts/ci-change-scope.cjs
  tools/scripts/lib/windows-media-reconciliation.ps1
  tools/scripts/lib/windows-service.ps1
  tools/scripts/tests/ci-change-scope.test.cjs
  tools/scripts/tests/windows-process.test.ps1
  tools/scripts/tests/windows-service.test.ps1
Labels: documentation

feat(grid): a seat's measured decode rate travels in its capacity beacon, and local and foreign rows read it by one definition (card 86fef3c3, part 1) (#4856)
  core/continuum-core/src/capacity/gossip.rs
  core/continuum-core/src/capacity/lease.rs
  core/continuum-core/src/cognition/grid_allocation.rs
  core/continuum-core/src/inference/decode_knee.rs
  core/continuum-core/src/modules/grid_allocator.rs
  core/continuum-core/src/modules/grid_capacity.rs
Labels: none

fix(workspace): the shared sync never autosaves onto or merges into a card branch (card 8fecb762)
  core/continuum-core/src/code/git_bridge.rs
  core/continuum-core/src/modules/card_staging.rs
Labels: none

code/github/pr-create: preflight checks the branch before shelling to gh (card 63855189)
  core/continuum-core/src/commands/code/github/mod.rs
  core/continuum-core/src/commands/code/github/pr_create.rs
Labels: none

feat(persona): a held card in [your work] names where its work lives (card 31a9fe2b, part 1)
  core/continuum-core/src/persona/room_board_source.rs
Labels: none

feat(persona): a held card in [your work] names where its work lives (card 31a9fe2b, part 1) (#4881)
  core/continuum-core/src/persona/room_board_source.rs
Labels: none

feat(code): a citizen's hands are confined to her workspace — sandboxed spawns on macOS (seatbelt) and Linux (landlock), file verbs refuse paths outside her roots by name (card d598c806)
  .gitignore
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/code/confinement.rs
  core/continuum-core/src/code/mod.rs
  core/continuum-core/src/code/path_security.rs
  core/continuum-core/src/code/shell_session.rs
  core/continuum-core/src/commands/code/cargo/check.rs
  core/continuum-core/src/commands/code/cargo/mod.rs
  core/continuum-core/src/commands/code/cargo/test.rs
  core/continuum-core/src/commands/code/run.rs
  core/continuum-core/src/commands/vision/look.rs
  core/continuum-core/src/commands/vision/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/modules/vision.rs
Labels: none

fix(code): the dot policy is an allowlist, credential carve-outs are the last word on every enforcer, and her card worktree under ~/.airc is hers (Cormac on #4882)
  core/continuum-core/src/code/confinement.rs
Labels: none

fix(code): .local is granted by its toolchain parts, never whole; ~/.local/share/keyrings is a carve-out (Cormac on #4882)
  core/continuum-core/src/code/confinement.rs
Labels: none

feat(serving): the measured prefill knee bounds the lanes a seat serves, beside the decode knee (card d4d2ef4a, e370a673 slice 2)
  core/continuum-core/src/cognition/serving_plan.rs
  core/continuum-core/src/inference/prefill_knee.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): a window that measures no prefill keeps the last prefill bound (card d4d2ef4a)
  core/continuum-core/src/inference/prefill_knee.rs
Labels: none

fix(learning): recover retained review boundaries after restart
  core/continuum-core/src/cognition/dream_consolidation.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/training_producer.rs
  core/continuum-core/src/persona/training_producer/reviewed.rs
  core/continuum-core/src/persona/training_producer/reviewed/boundaries.rs
  docs/evidence/20261009-retained-reviewed-credit.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
