Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(perception): hot-edit — 'hot css, no deployments' as a first-class citizen tool
  apps/eye-node/README.md
  apps/eye-node/src/eyeNode.ts
  apps/eye-node/src/hotEditAdapter.ts
  apps/eye-node/src/index.ts
  apps/eye-node/src/observeAdapter.ts
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/perception/hot_edit.rs
  core/continuum-core/src/perception/mod.rs
  packages/perception/domSurface.spec.ts
  packages/perception/domSurface.ts
  packages/perception/session.spec.ts
  packages/perception/session.ts
  protocol/typescript/perception/HotEditDelta.ts
  protocol/typescript/perception/HotEditParams.ts
  protocol/typescript/perception/HotEditResult.ts
Labels: documentation, tests

feat(academy): learn-mode exams feed the experience stream and she remembers her own rate — convergence seams 1 + 3a (#2401)
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/cognition/experience.rs
Labels: none

feat(perception): hot-edit — 'hot css, no deployments' as a first-class citizen tool (#2402)
  apps/eye-node/README.md
  apps/eye-node/src/eyeNode.ts
  apps/eye-node/src/hotEditAdapter.ts
  apps/eye-node/src/index.ts
  apps/eye-node/src/observeAdapter.ts
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/perception/hot_edit.rs
  core/continuum-core/src/perception/mod.rs
  packages/perception/domSurface.spec.ts
  packages/perception/domSurface.ts
  packages/perception/session.spec.ts
  packages/perception/session.ts
  protocol/typescript/perception/HotEditDelta.ts
  protocol/typescript/perception/HotEditParams.ts
  protocol/typescript/perception/HotEditResult.ts
Labels: documentation, tests

feat(serving): wedge patience scales with in-flight work — a kill is priced before it fires
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(serving): wedge patience scales with in-flight work — a kill is priced before it fires (#2403)
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

feat(positron): the LIVE exam rides the bench rail — the room watches the work itself
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/ipc/positron_bench_source.rs
Labels: none

feat(positron): the CANVAS FEED — event-driven, the desktop watches the work itself
  apps/web/src/index.ts
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_canvas_source.rs
  core/continuum-positron/src/canvas.rs
  core/continuum-positron/src/lib.rs
  packages/chat-view/canvasProjections.ts
  packages/chat-view/index.ts
  protocol/typescript/positron/CanvasCheckRow.ts
  protocol/typescript/positron/CanvasViewState.ts
  protocol/typescript/positron/CanvasViewport.ts
Labels: none

feat(positron): the LIVE exam rides the bench rail — the room watches the work itself (#2404)
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/ipc/positron_bench_source.rs
Labels: none

feat(positron): the CANVAS FEED — event-driven, the desktop watches the work itself (#2405)
  apps/web/src/index.ts
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_canvas_source.rs
  core/continuum-positron/src/canvas.rs
  core/continuum-positron/src/lib.rs
  packages/chat-view/canvasProjections.ts
  packages/chat-view/index.ts
  protocol/typescript/positron/CanvasCheckRow.ts
  protocol/typescript/positron/CanvasViewState.ts
  protocol/typescript/positron/CanvasViewport.ts
Labels: none

fix(media): pixel-path one-seam cures — first installment of the zero-copy audit
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_canvas_source.rs
  core/continuum-core/src/media/frame.rs
  packages/perception/domSurface.ts
Labels: none

perf(runtime): the serialization first-commit — BusEvent payload is one Arc, probes gate at line 1, positron stores share
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/cognition/dispatch_listener.rs
  core/continuum-core/src/ipc/positron_bench_source.rs
  core/continuum-core/src/ipc/positron_kanban_source.rs
  core/continuum-core/src/ipc/positron_nav_source.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/positron_wall_source.rs
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/nav.rs
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/persona/grounding_invalidation.rs
  core/continuum-core/src/routing/probe_file_sink.rs
  core/continuum-core/src/routing/probe_router.rs
  core/continuum-core/src/runtime/command_executor.rs
  core/continuum-core/src/runtime/message_bus.rs
  core/continuum-positron/src/substrate.rs
Labels: none

fix(media): pixel-path one-seam cures — first installment of the zero-copy audit (#2406)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_canvas_source.rs
  core/continuum-core/src/media/frame.rs
  packages/perception/domSurface.ts
Labels: none

perf(runtime): the serialization first-commit — BusEvent payload is one Arc, probes gate at line 1, positron stores share (#2407)
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/airc/realtime_wire.rs
  core/continuum-core/src/cognition/dispatch_listener.rs
  core/continuum-core/src/ipc/positron_bench_source.rs
  core/continuum-core/src/ipc/positron_kanban_source.rs
  core/continuum-core/src/ipc/positron_nav_source.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/positron_wall_source.rs
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/nav.rs
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/persona/grounding_invalidation.rs
  core/continuum-core/src/routing/probe_file_sink.rs
  core/continuum-core/src/routing/probe_router.rs
  core/continuum-core/src/runtime/command_executor.rs
  core/continuum-core/src/runtime/message_bus.rs
  core/continuum-positron/src/substrate.rs
Labels: none

fix(persona): the roster hold gates EVERY reconciler entrance — close the boot bypass that adopted 4 citizens through a valid hold
  core/continuum-core/src/persona/host.rs
Labels: none

perf(cognition,logging): two more serialization cures — tool-surface tokens memoized at rebuild, log macros gate before formatting
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/logging/mod.rs
  core/continuum-core/src/modules/logger.rs
Labels: none

fix(persona): the roster hold gates EVERY reconciler entrance — close the boot bypass that adopted 4 citizens through a valid hold (#2408)
  core/continuum-core/src/persona/host.rs
Labels: none

perf(cognition,logging): two more serialization cures — tool-surface tokens memoized at rebuild, log macros gate before formatting (#2409)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/logging/mod.rs
  core/continuum-core/src/modules/logger.rs
Labels: none

fix(cli): reboot STOPS EVERYTHING FIRST, then builds on a free machine
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(cognition): honest act budgets — default 8→32, budget-as-data per task, and she can finally SEE her own stopwatch
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/cognition/experience.rs
  core/continuum-core/src/commands/genome/curriculum.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  protocol/typescript/cognition/EvalTask.ts
Labels: none

fix(cli): reboot STOPS EVERYTHING FIRST, then builds on a free machine (#2410)
  core/continuum-core/src/bin/continuum.rs
Labels: none

guard(hygiene): boundary-serialization ratchet — every new serde/base64 site names the boundary it crosses, count never rises
  core/continuum-core/src/source_hygiene/boundary_serialization.rs
  core/continuum-core/src/source_hygiene/mod.rs
Labels: none

fix(positron): canvas feed publishes PRE-FOLD — the desktop no longer goes blind on big screenshots
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/tool_executor/command_executor.rs
Labels: none

fix: the experience-degradation sweep — act budgets, serialization ratchet, canvas pre-fold (#2411)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/cognition/experience.rs
  core/continuum-core/src/cognition/tool_executor/command_executor.rs
  core/continuum-core/src/commands/genome/curriculum.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/source_hygiene/boundary_serialization.rs
  core/continuum-core/src/source_hygiene/mod.rs
  protocol/typescript/cognition/EvalTask.ts
Labels: none

fix(persona,eval,cli): kill the held_out probe storm, gate the hold before plan derivation, and give reboot eyes on eval runs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/persona/host.rs
Labels: none

fix(eval): DoD-graded tasks are workspace-deliverable turns — arm the protections built for exactly them
  core/continuum-core/src/cognition/eval.rs
Labels: none

fix: probe storm, pre-derivation hold gate, reboot sees eval runs, eval turns framed on_workspace (#2412)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/persona/host.rs
Labels: none

feat(cognition): act-budget receipts — the stopwatch probes its own emission and a test pins it reaching her mind
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  docs/architecture/HIDDEN-CONSTANTS-LEDGER.md
Labels: documentation

docs(genome): gene lifecycle — continue vs fork vs mint decided by distance cheaply, behavior finally
  docs/genome/design/GENE-LIFECYCLE-CONTINUE-FORK-MINT.md
Labels: documentation

docs(genome): gene lifecycle — continue vs fork vs mint decided by distance cheaply, behavior finally (#2414)
  docs/genome/design/GENE-LIFECYCLE-CONTINUE-FORK-MINT.md
Labels: documentation

feat(cognition): act-budget receipts — the stopwatch probes its own emission and a test pins it reaching her mind (#2413)
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
  docs/architecture/HIDDEN-CONSTANTS-LEDGER.md
Labels: documentation

perf(cognition): volatile grounding rides TRAILING turns — the KV run-rate fix, measured from her own captures
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/rag_source_faculty.rs
  core/continuum-core/src/persona/supervisor.rs
Labels: none

perf(cognition): volatile grounding rides TRAILING turns — the KV run-rate fix, measured from her own captures (#2415)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/rag_source_faculty.rs
  core/continuum-core/src/persona/supervisor.rs
Labels: none

perf(cognition): append-only history renders BEFORE churning grounding — the tail order the A/B demanded
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

perf(cognition): append-only history renders BEFORE churning grounding — the tail order the A/B demanded (#2416)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(inference): prefill probe carries persona + purpose — attributed evidence for the KV iteration
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

fix: justify the probe-attribution unwrap_ors (ratchet)
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

perf(cognition): message order is MONOTONE IN STABILITY — the byte-diff verdict
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(inference): prefill probe carries persona + purpose (#2417)
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

perf(cognition): message order is MONOTONE IN STABILITY — the byte-diff verdict (#2418)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

perf(cli): reboot keeps serving lanes — adopt-or-rebuild makes the swap ~60s, not ~5min
  core/continuum-core/src/bin/continuum.rs
Labels: none
