Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(tests): pin TZ=UTC in the four time-asserting specs — CI-deterministic on any runner
  apps/web/src/chat/renderChat.spec.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/historyProjections.spec.ts
Labels: tests

fix(airc): close #261's SKIP hole — attach never pre-persists the room tip; the daemon's cursor heartbeat is the sole watermark writer
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

feat(plasticity): plan_expert_compression — variable-precision MoE compaction, never strip
  core/continuum-core/src/capacity/expert_residency.rs
  core/continuum-core/src/modules/plasticity/planner.rs
Labels: none

chore(airc): airc.cursor.advanced probe — every watermark advance gets a receipt
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

fix(web): retire the typing bubble on the settled message, not only on the done delta
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(memory): MemoryRecord (origin_node, origin_seq) — the RAID replication-provenance seam for Persona-RAID (#2056, co-designed w/ BigMama)
  core/continuum-core/bindings/MemoryRecord.ts
  core/continuum-core/src/cognition/experience.rs
  core/continuum-core/src/commands/memory/remember.rs
  core/continuum-core/src/commands/memory/share.rs
  core/continuum-core/src/memory/consolidation_pipeline.rs
  core/continuum-core/src/memory/corpus.rs
  core/continuum-core/src/memory/mod.rs
  core/continuum-core/src/memory/recall.rs
  core/continuum-core/src/memory/types.rs
Labels: none

fix(sdk): export the drifted wire types — 64 registered-command params/results never emitted ts-rs bindings
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/commands/help.rs
  core/continuum-core/src/commands/tool/output.rs
  protocol/typescript/tool/OutputFilter.ts
  protocol/typescript/tool/ToolOutputParams.ts
Labels: none

feat(web): dormant minds dim — roster rows recede when every cognition pulse is dark, brighten on any pulse/stream
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
Labels: none

feat(web): Discord shell geometry — full-height rails, center-scoped tabs/header/compose
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.ts
  apps/web/src/render/litTarget.ts
  packages/patterns/index.ts
  sdk/typescript/StateStorage.ts
Labels: none

fix(tests): pin TZ=UTC in the four time-asserting specs — CI-deterministic on any runner
  apps/web/src/chat/renderChat.spec.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/historyProjections.spec.ts
Labels: tests

feat(vitals): cognition compass AFTERGLOW — 6/s decay so the mind's glow is visible between turns + lowercase brand title
  .gymtool/vitals.mts
  apps/web/index.html
  core/continuum-core/src/cognition/faculty_pulse.rs
Labels: none

feat(web): code is SHOWN, not hidden — line-numbered open-by-default code cards + fence-aware digest
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
  packages/chat-view/messageDigest.spec.ts
  packages/chat-view/messageDigest.ts
Labels: tests

feat(live): tee avatar frames into the native call plane — everyone sees the real face (#193/#172)
  core/continuum-core/examples/avatar_livekit.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/avatar/video_pump.rs
  core/continuum-core/src/live/transport/call_server.rs
  core/continuum-core/src/modules/live.rs
Labels: none

feat(live): turn-start beacon → 'responding…' under the last message + dynamic lowercase title + continuon favicon
  apps/web/public/icon.svg
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/persona/service_loop.rs
Labels: none

feat(benchmark): wire BenchmarkAdapter registry into benchmark/run — inventory self-registration, catalog-then-adapter resolution (#123)
  core/continuum-core/src/cognition/benchmark.rs
  core/continuum-core/src/cognition/benchmark_humaneval.rs
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(live): auto-start the LiveKit avatar rail with the core (server + bridge sidecar)
  tools/scripts/start-server.sh
  tools/scripts/system-stop.sh
Labels: none

fix(web): responding line = the PROMISE phase only — a name drops the moment their words visibly stream
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(chat): beforeMessageId scroll-back cursor on chat/poll — history pages out of durable storage
  core/continuum-core/src/modules/chat/mod.rs
  core/continuum-core/src/modules/chat/types.rs
  protocol/typescript/chat/ChatPollParams.ts
  protocol/typescript/chat/ChatPollResult.ts
Labels: none

feat(benchmark): HumanEval-rs adapter — outlier A on the BenchmarkAdapter trait (rail 2 of #123)
  core/continuum-core/src/cognition/benchmark_humaneval.rs
  core/continuum-core/src/cognition/mod.rs
Labels: none

feat(benchmark): BenchmarkAdapter trait + registry — the grid-transparent, reusable, learn-from benchmark interface (rail 1 of #123)
  core/continuum-core/src/cognition/benchmark.rs
  core/continuum-core/src/cognition/mod.rs
Labels: none

feat(web): '(xyz, abc) is responding…' — ONE grey line between the last message and the compose box
  apps/web/src/chat/ChatWidget.ts
Labels: none

fix(positron): projection hydrates from the durable transcript — the SUBSTRATE owns room fullness, never the renderer
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  sdk/typescript/WebSocketTransport.ts
Labels: none

fix(serving): eval-lane bring-up fails LOUD with the real cause, not a masked 240s /health timeout (#205 unmask)
  core/continuum-core/src/inference/llama_server.rs
Labels: none

feat(positron): durable local state + self-healing feed — inherent to the SDK, adapter-driven (the Twitter model)
  apps/web/src/index.ts
  sdk/typescript/StateConnection.spec.ts
  sdk/typescript/StateConnection.ts
  sdk/typescript/StateStorage.ts
  sdk/typescript/index.ts
Labels: tests

chore(airc): airc.cursor.advanced probe — every watermark advance gets a receipt
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

feat(nav+airc): tab close wired end-to-end + consumer cursor kills the reboot replay (#242)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/litTarget.ts
  apps/web/src/render/parts.ts
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/modules/nav.rs
Labels: none

feat(web): Twitter endless scroll — scroll-back pages durable history into the transcript
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/commands/help.rs
  packages/chat-view/historyProjections.spec.ts
  packages/chat-view/historyProjections.ts
  packages/chat-view/index.ts
  protocol/typescript/agent/AgentSolveParams.ts
  protocol/typescript/agent/AgentSolveResult.ts
  protocol/typescript/benchmark/BenchmarkCompetitionParams.ts
  protocol/typescript/benchmark/BenchmarkCompetitionResult.ts
  protocol/typescript/benchmark/BenchmarkListParams.ts
  protocol/typescript/benchmark/BenchmarkListResult.ts
  protocol/typescript/benchmark/BenchmarkMatrixParams.ts
  protocol/typescript/benchmark/BenchmarkMatrixResult.ts
  protocol/typescript/benchmark/BenchmarkRecordParams.ts
  protocol/typescript/benchmark/BenchmarkRecordResult.ts
  protocol/typescript/benchmark/BenchmarkRow.ts
  protocol/typescript/benchmark/BenchmarkRunParams.ts
  protocol/typescript/benchmark/BenchmarkRunResult.ts
  protocol/typescript/benchmark/CompetitionCell.ts
  protocol/typescript/benchmark/Grader.ts
  protocol/typescript/help/CommandsHelpParams.ts
  protocol/typescript/help/CommandsHelpResult.ts
Labels: tests

fix(airc): close #261's SKIP hole — attach never pre-persists the room tip; the daemon's cursor heartbeat is the sole watermark writer
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

revert(airc): consumer cursor OFF until it ships as one unit with perception hydration (#249)
  core/continuum-core/src/airc/inbound_attach.rs
Labels: none

feat(nav+web): persona selects OPEN durable tabs (never swap) + sender names link to profiles + history-trigger guards
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/parts.ts
  core/continuum-core/src/ipc/positron_nav_source.rs
Labels: none

feat(positron): renderer frames coalesce at 10Hz + 100-message window — bursts become beats, not storms
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/session_task.rs
Labels: none

feat(live): tee persona voice into the native call plane — client hears her, not hold music (#193 audio convergence)
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/live/transport/call_server.rs
  core/continuum-core/src/modules/live.rs
Labels: none

fix(web): transcript times in the VIEWER's timezone + genome panel goes two rows of four
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/package.json
Labels: dependencies

fix(serving): eval-lane gate refuses on real free-RAM-vs-footprint, not just pressure LEVEL — kills the jetsam SIGKILL at the root (#205)
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/continuum-core/src/system_resources/mod.rs
Labels: none

fix(web): auto-scroll tracks READER INTENT, not bottom-distance — the position heuristic silently killed pin-to-bottom
  apps/web/src/chat/ChatWidget.ts
Labels: none

fix(web): genome-click anchor re-lands after layout settles — the card sticks at the pane top
  .gymtool/click-genome.mjs
  .gymtool/msgcount.mjs
  .gymtool/nav-restore.mjs
  .gymtool/shot.mjs
  apps/web/src/chat/ChatWidget.ts
Labels: none

fix(boot): macOS core boot — bash-3.2 manifest gate + rt_handle.spawn off-runtime panic (#194)
  core/continuum-core/src/ipc/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(web): 'Send failed' on every SUCCESSFUL send — only explicit success:false is a rejection
  apps/web/src/index.ts
Labels: none

feat(web): durable-store hydration + Activities rename + rooms-only facet default
  .gymtool/rowcount.mjs
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/RoomsPanel.ts
  packages/chat-view/patternProjections.ts
Labels: none

fix(web): tab strip renders from ONE open tab — the focused room IS a tab
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/render/litTarget.ts
Labels: tests

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
