Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Add Rust turn batching boundary
  src/shared/generated/cognition/PersonaTurnPlan.ts
  src/shared/generated/cognition/RecipePersonaCandidate.ts
  src/shared/generated/cognition/RecipeRagSourcePolicy.ts
  src/shared/generated/cognition/RecipeTurnBatchPlan.ts
  src/shared/generated/cognition/RecipeTurnBatchRequest.ts
  src/shared/generated/cognition/RecipeTurnTrigger.ts
  src/shared/generated/cognition/SharedRagSourcePlan.ts
  src/shared/generated/cognition/index.ts
  src/system/user/server/modules/RustCognitionBridge.ts
  src/workers/continuum-core/bindings/modules/cognition.ts
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/turn_batch.rs
  src/workers/continuum-core/src/modules/cognition.rs
Labels: none

Add Rust turn batching boundary (#1060)
  src/shared/generated/cognition/PersonaTurnPlan.ts
  src/shared/generated/cognition/RecipePersonaCandidate.ts
  src/shared/generated/cognition/RecipeRagSourcePolicy.ts
  src/shared/generated/cognition/RecipeTurnBatchPlan.ts
  src/shared/generated/cognition/RecipeTurnBatchRequest.ts
  src/shared/generated/cognition/RecipeTurnTrigger.ts
  src/shared/generated/cognition/SharedRagSourcePlan.ts
  src/shared/generated/cognition/index.ts
  src/system/user/server/modules/RustCognitionBridge.ts
  src/workers/continuum-core/bindings/modules/cognition.ts
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/turn_batch.rs
  src/workers/continuum-core/src/modules/cognition.rs
Labels: none

Prioritize chat over memory synthesis
  src/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/system/user/server/modules/cognitive/memory/HippocampusConsolidationPolicy.ts
  src/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/tests/unit/memory/HippocampusConsolidationPolicy.test.ts
Labels: tests

Define Rust persona runtime alpha contract
  src/docs/architecture/ALPHA-GAP-RUST-PERSONA-RUNTIME.md
  src/shared/generated/cognition/PersonaTurnPlan.ts
  src/shared/generated/cognition/RecipeTurnBatchPlan.ts
  src/shared/generated/cognition/RecipeTurnBatchRequest.ts
  src/workers/continuum-core/src/cognition/turn_batch.rs
Labels: documentation

Keep cloud turns out of local generation waves
  src/workers/continuum-core/src/cognition/turn_batch.rs
Labels: none

Document adaptive throughput substrate
  src/docs/architecture/ALPHA-GAP-RUST-PERSONA-RUNTIME.md
Labels: documentation

Clarify handle-based media IPC
  src/docs/architecture/ALPHA-GAP-RUST-PERSONA-RUNTIME.md
Labels: documentation

Add adaptive throughput planning tests
  src/docs/architecture/ALPHA-GAP-RUST-PERSONA-RUNTIME.md
  src/shared/generated/cognition/AdaptiveThroughputPlan.ts
  src/shared/generated/cognition/AdaptiveThroughputRequest.ts
  src/shared/generated/cognition/ResourceClass.ts
  src/shared/generated/cognition/ThroughputJob.ts
  src/shared/generated/cognition/ThroughputLaneBudget.ts
  src/workers/continuum-core/src/cognition/adaptive_throughput.rs
  src/workers/continuum-core/src/cognition/mod.rs
Labels: documentation

Add physical silicon budgets to throughput planner
  src/shared/generated/cognition/TargetSilicon.ts
  src/shared/generated/cognition/ThroughputJob.ts
  src/shared/generated/cognition/ThroughputLaneBudget.ts
  src/workers/continuum-core/src/cognition/adaptive_throughput.rs
Labels: none

Fail loudly on missing throughput budgets
  src/shared/generated/cognition/AdaptiveThroughputPlan.ts
  src/workers/continuum-core/src/cognition/adaptive_throughput.rs
Labels: none

Add throughput lease registry
  src/shared/generated/cognition/ThroughputLease.ts
  src/shared/generated/cognition/ThroughputLeaseRevocationPolicy.ts
  src/shared/generated/cognition/ThroughputLeaseSnapshot.ts
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/throughput_lease.rs
Labels: none

Mirror throughput leases into footprint registry
  src/workers/continuum-core/src/inference/footprint_registry/mod.rs
Labels: none

Mirror throughput leases into footprint registry (#1065)
  src/workers/continuum-core/src/inference/footprint_registry/mod.rs
Labels: none

Add Rust model resolver with hardware capability tiers (Lane C)
  src/shared/generated/cognition/HostCapability.ts
  src/shared/generated/cognition/HwCapabilityTier.ts
  src/shared/generated/cognition/LocalOrCloudPolicy.ts
  src/shared/generated/cognition/ModelRequirement.ts
  src/shared/generated/cognition/ResolutionError.ts
  src/shared/generated/cognition/ResolvedModel.ts
  src/shared/generated/cognition/index.ts
  src/shared/generated/model_registry/Arch.ts
  src/shared/generated/model_registry/index.ts
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/model_resolver.rs
  src/workers/continuum-core/src/model_registry/types.rs
Labels: none

Doc: HwCapabilityTier closed-by-design + memory_budget_mb not-yet-enforced
  src/shared/generated/cognition/HwCapabilityTier.ts
  src/shared/generated/cognition/ModelRequirement.ts
  src/workers/continuum-core/src/cognition/model_resolver.rs
Labels: none

Make model resolver provider residency data-driven
  src/shared/generated/cognition/HwCapabilityTier.ts
  src/shared/generated/cognition/ModelRequirement.ts
  src/shared/generated/model_registry/ProviderKind.ts
  src/shared/generated/model_registry/index.ts
  src/workers/continuum-core/config/providers.toml
  src/workers/continuum-core/src/cognition/model_resolver.rs
  src/workers/continuum-core/src/model_registry/types.rs
Labels: none

Add Rust model resolver with hardware capability tiers
  src/shared/generated/cognition/HostCapability.ts
  src/shared/generated/cognition/HwCapabilityTier.ts
  src/shared/generated/cognition/LocalOrCloudPolicy.ts
  src/shared/generated/cognition/ModelRequirement.ts
  src/shared/generated/cognition/ResolutionError.ts
  src/shared/generated/cognition/ResolvedModel.ts
  src/shared/generated/cognition/index.ts
  src/shared/generated/model_registry/Arch.ts
  src/shared/generated/model_registry/ProviderKind.ts
  src/shared/generated/model_registry/index.ts
  src/workers/continuum-core/config/providers.toml
  src/workers/continuum-core/src/cognition/mod.rs
  src/workers/continuum-core/src/cognition/model_resolver.rs
  src/workers/continuum-core/src/model_registry/types.rs
Labels: none

Prioritize chat over memory synthesis
  src/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/system/user/server/modules/cognitive/memory/HippocampusConsolidationPolicy.ts
  src/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/tests/unit/memory/HippocampusConsolidationPolicy.test.ts
Labels: tests

Add VDD TDD alpha validation loop
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Forbid git hook bypasses
  src/commands/workspace/git/commit/server/GitCommitServerCommand.ts
  src/scripts/README-git-hooks.md
  src/scripts/README.md
  src/scripts/git-prepush.sh
  src/workers/continuum-core/src/code/git_bridge.rs
Labels: documentation

Align CLAUDE.md with #1067 no-verify rule (continuum-8e97 review catch)
  CLAUDE.md
Labels: documentation

Fix precommit clippy gate
  CLAUDE.md
  src/clippy-baseline.txt
  src/scripts/git-precommit.sh
  src/workers/continuum-core/src/persona/response.rs
  src/workers/continuum-core/src/system_resources/memory_pressure.rs
  src/workers/continuum-core/src/system_resources/mod.rs
  src/workers/continuum-core/src/tool_parsing/correction.rs
  src/workers/continuum-core/src/tool_parsing/mod.rs
Labels: documentation

Forbid git hook bypasses and fix clippy gate
  CLAUDE.md
  src/clippy-baseline.txt
  src/commands/workspace/git/commit/server/GitCommitServerCommand.ts
  src/scripts/README-git-hooks.md
  src/scripts/README.md
  src/scripts/git-precommit.sh
  src/scripts/git-prepush.sh
  src/workers/continuum-core/src/code/git_bridge.rs
  src/workers/continuum-core/src/persona/response.rs
  src/workers/continuum-core/src/system_resources/memory_pressure.rs
  src/workers/continuum-core/src/system_resources/mod.rs
  src/workers/continuum-core/src/tool_parsing/correction.rs
  src/workers/continuum-core/src/tool_parsing/mod.rs
Labels: documentation

Make Rust persona recorder the single fixture source
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/workers/continuum-core/src/persona/recorder.rs
Labels: none

Move persona turn fixture recording fully into Rust
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/workers/continuum-core/src/persona/recorder.rs
Labels: none

Move persona response cleanup into Rust
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/workers/continuum-core/src/persona/response.rs
Labels: none

Move persona response cleanup into Rust
  src/system/user/server/modules/PersonaResponseGenerator.ts
  src/workers/continuum-core/src/persona/response.rs
Labels: none

Codify Rust-first alpha architecture
  docs/architecture/PERSONA-AS-RUST-LIBRARY-PLAN.md
  docs/architecture/PERSONA-COGNITION-RUST-MIGRATION.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Codify Rust-first alpha architecture
  docs/architecture/PERSONA-AS-RUST-LIBRARY-PLAN.md
  docs/architecture/PERSONA-COGNITION-RUST-MIGRATION.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

fix(push-script): fetch PR head before worktree add
  scripts/push-current-arch.sh
Labels: none

compose: make LiveKit opt-in for default stack
  docker-compose.yml
Labels: none

docs: add shared cognition architecture
  docs/architecture/SHARED-COGNITION.md
Labels: documentation

fix(vision): wait for in-flight VDS descriptions
  src/system/user/server/modules/PersonaResponseGenerator.ts
Labels: none

fix(mac): gate native LiveKit bridge behind explicit profile
  docker-compose.mac.yml
  src/package.json
  src/scripts/parallel-start.sh
  src/workers/start-workers.sh
  src/workers/workers-config.json
Labels: dependencies

docs: define sensory persona alpha contract
  docs/architecture/PERSONA-AS-RUST-LIBRARY-PLAN.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

docs: define sensory persona alpha contract
  docs/architecture/PERSONA-AS-RUST-LIBRARY-PLAN.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

test(sensory): add Position 2 alpha-contract WebRTC sensory smoke
  src/tests/integration/sensory-persona-roundtrip.test.ts
Labels: tests

Add sensory-bar requirement profile to model resolver (Position 1, PR #1072)
  src/shared/generated/cognition/ModelRequirement.ts
  src/shared/generated/cognition/ResolutionError.ts
  src/shared/generated/cognition/SiliconResidencyRequirement.ts
  src/shared/generated/cognition/index.ts
  src/workers/continuum-core/src/cognition/model_resolver.rs
Labels: none

Add host capability probe so resolver actually runs in production
  src/shared/generated/cognition/HostProbeError.ts
  src/shared/generated/cognition/index.ts
  src/workers/continuum-core/src/cognition/host_capability_probe.rs
  src/workers/continuum-core/src/cognition/mod.rs
Labels: none

test(persona): multi-persona response timing regression smoke
  src/tests/integration/multi-persona-response-timing.test.ts
Labels: tests

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
