Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Update README with comprehensive documentation and add UI screenshot
  .github/images/continuum-ui-main.png
  README.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/chat-test-after-fixes.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/validation-info.json
  src/debug/jtag/commands/debug/html-inspector/browser/HtmlInspectorBrowserCommand.ts
  src/debug/jtag/commands/get-text/browser/ShadowDOMBrowserQuery.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/system/browser/WidgetUtils.ts
  src/debug/jtag/system/core/browser/utils/WidgetIntrospection.ts
Labels: documentation, workflow

Update README with comprehensive documentation and add UI screenshot
  .github/images/continuum-ui-main.png
  README.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/chat-test-after-fixes.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-102805-67430/validation-info.json
  src/debug/jtag/commands/debug/html-inspector/browser/HtmlInspectorBrowserCommand.ts
  src/debug/jtag/commands/get-text/browser/ShadowDOMBrowserQuery.ts
  src/debug/jtag/commands/screenshot/shared/browser-utils/BrowserElementUtils.ts
  src/debug/jtag/system/browser/WidgetUtils.ts
  src/debug/jtag/system/core/browser/utils/WidgetIntrospection.ts
Labels: documentation, workflow

Add cross-references between design docs and PR #152
  design/migration-analysis/REPO_AUDIT.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/validation-info.json
Labels: documentation

Add cross-references between design docs and PR #152
  design/migration-analysis/REPO_AUDIT.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-103334-72255/validation-info.json
Labels: documentation

Organize documentation and archive old files
  .gitignore
  archive/README-before-migration.md
  archive/package.json-root-before-migration
  design/DOCS-CONSOLIDATION-ANALYSIS.md
  design/EVENT-SIGNAL-TESTS-ANALYSIS.md
  design/migration-analysis/CHAT-TESTS-ANALYSIS.md
  design/migration-analysis/MIDDLE-OUT-MINING-REPORT.md
  design/migration-analysis/OTHER-TESTS-ANALYSIS.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/validation-info.json
Labels: documentation

Organize documentation and archive old files
  .gitignore
  archive/README-before-migration.md
  archive/package.json-root-before-migration
  design/DOCS-CONSOLIDATION-ANALYSIS.md
  design/EVENT-SIGNAL-TESTS-ANALYSIS.md
  design/migration-analysis/CHAT-TESTS-ANALYSIS.md
  design/migration-analysis/MIDDLE-OUT-MINING-REPORT.md
  design/migration-analysis/OTHER-TESTS-ANALYSIS.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110108-80515/validation-info.json
Labels: documentation

cleanup claude stuff
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3642.tgz
  src/debug/jtag/continuum-jtag-1.0.3648.tgz
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

cleanup claude stuff
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251022-110413-82389/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3642.tgz
  src/debug/jtag/continuum-jtag-1.0.3648.tgz
  src/debug/jtag/examples/widget-ui/package-lock.json
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

uuid fix and mcp protocol definition
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/validation-info.json
Labels: none

uuid fix and mcp protocol definition
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-000820-10516/validation-info.json
Labels: none

fix correlation
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/screenshot.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3706.tgz
  src/debug/jtag/continuum-jtag-1.0.3714.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: dependencies

fix correlation
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/screenshot.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-005312-58449/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3706.tgz
  src/debug/jtag/continuum-jtag-1.0.3714.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: dependencies

Add learning mode architecture for per-participant fine-tuning (Phase 1)
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3714.tgz
  src/debug/jtag/continuum-jtag-1.0.3724.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/REFACTORING-PLAN.md
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
  src/debug/jtag/system/recipes/ADAPTER-EXTENSIBILITY.md
  src/debug/jtag/system/recipes/LEARNING-MODE-ARCHITECTURE.md
  src/debug/jtag/system/recipes/PHASE-2-PLAN.md
  src/debug/jtag/system/recipes/shared/RecipePromptBuilder.ts
  src/debug/jtag/system/recipes/test/unit/RecipePromptBuilder.test.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation, tests, dependencies

Add learning mode architecture for per-participant fine-tuning (Phase 1)
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-151042-94279/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3714.tgz
  src/debug/jtag/continuum-jtag-1.0.3724.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/REFACTORING-PLAN.md
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
  src/debug/jtag/system/recipes/ADAPTER-EXTENSIBILITY.md
  src/debug/jtag/system/recipes/LEARNING-MODE-ARCHITECTURE.md
  src/debug/jtag/system/recipes/PHASE-2-PLAN.md
  src/debug/jtag/system/recipes/shared/RecipePromptBuilder.ts
  src/debug/jtag/system/recipes/test/unit/RecipePromptBuilder.test.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation, tests, dependencies

Phase 2: Extend RAG context with learning mode fields
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/validation-info.json
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/test/unit/ChatRAGBuilder.learningMode.test.ts
  src/debug/jtag/system/recipes/RAG-THOUGHT-COHERENCE-ANALYSIS.md
  src/debug/jtag/system/recipes/shared/RecipePromptBuilder.ts
Labels: documentation, tests

Phase 2: Extend RAG context with learning mode fields
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194041-59118/validation-info.json
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/rag/shared/RAGTypes.ts
  src/debug/jtag/system/rag/test/unit/ChatRAGBuilder.learningMode.test.ts
  src/debug/jtag/system/recipes/RAG-THOUGHT-COHERENCE-ANALYSIS.md
  src/debug/jtag/system/recipes/shared/RecipePromptBuilder.ts
Labels: documentation, tests

Increase AI context window: 3→15 messages minimum
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3724.tgz
  src/debug/jtag/continuum-jtag-1.0.3730.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

Increase AI context window: 3→15 messages minimum
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-194747-64866/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3724.tgz
  src/debug/jtag/continuum-jtag-1.0.3730.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

Add MCP context request guidance to general-chat recipe
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/validation-info.json
  src/debug/jtag/system/recipes/general-chat.json
Labels: none

Add MCP context request guidance to general-chat recipe
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195105-66795/validation-info.json
  src/debug/jtag/system/recipes/general-chat.json
Labels: none

Add MCP tool calling best practices and Phase 3 roadmap
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/validation-info.json
  src/debug/jtag/system/conversation/MCP-TOOL-CALLING-BEST-PRACTICES.md
Labels: documentation

Add MCP tool calling best practices and Phase 3 roadmap
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-195546-68517/validation-info.json
  src/debug/jtag/system/conversation/MCP-TOOL-CALLING-BEST-PRACTICES.md
Labels: documentation

Add decision-point analysis to ai/rag/inspect command
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/continuum-jtag-1.0.3730.tgz
  src/debug/jtag/continuum-jtag-1.0.3734.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add decision-point analysis to ai/rag/inspect command
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205615-92257/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/continuum-jtag-1.0.3730.tgz
  src/debug/jtag/continuum-jtag-1.0.3734.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Document RAG inspection and chat debugging gaps via trial runs
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/validation-info.json
  src/debug/jtag/CHAT-DEBUG-TRIAL-FINDINGS.md
  src/debug/jtag/RAG-INSPECT-TRIAL-RUN-REPORT.md
Labels: documentation

Document RAG inspection and chat debugging gaps via trial runs
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-205959-93984/validation-info.json
  src/debug/jtag/CHAT-DEBUG-TRIAL-FINDINGS.md
  src/debug/jtag/RAG-INSPECT-TRIAL-RUN-REPORT.md
Labels: documentation

Implement all 5 critical gaps from RAG inspection trial runs
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/commands/ai/thoughtstream/server/ThoughtStreamServerCommand.ts
  src/debug/jtag/commands/ai/thoughtstream/shared/ThoughtStreamTypes.ts
  src/debug/jtag/continuum-jtag-1.0.3734.tgz
  src/debug/jtag/continuum-jtag-1.0.3736.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Implement all 5 critical gaps from RAG inspection trial runs
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-211748-6458/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/rag/inspect/server/RAGInspectServerCommand.ts
  src/debug/jtag/commands/ai/rag/inspect/shared/RAGInspectTypes.ts
  src/debug/jtag/commands/ai/thoughtstream/server/ThoughtStreamServerCommand.ts
  src/debug/jtag/commands/ai/thoughtstream/shared/ThoughtStreamTypes.ts
  src/debug/jtag/continuum-jtag-1.0.3734.tgz
  src/debug/jtag/continuum-jtag-1.0.3736.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Add diagnostic logging to expose coordinator timing bug
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3736.tgz
  src/debug/jtag/continuum-jtag-1.0.3740.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/BaseModerator.ts
Labels: dependencies

Add diagnostic logging to expose coordinator timing bug
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213429-21203/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3736.tgz
  src/debug/jtag/continuum-jtag-1.0.3740.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/BaseModerator.ts
Labels: dependencies

Document adaptive heartbeat architecture for coordinator timing fix
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/COORDINATOR-TIMING-FIX.md
Labels: documentation

Document adaptive heartbeat architecture for coordinator timing fix
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-213833-23041/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/COORDINATOR-TIMING-FIX.md
Labels: documentation

Implement adaptive cadence using second-order dynamics
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3740.tgz
  src/debug/jtag/continuum-jtag-1.0.3744.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/SystemHeartbeat.ts
Labels: dependencies

Implement adaptive cadence using second-order dynamics
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-215038-34099/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3740.tgz
  src/debug/jtag/continuum-jtag-1.0.3744.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/SystemHeartbeat.ts
Labels: dependencies

Emit cognition events from rag-build and should-respond stages
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/COGNITION-EVENTS.md
  src/debug/jtag/system/conversation/COGNITION-HISTOGRAM-SPEC.md
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/CognitionEventTypes.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation

Emit cognition events from rag-build and should-respond stages
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-220600-40138/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/COGNITION-EVENTS.md
  src/debug/jtag/system/conversation/COGNITION-HISTOGRAM-SPEC.md
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/CognitionEventTypes.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: documentation

Fix cognition event emission to use Events.emit() pattern
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/CognitionEventTypes.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: none

Fix cognition event emission to use Events.emit() pattern
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-221347-45769/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/system/conversation/server/ThoughtStreamCoordinator.ts
  src/debug/jtag/system/conversation/shared/CognitionEventTypes.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: none

Add cognition event subscription to ContinuumEmoter widget
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/continuum-ui.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3744.tgz
  src/debug/jtag/continuum-jtag-1.0.3746.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum-emoter/ContinuumEmoterWidget.ts
Labels: dependencies

Add cognition event subscription to ContinuumEmoter widget
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/continuum-ui.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/message-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-chat.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-rooms.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-system.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/precommit-users.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/room-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-before.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-create.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-delete.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/screenshots/user-update.png
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/test-results.txt
  src/debug/jtag/.continuum/sessions/validation/run_20251023-222304-54093/validation-info.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.3744.tgz
  src/debug/jtag/continuum-jtag-1.0.3746.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/continuum-emoter/ContinuumEmoterWidget.ts
Labels: dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
