Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Fix verification system: Output required git hook strings when core capabilities work
  src/verification/VerificationSystem.py
  verification/history.txt
  verification/verification_0bf32e886eae/client-logs.txt
  verification/verification_0bf32e886eae/server-logs.txt
  verification/verification_0bf32e886eae/ui-capture.png
Labels: none

Fix verification system: Output required git hook strings when core capabilities work
  src/verification/VerificationSystem.py
  verification/history.txt
  verification/verification_0bf32e886eae/client-logs.txt
  verification/verification_0bf32e886eae/server-logs.txt
  verification/verification_0bf32e886eae/ui-capture.png
Labels: none

Add comprehensive WebBrowse command with DevTools Protocol integration
  src/commands/browser/webbrowse/README.md
  src/commands/browser/webbrowse/WebBrowseCommand.cjs
  src/commands/browser/webbrowse/index.server.js
  src/commands/browser/webbrowse/package.json
  src/core/CommandDefinitions.cjs
  verification/history.txt
  verification/verification_c14056021916/client-logs.txt
  verification/verification_c14056021916/server-logs.txt
  verification/verification_c14056021916/ui-capture.png
Labels: documentation, dependencies

Add comprehensive WebBrowse command with DevTools Protocol integration
  src/commands/browser/webbrowse/README.md
  src/commands/browser/webbrowse/WebBrowseCommand.cjs
  src/commands/browser/webbrowse/index.server.js
  src/commands/browser/webbrowse/package.json
  src/core/CommandDefinitions.cjs
  verification/history.txt
  verification/verification_c14056021916/client-logs.txt
  verification/verification_c14056021916/server-logs.txt
  verification/verification_c14056021916/ui-capture.png
Labels: documentation, dependencies

Update roadmap: Mark verification system and WebBrowse command as completed
  agents/workspace/ROADMAP.md
  verification/history.txt
  verification/verification_bb377baa2ddd/client-logs.txt
  verification/verification_bb377baa2ddd/server-logs.txt
  verification/verification_bb377baa2ddd/ui-capture.png
Labels: documentation

Update roadmap: Mark verification system and WebBrowse command as completed
  agents/workspace/ROADMAP.md
  verification/history.txt
  verification/verification_bb377baa2ddd/client-logs.txt
  verification/verification_bb377baa2ddd/server-logs.txt
  verification/verification_bb377baa2ddd/ui-capture.png
Labels: documentation

test
  package-lock.json
  package.json
  verification/history.txt
  verification/verification_a1bedca4c32d/client-logs.txt
  verification/verification_a1bedca4c32d/server-logs.txt
  verification/verification_a1bedca4c32d/ui-capture.png
Labels: dependencies

test
  package-lock.json
  package.json
  verification/history.txt
  verification/verification_a1bedca4c32d/client-logs.txt
  verification/verification_a1bedca4c32d/server-logs.txt
  verification/verification_a1bedca4c32d/ui-capture.png
Labels: dependencies

Fix commit hook: Skip tests temporarily while tracking verification performance
  src/verification/CommitHook.py
  verification/history.txt
  verification/test_logs/test_log_20250623_175311.txt
  verification/verification_47bd54cc621d/client-logs.txt
  verification/verification_47bd54cc621d/server-logs.txt
  verification/verification_47bd54cc621d/ui-capture.png
Labels: none

Fix commit hook: Skip tests temporarily while tracking verification performance
  src/verification/CommitHook.py
  verification/history.txt
  verification/test_logs/test_log_20250623_175311.txt
  verification/verification_47bd54cc621d/client-logs.txt
  verification/verification_47bd54cc621d/server-logs.txt
  verification/verification_47bd54cc621d/ui-capture.png
Labels: none

Add missing __init__.py to fix continuum_client.exceptions import error
  python-client/continuum_client/exceptions/__init__.py
  verification/history.txt
  verification/verification_76a23a1c5ab4/client-logs.txt
  verification/verification_76a23a1c5ab4/server-logs.txt
  verification/verification_76a23a1c5ab4/ui-capture.png
  verification/verification_f663cd7946e8/client-logs.txt
  verification/verification_f663cd7946e8/server-logs.txt
  verification/verification_f663cd7946e8/ui-capture.png
Labels: none

Add missing __init__.py to fix continuum_client.exceptions import error
  python-client/continuum_client/exceptions/__init__.py
  verification/history.txt
  verification/verification_76a23a1c5ab4/client-logs.txt
  verification/verification_76a23a1c5ab4/server-logs.txt
  verification/verification_76a23a1c5ab4/ui-capture.png
  verification/verification_f663cd7946e8/client-logs.txt
  verification/verification_f663cd7946e8/server-logs.txt
  verification/verification_f663cd7946e8/ui-capture.png
Labels: none

Add SESSION command for unified session management
  src/commands/core/session/README.md
  src/commands/core/session/SessionCommand.cjs
  src/commands/core/session/SessionManager.cjs
  src/commands/core/session/index.server.js
  src/commands/core/session/package.json
  src/commands/core/session/test/SessionCommand.test.js
  src/commands/core/session/test/SessionManager.test.js
  verification/history.txt
  verification/verification_fcca1f1d6187/client-logs.txt
  verification/verification_fcca1f1d6187/server-logs.txt
  verification/verification_fcca1f1d6187/ui-capture.png
Labels: documentation, dependencies

Add SESSION command for unified session management
  src/commands/core/session/README.md
  src/commands/core/session/SessionCommand.cjs
  src/commands/core/session/SessionManager.cjs
  src/commands/core/session/index.server.js
  src/commands/core/session/package.json
  src/commands/core/session/test/SessionCommand.test.js
  src/commands/core/session/test/SessionManager.test.js
  verification/history.txt
  verification/verification_fcca1f1d6187/client-logs.txt
  verification/verification_fcca1f1d6187/server-logs.txt
  verification/verification_fcca1f1d6187/ui-capture.png
Labels: documentation, dependencies

forgot package
  package-lock.json
  package.json
  verification/history.txt
  verification/verification_431c9806ab60/client-logs.txt
  verification/verification_431c9806ab60/server-logs.txt
  verification/verification_431c9806ab60/ui-capture.png
Labels: dependencies

forgot package
  package-lock.json
  package.json
  verification/history.txt
  verification/verification_431c9806ab60/client-logs.txt
  verification/verification_431c9806ab60/server-logs.txt
  verification/verification_431c9806ab60/ui-capture.png
Labels: dependencies

Fix session architecture: Use server-managed base directory
  src/commands/core/session/SessionCommand.cjs
  src/commands/core/session/SessionManager.cjs
  verification/history.txt
  verification/verification_ef48d2840274/client-logs.txt
  verification/verification_ef48d2840274/server-logs.txt
  verification/verification_ef48d2840274/ui-capture.png
Labels: none

Fix session architecture: Use server-managed base directory
  src/commands/core/session/SessionCommand.cjs
  src/commands/core/session/SessionManager.cjs
  verification/history.txt
  verification/verification_ef48d2840274/client-logs.txt
  verification/verification_ef48d2840274/server-logs.txt
  verification/verification_ef48d2840274/ui-capture.png
Labels: none

Fix critical command validation issues
  src/commands/communication/createroom/CreateRoomCommand.cjs
  src/commands/communication/joinroom/JoinRoomCommand.cjs
  src/core/ProtocolSheriff.cjs
  verification/history.txt
  verification/verification_fb5f6956078f/client-logs.txt
  verification/verification_fb5f6956078f/server-logs.txt
  verification/verification_fb5f6956078f/ui-capture.png
Labels: none

Fix critical command validation issues
  src/commands/communication/createroom/CreateRoomCommand.cjs
  src/commands/communication/joinroom/JoinRoomCommand.cjs
  src/core/ProtocolSheriff.cjs
  verification/history.txt
  verification/verification_fb5f6956078f/client-logs.txt
  verification/verification_fb5f6956078f/server-logs.txt
  verification/verification_fb5f6956078f/ui-capture.png
Labels: none

Add mixed module type support to CommandRegistry
  LANGUAGE_MIGRATION.md
  __tests__/integration/commands/ModularCommandSystem.test.cjs
  src/commands/CommandRegistry.cjs
  src/modules/CoreModule.cjs
  verification/history.txt
  verification/verification_5bcb5604712f/client-logs.txt
  verification/verification_5bcb5604712f/server-logs.txt
  verification/verification_5bcb5604712f/ui-capture.png
Labels: documentation, tests

Add mixed module type support to CommandRegistry
  LANGUAGE_MIGRATION.md
  __tests__/integration/commands/ModularCommandSystem.test.cjs
  src/commands/CommandRegistry.cjs
  src/modules/CoreModule.cjs
  verification/history.txt
  verification/verification_5bcb5604712f/client-logs.txt
  verification/verification_5bcb5604712f/server-logs.txt
  verification/verification_5bcb5604712f/ui-capture.png
Labels: documentation, tests

Integrate git hook with RunArtifact system - universal diagnostic architecture
  quick_commit_check.py
  verification/history.txt
  verification/verification_d01b5dc1fb4e/client-logs.txt
  verification/verification_d01b5dc1fb4e/server-logs.txt
  verification/verification_d01b5dc1fb4e/ui-capture.png
Labels: none

Integrate git hook with RunArtifact system - universal diagnostic architecture
  quick_commit_check.py
  verification/history.txt
  verification/verification_d01b5dc1fb4e/client-logs.txt
  verification/verification_d01b5dc1fb4e/server-logs.txt
  verification/verification_d01b5dc1fb4e/ui-capture.png
Labels: none

Complete git hook RunArtifact integration with latest symlinks
  quick_commit_check.py
  verification/history.txt
  verification/verification_bd61296688a2/client-logs.txt
  verification/verification_bd61296688a2/server-logs.txt
  verification/verification_bd61296688a2/ui-capture.png
Labels: none

Complete git hook RunArtifact integration with latest symlinks
  quick_commit_check.py
  verification/history.txt
  verification/verification_bd61296688a2/client-logs.txt
  verification/verification_bd61296688a2/server-logs.txt
  verification/verification_bd61296688a2/ui-capture.png
Labels: none

Create modular verification system package with RunArtifact integration
  package.json
  verification/history.txt
  verification/verification_eada41ba56f0/client-logs.txt
  verification/verification_eada41ba56f0/server-logs.txt
  verification/verification_eada41ba56f0/ui-capture.png
  verification_system/README.md
  verification_system/git_hook.py
  verification_system/run_tests.py
  verification_system/src/__init__.py
  verification_system/src/git_hook_verification.py
  verification_system/src/run_artifact_integration.py
  verification_system/src/verification_history.py
  verification_system/styles/verification_widget.css
  verification_system/templates/history_header.txt
  verification_system/templates/verification_summary.txt
  verification_system/tests/__init__.py
  verification_system/tests/test_run_artifact_integration.py
Labels: documentation, dependencies

Create modular verification system package with RunArtifact integration
  package.json
  verification/history.txt
  verification/verification_eada41ba56f0/client-logs.txt
  verification/verification_eada41ba56f0/server-logs.txt
  verification/verification_eada41ba56f0/ui-capture.png
  verification_system/README.md
  verification_system/git_hook.py
  verification_system/run_tests.py
  verification_system/src/__init__.py
  verification_system/src/git_hook_verification.py
  verification_system/src/run_artifact_integration.py
  verification_system/src/verification_history.py
  verification_system/styles/verification_widget.css
  verification_system/templates/history_header.txt
  verification_system/templates/verification_summary.txt
  verification_system/tests/__init__.py
  verification_system/tests/test_run_artifact_integration.py
Labels: documentation, dependencies

Add BaseArtifact foundation class
  __tests__/unit/js/artifacts/BaseArtifact.test.js
  src/core/artifacts/BaseArtifact.cjs
  verification/history.txt
  verification/verification_edc46ab19f33/client-logs.txt
  verification/verification_edc46ab19f33/server-logs.txt
  verification/verification_edc46ab19f33/ui-capture.png
Labels: tests

Add BaseArtifact foundation class
  __tests__/unit/js/artifacts/BaseArtifact.test.js
  src/core/artifacts/BaseArtifact.cjs
  verification/history.txt
  verification/verification_edc46ab19f33/client-logs.txt
  verification/verification_edc46ab19f33/server-logs.txt
  verification/verification_edc46ab19f33/ui-capture.png
Labels: tests

Fix console feedback loop - verification system now working correctly
  test_console_fix.md
  verification/history.txt
  verification/verification_cf6734f0d281/client-logs.txt
  verification/verification_cf6734f0d281/server-logs.txt
  verification/verification_cf6734f0d281/ui-capture.png
Labels: documentation

Fix console feedback loop - verification system now working correctly
  test_console_fix.md
  verification/history.txt
  verification/verification_cf6734f0d281/client-logs.txt
  verification/verification_cf6734f0d281/server-logs.txt
  verification/verification_cf6734f0d281/ui-capture.png
Labels: documentation

Create VerificationArtifact extension with git verification specialization
  __tests__/unit/js/artifacts/VerificationArtifact.test.cjs
  src/core/artifacts/VerificationArtifact.cjs
  verification/history.txt
  verification/verification_808fb82dda90/client-logs.txt
  verification/verification_808fb82dda90/server-logs.txt
  verification/verification_808fb82dda90/ui-capture.png
Labels: tests

Create VerificationArtifact extension with git verification specialization
  __tests__/unit/js/artifacts/VerificationArtifact.test.cjs
  src/core/artifacts/VerificationArtifact.cjs
  verification/history.txt
  verification/verification_808fb82dda90/client-logs.txt
  verification/verification_808fb82dda90/server-logs.txt
  verification/verification_808fb82dda90/ui-capture.png
Labels: tests

MAJOR: Replace git hook with VerificationArtifact inheritance system
  quick_commit_check.py
  quick_commit_check_legacy.py
  verification/history.txt
  verification/verification_d25477a70cdf/client-logs.txt
  verification/verification_d25477a70cdf/server-logs.txt
  verification/verification_d25477a70cdf/ui-capture.png
Labels: none

MAJOR: Replace git hook with VerificationArtifact inheritance system
  quick_commit_check.py
  quick_commit_check_legacy.py
  verification/history.txt
  verification/verification_d25477a70cdf/client-logs.txt
  verification/verification_d25477a70cdf/server-logs.txt
  verification/verification_d25477a70cdf/ui-capture.png
Labels: none

Fix VerificationArtifact method calls - use BaseArtifact interface correctly
  src/core/artifacts/VerificationArtifact.cjs
  verification/history.txt
  verification/verification_9368558f7070/client-logs.txt
  verification/verification_9368558f7070/server-logs.txt
  verification/verification_9368558f7070/ui-capture.png
Labels: none

Fix VerificationArtifact method calls - use BaseArtifact interface correctly
  src/core/artifacts/VerificationArtifact.cjs
  verification/history.txt
  verification/verification_9368558f7070/client-logs.txt
  verification/verification_9368558f7070/server-logs.txt
  verification/verification_9368558f7070/ui-capture.png
Labels: none

Test new VerificationArtifact git hook system end-to-end
  test_verification_system.md
  verification/history.txt
  verification/verification_ad6614e2c3b7/client-logs.txt
  verification/verification_ad6614e2c3b7/server-logs.txt
  verification/verification_ad6614e2c3b7/ui-capture.png
Labels: documentation

Test new VerificationArtifact git hook system end-to-end
  test_verification_system.md
  verification/history.txt
  verification/verification_ad6614e2c3b7/client-logs.txt
  verification/verification_ad6614e2c3b7/server-logs.txt
  verification/verification_ad6614e2c3b7/ui-capture.png
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
