Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix(cognition): a spoken plan does not settle a workspace turn — three in a row do; the act-budget fact stops printing usize::MAX
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

fix(bench): the lane cap counts in-flight cards from the BOARD, and a pull waits for its claim to land
  core/continuum-core/src/persona/service_loop.rs
Labels: none

test(cognition): the zero-change speak test follows the narration budget
  core/continuum-core/src/cognition/act_observe/mod.rs
  core/continuum-core/src/cognition/act_observe/settle.rs
Labels: none

refactor(persona): the pull policy lives in persona/work_pull.rs (pure code motion)
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_pull.rs
Labels: none

refactor(persona): the work-turn text builders live in persona/work_burst.rs (pure code motion)
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_burst.rs
Labels: none

fix(bench): the resume watchdog re-fires detached rounds only — a citizen round's cards are pulled, never pushed
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

fix(bench): an open card has no owner — the label is a claim attribute
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(bench): the citizen card body says where her hands stand and that nothing starts by itself
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(persona): a claim stays held while she works — the pulse counts self-cycles, renewals run every 5 min, and a lapsed own hold is re-claimed
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(bench): a run counts for a card only if it is newer than the round
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

test(bench): round literals carry opened_at_ms
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

fix(persona): a lapsed hold is recovered only when she holds nothing else — WIP=1 survives the recovery
  core/continuum-core/src/persona/airc_runtime.rs
Labels: none

docs(architecture): the activity reconciler — startup and resume without a hand
  CLAUDE.md
  docs/architecture/ACTIVITY-RECONCILER.md
Labels: documentation

feat(grid): install the generic cross-grid transport — it was built, green, and never turned on
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/routing/airc_transport.rs
  core/continuum-core/src/routing/mod.rs
Labels: none

feat(persona): idle citizens yield the lanes to the holders, and the resume block is scoped to her held card
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_burst.rs
  core/continuum-core/src/persona/work_pull.rs
Labels: none

feat(cognition): where her hands stand is one truth — receipts carry it, the map renders it, a switch retires the other card's traces
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/working_memory.rs
  core/continuum-core/src/persona/workspace_map_source.rs
Labels: none

fix(bench): a settle in a citizen round never pushes a detached solve onto the next card
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

feat(persona): a citizen holding a card lives at that repo in every turn, and the map re-renders on a root change
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/persona/grounding_invalidation.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/supervisor.rs
Labels: none

fix(install): Windows native install actually installs — cmake 4.4.2 pin, version-floor upgrades, winget arm
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/shared/preflight.sh
Labels: none

fix(tests): persona_command_inbound_pump fixture uses ..Default::default() — #1952's new sampling knobs broke the explicit-None initializer
  core/continuum-core/tests/persona_command_inbound_pump.rs
Labels: none

fix(persona): a lapsed hold on a paused round is not recovered
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/persona/airc_runtime.rs
Labels: none

fix(install): Windows native install actually installs — cmake 4.4.2 pin, version-floor upgrades, winget arm (#3691)
  tools/scripts/generated/manifest.windows.ps1
  tools/scripts/generated/manifest.windows.sh
  tools/scripts/install-manifest.toml
  tools/scripts/lib/win-modules.ps1
  tools/scripts/shared/preflight.sh
Labels: none

ci: compile the test-fixtures-gated integration targets — they were built by nobody
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

fix(tests): persona_command_inbound_pump fixture uses ..Default::default() — #1952's new sampling knobs broke the explicit-None initializer (#3692)
  core/continuum-core/tests/persona_command_inbound_pump.rs
Labels: none

test(cognition): working-memory entry literals carry scope; RoundSnapshot binding regenerated
  core/continuum-core/src/cognition/act_observe/perception.rs
  protocol/typescript/benchmark/RoundSnapshot.ts
Labels: none

probe(workspace): the map names the root it rendered from, and the root registry names what it recorded
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/persona/workspace_map_source.rs
Labels: none

perf(cognition): a work turn offers her hands, not the whole registry
  core/continuum-core/src/cognition/workspace.rs
Labels: none

feat(ctm): --provider on generate — the consumer CLI could not make the one request the substrate accepts
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
Labels: none

docs(ctm): --model comment no longer claims the selector picks a default (review nit on #3694)
  apps/cli/src/main.rs
Labels: none

chore(tests): every TextGenerationRequest fixture uses ..Default::default() — and the second test #1952 broke compiles again
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
  core/continuum-core/tests/architecture_cross_grid_chaos.rs
  core/continuum-core/tests/architecture_federated_alignment.rs
  core/continuum-core/tests/footprint_registry_integration.rs
  core/continuum-core/tests/multi_adapter_boot_integration.rs
Labels: none

perf(cognition): a work turn offers her hands, not the whole registry
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

feat(ctm): --provider on generate — the consumer CLI could not make the one request the substrate accepts (#3694)
  apps/cli/src/grid_smoke.rs
  apps/cli/src/main.rs
Labels: none

chore(tests): every TextGenerationRequest fixture uses ..Default::default() — and the second test #1952 broke compiles again (#3695)
  core/continuum-core/tests/airc_remote_inference_end_to_end.rs
  core/continuum-core/tests/airc_remote_inference_roundtrip.rs
  core/continuum-core/tests/architecture_cross_grid_chaos.rs
  core/continuum-core/tests/architecture_federated_alignment.rs
  core/continuum-core/tests/footprint_registry_integration.rs
  core/continuum-core/tests/multi_adapter_boot_integration.rs
Labels: none

fix(ci+persona): the four crate-wide guards; a held card roots her hands every turn without trusting the registry; a failed edit is not a write
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/cognition/directed_pending.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/commands/persona/vitals.rs
  core/continuum-core/src/commands/serving/cache_probe.rs
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/modules/work.rs
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/grounding_invalidation.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_burst.rs
  core/continuum-core/src/persona/work_pull.rs
Labels: none

perf(cognition): a work turn perceives a compact past — newest three acts in full, older ones collapsed, and only her own cards on the board
  core/continuum-core/src/cognition/working_memory.rs
  core/continuum-core/src/persona/room_board_source.rs
Labels: none

fix(ai): the ai/generate refusal names the models the lanes serve — a caller can act on it
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(boot): spawn the airc daemon from the home that owns the socket — not the repo CWD
  core/continuum-core/src/boot_plan.rs
Labels: none

perf(persona): a working persona's room digest is the message plane only — no presence-class lines
  core/continuum-core/src/persona/airc_source.rs
Labels: none

fix(ai): served_model_ids() — a refusal names the VERIFIED lane model, never the catalog placeholder (review #1 on #3696)
  core/continuum-core/src/ai/adapter.rs
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/modules/ai_provider.rs
Labels: none

perf(persona): a citizen holding work wakes for a human line or a mention, never for agent status traffic
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none
