Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs: align continuum docker release flow
  README.md
  docs/INSTALL-ARCHITECTURE.md
  docs/SETUP.md
  install.ps1
  setup.sh
Labels: documentation

docs(AGENT-BACKBONE): add §11.2 bidirectional persona ↔ external-agent over airc
  docs/architecture/AGENT-BACKBONE-INTEGRATION.md
Labels: documentation

fix(#722): SystemOrchestrator spawns + supervises continuum-core-server
  src/daemons/data-daemon/server/ORMRustClient.ts
  src/system/orchestration/SystemMilestones.ts
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

feat(ai): ai/local-inference/{start,status} + clean up `_noParams: never` typing smell repo-wide
  src/commands/ai/local-inference/start/.npmignore
  src/commands/ai/local-inference/start/README.md
  src/commands/ai/local-inference/start/browser/AiLocalInferenceStartBrowserCommand.ts
  src/commands/ai/local-inference/start/package.json
  src/commands/ai/local-inference/start/server/AiLocalInferenceStartServerCommand.ts
  src/commands/ai/local-inference/start/shared/AiLocalInferenceStartTypes.ts
  src/commands/ai/local-inference/start/test/integration/AiLocalInferenceStartIntegration.test.ts
  src/commands/ai/local-inference/start/test/unit/AiLocalInferenceStartCommand.test.ts
  src/commands/ai/local-inference/status/.npmignore
  src/commands/ai/local-inference/status/README.md
  src/commands/ai/local-inference/status/browser/AiLocalInferenceStatusBrowserCommand.ts
  src/commands/ai/local-inference/status/package.json
  src/commands/ai/local-inference/status/server/AiLocalInferenceStatusServerCommand.ts
  src/commands/ai/local-inference/status/shared/AiLocalInferenceStatusTypes.ts
  src/commands/ai/local-inference/status/test/integration/AiLocalInferenceStatusIntegration.test.ts
  src/commands/ai/local-inference/status/test/unit/AiLocalInferenceStatusCommand.test.ts
  src/commands/code/shell/status/shared/CodeShellStatusTypes.ts
  src/commands/grid/setup-check/shared/GridSetupCheckTypes.ts
  src/commands/inference/capacity/shared/InferenceCapacityTypes.ts
  src/commands/interface/browser/capabilities/shared/InterfaceBrowserCapabilitiesTypes.ts
  src/commands/migration/pause/shared/MigrationPauseTypes.ts
  src/commands/migration/resume/shared/MigrationResumeTypes.ts
  src/commands/migration/status/shared/MigrationStatusTypes.ts
  src/commands/migration/verify/shared/MigrationVerifyTypes.ts
  src/commands/utilities/hello/shared/HelloTypes.ts
  src/eslint-baseline.txt
  src/generator/CommandAuditor.ts
  src/generator/TokenBuilder.ts
  src/generator/core/CommandFixerStrategies.ts
  src/generator/specs/ai-local-inference-start.json
  src/generator/specs/ai-local-inference-status.json
  src/generator/templates/command/shared-types.template.ts
Labels: documentation, tests, dependencies

feat(airc/send): first-class command wrapping `airc send` for persona outbox + dev-tooling
  src/commands/airc/send/.npmignore
  src/commands/airc/send/README.md
  src/commands/airc/send/browser/AircSendBrowserCommand.ts
  src/commands/airc/send/package.json
  src/commands/airc/send/server/AircSendServerCommand.ts
  src/commands/airc/send/shared/AircSendTypes.ts
  src/commands/airc/send/test/integration/AircSendIntegration.test.ts
  src/commands/airc/send/test/unit/AircSendCommand.test.ts
  src/eslint-baseline.txt
  src/generator/specs/airc-send.json
Labels: documentation, tests, dependencies

docs+fix: consolidate gap analysis to single doc + fix #977 browser regression + #978 nullish-coalescing cleanup
  docs/PRE-ALPHA-GAP-ANALYSIS.md
  docs/planning/ALPHA-GAP-ANALYSIS.md
  src/commands/ai/local-inference/start/server/AiLocalInferenceStartServerCommand.ts
  src/commands/ai/local-inference/status/server/AiLocalInferenceStatusServerCommand.ts
  src/system/orchestration/SystemMilestones.ts
Labels: documentation

fix(airc/send): set CWD + AIRC_HOME on spawned airc subprocess (M5-QA T7)
  src/commands/airc/send/server/AircSendServerCommand.ts
Labels: none

docs(gap-analysis): add chat-test findings F1/F2/F4 from M5 QA-Watcher session
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

fix(#977 Task 8): supervisor adopts inherited continuum-core-server via PID watcher
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

fix(#974, Phase A of #981): self-aware required-status-checks for non-Docker PRs
  .github/workflows/docker-images.yml
  docker-compose.yml
  docs/infrastructure/CI-AUTOMATION-PLAN.md
Labels: documentation, workflow

fix(generator): emit runtime $HOME resolution in shared/config.ts
  src/eslint-baseline.txt
  src/generator/generate-config.ts
Labels: none

docs(gap-analysis): mark NEW-C as DONE + add NEW-D Vulkan silent-download
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

fix(#954): wire setup-git-hooks into root postinstall
  package.json
Labels: dependencies

ci(docker-images): only fire on PRs to main (drop canary trigger)
  .github/workflows/docker-images.yml
  src/eslint-baseline.txt
Labels: workflow

ci(docker-images): only fire on PRs to main (drop canary trigger) (#986)
  .github/workflows/docker-images.yml
  src/eslint-baseline.txt
Labels: workflow

fix(#954): wire setup-git-hooks into root postinstall
  package.json
Labels: dependencies

fix(#964): repair broken ORT GPU EP cfg gating + centralize provider helper
  src/workers/continuum-core/src/inference/mod.rs
  src/workers/continuum-core/src/inference/ort_providers.rs
  src/workers/continuum-core/src/live/audio/stt/moonshine.rs
  src/workers/continuum-core/src/live/audio/tts/piper.rs
  src/workers/continuum-core/src/memory/embedding.rs
Labels: none

fix(install,#980-bug1): auto-install cmake on Mac (vendored llama.cpp prereq)
  install.sh
Labels: none

fix(#964): repair broken ORT GPU EP cfg gating + centralize provider helper (#985)
  package.json
  src/workers/continuum-core/src/inference/mod.rs
  src/workers/continuum-core/src/inference/ort_providers.rs
  src/workers/continuum-core/src/live/audio/stt/moonshine.rs
  src/workers/continuum-core/src/live/audio/tts/piper.rs
  src/workers/continuum-core/src/memory/embedding.rs
Labels: dependencies

fix(#980 Bug 5): isConfigured false for empty cloud-provider keys
  src/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
Labels: none

fix(start,#980-bug3): don't lie about seed success after seed failure
  src/scripts/parallel-start.sh
Labels: none

fix(install,#980-bug1): auto-install cmake on Mac (vendored llama.cpp prereq) (#987)
  install.sh
Labels: none

fix(start,#980-bug3): don't lie about seed success after seed failure (#989)
  src/scripts/parallel-start.sh
Labels: none

fix: add GPU EP to Kokoro/Orpheus/Silero ORT sessions (#964 series PR #2)
  src/workers/continuum-core/src/live/audio/tts/kokoro.rs
  src/workers/continuum-core/src/live/audio/tts/orpheus.rs
  src/workers/continuum-core/src/live/audio/vad/silero.rs
  src/workers/continuum-core/src/live/audio/vad/silero_raw.rs
Labels: none

fix(#980 Bug 2): raise rust-bindings timeout to 900s + env-override
  src/generator/generate-rust-bindings.ts
Labels: none

fix(#980 Bug 5): isConfigured false for empty cloud-provider keys (#988)
  src/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
Labels: none

fix(#980 Bug 2): raise rust-bindings timeout to 900s + env-override (#990)
  src/generator/generate-rust-bindings.ts
Labels: none

fix: add GPU EP to Kokoro/Orpheus/Silero ORT sessions (#964 series PR #2) (#991)
  src/workers/continuum-core/src/live/audio/tts/kokoro.rs
  src/workers/continuum-core/src/live/audio/tts/orpheus.rs
  src/workers/continuum-core/src/live/audio/vad/silero.rs
  src/workers/continuum-core/src/live/audio/vad/silero_raw.rs
Labels: none

fix(#980-bug4): supervisor visibility + IPC reconnect counter increments + Linux pgrep robustness + hook worktree path
  src/scripts/git-precommit.sh
  src/system/orchestration/SystemOrchestrator.ts
  src/workers/continuum-core/bindings/modules/base.ts
Labels: none

fix(#980-bug4): supervisor visibility + IPC reconnect counter increments + Linux pgrep robustness + hook worktree path (#992)
  src/scripts/git-precommit.sh
  src/system/orchestration/SystemOrchestrator.ts
  src/workers/continuum-core/bindings/modules/base.ts
Labels: none

fix(#980-bug6): replace Candle (training framework) with Docker Model Runner in providers/status
  src/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
Labels: none

fix(#980-bug6): replace Candle (training framework) with Docker Model Runner in providers/status (#993)
  src/commands/ai/providers/status/server/AIProvidersStatusServerCommand.ts
Labels: none

fix(#980-bug8): chat/send warns when no AI persona exists to listen
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
Labels: none

fix(#980-bug8): chat/send warns when no AI persona exists to listen (#994)
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
Labels: none

fix(#980-bug10): jtag CLI accepts JSON-blob as first positional arg
  src/cli.ts
Labels: none

fix(#980-bug10): jtag CLI accepts JSON-blob as first positional arg (#996)
  src/cli.ts
Labels: none

fix(#980-bug7): default ai/generate to 'local', never silent cloud fallback
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/commands/ai/generate/shared/AIGenerateTypes.ts
Labels: none

fix(#980-bug7): default ai/generate to 'local', never silent cloud fallback (#997)
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/commands/ai/generate/shared/AIGenerateTypes.ts
Labels: none

fix(gpu): hard-fail on no-GPU instead of silent CPU 25%-RAM fallback
  src/workers/continuum-core/src/gpu/memory_manager.rs
Labels: none

fix(gpu): hard-fail on no-GPU instead of silent CPU 25%-RAM fallback (#998)
  src/workers/continuum-core/src/gpu/memory_manager.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
