Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

Fix: Data validation gaps and dynamic command discovery (#191)
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/chat-send/server/ChatSendDebugServerCommand.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/commands/shell/execute/browser/ShellExecuteBrowserCommand.ts
  src/debug/jtag/commands/shell/execute/server/ShellExecuteServerCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteTypes.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/TaskEntity.ts
  src/debug/jtag/system/user/server/modules/ADAPTIVE-COMPLEXITY-ROUTING.md
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
Labels: documentation, dependencies

Fix: Data validation gaps and dynamic command discovery (#191)
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/chat-send/server/ChatSendDebugServerCommand.ts
  src/debug/jtag/commands/help/server/HelpServerCommand.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/commands/shell/execute/browser/ShellExecuteBrowserCommand.ts
  src/debug/jtag/commands/shell/execute/server/ShellExecuteServerCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteCommand.ts
  src/debug/jtag/commands/shell/execute/shared/ShellExecuteTypes.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/TaskEntity.ts
  src/debug/jtag/system/user/server/modules/ADAPTIVE-COMPLEXITY-ROUTING.md
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
Labels: documentation, dependencies

docs: Add Phase 2 Progressive Scoring implementation plan
  src/debug/jtag/system/user/server/modules/PHASE2-PROGRESSIVE-SCORING-PLAN.md
Labels: documentation

docs(phase2): Add comprehensive genomic integration and PEFT section
  src/debug/jtag/system/user/server/modules/PHASE2-PROGRESSIVE-SCORING-PLAN.md
Labels: documentation

docs(architecture): Add scalability architecture plan
  src/debug/jtag/system/user/server/modules/SCALABILITY-ARCHITECTURE.md
Labels: documentation

feat(phase2a): Implement Progressive Scoring foundation - types and scorer
  src/debug/jtag/system/shared/ComplexityTypes.ts
  src/debug/jtag/system/user/server/modules/ProgressiveScorer.ts
Labels: none

refactor(phase2a): Extract complexity detection into plug-and-play architecture
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/COMPLEXITY-DETECTOR-REFACTORING.md
  src/debug/jtag/system/user/server/modules/ComplexityDetector.ts
  src/debug/jtag/system/user/server/modules/ProgressiveScorer.ts
  src/debug/jtag/system/user/server/modules/RegexComplexityDetector.ts
Labels: documentation, dependencies

fix(file/save): Handle object content from XML tool calls
  src/debug/jtag/commands/file/save/server/FileSaveServerCommand.ts
Labels: none

refactor(params): Standardize file parameter naming to 'filepath' for consistency
  src/debug/jtag/commands/exec/shared/ExecCommand.ts
  src/debug/jtag/commands/exec/shared/ExecTransportUtils.ts
  src/debug/jtag/commands/exec/shared/ExecTypes.ts
  src/debug/jtag/commands/screenshot/shared/ScreenshotTypes.ts
Labels: none

fix(code/find): Add zero-results guidance and message field
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/code/find/shared/CodeFindTypes.ts
Labels: none

feat(code/find): Add semantic query detection to prevent conceptual searches
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
Labels: none

refactor(code/find): Rename to code/pattern-search per AI team consensus
  src/debug/jtag/commands/code/find/server/CodeFindServerCommand.ts
Labels: none

fix(structure): Regenerate after renaming code/find → code/pattern-search
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/code/pattern-search/server/CodeFindServerCommand.ts
  src/debug/jtag/commands/code/pattern-search/shared/CodeFindCommand.ts
  src/debug/jtag/commands/code/pattern-search/shared/CodeFindTypes.ts
  src/debug/jtag/server/generated.ts
Labels: none

test output and generation
  .gitignore
  CLAUDE.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

screenshot possibly working
  package-lock.json
  package.json
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/media/resize/browser/MediaResizeBrowserCommand.ts
  src/debug/jtag/commands/media/resize/server/MediaResizeServerCommand.ts
  src/debug/jtag/commands/media/resize/shared/MediaResizeTypes.ts
  src/debug/jtag/commands/screenshot/server/ScreenshotServerCommand.ts
  src/debug/jtag/daemons/command-daemon/shared/CommandBase.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/docs/CALLER-ADAPTIVE-OUTPUTS.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
  src/debug/jtag/system/recipes/gan-recipe.json
  src/debug/jtag/system/tools/server/ToolRegistry.ts
  src/debug/jtag/system/user/server/CallerDetector.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: documentation, dependencies

fix(screenshot): Increase resize target from 12% to 25% of context window
  src/debug/jtag/commands/screenshot/server/ScreenshotServerCommand.ts
Labels: none

process driven architecture.
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/memory/COLLABORATIVE-MEMORY.md
  src/debug/jtag/commands/memory/SESSION-SUMMARY.md
  src/debug/jtag/commands/memory/elevate-scope/shared/MemoryElevateScopeTypes.ts
  src/debug/jtag/commands/memory/recall/shared/MemoryRecallTypes.ts
  src/debug/jtag/commands/memory/remove/shared/MemoryRemoveTypes.ts
  src/debug/jtag/commands/memory/store/shared/MemoryStoreTypes.ts
  src/debug/jtag/commands/memory/update/shared/MemoryUpdateTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/data/entities/CognitionStateEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/COGNITION-INTELLIGENCE-INTEGRATION.md
  src/debug/jtag/system/user/server/modules/PersonaSubprocess.ts
  src/debug/jtag/system/user/server/modules/SUBPROCESS-PATTERN.md
  src/debug/jtag/system/user/server/modules/cognition/memory/CBAR-RTOS-ANALYSIS.md
  src/debug/jtag/system/user/server/modules/cognition/memory/FINAL-ARCHITECTURE.md
  src/debug/jtag/system/user/server/modules/cognition/memory/IMPLEMENTATION-STATUS.md
  src/debug/jtag/system/user/server/modules/cognition/memory/InMemoryCognitionStorage.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/InboxObserver.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/LEAN-CORE-LOOP-PATTERN.md
  src/debug/jtag/system/user/server/modules/cognition/memory/LongTermMemoryStore.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/MEMORY-CONSOLIDATION-ARCHITECTURE.md
  src/debug/jtag/system/user/server/modules/cognition/memory/MemoryConsolidationSubprocess.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/MemoryConsolidationWorker.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/RTOS-REFACTOR-COMPLETE.md
  src/debug/jtag/system/user/server/modules/cognition/memory/WorkingMemoryManager.ts
  src/debug/jtag/system/user/server/modules/cognition/memory/WorkingMemoryObserver.ts
  src/debug/jtag/tests/integration/memory-consolidation-worker.test.ts
Labels: documentation, tests, dependencies

docs cleanup .
  src/debug/jtag/.doc-staging/cognition/COGNITION-REVIEW.md
  src/debug/jtag/.doc-staging/cognition/architecture.md
  src/debug/jtag/.doc-staging/cognition/attentiveness-coordination.md
  src/debug/jtag/.doc-staging/cognition/decision-adapter-plan.md
  src/debug/jtag/.doc-staging/cognition/implementation-plan.md
  src/debug/jtag/.doc-staging/persona/DELETE-DECISIONS.md
  src/debug/jtag/.doc-staging/persona/PERSONA-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/persona/implementation-master-list.md
  src/debug/jtag/.doc-staging/persona/implementation-roadmap.md
  src/debug/jtag/.doc-staging/persona/interaction-design.md
  src/debug/jtag/.doc-staging/persona/performance-architecture.md
  src/debug/jtag/.doc-staging/persona/phase-3bis-complete.md
  src/debug/jtag/.doc-staging/persona/phase-3bis-migration.md
  src/debug/jtag/.doc-staging/persona/phase-3bis-revised.md
  src/debug/jtag/.doc-staging/persona/phase-6-implementation.md
  src/debug/jtag/.doc-staging/persona/phase2-progressive-scoring.md
  src/debug/jtag/.doc-staging/persona/refactoring-execution-plan.md
  src/debug/jtag/.doc-staging/persona/test-architecture.md
  src/debug/jtag/.doc-staging/persona/user-refactor-plan-2.md
  src/debug/jtag/.doc-staging/persona/user-refactor-plan.md
Labels: documentation

genome rework in staging
  src/debug/jtag/.doc-staging/cognition/COGNITION-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/commands/COMMANDS-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/genome/GENOME-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/genome/GENOME-DAEMON-RTOS.md
  src/debug/jtag/.doc-staging/genome/MULTI-LAYER-GENOME-ARCHITECTURE.md
  src/debug/jtag/.doc-staging/genome/PEFT-IMPLEMENTATION-STATUS.md
  src/debug/jtag/.doc-staging/genome/PERFORMANT-GENOME-ARCHITECTURE.md
  src/debug/jtag/.doc-staging/genome/adapter-consolidation.md
  src/debug/jtag/.doc-staging/genome/api-test-status.md
  src/debug/jtag/.doc-staging/genome/consolidation-complete.md
  src/debug/jtag/.doc-staging/genome/consolidation-status.md
  src/debug/jtag/.doc-staging/genome/immediate-roadmap.md
  src/debug/jtag/.doc-staging/genome/phase-2-plan.md
  src/debug/jtag/.doc-staging/genome/provider-consolidation.md
  src/debug/jtag/.doc-staging/genome/test-results.md
  src/debug/jtag/.doc-staging/memory/MEMORY-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/memory/rtos-implementation-status.md
  src/debug/jtag/.doc-staging/memory/rtos-refactor-summary.md
  src/debug/jtag/.doc-staging/memory/session-summary.md
Labels: documentation

last of docs staging
  src/debug/jtag/.doc-staging/architecture/ARCHITECTURE-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/architecture/conversation-refactoring.md
  src/debug/jtag/.doc-staging/architecture/event-coalescing.md
  src/debug/jtag/.doc-staging/architecture/rag-data-completeness.md
  src/debug/jtag/.doc-staging/architecture/rag-thought-coherence.md
  src/debug/jtag/.doc-staging/architecture/router-enhancement.md
  src/debug/jtag/.doc-staging/architecture/topic-detection-issue.md
  src/debug/jtag/.doc-staging/architecture/transport-assumptions.md
  src/debug/jtag/.doc-staging/commands/constants-architecture.md
  src/debug/jtag/.doc-staging/commands/git-implementation.md
  src/debug/jtag/.doc-staging/commands/git-roadmap.md
  src/debug/jtag/.doc-staging/commands/markdown-export.md
  src/debug/jtag/.doc-staging/coordination/COORDINATION-CLEANUP-SUMMARY.md
  src/debug/jtag/.doc-staging/coordination/coordinator-timing-fix.md
  src/debug/jtag/.doc-staging/coordination/turn-taking-progress.md
Labels: documentation

log consolidation
  src/debug/jtag/docs/MODERNIZATION-PLAN.md
  src/debug/jtag/docs/MULTI-MODEL-PERSONA-ARCHITECTURE.md
  src/debug/jtag/docs/PERSONA-MODERNIZATION-SUMMARY.md
  src/debug/jtag/docs/PERSONA-SYSTEM-AUDIT.md
  src/debug/jtag/docs/personas/GENOME-MANAGER-INTEGRATION.md
  src/debug/jtag/docs/personas/PERSONA-GENOMIC-ARCHITECTURE.md
  src/debug/jtag/docs/personas/PERSONAUSER-NEXT-PHASE.md
  src/debug/jtag/docs/personas/PERSONA_ENDTOEND_PLAN.md
  src/debug/jtag/docs/personas/PHASE-7-ROADMAP.md
  src/debug/jtag/docs/personas/PHASE-7-STATUS.md
  src/debug/jtag/docs/personas/REPRODUCIBLE-EXPERIMENTS-PLAN.md
  src/debug/jtag/docs/personas/SENTINEL-INTEGRATION-QUICKSTART.md
  src/debug/jtag/docs/personas/TESTING-GENOME-TRAINING.md
  src/debug/jtag/docs/personas/UNSLOTH-SETUP.md
Labels: documentation

hippocampus start
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaSubprocess.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
Labels: dependencies

dox
  src/debug/jtag/docs/PERSONA-MODERNIZATION-SUMMARY.md
  src/debug/jtag/docs/personas/GENOME-REVOLUTION.md
Labels: documentation

working logger process
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaLogger.ts
  src/debug/jtag/system/user/server/modules/PersonaSubprocess.ts
Labels: dependencies

hippocampus design document
  src/debug/jtag/system/user/server/modules/HIPPOCAMPUS-MEMORY-DESIGN.md
Labels: documentation

closer to memory working
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/MemoryTypes.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
Labels: dependencies

working persona memory storage
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/ARCHITECTURE-FIX-NEEDED.md
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/JsonFileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaLogger.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/AdaptiveConsolidationThreshold.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/NON-LINEAR-IMPORTANCE-DESIGN.md
  src/debug/jtag/system/user/server/modules/cognitive/memory/NonLinearMath.ts
Labels: documentation, dependencies

semantic adapter times out ollama
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/rag/builders/ChatRAGBuilder.ts
  src/debug/jtag/system/user/server/modules/PersonaResponseGenerator.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/HIPPOCAMPUS-ADVANCED-RETRIEVAL.md
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/MemoryConsolidationAdapter.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/RawMemoryAdapter.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/debug/jtag/tests/unit/memory/RawMemoryAdapter.test.ts
  src/debug/jtag/tests/unit/memory/SemanticCompressionAdapter.test.ts
Labels: documentation, tests, dependencies

work prior to rework for silly inference bs in adapter
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/NESTED-LEARNING-CONNECTION.md
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/debug/jtag/tests/unit/memory/SemanticCompressionAdapter.test.ts
Labels: documentation, tests, dependencies

Working semantic storage of memories
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/PERSONA-AS-INTERFACE.md
  src/debug/jtag/system/user/server/modules/cognitive/memory/adapters/SemanticCompressionAdapter.ts
  src/debug/jtag/tests/unit/memory/SemanticCompressionAdapter.test.ts
Labels: documentation, tests, dependencies

documents on vector searches of genome and memory, plus how it is architected
  src/debug/jtag/system/search/SEMANTIC-SEARCH-ARCHITECTURE.md
  src/debug/jtag/system/user/server/modules/PERSONA-GENOME-VECTOR-SEARCH.md
  src/debug/jtag/system/user/server/modules/cognitive/memory/HIPPOCAMPUS-VECTOR-RETRIEVAL.md
Labels: documentation

docs in the right places, p2p mesh search
  CLAUDE.md
  src/debug/jtag/docs/architecture/P2P-MESH-ARCHITECTURE.md
  src/debug/jtag/docs/architecture/SEMANTIC-SEARCH-ARCHITECTURE.md
  src/debug/jtag/docs/genome/PERSONA-GENOME-VECTOR-SEARCH.md
  src/debug/jtag/docs/personas/HIPPOCAMPUS-VECTOR-RETRIEVAL.md
  src/debug/jtag/docs/recipes/RECIPE-DRIVEN-INVENTION.md
Labels: documentation

vector searching and doc updates for semantic search
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/VECTOR-SEARCH-ARCHITECTURE.md
  src/debug/jtag/daemons/data-daemon/server/VectorSearchAdapterBase.ts
  src/debug/jtag/daemons/data-daemon/shared/VectorSearchTypes.ts
  src/debug/jtag/docs/personas/COORDINATION-BRAINWAVES-VISION.md
  src/debug/jtag/docs/personas/HIPPOCAMPUS-ADVANCED-RETRIEVAL.md
  src/debug/jtag/docs/personas/HIPPOCAMPUS-MEMORY-DESIGN.md
  src/debug/jtag/docs/personas/NESTED-LEARNING-CONNECTION.md
  src/debug/jtag/docs/personas/NON-LINEAR-IMPORTANCE-DESIGN.md
  src/debug/jtag/docs/personas/PERSONA-AS-INTERFACE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

vector search architecture
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/generate-embedding/browser/GenerateEmbeddingBrowserCommand.ts
  src/debug/jtag/commands/data/generate-embedding/server/GenerateEmbeddingServerCommand.ts
  src/debug/jtag/commands/data/generate-embedding/shared/GenerateEmbeddingCommandTypes.ts
  src/debug/jtag/commands/data/vector-search/browser/VectorSearchBrowserCommand.ts
  src/debug/jtag/commands/data/vector-search/server/VectorSearchServerCommand.ts
  src/debug/jtag/commands/data/vector-search/shared/VectorSearchCommandTypes.ts
  src/debug/jtag/daemons/data-daemon/server/VECTOR-SEARCH-ARCHITECTURE.md
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/VectorSearchTypes.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

cleanup
  .clauderc
  .gptrc
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

docs: Add hierarchical reflexive architecture and collaborative memory
  docs/COLLABORATIVE-MEMORY-TELEPATHY.md
  docs/HIERARCHICAL-REFLEXIVE-ARCHITECTURE.md
Labels: documentation

textarea fixes
  .github/dependabot.yml
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/adapters/TextMessageAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies, workflow

docs: Add Collaborative Memory Telepathy research paper
  papers/NOVEL-CONCEPTS-TO-ADD.md
  papers/README.md
  papers/collaborative-memory-telepathy/paper.md
Labels: documentation

docs: Add Phase 3 Cognition & Tool Calling plan
  src/debug/jtag/docs/personas/PHASE3-COGNITION-TOOLS-PLAN.md
Labels: documentation

docs: Add Phase 3 Cognition & Tool Calling plan
  src/debug/jtag/docs/personas/PHASE3-COGNITION-TOOLS-PLAN.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
