Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(vdd): live persona-turn replay fixture — schema + writer + reader (#1429)
  src/workers/continuum-core/src/vdd/mod.rs
  src/workers/continuum-core/src/vdd/turn_replay.rs
Labels: none

refactor(model-registry): fold src/models/ (discovery layer) into model_registry/
  src/workers/continuum-core/src/lib.rs
  src/workers/continuum-core/src/model_registry/discovery.rs
  src/workers/continuum-core/src/model_registry/mod.rs
  src/workers/continuum-core/src/modules/models.rs
Labels: none

refactor(model-registry): fold src/models/ (discovery layer) into model_registry/ (#1430)
  src/workers/continuum-core/src/lib.rs
  src/workers/continuum-core/src/model_registry/discovery.rs
  src/workers/continuum-core/src/model_registry/mod.rs
  src/workers/continuum-core/src/modules/models.rs
Labels: none

docs(airc): update AGENT-BACKBONE-INTEGRATION for the post-rewrite substrate
  docs/CONTINUUM-ARCHITECTURE.md
  docs/QUEUE-DRIVEN-COGNITION.md
  docs/architecture/AGENT-BACKBONE-INTEGRATION.md
Labels: documentation

docs(airc): update AGENT-BACKBONE-INTEGRATION for the post-rewrite substrate (#1431)
  docs/CONTINUUM-ARCHITECTURE.md
  docs/QUEUE-DRIVEN-COGNITION.md
  docs/architecture/AGENT-BACKBONE-INTEGRATION.md
Labels: documentation

feat(airc): dual-write chat sends to typed airc envelopes
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  docs/grid/generated/chat-to-airc-inventory.md
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/commands/collaboration/chat/send/shared/ChatSendTypes.ts
  src/eslint-baseline.linux.txt
  src/system/airc-chat/server/AircChatDualWriteService.ts
  src/system/airc-chat/server/AircChatPublisher.ts
  src/system/airc-chat/shared/AircChatEnvelope.ts
  src/system/airc-chat/test/unit/AircChatDualWriteServiceCheck.ts
  src/system/airc-chat/test/unit/AircChatEnvelopeCheck.ts
Labels: documentation

feat(airc): dual-write chat sends to typed airc envelopes (#1432)
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  docs/grid/generated/chat-to-airc-inventory.md
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/commands/collaboration/chat/send/shared/ChatSendTypes.ts
  src/eslint-baseline.linux.txt
  src/system/airc-chat/server/AircChatDualWriteService.ts
  src/system/airc-chat/server/AircChatPublisher.ts
  src/system/airc-chat/shared/AircChatEnvelope.ts
  src/system/airc-chat/test/unit/AircChatDualWriteServiceCheck.ts
  src/system/airc-chat/test/unit/AircChatEnvelopeCheck.ts
Labels: documentation

feat(airc): use structured publish for chat dual-write
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  docs/grid/generated/chat-to-airc-inventory.md
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/system/airc-chat/server/AircChatPublisher.ts
  src/system/airc-chat/test/unit/AircChatDualWriteServiceCheck.ts
  src/system/airc-chat/test/unit/AircChatPublisherCheck.ts
Labels: documentation

docs(airc): C2 — adapter surface for consuming airc-lib without shelling out
  docs/architecture/AIRC-ADAPTER-SURFACE.md
Labels: documentation

feat(airc): use structured publish for chat dual-write (#1433)
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  docs/grid/generated/chat-to-airc-inventory.md
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
  src/system/airc-chat/server/AircChatPublisher.ts
  src/system/airc-chat/test/unit/AircChatDualWriteServiceCheck.ts
  src/system/airc-chat/test/unit/AircChatPublisherCheck.ts
Labels: documentation

test(airc): add chat dual-write smoke proof
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  scripts/ci/canary-smoke-chat-dual-write.sh
  scripts/ci/canary-smoke-matrix.sh
  src/tests/precommit/chat-airc-dual-write-smoke.test.ts
Labels: documentation, tests

test(airc): add chat dual-write smoke proof (#1435)
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  scripts/ci/canary-smoke-chat-dual-write.sh
  scripts/ci/canary-smoke-matrix.sh
  src/tests/precommit/chat-airc-dual-write-smoke.test.ts
Labels: documentation, tests

docs(airc): C2 v2 — address review on continuum#1434
  docs/architecture/AIRC-ADAPTER-SURFACE.md
Labels: documentation

docs(chat-airc): Stage 1 → 2 design + decision resolutions for #6b564a9a
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
Labels: documentation

feat(airc): project active realtime subscriptions
  src/shared/generated/airc/AircRealtimePublishResult.ts
  src/shared/generated/airc/AircRealtimeReplayParams.ts
  src/shared/generated/airc/AircRealtimeReplayResult.ts
  src/workers/continuum-core/src/airc/realtime.rs
  src/workers/continuum-core/src/airc/realtime_store.rs
Labels: none

feat(airc): project active realtime subscriptions (#1437)
  src/shared/generated/airc/AircRealtimePublishResult.ts
  src/shared/generated/airc/AircRealtimeReplayParams.ts
  src/shared/generated/airc/AircRealtimeReplayResult.ts
  src/workers/continuum-core/src/airc/realtime.rs
  src/workers/continuum-core/src/airc/realtime_store.rs
Labels: none

feat(airc): project active realtime subscriptions (#1437)
  src/shared/generated/airc/AircRealtimePublishResult.ts
  src/shared/generated/airc/AircRealtimeReplayParams.ts
  src/shared/generated/airc/AircRealtimeReplayResult.ts
  src/workers/continuum-core/src/airc/realtime.rs
  src/workers/continuum-core/src/airc/realtime_store.rs
Labels: none

feat(chat-airc): add mirror writer skeleton
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  src/system/airc-chat/server/AircChatMirrorMapper.ts
  src/system/airc-chat/server/AircChatMirrorTypes.ts
  src/system/airc-chat/server/AircToORMMirrorWriter.ts
  src/system/airc-chat/test/unit/AircChatEnvelopeCheck.ts
  src/system/airc-chat/test/unit/AircToORMMirrorWriterCheck.ts
  src/tsconfig.eslint.json
  src/tsconfig.json
Labels: documentation

feat(chat-airc): add Stage 2 mirror writer skeleton (#1436)
  docs/grid/CHAT-TO-AIRC-MIGRATION-PROOF-GATES.md
  src/system/airc-chat/server/AircChatMirrorMapper.ts
  src/system/airc-chat/server/AircChatMirrorTypes.ts
  src/system/airc-chat/server/AircToORMMirrorWriter.ts
  src/system/airc-chat/test/unit/AircChatEnvelopeCheck.ts
  src/system/airc-chat/test/unit/AircToORMMirrorWriterCheck.ts
  src/tsconfig.eslint.json
  src/tsconfig.json
Labels: documentation

oxidizer: AIGenerateServerCommand → cognition/generate-response shim
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/eslint-baseline.txt
Labels: none

oxidizer: AIGenerateServerCommand → cognition/generate-response shim (#1438)
  src/commands/ai/generate/server/AIGenerateServerCommand.ts
  src/eslint-baseline.txt
Labels: none

docs(grid): GRID-BUS-ARCHITECTURE — airc as universal bus + grid substrate
  docs/architecture/GRID-BUS-ARCHITECTURE.md
Labels: documentation

docs(grid): append honest finding on alloy generalization gap
  docs/architecture/GRID-BUS-ARCHITECTURE.md
Labels: documentation

docs(grid): correct appendix — alloy is already universal, Path A/B was reinvention
  docs/architecture/GRID-BUS-ARCHITECTURE.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS.md strawman — multi-author seed
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS §2/§6/§7/§8 refinements + corrections
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS §3 quorum model — pinned defaults + edge cases
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS §4.1 genome paging — concrete event schemas + FETCH/DELEGATE decision tree
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS §4.4 multi-peer RAG — privacy-at-source + re-rank math + namespace contract
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

docs(grid): GRID-MIGRATION-ROADMAP — 37-item phased migration checklist
  docs/grid/GRID-MIGRATION-ROADMAP.md
Labels: documentation

docs(grid): MULTI-PEER-COMMANDS §5 handle distribution — TS-side spec
  docs/architecture/MULTI-PEER-COMMANDS.md
Labels: documentation

feat(airc): add typed event transport seam
  src/workers/continuum-core/src/airc/event_transport.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/modules/airc.rs
Labels: none

feat(airc): add typed event transport seam (#1443)
  src/workers/continuum-core/src/airc/event_transport.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/modules/airc.rs
Labels: none

feat(commands): add typed execution scope
  src/commands/airc/send/browser/AircSendBrowserCommand.ts
  src/commands/airc/send/server/AircSendServerCommand.ts
  src/commands/collaboration/decision/propose/server/DecisionProposeServerCommand.ts
  src/commands/collaboration/decision/propose/shared/DecisionProposeTypes.ts
  src/commands/grid/send/browser/GridSendBrowserCommand.ts
  src/commands/grid/send/server/GridSendServerCommand.ts
  src/commands/skill/list/server/SkillListServerCommand.ts
  src/commands/skill/list/shared/SkillListTypes.ts
  src/commands/skill/propose/server/SkillProposeServerCommand.ts
  src/commands/skill/propose/shared/SkillProposeTypes.ts
  src/daemons/command-daemon/shared/CommandBase.ts
  src/daemons/command-daemon/shared/CommandDaemon.ts
  src/system/core/types/JTAGTypes.ts
Labels: none

chore: lower linux eslint baseline
  src/eslint-baseline.linux.txt
Labels: none

feat(commands): add typed execution scope (#1444)
  src/commands/airc/send/browser/AircSendBrowserCommand.ts
  src/commands/airc/send/server/AircSendServerCommand.ts
  src/commands/collaboration/decision/propose/server/DecisionProposeServerCommand.ts
  src/commands/collaboration/decision/propose/shared/DecisionProposeTypes.ts
  src/commands/grid/send/browser/GridSendBrowserCommand.ts
  src/commands/grid/send/server/GridSendServerCommand.ts
  src/commands/skill/list/server/SkillListServerCommand.ts
  src/commands/skill/list/shared/SkillListTypes.ts
  src/commands/skill/propose/server/SkillProposeServerCommand.ts
  src/commands/skill/propose/shared/SkillProposeTypes.ts
  src/daemons/command-daemon/shared/CommandBase.ts
  src/daemons/command-daemon/shared/CommandDaemon.ts
  src/eslint-baseline.linux.txt
  src/system/core/types/JTAGTypes.ts
Labels: none

feat(events,L1-1): EventClass declaration system + registry
  src/clippy-baseline.txt
  src/shared/generated/events/EventClassChannelStrategy.ts
  src/shared/generated/events/EventClassConfig.ts
  src/shared/generated/events/EventClassUnknownSchemaPolicy.ts
  src/shared/generated/events/ResolvedEventClassConfig.ts
  src/shared/generated/events/index.ts
  src/shared/generated/governor/index.ts
  src/shared/generated/index.ts
  src/shared/generated/inference_capability/index.ts
  src/system/core/shared/Events.ts
  src/system/events/index.ts
  src/system/events/shared/EventClass.ts
  src/system/events/shared/EventSystemTypes.ts
  src/tests/unit/core/event-class-registry.test.ts
  src/tsconfig.eslint.json
  src/workers/continuum-core/bindings/RustCoreIPC.ts
  src/workers/continuum-core/bindings/modules/events.ts
  src/workers/continuum-core/bindings/modules/index.ts
  src/workers/continuum-core/src/events/event_class.rs
  src/workers/continuum-core/src/events/event_class_registry.rs
  src/workers/continuum-core/src/events/mod.rs
  src/workers/continuum-core/src/ipc/mod.rs
  src/workers/continuum-core/src/lib.rs
  src/workers/continuum-core/src/modules/events.rs
  src/workers/continuum-core/src/modules/mod.rs
Labels: tests

feat(airc): add peer manifest capability index
  src/shared/generated/airc/AircCapabilityIndexEntry.ts
  src/shared/generated/airc/AircPeerCapability.ts
  src/shared/generated/airc/AircPeerManifest.ts
  src/shared/generated/airc/AircRealtimePayload.ts
  src/shared/generated/airc/AircRealtimePublishResult.ts
  src/shared/generated/airc/AircRealtimeReplayParams.ts
  src/shared/generated/airc/AircRealtimeReplayResult.ts
  src/workers/continuum-core/src/airc/event_transport.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/airc/realtime.rs
  src/workers/continuum-core/src/airc/realtime_store.rs
  src/workers/continuum-core/src/modules/airc.rs
Labels: none

feat(airc): add peer manifest capability index (#1446)
  src/shared/generated/airc/AircCapabilityIndexEntry.ts
  src/shared/generated/airc/AircPeerCapability.ts
  src/shared/generated/airc/AircPeerManifest.ts
  src/shared/generated/airc/AircRealtimePayload.ts
  src/shared/generated/airc/AircRealtimePublishResult.ts
  src/shared/generated/airc/AircRealtimeReplayParams.ts
  src/shared/generated/airc/AircRealtimeReplayResult.ts
  src/workers/continuum-core/src/airc/event_transport.rs
  src/workers/continuum-core/src/airc/mod.rs
  src/workers/continuum-core/src/airc/realtime.rs
  src/workers/continuum-core/src/airc/realtime_store.rs
  src/workers/continuum-core/src/modules/airc.rs
Labels: none

ci(L1-1): lock the ESLint baseline win (5432 → 5431, linux)
  src/eslint-baseline.linux.txt
Labels: none
