Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix(tests): persona GGUF fixtures use canonical write_empty_gguf (#74 gate)
  core/continuum-core/src/persona/profile_builder.rs
  core/continuum-core/src/persona/spawner.rs
Labels: none

test(model_registry): serialize catalog-load tests under clean HOME (#72)
  core/continuum-core/src/model_registry/registry.rs
  core/continuum-core/src/model_registry/singleton.rs
Labels: none

chore(bindings): commit ts-rs output for 4 cognition/persona command results
  protocol/typescript/cognition/InboxDrainFrameResult.ts
  protocol/typescript/cognition/SemanticSearchToolsResult.ts
  protocol/typescript/cognition/VisionDescribeResult.ts
  protocol/typescript/persona/DrainTurnFrameResult.ts
Labels: none

fix(cognition): get_or_create_persona self-deadlock on live core (reentrant DashMap shard lock)
  core/continuum-core/src/modules/cognition.rs
Labels: none

feat(cognition): unify persona/turn-execute onto the ONE live settle_step
  core/continuum-core/src/commands/persona/turn_frame/execute.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/cognition.rs
  protocol/typescript/persona/TurnExecuteParams.ts
  protocol/typescript/persona/TurnExecuteResult.ts
Labels: none

fix(cognition): a failed inference is InferenceFailed, never a serene Passed
  core/continuum-core/src/cognition/act_observe.rs
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/cognition/workspace_capture.rs
  core/continuum-core/src/cognition/workspace_dashboard.rs
  core/continuum-core/src/commands/persona/turn_frame/execute.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

feat(cognition): model binding as the third shared ArcSwap handle (re-home seam slice 1)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/workspace.rs
Labels: none

feat(cognition): served-model re-home reconciler (re-home seam slice 2)
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/persona/supervisor.rs
Labels: none

feat(resources): #79 slice 1 — measured-footprint attribution axis + drift probe
  core/continuum-core/src/resources/daemon.rs
  core/continuum-core/src/resources/governor.rs
  core/continuum-core/src/resources/ledger.rs
  protocol/typescript/resources/ConsumerAttribution.ts
  protocol/typescript/resources/KindLedger.ts
  protocol/typescript/resources/LeaseBoard.ts
Labels: none

feat(resources): #79 slice 1 wiring — serving registers as a measured consumer at boot
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/resources/daemon.rs
Labels: none

feat(resources): #79 read surface — resources/board queryable accounting board
  core/continuum-core/src/commands/mod.rs
  core/continuum-core/src/commands/resources/board.rs
  core/continuum-core/src/commands/resources/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/mod.rs
  core/continuum-core/src/modules/resources_module.rs
  protocol/typescript/resources/ResourcesQuery.ts
Labels: none

feat(resources): #79 slice 2 — un-invert capacity to fixed ceiling + physical_used axis
  core/continuum-core/src/resources/capacity.rs
  core/continuum-core/src/resources/daemon.rs
  core/continuum-core/src/resources/governor.rs
  core/continuum-core/src/resources/ledger.rs
  protocol/typescript/resources/KindLedger.ts
Labels: none

feat(#79 slice A): fold KV-cache residency into serving footprint()
  core/continuum-core/src/cognition/serving_plan.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
  shared/generated/persona/ServingSnapshot.ts
Labels: none

feat(#79 slice B): tier-down reclaim lever via swappable TierDownPolicy seam
  core/continuum-core/src/modules/mod.rs
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/modules/serving_tier_down.rs
Labels: none

feat(resources): VoiceConsumer — the anti-kick live-session peer (#56)
  core/continuum-core/src/gpu/memory_manager.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/live/audio/resource_lifecycle.rs
  core/continuum-core/src/modules/live_session_consumer.rs
  core/continuum-core/src/modules/mod.rs
Labels: none

feat(resources): BevyConsumer — the renderer as the third resource peer (#56)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/modules/bevy_consumer.rs
  core/continuum-core/src/modules/mod.rs
Labels: none

feat(avatar): first-light bring-up harness — watch an avatar breathe
  core/continuum-core/examples/avatar_breathe.rs
Labels: none

refactor(avatar): SceneObject enum → trait (polymorphism over enums)
  core/continuum-core/src/live/video/bevy_renderer/commands.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/object.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/slot.rs
Labels: none

feat(avatar): hierarchical scene-graph SceneDescription + physics seam
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/live/video/bevy_renderer/scene/description.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/mod.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/physics.rs
  protocol/typescript/scene/AnimationProfileKind.ts
  protocol/typescript/scene/AssetKind.ts
  protocol/typescript/scene/AssetRef.ts
  protocol/typescript/scene/AvatarPayload.ts
  protocol/typescript/scene/CameraPayload.ts
  protocol/typescript/scene/ColliderDesc.ts
  protocol/typescript/scene/ColorDesc.ts
  protocol/typescript/scene/EnvironmentPayload.ts
  protocol/typescript/scene/LightDesc.ts
  protocol/typescript/scene/LightKind.ts
  protocol/typescript/scene/NodePayload.ts
  protocol/typescript/scene/PhysicsDesc.ts
  protocol/typescript/scene/PropPayload.ts
  protocol/typescript/scene/QuatDesc.ts
  protocol/typescript/scene/RigidBodyKind.ts
  protocol/typescript/scene/SceneDescription.ts
  protocol/typescript/scene/SceneNode.ts
  protocol/typescript/scene/TransformDesc.ts
  protocol/typescript/scene/Vec3Desc.ts
Labels: none

feat(avatar): scene::library resolve_scene (embed/override/fail-loud)
  core/continuum-core/src/live/video/bevy_renderer/scene/library.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/mod.rs
Labels: none

feat(avatar): renderer-agnostic coordinate adapter + load-time diagnostic
  core/continuum-core/src/live/video/bevy_renderer/commands.rs
  core/continuum-core/src/live/video/bevy_renderer/coordinate.rs
  core/continuum-core/src/live/video/bevy_renderer/mod.rs
Labels: none

feat(avatar): data-driven scene producers+consumer — Load arm collapses to birth→instantiate
  core/continuum-core/src/live/video/bevy_renderer/app.rs
  core/continuum-core/src/live/video/bevy_renderer/commands.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/birther.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/builder.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/builder_api.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/instantiate.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/lighting.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/mod.rs
Labels: none

feat(avatar): Slice 2 — the Animator seam (VLM-readiness keystone)
  core/continuum-core/src/live/video/bevy_renderer/animation/animator.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/blinking.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/body_gestures.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/breathing.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/components.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/expression.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/eye_gaze.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/idle_gestures.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/mod.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/pose.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/procedural.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/registry.rs
  core/continuum-core/src/live/video/bevy_renderer/animation/speaking.rs
  core/continuum-core/src/live/video/bevy_renderer/app.rs
  core/continuum-core/src/live/video/bevy_renderer/commands.rs
  protocol/typescript/animation/BonePose.ts
  protocol/typescript/animation/SkeletonPose.ts
Labels: none

fix(avatar): strip degenerate COLOR_0 so VRoid skin renders (black-skin fix)
  core/continuum-core/src/live/video/bevy_renderer/mesh_fixup.rs
  core/continuum-core/src/live/video/bevy_renderer/mod.rs
  core/continuum-core/src/live/video/bevy_renderer/scene/instantiate.rs
Labels: none

test(avatar): avatar_emote bring-up harness — prove the expression path is wired
  core/continuum-core/examples/avatar_emote.rs
Labels: none

feat(live): restore live LiveKit avatar video — Bevy frames → SFU, end-to-end
  core/continuum-core/examples/avatar_livekit.rs
  core/continuum-core/src/live/avatar/mod.rs
  core/continuum-core/src/live/avatar/video_pump.rs
  core/continuum-core/src/live/transport/bridge_client.rs
  core/continuum-core/src/modules/live.rs
  core/livekit-bridge/build.rs
  core/livekit-bridge/src/server.rs
Labels: none

feat(transport): WS thin-client Layer-0 seam — shared dispatch owner + wire types
  Cargo.lock
  core/continuum-airc-protocol/Cargo.toml
  core/continuum-airc-protocol/src/command.rs
  core/continuum-airc-protocol/src/lib.rs
  core/continuum-airc-protocol/src/ws.rs
  core/continuum-core/src/routing/auth_policy.rs
  core/continuum-core/src/routing/command_handler.rs
  core/continuum-core/src/routing/grid_trust_policy.rs
  protocol/typescript/transport/AircCommandRequest.ts
  protocol/typescript/transport/AircCommandResponse.ts
  protocol/typescript/transport/WsClientMessage.ts
  protocol/typescript/transport/WsServerMessage.ts
Labels: none

feat(ipc): WS ingress for the thin-client fleet — tokio-tungstenite listener
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/ws.rs
Labels: none

feat(sdk): task #29 Layer 0 — thin-client WebSocketTransport (TS)
  core/continuum-core/src/sdk_codegen/emit.rs
  sdk/typescript/WebSocketTransport.spec.ts
  sdk/typescript/WebSocketTransport.ts
  sdk/typescript/generated/wire/transport/AircCommandRequest.ts
  sdk/typescript/generated/wire/transport/AircCommandResponse.ts
  sdk/typescript/generated/wire/transport/WsClientMessage.ts
  sdk/typescript/generated/wire/transport/WsServerMessage.ts
  sdk/typescript/index.ts
Labels: tests

test(ipc/ws): real-socket e2e round-trip through the WS ingress
  core/continuum-core/src/ipc/ws.rs
Labels: none

feat(positron): run_session — the transport-generic live session task (2D-3)
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/connection.rs
  core/continuum-positron/src/dispatch.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/session_task.rs
Labels: none

feat(airc-protocol): WS envelope carries positron state frames (2D-3)
  core/continuum-airc-protocol/Cargo.toml
  core/continuum-airc-protocol/src/ws.rs
Labels: none

feat(ipc): WS adapter multiplexes RPC commands + positron state sessions
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_dispatch.rs
  core/continuum-core/src/ipc/ws.rs
  protocol/typescript/transport/WsClientMessage.ts
  protocol/typescript/transport/WsServerMessage.ts
Labels: none

feat(ipc): airc source wiring — project chat:posted + presence:updated into the positron Substrate
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/runtime/command_executor.rs
Labels: none

feat(positron): neutral thin chat:posted emitter + roster-resolved identity projection
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  docs/architecture/WIDGET-AS-STATE-KIND.md
Labels: documentation

feat(positron): presence emitter carrying identity cards + provenance slot
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  docs/architecture/ZERO-TRUST-IDENTITY-AND-FLOW.md
Labels: documentation

feat(positron): light up the WS roster from live airc presence
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_presence.rs
Labels: none

chore(deps): bump airc pin 305c319 → 70c6d55 (canary: room_roster_cards + fs-rendezvous + auto-trust)
  Cargo.lock
  Cargo.toml
Labels: none

fix(persona): drive directed live turns to settlement (converge, don't act-then-idle)
  core/continuum-core/src/cognition/act_observe.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(persona): anchor the waking message as the burst's final turn
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/commands/persona/turn_frame/execute.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
