Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs(install): define one repeatable native convergence command
  docs/SETUP.md
Labels: documentation

fix(deploy): the kill proves the process died and staging proves the slot is free — two discarded Results in one path
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(deploy): refuse the drain a caller cannot finish, and keep the pidfile when the kill did not take
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(deploy): secure teardown authority before anything irreversible — ordering, not messages
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(cli): report executable version without a running core
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/tests/cli_wire_contract.rs
Labels: none

fix(deploy): one handle binds the target — validate the process you will terminate, not a pid you looked up twice
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

docs(deploy): a held handle narrows the terminate window, it does not abolish it
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(work): the claim's origin is internal provenance, not a citizen's parameter — the shrink the agentic-surface ratchet asked for (#333)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): the claim's origin is internal provenance, not a citizen's parameter — the shrink the agentic-surface ratchet asked for (#333) (#4348)
  core/continuum-core/src/modules/work.rs
Labels: none

chore(warnings): five test-only imports move into their test mods — no deletions, no allows
  core/continuum-core/src/persona/profile_builder.rs
  core/continuum-core/src/persona/room_doctrine_source.rs
  core/continuum-core/src/persona/spawner.rs
  core/continuum-core/src/resources/ceiling_prior.rs
  core/continuum-core/src/routing/grid_capability.rs
Labels: none

fix(deploy): the kill proves the process died and staging proves the slot is free — two discarded Results in one path
  core/continuum-core/src/bin/continuum.rs
Labels: none

docs(deploy): a held handle narrows the terminate window, it does not abolish it
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(deploy): secure teardown authority before anything irreversible — ordering, not messages
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(deploy): one handle binds the target — validate the process you will terminate, not a pid you looked up twice
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(deploy): refuse the drain a caller cannot finish, and keep the pidfile when the kill did not take
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(serving): an empty completion is the LANE's failure — the latched-backend wedge finally reaches the health record (#4344)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/llama_server.rs
Labels: none

refactor(deploy): inject the drain so the elevated child stays a leaf
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

test(deploy): prove the teardown ORDER, and fix the Windows call only Windows could catch
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

probe(cognition): sample the drain's competitor BEFORE the drain, not only at it (card 608875a2)
  core/continuum-core/src/modules/cognition.rs
Labels: none

fix(cli): query installed task through service owner on Windows
  core/continuum-core/src/bin/continuum.rs
Labels: none

perf(ci): extract the CLI's platform lifecycle into a crate — 17 tests stop linking 624,456 lines (LNK1140)
  .github/workflows/continuum-rust-tests.yml
  Cargo.toml
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-cli-lifecycle/src/owned_engines.rs
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-cli-lifecycle/src/windows_launch.rs
  core/continuum-core/Cargo.toml
  core/continuum-core/src/bin/continuum.rs
Labels: workflow

fix(cli-lifecycle): the five real dependencies, the windows gate, and the stale #[path] — all four caught by building it (Astra's review)
  Cargo.lock
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-core/src/bin/continuum.rs
Labels: none

docs(cli-lifecycle): module docs carry the boundary rationale, not the conversation that produced it (Astra)
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/lib.rs
Labels: none

fix(cli-lifecycle): declare Windows scheduling clock dependency
  Cargo.lock
  core/continuum-cli-lifecycle/Cargo.toml
Labels: none

test(deploy): the two gaps named in review, and docs that keep the reason without the thread
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

perf(ci): extract the CLI's platform lifecycle into a crate — 17 tests stop linking 624,456 lines (LNK1140) (#4350)
  .github/workflows/continuum-rust-tests.yml
  Cargo.lock
  Cargo.toml
  core/continuum-cli-lifecycle/Cargo.toml
  core/continuum-cli-lifecycle/src/install_cli.rs
  core/continuum-cli-lifecycle/src/launchd.rs
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-cli-lifecycle/src/owned_engines.rs
  core/continuum-cli-lifecycle/src/supervisor_install.rs
  core/continuum-cli-lifecycle/src/windows_launch.rs
  core/continuum-core/Cargo.toml
  core/continuum-core/src/bin/continuum.rs
Labels: workflow

refactor(deploy): the teardown DECISION moves to the leaf; the OS authority stays
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(deploy): the teardown, whole — ordering wired, decision in the leaf, tests once
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(cli): report executable version without a running core
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/tests/cli_wire_contract.rs
Labels: none

fix(deploy): gate the macOS import, drop the unused one
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

fix(deploy): justify the four production unwraps the ratchet named
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
Labels: none

Clarify author and reviewer work tool contracts
  core/continuum-core/src/modules/work/submission.rs
Labels: none

fix(deploy): gate the macOS import, drop the unused one (#4351)
  core/continuum-cli-lifecycle/src/elevated_teardown.rs
  core/continuum-cli-lifecycle/src/lib.rs
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/bin/continuum/elevated_teardown.rs
  core/continuum-core/tests/cli_wire_contract.rs
Labels: none

Clarify author and reviewer work tool contracts
  core/continuum-core/src/modules/work/submission.rs
Labels: none

Resolve short shell handles within the owning session
  core/continuum-core/src/code/shell_session.rs
  core/continuum-core/src/id_resolve.rs
  core/continuum-core/src/modules/code_commands.rs
Labels: none

chore(warnings): five test-only imports move into their test mods — no deletions, no allows (#4347)
  core/continuum-core/src/persona/profile_builder.rs
  core/continuum-core/src/persona/room_doctrine_source.rs
  core/continuum-core/src/persona/spawner.rs
  core/continuum-core/src/resources/ceiling_prior.rs
  core/continuum-core/src/routing/grid_capability.rs
Labels: none

perf(ci): extract the source-hygiene ratchets into a std-only crate — time-to-red 12.4 min → 3.4 s (#4346)
  .github/workflows/source-hygiene.yml
  Cargo.lock
  Cargo.toml
  core/continuum-core/Cargo.toml
  core/continuum-core/src/gpu/backends/mod.rs
  core/continuum-core/src/lib.rs
  core/continuum-core/src/system_resources/memory_pressure.rs
  core/source-hygiene/Cargo.toml
  core/source-hygiene/src/boundary_serialization.rs
  core/source-hygiene/src/derived_bounds.rs
  core/source-hygiene/src/identity_discipline.rs
  core/source-hygiene/src/lib.rs
  core/source-hygiene/src/production_reachability.rs
  core/source-hygiene/src/subprocess_spawn.rs
  core/source-hygiene/src/tenant_neutrality.rs
  core/source-hygiene/src/test_mod_singularity.rs
  core/source-hygiene/src/unwrap_justification.rs
  core/source-hygiene/src/vendor_pin.rs
Labels: workflow

probe(cognition): sample the drain's competitor BEFORE the drain, not only at it (card 608875a2) (#4349)
  core/continuum-core/src/modules/cognition.rs
Labels: none

Keep work tool guidance within the existing surface budget
  core/continuum-core/src/modules/work/submission.rs
Labels: none

Regenerate work parameter documentation bindings
  protocol/typescript/work/WorkReviewParams.ts
  protocol/typescript/work/WorkSubmitParams.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
