Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix(work): a submit to the wrong room names the room that holds the card
  core/continuum-core/src/modules/work/submission.rs
Labels: none

fix(persona): resolve held project work by card checkout
  core/continuum-core/src/modules/card_staging.rs
  core/continuum-core/src/persona/act_question.rs
Labels: none

fix(cognition): re-pin the agentic surface at 13624, measured on the batch tip, naming #4557's wording
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(cognition): re-pin the agentic surface ceiling at the measured 13624 (canary red, card 470a0b66)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(workspace): align tool provisioning with selected work focus
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/persona/act_question.rs
Labels: none

fix(workspace): share actionable focus across turn and tools
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/work_focus.rs
Labels: none

fix(cognition): re-pin the agentic surface at 13624, measured on the batch tip, naming #4557's wording (#4568)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(work): the one-card reconciler acts on benchmark cards only, never a project card
  core/continuum-core/src/modules/benchmark_resume.rs
Labels: none

fix(activity): a spawn param given as a schema is named as one, and every type refusal shows the value form
  core/continuum-core/src/modules/activity.rs
Labels: none

feat(work): work/get says how long her claim has left, so nobody converts epoch ms by hand (card 5d447195) (#4561)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(persona): present work receipts without action allowance framing (#4563)
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_burst.rs
Labels: none

fix(persona): retain concrete successful write receipts (#4565)
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/work_burst.rs
Labels: none

fix(work): a submit to the wrong room names the room that holds the card (#4566)
  core/continuum-core/src/modules/work/submission.rs
Labels: none

fix(persona): resolve held project work by card checkout (#4567)
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/modules/card_staging.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/persona/act_question.rs
  core/continuum-core/src/persona/work_focus.rs
Labels: none

test(work): holding a card and naming no repo files the new card against the held card's repo
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): work/create reads her held card from the board, keeps read failures as failures, and refuses a blank repo
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): work/create takes the repo from the card she holds when she names none, and its help no longer hardcodes a repo
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): held_repo picks her card with focus_actionable_card, the selection her turns use
  core/continuum-core/src/modules/work.rs
Labels: none

fix(persona): keep progress checkpoint free of allowance counts
  core/continuum-core/src/persona/work_burst.rs
Labels: none

fix(work): trim work/create's field help back under the surface ceiling, and claim from the card's room in the default-path test
  core/continuum-core/src/modules/work.rs
Labels: none

fix(activity): activity/spawn's params help shows a value example, and the internal rationale leaves her tool schema
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(activity): the spawn tool schema types params values as string, number, boolean or list
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(activity): the refusal's list and object examples are valid JSON
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(persona): retain actionable work note in checkpoint
  core/continuum-core/src/persona/work_burst.rs
Labels: none

revert: drop the fixed params value schema; it narrowed what recipes may declare
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(work): work/create takes the repo from her held card; the help hardcodes no repo (#4571)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(work): the one-card reconciler acts on benchmark cards only, never a project card (#4572)
  core/continuum-core/src/modules/benchmark_resume.rs
Labels: none

fix(activity): a spawn param given as a schema is named as one; type refusals show the value form (#4573)
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(persona): remove allowance framing from progress checkpoint (#4574)
  core/continuum-core/src/persona/work_burst.rs
Labels: none

fix(eye-node): take the core endpoint from the launcher and never guess /tmp (card 4e8b1a92)
  apps/eye-node/README.md
  apps/eye-node/src/coreEndpoint.spec.ts
  apps/eye-node/src/coreEndpoint.ts
  apps/eye-node/src/index.ts
Labels: documentation, tests

fix(boot): pass authoritative endpoint to eye launchers
  core/continuum-core/src/boot_plan.rs
  tools/scripts/start-server.sh
Labels: none

fix(boot): restrict eye worker handle inheritance on Windows
  core/continuum-core/src/boot_plan.rs
Labels: none

fix(boot): give Windows providers the primary TCP endpoint
  core/continuum-core/src/boot_plan.rs
  core/continuum-core/src/ipc/endpoint_paths.rs
  core/continuum-core/src/ipc/mod.rs
Labels: none

docs(eye-node): Windows IPC is a local TCP listener, not a temp-dir socket
  apps/eye-node/README.md
  apps/eye-node/src/coreEndpoint.ts
Labels: documentation

fix(boot): resolve beside assets from repository root
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/boot_plan.rs
Labels: none

fix(staging): preserve interrupted checkouts before restaging
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

fix(boot): pass the core endpoint to both eye launch paths (#4577)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/boot_plan.rs
  core/continuum-core/src/ipc/endpoint_paths.rs
  core/continuum-core/src/ipc/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(eye-node): take the core endpoint from the launcher, never a guessed /tmp path (4e8b1a92) (#4576)
  apps/eye-node/README.md
  apps/eye-node/src/coreEndpoint.spec.ts
  apps/eye-node/src/coreEndpoint.ts
  apps/eye-node/src/index.ts
Labels: documentation, tests

fix(work): a submit of the same patch on the same claim is refused, naming the submission already there
  core/continuum-core/src/modules/work/submission.rs
Labels: none

fix(staging): an in-flight .cloning tree is never listed as a staged checkout
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/persona/staged_workspace.rs
Labels: none
