Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(positron): slices 2B+2C — Observe handler + Command dispatch with CommandFailed asymmetry (task #252)
  Cargo.lock
  core/continuum-positron/src/dispatch.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/observer.rs
  core/continuum-positron/src/session.rs
Labels: none

fix(positron): CommandDispatch takes whole envelope — preserve provenance
  core/continuum-positron/src/dispatch.rs
Labels: none

test(positron): end-to-end session-protocol smoke — typed payload round-trip through the whole chain
  core/continuum-positron/tests/session_roundtrip.rs
Labels: none

fix(positron): Broadcast cold-start hole — lazy-init from subscribe()
  core/continuum-positron/src/broadcast.rs
Labels: none

feat(positron): slice 2D-1 — per-kind watch::Sender broadcast primitive (task #252)
  core/continuum-positron/Cargo.toml
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/lib.rs
Labels: none

feat(positron): slices 2B+2C — Observe handler + Command dispatch (re-opens #1602) (#1605)
  Cargo.lock
  core/continuum-positron/src/dispatch.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/observer.rs
  core/continuum-positron/src/session.rs
  core/continuum-positron/tests/session_roundtrip.rs
Labels: none

feat(positron): continuum-positron substrate scaffold — typed ChatViewState + revisions + StateBuilder (§6 closes #793/#794/#773) (#1600)
  Cargo.lock
  Cargo.toml
  core/continuum-positron/.gitignore
  core/continuum-positron/Cargo.toml
  core/continuum-positron/src/cache.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/dispatch.rs
  core/continuum-positron/src/kinds.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/observer.rs
  core/continuum-positron/src/revisions.rs
  core/continuum-positron/src/session.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
Labels: none

feat(positron): slice 2D-1 — per-kind watch::Sender broadcast primitive (task #252)
  core/continuum-positron/Cargo.toml
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/lib.rs
Labels: none

fix(positron): Broadcast cold-start hole — lazy-init from subscribe()
  core/continuum-positron/src/broadcast.rs
Labels: none

fix(positron): cascade Substrate + Connection to new dispatch + broadcast shapes
  core/continuum-positron/src/connection.rs
  core/continuum-positron/src/substrate.rs
Labels: none

fix(positron): Broadcast cold-start hole — lazy-init from subscribe()
  core/continuum-positron/src/broadcast.rs
Labels: none

feat(positron): slice 2D-1 — per-kind watch::Sender broadcast primitive (task #252)
  core/continuum-positron/Cargo.toml
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/lib.rs
Labels: none

feat(positron): slice 2D-2 — Substrate coordinator + Connection state machine (task #252)
  core/continuum-positron/src/cache.rs
  core/continuum-positron/src/connection.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/substrate.rs
Labels: none

feat(positron): slice 2D-2 — Substrate coordinator + Connection state machine (#1604)
  core/continuum-positron/Cargo.toml
  core/continuum-positron/src/broadcast.rs
  core/continuum-positron/src/cache.rs
  core/continuum-positron/src/connection.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/substrate.rs
Labels: none

fix(positron): pin positron-core to v0.1.1 git tag
  Cargo.lock
  core/continuum-positron/Cargo.toml
Labels: none

fix(positron): pin positron-core to v0.1.1 git tag (#1606)
  Cargo.lock
  core/continuum-positron/Cargo.toml
Labels: none

Remove last widget->daemon imports: extract DOMInterestRegistry (card 5ce8f820)
  src/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/system/core/shared/Commands.ts
  src/widgets/browser/services/WidgetEventServiceBrowser.ts
  src/widgets/shared/BaseContentWidget.ts
  src/widgets/shared/BaseWidget.ts
  src/widgets/shared/services/DOMInterestRegistry.ts
  src/widgets/shared/test/unit/DOMInterestRegistry.test.ts
Labels: tests

fix(hooks): repair pre-commit breakage left by substrate-first layout move
  tools/generator/generate-entity-schemas.ts
  tools/scripts/git-precommit.sh
  tools/scripts/precommit-config.sh
Labels: none

fix(hooks): repair stale layout paths in git-prepush.sh
  tools/scripts/git-prepush.sh
Labels: none

docs: ECONOMY-ARCHITECTURE.md — grid economy doctrine (card a6ea7516) (#1599)
  docs/architecture/ECONOMY-ARCHITECTURE.md
  docs/papers/GRID-DECENTRALIZED-MARKETPLACE.md
Labels: documentation

feat(persona,client): demand-pull cognition + AircIpcTransport::subscribe (tasks #244/246/247/248/251/143) (#1597)
  client/continuum-client/Cargo.toml
  client/continuum-client/src/airc_ipc.rs
  client/continuum-client/src/lib.rs
  client/continuum-client/src/mock.rs
  core/continuum-airc-protocol/Cargo.toml
  core/continuum-airc-protocol/src/event.rs
  core/continuum-airc-protocol/src/lib.rs
  core/continuum-core/src/modules/channel.rs
  core/continuum-core/src/persona/channel_items.rs
  core/continuum-core/src/persona/channel_queue.rs
  core/continuum-core/src/persona/channel_registry.rs
  core/continuum-core/src/persona/channel_types.rs
  core/continuum-core/src/persona/channel_view.rs
  core/continuum-core/src/persona/evaluator/mod.rs
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/persona_identity.rs
  core/continuum-core/src/persona/service_module.rs
  core/continuum-core/src/routing/airc_event_transport.rs
  core/continuum-core/tests/architecture_demand_pull_cognition.rs
  core/continuum-core/tests/architecture_killer_loop_burst_cognition.rs
  docs/architecture/CHANNEL-ADAPTER-INTEGRATION.md
  docs/architecture/PROVING-THE-DOCTRINE.md
Labels: documentation

docs(persona): strip stale airc_chat_demo + service_once_for refs from in-tree doc comments
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/channel_registry.rs
  core/continuum-core/src/persona/channel_view.rs
  core/continuum-core/src/persona/host.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/spawner_module.rs
Labels: none

feat(persona): service_module batched cutover — service_burst_for via analyze_burst (task #249)
  core/continuum-core/src/persona/service_module.rs
Labels: none

feat(persona): service_module batched cutover via analyze_burst (task #249) (#1598)
  core/continuum-core/src/persona/airc_persona_conversation.rs
  core/continuum-core/src/persona/channel_registry.rs
  core/continuum-core/src/persona/channel_view.rs
  core/continuum-core/src/persona/host.rs
  core/continuum-core/src/persona/service_loop.rs
  core/continuum-core/src/persona/service_module.rs
  core/continuum-core/src/persona/spawner_module.rs
Labels: none

chore(bindings): commit DiskPressure ts-rs exports + barrel entry (card 837e78fc)
  protocol/typescript/system/DiskPathReport.ts
  protocol/typescript/system/DiskPressureLevel.ts
  protocol/typescript/system/DiskPressureSnapshot.ts
  protocol/typescript/system/index.ts
Labels: none

fix(codegen): repoint entity_schemas output to its tracked location (card 837e78fc)
  protocol/typescript/entity_schemas.json
  tools/generator/generate-entity-schemas.ts
Labels: none

docs(architecture): organism OS on the airc bus — the integrating map (f97999ae)
  docs/architecture/ORGANISM-OS-ARCHITECTURE.md
Labels: documentation

docs(architecture): accuracy pass — reframe in-flight work, fix PeerId/Ed25519 precision (card f97999ae)
  docs/architecture/ORGANISM-OS-ARCHITECTURE.md
Labels: documentation

docs: mark #1133 as merged to rust-rewrite (sentinel accuracy fix)
  docs/architecture/ORGANISM-OS-ARCHITECTURE.md
Labels: documentation

docs(architecture): ORGANISM-OS-ARCHITECTURE — the L0→L4 integrating map (card f97999ae) (#1610)
  docs/architecture/ORGANISM-OS-ARCHITECTURE.md
Labels: documentation

chore(deps): bump airc pin f6ed190 -> 7b7cdb2 (rust-rewrite tip) — unblock persona-as-peer
  Cargo.lock
  Cargo.toml
Labels: none

feat(paging): select_leases_to_revoke — pressure-driven lease revocation classifier (WIP, pending Linux validation)
  core/continuum-core/src/paging/lease_revocation.rs
  core/continuum-core/src/paging/mod.rs
Labels: none

build(toolchain): pin rust 1.95 — unblock continuum-core unit tests on stable
  Cargo.lock
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core-vulkan.Dockerfile
  docker/continuum-core.Dockerfile
  rust-toolchain.toml
Labels: none

build(toolchain): pin rust 1.95 — unblock continuum-core unit tests on stable (#1614)
  Cargo.lock
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core-vulkan.Dockerfile
  docker/continuum-core.Dockerfile
  rust-toolchain.toml
Labels: none

feat(paging): select_leases_to_revoke — pressure-driven lease revocation classifier (WIP, pending Linux validation) (#1613)
  core/continuum-core/src/paging/lease_revocation.rs
  core/continuum-core/src/paging/mod.rs
Labels: none

feat(inference): FootprintRegistry::revoke_leases_for — pressure-driven lease revocation (slice 2)
  core/continuum-core/src/inference/footprint_registry/mod.rs
  core/continuum-core/src/inference/footprint_registry/types.rs
Labels: none

chore(inference): drop redundant test-mod PressureTier import (reviewer nit, #1615)
  core/continuum-core/src/inference/footprint_registry/mod.rs
Labels: none

feat(inference): FootprintRegistry::revoke_leases_for — pressure-driven lease revocation (slice 2) (#1615)
  core/continuum-core/src/inference/footprint_registry/mod.rs
  core/continuum-core/src/inference/footprint_registry/types.rs
Labels: none

refactor(inference): collapse coordinator's revocation ladder onto the single disruption_rank (slice 3)
  core/continuum-core/src/inference/coordinator.rs
  core/continuum-core/src/paging/lease_revocation.rs
Labels: none

feat(governor): TierConfig + tier_configs_for — first realization slice (priority #3)
  core/continuum-core/src/genome/tier.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
