Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix(install): wait for seed to populate default room before declaring ready
  install.sh
Labels: none

fix(seed): readiness-file + HEALTHCHECK gate so widget-server blocks on seed
  docker-compose.yml
  docker/node-server.Dockerfile
  src/server/docker-entrypoint.ts
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

ci(smoke): capture per-container docker logs on failure
  .github/workflows/carl-install-smoke.yml
Labels: workflow

ci(smoke): capture docker logs INSIDE teardown before compose down
  scripts/ci/carl-install-smoke.sh
Labels: none

ci(smoke): headless screenshot of root page — Joel's question 'is the UI even loading'
  .github/workflows/carl-install-smoke.yml
  scripts/ci/carl-install-smoke.sh
Labels: workflow

feat(models): single source of truth — src/shared/models.json + registry-driven model-init
  docker/model-init.Dockerfile
  src/scripts/download-models.sh
  src/shared/ModelRegistry.ts
  src/shared/models.json
Labels: none

feat(models): personas use symbolic refs; seed resolves via registry; constants not magic strings
  install.sh
  src/scripts/seed/personas.ts
  src/server/seed-in-process.ts
  src/shared/ModelRegistry.ts
Labels: none

fix(seed): await seedDatabase before SERVER_READY (closes Room-not-found race)
  src/server/docker-entrypoint.ts
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

fix(seed): await seedDatabase before SERVER_READY (closes Room-not-found race) (#1041)
  src/server/docker-entrypoint.ts
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

feat(models): CandleAdapter resolves symbolic refs at request time
  src/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/scripts/build-with-loud-failure.ts
Labels: none

feat(models): Rust reads same src/shared/models.json — one SSOT for both runtimes
  src/shared/ModelRegistry.ts
  src/shared/generated/inference/ModelRegistry.ts
  src/shared/generated/inference/ModelRegistryEntry.ts
  src/shared/models.json
  src/workers/continuum-core/src/inference/candle_adapter.rs
  src/workers/continuum-core/src/inference/model_registry.json
Labels: none

ci(carl-smoke): advisory-pass AI-reply when only llvmpipe ICD is present
  scripts/ci/carl-install-smoke.sh
Labels: none

ci(carl-smoke): broaden no-GPU host detection (vulkaninfo not always present on runner)
  scripts/ci/carl-install-smoke.sh
Labels: none

fix(chat/send): fall back to seeded human owner when senderId doesn't resolve
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
Labels: none

ci(carl-smoke): advisory-pass AI-reply on llvmpipe-only ICD (#1042)
  scripts/ci/carl-install-smoke.sh
  src/commands/collaboration/chat/send/server/ChatSendServerCommand.ts
Labels: none

ci(carl-install-smoke): fix workflow_dispatch tag resolution + add image_tag input
  .github/workflows/carl-install-smoke.yml
Labels: workflow

fix(install): drop core variant, default to vulkan (Task #98) (#1038)
  .github/workflows/carl-install-smoke.yml
  docker-compose.yml
  docker/model-init.Dockerfile
  docker/node-server.Dockerfile
  install.sh
  scripts/ci/carl-install-smoke.sh
  scripts/test-slices.sh
  src/daemons/ai-provider-daemon/adapters/candle/shared/CandleAdapter.ts
  src/scripts/build-with-loud-failure.ts
  src/scripts/download-models.sh
  src/scripts/seed/personas.ts
  src/server/docker-entrypoint.ts
  src/server/seed-in-process.ts
  src/shared/ModelRegistry.ts
  src/shared/generated/inference/ModelRegistry.ts
  src/shared/generated/inference/ModelRegistryEntry.ts
  src/shared/models.json
  src/system/orchestration/SystemOrchestrator.ts
  src/workers/continuum-core/src/inference/candle_adapter.rs
  src/workers/continuum-core/src/inference/model_registry.json
Labels: workflow

ci(docker): stop auto-rebuilding stale images
  .github/workflows/docker-images.yml
  scripts/verify-image-revisions.sh
Labels: workflow

ci(docker): stop auto-rebuilding stale images
  .github/workflows/docker-images.yml
  scripts/verify-image-revisions.sh
Labels: workflow

fix(core): include model registry in docker builds
  docker-compose.yml
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core-vulkan.Dockerfile
  docker/continuum-core.Dockerfile
  scripts/push-image.sh
Labels: none

fix(core): include model registry in docker builds
  docker-compose.yml
  docker/continuum-core-cuda.Dockerfile
  docker/continuum-core-vulkan.Dockerfile
  docker/continuum-core.Dockerfile
  scripts/push-image.sh
Labels: none

fix(verify): drop continuum-core from DEFAULT_IMAGES (#1038 follow-up)
  scripts/verify-image-revisions.sh
Labels: none

fix(verify): drop continuum-core from DEFAULT_IMAGES (#1038 follow-up) (#1045)
  scripts/verify-image-revisions.sh
Labels: none

Add AIRC bridge harness for Continuum testing
  docs/grid/AIRC-CONTINUUM-BRIDGE.md
  src/commands/airc/bridge/README.md
  src/commands/airc/bridge/browser/AircBridgeBrowserCommand.ts
  src/commands/airc/bridge/package.json
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
  src/commands/airc/bridge/shared/AircBridgeCommand.ts
  src/commands/airc/bridge/shared/AircBridgeTypes.ts
  src/commands/airc/bridge/test/unit/AircBridgeProtocolCheck.ts
  src/scripts/continuum-airc-bridge.mjs
  src/system/airc-bridge/shared/AircBridgeProtocol.ts
Labels: documentation, dependencies

Make AIRC bridge response mirroring self-contained
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
Labels: none

Harden AIRC bridge directive handling
  docs/grid/AIRC-CONTINUUM-BRIDGE.md
  src/commands/airc/bridge/README.md
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
  src/commands/airc/bridge/shared/AircBridgeTypes.ts
  src/commands/airc/bridge/test/unit/AircBridgeProtocolCheck.ts
  src/system/airc-bridge/shared/AircBridgeProtocol.ts
Labels: documentation

fix(ui): canonicalize restored content tabs
  src/system/data/entities/UserStateEntity.ts
  src/system/state/ContentStateService.ts
  src/widgets/main/MainWidget.ts
Labels: none

docs(alpha): define stability roadmap
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

docs(alpha): fix issue mapping
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Fix empty content state after closing last tab
  src/system/state/ContentService.ts
  src/system/state/PageStateService.ts
  src/tests/unit/PageStateService.test.ts
  src/widgets/chat/room-list/RoomListWidget.ts
  src/widgets/main/MainWidget.ts
Labels: tests

Add VDD TDD alpha validation loop
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

Add AIRC bridge harness for Continuum testing
  docs/grid/AIRC-CONTINUUM-BRIDGE.md
  src/commands/airc/bridge/README.md
  src/commands/airc/bridge/browser/AircBridgeBrowserCommand.ts
  src/commands/airc/bridge/package.json
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
  src/commands/airc/bridge/shared/AircBridgeCommand.ts
  src/commands/airc/bridge/shared/AircBridgeTypes.ts
  src/commands/airc/bridge/test/unit/AircBridgeProtocolCheck.ts
  src/scripts/continuum-airc-bridge.mjs
  src/system/airc-bridge/shared/AircBridgeProtocol.ts
Labels: documentation, dependencies

Make AIRC bridge response mirroring self-contained
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
Labels: none

Harden AIRC bridge directive handling
  docs/grid/AIRC-CONTINUUM-BRIDGE.md
  src/commands/airc/bridge/README.md
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
  src/commands/airc/bridge/shared/AircBridgeTypes.ts
  src/commands/airc/bridge/test/unit/AircBridgeProtocolCheck.ts
  src/system/airc-bridge/shared/AircBridgeProtocol.ts
Labels: documentation

Add generator-backed AIRC bridge command
  src/browser/generated.ts
  src/commands/airc/bridge/.npmignore
  src/commands/airc/bridge/README.md
  src/commands/airc/bridge/browser/AircBridgeBrowserCommand.ts
  src/commands/airc/bridge/package.json
  src/commands/airc/bridge/server/AircBridgeServerCommand.ts
  src/commands/airc/bridge/shared/AircBridgeCommand.ts
  src/commands/airc/bridge/shared/AircBridgeTypes.ts
  src/commands/airc/bridge/test/unit/AircBridgeServerCommandCheck.ts
  src/generated-command-schemas.json
  src/generator/CommandNaming.ts
  src/generator/TokenBuilder.ts
  src/generator/generate-command-constants.ts
  src/generator/generate-command-schemas.ts
  src/generator/specs/airc-bridge.json
  src/generator/templates/command/shared-types.template.ts
  src/generator/test-command-spec-coverage.ts
  src/generator/validate-command-spec-coverage.ts
  src/package.json
  src/scripts/git-precommit.sh
  src/server/generated.ts
  src/shared/generated-command-constants.ts
Labels: documentation, dependencies

Fix persona response storm backpressure
  src/system/user/server/modules/PersonaInbox.ts
  src/system/user/server/modules/PersonaTimingConfig.ts
  src/system/user/server/tests/validation/PersonaInboxDebounce.test.ts
  src/workers/continuum-core/src/modules/ai_provider.rs
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/modules/embedding.rs
  src/workers/continuum-core/src/persona/evaluator.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: tests

Fix persona response storm backpressure (#1057)
  src/system/user/server/modules/PersonaInbox.ts
  src/system/user/server/modules/PersonaTimingConfig.ts
  src/system/user/server/tests/validation/PersonaInboxDebounce.test.ts
  src/workers/continuum-core/src/modules/ai_provider.rs
  src/workers/continuum-core/src/modules/cognition.rs
  src/workers/continuum-core/src/modules/embedding.rs
  src/workers/continuum-core/src/persona/evaluator.rs
  src/workers/continuum-core/src/runtime/runtime.rs
Labels: tests

Stabilize startup persona backpressure
  src/commands/data/list/server/DataListServerCommand.ts
  src/commands/user/create/server/UserCreateServerCommand.ts
  src/daemons/user-daemon/server/UserDaemonServer.ts
  src/scripts/launch-active-example.ts
  src/scripts/parallel-start.sh
  src/scripts/seed-continuum.ts
  src/scripts/spawn-detached.mjs
  src/system/coordination/server/BaseCoordinationStream.ts
  src/system/coordination/server/ChatCoordinationStream.ts
  src/system/core/system/server/ServiceInitializer.ts
  src/system/data/entities/BaseEntity.ts
  src/system/orchestration/SystemOrchestrator.ts
  src/system/user/server/PersonaLifecycleManager.ts
  src/system/user/server/PersonaUser.ts
  src/system/user/server/modules/PersonaAutonomousLoop.ts
  src/system/user/server/modules/PersonaMessageEvaluator.ts
  src/system/user/server/modules/StartupAutonomousWorkGate.ts
  src/tests/unit/chat-coordination-stream.test.ts
  src/tests/unit/service-initializer.test.ts
  src/tests/unit/shared-node-boundary.test.ts
  src/tests/unit/startup-autonomous-work-gate.test.ts
  src/workers/continuum-core/src/modules/channel.rs
  src/workers/continuum-core/src/orm/sqlite.rs
  src/workers/continuum-core/src/persona/self_task_generator.rs
  src/workers/start-workers.sh
Labels: tests

Guard local model runtime boundaries
  src/commands/ai/should-respond/README.md
  src/commands/ai/should-respond/server/AIShouldRespondServerCommand.ts
  src/commands/ai/should-respond/shared/AIShouldRespondCommand.ts
  src/commands/ai/should-respond/shared/AIShouldRespondTypes.ts
  src/commands/ai/validate-response/server/AIValidateResponseServerCommand.ts
  src/commands/ai/validate-response/shared/AIValidateResponseTypes.ts
  src/system/shared/Constants.ts
  src/system/user/server/PersonaLifecycleManager.ts
  src/tests/unit/local-model-guardrails.test.ts
Labels: documentation, tests

Guard local model runtime boundaries
  src/commands/ai/should-respond/README.md
  src/commands/ai/should-respond/server/AIShouldRespondServerCommand.ts
  src/commands/ai/should-respond/shared/AIShouldRespondCommand.ts
  src/commands/ai/should-respond/shared/AIShouldRespondTypes.ts
  src/commands/ai/validate-response/server/AIValidateResponseServerCommand.ts
  src/commands/ai/validate-response/shared/AIValidateResponseTypes.ts
  src/system/shared/Constants.ts
  src/system/user/server/PersonaLifecycleManager.ts
  src/tests/unit/local-model-guardrails.test.ts
Labels: documentation, tests
