Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

test(install): first scratch-HOME harness for the install modules
  tools/scripts/tests/install-modules.test.sh
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(rag): a source's floor is its FIRST UNIT, not its appetite — the 500-token magic number was dropping every grounding block (#338)
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/cognition/rag_source_faculty.rs
  core/continuum-core/src/persona/active_work_source.rs
  core/continuum-core/src/persona/airc_source.rs
  core/continuum-core/src/persona/engram_source.rs
  core/continuum-core/src/persona/media_perception_source.rs
  core/continuum-core/src/persona/rag_budget.rs
  core/continuum-core/src/persona/rag_capture.rs
  core/continuum-core/src/persona/rag_replay.rs
  core/continuum-core/src/persona/room_board_source.rs
  core/continuum-core/src/persona/room_doctrine_source.rs
  core/continuum-core/src/persona/room_roster_source.rs
  core/continuum-core/src/persona/unified.rs
  core/continuum-core/src/persona/wall_source.rs
  core/continuum-core/src/persona/workspace_map_source.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(work): the self-explaining summary must PRECEDE the card list — the receipt truncator was severing it (#337 tail)
  core/continuum-core/src/modules/work.rs
Labels: none

feat(routing): probe the authorization refusal — the one load-bearing decision in dispatch with no observability
  core/continuum-core/src/routing/grid_trust_policy.rs
Labels: none

fix(web): typecheck was RED — move the test TZ pin out of the browser tier
  apps/web/src/chat/renderChat.spec.ts
  apps/web/vite.config.ts
Labels: tests

feat(cognition): the act probe records WHICH verbs ran, not just how many
  core/continuum-core/src/cognition/act_observe.rs
Labels: none

fix(work): #339 — give citizens the half of the board that WRITES BACK
  core/continuum-core/src/modules/work.rs
Labels: none

fix(dialect): #326 — MEET a name that carries its own arguments, don't let it reach the ACL as a URI
  core/continuum-core/src/ai/json_in_prompt_tools.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/tool_dialect.rs
Labels: none

feat(memory): #165 — a rebuild is a discontinuity she can PERCEIVE, not one she has to infer
  core/continuum-core/src/cognition/working_memory.rs
Labels: none

feat(code): probe the WRITE — before/after sizes so a destructive overwrite is visible when it lands
  core/continuum-core/src/modules/code_commands.rs
Labels: none

fix(persona): renew held work-card claims on the presence pulse — her work stays hers while she breathes
  core/continuum-core/src/modules/work.rs
  core/continuum-core/src/persona/airc_runtime.rs
Labels: none

fix(work): stop advertising cards work/claim refuses — one claimability decision, not two
  core/continuum-core/src/persona/card_holder.rs
  core/continuum-core/src/persona/room_board_source.rs
Labels: none

fix(persona): the board read takes the room the gate approved — one value, not two that coincide (#345)
  Cargo.lock
  Cargo.toml
  core/continuum-core/src/context/airc_adapter.rs
  core/continuum-core/src/persona/airc_citizen.rs
  core/continuum-core/src/persona/airc_runtime.rs
  core/continuum-core/src/persona/room_board_source.rs
Labels: none

feat(models/pull): acquire SOURCE weights, not only the derived serving artifact
  core/continuum-core/src/commands/models/pull.rs
  protocol/typescript/model_registry/ModelsPullParams.ts
Labels: none

fix(build-env): a precondition for cmake must not be gated on the presence of CUDA
  tools/scripts/lib/windows-build-env.sh
Labels: none

fix(test): three artifact tests failed only on machines with cold storage
  core/continuum-core/src/model_registry/artifacts.rs
Labels: none

feat(catalog): register BTL-4-Compact as an outside claim to falsify
  core/continuum-core/src/model_registry/catalog.rs
Labels: none

fix(work): lead each card with `claimable`, not `state`/`owner` — the tool result was still saying "taken"
  core/continuum-core/src/modules/work.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(cognition): a citizen who ACTS must not go blind to what she is acting on (#347)
  core/continuum-core/src/cognition/deferred_faculty.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/workspace.rs
Labels: none

docs(architecture): benchmarks as work cards — and the adapter seam ALREADY EXISTS (#346)
  docs/architecture/BENCHMARK-AS-KANBAN.md
Labels: documentation

fix(test-fixture): PIN HOME/USERPROFILE/HF_HOME, never remove — removing moved the read onto the operator's real drive
  core/continuum-core/src/model_registry/artifacts.rs
Labels: none

fix(cognition): the reserved PASS token is silence in every position she puts it (#271/#264)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(cognition): narrow the PASS-token rule — drop clause-initial, it swallows real answers (#220)
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

feat(cognition): silence gets a VERB — yield_turn replaces the prose phrase-matching (#271/#264)
  core/continuum-core/src/cognition/deliberation_parse.rs
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/persona_tools.rs
Labels: none

feat(cognition): instrument #349 instead of refactoring the hot path on a hypothesis
  core/continuum-core/src/cognition/deliberation_parse.rs
Labels: none

fix(serving): the lane was never down — readers could not tell BOOT from BROKEN (#350)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/modules/serving_daemon.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(cli): don't link CUDA into a socket client — it made `continuum` unlaunchable on Windows
  tools/scripts/start-server.sh
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(serving): a lane going down is a TRANSITION, not a fault — gate on live readiness, not a lifetime latch (#350 round 2)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(serving): a 503 "Loading model" is the SAME mid-relaunch wait as a refused connection — retry it (#350 round 3)
  core/continuum-core/src/ai/openai_adapter.rs
Labels: none

fix(build-env): announce CUDA major ambiguity — the declaration and the binding can disagree
  tools/scripts/lib/windows-build-env.sh
Labels: none

fix(serving): a lane torn down MID-DELIBERATION must be waited out, not refused (#350 round 4)
  core/continuum-core/src/ai/openai_adapter.rs
  core/continuum-core/src/inference/llama_server.rs
  core/continuum-core/src/persona/service_loop.rs
Labels: none

fix(observability): boot took the UNBOUNDED probe sink — the rotating one had zero callers (#341)
  core/continuum-core/src/main.rs
  core/continuum-core/src/routing/tracing_init.rs
Labels: none

fix(runtime): the dispatch audit counted adapter-served commands as orphans — 3 alarms, 2 bogus (#325)
  core/continuum-core/src/runtime/registry.rs
Labels: none

test(tools): two tool-lift tests were missing #[test] and had NEVER run
  core/continuum-core/src/ai/json_in_prompt_tools.rs
Labels: none

fix(runtime): register GeneratorModule — the one REAL orphan the audit was reporting all along (#325/#309)
  core/continuum-core/src/ipc/mod.rs
Labels: none

test(sweep): two MORE tests had never run — and both had rotted while unguarded
  core/continuum-core/src/ai/json_in_prompt_tools.rs
  core/continuum-core/src/cognition/deliberation_budget.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
