Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

Final clean approach - validation files staged then unstaged, cleaned by post-commit hook
  test-final-clean-approach.txt
Labels: none

Final clean approach - validation files staged then unstaged, cleaned by post-commit hook
  test-final-clean-approach.txt
Labels: none

Implement optimal post-commit cleanup approach for git hook validation
  .husky/post-commit
  src/testing/git-hook-validation.ts
Labels: none

Implement optimal post-commit cleanup approach for git hook validation
  .husky/post-commit
  src/testing/git-hook-validation.ts
Labels: none

Test that validation files are actually committed to repository
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.error.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.log
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.log.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.probe.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.trace.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.warn.json
  .continuum/sessions/validation/run_80c624d24b71/logs/server.info.json
  .continuum/sessions/validation/run_80c624d24b71/logs/server.log
  .continuum/sessions/validation/run_80c624d24b71/logs/server.log.json
  .continuum/sessions/validation/run_80c624d24b71/screenshots/screenshot-1752536485007.png
  .continuum/sessions/validation/run_80c624d24b71/session-info.json
  test-validation-files-committed.txt
Labels: none

Test that validation files are actually committed to repository
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.error.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.log
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.log.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.probe.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.trace.json
  .continuum/sessions/validation/run_80c624d24b71/logs/browser.warn.json
  .continuum/sessions/validation/run_80c624d24b71/logs/server.info.json
  .continuum/sessions/validation/run_80c624d24b71/logs/server.log
  .continuum/sessions/validation/run_80c624d24b71/logs/server.log.json
  .continuum/sessions/validation/run_80c624d24b71/screenshots/screenshot-1752536485007.png
  .continuum/sessions/validation/run_80c624d24b71/session-info.json
  test-validation-files-committed.txt
Labels: none

Implement STRICT validation - validation session is your KEY to get in
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.error.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.log
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.log.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.probe.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.trace.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.warn.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.info.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.log
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.log.json
  .continuum/sessions/validation/run_973c2b79c6be/screenshots/screenshot-1752536632074.png
  .continuum/sessions/validation/run_973c2b79c6be/session-info.json
  .gitignore
  src/testing/git-hook-validation.ts
Labels: none

Implement STRICT validation - validation session is your KEY to get in
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.error.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.log
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.log.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.probe.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.trace.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/browser.warn.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.info.json
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.log
  .continuum/sessions/validation/run_973c2b79c6be/logs/server.log.json
  .continuum/sessions/validation/run_973c2b79c6be/screenshots/screenshot-1752536632074.png
  .continuum/sessions/validation/run_973c2b79c6be/session-info.json
  .gitignore
  src/testing/git-hook-validation.ts
Labels: none

add some issues
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.error.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.log
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.log.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.probe.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.trace.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.warn.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.info.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.log
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.log.json
  .continuum/sessions/validation/run_44f06f7dbc99/screenshots/screenshot-1752536986639.png
  .continuum/sessions/validation/run_44f06f7dbc99/session-info.json
  src/types/shared/core/ContinuumTypes.ts
Labels: none

add some issues
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.error.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.log
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.log.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.probe.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.trace.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/browser.warn.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.info.json
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.log
  .continuum/sessions/validation/run_44f06f7dbc99/logs/server.log.json
  .continuum/sessions/validation/run_44f06f7dbc99/screenshots/screenshot-1752536986639.png
  .continuum/sessions/validation/run_44f06f7dbc99/session-info.json
  src/types/shared/core/ContinuumTypes.ts
Labels: none

test
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.error.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.log
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.log.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.probe.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.trace.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.warn.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.info.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.log
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.log.json
  .continuum/sessions/validation/run_e7aa6b88d025/screenshots/screenshot-1752537318947.png
  .continuum/sessions/validation/run_e7aa6b88d025/session-info.json
  scripts/clean-sessions.sh
Labels: none

test
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.error.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.log
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.log.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.probe.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.trace.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/browser.warn.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.info.json
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.log
  .continuum/sessions/validation/run_e7aa6b88d025/logs/server.log.json
  .continuum/sessions/validation/run_e7aa6b88d025/screenshots/screenshot-1752537318947.png
  .continuum/sessions/validation/run_e7aa6b88d025/session-info.json
  scripts/clean-sessions.sh
Labels: none

commit test, commit payloads likely working
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.error.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.log
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.log.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.probe.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.trace.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.warn.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.info.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.log
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.log.json
  .continuum/sessions/validation/run_e2d09daea77f/screenshots/screenshot-1752537743670.png
  .continuum/sessions/validation/run_e2d09daea77f/session-info.json
  .husky/post-commit
  scripts/clean-sessions.sh
Labels: none

commit test, commit payloads likely working
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.error.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.log
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.log.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.probe.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.trace.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/browser.warn.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.info.json
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.log
  .continuum/sessions/validation/run_e2d09daea77f/logs/server.log.json
  .continuum/sessions/validation/run_e2d09daea77f/screenshots/screenshot-1752537743670.png
  .continuum/sessions/validation/run_e2d09daea77f/session-info.json
  .husky/post-commit
  scripts/clean-sessions.sh
Labels: none

✅ JTAG DEBUGGING SYSTEM: FULLY FUNCTIONAL AND BATTLE-TESTED
  .continuum/sessions/validation/run_db1881066241/logs/browser.error.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.log
  .continuum/sessions/validation/run_db1881066241/logs/browser.log.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.probe.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.trace.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.warn.json
  .continuum/sessions/validation/run_db1881066241/logs/server.info.json
  .continuum/sessions/validation/run_db1881066241/logs/server.log
  .continuum/sessions/validation/run_db1881066241/logs/server.log.json
  .continuum/sessions/validation/run_db1881066241/screenshots/screenshot-1752538118175.png
  .continuum/sessions/validation/run_db1881066241/session-info.json
  CLAUDE.md
Labels: documentation

✅ JTAG DEBUGGING SYSTEM: FULLY FUNCTIONAL AND BATTLE-TESTED
  .continuum/sessions/validation/run_db1881066241/logs/browser.error.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.log
  .continuum/sessions/validation/run_db1881066241/logs/browser.log.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.probe.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.trace.json
  .continuum/sessions/validation/run_db1881066241/logs/browser.warn.json
  .continuum/sessions/validation/run_db1881066241/logs/server.info.json
  .continuum/sessions/validation/run_db1881066241/logs/server.log
  .continuum/sessions/validation/run_db1881066241/logs/server.log.json
  .continuum/sessions/validation/run_db1881066241/screenshots/screenshot-1752538118175.png
  .continuum/sessions/validation/run_db1881066241/session-info.json
  CLAUDE.md
Labels: documentation

Implement new parser module architecture with CLI output formatting
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.error.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.log
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.log.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.probe.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.trace.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.warn.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.info.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.log
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.log.json
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/body-test.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/content-test.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601609952.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601636833.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601746127.png
  .continuum/sessions/validation/run_d1f26edf84d8/session-info.json
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture-patterns/incremental-migration.md
  middle-out/architecture-patterns/module-structure.md
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/formatters/BaseFormatter.ts
  src/cli/formatters/ExampleFormatter.ts
  src/cli/formatters/FormatterRegistry.ts
  src/cli/formatters/README.md
  src/cli/formatters/ScreenshotFormatter.ts
  src/cli/formatters/index.ts
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
  src/parsers/integrations/cli-parser/client/CLIClientParser.ts
  src/parsers/integrations/cli-parser/shared/CLIParserTypes.ts
  src/parsers/integrations/cli-parser/test/integration/CLIClientParser.integration.test.ts
  src/parsers/shared/ParserBase.ts
  src/testing/git-hook-validation.ts
  src/types/ValidationTypes.ts
Labels: documentation, tests, dependencies

Implement new parser module architecture with CLI output formatting
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.error.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.log
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.log.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.probe.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.trace.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/browser.warn.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.info.json
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.log
  .continuum/sessions/validation/run_d1f26edf84d8/logs/server.log.json
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/body-test.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/content-test.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601609952.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601636833.png
  .continuum/sessions/validation/run_d1f26edf84d8/screenshots/screenshot-1752601746127.png
  .continuum/sessions/validation/run_d1f26edf84d8/session-info.json
  CLAUDE.md
  middle-out/README.md
  middle-out/architecture-patterns/incremental-migration.md
  middle-out/architecture-patterns/module-structure.md
  package-lock.json
  package.json
  src/cli/continuum-cli.ts
  src/cli/formatters/BaseFormatter.ts
  src/cli/formatters/ExampleFormatter.ts
  src/cli/formatters/FormatterRegistry.ts
  src/cli/formatters/README.md
  src/cli/formatters/ScreenshotFormatter.ts
  src/cli/formatters/index.ts
  src/commands/browser/screenshot/README.md
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/ScreenshotCommand.ts
  src/commands/browser/screenshot/ScreenshotTypes.ts
  src/parsers/integrations/cli-parser/client/CLIClientParser.ts
  src/parsers/integrations/cli-parser/shared/CLIParserTypes.ts
  src/parsers/integrations/cli-parser/test/integration/CLIClientParser.integration.test.ts
  src/parsers/shared/ParserBase.ts
  src/testing/git-hook-validation.ts
  src/types/ValidationTypes.ts
Labels: documentation, tests, dependencies

lets try screenshots again
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.error.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.log
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.log.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.probe.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.trace.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.warn.json
  .continuum/sessions/validation/run_9d184d850b00/logs/server.info.json
  .continuum/sessions/validation/run_9d184d850b00/logs/server.log
  .continuum/sessions/validation/run_9d184d850b00/logs/server.log.json
  .continuum/sessions/validation/run_9d184d850b00/screenshots/body-test.png
  .continuum/sessions/validation/run_9d184d850b00/screenshots/content-test.png
  .continuum/sessions/validation/run_9d184d850b00/screenshots/screenshot-1752618396525.png
  .continuum/sessions/validation/run_9d184d850b00/session-info.json
  CLAUDE.md
  middle-out/architecture-patterns/module-structure.md
Labels: documentation

lets try screenshots again
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.error.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.log
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.log.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.probe.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.trace.json
  .continuum/sessions/validation/run_9d184d850b00/logs/browser.warn.json
  .continuum/sessions/validation/run_9d184d850b00/logs/server.info.json
  .continuum/sessions/validation/run_9d184d850b00/logs/server.log
  .continuum/sessions/validation/run_9d184d850b00/logs/server.log.json
  .continuum/sessions/validation/run_9d184d850b00/screenshots/body-test.png
  .continuum/sessions/validation/run_9d184d850b00/screenshots/content-test.png
  .continuum/sessions/validation/run_9d184d850b00/screenshots/screenshot-1752618396525.png
  .continuum/sessions/validation/run_9d184d850b00/session-info.json
  CLAUDE.md
  middle-out/architecture-patterns/module-structure.md
Labels: documentation

📸 JTAG Screenshot Testing System: Complete Visual Validation Framework
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.error.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.log
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.log.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.probe.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.trace.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.warn.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.info.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.log
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.log.json
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/body-test.png
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/content-test.png
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/screenshot-1752620313895.png
  .continuum/sessions/validation/run_ea2ba00c2184/session-info.json
  CLAUDE.md
  middle-out/README.md
  middle-out/development/README.md
  middle-out/jtag/README.md
  middle-out/jtag/widget-screenshot-testing.md
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/testing/GitHookIntegrationTest.ts
Labels: documentation, dependencies

📸 JTAG Screenshot Testing System: Complete Visual Validation Framework
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.error.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.log
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.log.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.probe.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.trace.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/browser.warn.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.info.json
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.log
  .continuum/sessions/validation/run_ea2ba00c2184/logs/server.log.json
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/body-test.png
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/content-test.png
  .continuum/sessions/validation/run_ea2ba00c2184/screenshots/screenshot-1752620313895.png
  .continuum/sessions/validation/run_ea2ba00c2184/session-info.json
  CLAUDE.md
  middle-out/README.md
  middle-out/development/README.md
  middle-out/jtag/README.md
  middle-out/jtag/widget-screenshot-testing.md
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/testing/GitHookIntegrationTest.ts
Labels: documentation, dependencies

test git hook validation with widget screenshots
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.error.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.log
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.log.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.probe.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.trace.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.warn.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.info.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.log
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.log.json
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/body-test.png
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/content-test.png
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/screenshot-1752620889865.png
  .continuum/sessions/validation/run_4f36f8d8681c/session-info.json
  package-lock.json
  package.json
Labels: dependencies

test git hook validation with widget screenshots
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.error.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.log
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.log.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.probe.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.trace.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/browser.warn.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.info.json
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.log
  .continuum/sessions/validation/run_4f36f8d8681c/logs/server.log.json
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/body-test.png
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/content-test.png
  .continuum/sessions/validation/run_4f36f8d8681c/screenshots/screenshot-1752620889865.png
  .continuum/sessions/validation/run_4f36f8d8681c/session-info.json
  package-lock.json
  package.json
Labels: dependencies

widget screenshots with proper descriptive names
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.error.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.log
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.log.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.probe.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.trace.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.warn.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.info.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.log
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.log.json
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/body-test.png
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/content-test.png
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/screenshot-1752621163131.png
  .continuum/sessions/validation/run_8b32b0153b7f/session-info.json
  package-lock.json
  package.json
Labels: dependencies

widget screenshots with proper descriptive names
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.error.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.log
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.log.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.probe.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.trace.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/browser.warn.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.info.json
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.log
  .continuum/sessions/validation/run_8b32b0153b7f/logs/server.log.json
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/body-test.png
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/content-test.png
  .continuum/sessions/validation/run_8b32b0153b7f/screenshots/screenshot-1752621163131.png
  .continuum/sessions/validation/run_8b32b0153b7f/session-info.json
  package-lock.json
  package.json
Labels: dependencies

commit test
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.error.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.log
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.log.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.probe.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.trace.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.warn.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.info.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.log
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.log.json
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/body-test.png
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/content-test.png
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/screenshot-1752621453779.png
  .continuum/sessions/validation/run_b0c2d4597daf/session-info.json
  package-lock.json
  package.json
Labels: dependencies

commit test
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.error.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.log
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.log.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.probe.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.trace.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/browser.warn.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.info.json
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.log
  .continuum/sessions/validation/run_b0c2d4597daf/logs/server.log.json
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/body-test.png
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/content-test.png
  .continuum/sessions/validation/run_b0c2d4597daf/screenshots/screenshot-1752621453779.png
  .continuum/sessions/validation/run_b0c2d4597daf/session-info.json
  package-lock.json
  package.json
Labels: dependencies

fix: plug widget screenshot tests into git hook validation
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.error.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.log
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.log.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.probe.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.trace.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.warn.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.info.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.log
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.log.json
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/body-test.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/content-test.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/screenshot-1752621666941.png
  .continuum/sessions/validation/run_ee3ca9234f71/session-info.json
  package-lock.json
  package.json
  src/testing/git-hook-validation.ts
Labels: dependencies

fix: plug widget screenshot tests into git hook validation
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.error.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.log
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.log.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.probe.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.trace.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/browser.warn.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.info.json
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.log
  .continuum/sessions/validation/run_ee3ca9234f71/logs/server.log.json
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/body-test.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/content-test.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee3ca9234f71/screenshots/screenshot-1752621666941.png
  .continuum/sessions/validation/run_ee3ca9234f71/session-info.json
  package-lock.json
  package.json
  src/testing/git-hook-validation.ts
Labels: dependencies

one more test
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.error.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.log
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.log.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.probe.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.trace.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.warn.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.info.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.log
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.log.json
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/body-test.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/content-test.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/screenshot-1752621801410.png
  .continuum/sessions/validation/run_6fcf519a18c5/session-info.json
  package-lock.json
  package.json
Labels: dependencies

one more test
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.error.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.log
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.log.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.probe.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.trace.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/browser.warn.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.info.json
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.log
  .continuum/sessions/validation/run_6fcf519a18c5/logs/server.log.json
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/body-test.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/content-test.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6fcf519a18c5/screenshots/screenshot-1752621801410.png
  .continuum/sessions/validation/run_6fcf519a18c5/session-info.json
  package-lock.json
  package.json
Labels: dependencies

docs: clean up middle-out architecture documentation
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.error.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.log
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.log.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.probe.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.trace.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.warn.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.info.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.log
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.log.json
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/body-test.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/content-test.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/screenshot-1752627852745.png
  .continuum/sessions/validation/run_76f1219ee1ee/session-info.json
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/lambda-fluent-api.md
  middle-out/architecture/universal-module-structure.md
Labels: documentation

docs: clean up middle-out architecture documentation
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.error.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.log
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.log.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.probe.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.trace.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/browser.warn.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.info.json
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.log
  .continuum/sessions/validation/run_76f1219ee1ee/logs/server.log.json
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/body-test.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/content-test.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_76f1219ee1ee/screenshots/screenshot-1752627852745.png
  .continuum/sessions/validation/run_76f1219ee1ee/session-info.json
  middle-out/README.md
  middle-out/architecture/README.md
  middle-out/architecture/lambda-fluent-api.md
  middle-out/architecture/universal-module-structure.md
Labels: documentation

consistent color screenshots
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.error.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.log
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.log.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.probe.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.trace.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.warn.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.info.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.log
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.log.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/body-test.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/content-test.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/screenshot-1752633156783.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/session-info.json
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/ui/continuum-browser-client/commands/ScreenshotExecutor.ts
Labels: dependencies

consistent color screenshots
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.error.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.log
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.log.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.probe.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.trace.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/browser.warn.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.info.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.log
  .continuum/sessions/validation/run_9ea69eb3b1ed/logs/server.log.json
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/body-test.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/content-test.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/screenshots/screenshot-1752633156783.png
  .continuum/sessions/validation/run_9ea69eb3b1ed/session-info.json
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/ui/continuum-browser-client/commands/ScreenshotExecutor.ts
Labels: dependencies

whitelist for git hook
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.error.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.log
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.log.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.probe.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.trace.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.warn.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.info.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.log
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.log.json
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/body-test.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/content-test.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/screenshot-1752634934676.png
  .continuum/sessions/validation/run_6fed0225fa21/session-info.json
  .husky/whitelist.json
  CLAUDE.md
  src/testing/git-hook-validation.ts
Labels: documentation

whitelist for git hook
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.error.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.log
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.log.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.probe.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.trace.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/browser.warn.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.info.json
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.log
  .continuum/sessions/validation/run_6fed0225fa21/logs/server.log.json
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/body-test.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/content-test.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6fed0225fa21/screenshots/screenshot-1752634934676.png
  .continuum/sessions/validation/run_6fed0225fa21/session-info.json
  .husky/whitelist.json
  CLAUDE.md
  src/testing/git-hook-validation.ts
Labels: documentation

feat: migrate screenshot command to middle-out architecture
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.error.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.log
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.log.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.probe.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.trace.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.warn.json
  .continuum/sessions/validation/run_47a248c5e493/logs/server.info.json
  .continuum/sessions/validation/run_47a248c5e493/logs/server.log
  .continuum/sessions/validation/run_47a248c5e493/logs/server.log.json
  .continuum/sessions/validation/run_47a248c5e493/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/body-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/content-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/migration-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/screenshot-1752635511165.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/screenshot-1752635604398.png
  .continuum/sessions/validation/run_47a248c5e493/session-info.json
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/client/ScreenshotClient.ts
  src/commands/browser/screenshot/shared/ScreenshotBase.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/commands/ScreenshotExecutor.ts
Labels: dependencies

feat: migrate screenshot command to middle-out architecture
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.error.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.log
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.log.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.probe.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.trace.json
  .continuum/sessions/validation/run_47a248c5e493/logs/browser.warn.json
  .continuum/sessions/validation/run_47a248c5e493/logs/server.info.json
  .continuum/sessions/validation/run_47a248c5e493/logs/server.log
  .continuum/sessions/validation/run_47a248c5e493/logs/server.log.json
  .continuum/sessions/validation/run_47a248c5e493/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/body-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/content-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/migration-test.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/screenshot-1752635511165.png
  .continuum/sessions/validation/run_47a248c5e493/screenshots/screenshot-1752635604398.png
  .continuum/sessions/validation/run_47a248c5e493/session-info.json
  package-lock.json
  package.json
  src/commands/browser/screenshot/ScreenshotClient.ts
  src/commands/browser/screenshot/client/ScreenshotClient.ts
  src/commands/browser/screenshot/shared/ScreenshotBase.ts
  src/ui/continuum-browser-client/ContinuumBrowserClient.ts
  src/ui/continuum-browser-client/commands/ScreenshotExecutor.ts
Labels: dependencies
