Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

fix minor clipping
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: none

fix minor clipping
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: none

cool diamond info in persona control
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4001.tgz
  src/debug/jtag/continuum-jtag-1.0.4005.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

cool diamond info in persona control
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4001.tgz
  src/debug/jtag/continuum-jtag-1.0.4005.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

segmented control diamond and other layout done
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4005.tgz
  src/debug/jtag/continuum-jtag-1.0.4009.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

segmented control diamond and other layout done
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4005.tgz
  src/debug/jtag/continuum-jtag-1.0.4009.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

Add genome visualization documentation and replace hero image with video
  src/debug/jtag/README.md
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: documentation

Add genome visualization documentation and replace hero image with video
  src/debug/jtag/README.md
  src/debug/jtag/shared/version.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: documentation

Fix CI validation workflows to use actual JTAG system validation
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
Labels: workflow

Fix CI validation workflows to use actual JTAG system validation
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
Labels: workflow

Fix CI: Install jtag dependencies before TypeScript validation
  .github/workflows/validate-continuum.yml
Labels: workflow

Fix CI: Install jtag dependencies before TypeScript validation
  .github/workflows/validate-continuum.yml
Labels: workflow

Add genome visualization screenshots and video for documentation
  screenshots/user-interface.png
Labels: none

Add genome visualization screenshots and video for documentation
  screenshots/user-interface.png
Labels: none

Update root README with genome visualization and live video
  README.md
Labels: documentation

Update root README with genome visualization and live video
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Fix README video reference to use screenshot with download link
  README.md
Labels: documentation

Remove excessive emojis for more professional tone
  README.md
Labels: documentation

Add technical depth to genome visualization documentation
  README.md
Labels: documentation

Add technical depth to genome visualization documentation
  README.md
Labels: documentation

Add technical depth to genome visualization documentation
  README.md
Labels: documentation

Clean root directory to prepare for jtag→root migration
  .gitignore
  archive/planning-docs/ANONYMIZATION-PLAN.md
  archive/planning-docs/ARCHITECTURAL-REVISION-PLAN.md
  archive/planning-docs/CLEANUP_PLAN.md
  archive/planning-docs/DESIGN_CONSOLIDATION_COMPLETE.md
  archive/planning-docs/DOCUMENTATION-DEBT-ASSESSMENT.md
  archive/planning-docs/FILES.md
  archive/planning-docs/JTAG-PROMOTION-PATH-UPDATE-PLAN.md
  archive/planning-docs/MIDDLE-OUT-EVOLUTION-UPDATE.md
  archive/planning-docs/VALIDATION_COMPLETE.md
  archive/planning-docs/WORKING_NOTES.md
  continuum
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4009.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

Clean root directory to prepare for jtag→root migration
  .gitignore
  archive/planning-docs/ANONYMIZATION-PLAN.md
  archive/planning-docs/ARCHITECTURAL-REVISION-PLAN.md
  archive/planning-docs/CLEANUP_PLAN.md
  archive/planning-docs/DESIGN_CONSOLIDATION_COMPLETE.md
  archive/planning-docs/DOCUMENTATION-DEBT-ASSESSMENT.md
  archive/planning-docs/FILES.md
  archive/planning-docs/JTAG-PROMOTION-PATH-UPDATE-PLAN.md
  archive/planning-docs/MIDDLE-OUT-EVOLUTION-UPDATE.md
  archive/planning-docs/VALIDATION_COMPLETE.md
  archive/planning-docs/WORKING_NOTES.md
  continuum
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.4009.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

Fix widget-ui dependency to reference parent directory instead of .tgz artifact
  src/debug/jtag/examples/widget-ui/package.json
Labels: dependencies

Fix widget-ui dependency to reference parent directory instead of .tgz artifact
  src/debug/jtag/examples/widget-ui/package.json
Labels: dependencies

Switch widget-ui to use parent package reference instead of tarball
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/scripts/smart-deploy.ts
Labels: dependencies

Switch widget-ui to use parent package reference instead of tarball
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/scripts/smart-deploy.ts
Labels: dependencies

Phase 4: Enable task system - Register TaskEntity and fix date handling
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/task/list/server/TaskListServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Phase 4: Enable task system - Register TaskEntity and fix date handling
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/task/list/server/TaskListServerCommand.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

Refactor: Unified queue with BaseQueueItem for messages and tasks
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
Labels: none

Refactor: Unified queue with BaseQueueItem for messages and tasks
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
Labels: none

Add task database polling to PersonaUser autonomous loop
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

Add task database polling to PersonaUser autonomous loop
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: dependencies

Fix task polling: prevent re-enqueueing and add status tracking
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
Labels: dependencies

Fix task polling: prevent re-enqueueing and add status tracking
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
Labels: dependencies

Add ETHICAL-AI-ATTRIBUTION vision doc connecting Sentinel agency signals
  src/debug/jtag/docs/ETHICAL-AI-ATTRIBUTION.md
Labels: documentation
