Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(setup): post-start inference probe proves chat works end-to-end
  setup.sh
Labels: none

feat(scripts): verify-personas.sh — merge-gate acceptance test
  docs/SETUP.md
  scripts/lib/repo-root.sh
  scripts/verify-personas.sh
Labels: documentation

voice(start): migrate from legacy :3001 WebSocket to LiveKit URL+JWT
  src/commands/voice/start/server/VoiceStartServerCommand.ts
  src/commands/voice/start/shared/VoiceStartTypes.ts
Labels: none

fix(scripts): stop swallowing errors — fail loud per Joel's hard rule
  scripts/push-image.sh
  scripts/verify-personas.sh
  setup.sh
Labels: none

fix(generator): result fields required by default — compile-time enforcement
  src/generator/TokenBuilder.ts
  src/generator/shared/specs/CommandSpec.ts
Labels: none

docs(setup): UID-mismatch on Linux — root-owned bind-mount files (gap #7)
  docs/SETUP.md
Labels: documentation

voice: migrate to LiveKit, decouple from default stack
  docker-compose.yml
  docs/planning/ALPHA-GAP-ANALYSIS.md
  src/commands/voice/start/server/VoiceStartServerCommand.ts
  src/commands/voice/start/shared/VoiceStartTypes.ts
  src/widgets/voice-chat/VoiceChatWidget.ts
Labels: documentation

fix(orchestrator): seed-on-boot retries IPC ready instead of 3s race (gap #3)
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

feat(doctor): stale-image detection — git rev label vs repo HEAD (gap #1)
  bin/continuum
Labels: none

revert: LiveKit is always-on, not profile-gated
  docker-compose.yml
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

cleanup: remove dead AudioWorklet voice processors
  src/widgets/voice-chat/voice-capture-processor.js
  src/widgets/voice-chat/voice-playback-processor.js
Labels: none

fix(ipc): always schedule reconnect — boot-race no longer wedges client (gap #2)
  src/daemons/ai-provider-daemon/server/AIProviderRustClient.ts
  src/daemons/data-daemon/server/ORMRustClient.ts
Labels: none

chore: remove debug-investigation console.logs from PR891 (Copilot review)
  src/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/daemons/data-daemon/server/ORM.ts
  src/system/user/server/PersonaUser.ts
  src/system/user/server/modules/PersonaAutonomousLoop.ts
Labels: none

retire legacy port-3001 WebSocket voice server
  src/system/core/system/server/JTAGSystemServer.ts
  src/system/voice/server/VoiceOrchestrator.ts
  src/system/voice/server/VoiceWebSocketHandler.ts
  src/system/voice/server/index.ts
  src/tests/integration/voice-ai-response-flow.test.ts
  src/tests/integration/voice-system-integration.test.ts
  src/tests/integration/voice-transcription-relay.test.ts
  src/tests/unit/voice-websocket-transcription-handler.test.ts
Labels: tests

fix: update voice event test comments (reference LiveKit path not deleted handler)
  src/tests/unit/voice-event-emission.test.ts
Labels: tests

fix(concurrency): check sysctlbyname rc + per-OS RAM probes + cache + log once (Copilot review)
  src/workers/continuum-core/src/system_resources/concurrency.rs
Labels: none

fix: usize overflow in matmul FLOPs + stale priority comment (Copilot review)
  src/workers/continuum-core/src/inference/compute_router.rs
  src/workers/continuum-core/src/modules/ai_provider.rs
Labels: none

fix(rag): query cache promise no longer permanently caches a rejection (Copilot review)
  src/commands/inference/capacity/test/integration/InferenceCapacityIntegration.test.ts
  src/system/rag/services/CodebaseIndexer.ts
Labels: tests

fix: roomId type safety + TTS timeout for cold-start
  src/tests/integration/livekit-audio-roundtrip.test.ts
  src/widgets/voice-chat/VoiceChatWidget.ts
  src/workers/continuum-core/bindings/modules/voice.ts
Labels: tests

fix(install): auto-generate per-install LiveKit API_KEY + API_SECRET
  install.sh
Labels: none

docs: update gap analysis — VoiceWebSocketHandler deleted, TTS deadlock #915 filed
  docs/planning/ALPHA-GAP-ANALYSIS.md
Labels: documentation

fix(doctor): config-keys count display — '0\\n0 keys' bug
  bin/continuum
Labels: none

fix: update voice-start.json spec to match LiveKit migration (anvil catch)
  src/generator/specs/voice-start.json
Labels: none

fix(generator): add required? to CommandNaming.ResultSpec
  src/generator/CommandNaming.ts
Labels: none

test: add PR #914 verification script — 8/9 checks pass
  scripts/verify-pr-914.sh
Labels: none

test(verify): scripts/verify-pr-913.sh — runtime PROOF, not just diff-read
  scripts/verify-pr-913.sh
Labels: none

fix(verify-913): cross-platform timeout (gtimeout fallback for macOS)
  scripts/verify-pr-913.sh
Labels: none

fix: verify script skip case + port check (anvil cross-test feedback)
  scripts/verify-pr-914.sh
Labels: none

fix: kill Candle eager-load + fix local provider routing to DMR
  src/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/workers/continuum-core/src/inference/candle_adapter.rs
Labels: none

fix(data:backup): point at real DB path (~/.continuum/database/main.db)
  src/package.json
Labels: dependencies

fix(recipes): add metrics.json — fixes #916 (Metrics tab crash)
  src/system/recipes/metrics.json
Labels: none

fix(rag): throttle codebase indexing — stop saturating event loop on boot
  src/system/rag/services/CodebaseIndexer.ts
Labels: none

fix: cap DMR context window to 4096 — prevents 20GB KV cache
  install.sh
Labels: none

fix(rag): cap chat input budget at 8192 tokens (was 75% of 262k = 196k)
  src/system/rag/builders/ChatRAGBuilder.ts
Labels: none

Revert "fix: cap DMR context window to 4096 — prevents 20GB KV cache"
  install.sh
Labels: none

fix(rag): budget = getLatencyAwareTokenLimit for slow local, not magic 8192
  src/system/rag/builders/ChatRAGBuilder.ts
Labels: none

fix: remove hardcoded 128000 context window — use model's actual value
  src/system/rag/builders/ChatRAGBuilder.ts
Labels: none

docs: multimodal-native worker + prefix-reuse architecture
  docs/architecture/MULTIMODAL-WORKER-AND-PREFIX-REUSE.md
Labels: documentation

docs(multimodal): refine — bridge layer is the leveler, not a fallback
  docs/architecture/MULTIMODAL-WORKER-AND-PREFIX-REUSE.md
Labels: documentation

feat(rag): Phase 1 — stable-first ordering for prefix-reuse (issue #918)
  src/system/rag/shared/RAGComposer.ts
  src/system/rag/shared/RAGSource.ts
  src/system/rag/shared/RAGTypes.ts
  src/system/rag/sources/ActivityContextSource.ts
  src/system/rag/sources/CodeToolSource.ts
  src/system/rag/sources/CodebaseSearchSource.ts
  src/system/rag/sources/ConversationHistorySource.ts
  src/system/rag/sources/DocumentationSource.ts
  src/system/rag/sources/GlobalAwarenessSource.ts
  src/system/rag/sources/GovernanceSource.ts
  src/system/rag/sources/LiveRoomAwarenessSource.ts
  src/system/rag/sources/MediaArtifactSource.ts
  src/system/rag/sources/OpenProposalsSource.ts
  src/system/rag/sources/PersonaIdentitySource.ts
  src/system/rag/sources/ProjectContextSource.ts
  src/system/rag/sources/SemanticMemorySource.ts
  src/system/rag/sources/SentinelAwarenessSource.ts
  src/system/rag/sources/SocialMediaRAGSource.ts
  src/system/rag/sources/ToolDefinitionsSource.ts
  src/system/rag/sources/ToolMethodologySource.ts
  src/system/rag/sources/VoiceConversationSource.ts
  src/system/rag/sources/WidgetContextSource.ts
Labels: none
