Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

infinite scrolling is solid now
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.info.json
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.log
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.log.json
  .continuum/sessions/validation/run_b171f59f1e81/logs/server.log
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/body-test.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/content-test.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/screenshot-1758248532740.png
  .continuum/sessions/validation/run_b171f59f1e81/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1626.tgz
  src/debug/jtag/continuum-jtag-1.0.1644.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/adapters/AbstractMessageAdapter.ts
  src/debug/jtag/widgets/chat/adapters/AdapterTypes.ts
  src/debug/jtag/widgets/chat/adapters/ImageMessageAdapter.ts
  src/debug/jtag/widgets/chat/adapters/URLCardAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/InfiniteScrollHelper.ts
Labels: dependencies

infinite scrolling is solid now
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.info.json
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.log
  .continuum/sessions/validation/run_b171f59f1e81/logs/browser.log.json
  .continuum/sessions/validation/run_b171f59f1e81/logs/server.log
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/body-test.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/content-test.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b171f59f1e81/screenshots/screenshot-1758248532740.png
  .continuum/sessions/validation/run_b171f59f1e81/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1626.tgz
  src/debug/jtag/continuum-jtag-1.0.1644.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/adapters/AbstractMessageAdapter.ts
  src/debug/jtag/widgets/chat/adapters/AdapterTypes.ts
  src/debug/jtag/widgets/chat/adapters/ImageMessageAdapter.ts
  src/debug/jtag/widgets/chat/adapters/URLCardAdapter.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/InfiniteScrollHelper.ts
Labels: dependencies

requires refresh, but chat widget now uses generic ininite scroll
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.info.json
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.log
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.log.json
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/server.log
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/body-test.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/content-test.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/screenshot-1758293692385.png
  .continuum/sessions/validation/run_e25c0c1dc76b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1644.tgz
  src/debug/jtag/continuum-jtag-1.0.1650.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatInfiniteScroll.ts
  src/debug/jtag/widgets/chat/shared/ChatMessageLoader.ts
  src/debug/jtag/widgets/chat/shared/ChatMessageRenderer.ts
  src/debug/jtag/widgets/shared/AlignmentTypes.ts
  src/debug/jtag/widgets/shared/GenericInfiniteScroll.ts
  src/debug/jtag/widgets/shared/InfiniteScrollTypes.ts
Labels: dependencies

requires refresh, but chat widget now uses generic ininite scroll
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.info.json
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.log
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/browser.log.json
  .continuum/sessions/validation/run_e25c0c1dc76b/logs/server.log
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/body-test.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/content-test.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e25c0c1dc76b/screenshots/screenshot-1758293692385.png
  .continuum/sessions/validation/run_e25c0c1dc76b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1644.tgz
  src/debug/jtag/continuum-jtag-1.0.1650.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatInfiniteScroll.ts
  src/debug/jtag/widgets/chat/shared/ChatMessageLoader.ts
  src/debug/jtag/widgets/chat/shared/ChatMessageRenderer.ts
  src/debug/jtag/widgets/shared/AlignmentTypes.ts
  src/debug/jtag/widgets/shared/GenericInfiniteScroll.ts
  src/debug/jtag/widgets/shared/InfiniteScrollTypes.ts
Labels: dependencies

checking in before too late
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.info.json
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.log
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.log.json
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/server.log
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/body-test.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/content-test.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/screenshot-1758310735672.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/README.md
  src/debug/jtag/commands/debug/scroll-test/README.md
  src/debug/jtag/commands/debug/scroll-test/browser/ScrollTestBrowserCommand.ts
  src/debug/jtag/commands/debug/scroll-test/server/ScrollTestServerCommand.ts
  src/debug/jtag/commands/debug/scroll-test/shared/ScrollTestTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1650.tgz
  src/debug/jtag/continuum-jtag-1.0.1677.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/DataExecutorAdapter.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: documentation, dependencies

checking in before too late
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.info.json
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.log
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/browser.log.json
  .continuum/sessions/validation/run_0cfe1fcc1e09/logs/server.log
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/body-test.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/content-test.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/screenshots/screenshot-1758310735672.png
  .continuum/sessions/validation/run_0cfe1fcc1e09/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/README.md
  src/debug/jtag/commands/debug/scroll-test/README.md
  src/debug/jtag/commands/debug/scroll-test/browser/ScrollTestBrowserCommand.ts
  src/debug/jtag/commands/debug/scroll-test/server/ScrollTestServerCommand.ts
  src/debug/jtag/commands/debug/scroll-test/shared/ScrollTestTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1650.tgz
  src/debug/jtag/continuum-jtag-1.0.1677.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/DataExecutorAdapter.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: documentation, dependencies

scroll command works now
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.info.json
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.log
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.log.json
  .continuum/sessions/validation/run_bf71eaeb0233/logs/server.log
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/body-test.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/content-test.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/screenshot-1758312114064.png
  .continuum/sessions/validation/run_bf71eaeb0233/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/scroll-test/browser/ScrollTestBrowserCommand.ts
  src/debug/jtag/commands/debug/scroll-test/server/ScrollTestServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1677.tgz
  src/debug/jtag/continuum-jtag-1.0.1683.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/DataExecutorAdapter.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
Labels: dependencies

scroll command works now
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.info.json
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.log
  .continuum/sessions/validation/run_bf71eaeb0233/logs/browser.log.json
  .continuum/sessions/validation/run_bf71eaeb0233/logs/server.log
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/body-test.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/content-test.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_bf71eaeb0233/screenshots/screenshot-1758312114064.png
  .continuum/sessions/validation/run_bf71eaeb0233/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/debug/scroll-test/browser/ScrollTestBrowserCommand.ts
  src/debug/jtag/commands/debug/scroll-test/server/ScrollTestServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1677.tgz
  src/debug/jtag/continuum-jtag-1.0.1683.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/DataExecutorAdapter.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
Labels: dependencies

load more works on scroller
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.info.json
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.log
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.log.json
  .continuum/sessions/validation/run_621a6e63a53b/logs/server.log
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/body-test.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/content-test.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/screenshot-1758315135097.png
  .continuum/sessions/validation/run_621a6e63a53b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1683.tgz
  src/debug/jtag/continuum-jtag-1.0.1692.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: dependencies

load more works on scroller
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.info.json
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.log
  .continuum/sessions/validation/run_621a6e63a53b/logs/browser.log.json
  .continuum/sessions/validation/run_621a6e63a53b/logs/server.log
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/body-test.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/content-test.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_621a6e63a53b/screenshots/screenshot-1758315135097.png
  .continuum/sessions/validation/run_621a6e63a53b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1683.tgz
  src/debug/jtag/continuum-jtag-1.0.1692.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: dependencies

excessive logging
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.info.json
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.log
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.log.json
  .continuum/sessions/validation/run_1df667c5f025/logs/server.log
  .continuum/sessions/validation/run_1df667c5f025/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/body-test.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/content-test.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/screenshot-1758315894908.png
  .continuum/sessions/validation/run_1df667c5f025/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1692.tgz
  src/debug/jtag/continuum-jtag-1.0.1694.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: dependencies

excessive logging
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.info.json
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.log
  .continuum/sessions/validation/run_1df667c5f025/logs/browser.log.json
  .continuum/sessions/validation/run_1df667c5f025/logs/server.log
  .continuum/sessions/validation/run_1df667c5f025/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/body-test.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/content-test.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1df667c5f025/screenshots/screenshot-1758315894908.png
  .continuum/sessions/validation/run_1df667c5f025/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1692.tgz
  src/debug/jtag/continuum-jtag-1.0.1694.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/DataLoaders.ts
  src/debug/jtag/widgets/shared/EntityScroller.ts
Labels: dependencies

clean up logs
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.info.json
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.log
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.log.json
  .continuum/sessions/validation/run_e6828e05c8af/logs/server.log
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/body-test.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/content-test.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/screenshot-1758316294845.png
  .continuum/sessions/validation/run_e6828e05c8af/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1694.tgz
  src/debug/jtag/continuum-jtag-1.0.1695.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

clean up logs
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.info.json
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.log
  .continuum/sessions/validation/run_e6828e05c8af/logs/browser.log.json
  .continuum/sessions/validation/run_e6828e05c8af/logs/server.log
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/body-test.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/content-test.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e6828e05c8af/screenshots/screenshot-1758316294845.png
  .continuum/sessions/validation/run_e6828e05c8af/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1694.tgz
  src/debug/jtag/continuum-jtag-1.0.1695.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

reduce logs
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.info.json
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.log
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.log.json
  .continuum/sessions/validation/run_a53ce4de961c/logs/server.log
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/body-test.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/content-test.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/screenshot-1758317512584.png
  .continuum/sessions/validation/run_a53ce4de961c/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/browser/DataListBrowserCommand.ts
  src/debug/jtag/commands/list/browser/ListBrowserCommand.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1695.tgz
  src/debug/jtag/continuum-jtag-1.0.1697.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterDynamic.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

reduce logs
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.info.json
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.log
  .continuum/sessions/validation/run_a53ce4de961c/logs/browser.log.json
  .continuum/sessions/validation/run_a53ce4de961c/logs/server.log
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/body-test.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/content-test.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a53ce4de961c/screenshots/screenshot-1758317512584.png
  .continuum/sessions/validation/run_a53ce4de961c/session-info.json
  src/debug/jtag/browser-index.ts
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/browser/DataListBrowserCommand.ts
  src/debug/jtag/commands/list/browser/ListBrowserCommand.ts
  src/debug/jtag/commands/list/server/ListServerCommand.ts
  src/debug/jtag/commands/list/shared/ListCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1695.tgz
  src/debug/jtag/continuum-jtag-1.0.1697.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/examples/widget-ui/src/index.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/system/core/router/shared/JTAGRouter.ts
  src/debug/jtag/system/core/router/shared/JTAGRouterDynamic.ts
  src/debug/jtag/system/core/shared/ResponseCorrelator.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

useless files
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.info.json
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.log
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.log.json
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/server.log
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/body-test.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/content-test.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/screenshot-1758317927820.png
  .continuum/sessions/validation/run_47ac6ea85c3d/session-info.json
  src/debug/jtag/archive/roadmaps/INTEGRATION-TEST-ARCHITECTURE.md
  src/debug/jtag/archive/roadmaps/INTEGRATION-TEST-CHAIN.md
  src/debug/jtag/archive/roadmaps/INTEGRATION_TESTING_ALIGNMENT.md
  src/debug/jtag/archive/roadmaps/INTEGRATION_TESTING_ROADMAP.md
  src/debug/jtag/archive/roadmaps/ROADMAP.md
  src/debug/jtag/archived-shell-scripts/test-all-chat-sends.sh
  src/debug/jtag/archived-shell-scripts/test-all-themes.sh
  src/debug/jtag/archived-shell-scripts/test-bidirectional-chat.sh
Labels: documentation

useless files
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.info.json
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.log
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/browser.log.json
  .continuum/sessions/validation/run_47ac6ea85c3d/logs/server.log
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/body-test.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/content-test.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_47ac6ea85c3d/screenshots/screenshot-1758317927820.png
  .continuum/sessions/validation/run_47ac6ea85c3d/session-info.json
  src/debug/jtag/archive/roadmaps/INTEGRATION-TEST-ARCHITECTURE.md
  src/debug/jtag/archive/roadmaps/INTEGRATION-TEST-CHAIN.md
  src/debug/jtag/archive/roadmaps/INTEGRATION_TESTING_ALIGNMENT.md
  src/debug/jtag/archive/roadmaps/INTEGRATION_TESTING_ROADMAP.md
  src/debug/jtag/archive/roadmaps/ROADMAP.md
  src/debug/jtag/archived-shell-scripts/test-all-chat-sends.sh
  src/debug/jtag/archived-shell-scripts/test-all-themes.sh
  src/debug/jtag/archived-shell-scripts/test-bidirectional-chat.sh
Labels: documentation

fix user lister
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.info.json
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.log
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.log.json
  .continuum/sessions/validation/run_1097ceac8f38/logs/server.log
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/body-test.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/content-test.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/screenshot-1758318434438.png
  .continuum/sessions/validation/run_1097ceac8f38/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1697.tgz
  src/debug/jtag/continuum-jtag-1.0.1700.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

fix user lister
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.info.json
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.log
  .continuum/sessions/validation/run_1097ceac8f38/logs/browser.log.json
  .continuum/sessions/validation/run_1097ceac8f38/logs/server.log
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/body-test.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/content-test.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1097ceac8f38/screenshots/screenshot-1758318434438.png
  .continuum/sessions/validation/run_1097ceac8f38/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1697.tgz
  src/debug/jtag/continuum-jtag-1.0.1700.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

use better typing
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.info.json
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.log
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.log.json
  .continuum/sessions/validation/run_a7210e8d273b/logs/server.log
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/body-test.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/content-test.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/screenshot-1758318778228.png
  .continuum/sessions/validation/run_a7210e8d273b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1700.tgz
  src/debug/jtag/continuum-jtag-1.0.1701.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
Labels: dependencies

use better typing
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.info.json
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.log
  .continuum/sessions/validation/run_a7210e8d273b/logs/browser.log.json
  .continuum/sessions/validation/run_a7210e8d273b/logs/server.log
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/body-test.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/content-test.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a7210e8d273b/screenshots/screenshot-1758318778228.png
  .continuum/sessions/validation/run_a7210e8d273b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1700.tgz
  src/debug/jtag/continuum-jtag-1.0.1701.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
Labels: dependencies

room list works within element lister
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.info.json
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.log
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.log.json
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/server.log
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/body-test.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/content-test.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/screenshot-1758323551722.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1701.tgz
  src/debug/jtag/continuum-jtag-1.0.1702.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/room-list/room-list-widget.html
Labels: dependencies

room list works within element lister
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.info.json
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.log
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/browser.log.json
  .continuum/sessions/validation/run_6cbefb5d5bd0/logs/server.log
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/body-test.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/content-test.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/screenshots/screenshot-1758323551722.png
  .continuum/sessions/validation/run_6cbefb5d5bd0/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1701.tgz
  src/debug/jtag/continuum-jtag-1.0.1702.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/room-list/room-list-widget.html
Labels: dependencies

users and rooms both use the listing
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.info.json
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.log
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.log.json
  .continuum/sessions/validation/run_86dcca13baae/logs/server.log
  .continuum/sessions/validation/run_86dcca13baae/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/body-test.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/content-test.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/screenshot-1758324619477.png
  .continuum/sessions/validation/run_86dcca13baae/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1702.tgz
  src/debug/jtag/continuum-jtag-1.0.1708.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list-widget.html
Labels: dependencies

users and rooms both use the listing
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.info.json
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.log
  .continuum/sessions/validation/run_86dcca13baae/logs/browser.log.json
  .continuum/sessions/validation/run_86dcca13baae/logs/server.log
  .continuum/sessions/validation/run_86dcca13baae/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/body-test.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/content-test.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_86dcca13baae/screenshots/screenshot-1758324619477.png
  .continuum/sessions/validation/run_86dcca13baae/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1702.tgz
  src/debug/jtag/continuum-jtag-1.0.1708.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list-widget.html
Labels: dependencies

an ability to improve widgets
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.info.json
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.log
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.log.json
  .continuum/sessions/validation/run_5bbb50b30b37/logs/server.log
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/body-test.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/content-test.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/screenshot-1758325375070.png
  .continuum/sessions/validation/run_5bbb50b30b37/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1708.tgz
  src/debug/jtag/continuum-jtag-1.0.1710.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

an ability to improve widgets
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.info.json
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.log
  .continuum/sessions/validation/run_5bbb50b30b37/logs/browser.log.json
  .continuum/sessions/validation/run_5bbb50b30b37/logs/server.log
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/body-test.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/content-test.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5bbb50b30b37/screenshots/screenshot-1758325375070.png
  .continuum/sessions/validation/run_5bbb50b30b37/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1708.tgz
  src/debug/jtag/continuum-jtag-1.0.1710.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

widget consolidation
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.info.json
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.log
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.log.json
  .continuum/sessions/validation/run_ee4a8d951e53/logs/server.log
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/body-test.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/content-test.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/screenshot-1758326657367.png
  .continuum/sessions/validation/run_ee4a8d951e53/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1710.tgz
  src/debug/jtag/continuum-jtag-1.0.1714.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

widget consolidation
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.info.json
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.log
  .continuum/sessions/validation/run_ee4a8d951e53/logs/browser.log.json
  .continuum/sessions/validation/run_ee4a8d951e53/logs/server.log
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/body-test.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/content-test.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ee4a8d951e53/screenshots/screenshot-1758326657367.png
  .continuum/sessions/validation/run_ee4a8d951e53/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1710.tgz
  src/debug/jtag/continuum-jtag-1.0.1714.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

much better widgets
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.info.json
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.log
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.log.json
  .continuum/sessions/validation/run_7da19b99e0bb/logs/server.log
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/body-test.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/content-test.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/screenshot-1758328582721.png
  .continuum/sessions/validation/run_7da19b99e0bb/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1714.tgz
  src/debug/jtag/continuum-jtag-1.0.1719.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

much better widgets
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.info.json
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.log
  .continuum/sessions/validation/run_7da19b99e0bb/logs/browser.log.json
  .continuum/sessions/validation/run_7da19b99e0bb/logs/server.log
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/body-test.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/content-test.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_7da19b99e0bb/screenshots/screenshot-1758328582721.png
  .continuum/sessions/validation/run_7da19b99e0bb/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1714.tgz
  src/debug/jtag/continuum-jtag-1.0.1719.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

deprecate basewidget execute command
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.info.json
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.log
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.log.json
  .continuum/sessions/validation/run_676c17e3e19b/logs/server.log
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/body-test.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/content-test.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/screenshot-1758329980616.png
  .continuum/sessions/validation/run_676c17e3e19b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1719.tgz
  src/debug/jtag/continuum-jtag-1.0.1722.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

deprecate basewidget execute command
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.info.json
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.log
  .continuum/sessions/validation/run_676c17e3e19b/logs/browser.log.json
  .continuum/sessions/validation/run_676c17e3e19b/logs/server.log
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/body-test.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/content-test.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_676c17e3e19b/screenshots/screenshot-1758329980616.png
  .continuum/sessions/validation/run_676c17e3e19b/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1719.tgz
  src/debug/jtag/continuum-jtag-1.0.1722.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

Consolidate command execution to domain-owned CommandDaemon.execute
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.info.json
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.log
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.log.json
  .continuum/sessions/validation/run_5e9e05fda62d/logs/server.log
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/body-test.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/content-test.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/screenshot-1758330648935.png
  .continuum/sessions/validation/run_5e9e05fda62d/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1722.tgz
  src/debug/jtag/continuum-jtag-1.0.1724.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/ThemeDiscoveryService.ts
Labels: dependencies

Consolidate command execution to domain-owned CommandDaemon.execute
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.info.json
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.log
  .continuum/sessions/validation/run_5e9e05fda62d/logs/browser.log.json
  .continuum/sessions/validation/run_5e9e05fda62d/logs/server.log
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/body-test.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/content-test.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5e9e05fda62d/screenshots/screenshot-1758330648935.png
  .continuum/sessions/validation/run_5e9e05fda62d/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1722.tgz
  src/debug/jtag/continuum-jtag-1.0.1724.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/ThemeDiscoveryService.ts
Labels: dependencies

chat widget scrolling
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.info.json
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.log
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.log.json
  .continuum/sessions/validation/run_a91c4a478def/logs/server.log
  .continuum/sessions/validation/run_a91c4a478def/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/body-test.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/content-test.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/screenshot-1758332885934.png
  .continuum/sessions/validation/run_a91c4a478def/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1724.tgz
  src/debug/jtag/continuum-jtag-1.0.1730.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

chat widget scrolling
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.info.json
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.log
  .continuum/sessions/validation/run_a91c4a478def/logs/browser.log.json
  .continuum/sessions/validation/run_a91c4a478def/logs/server.log
  .continuum/sessions/validation/run_a91c4a478def/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/body-test.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/content-test.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a91c4a478def/screenshots/screenshot-1758332885934.png
  .continuum/sessions/validation/run_a91c4a478def/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1724.tgz
  src/debug/jtag/continuum-jtag-1.0.1730.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

better performance
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.info.json
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.log
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.log.json
  .continuum/sessions/validation/run_738fc6a052a2/logs/server.log
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/body-test.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/content-test.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/screenshot-1758333322648.png
  .continuum/sessions/validation/run_738fc6a052a2/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1730.tgz
  src/debug/jtag/continuum-jtag-1.0.1732.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

better performance
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.info.json
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.log
  .continuum/sessions/validation/run_738fc6a052a2/logs/browser.log.json
  .continuum/sessions/validation/run_738fc6a052a2/logs/server.log
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/body-test.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/content-test.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_738fc6a052a2/screenshots/screenshot-1758333322648.png
  .continuum/sessions/validation/run_738fc6a052a2/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1730.tgz
  src/debug/jtag/continuum-jtag-1.0.1732.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
