Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

default features = [] — always pass GPU features explicitly
  src/scripts/parallel-start.sh
  src/scripts/setup-rust.sh
  src/workers/continuum-core/Cargo.toml
Labels: none

inference-grpc: default features = [] (was hardcoded metal, fails on Linux)
  src/workers/inference-grpc/Cargo.toml
Labels: none

Build GPU crates individually with per-package --features
  src/scripts/parallel-start.sh
Labels: none

Commit Cargo.lock for cross-platform dep resolution
  src/.gitignore
  src/workers/Cargo.lock
Labels: none

Install: add libva-dev for webrtc-sys (LiveKit video)
  src/scripts/install.sh
Labels: none

Fix gitignore catching Rust source models/ dir + commit models module
  src/.gitignore
  src/workers/continuum-core/src/models/mod.rs
Labels: none

Regenerate Cargo.lock — compatible with both macOS and Linux/CUDA
  src/workers/Cargo.lock
Labels: none

Fix cross-platform deps: csv, regex, rusqlite etc were under macOS-only target
  src/workers/continuum-core/Cargo.toml
Labels: none

Platform-gate macOS-only code: gpu_bridge stub, Metal buffer cleanup, GpuConvertPlugin
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/live/avatar/publishers/mod.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/mod.rs
Labels: none

gpu_bridge stub: use generic type for slot_id (u8/u32 callers)
  src/workers/continuum-core/src/live/avatar/publishers/mod.rs
Labels: none

Linux: allow-multiple-definition for protobuf symbol clash (webrtc-sys + ort-sys)
  src/workers/continuum-core/build.rs
Labels: none

Fix package name: archive-worker not archive
  src/scripts/parallel-start.sh
Labels: none

ts-rs binding generator: detect GPU features for cargo test
  src/generator/generate-rust-bindings.ts
Labels: none

ORT: switch from download-binaries to load-dynamic
  src/workers/Cargo.lock
  src/workers/Cargo.toml
  src/workers/continuum-core/build.rs
Labels: none

Linux: allow-multiple-definition for webrtc-sys protozero_plugin main symbol conflict
  src/workers/continuum-core/build.rs
Labels: none

Raise ulimit -n 65536 for Linux/WSL (rayon thread pool needs >1024 fds)
  src/scripts/parallel-start.sh
Labels: none

Fix gitignore: build/ was catching command dirs (development/build/)
  .gitignore
  src/commands/development/build/.npmignore
  src/commands/development/build/README.md
  src/commands/development/build/browser/DevelopmentBuildBrowserCommand.ts
  src/commands/development/build/package.json
  src/commands/development/build/server/DevelopmentBuildServerCommand.ts
  src/commands/development/build/shared/DevelopmentBuildTypes.ts
  src/commands/development/build/test/integration/DevelopmentBuildIntegration.test.ts
  src/commands/development/build/test/unit/DevelopmentBuildCommand.test.ts
Labels: documentation, tests, dependencies

Skip ulimit -v on Linux — CUDA/WebRTC need more than 4GB virtual memory
  src/workers/start-workers.sh
Labels: none

Install: auto-setup PostgreSQL + DATABASE_URL in config.env
  src/scripts/install.sh
Labels: none

Fix DATABASE_URL: expand $USER at install time, not as literal string
  src/scripts/install.sh
Labels: none

Remove hardcoded 'joel' from Postgres config and build scripts
  src/scripts/parallel-start.sh
  src/system/core/config/SystemPaths.ts
Labels: none

Source config.env in parallel-start.sh (TS orchestrator needs DATABASE_URL)
  src/scripts/parallel-start.sh
Labels: none

Install: set Postgres trust auth for local connections (no password for dev)
  src/scripts/install.sh
Labels: none

Purge all hardcoded personal identity from codebase
  src/.gitignore
  src/api/data-seed/DataSeeder.ts
  src/data/fake-users.json
  src/data/seed-data.json
  src/data/seed/currentData.json
  src/data/seed/currentData.ts
  src/data/seed/generatedSeedData.ts
  src/generator/specs/migration-start.json
  src/scripts/cleanup-test-entities.ts
  src/scripts/install.sh
  src/scripts/parallel-start.sh
  src/scripts/seed/factories.ts
  src/shared/generated/index.ts
  src/system/core/client/shared/JTAGClient.ts
  src/system/data/config/DatabaseConfig.ts
  src/system/data/domains/DefaultEntities.ts
  src/system/data/entities/ActivityEntity.ts
  src/system/data/factories/MessageFactory.ts
  src/system/data/utils/UniqueIdUtils.ts
  src/system/routing/RoutingService.ts
  src/system/shared/SecureConfigTypes.ts
  src/system/shared/UserIdManager.ts
  src/system/user/shared/BaseUser.ts
  src/system/user/shared/UserIdentityResolver.ts
  src/tests/integration/chat-user-id-persistence.test.ts
  src/tests/integration/end-to-end-chat/cli-browser-integration-complete.test.ts
  src/tests/integration/user-identity-architecture.test.ts
  src/tests/integration/voice-orchestrator.test.ts
  src/tests/integration/voice-persona-inbox.test.ts
  src/tests/integration/voice-response-routing.test.ts
  src/tests/isolated-rust-worker-test.ts
  src/tests/scripts/test-database-seeding.sh
  src/widgets/chat/shared/ChatMessageRenderer.ts
  src/workers/continuum-core/src/bin/diagnose_prefill.rs
  src/workers/continuum-core/src/bin/test_qwen_gguf.rs
  src/workers/continuum-core/src/inference/model.rs
  src/workers/continuum-core/tests/memory_recall_accuracy.rs
Labels: tests

Fix ORT: download-binaries on macOS, load-dynamic on Linux only
  src/scripts/shared/cargo-features.sh
  src/workers/Cargo.toml
  src/workers/continuum-core/Cargo.toml
Labels: none

Architecture doc: UI modes (headless, CLI, web, CLI+web)
  src/docs/architecture/UI-MODES.md
Labels: documentation

Revert bevy_renderer cross-platform gating (broke animation) + add ambient light
  src/workers/continuum-core/src/live/video/bevy_renderer/mod.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/scene/builder.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/scene/lighting.rs
Labels: none

Skip first 30 readback frames to prevent green/noise corruption
  src/workers/continuum-core/src/live/video/bevy_renderer/mod.rs
Labels: none

modular animation system
  src/workers/archive/Cargo.lock
  src/workers/continuum-core/src/inference/backends/mod.rs
  src/workers/continuum-core/src/live/audio/resource_lifecycle.rs
  src/workers/continuum-core/src/live/session/cognitive_animation.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/blinking.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/body_gestures.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/breathing.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/cadence.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/camera.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/components.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/expression.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/eye_gaze.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/idle_gestures.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/mod.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/morph_discovery.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/prng.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/speaking.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/api.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/app.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/commands.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/mod.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/readback.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/scene/mod.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/setup.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/skeleton.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/stats.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/types.rs
Labels: none

minor animation issues
  .gitignore
  src/workers/continuum-core/src/live/video/bevy_renderer/animation/components.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/commands.rs
  src/workers/continuum-core/src/live/video/bevy_renderer/scene/animation.rs
Labels: none

Gate metal_gpu_convert plugin behind #[cfg(target_os = macos)] for Linux builds
  src/workers/continuum-core/src/live/video/bevy_renderer/app.rs
Labels: none

Strip load-dynamic-ort from inference-grpc features (continuum-core only)
  src/scripts/parallel-start.sh
Labels: none

Add SKIP_TSRS env var for towers where cargo test crashes (protobuf conflict)
  src/generator/generate-rust-bindings.ts
Labels: none

Cross-platform browser open: WSL uses cmd.exe, Linux uses xdg-open, macOS uses open
  src/commands/interface/launch/url/server/InterfaceLaunchUrlServerCommand.ts
  src/system/orchestration/SystemOrchestrator.ts
Labels: none

Hardware-aware persona creation, one-command install, cross-platform fixes
  CLAUDE.md
  bootstrap.sh
  src/commands/interface/launch/url/server/InterfaceLaunchUrlServerCommand.ts
  src/commands/ping/server/PingServerCommand.ts
  src/daemons/ai-provider-daemon/shared/HardwareProfile.ts
  src/daemons/command-daemon/shared/CommandDaemon.ts
  src/scripts/install.sh
  src/scripts/parallel-start.sh
  src/scripts/seed-continuum.ts
  src/scripts/seed/helpers.ts
  src/scripts/seed/personas.ts
  src/scripts/uninstall.sh
  src/system/orchestration/SystemOrchestrator.ts
Labels: documentation

Fix: skip cargo test on Linux automatically (no SKIP_TSRS hack needed)
  src/generator/generate-rust-bindings.ts
Labels: none

Fix ping timeout on headless (3s browser timeout), add LiveKit to install.sh
  src/commands/ping/server/PingServerCommand.ts
  src/scripts/install.sh
Labels: none

Remove SKIP_TSRS hack from install.sh
  src/scripts/install.sh
Labels: none

Fix ping timeout on headless, auto-install LiveKit + SKIP_TSRS
  src/commands/ping/server/PingServerCommand.ts
  src/commands/ping/shared/PingTypes.ts
Labels: none

WSL browser: use explorer.exe (always available, opens user's default browser)
  src/commands/interface/launch/url/server/InterfaceLaunchUrlServerCommand.ts
  src/scripts/install.sh
  src/system/orchestration/SystemOrchestrator.ts
Labels: none
