Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

works beautifully
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.info.json
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.log
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.log.json
  .continuum/sessions/validation/run_d004f287fed4/logs/server.log
  .continuum/sessions/validation/run_d004f287fed4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/body-test.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/content-test.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/screenshot-1758591429580.png
  .continuum/sessions/validation/run_d004f287fed4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1888.tgz
  src/debug/jtag/continuum-jtag-1.0.1891.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

works beautifully
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.info.json
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.log
  .continuum/sessions/validation/run_d004f287fed4/logs/browser.log.json
  .continuum/sessions/validation/run_d004f287fed4/logs/server.log
  .continuum/sessions/validation/run_d004f287fed4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/body-test.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/content-test.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d004f287fed4/screenshots/screenshot-1758591429580.png
  .continuum/sessions/validation/run_d004f287fed4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/shared/ChatSendMessageCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1888.tgz
  src/debug/jtag/continuum-jtag-1.0.1891.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

fixing critical issues and documenting autonomous friction
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.info.json
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.log
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.log.json
  .continuum/sessions/validation/run_ff3ba2731d94/logs/server.log
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/body-test.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/content-test.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/screenshot-1758593019478.png
  .continuum/sessions/validation/run_ff3ba2731d94/session-info.json
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1891.tgz
  src/debug/jtag/continuum-jtag-1.0.1893.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

fixing critical issues and documenting autonomous friction
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.info.json
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.log
  .continuum/sessions/validation/run_ff3ba2731d94/logs/browser.log.json
  .continuum/sessions/validation/run_ff3ba2731d94/logs/server.log
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/body-test.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/content-test.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ff3ba2731d94/screenshots/screenshot-1758593019478.png
  .continuum/sessions/validation/run_ff3ba2731d94/session-info.json
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1891.tgz
  src/debug/jtag/continuum-jtag-1.0.1893.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

cleanup
  .continuum/sessions/validation/run_ff55449caade/logs/browser.info.json
  .continuum/sessions/validation/run_ff55449caade/logs/browser.log
  .continuum/sessions/validation/run_ff55449caade/logs/browser.log.json
  .continuum/sessions/validation/run_ff55449caade/logs/server.log
  .continuum/sessions/validation/run_ff55449caade/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/body-test.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/content-test.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/screenshot-1758594424612.png
  .continuum/sessions/validation/run_ff55449caade/session-info.json
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1893.tgz
  src/debug/jtag/continuum-jtag-1.0.1896.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
Labels: documentation, dependencies

cleanup
  .continuum/sessions/validation/run_ff55449caade/logs/browser.info.json
  .continuum/sessions/validation/run_ff55449caade/logs/browser.log
  .continuum/sessions/validation/run_ff55449caade/logs/browser.log.json
  .continuum/sessions/validation/run_ff55449caade/logs/server.log
  .continuum/sessions/validation/run_ff55449caade/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/body-test.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/content-test.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ff55449caade/screenshots/screenshot-1758594424612.png
  .continuum/sessions/validation/run_ff55449caade/session-info.json
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1893.tgz
  src/debug/jtag/continuum-jtag-1.0.1896.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/transports/websocket-transport/shared/WebSocketTransportClient.ts
Labels: documentation, dependencies

update is broken, attempting wire up of live data
  .continuum/sessions/validation/run_97547701213e/logs/browser.info.json
  .continuum/sessions/validation/run_97547701213e/logs/browser.log
  .continuum/sessions/validation/run_97547701213e/logs/browser.log.json
  .continuum/sessions/validation/run_97547701213e/logs/server.log
  .continuum/sessions/validation/run_97547701213e/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/body-test.png
  .continuum/sessions/validation/run_97547701213e/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/content-test.png
  .continuum/sessions/validation/run_97547701213e/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/screenshot-1758597211305.png
  .continuum/sessions/validation/run_97547701213e/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1896.tgz
  src/debug/jtag/continuum-jtag-1.0.1900.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

update is broken, attempting wire up of live data
  .continuum/sessions/validation/run_97547701213e/logs/browser.info.json
  .continuum/sessions/validation/run_97547701213e/logs/browser.log
  .continuum/sessions/validation/run_97547701213e/logs/browser.log.json
  .continuum/sessions/validation/run_97547701213e/logs/server.log
  .continuum/sessions/validation/run_97547701213e/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/body-test.png
  .continuum/sessions/validation/run_97547701213e/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/content-test.png
  .continuum/sessions/validation/run_97547701213e/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_97547701213e/screenshots/screenshot-1758597211305.png
  .continuum/sessions/validation/run_97547701213e/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1896.tgz
  src/debug/jtag/continuum-jtag-1.0.1900.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: dependencies

claude about to do something stupid
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.info.json
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.log
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.log.json
  .continuum/sessions/validation/run_35feabc30a04/logs/server.log
  .continuum/sessions/validation/run_35feabc30a04/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/body-test.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/content-test.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/screenshot-1758655147496.png
  .continuum/sessions/validation/run_35feabc30a04/session-info.json
  CLAUDE.md
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/REAL-TIME-CRUD-SUCCESS-REPORT.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/commands/debug/crud-sync/browser/CrudSyncBrowserCommand.ts
  src/debug/jtag/commands/debug/crud-sync/server/CrudSyncServerCommand.ts
  src/debug/jtag/commands/debug/crud-sync/shared/CrudSyncDebugTypes.ts
  src/debug/jtag/commands/debug/widget-interact/browser/WidgetInteractBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-interact/server/WidgetInteractServerCommand.ts
  src/debug/jtag/commands/debug/widget-interact/shared/WidgetInteractTypes.ts
  src/debug/jtag/commands/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-state/server/WidgetStateServerCommand.ts
  src/debug/jtag/commands/debug/widget-state/shared/WidgetStateDebugTypes.ts
  src/debug/jtag/commands/exec/browser/ExecBrowserCommand.ts
  src/debug/jtag/commands/exec/server/ExecServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1900.tgz
  src/debug/jtag/continuum-jtag-1.0.1914.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/browser/utils/WidgetIntrospection.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
  src/debug/jtag/tests/integration/realtime-crud-dom-updates.test.ts
Labels: documentation, tests, dependencies

claude about to do something stupid
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.info.json
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.log
  .continuum/sessions/validation/run_35feabc30a04/logs/browser.log.json
  .continuum/sessions/validation/run_35feabc30a04/logs/server.log
  .continuum/sessions/validation/run_35feabc30a04/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/body-test.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/content-test.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_35feabc30a04/screenshots/screenshot-1758655147496.png
  .continuum/sessions/validation/run_35feabc30a04/session-info.json
  CLAUDE.md
  src/debug/jtag/DEBUG-FRICTION.md
  src/debug/jtag/REAL-TIME-CRUD-SUCCESS-REPORT.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/commands/debug/crud-sync/browser/CrudSyncBrowserCommand.ts
  src/debug/jtag/commands/debug/crud-sync/server/CrudSyncServerCommand.ts
  src/debug/jtag/commands/debug/crud-sync/shared/CrudSyncDebugTypes.ts
  src/debug/jtag/commands/debug/widget-interact/browser/WidgetInteractBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-interact/server/WidgetInteractServerCommand.ts
  src/debug/jtag/commands/debug/widget-interact/shared/WidgetInteractTypes.ts
  src/debug/jtag/commands/debug/widget-state/browser/WidgetStateBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-state/server/WidgetStateServerCommand.ts
  src/debug/jtag/commands/debug/widget-state/shared/WidgetStateDebugTypes.ts
  src/debug/jtag/commands/exec/browser/ExecBrowserCommand.ts
  src/debug/jtag/commands/exec/server/ExecServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1900.tgz
  src/debug/jtag/continuum-jtag-1.0.1914.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/browser/utils/WidgetIntrospection.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
  src/debug/jtag/tests/integration/realtime-crud-dom-updates.test.ts
Labels: documentation, tests, dependencies

removed god objects
  .continuum/sessions/validation/run_9253629aa622/logs/browser.info.json
  .continuum/sessions/validation/run_9253629aa622/logs/browser.log
  .continuum/sessions/validation/run_9253629aa622/logs/browser.log.json
  .continuum/sessions/validation/run_9253629aa622/logs/server.log
  .continuum/sessions/validation/run_9253629aa622/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/body-test.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/content-test.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/screenshot-1758659686315.png
  .continuum/sessions/validation/run_9253629aa622/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/debug/error/browser/DebugErrorBrowserCommand.ts
  src/debug/jtag/commands/debug/error/server/DebugErrorServerCommand.ts
  src/debug/jtag/commands/debug/error/shared/TestErrorTypes.ts
  src/debug/jtag/commands/debug/error/test/README.md
  src/debug/jtag/commands/debug/error/test/integration/TestErrorIntegration.test.ts
  src/debug/jtag/commands/debug/error/test/unit/TestErrorCommand.test.ts
  src/debug/jtag/continuum-jtag-1.0.1914.tgz
  src/debug/jtag/continuum-jtag-1.0.1924.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/jtag
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/entry-points/EntryPointAdapter.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
Labels: documentation, tests, dependencies

removed god objects
  .continuum/sessions/validation/run_9253629aa622/logs/browser.info.json
  .continuum/sessions/validation/run_9253629aa622/logs/browser.log
  .continuum/sessions/validation/run_9253629aa622/logs/browser.log.json
  .continuum/sessions/validation/run_9253629aa622/logs/server.log
  .continuum/sessions/validation/run_9253629aa622/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/body-test.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/content-test.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9253629aa622/screenshots/screenshot-1758659686315.png
  .continuum/sessions/validation/run_9253629aa622/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/cli.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/debug/error/browser/DebugErrorBrowserCommand.ts
  src/debug/jtag/commands/debug/error/server/DebugErrorServerCommand.ts
  src/debug/jtag/commands/debug/error/shared/TestErrorTypes.ts
  src/debug/jtag/commands/debug/error/test/README.md
  src/debug/jtag/commands/debug/error/test/integration/TestErrorIntegration.test.ts
  src/debug/jtag/commands/debug/error/test/unit/TestErrorCommand.test.ts
  src/debug/jtag/continuum-jtag-1.0.1914.tgz
  src/debug/jtag/continuum-jtag-1.0.1924.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/jtag
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/entry-points/EntryPointAdapter.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
Labels: documentation, tests, dependencies

decent sql and json builder
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.info.json
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.log
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.log.json
  .continuum/sessions/validation/run_8217aea77d31/logs/server.log
  .continuum/sessions/validation/run_8217aea77d31/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/body-test.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/content-test.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/screenshot-1758676850914.png
  .continuum/sessions/validation/run_8217aea77d31/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1925.tgz
  src/debug/jtag/continuum-jtag-1.0.1927.tgz
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/JsonFileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteQueryBuilder.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

decent sql and json builder
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.info.json
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.log
  .continuum/sessions/validation/run_8217aea77d31/logs/browser.log.json
  .continuum/sessions/validation/run_8217aea77d31/logs/server.log
  .continuum/sessions/validation/run_8217aea77d31/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/body-test.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/content-test.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_8217aea77d31/screenshots/screenshot-1758676850914.png
  .continuum/sessions/validation/run_8217aea77d31/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1925.tgz
  src/debug/jtag/continuum-jtag-1.0.1927.tgz
  src/debug/jtag/daemons/data-daemon/server/FileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/JsonFileStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/MemoryStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteQueryBuilder.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

fixed the entity id bug
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.info.json
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.log
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.log.json
  .continuum/sessions/validation/run_1ab3e0337aad/logs/server.log
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/body-test.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/content-test.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/screenshot-1758678429180.png
  .continuum/sessions/validation/run_1ab3e0337aad/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1927.tgz
  src/debug/jtag/continuum-jtag-1.0.1932.tgz
  src/debug/jtag/create_response.json
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

fixed the entity id bug
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.info.json
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.log
  .continuum/sessions/validation/run_1ab3e0337aad/logs/browser.log.json
  .continuum/sessions/validation/run_1ab3e0337aad/logs/server.log
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/body-test.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/content-test.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1ab3e0337aad/screenshots/screenshot-1758678429180.png
  .continuum/sessions/validation/run_1ab3e0337aad/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/create/server/DataCreateServerCommand.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1927.tgz
  src/debug/jtag/continuum-jtag-1.0.1932.tgz
  src/debug/jtag/create_response.json
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

much better data design
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.info.json
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.log
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.log.json
  .continuum/sessions/validation/run_2150a831b9ea/logs/server.log
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/body-test.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/content-test.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/screenshot-1758682053587.png
  .continuum/sessions/validation/run_2150a831b9ea/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/schema/browser/DataSchemaBrowserCommand.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1932.tgz
  src/debug/jtag/continuum-jtag-1.0.1938.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
Labels: dependencies

much better data design
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.info.json
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.log
  .continuum/sessions/validation/run_2150a831b9ea/logs/browser.log.json
  .continuum/sessions/validation/run_2150a831b9ea/logs/server.log
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/body-test.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/content-test.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_2150a831b9ea/screenshots/screenshot-1758682053587.png
  .continuum/sessions/validation/run_2150a831b9ea/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/schema/browser/DataSchemaBrowserCommand.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1932.tgz
  src/debug/jtag/continuum-jtag-1.0.1938.tgz
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed-sqlite.ts
  src/debug/jtag/server/generated.ts
Labels: dependencies

attempts at cleanup
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.info.json
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.log
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.log.json
  .continuum/sessions/validation/run_a3bc419a9e95/logs/server.log
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/body-test.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/content-test.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/screenshot-1758724690219.png
  .continuum/sessions/validation/run_a3bc419a9e95/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/delete/server/DataDeleteServerCommand.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/commands/data/shared/DataEventUtils.ts
  src/debug/jtag/commands/data/shared/README.md
  src/debug/jtag/commands/exec/README.md
  src/debug/jtag/commands/exec/browser/ExecBrowserCommand.ts
  src/debug/jtag/commands/exec/shared/ExecTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1938.tgz
  src/debug/jtag/continuum-jtag-1.0.1949.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/Events.ts
  src/debug/jtag/system/core/server/shared/Events.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: documentation, tests, dependencies

attempts at cleanup
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.info.json
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.log
  .continuum/sessions/validation/run_a3bc419a9e95/logs/browser.log.json
  .continuum/sessions/validation/run_a3bc419a9e95/logs/server.log
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/body-test.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/content-test.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a3bc419a9e95/screenshots/screenshot-1758724690219.png
  .continuum/sessions/validation/run_a3bc419a9e95/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/delete/server/DataDeleteServerCommand.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/commands/data/shared/DataEventUtils.ts
  src/debug/jtag/commands/data/shared/README.md
  src/debug/jtag/commands/exec/README.md
  src/debug/jtag/commands/exec/browser/ExecBrowserCommand.ts
  src/debug/jtag/commands/exec/shared/ExecTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1938.tgz
  src/debug/jtag/continuum-jtag-1.0.1949.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/Events.ts
  src/debug/jtag/system/core/server/shared/Events.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: documentation, tests, dependencies

Enhanced CRUD-Event-Test architecture with complete schema validation
  .continuum/sessions/validation/run_139084a28aba/logs/browser.info.json
  .continuum/sessions/validation/run_139084a28aba/logs/browser.log
  .continuum/sessions/validation/run_139084a28aba/logs/browser.log.json
  .continuum/sessions/validation/run_139084a28aba/logs/server.log
  .continuum/sessions/validation/run_139084a28aba/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/body-test.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/content-test.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/screenshot-1758740847984.png
  .continuum/sessions/validation/run_139084a28aba/session-info.json
  src/debug/jtag/ARCHITECTURE-RULES.md
  src/debug/jtag/CRUD-EVENT-TEST-ARCHITECTURE.md
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/SYSTEM-FIX-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1949.tgz
  src/debug/jtag/continuum-jtag-1.0.1954.tgz
  src/debug/jtag/daemons/data-daemon/README.md
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/Events.ts
  src/debug/jtag/system/data/entities/BaseEntity.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/events/shared/ElegantSubscriptionParser.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
  src/debug/jtag/tests/integration/realtime-crud-dom-updates.test.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
Labels: documentation, tests, dependencies

Enhanced CRUD-Event-Test architecture with complete schema validation
  .continuum/sessions/validation/run_139084a28aba/logs/browser.info.json
  .continuum/sessions/validation/run_139084a28aba/logs/browser.log
  .continuum/sessions/validation/run_139084a28aba/logs/browser.log.json
  .continuum/sessions/validation/run_139084a28aba/logs/server.log
  .continuum/sessions/validation/run_139084a28aba/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/body-test.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/content-test.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_139084a28aba/screenshots/screenshot-1758740847984.png
  .continuum/sessions/validation/run_139084a28aba/session-info.json
  src/debug/jtag/ARCHITECTURE-RULES.md
  src/debug/jtag/CRUD-EVENT-TEST-ARCHITECTURE.md
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/SYSTEM-FIX-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/schema/server/DataSchemaServerCommand.ts
  src/debug/jtag/commands/data/schema/shared/DataSchemaTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1949.tgz
  src/debug/jtag/continuum-jtag-1.0.1954.tgz
  src/debug/jtag/daemons/data-daemon/README.md
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/Events.ts
  src/debug/jtag/system/data/entities/BaseEntity.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/events/shared/ElegantSubscriptionParser.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts
  src/debug/jtag/tests/integration/crud-update-persistence.test.ts
  src/debug/jtag/tests/integration/modular-crud-widget-sync.test.ts
  src/debug/jtag/tests/integration/realtime-crud-dom-updates.test.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
Labels: documentation, tests, dependencies

working crud arcitecture, at least the C part, but working in UI events
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.info.json
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.log
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.log.json
  .continuum/sessions/validation/run_a0cff7e06542/logs/server.log
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/body-test.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/content-test.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/screenshot-1758742031958.png
  .continuum/sessions/validation/run_a0cff7e06542/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1954.tgz
  src/debug/jtag/continuum-jtag-1.0.1957.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/intelligent-test-runner.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
Labels: dependencies

working crud arcitecture, at least the C part, but working in UI events
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.info.json
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.log
  .continuum/sessions/validation/run_a0cff7e06542/logs/browser.log.json
  .continuum/sessions/validation/run_a0cff7e06542/logs/server.log
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/body-test.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/content-test.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_a0cff7e06542/screenshots/screenshot-1758742031958.png
  .continuum/sessions/validation/run_a0cff7e06542/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1954.tgz
  src/debug/jtag/continuum-jtag-1.0.1957.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/intelligent-test-runner.ts
  src/debug/jtag/scripts/test-with-server.ts
  src/debug/jtag/server/generated.ts
Labels: dependencies

finish tests
  .continuum/sessions/validation/run_53358e4da154/logs/browser.info.json
  .continuum/sessions/validation/run_53358e4da154/logs/browser.log
  .continuum/sessions/validation/run_53358e4da154/logs/browser.log.json
  .continuum/sessions/validation/run_53358e4da154/logs/server.log
  .continuum/sessions/validation/run_53358e4da154/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/body-test.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/content-test.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/screenshot-1758744278545.png
  .continuum/sessions/validation/run_53358e4da154/session-info.json
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/RUST-STYLE-DEFAULTS-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/commands/data/update/shared/DataUpdateTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1957.tgz
  src/debug/jtag/continuum-jtag-1.0.1960.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
Labels: documentation, dependencies

finish tests
  .continuum/sessions/validation/run_53358e4da154/logs/browser.info.json
  .continuum/sessions/validation/run_53358e4da154/logs/browser.log
  .continuum/sessions/validation/run_53358e4da154/logs/browser.log.json
  .continuum/sessions/validation/run_53358e4da154/logs/server.log
  .continuum/sessions/validation/run_53358e4da154/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/body-test.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/content-test.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_53358e4da154/screenshots/screenshot-1758744278545.png
  .continuum/sessions/validation/run_53358e4da154/session-info.json
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/RUST-STYLE-DEFAULTS-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/update/server/DataUpdateServerCommand.ts
  src/debug/jtag/commands/data/update/shared/DataUpdateTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1957.tgz
  src/debug/jtag/continuum-jtag-1.0.1960.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
Labels: documentation, dependencies

good checkpoint for crud
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.info.json
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.log
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.log.json
  .continuum/sessions/validation/run_52da257cfc07/logs/server.log
  .continuum/sessions/validation/run_52da257cfc07/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/body-test.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/content-test.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/screenshot-1758745467659.png
  .continuum/sessions/validation/run_52da257cfc07/session-info.json
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/ENTITY-EVOLUTION-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1960.tgz
  src/debug/jtag/continuum-jtag-1.0.1962.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
Labels: documentation, dependencies

good checkpoint for crud
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.info.json
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.log
  .continuum/sessions/validation/run_52da257cfc07/logs/browser.log.json
  .continuum/sessions/validation/run_52da257cfc07/logs/server.log
  .continuum/sessions/validation/run_52da257cfc07/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/body-test.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/content-test.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_52da257cfc07/screenshots/screenshot-1758745467659.png
  .continuum/sessions/validation/run_52da257cfc07/session-info.json
  src/debug/jtag/ELEGANT-CRUD-ARCHITECTURE.md
  src/debug/jtag/ENTITY-EVOLUTION-PLAN.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1960.tgz
  src/debug/jtag/continuum-jtag-1.0.1962.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/RoomEntity.ts
Labels: documentation, dependencies

entities without profile
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.info.json
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.log
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.log.json
  .continuum/sessions/validation/run_5d5973d85858/logs/server.log
  .continuum/sessions/validation/run_5d5973d85858/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/body-test.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/content-test.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/screenshot-1758752888140.png
  .continuum/sessions/validation/run_5d5973d85858/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1962.tgz
  src/debug/jtag/continuum-jtag-1.0.1970.tgz
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/BaseEntity.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/data/entities/UserProfileEntity.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: tests, dependencies

entities without profile
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.info.json
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.log
  .continuum/sessions/validation/run_5d5973d85858/logs/browser.log.json
  .continuum/sessions/validation/run_5d5973d85858/logs/server.log
  .continuum/sessions/validation/run_5d5973d85858/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/body-test.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/content-test.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5d5973d85858/screenshots/screenshot-1758752888140.png
  .continuum/sessions/validation/run_5d5973d85858/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1962.tgz
  src/debug/jtag/continuum-jtag-1.0.1970.tgz
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/entities/BaseEntity.ts
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/data/entities/UserEntity.ts
  src/debug/jtag/system/data/entities/UserProfileEntity.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
Labels: tests, dependencies

event cleanup
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.info.json
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.log
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.log.json
  .continuum/sessions/validation/run_30b400fcbce4/logs/server.log
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/body-test.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/content-test.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/screenshot-1758765740362.png
  .continuum/sessions/validation/run_30b400fcbce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/shared/DataEventUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1970.tgz
  src/debug/jtag/continuum-jtag-1.0.1975.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

event cleanup
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.info.json
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.log
  .continuum/sessions/validation/run_30b400fcbce4/logs/browser.log.json
  .continuum/sessions/validation/run_30b400fcbce4/logs/server.log
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/body-test.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/content-test.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_30b400fcbce4/screenshots/screenshot-1758765740362.png
  .continuum/sessions/validation/run_30b400fcbce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/shared/DataEventUtils.ts
  src/debug/jtag/continuum-jtag-1.0.1970.tgz
  src/debug/jtag/continuum-jtag-1.0.1975.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/events-daemon/browser/EventsDaemonBrowser.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: dependencies

crud closer but test is bad
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.info.json
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.log
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.log.json
  .continuum/sessions/validation/run_11dfd713bb11/logs/server.log
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/body-test.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/content-test.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/screenshot-1758777867108.png
  .continuum/sessions/validation/run_11dfd713bb11/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1975.tgz
  src/debug/jtag/continuum-jtag-1.0.1979.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts.broken
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
  src/debug/jtag/tests/test-utils/EntityFactory.ts
  src/debug/jtag/tests/test-utils/SchemaBasedFactory.ts
Labels: tests, dependencies

crud closer but test is bad
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.info.json
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.log
  .continuum/sessions/validation/run_11dfd713bb11/logs/browser.log.json
  .continuum/sessions/validation/run_11dfd713bb11/logs/server.log
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/body-test.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/content-test.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_11dfd713bb11/screenshots/screenshot-1758777867108.png
  .continuum/sessions/validation/run_11dfd713bb11/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1975.tgz
  src/debug/jtag/continuum-jtag-1.0.1979.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/tests/integration/crud-event-chain.test.ts.broken
  src/debug/jtag/tests/test-utils/CRUDTestUtils.ts
  src/debug/jtag/tests/test-utils/EntityFactory.ts
  src/debug/jtag/tests/test-utils/SchemaBasedFactory.ts
Labels: tests, dependencies

entity verification getting much closer
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.info.json
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.log
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.log.json
  .continuum/sessions/validation/run_efdc31fce9e5/logs/server.log
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/body-test.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/content-test.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/screenshot-1758778784309.png
  .continuum/sessions/validation/run_efdc31fce9e5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1979.tgz
  src/debug/jtag/continuum-jtag-1.0.1980.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/tests/test-utils/SchemaBasedFactory.ts
Labels: tests, dependencies

entity verification getting much closer
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.info.json
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.log
  .continuum/sessions/validation/run_efdc31fce9e5/logs/browser.log.json
  .continuum/sessions/validation/run_efdc31fce9e5/logs/server.log
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/body-test.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/content-test.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_efdc31fce9e5/screenshots/screenshot-1758778784309.png
  .continuum/sessions/validation/run_efdc31fce9e5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1979.tgz
  src/debug/jtag/continuum-jtag-1.0.1980.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
  src/debug/jtag/tests/test-utils/SchemaBasedFactory.ts
Labels: tests, dependencies

Passing more, refactored tests,
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.info.json
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.log
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.log.json
  .continuum/sessions/validation/run_5f3cf497ea91/logs/server.log
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/body-test.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/content-test.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/screenshot-1758780879237.png
  .continuum/sessions/validation/run_5f3cf497ea91/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1980.tgz
  src/debug/jtag/continuum-jtag-1.0.1982.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
Labels: tests, dependencies

Passing more, refactored tests,
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.info.json
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.log
  .continuum/sessions/validation/run_5f3cf497ea91/logs/browser.log.json
  .continuum/sessions/validation/run_5f3cf497ea91/logs/server.log
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/body-test.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/content-test.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_5f3cf497ea91/screenshots/screenshot-1758780879237.png
  .continuum/sessions/validation/run_5f3cf497ea91/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1980.tgz
  src/debug/jtag/continuum-jtag-1.0.1982.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
Labels: tests, dependencies

fix update ID field
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.info.json
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.log
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.log.json
  .continuum/sessions/validation/run_26917ac9acf5/logs/server.log
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/body-test.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/content-test.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/screenshot-1758783713904.png
  .continuum/sessions/validation/run_26917ac9acf5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1982.tgz
  src/debug/jtag/continuum-jtag-1.0.1985.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
Labels: tests, dependencies

fix update ID field
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.info.json
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.log
  .continuum/sessions/validation/run_26917ac9acf5/logs/browser.log.json
  .continuum/sessions/validation/run_26917ac9acf5/logs/server.log
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/body-test.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/content-test.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_26917ac9acf5/screenshots/screenshot-1758783713904.png
  .continuum/sessions/validation/run_26917ac9acf5/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1982.tgz
  src/debug/jtag/continuum-jtag-1.0.1985.tgz
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/tests/integration/crud-db-widget.test.ts
Labels: tests, dependencies
