Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

refactor(data): Consolidate SqliteStorageAdapter + plan PersonaUser decomposition
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/docs/PERSONA-CONSOLIDATION-PLAN.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

refactor(persona): Consolidate PersonaMessageEvaluator by removing legacy code
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
Labels: none

documentation for persona redesign: mind,body,soul
  src/debug/jtag/docs/PERSONA-BEING-ARCHITECTURE.md
  src/debug/jtag/docs/architecture/RAG-CONTEXT-BUDGET-SYSTEM.md
Labels: documentation

working on persona now
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/being/PersonaSoul.ts
Labels: dependencies

refactor(persona): Wire PersonaSoul delegation (Being Architecture Phase 1)
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaSoul.ts
Labels: dependencies

creation of personamind abstration
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
  test-images/image-9.webp
Labels: dependencies

memory moved
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
Labels: dependencies

personamind extraction complete
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
Labels: dependencies

body created
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
Labels: dependencies

manually verified PersonaBody work
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
Labels: dependencies

positronic widget system docs
  src/debug/jtag/docs/architecture/PERSONA-DRIVEN-UI-PARADIGM.md
  src/debug/jtag/docs/architecture/WIDGET-WORKER-ADAPTER-ARCHITECTURE.md
  src/debug/jtag/docs/design/PERSONA-BRAIN-WIDGET-PERFORMANCE.md
  src/debug/jtag/docs/design/POSITRONIC-EMBODIMENT.md
  src/debug/jtag/docs/personas/PERSONA-OBSERVABILITY-SYSTEM.md
  src/debug/jtag/docs/plans/PERSONA-LOGGING-AND-BASE-SUBSYSTEM.md
Labels: documentation

docs(architecture): Add Positronic Embodiment and Universal Interaction Symmetry
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/architecture/UNIVERSAL-INTERACTION-SYMMETRY.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
Labels: documentation, dependencies

fix(types): Remove all 'as any' casts from Being Architecture + fix uncovered type errors
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaAutonomousLoop.ts
  src/debug/jtag/system/user/server/modules/PersonaMessageEvaluator.ts
  src/debug/jtag/system/user/shared/BaseUser.ts
Labels: dependencies

refactor(paths): Implement registry pattern for $HOME and $REPO .continuum locations
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/SYSTEM-PATHS-MIGRATION.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/config/SystemPaths.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
  src/debug/jtag/system/user/server/modules/being/PersonaSoul.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
Labels: documentation, dependencies

feat(logging): Add categorized logging system with file output
  .continuum/default/config.md
  backups/cleanup-stale-data.sh
  backups/create-backup.sh
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/.gitignore
  src/debug/jtag/backups/backup-legacy-continuum.sh
  src/debug/jtag/backups/cleanup-legacy-continuum.sh
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteQueryExecutor.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteWriteManager.ts
  src/debug/jtag/docs/LOGGING-SYSTEM.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/ensure-python-env.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/Logger.ts
Labels: documentation, dependencies

feat(logging): Convert PersonaToolExecutor and SqliteStorageAdapter to Logger
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/logging/Logger.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: dependencies

feat(migration): Add persona log migration script
  src/debug/jtag/backups/migrate-persona-logs.sh
Labels: none

fix(paths): Move personas out of jtag/ subdirectory
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/config/SystemPaths.ts
Labels: dependencies

docs(logging): Complete logging paths design document
  src/debug/jtag/docs/LOGGING-PATHS-DESIGN.md
Labels: documentation

fix(logging): Update SubsystemLogger to use entity.uniqueId for correct log paths
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/config/SystemPaths.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
  src/debug/jtag/system/user/server/modules/being/PersonaSoul.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
Labels: dependencies

feat(logging): Add relative path support to SubsystemLogger
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
Labels: dependencies

fix(memory): Register MemoryEntity + error on unregistered entities
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/server/SqliteStorageAdapter.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/daemons/data-daemon/shared/DataDaemon.ts
  src/debug/jtag/docs/CONTINUUM-PRE-RESTART-STATE.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/seed/helpers.ts
  src/debug/jtag/scripts/seed/personas.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/config/SystemPaths.ts
  src/debug/jtag/system/core/logging/Logger.ts
  src/debug/jtag/system/data/entities/MemoryEntity.ts
  src/debug/jtag/system/data/utils/UniqueIdUtils.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/PersonaLogger.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
  src/debug/jtag/system/user/server/modules/being/PersonaMind.ts
  src/debug/jtag/system/user/server/modules/being/PersonaSoul.ts
  src/debug/jtag/system/user/server/modules/being/logging/SubsystemLogger.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive/memory/Hippocampus.ts
  src/debug/jtag/system/user/shared/AgentUser.ts
  src/debug/jtag/system/user/shared/BaseUser.ts
  src/debug/jtag/system/user/shared/HumanUser.ts
Labels: documentation, dependencies

feat(logging): Convert SqliteSchemaManager to Logger system
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

feat(logging): Implement async queue-based logging to eliminate blocking
  src/debug/jtag/system/core/logging/Logger.ts
Labels: none

docs(performance): Create comprehensive bottleneck removal plan
  src/debug/jtag/docs/plans/bottleneck-removal.md
Labels: documentation

perf(schema): Cache schema verification + only log state changes
  src/debug/jtag/daemons/data-daemon/server/managers/SqliteSchemaManager.ts
Labels: none

docs(performance): Add Bottleneck #5 - Blob Storage in Database
  src/debug/jtag/docs/plans/bottleneck-removal.md
Labels: documentation

docs(performance): Add blob migration strategy to Bottleneck #5
  src/debug/jtag/docs/plans/bottleneck-removal.md
Labels: documentation

fix(decision/propose): Handle multiple AI parameter formats intelligently
  node-processes.txt
  open-ports.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/types/JTAGTypes.ts
Labels: dependencies

feat(tools): Add logging to decision commands for parameter format tracking
  src/debug/jtag/commands/decision/propose/server/DecisionProposeServerCommand.ts
  src/debug/jtag/commands/decision/rank/server/DecisionRankServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
Labels: none

docs(tools): Document universal parameter adapter design
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/plans/tool-parameter-adapter.md
  src/debug/jtag/generator/generate-command-schemas.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
Labels: documentation, dependencies

refactor(logging): Pass personaUser object to PersonaToolExecutor
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
  src/debug/jtag/system/user/server/modules/being/PersonaBody.ts
Labels: dependencies

refactor(logging): Store persona object reference instead of extracting properties
  src/debug/jtag/system/user/server/modules/PersonaToolExecutor.ts
Labels: none

helpful errors
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/read/server/DataReadServerCommand.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

fix(daemons): Add priority-based daemon initialization to resolve race conditions
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/command-daemon/shared/DaemonBase.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-structure.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/system/shared/JTAGSystem.ts
Labels: dependencies

fix(priority): Set SessionDaemon priority to 1 for sequential initialization
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

fix(priority): Set EventsDaemon priority to 2 for sequential initialization
  src/debug/jtag/daemons/events-daemon/server/EventsDaemonServer.ts
Labels: none

refactor(daemons): Implement simple parallel daemon initialization
  src/debug/jtag/system/core/system/shared/JTAGSystem.ts
Labels: none

fix generator priority
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/command-daemon/shared/DaemonBase.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/events-daemon/server/EventsDaemonServer.ts
  src/debug/jtag/daemons/session-daemon/server/SessionDaemonServer.ts
  src/debug/jtag/docs/plans/daemon-parallel-initialization.md
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/generator/generate-structure.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

massive file
  src/debug/jtag/backups/backup-legacy-continuum.sh
  src/debug/jtag/backups/cleanup-legacy-continuum.sh
  src/debug/jtag/backups/migrate-persona-logs.sh
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/generated-command-schemas.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
