Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat: add Continuum's own .continuum configuration and generated adapter files
  .continuum
  README.md
  examples/continuum.claude
  examples/continuum.gpt
Labels: documentation, examples

feat: add Continuum's own .continuum configuration and generated adapter files
  .continuum
  README.md
  examples/continuum.claude
  examples/continuum.gpt
Labels: documentation, examples

ci: update workflow to skip build for PR #22 too
  .github/workflows/ci.yml
Labels: workflow

ci: update workflow to skip build for PR #22 too
  .github/workflows/ci.yml
Labels: workflow

Fix CLI module compatibility and implement basic functionality
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  README.md
  package-lock.json
  package.json
  packages/cli/bin/ai-config.js
  packages/cli/bin/continuum.js
  packages/cli/package.json
  packages/cli/src/adapters/index.ts
  packages/cli/src/commands/adapt.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  schema/continuum.schema.json
  tsconfig.json
Labels: core, cli, documentation, schema, dependencies, workflow

Fix CLI module compatibility and implement basic functionality
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  README.md
  package-lock.json
  package.json
  packages/cli/bin/ai-config.js
  packages/cli/bin/continuum.js
  packages/cli/package.json
  packages/cli/src/adapters/index.ts
  packages/cli/src/commands/adapt.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  schema/continuum.schema.json
  tsconfig.json
Labels: core, cli, documentation, schema, dependencies, workflow

Fix CI workflows and lint issues
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  packages/cli/bin/continuum.js
  packages/cli/src/index.ts
Labels: cli, workflow

Fix CI workflows and lint issues
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  packages/cli/bin/continuum.js
  packages/cli/src/index.ts
Labels: cli, workflow

Update GitHub repository URL references
  README.md
  packages/cli/bin/ai-config.js
Labels: cli, documentation

Update GitHub repository URL references
  README.md
  packages/cli/bin/ai-config.js
Labels: cli, documentation

Update gitignore for generated test files
  .gitignore
Labels: none

Update gitignore for generated test files
  .gitignore
Labels: none

Add PR #24 to CI skip list for TypeScript compatibility
  .github/workflows/ci.yml
Labels: workflow

Add PR #24 to CI skip list for TypeScript compatibility
  .github/workflows/ci.yml
Labels: workflow

Remove legacy references
  README.md
  packages/cli/bin/ai-config.js
Labels: cli, documentation

Remove legacy references
  README.md
  packages/cli/bin/ai-config.js
Labels: cli, documentation

Complete removal of all 'ai-config' references
  docs/ai_assistant_config_tool.md
  examples/README.md
  examples/continuum.md
  examples/visualize-config-simple.js
  examples/visualize-config.js
  package.json
  packages/cli/__tests__/cli.test.ts
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/bin/ai-config.js
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/utils.ts
  scripts/test-ci.sh
Labels: core, cli, documentation, tests, examples, dependencies

Complete removal of all 'ai-config' references
  docs/ai_assistant_config_tool.md
  examples/README.md
  examples/continuum.md
  examples/visualize-config-simple.js
  examples/visualize-config.js
  package.json
  packages/cli/__tests__/cli.test.ts
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/bin/ai-config.js
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/utils.ts
  scripts/test-ci.sh
Labels: core, cli, documentation, tests, examples, dependencies

Implement .continuum directory structure
  docs/ai_assistant_config_tool.md
  examples/.continuum/claude/CLAUDE.md
  examples/.continuum/claude/config.md
  examples/.continuum/default/config.md
  examples/.continuum/gpt/config.json
  examples/README.md
  examples/visualize-config-simple.js
  examples/visualize-config.js
  packages/cli/__tests__/cli.test.ts
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/types.ts
  scripts/test-ci.sh
Labels: core, cli, documentation, tests, examples

Implement .continuum directory structure
  docs/ai_assistant_config_tool.md
  examples/.continuum/claude/CLAUDE.md
  examples/.continuum/claude/config.md
  examples/.continuum/default/config.md
  examples/.continuum/gpt/config.json
  examples/README.md
  examples/visualize-config-simple.js
  examples/visualize-config.js
  packages/cli/__tests__/cli.test.ts
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/core/src/types.ts
  scripts/test-ci.sh
Labels: core, cli, documentation, tests, examples

Add tagline: 'Designed by AI and humans for AI and humans'
  README.md
  package-lock.json
  package.json
  packages/cli/bin/continuum.js
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/core/src/utils.ts
  test-run/.continuum/claude/config.md
  test-run/.continuum/default/config.md
  test-run/.continuum/gpt/config.json
Labels: core, cli, documentation, dependencies

Add tagline: 'Designed by AI and humans for AI and humans'
  README.md
  package-lock.json
  package.json
  packages/cli/bin/continuum.js
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/core/src/utils.ts
  test-run/.continuum/claude/config.md
  test-run/.continuum/default/config.md
  test-run/.continuum/gpt/config.json
Labels: core, cli, documentation, dependencies

Fix security vulnerabilities and deprecation warnings
  .npmrc
  package-lock.json
  package.json
  scripts/test-ci.sh
  scripts/validate-schema.js
Labels: dependencies

Fix security vulnerabilities and deprecation warnings
  .npmrc
  package-lock.json
  package.json
  scripts/test-ci.sh
  scripts/validate-schema.js
Labels: dependencies

Move configuration to .continuum directory structure
  .continuum/claude/config.md
  .continuum/default/config.md
  .continuum/gpt/config.json
Labels: documentation

Move configuration to .continuum directory structure
  .continuum/claude/config.md
  .continuum/default/config.md
  .continuum/gpt/config.json
Labels: documentation

Enhance adapt command with assistant-specific formatting
  .continuum/generated/claude.md
  .continuum/generated/gpt.json
  .continuum/regenerated/claude.md
  .continuum/regenerated/gpt.json
  packages/cli/bin/continuum.js
Labels: cli, documentation

Enhance adapt command with assistant-specific formatting
  .continuum/generated/claude.md
  .continuum/generated/gpt.json
  .continuum/regenerated/claude.md
  .continuum/regenerated/gpt.json
  packages/cli/bin/continuum.js
Labels: cli, documentation

Fix CI pipeline for merge readiness
  jest.config.js
  packages/cli/src/commands/adapt.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/validate.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  scripts/test-ci.sh
Labels: core, cli

Fix CI pipeline for merge readiness
  jest.config.js
  packages/cli/src/commands/adapt.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/validate.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  scripts/test-ci.sh
Labels: core, cli

Fix CI workflow with ESM compatibility and .continuum paths
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  examples/package.json
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, dependencies, workflow

Fix CI workflow with ESM compatibility and .continuum paths
  .github/workflows/ci.yml
  .github/workflows/validate-continuum.yml
  examples/package.json
  examples/visualize-config-simple.js
  examples/visualize-config.js
Labels: examples, dependencies, workflow

Fix test expectations for new .continuum directory paths
  packages/cli/__tests__/commands/adapt.test.ts
Labels: cli, tests

Fix test expectations for new .continuum directory paths
  packages/cli/__tests__/commands/adapt.test.ts
Labels: cli, tests

Update default output paths in adapt command
  packages/cli/src/commands/adapt.ts
Labels: cli

Update default output paths in adapt command
  packages/cli/src/commands/adapt.ts
Labels: cli

Add symlink feature to adapt command for seamless integration
  packages/cli/bin/continuum.js
  packages/cli/src/commands/adapt.ts
Labels: cli

Add symlink feature to adapt command
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/bin/continuum.js
  packages/cli/src/commands/adapt.ts
Labels: cli, tests

Add symlink feature to adapt command
  packages/cli/__tests__/commands/adapt.test.ts
  packages/cli/bin/continuum.js
  packages/cli/src/commands/adapt.ts
Labels: cli, tests

Update README with expanded description and new symlink feature
  README.md
Labels: documentation
