Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

feat(genome): a training job asks the engine for the exact walk, with half the free host memory to keep
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

fix(work): work/state mutates the card on the board that holds it, never through the shared current-room pointer (#4838)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(portable): a bare archive name runs tar from the caller's directory, not from "" (BigMama on #4839)
  core/continuum-core/src/shell_portable.rs
Labels: none

chore(portable): name why tar_on's bare-name default is the caller's cwd
  core/continuum-core/src/shell_portable.rs
Labels: none

fix(cognition): a review card's work turn carries work/review and work/submission in her hands (card 8a8c3671)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/tool_dialect.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/persona/act_question.rs
Labels: none

fix(work): a reviewer's pass on a card with an open PR leaves it mergeable, not Closed (card bcb9860c) (#4840)
  core/continuum-core/src/modules/work.rs
Labels: none

fix(portable): every tar names its archive relative to its own directory, because Git for Windows' GNU tar reads C:\ as a remote host (card 4ebf47e5) (#4839)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/shell_portable.rs
  core/continuum-core/src/system_resources/citizen_workspace_pool.rs
Labels: none

fix(deploy): the consumer's reboot and handoff lines name the build it deployed, not the request (card 4752fea6)
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(cognition): a review card's work turn carries work/review and work/submission in her hands (card 8a8c3671) (#4842)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
  core/continuum-core/src/cognition/tool_dialect.rs
  core/continuum-core/src/cognition/workspace.rs
  core/continuum-core/src/persona/act_question.rs
Labels: none

fix(deploy): the consumer's reboot and handoff lines name the build it deployed, not the request (card 4752fea6) (#4843)
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(genome): the exact walk only with a known host budget; tight memory sends the floor (Fable on #4841)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

ci(core-binaries): publish a windows-x86_64 CUDA core, runtime bundled (#4834)
  .github/workflows/core-binaries.yml
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  tools/scripts/lib/core-features.sh
  tools/scripts/lib/cuda-targets.sh
  tools/scripts/lib/win-modules.ps1
  tools/scripts/shared/cargo-features.sh
Labels: workflow

fix(deploy): a Windows NVIDIA node takes CI's windows-x86_64 core, judged by what its hardware runs (card e391d449)
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  tools/scripts/lib/core-features.sh
  tools/scripts/shared/cargo-features.sh
Labels: none

docs(deploy): cargo-features.sh names CONTINUUM_HARDWARE_FEATURES from select_core_features, not a function that does not exist (Fable on #4844)
  tools/scripts/shared/cargo-features.sh
Labels: none

chore(engine): pin the engine with the exact walk, its gradient fixes, and the walk itself (fork #40, #43, #45, #46, #47)
  core/vendor/LLAMA_CPP_PIN
Labels: none

feat(genome): a training job asks the engine for the exact walk, with half the free host memory to keep (#4841)
  core/continuum-core/src/genome/fine_tuning/engine_lora_adapter.rs
Labels: none

docs(architecture): §3b — count the choosing, not the dealing (Kimi on #4803 follow-up)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

fix(deploy): a Windows NVIDIA node takes CI's windows-x86_64 core, judged by what its hardware runs (card e391d449) (#4844)
  core/continuum-cli-lifecycle/src/prebuilt_artifact.rs
  core/continuum-core/src/bin/continuum.rs
  tools/scripts/lib/core-features.sh
  tools/scripts/shared/cargo-features.sh
Labels: none

chore(engine): pin the engine with the exact walk, its gradient fixes, and the walk itself (fork #40, #43, #45, #46, #47) (#4845)
  core/vendor/LLAMA_CPP_PIN
Labels: none

chore(engine): pin llama.cpp 1b7b5a745, Metal ACC/SET copy every row element (fork #44)
  core/vendor/LLAMA_CPP_PIN
Labels: none

docs(architecture): §3b — recredit the six points from Kimi's #cambriantech answer (from inside; listed by Fable)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

docs(architecture): GENE-REUSE-FORK-MINT §3/§3b — #4803 review fold-in + count the choosing, not the dealing (#4812)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

fix(coursework): the round carries its lesson set typed, parsed once at open; the new boundary and default sites are justified (Fable on #4848)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/cognition/coursework.rs
  core/continuum-core/src/commands/benchmark_import.rs
  core/continuum-core/src/commands/genome/teach.rs
  core/continuum-core/src/persona/training_producer.rs
  protocol/typescript/benchmark/CourseworkImportParams.ts
Labels: none

chore(engine): pin the engine with the rollback-slot fix and Metal ACC/SET copies (fork #48, #44)
  core/vendor/LLAMA_CPP_PIN
Labels: none

fix(serving): on a discrete GPU the board credits serving with what its engine holds on the device, not the host process's RSS (card 741f5eec)
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

chore(engine): pin the engine with the rollback-slot fix and Metal ACC/SET copies (fork #48, #44) (#4849)
  core/vendor/LLAMA_CPP_PIN
Labels: none

fix(serving): a lane far below a plan that alternates under its high re-homes; a climb still coalesces
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): fire the re-home only on a tick whose plan is the streak's high (BigMama on #4851)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(serving): on a discrete GPU the board credits serving with what its engine holds on the device, not the host process's RSS (card 741f5eec) (#4850)
  core/continuum-core/src/modules/serving_consumer.rs
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

docs(architecture): §3b — the drop counts too (the under-count of Count-the-choosing, at Cormac's ask)
  docs/architecture/GENE-REUSE-FORK-MINT.md
Labels: documentation

fix(serving): a lane far below a plan that alternates under its high re-homes; a climb still coalesces (#4851)
  core/continuum-core/src/modules/serving_daemon.rs
Labels: none

fix(lessons): the teach selector resolves its set through the gym resolver, so the default works on every node (card 4a83ae24)
  core/continuum-core/src/commands/genome/teach.rs
Labels: none

fix(lessons): the teach selector resolves its set through the gym resolver, so the default works on every node (card 4a83ae24) (#4853)
  core/continuum-core/src/commands/genome/teach.rs
Labels: none

fix(deploy): a deploy waiting on CI blocks nothing; it still excludes another deploy
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/runtime/deploy_claim.rs
Labels: none

fix(deploy): name the disk boundary on both claim-file encodes; the serialization ratchet falls to 241
  core/continuum-core/src/runtime/deploy_claim.rs
  core/source-hygiene/src/boundary_serialization.rs
Labels: none

ci(core-binaries): publish the manifest LAST, after the archive it names is complete (BigMama's find)
  .github/workflows/core-binaries.yml
Labels: workflow

ci(core-binaries): a rerun withdraws its previous manifest before re-uploading the archive (Cormac on #4855)
  .github/workflows/core-binaries.yml
Labels: workflow

feat(grid): a seat's measured decode rate travels in its capacity beacon, and local and foreign rows read it by one definition (card 86fef3c3, part 1)
  core/continuum-core/src/capacity/gossip.rs
  core/continuum-core/src/capacity/lease.rs
  core/continuum-core/src/inference/decode_knee.rs
  core/continuum-core/src/modules/grid_allocator.rs
  core/continuum-core/src/modules/grid_capacity.rs
Labels: none

docs(grid): holds gates on declared requirements only; a derived rate orders, never refuses (Fable on #4856)
  core/continuum-core/src/cognition/grid_allocation.rs
Labels: none

fix(deploy): a deploy waiting on CI blocks nothing; it still excludes another deploy (#4854)
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/runtime/deploy_claim.rs
  core/source-hygiene/src/boundary_serialization.rs
Labels: none
