Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

README: Grid-first identity — sovereign mesh, Tron realized
  README.md
Labels: documentation

README: Grid IS the world — diagram, shared intelligence, ground-up mesh design
  README.md
Labels: documentation

README: forge-alloy as Grid transaction protocol — trust layer for distributed compute
  README.md
Labels: documentation

README: pure ASCII diagram — no emoji, no box-drawing, won't break
  README.md
Labels: documentation

Grid: fix remote delegation, executor discovery, timestamps, GPU detection, README (#681)
  README.md
  src/workers/continuum-core/src/modules/grid/handlers.rs
Labels: documentation

README: clear nav links, Grid-first structure, factory anchor
  README.md
Labels: documentation

README: Grid-first structure with nav links (#684)
  README.md
Labels: documentation

README: persona sensory system — every persona sees, hears, speaks, emotes regardless of model
  README.md
Labels: documentation

README: persona sensory system — every persona sees, hears, speaks, emotes regardless of model (#685)
  README.md
Labels: documentation

Rename Theme → Universe across codebase (#669), add HF models link
  README.md
  src/browser-index.ts
  src/browser/generated.ts
  src/commands/interface/click/browser/ClickBrowserCommand.ts
  src/commands/interface/screenshot/test/validation/ThemeSystemValidator.ts
  src/commands/theme/get/browser/ThemeGetBrowserCommand.ts
  src/commands/theme/list/browser/ThemeListBrowserCommand.ts
  src/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/daemons/room-membership-daemon/server/RoomMembershipDaemonServer.ts
  src/scripts/seed-continuum.ts
  src/shared/generated/ContentTypes.ts
  src/system/core/browser/LocalStorageStateManager.ts
  src/system/core/browser/utils/WidgetIntrospection.ts
  src/system/core/types/GlobalAugmentations.ts
  src/system/data/constants/RoomConstants.ts
  src/system/data/domains/DefaultEntities.ts
  src/system/layout/LayoutTypes.ts
  src/system/recipes/universe.json
  src/tests/integration/theme-system-integration.test.ts
  src/tests/integration/theme-visual-regression.test.ts
  src/widgets/continuum/public/continuum-widget.css
  src/widgets/continuum/public/continuum-widget.scss
  src/widgets/continuum/public/continuum-widget.styles.ts
  src/widgets/header-controls/HeaderControlsWidget.ts
  src/widgets/main/MainWidget.ts
  src/widgets/shared/UniverseWidget.ts
  src/widgets/shared/public/theme-widget.css
  src/widgets/shared/public/universe-widget.html
  src/widgets/shared/public/universe-widget.scss
  src/widgets/shared/public/universe-widget.styles.ts
  src/widgets/theme/public/theme-widget.css
  src/widgets/universe/public/universe-widget.html
  src/widgets/universe/public/universe-widget.scss
  src/widgets/universe/public/universe-widget.styles.ts
Labels: documentation, tests

Rename Theme → Universe, add HF models link (#669)
  README.md
  src/browser-index.ts
  src/browser/generated.ts
  src/commands/interface/click/browser/ClickBrowserCommand.ts
  src/commands/interface/screenshot/test/validation/ThemeSystemValidator.ts
  src/commands/theme/get/browser/ThemeGetBrowserCommand.ts
  src/commands/theme/list/browser/ThemeListBrowserCommand.ts
  src/commands/theme/set/browser/ThemeSetBrowserCommand.ts
  src/daemons/room-membership-daemon/server/RoomMembershipDaemonServer.ts
  src/scripts/seed-continuum.ts
  src/shared/generated/ContentTypes.ts
  src/system/core/browser/LocalStorageStateManager.ts
  src/system/core/browser/utils/WidgetIntrospection.ts
  src/system/core/types/GlobalAugmentations.ts
  src/system/data/constants/RoomConstants.ts
  src/system/data/domains/DefaultEntities.ts
  src/system/layout/LayoutTypes.ts
  src/system/recipes/universe.json
  src/tests/integration/theme-system-integration.test.ts
  src/tests/integration/theme-visual-regression.test.ts
  src/widgets/continuum/public/continuum-widget.css
  src/widgets/continuum/public/continuum-widget.scss
  src/widgets/continuum/public/continuum-widget.styles.ts
  src/widgets/header-controls/HeaderControlsWidget.ts
  src/widgets/main/MainWidget.ts
  src/widgets/shared/UniverseWidget.ts
  src/widgets/shared/public/theme-widget.css
  src/widgets/shared/public/universe-widget.html
  src/widgets/shared/public/universe-widget.scss
  src/widgets/shared/public/universe-widget.styles.ts
  src/widgets/theme/public/theme-widget.css
  src/widgets/universe/public/universe-widget.html
  src/widgets/universe/public/universe-widget.scss
  src/widgets/universe/public/universe-widget.styles.ts
Labels: documentation, tests

Widget state cache: never show blank, restore last known state (#689)
  src/widgets/continuum-metrics/ContinuumMetricsWidget.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/shared/ReactiveWidget.ts
Labels: none

Widget state cache: never show blank (#689)
  src/widgets/continuum-metrics/ContinuumMetricsWidget.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/shared/ReactiveWidget.ts
Labels: none

Remove hardcoded machine names and fix SQLite→Postgres bug
  src/commands/model/introspect/server/ModelIntrospectServerCommand.ts
  src/widgets/factory/ForgeDeltaElement.ts
  src/widgets/factory/stages/DeployStageElement.ts
  src/workers/continuum-core/src/modules/channel.rs
Labels: none

Remove hardcoded names, fix SQLite→Postgres bug (#692)
  src/commands/model/introspect/server/ModelIntrospectServerCommand.ts
  src/widgets/factory/ForgeDeltaElement.ts
  src/widgets/factory/stages/DeployStageElement.ts
  src/workers/continuum-core/src/modules/channel.rs
Labels: none

MUTAGEN green, Source Config visual upgrade — context presets, modality icons, device badges
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
  src/widgets/factory/stages/SourceConfigStageElement.ts
Labels: none

MUTAGEN green, Source Config visual upgrade — context presets, modality icons, device badges (#694)
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
  src/widgets/factory/stages/SourceConfigStageElement.ts
Labels: none

Fix sidebar blanking and right panel disappearing (#687)
  src/widgets/factory/FactoryWidget.ts
  src/widgets/sidebar/SidebarWidget.ts
Labels: none

Fix sidebar blanking and right panel disappearing (#687)
  src/widgets/factory/FactoryWidget.ts
  src/widgets/sidebar/SidebarWidget.ts
Labels: none

Factory model browser: clickable tiles, Use as Base, HF model search
  src/widgets/factory/FactoryStatsWidget.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeControlsElement.ts
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
Labels: none

Factory model browser: Events wiring, HF validation, « Forge This buttons
  src/widgets/factory/FactoryStatsWidget.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeControlsElement.ts
  src/widgets/factory/public/forge-controls.scss
  src/widgets/factory/public/forge-controls.styles.ts
Labels: none

Factory drafts: WIP recipes in right panel, Published/Drafts tabs (#699)
  src/widgets/factory/FactoryStatsWidget.ts
  src/widgets/factory/FactoryWidget.ts
Labels: none

Device target matrix: live compatibility grid at bottom of forge console
  src/widgets/factory/DeviceTargetElement.ts
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Model suggestions: Qwen3/3.5, Llama, our forged models, popular community models
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Design proposal: social and calendar integrations for personas
  docs/planning/SOCIAL-CALENDAR-INTEGRATIONS.md
Labels: documentation

Cleanup: device targets wired via properties, no setTimeout, no unused code
  src/widgets/factory/DeviceTargetElement.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/factory/ForgeControlsElement.ts
Labels: none

Add human user experience section — integrations serve humans too
  docs/planning/SOCIAL-CALENDAR-INTEGRATIONS.md
Labels: documentation

Fix right panel empty + metrics blank: event-driven handshake, config cache
  src/widgets/continuum-metrics/ContinuumMetricsWidget.ts
  src/widgets/factory/FactoryWidget.ts
  src/widgets/right-panel/RightPanelWidget.ts
Labels: none

Right panel looks up its own config from recipe system — no middleman
  src/widgets/right-panel/RightPanelWidget.ts
Labels: none

#704: Panels read recipes directly — remove all widget→panel event hacks
  src/widgets/factory/FactoryWidget.ts
  src/widgets/main/MainWidget.ts
Labels: none

Right panel: load config from URL on mount, not just on content:switched
  src/widgets/right-panel/RightPanelWidget.ts
Labels: none

Fix #705: getRightPanelConfig returns default when hasRightPanel=true but recipes not loaded
  src/widgets/main/shared/ContentTypeRegistry.ts
Labels: none

Revert MainWidget changes — broke entire layout. #704 needs its own PR.
  src/widgets/main/MainWidget.ts
Labels: none

Revert ContentTypeRegistry — remove chat-widget fallback that broke everything
  src/widgets/main/shared/ContentTypeRegistry.ts
Labels: none

Right panel sections from recipe: factory shows factory-stats, not chat
  src/system/recipes/browser/RecipeLayoutService.ts
  src/system/recipes/factory.json
  src/system/recipes/shared/RecipeTypes.ts
  src/widgets/main/shared/ContentTypeRegistry.ts
Labels: none

Type LayoutWidget properly: title/icon/flex on interface, not untyped config bag
  src/system/recipes/browser/RecipeLayoutService.ts
  src/system/recipes/factory.json
Labels: none

Seed recipes to database — fixes blank right panel on all recipe-based tabs
  src/scripts/seed-continuum.ts
Labels: none

Seed recipes: upsert from JSON files, idempotent on re-run
  src/scripts/seed-continuum.ts
Labels: none

Restore FactoryWidget right panel config — was the working path, recipes DB is empty
  src/widgets/factory/FactoryWidget.ts
Labels: none

Fix recipe seeding: runs on EXISTING databases, not just first-time seed
  src/scripts/seed-continuum.ts
Labels: none
