Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

fix performance issues
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/SelfTaskGenerator.ts
Labels: dependencies

feat: Phase 6 - LoRA Genome Paging with domain-aware activation
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
  src/debug/jtag/system/user/server/modules/PHASE-6-IMPLEMENTATION.md
  src/debug/jtag/system/user/server/modules/PersonaGenome.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/tests/unit/LoRAAdapter.test.ts
  src/debug/jtag/tests/unit/PersonaGenome.test.ts
Labels: documentation, tests

feat: Phase 6 - LoRA Genome Paging with domain-aware activation
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
  src/debug/jtag/system/user/server/modules/PHASE-6-IMPLEMENTATION.md
  src/debug/jtag/system/user/server/modules/PersonaGenome.ts
  src/debug/jtag/system/user/server/modules/QueueItemTypes.ts
  src/debug/jtag/tests/unit/LoRAAdapter.test.ts
  src/debug/jtag/tests/unit/PersonaGenome.test.ts
Labels: documentation, tests

docs: add Vine Diesel insight - LoRA as universal phenotype
  src/debug/jtag/system/user/server/modules/PHASE-6-IMPLEMENTATION.md
Labels: documentation

docs: add Vine Diesel insight - LoRA as universal phenotype
  src/debug/jtag/system/user/server/modules/PHASE-6-IMPLEMENTATION.md
Labels: documentation

refactor: make LoRAAdapter provider-agnostic
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderTypesV2.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
Labels: dependencies

refactor: make LoRAAdapter provider-agnostic
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderTypesV2.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
Labels: dependencies

feat: add AI adapter self-diagnostic command (ai/adapter/test)
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/adapter/test/shared/AdapterTestTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
Labels: dependencies

feat: add AI adapter self-diagnostic command (ai/adapter/test)
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/adapter/test/shared/AdapterTestTypes.ts
  src/debug/jtag/daemons/ai-provider-daemon/shared/AIProviderDaemon.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/core/client/shared/CommandRegistry.ts
Labels: dependencies

feat: implement async pattern for AI adapter testing to fix timeout issue
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/adapter/test/shared/AdapterTestTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/TestExecutionEntity.ts
  src/debug/jtag/docs/AI-INFRASTRUCTURE-DASHBOARD.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

feat: implement async pattern for AI adapter testing to fix timeout issue
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/commands/ai/adapter/test/shared/AdapterTestTypes.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/TestExecutionEntity.ts
  src/debug/jtag/docs/AI-INFRASTRUCTURE-DASHBOARD.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
Labels: documentation, dependencies

adap
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/docs/COGNITIVE-SCHEDULERS.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM.md
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/HeuristicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/ICognitiveScheduler.ts
Labels: documentation, dependencies

adap
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/daemons/data-daemon/server/DataDaemonServer.ts
  src/debug/jtag/daemons/user-daemon/server/UserDaemonServer.ts
  src/debug/jtag/docs/COGNITIVE-SCHEDULERS.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM.md
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/HeuristicCognitiveScheduler.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/ICognitiveScheduler.ts
Labels: documentation, dependencies

CNS for persona decision layer
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM-IMPLEMENTATION.md
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
Labels: documentation, dependencies

CNS for persona decision layer
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM-IMPLEMENTATION.md
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSTypes.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/PersonaCentralNervousSystem.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
Labels: documentation, dependencies

More papers for badass CNS
  papers/README.md
  papers/rtos-inspired-ai-scheduling/paper.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM-IMPLEMENTATION.md
Labels: documentation, dependencies

More papers for badass CNS
  papers/README.md
  papers/rtos-inspired-ai-scheduling/paper.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/CENTRAL-NERVOUS-SYSTEM-IMPLEMENTATION.md
Labels: documentation, dependencies

update thoughtstream
  papers/README.md
  papers/thoughtstream-coordination/paper.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
Labels: documentation

update thoughtstream
  papers/README.md
  papers/thoughtstream-coordination/paper.md
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
Labels: documentation

fix: AI personas now skip system test messages
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/tests/integration/ai-response-integration.test.ts
Labels: tests

fix: AI personas now skip system test messages
  src/debug/jtag/system/data/entities/ChatMessageEntity.ts
  src/debug/jtag/system/user/server/PersonaUser.ts
  src/debug/jtag/tests/integration/ai-response-integration.test.ts
Labels: tests

feat: add training data pipeline with Claude Code session symlink
  src/debug/jtag/.continuum/.gitignore
  src/debug/jtag/.continuum/training/README.md
  src/debug/jtag/system/user/server/modules/TRAINING-DATA-PIPELINE.md
Labels: documentation

feat: add training data pipeline with Claude Code session symlink
  src/debug/jtag/.continuum/.gitignore
  src/debug/jtag/.continuum/training/README.md
  src/debug/jtag/system/user/server/modules/TRAINING-DATA-PIPELINE.md
Labels: documentation

feat: add cognitive canary logging for system test responses
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: none

feat: add cognitive canary logging for system test responses
  src/debug/jtag/system/user/server/PersonaUser.ts
Labels: none

fix: address Copilot code review findings
  src/debug/jtag/daemons/data-daemon/shared/entities/TestExecutionEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
Labels: none

fix: address Copilot code review findings
  src/debug/jtag/daemons/data-daemon/shared/entities/TestExecutionEntity.ts
  src/debug/jtag/system/user/server/modules/PersonaInbox.ts
Labels: none

fix: address remaining Copilot code review findings
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
Labels: none

fix: address remaining Copilot code review findings
  src/debug/jtag/commands/ai/adapter/test/server/AdapterTestServerCommand.ts
  src/debug/jtag/system/user/server/modules/LoRAAdapter.ts
Labels: none

New papers and documentation from conversation
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/papers/LORA-GENOME-DEMOCRATIZATION.md
  src/debug/jtag/docs/papers/README.md
  src/debug/jtag/docs/papers/RTOS-COGNITIVE-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/SENTINEL-NEUROPLASTIC-TRAINING.md
  src/debug/jtag/system/user/server/modules/THOUGHT-FRAME-ARCHITECTURE.md
Labels: documentation, dependencies

New papers and documentation from conversation
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/README.md
  src/debug/jtag/docs/papers/LORA-GENOME-DEMOCRATIZATION.md
  src/debug/jtag/docs/papers/README.md
  src/debug/jtag/docs/papers/RTOS-COGNITIVE-ARCHITECTURE.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/SENTINEL-NEUROPLASTIC-TRAINING.md
  src/debug/jtag/system/user/server/modules/THOUGHT-FRAME-ARCHITECTURE.md
Labels: documentation, dependencies

feat: add dataset commands with configurable DATASETS_DIR
  src/debug/jtag/commands/ai/dataset/README.md
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/ai/dataset/create/shared/DatasetCreateTypes.ts
  src/debug/jtag/commands/ai/dataset/list/server/DatasetListServerCommand.ts
  src/debug/jtag/commands/ai/dataset/list/shared/DatasetListTypes.ts
  src/debug/jtag/commands/ai/dataset/shared/DatasetConfig.ts
  src/debug/jtag/system/shared/SecureConfigTypes.ts
Labels: documentation

feat: add dataset commands with configurable DATASETS_DIR
  src/debug/jtag/commands/ai/dataset/README.md
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/ai/dataset/create/shared/DatasetCreateTypes.ts
  src/debug/jtag/commands/ai/dataset/list/server/DatasetListServerCommand.ts
  src/debug/jtag/commands/ai/dataset/list/shared/DatasetListTypes.ts
  src/debug/jtag/commands/ai/dataset/shared/DatasetConfig.ts
  src/debug/jtag/system/shared/SecureConfigTypes.ts
Labels: documentation

test: add unit tests for dataset commands
  src/debug/jtag/tests/unit/dataset-commands.test.ts
Labels: tests

test: add unit tests for dataset commands
  src/debug/jtag/tests/unit/dataset-commands.test.ts
Labels: tests

feat: refactor dataset creation with async execution and organized storage
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/ai/dataset/shared/DatasetConfig.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/DatasetExecutionEntity.ts
Labels: none

feat: refactor dataset creation with async execution and organized storage
  src/debug/jtag/commands/ai/dataset/create/server/DatasetCreateServerCommand.ts
  src/debug/jtag/commands/ai/dataset/shared/DatasetConfig.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/DatasetExecutionEntity.ts
Labels: none

feat: add git history parser for training data generation
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/dataset/shared/parsers/GitHistoryParser.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/TrainingDatasetEntity.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
  src/debug/jtag/tests/integration/cns-integration.test.ts
  src/debug/jtag/tests/unit/cns-factory.test.ts
  src/debug/jtag/tests/unit/git-history-parser.test.ts
Labels: tests, dependencies

feat: add git history parser for training data generation
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/ai/dataset/shared/parsers/GitHistoryParser.ts
  src/debug/jtag/daemons/data-daemon/server/EntityRegistry.ts
  src/debug/jtag/daemons/data-daemon/shared/entities/TrainingDatasetEntity.ts
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/central-nervous-system/CNSFactory.ts
  src/debug/jtag/system/user/server/modules/cognitive-schedulers/DeterministicCognitiveScheduler.ts
  src/debug/jtag/tests/integration/cns-integration.test.ts
  src/debug/jtag/tests/unit/cns-factory.test.ts
  src/debug/jtag/tests/unit/git-history-parser.test.ts
Labels: tests, dependencies

setup for datasets: git and claude or other llm coders
  src/debug/jtag/.continuum/sessions/validation/test1-output.txt
  src/debug/jtag/.continuum/sessions/validation/test2-output.txt
  src/debug/jtag/.continuum/sessions/validation/test3-output.txt
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/docs/MULTI-DATABASE-HANDLES.md
  src/debug/jtag/docs/MULTI-DATABASE-SECURITY.md
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/generate-git-dataset.ts
  src/debug/jtag/server/generated.ts
  src/debug/jtag/shared/version.ts
  src/debug/jtag/system/user/server/modules/UNIVERSAL-LORA-FINE-TUNING.md
Labels: documentation, dependencies

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
