Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

broke something, will figure out?
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.info.json
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.log
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.log.json
  .continuum/sessions/validation/run_0e27f682a896/logs/server.log
  .continuum/sessions/validation/run_0e27f682a896/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/body-test.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/content-test.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/screenshot-1757487902273.png
  .continuum/sessions/validation/run_0e27f682a896/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1365.tgz
  src/debug/jtag/continuum-jtag-1.0.1366.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

broke something, will figure out?
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.info.json
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.log
  .continuum/sessions/validation/run_0e27f682a896/logs/browser.log.json
  .continuum/sessions/validation/run_0e27f682a896/logs/server.log
  .continuum/sessions/validation/run_0e27f682a896/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/body-test.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/content-test.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_0e27f682a896/screenshots/screenshot-1757487902273.png
  .continuum/sessions/validation/run_0e27f682a896/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1365.tgz
  src/debug/jtag/continuum-jtag-1.0.1366.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

order by
  .continuum/sessions/validation/run_44009bd61612/logs/browser.info.json
  .continuum/sessions/validation/run_44009bd61612/logs/browser.log
  .continuum/sessions/validation/run_44009bd61612/logs/browser.log.json
  .continuum/sessions/validation/run_44009bd61612/logs/server.log
  .continuum/sessions/validation/run_44009bd61612/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/body-test.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/content-test.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/screenshot-1757490105767.png
  .continuum/sessions/validation/run_44009bd61612/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/list/shared/DataListTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1366.tgz
  src/debug/jtag/continuum-jtag-1.0.1377.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

order by
  .continuum/sessions/validation/run_44009bd61612/logs/browser.info.json
  .continuum/sessions/validation/run_44009bd61612/logs/browser.log
  .continuum/sessions/validation/run_44009bd61612/logs/browser.log.json
  .continuum/sessions/validation/run_44009bd61612/logs/server.log
  .continuum/sessions/validation/run_44009bd61612/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/body-test.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/content-test.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_44009bd61612/screenshots/screenshot-1757490105767.png
  .continuum/sessions/validation/run_44009bd61612/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/data/list/server/DataListServerCommand.ts
  src/debug/jtag/commands/data/list/shared/DataListTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1366.tgz
  src/debug/jtag/continuum-jtag-1.0.1377.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

cleanup
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.info.json
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.log
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.log.json
  .continuum/sessions/validation/run_2f0ecf107041/logs/server.log
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/body-test.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/content-test.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/screenshot-1757491513488.png
  .continuum/sessions/validation/run_2f0ecf107041/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/subscribe-room/server/SubscribeRoomServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1377.tgz
  src/debug/jtag/continuum-jtag-1.0.1380.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

cleanup
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.info.json
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.log
  .continuum/sessions/validation/run_2f0ecf107041/logs/browser.log.json
  .continuum/sessions/validation/run_2f0ecf107041/logs/server.log
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/body-test.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/content-test.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_2f0ecf107041/screenshots/screenshot-1757491513488.png
  .continuum/sessions/validation/run_2f0ecf107041/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/subscribe-room/server/SubscribeRoomServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1377.tgz
  src/debug/jtag/continuum-jtag-1.0.1380.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: dependencies

try to organize
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.info.json
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.log
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.log.json
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/server.log
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/body-test.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/content-test.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/screenshot-1757515177652.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1380.tgz
  src/debug/jtag/continuum-jtag-1.0.1386.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.html
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

try to organize
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.info.json
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.log
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/browser.log.json
  .continuum/sessions/validation/run_ea5dad1f1dc8/logs/server.log
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/body-test.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/content-test.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/screenshots/screenshot-1757515177652.png
  .continuum/sessions/validation/run_ea5dad1f1dc8/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1380.tgz
  src/debug/jtag/continuum-jtag-1.0.1386.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.css
  src/debug/jtag/widgets/chat/chat-widget/chat-widget.html
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

attempt at abstractions
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.info.json
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.log
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.log.json
  .continuum/sessions/validation/run_d9431017fbdf/logs/server.log
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/body-test.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/content-test.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/screenshot-1757516433547.png
  .continuum/sessions/validation/run_d9431017fbdf/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1386.tgz
  src/debug/jtag/continuum-jtag-1.0.1388.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
Labels: dependencies

attempt at abstractions
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.info.json
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.log
  .continuum/sessions/validation/run_d9431017fbdf/logs/browser.log.json
  .continuum/sessions/validation/run_d9431017fbdf/logs/server.log
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/body-test.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/content-test.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_d9431017fbdf/screenshots/screenshot-1757516433547.png
  .continuum/sessions/validation/run_d9431017fbdf/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1386.tgz
  src/debug/jtag/continuum-jtag-1.0.1388.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
Labels: dependencies

room list works using base class
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.info.json
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.log
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.log.json
  .continuum/sessions/validation/run_10a7955ab782/logs/server.log
  .continuum/sessions/validation/run_10a7955ab782/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/body-test.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/content-test.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/screenshot-1757518836562.png
  .continuum/sessions/validation/run_10a7955ab782/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1388.tgz
  src/debug/jtag/continuum-jtag-1.0.1393.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/room-list/room-list-widget.css
  src/debug/jtag/widgets/chat/room-list/room-list-widget.html
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
Labels: dependencies

room list works using base class
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.info.json
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.log
  .continuum/sessions/validation/run_10a7955ab782/logs/browser.log.json
  .continuum/sessions/validation/run_10a7955ab782/logs/server.log
  .continuum/sessions/validation/run_10a7955ab782/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/body-test.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/content-test.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_10a7955ab782/screenshots/screenshot-1757518836562.png
  .continuum/sessions/validation/run_10a7955ab782/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1388.tgz
  src/debug/jtag/continuum-jtag-1.0.1393.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/room-list/room-list-widget.css
  src/debug/jtag/widgets/chat/room-list/room-list-widget.html
  src/debug/jtag/widgets/chat/shared/ChatWidgetBase.ts
Labels: dependencies

moved stuff
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.info.json
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.log
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.log.json
  .continuum/sessions/validation/run_72a5beb26c8f/logs/server.log
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/body-test.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/content-test.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/screenshot-1757519969781.png
  .continuum/sessions/validation/run_72a5beb26c8f/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1393.tgz
  src/debug/jtag/continuum-jtag-1.0.1397.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

moved stuff
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.info.json
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.log
  .continuum/sessions/validation/run_72a5beb26c8f/logs/browser.log.json
  .continuum/sessions/validation/run_72a5beb26c8f/logs/server.log
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/body-test.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/content-test.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_72a5beb26c8f/screenshots/screenshot-1757519969781.png
  .continuum/sessions/validation/run_72a5beb26c8f/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1393.tgz
  src/debug/jtag/continuum-jtag-1.0.1397.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list.css
Labels: dependencies

claude fixed data some
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.info.json
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.log
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.log.json
  .continuum/sessions/validation/run_4e81fd545b87/logs/server.log
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/body-test.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/content-test.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/screenshot-1757521606085.png
  .continuum/sessions/validation/run_4e81fd545b87/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1397.tgz
  src/debug/jtag/continuum-jtag-1.0.1403.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list-widget.html
Labels: documentation, dependencies

claude fixed data some
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.info.json
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.log
  .continuum/sessions/validation/run_4e81fd545b87/logs/browser.log.json
  .continuum/sessions/validation/run_4e81fd545b87/logs/server.log
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/body-test.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/content-test.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_4e81fd545b87/screenshots/screenshot-1757521606085.png
  .continuum/sessions/validation/run_4e81fd545b87/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1397.tgz
  src/debug/jtag/continuum-jtag-1.0.1403.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/chat/user-list/UserListWidget.ts
  src/debug/jtag/widgets/chat/user-list/user-list-widget.html
Labels: documentation, dependencies

jtag operation removed and replaced with better method
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.info.json
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.log
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.log.json
  .continuum/sessions/validation/run_e9c6fe105561/logs/server.log
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/body-test.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/content-test.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/screenshot-1757539886564.png
  .continuum/sessions/validation/run_e9c6fe105561/session-info.json
  package-lock.json
  package.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1403.tgz
  src/debug/jtag/continuum-jtag-1.0.1404.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/ThemeDiscoveryService.ts
Labels: dependencies

jtag operation removed and replaced with better method
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.info.json
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.log
  .continuum/sessions/validation/run_e9c6fe105561/logs/browser.log.json
  .continuum/sessions/validation/run_e9c6fe105561/logs/server.log
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/body-test.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/content-test.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e9c6fe105561/screenshots/screenshot-1757539886564.png
  .continuum/sessions/validation/run_e9c6fe105561/session-info.json
  package-lock.json
  package.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1403.tgz
  src/debug/jtag/continuum-jtag-1.0.1404.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/continuum/ContinuumWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
  src/debug/jtag/widgets/shared/ThemeWidget.ts
  src/debug/jtag/widgets/shared/themes/ThemeDiscoveryService.ts
Labels: dependencies

fix issues with browsers
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.info.json
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.log
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.log.json
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/server.log
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/body-test.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/content-test.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/screenshot-1757548051072.png
  .continuum/sessions/validation/run_b9d23d9f73e2/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/debug/README.md
  src/debug/jtag/commands/debug/widget-events/browser/WidgetEventsDebugBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-events/server/WidgetEventsDebugServerCommand.ts
  src/debug/jtag/commands/debug/widget-events/shared/WidgetEventsDebugTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1404.tgz
  src/debug/jtag/continuum-jtag-1.0.1415.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/test-type-safe-events.sh
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatEventConstants.ts
  src/debug/jtag/widgets/chat/shared/ChatEventTypes.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: documentation, dependencies

fix issues with browsers
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.info.json
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.log
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/browser.log.json
  .continuum/sessions/validation/run_b9d23d9f73e2/logs/server.log
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/body-test.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/content-test.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_b9d23d9f73e2/screenshots/screenshot-1757548051072.png
  .continuum/sessions/validation/run_b9d23d9f73e2/session-info.json
  CLAUDE.md
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/debug/README.md
  src/debug/jtag/commands/debug/widget-events/browser/WidgetEventsDebugBrowserCommand.ts
  src/debug/jtag/commands/debug/widget-events/server/WidgetEventsDebugServerCommand.ts
  src/debug/jtag/commands/debug/widget-events/shared/WidgetEventsDebugTypes.ts
  src/debug/jtag/continuum-jtag-1.0.1404.tgz
  src/debug/jtag/continuum-jtag-1.0.1415.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/test-type-safe-events.sh
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/chat/shared/ChatEventConstants.ts
  src/debug/jtag/widgets/chat/shared/ChatEventTypes.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: documentation, dependencies

stopping point
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.info.json
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.log
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.log.json
  .continuum/sessions/validation/run_ae528782ee8e/logs/server.log
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/body-test.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/content-test.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/screenshot-1757559044813.png
  .continuum/sessions/validation/run_ae528782ee8e/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/README.md
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/data/read/server/DataReadServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1415.tgz
  src/debug/jtag/continuum-jtag-1.0.1420.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/core/DataTypes.ts
  src/debug/jtag/test-data-daemon-system.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: documentation, dependencies

stopping point
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.info.json
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.log
  .continuum/sessions/validation/run_ae528782ee8e/logs/browser.log.json
  .continuum/sessions/validation/run_ae528782ee8e/logs/server.log
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/body-test.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/content-test.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_ae528782ee8e/screenshots/screenshot-1757559044813.png
  .continuum/sessions/validation/run_ae528782ee8e/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/commands/README.md
  src/debug/jtag/commands/chat/send-message/server/ChatSendMessageServerCommand.ts
  src/debug/jtag/commands/data/read/server/DataReadServerCommand.ts
  src/debug/jtag/continuum-jtag-1.0.1415.tgz
  src/debug/jtag/continuum-jtag-1.0.1420.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/core/DataTypes.ts
  src/debug/jtag/test-data-daemon-system.ts
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
Labels: documentation, dependencies

data domain
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.info.json
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.log
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.log.json
  .continuum/sessions/validation/run_9eb686ef45ce/logs/server.log
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/body-test.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/content-test.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/screenshot-1757566544768.png
  .continuum/sessions/validation/run_9eb686ef45ce/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1420.tgz
  src/debug/jtag/continuum-jtag-1.0.1423.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/register-classified-tests.ts
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/README.md
  src/debug/jtag/system/data/adapters/HybridAdapter.ts
  src/debug/jtag/system/data/adapters/JsonFileAdapter.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/domains/ChatMessage.ts
  src/debug/jtag/system/data/domains/CoreTypes.ts
  src/debug/jtag/system/data/domains/User.ts
  src/debug/jtag/system/data/examples/DataServiceExample.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/system/data/services/DataServiceFactory.ts
  src/debug/jtag/test-professional-data-architecture.ts
  src/debug/jtag/test-validation-debug.ts
  src/debug/jtag/tests/classified/ProfessionalDataArchitectureTest.ts
  src/debug/jtag/tests/data-daemon/professional-data-architecture.test.ts
Labels: documentation, tests, dependencies

data domain
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.info.json
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.log
  .continuum/sessions/validation/run_9eb686ef45ce/logs/browser.log.json
  .continuum/sessions/validation/run_9eb686ef45ce/logs/server.log
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/body-test.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/content-test.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_9eb686ef45ce/screenshots/screenshot-1757566544768.png
  .continuum/sessions/validation/run_9eb686ef45ce/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1420.tgz
  src/debug/jtag/continuum-jtag-1.0.1423.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/scripts/register-classified-tests.ts
  src/debug/jtag/scripts/run-categorized-tests.sh
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/README.md
  src/debug/jtag/system/data/adapters/HybridAdapter.ts
  src/debug/jtag/system/data/adapters/JsonFileAdapter.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/domains/ChatMessage.ts
  src/debug/jtag/system/data/domains/CoreTypes.ts
  src/debug/jtag/system/data/domains/User.ts
  src/debug/jtag/system/data/examples/DataServiceExample.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/system/data/services/DataServiceFactory.ts
  src/debug/jtag/test-professional-data-architecture.ts
  src/debug/jtag/test-validation-debug.ts
  src/debug/jtag/tests/classified/ProfessionalDataArchitectureTest.ts
  src/debug/jtag/tests/data-daemon/professional-data-architecture.test.ts
Labels: documentation, tests, dependencies

trying to get database working
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.info.json
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.log
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.log.json
  .continuum/sessions/validation/run_3d9f8652cce4/logs/server.log
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/body-test.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/content-test.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/screenshot-1757570111325.png
  .continuum/sessions/validation/run_3d9f8652cce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1423.tgz
  src/debug/jtag/continuum-jtag-1.0.1424.tgz
  src/debug/jtag/daemons/chat-daemon/server/ChatDaemonServer.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/README.md
  src/debug/jtag/system/data/adapters/HybridAdapter.ts
  src/debug/jtag/system/data/adapters/JsonFileAdapter.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/domains/ChatMessage.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/system/data/services/DataServiceFactory.ts
  src/debug/jtag/test-chat-integration.ts
Labels: documentation, dependencies

trying to get database working
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.info.json
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.log
  .continuum/sessions/validation/run_3d9f8652cce4/logs/browser.log.json
  .continuum/sessions/validation/run_3d9f8652cce4/logs/server.log
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/body-test.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/content-test.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3d9f8652cce4/screenshots/screenshot-1757570111325.png
  .continuum/sessions/validation/run_3d9f8652cce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1423.tgz
  src/debug/jtag/continuum-jtag-1.0.1424.tgz
  src/debug/jtag/daemons/chat-daemon/server/ChatDaemonServer.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/README.md
  src/debug/jtag/system/data/adapters/HybridAdapter.ts
  src/debug/jtag/system/data/adapters/JsonFileAdapter.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/domains/ChatMessage.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/system/data/services/DataServiceFactory.ts
  src/debug/jtag/test-chat-integration.ts
Labels: documentation, dependencies

sqlite code ok maybe
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.info.json
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.log
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.log.json
  .continuum/sessions/validation/run_3848b0d545c3/logs/server.log
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/body-test.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/content-test.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/screenshot-1757571091539.png
  .continuum/sessions/validation/run_3848b0d545c3/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1424.tgz
  src/debug/jtag/continuum-jtag-1.0.1425.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
Labels: dependencies

sqlite code ok maybe
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.info.json
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.log
  .continuum/sessions/validation/run_3848b0d545c3/logs/browser.log.json
  .continuum/sessions/validation/run_3848b0d545c3/logs/server.log
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/body-test.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/content-test.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_3848b0d545c3/screenshots/screenshot-1757571091539.png
  .continuum/sessions/validation/run_3848b0d545c3/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1424.tgz
  src/debug/jtag/continuum-jtag-1.0.1425.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
Labels: dependencies

fixing
  .continuum/sessions/validation/run_06801e92a104/logs/browser.info.json
  .continuum/sessions/validation/run_06801e92a104/logs/browser.log
  .continuum/sessions/validation/run_06801e92a104/logs/browser.log.json
  .continuum/sessions/validation/run_06801e92a104/logs/server.log
  .continuum/sessions/validation/run_06801e92a104/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/body-test.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/content-test.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/screenshot-1757572310117.png
  .continuum/sessions/validation/run_06801e92a104/session-info.json
  src/debug/jtag/.test-database/test.db
  src/debug/jtag/.test-json-database/users/589a39f1-ccc8-4224-a5f6-e0ff984c5257.json
  src/debug/jtag/.test-json-database/users/84728bec-9fff-4ca3-bb7f-ea954d5b7d63.json
  src/debug/jtag/.test-json-database/users/a52fc6b0-b12c-46af-a30a-fbcfaa145362.json
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/adapters/tests/DataAdapterTestSuite.ts
  src/debug/jtag/tests/integration/database/data-adapter-comprehensive-validation.test.ts
Labels: tests

fixing
  .continuum/sessions/validation/run_06801e92a104/logs/browser.info.json
  .continuum/sessions/validation/run_06801e92a104/logs/browser.log
  .continuum/sessions/validation/run_06801e92a104/logs/browser.log.json
  .continuum/sessions/validation/run_06801e92a104/logs/server.log
  .continuum/sessions/validation/run_06801e92a104/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/body-test.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/content-test.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_06801e92a104/screenshots/screenshot-1757572310117.png
  .continuum/sessions/validation/run_06801e92a104/session-info.json
  src/debug/jtag/.test-database/test.db
  src/debug/jtag/.test-json-database/users/589a39f1-ccc8-4224-a5f6-e0ff984c5257.json
  src/debug/jtag/.test-json-database/users/84728bec-9fff-4ca3-bb7f-ea954d5b7d63.json
  src/debug/jtag/.test-json-database/users/a52fc6b0-b12c-46af-a30a-fbcfaa145362.json
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/adapters/tests/DataAdapterTestSuite.ts
  src/debug/jtag/tests/integration/database/data-adapter-comprehensive-validation.test.ts
Labels: tests

checkpoint, regretably
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.info.json
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.log
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.log.json
  .continuum/sessions/validation/run_e33ddd4d3640/logs/server.log
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/body-test.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/content-test.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/screenshot-1757624486241.png
  .continuum/sessions/validation/run_e33ddd4d3640/session-info.json
  package-lock.json
  package.json
  src/debug/jtag/.eslintrc.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1425.tgz
  src/debug/jtag/continuum-jtag-1.0.1437.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/test-realtime-server-events-engineering.sh
  src/debug/jtag/test-sendmessage-error-validation.sh
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

checkpoint, regretably
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.info.json
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.log
  .continuum/sessions/validation/run_e33ddd4d3640/logs/browser.log.json
  .continuum/sessions/validation/run_e33ddd4d3640/logs/server.log
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/body-test.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/content-test.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_e33ddd4d3640/screenshots/screenshot-1757624486241.png
  .continuum/sessions/validation/run_e33ddd4d3640/session-info.json
  package-lock.json
  package.json
  src/debug/jtag/.eslintrc.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1425.tgz
  src/debug/jtag/continuum-jtag-1.0.1437.tgz
  src/debug/jtag/daemons/command-daemon/shared/CommandDaemon.ts
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/data/adapters/SQLiteAdapter.ts
  src/debug/jtag/system/data/services/DataService.ts
  src/debug/jtag/test-realtime-server-events-engineering.sh
  src/debug/jtag/test-sendmessage-error-validation.sh
  src/debug/jtag/widgets/chat/chat-widget/ChatWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

cleaned up types
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.info.json
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.log
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.log.json
  .continuum/sessions/validation/run_6dfb312de745/logs/server.log
  .continuum/sessions/validation/run_6dfb312de745/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/body-test.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/content-test.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/screenshot-1757638795361.png
  .continuum/sessions/validation/run_6dfb312de745/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1437.tgz
  src/debug/jtag/continuum-jtag-1.0.1440.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

cleaned up types
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.info.json
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.log
  .continuum/sessions/validation/run_6dfb312de745/logs/browser.log.json
  .continuum/sessions/validation/run_6dfb312de745/logs/server.log
  .continuum/sessions/validation/run_6dfb312de745/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/body-test.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/content-test.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6dfb312de745/screenshots/screenshot-1757638795361.png
  .continuum/sessions/validation/run_6dfb312de745/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1437.tgz
  src/debug/jtag/continuum-jtag-1.0.1440.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

removed unused code
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.info.json
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.log
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.log.json
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/server.log
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/body-test.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/content-test.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/screenshot-1757704935231.png
  .continuum/sessions/validation/run_6ca5139e5ce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1440.tgz
  src/debug/jtag/continuum-jtag-1.0.1442.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

removed unused code
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.info.json
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.log
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/browser.log.json
  .continuum/sessions/validation/run_6ca5139e5ce4/logs/server.log
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/body-test.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/content-test.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_6ca5139e5ce4/screenshots/screenshot-1757704935231.png
  .continuum/sessions/validation/run_6ca5139e5ce4/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1440.tgz
  src/debug/jtag/continuum-jtag-1.0.1442.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/widgets/chat/room-list/RoomListWidget.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

jtagclient work
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.info.json
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.log
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.log.json
  .continuum/sessions/validation/run_adfeca6a7b21/logs/server.log
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/body-test.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/content-test.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/screenshot-1757707844964.png
  .continuum/sessions/validation/run_adfeca6a7b21/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1442.tgz
  src/debug/jtag/continuum-jtag-1.0.1446.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/browser/JTAGClientBrowser.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
Labels: dependencies

jtagclient work
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.info.json
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.log
  .continuum/sessions/validation/run_adfeca6a7b21/logs/browser.log.json
  .continuum/sessions/validation/run_adfeca6a7b21/logs/server.log
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/body-test.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/content-test.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_adfeca6a7b21/screenshots/screenshot-1757707844964.png
  .continuum/sessions/validation/run_adfeca6a7b21/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1442.tgz
  src/debug/jtag/continuum-jtag-1.0.1446.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/browser/JTAGClientBrowser.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
Labels: dependencies

ugly but works
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.info.json
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.log
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.log.json
  .continuum/sessions/validation/run_1234499d51c3/logs/server.log
  .continuum/sessions/validation/run_1234499d51c3/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/body-test.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/content-test.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/screenshot-1757708916710.png
  .continuum/sessions/validation/run_1234499d51c3/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1446.tgz
  src/debug/jtag/continuum-jtag-1.0.1447.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies

ugly but works
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.info.json
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.log
  .continuum/sessions/validation/run_1234499d51c3/logs/browser.log.json
  .continuum/sessions/validation/run_1234499d51c3/logs/server.log
  .continuum/sessions/validation/run_1234499d51c3/screenshots/app-container-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/body-full-page-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/body-test.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/chat-widget-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/content-test.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/continuum-sidebar-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/div-element-validation.png
  .continuum/sessions/validation/run_1234499d51c3/screenshots/screenshot-1757708916710.png
  .continuum/sessions/validation/run_1234499d51c3/session-info.json
  src/debug/jtag/browser/generated.ts
  src/debug/jtag/continuum-jtag-1.0.1446.tgz
  src/debug/jtag/continuum-jtag-1.0.1447.tgz
  src/debug/jtag/examples/widget-ui/package.json
  src/debug/jtag/package-lock.json
  src/debug/jtag/package.json
  src/debug/jtag/server/generated.ts
  src/debug/jtag/system/core/client/shared/JTAGClient.ts
  src/debug/jtag/widgets/shared/BaseWidget.ts
Labels: dependencies
