Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(chat): tool acts reach the transcript as receipt rows — the #243 wire (substrate half) (#2273)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/runtime/message_bus.rs
  core/continuum-positron/src/chat.rs
  core/continuum-positron/src/lib.rs
  core/continuum-positron/src/state.rs
  core/continuum-positron/tests/session_roundtrip.rs
  protocol/typescript/positron/ActReceiptView.ts
  protocol/typescript/positron/ChatViewState.ts
  sdk/typescript/generated/views/ActReceiptView.ts
  sdk/typescript/generated/views/ChatViewState.ts
  sdk/typescript/generated/views/index.ts
  sdk/typescript/index.ts
  sdk/typescript/scripts/vendor-views.mjs
Labels: none

feat(web): tool acts render in the transcript as collapsed receipts — #243 client half
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/content/registry.ts
  apps/web/src/experience/experienceSource.ts
  apps/web/src/preview.ts
  apps/web/src/render/parts.ts
  packages/chat-view/chatApp.spec.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/index.ts
  packages/chat-view/liveProjections.spec.ts
  packages/chat-view/messageDigest.spec.ts
  packages/chat-view/mobileScreen.spec.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
  packages/chat-view/personaProjections.spec.ts
  packages/chat-view/ragTarget.spec.ts
Labels: tests

feat(web): tool acts render in the transcript as collapsed receipts — #243 client half (#2274)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/content/registry.ts
  apps/web/src/experience/experienceSource.ts
  apps/web/src/preview.ts
  apps/web/src/render/parts.ts
  packages/chat-view/chatApp.spec.ts
  packages/chat-view/chatViewModel.spec.ts
  packages/chat-view/chatViewModel.ts
  packages/chat-view/crossConsumer.spec.ts
  packages/chat-view/index.ts
  packages/chat-view/liveProjections.spec.ts
  packages/chat-view/messageDigest.spec.ts
  packages/chat-view/mobileScreen.spec.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
  packages/chat-view/personaProjections.spec.ts
  packages/chat-view/ragTarget.spec.ts
Labels: tests

fix(positron): nil-room acts must never steal the chat projection (#243 live-proof follow-up)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

fix(positron): nil-room acts must never steal the chat projection (#243 live-proof follow-up) (#2275)
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

fix(claude): marketplace source type is 'directory', not 'local'
  .claude/settings.json
Labels: none

fix(activity): spawn's docs named a recipe purpose that resolves to NOTHING (#274)
  core/continuum-core/src/modules/activity.rs
Labels: none

docs(activities): recipe formalization — identity, registry, taxonomy (#274)
  docs/activities/recipes/RECIPE-FORMALIZATION.md
Labels: documentation

docs(activities): appendix A — the 29 legacy recipes, triaged against open cards (#274)
  docs/activities/recipes/RECIPE-FORMALIZATION.md
Labels: documentation

fix(ids): UUIDs are not strings — mint real ones, and stop typing ids as text (#274/#396)
  Cargo.toml
  core/continuum-core/src/comms/mod.rs
  core/continuum-core/src/experience/recipe.rs
  core/continuum-core/src/experience/recipes/benchmark.json
  core/continuum-core/src/experience/recipes/chat.json
  core/continuum-core/src/experience/recipes/profile.json
  core/continuum-core/src/experience/recipes/video-chat.json
  core/continuum-core/src/experience/source.rs
  protocol/typescript/comms/CorrelationId.ts
  protocol/typescript/comms/EndpointId.ts
  protocol/typescript/comms/MessageId.ts
  protocol/typescript/comms/TransportEnvelope.ts
  protocol/typescript/comms/index.ts
  protocol/typescript/experience/ExperienceRecipe.ts
  protocol/typescript/experience/RecipeId.ts
Labels: none

docs(CLAUDE.md): headless Rust core is the system — Node is ONE client, not the deploy path
  CLAUDE.md
Labels: documentation

fix(cli): `uu` is the alias — `cu` is UUCP, and every harness defaulted to a binary that does not exist
  README.md
  apps/eye-node/README.md
  apps/eye-node/src/index.ts
  benchmarks/HERMES-CAMPAIGN.md
  benchmarks/agent-solve/README.md
  benchmarks/agent-solve/bench.py
  benchmarks/coder/MATRIX.md
  benchmarks/coder/SCOREBOARD.md
  benchmarks/coder/headtohead.py
  benchmarks/coder/matrix.py
  benchmarks/coder/preflight_gpu.py
  benchmarks/coder/sweep_all.py
  benchmarks/project/PROJECT-BENCHMARKS.md
  benchmarks/project/run_project.py
  benchmarks/swe/proof/sympy-24152.operator-solve.patch
  core/continuum-core/src/modules/airc.rs
  core/continuum-core/src/modules/code_commands.rs
  core/continuum-core/src/modules/data.rs
  docs/architecture/PROVISIONING-SYSTEM.md
  docs/architecture/REPO-GENOME-AND-COURSES.md
  protocol/typescript/cognition/SemanticSearchToolsResult.ts
  protocol/typescript/commands/CommandInfo.ts
  scripts/README.md
Labels: documentation

fix(core): the last Python in the runtime path — one vestigial, one silently swallowing the job
  core/continuum-core/src/code/file_engine.rs
  core/continuum-core/src/modules/grid/handlers.rs
Labels: none

feat(identity): PersonaRef vs PeerId — a reference is not an identity, and the compiler now knows
  core/continuum-core/src/cognition/eval.rs
  core/continuum-core/src/cognition/persona_workspace.rs
  core/continuum-core/src/identity/mod.rs
  core/continuum-core/src/modules/training_completion_sentinel.rs
  protocol/typescript/identity/PersonaRef.ts
Labels: none

refactor(memory): the memory layer takes PersonaRef, not loose text — 21 sites
  core/continuum-core/src/commands/memory/append_event.rs
  core/continuum-core/src/commands/memory/append_memory.rs
  core/continuum-core/src/commands/memory/consciousness_context.rs
  core/continuum-core/src/commands/memory/consolidate.rs
  core/continuum-core/src/commands/memory/import.rs
  core/continuum-core/src/commands/memory/load_corpus.rs
  core/continuum-core/src/commands/memory/mod.rs
  core/continuum-core/src/commands/memory/multi_layer_recall.rs
  core/continuum-core/src/commands/memory/recall_hook.rs
  core/continuum-core/src/commands/memory/remember.rs
  core/continuum-core/src/commands/memory/share.rs
  core/continuum-core/src/memory/consolidation_pipeline.rs
  core/continuum-core/src/memory/mod.rs
  core/continuum-core/src/modules/rag.rs
Labels: none

refactor(commands): persona params carry PersonaRef — agent/solve, persona/*, cognition/observe
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/cognition/observe.rs
  core/continuum-core/src/commands/persona/identity/get.rs
  core/continuum-core/src/commands/persona/identity/set.rs
  core/continuum-core/src/commands/persona/instances/despawn.rs
  core/continuum-core/src/commands/persona/instances/get.rs
  core/continuum-core/src/commands/persona/wall/pin.rs
  core/continuum-core/src/modules/work.rs
Labels: none

refactor(rag/introspect): last persona PARAMS typed — and the RAG source path carries it down
  core/continuum-core/src/cognition/introspect_commands.rs
  core/continuum-core/src/cognition/replay.rs
  core/continuum-core/src/modules/dataset.rs
  core/continuum-core/src/modules/rag.rs
Labels: none

fix(test): 5 supervisor tests have been panicking since #398 slice 3 — the stub's premise expired
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

fix(test): pin the stub's REFUSAL contract — the old test asserted the panic I removed
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

test(identity): CI guard — a String-typed identity field must be DECLARED, or the build fails
  core/continuum-core/src/identity/mod.rs
Labels: none

fix(memory-bridge): remember.sh hung silently instead of reporting a down core
  tools/plugins/memory-bridge/scripts/remember.sh
Labels: none

fix(cli): `continuum start` execs the installed server — building is now --from-source
  core/continuum-core/src/bin/continuum.rs
Labels: none

fix(tests): a subsystem-named room does not belong in a fixture either
  core/continuum-core/src/modules/room.rs
  core/continuum-core/src/modules/work.rs
Labels: none

workspace: autosave persona work before shared sync
  WORKSPACE.md
Labels: documentation

fix(benchmark): an UNGRADEABLE grade is an ABSENCE, not a capability zero — carry it on the wire and the board
  core/continuum-core/src/commands/agent/solve.rs
  core/continuum-core/src/commands/benchmark.rs
Labels: none

fix(swe): gold-gate the harness — refuse an env whose pytest cannot RUN, instead of caching a tree that grades every attempt UNGRADEABLE
  core/continuum-core/src/cognition/swe_bench.rs
Labels: none

docs(arch): benchmarks are ADAPTERS into recipes/activities — never a parallel runner (Joel's ruling, + STOP gate)
  CLAUDE.md
  docs/architecture/BENCHMARKS-ARE-ADAPTERS-NOT-A-RUNNER.md
Labels: documentation

feat(activity): a room's recipe binding finally has a READER — every room resolves to what it IS (#6/#274/#329)
  core/continuum-core/src/experience/binding.rs
  core/continuum-core/src/experience/mod.rs
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/recipe_room_purpose.rs
  core/continuum-core/src/modules/activity.rs
  protocol/typescript/experience/RoomRecipeBinding.ts
Labels: none

fix(activity): the purpose index must SAY it ran — a silent fold is indistinguishable from a dead one
  core/continuum-core/src/ipc/recipe_room_purpose.rs
Labels: none

feat(persona): RAG is a RenderTarget — one ViewState renders to eyes AND mind (the pattern)
  core/continuum-core/src/persona/mod.rs
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

docs(persona): name the substrate prerequisite IN the module, before someone swaps a source onto it
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

feat(positron): per-ROOM substrates — the keystone that lets a citizen read HER room (#408)
  core/continuum-positron/src/scoping.rs
Labels: none

fix(persona): a stub citizen has no transport and says so — unblocks canary's --lib gate
  core/continuum-core/src/persona/airc_citizen.rs
Labels: none

feat(positron): the chat projection writes per-ROOM as well as node — one fold, two sinks (#408)
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

feat(persona): a citizen reads WHO IS PRESENT from the same projection the browser renders (#408)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/persona/supervisor.rs
Labels: none

fix(cli): restore the deploy path — reboot builds again, and the socket reaches the server
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/main.rs
Labels: none

fix(deploy): publish the verified core binary to the installed path every deploy
  tools/scripts/start-server.sh
Labels: none

fix(persona): one contract, one spelling — a ViewState states its floor the way every other RagSource does
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

glass-box(persona): say WHAT the rejected event was, not just which branch refused it (#410)
  core/continuum-core/src/persona/airc_persona_conversation.rs
Labels: none

fix(inference): a context overflow is a TYPE, not a prose string — and stop deep-cloning every wire body
  core/continuum-core/src/ai/inference_error.rs
  core/continuum-core/src/ai/mod.rs
  core/continuum-core/src/airc/realtime_wire.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
