Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  conway_sol.exe
  conway_sol.pdb
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_conway_step.rs
Labels: none

workspace: autosave persona work before shared sync
  ttt_sol.exe
  ttt_sol.pdb
Labels: none

docs(readme): the rewrite, with every image, badge, chart and verified command restored
  README.md
Labels: documentation

docs(receipts): the curve counts GRADED attempts, and says how many it could not grade
  docs/assets/charts/improvement-curve.svg
  docs/assets/charts/receipts-snapshot.json
  tools/scripts/generate_receipt_charts.py
Labels: documentation

docs(readme): the linear pipelines read as one line, not as fifteen
  README.md
Labels: documentation

docs(readme): proper prose, and each diagram sits with the claim it proves
  README.md
Labels: documentation

docs(readme): the rewrite, with every image, badge, chart and verified command restored (#3949)
  README.md
  docs/assets/charts/improvement-curve.svg
  docs/assets/charts/receipts-snapshot.json
  tools/scripts/generate_receipt_charts.py
Labels: documentation

fix(ci): a vendor apt repo we never install from cannot fail every Rust run
  .github/workflows/carl-install-smoke.yml
  .github/workflows/continuum-rust-tests.yml
Labels: workflow

workspace: autosave persona work before shared sync
  sol_sum_evens.rs
Labels: none

workspace: autosave persona work before shared sync
  sumevens_check.rs
Labels: none

workspace: autosave persona work before shared sync
  sumevens_check.rs
Labels: none

workspace: autosave persona work before shared sync
  sumevens_check.rs
Labels: none

workspace: autosave persona work before shared sync
  sumevens_check.rs
Labels: none

workspace: autosave persona work before shared sync
  tests/bench_sum_evens.rs
Labels: none

workspace: autosave persona work before shared sync
  tests/bench_sum_evens.rs
Labels: none

workspace: autosave persona work before shared sync
  bench_sum_evens_bin.exe
  bench_sum_evens_bin.pdb
Labels: none

workspace: autosave persona work before shared sync
  bench_sum_evens_bin.exe
  bench_sum_evens_bin.pdb
Labels: none

workspace: autosave persona work before shared sync
  bench_sum_evens_bin.exe
Labels: none

fix(benchmark): a graded gym round must be DURABLE, not a chat line
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/benchmark_grade.rs
Labels: none

fix(activity): spawning a benchmark activity RUNS its round
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(activity): keep the benchmark route out of an inherent impl
  core/continuum-core/src/modules/activity.rs
Labels: none

fix(cognition): enrichment that does not fit must not mute a citizen
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

fix(benchmark): a graded gym round must be DURABLE, not a chat line (#3952)
  core/continuum-core/src/cognition/swe_bench.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/benchmark_grade.rs
Labels: none

chore(protocol): regenerate the dispatch bindings
  protocol/typescript/benchmark/BenchmarkDispatchParams.ts
  protocol/typescript/benchmark/BenchmarkDispatchResult.ts
Labels: none

fix(cognition): a busy room must not make a citizen mute (#3947)
  core/continuum-core/src/cognition/llm_deliberation_faculty.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_roman_to_int.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_rti_bin.pdb
Labels: none

workspace: autosave persona work before shared sync
  sol_roman_to_int.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_roman_to_int.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_roman_to_int.rs
Labels: none

workspace: autosave persona work before shared sync
  sol_rti_bin.pdb
Labels: none

workspace: autosave persona work before shared sync
  sol_rti_bin.pdb
Labels: none

workspace: autosave persona work before shared sync
  sol_rti_final.pdb
Labels: none

workspace: autosave persona work before shared sync
  .sol_rti_check.pdb
Labels: none

fix(activity): spawning a benchmark activity RUNS its round (#3953)
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/modules/activity.rs
  protocol/typescript/benchmark/BenchmarkDispatchParams.ts
  protocol/typescript/benchmark/BenchmarkDispatchResult.ts
Labels: none
