Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs(readme): positron links its repo; client parity stated as inherited, not chased
  README.md
Labels: documentation

docs(readme): positron links its repo; client parity stated as inherited, not chased (#2622)
  README.md
Labels: documentation

feat(bench): benchmark/pause + benchmark/resume — rounds hold and lift cleanly, across reboots
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark_pause.rs
  core/continuum-core/src/commands/mod.rs
  core/continuum-core/src/modules/work.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
  protocol/typescript/benchmark/BenchmarkPauseResult.ts
Labels: none

fix(ui): open-ui never serves a fresh build from a stale server + the eye-node joins the stack
  tools/scripts/open-ui.sh
Labels: none

feat(bench): benchmark/pause + benchmark/resume — rounds hold and lift cleanly, across reboots (#2623)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark_pause.rs
  core/continuum-core/src/commands/mod.rs
  core/continuum-core/src/modules/work.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
  protocol/typescript/benchmark/BenchmarkPauseResult.ts
Labels: none

feat(desktop): the display manager — the core serves its own UI, and uu desktop opens it
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/http/desktop.rs
  core/continuum-core/src/http/mod.rs
  core/continuum-core/src/ipc/mod.rs
  tools/scripts/start-server.sh
Labels: none

feat(ui): pause/resume controls on the bench rail's round rows
  apps/web/src/bench/renderBench.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/benchmark_pause.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
  protocol/typescript/benchmark/BenchmarkPauseResult.ts
Labels: none

feat(desktop): the display manager — the core serves its own UI, and uu desktop opens it (#2627)
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/bin/continuum.rs
  core/continuum-core/src/http/desktop.rs
  core/continuum-core/src/http/mod.rs
  core/continuum-core/src/ipc/mod.rs
  tools/scripts/start-server.sh
Labels: none

fix(ui): open-ui never serves a fresh build from a stale server + the eye-node joins the stack (#2626)
  tools/scripts/open-ui.sh
Labels: none

feat(ui): pause/resume controls on the bench rail's round rows (#2630)
  apps/web/src/bench/renderBench.ts
  apps/web/src/index.ts
  core/continuum-core/src/commands/benchmark_pause.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
  protocol/typescript/benchmark/BenchmarkPauseResult.ts
Labels: none

feat(ui): drillable screenshots in the transcript — thumbs in the flow, lightbox on click
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/parts.ts
Labels: none

fix(bench): round_id is a Uuid, not a String — my own fresh violation of the id law
  core/continuum-core/src/commands/benchmark_pause.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
Labels: none

fix(bench): round_id is a Uuid, not a String — my own fresh violation of the id law (#2633)
  core/continuum-core/src/commands/benchmark_pause.rs
  protocol/typescript/benchmark/BenchmarkPauseParams.ts
Labels: none

fix(bench): queued-behind-hands is not a stall — the gone-quiet alarm stops crying wolf
  core/continuum-core/src/commands/benchmark.rs
  packages/chat-view/benchProjections.ts
  protocol/typescript/benchmark/BenchRunCard.ts
Labels: none

fix(bench): queued-behind-hands is not a stall — the gone-quiet alarm stops crying wolf (#2634)
  core/continuum-core/src/commands/benchmark.rs
  packages/chat-view/benchProjections.ts
  protocol/typescript/benchmark/BenchRunCard.ts
Labels: none

fix(desktop): the DM reads env first, config.env second — the launch handoff was invisible
  core/continuum-core/src/http/desktop.rs
Labels: none

feat(nav): the rail becomes a tree — parent_ref + display_label on NavTab (#2632 slice a)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/ipc/positron_nav_source.rs
  core/continuum-positron/src/nav.rs
Labels: none

fix(desktop): the DM reads env first, config.env second — the launch handoff was invisible (#2635)
  core/continuum-core/src/http/desktop.rs
Labels: none

feat(nav): the rail becomes a tree — parent_ref + display_label on NavTab (#2632 slice a) (#2636)
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/ipc/positron_nav_source.rs
  core/continuum-positron/src/nav.rs
Labels: none

fix(web): the UI stops lying — transcript renders, directory never blank, sessions are per-activity
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/SysPanel.ts
  core/continuum-core/src/commands/persona_roster.rs
Labels: dependencies

fix(web): liveness is node-level — seed residents stay green in every room's directory
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(web): URL = URI — deep-linkable activities; bench rail belongs to the academy
  apps/web/src/index.ts
  packages/chat-view/patternProjections.ts
Labels: none

fix(web): transcript renders, directory never blank, per-activity sessions (+ nav tree slice a) (#2637)
  apps/web/package.json
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/render/SysPanel.ts
  core/continuum-core/src/commands/persona_roster.rs
Labels: dependencies

feat(presence): every registry room gets a presence emitter — the who-panel is server-truth in every tab (#2606)
  apps/web/src/index.ts
  core/continuum-core/src/ipc/positron_presence.rs
Labels: none

feat(web): the Activities rail is a tree — child activities nest under their parent room (#2632 slice b)
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/chat/renderChat.spec.ts
  apps/web/src/preview.ts
  apps/web/src/render/RoomsPanel.ts
  apps/web/src/render/parts.ts
  core/continuum-positron/src/nav.rs
  packages/chat-view/liveProjections.spec.ts
  packages/chat-view/patternProjections.spec.ts
  packages/chat-view/patternProjections.ts
  packages/chat-view/personaProjections.spec.ts
  packages/patterns/index.ts
  sdk/typescript/generated/views/NavTab.ts
Labels: tests

feat(presence): benchmark activity rooms are adopted live — per-run rosters and transcripts reach the interface
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/modules/work.rs
Labels: none

feat(web): the working wave — active work carries a cyclic gradient sweep
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(web): the academy is a LANDING — board center-stage, chat a layer below
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/content/registry.ts
  core/continuum-core/src/cognition/bench_round.rs
  core/continuum-core/src/commands/benchmark.rs
  packages/chat-view/index.ts
  packages/chat-view/patternProjections.ts
Labels: none

feat(bench): the board is a MAP — rounds group their runs, every run is a door
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/ipc/positron_bench_source.rs
  core/continuum-positron/src/bench.rs
  packages/chat-view/benchProjections.ts
  packages/patterns/benchContent.ts
  protocol/typescript/positron/BenchRunRow.ts
  protocol/typescript/positron/NavTab.ts
  sdk/typescript/generated/views/BenchRunRow.ts
Labels: none

fix(web): a UUID deep link selects directly — identity is the address, no nav lookup needed
  apps/web/src/index.ts
Labels: none

feat(bench): doors JOIN then select — and the board speaks in color
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  core/continuum-core/src/ipc/positron_bench_source.rs
  core/continuum-positron/src/bench.rs
  packages/chat-view/benchProjections.ts
  packages/patterns/benchContent.ts
  protocol/typescript/positron/BenchRunRow.ts
  sdk/typescript/generated/views/BenchRunRow.ts
Labels: none

fix(acl): aliases authorize at their canonical command's tier
  core/continuum-core/src/modules/grid/acl.rs
  core/continuum-core/src/persona/unified.rs
  core/continuum-core/src/persona/viewstate_rag.rs
Labels: none

fix(bench): rejoin backfills the solve room's deterministic name — adoption reaches resumed rounds
  core/continuum-core/src/modules/work.rs
Labels: none

feat(web): ambient work pulse — the academy rail cell carries the node's live heartbeat everywhere
  packages/chat-view/patternProjections.ts
Labels: none

feat(positron): per-room accumulators — the view NEVER wanders, no room's store starves
  core/continuum-core/src/ipc/positron_source.rs
Labels: none

fix(web): the Activities list reads like a place, not a process table
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/render/RoomsPanel.ts
  core/continuum-core/src/ipc/positron_nav_source.rs
Labels: none

feat(bench): CITIZEN is the default driver — a round teaches by default
  core/continuum-core/src/cognition/bench_round.rs
Labels: none

feat(airc): every adopted room bridges its transcript — acts reach the center pane
  core/continuum-core/src/airc/inbound_attach.rs
  core/continuum-core/src/ipc/positron_presence.rs
  core/continuum-core/src/modules/airc.rs
Labels: none

feat(vitals): the ACT PULSE — held-work acts drive the activity meter; kickoffs name sole ownership; breathe goes compositor-only
  apps/web/src/chat/ChatWidget.ts
  core/continuum-core/src/cognition/act_observe/apply.rs
  core/continuum-core/src/commands/benchmark.rs
  core/continuum-core/src/ipc/vitals_emitter.rs
Labels: none

feat(web): profiles carry the work; the paint budget gets enforced
  apps/web/src/bench/renderBench.ts
  apps/web/src/chat/ChatWidget.ts
  apps/web/src/index.ts
  apps/web/src/persona/renderPersona.ts
  packages/chat-view/patternProjections.ts
  packages/patterns/personaContent.ts
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
