Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

feat(client-ffi): foreign-friendly connect() constructor (the outlier-B fix)
  client/continuum-client-ffi/src/lib.rs
Labels: none

feat(sdk-ts): session() + scoped(context) on the TS facade — the twin of the Rust client
  sdk/typescript/Commands.test.ts
  sdk/typescript/Commands.ts
  sdk/typescript/Continuum.ts
  sdk/typescript/Events.ts
  sdk/typescript/index.ts
  sdk/typescript/transport.ts
Labels: tests

feat(runtime): InProcessTransport — in-core citizens hold the same client Connection
  core/continuum-core/Cargo.toml
  core/continuum-core/src/runtime/in_process_transport.rs
  core/continuum-core/src/runtime/mod.rs
Labels: none

refactor(sdk-ts): rename Commands.test.ts → conformance.spec.ts
  sdk/typescript/conformance.spec.ts
Labels: tests

feat(routing): EventPublishAdapter — the emit() landing on the core (4th SDK verb) (#1668)
  core/continuum-core/src/routing/airc_event_adapters.rs
  core/continuum-core/src/routing/airc_event_protocol.rs
  core/continuum-core/src/routing/airc_event_publisher.rs
  core/continuum-core/src/routing/mod.rs
Labels: none

feat(runtime): InProcessTransport — in-core citizens hold the same client Connection (#1671)
  core/continuum-core/Cargo.toml
  core/continuum-core/src/runtime/in_process_transport.rs
  core/continuum-core/src/runtime/mod.rs
Labels: none

docs(sdk): formalize the SDK tier — align client/ + sdk/ READMEs to the locked architecture
  client/README.md
  sdk/README.md
Labels: documentation

docs(sdk): formalize the SDK tier — align client/ + sdk/ READMEs to the locked architecture (#1672)
  client/README.md
  sdk/README.md
Labels: documentation

refactor(client): unify the CALL verb to `execute` across every transport layer
  client/continuum-client/src/airc_ipc.rs
  client/continuum-client/src/command.rs
  client/continuum-client/src/mock.rs
  client/continuum-client/src/transport.rs
  core/continuum-core/src/runtime/in_process_transport.rs
Labels: none

feat(sdk-codegen): Rust-rooted command-surface generator (proving slice)
  core/continuum-core/src/lib.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

feat(sdk-codegen): self-assembling command registry via inventory — no hand list
  Cargo.lock
  core/continuum-core/Cargo.toml
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

feat(sdk-codegen): migrate the first REAL command (inference/llm/request) onto CommandSpec
  core/continuum-core/src/inference/llm_module_service.rs
  core/continuum-core/src/sdk_codegen/mod.rs
  protocol/typescript/inference_llm/InferenceResponse.ts
Labels: none

feat(sdk-codegen): migrate the ai/inference/* command batch onto CommandSpec
  core/continuum-core/src/inference/handle_module.rs
Labels: none

fix(sdk-codegen): address adversarial-review criticals before merge
  core/continuum-core/src/inference/handle_module.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

feat(sdk-codegen): faithful WireShape modeling + a diverse command sampling
  core/continuum-core/src/code/types.rs
  core/continuum-core/src/inference/handle_module.rs
  core/continuum-core/src/inference/llm_module_service.rs
  core/continuum-core/src/interface/mod.rs
  core/continuum-core/src/lib.rs
  core/continuum-core/src/modules/chat/types.rs
  core/continuum-core/src/runtime/command_envelope.rs
  core/continuum-core/src/sdk_codegen/mod.rs
  protocol/typescript/interface/ScreenshotDestination.ts
  protocol/typescript/interface/ScreenshotFormat.ts
  protocol/typescript/interface/ScreenshotParams.ts
  protocol/typescript/interface/ScreenshotResult.ts
  protocol/typescript/runtime/CommandRequest.ts
  protocol/typescript/runtime/CommandResponse.ts
Labels: none

feat(sdk-codegen): emit typed, string-free command accessors
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

feat(sdk-codegen): typed command authoring trait — one execute, no boilerplate
  core/continuum-core/src/inference/handle_module.rs
  core/continuum-core/src/sdk_codegen/handler.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

feat(client-ffi): uniffi 0.31 annotation pass — the one native binding source
  Cargo.lock
  client/continuum-client-ffi/.gitignore
  client/continuum-client-ffi/Cargo.toml
  client/continuum-client-ffi/src/bin/uniffi-bindgen.rs
  client/continuum-client-ffi/src/lib.rs
Labels: none

docs(sdk): record the PROVEN uniffi reality (proc-macro mode, not .udl)
  docs/architecture/CLIENT-SDK-PLATFORM-ARCHITECTURE.md
Labels: documentation

feat(sdk-codegen): vendoring emitter — write a self-contained, automated SDK
  core/continuum-core/src/sdk_codegen/emit.rs
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

docs(sdk-codegen): refresh module doc to current architecture
  core/continuum-core/src/sdk_codegen/mod.rs
Labels: none

fix(sdk): sound open() handle extraction — BigMama's #1674 typecheck catch
  sdk/typescript/Continuum.ts
Labels: none

feat(client-ffi): uniffi 0.31 annotation pass — the one native binding source (#1675)
  Cargo.lock
  client/continuum-client-ffi/.gitignore
  client/continuum-client-ffi/Cargo.toml
  client/continuum-client-ffi/src/bin/uniffi-bindgen.rs
  client/continuum-client-ffi/src/lib.rs
  docs/architecture/CLIENT-SDK-PLATFORM-ARCHITECTURE.md
Labels: documentation

docs(sdk): onboarding & sharing — node-as-contact-card + passkey identity
  docs/architecture/CLIENT-SDK-PLATFORM-ARCHITECTURE.md
Labels: documentation

docs(sdk): onboarding & sharing — node-as-contact-card + passkey identity (#1676)
  docs/architecture/CLIENT-SDK-PLATFORM-ARCHITECTURE.md
Labels: documentation

feat(grid): ensure-docker preflight — make "Docker is up" dependable + self-healing
  package.json
  scripts/ensure-docker.sh
  tools/scripts/continuum.sh
Labels: dependencies

feat(grid): ensure-docker preflight — make "Docker is up" dependable + self-healing (#1677)
  package.json
  scripts/ensure-docker.sh
  tools/scripts/continuum.sh
Labels: dependencies

fix(ci): bound the cargo cache — rust-cache, not raw target/ caching
  .github/workflows/continuum-rust-tests.yml
  .github/workflows/ts-rs-binding-drift-guard.yml
Labels: workflow

docs(arch): modular decomposition blueprint — composable service profiles
  docs/architecture/MODULAR-DECOMPOSITION.md
  docs/planning/ARCHITECTURE-INDEX.md
Labels: documentation

docs(arch): §9 — decomposition IS the grid (profiles are grid roles)
  docs/architecture/MODULAR-DECOMPOSITION.md
Labels: documentation

feat(runtime): ServiceGroup taxonomy — decomposition slice 1 (TDD, zero regression)
  core/continuum-core/src/runtime/runtime.rs
Labels: none

fix(ci): bound the cargo cache — rust-cache, not raw target/ caching (#1679)
  .github/workflows/continuum-rust-tests.yml
  .github/workflows/ts-rs-binding-drift-guard.yml
Labels: workflow

feat(runtime): ServiceGroup taxonomy — decomposition slice 1 (TDD, zero regression) (#1683)
  core/continuum-core/src/runtime/runtime.rs
Labels: none

feat(runtime): ServiceProfile — decomposition slice 2 (operational, TDD)
  core/continuum-core/src/runtime/runtime.rs
Labels: none

feat(runtime): ModuleHarness — reusable per-module TDD harness
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/module_harness.rs
Labels: none

feat(runtime): ServiceProfile — decomposition slice 2 (operational, TDD) (#1684)
  core/continuum-core/src/runtime/runtime.rs
Labels: none

test(mcp): per-module tests for the MCP catalog via ModuleHarness
  core/continuum-core/src/modules/mcp.rs
Labels: none

feat(runtime): ModuleHarness — reusable per-module TDD harness (#1685)
  core/continuum-core/src/runtime/mod.rs
  core/continuum-core/src/runtime/module_harness.rs
Labels: none

test(mcp): per-module tests for the MCP catalog via ModuleHarness
  core/continuum-core/src/modules/mcp.rs
Labels: none

feat(runtime): VDD dimension on ModuleHarness — measure + regression-gate per module
  core/continuum-core/src/runtime/module_harness.rs
  core/continuum-core/src/vdd/record.rs
Labels: none

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
