Repository CambrianTech/continuum, changes with the labels that .github/labeler.yml gives for each.
All labels: core, cli, documentation, tests, schema, templates, examples, dependencies, workflow

docs(positron): the clever core — the Surface (presence+operation as one stream) (#1773)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs: THE-ORGANISM — recipes are DNA, everything grows from one gene
  docs/THE-ORGANISM.md
Labels: documentation

docs: THE-ORGANISM — recipes are DNA, everything grows from one gene (#1774)
  docs/THE-ORGANISM.md
Labels: documentation

docs: THE-GRID-IS-ALIVE — the metaverse of synthetic citizens (synthesis)
  docs/THE-GRID-IS-ALIVE.md
Labels: documentation

docs: THE-GRID-IS-ALIVE — the metaverse of synthetic citizens (synthesis) (#1775)
  docs/THE-GRID-IS-ALIVE.md
Labels: documentation

docs(positron): the Universe axis — experience not theme; re-embodies citizens (talk to the orc)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): the Universe axis — experience not theme; re-embodies citizens (talk to the orc) (#1776)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): universe CONTAINS theme contains color tokens — a universe is not theme+steps
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): universe CONTAINS theme contains color tokens — a universe is not theme+steps (#1777)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): universe back story = a RAG layer; fun<->serious is the business case
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): universe back story = a RAG layer; fun<->serious is the business case (#1778)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(plan): ALPHA-COMPLETION-BLUEPRINT — the governing execution plan to the alive README
  docs/planning/ALPHA-COMPLETION-BLUEPRINT.md
Labels: documentation

docs(plan): ALPHA-COMPLETION-BLUEPRINT — the governing execution plan to the alive README (#1779)
  docs/planning/ALPHA-COMPLETION-BLUEPRINT.md
Labels: documentation

docs: capture the canon into READMEs — positron engine README + docs canon index (Workstream A)
  docs/README.md
  packages/patterns/README.md
Labels: documentation

docs: capture the canon into READMEs — positron engine README + docs canon index (Workstream A) (#1780)
  docs/README.md
  packages/patterns/README.md
Labels: documentation

feat(#6): RoomPurposeSource seam — de-hardcode the projection's purpose (the gene, slice 1)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/room_purpose.rs
Labels: none

feat(#6): RoomPurposeSource seam — de-hardcode the projection's purpose (the gene, slice 1) (#1781)
  core/continuum-core/src/ipc/mod.rs
  core/continuum-core/src/ipc/positron_source.rs
  core/continuum-core/src/ipc/room_purpose.rs
Labels: none

chore: scripts/ship.sh — the per-brick canary PR dance as one command (build the leverage)
  scripts/ship.sh
Labels: none

chore: scripts/ship.sh — the per-brick canary PR dance as one command (build the leverage) (#1782)
  scripts/ship.sh
Labels: none

chore: scripts/shot.sh — the 'never blind' feedback loop as one command (factory tool #2)
  scripts/shot.sh
Labels: none

chore: scripts/shot.sh — the 'never blind' feedback loop as one command (factory tool #2) (#1783)
  scripts/shot.sh
Labels: none

fix(shot.sh): wall-clock guard so a live-WS page can't hang the capture
  scripts/shot.sh
Labels: none

fix(shot.sh): wall-clock guard so a live-WS page can't hang the capture (#1784)
  scripts/shot.sh
Labels: none

chore: cross-platform factory — port ship.sh + shot.sh to Node (.mjs); we run on Windows
  scripts/ship.mjs
  scripts/ship.sh
  scripts/shot.mjs
  scripts/shot.sh
Labels: none

chore: cross-platform factory — port ship.sh + shot.sh to Node (.mjs); we run on Windows (#1785)
  scripts/ship.mjs
  scripts/ship.sh
  scripts/shot.mjs
  scripts/shot.sh
Labels: none

docs+chore: factory README + npm run ship/shot aliases; SOTA roadmap (always improve to state of the art)
  package.json
  scripts/README.md
Labels: documentation, dependencies

docs+chore: factory README + npm run ship/shot aliases; SOTA roadmap (always improve to state of the art) (#1786)
  package.json
  scripts/README.md
Labels: documentation, dependencies

docs(plan): complex-widget library across 3 surfaces (web/mobile/terminal) + screenshot-per-surface proof
  docs/planning/ALPHA-COMPLETION-BLUEPRINT.md
Labels: documentation

docs(plan): complex-widget library across 3 surfaces (web/mobile/terminal) + screenshot-per-surface proof (#1787)
  docs/planning/ALPHA-COMPLETION-BLUEPRINT.md
Labels: documentation

fix(web): mobile-responsive collapse (verified) + canonical flex/grid overflow guards
  apps/web/src/chat/ChatWidget.ts
Labels: none

fix(web): mobile-responsive collapse (verified) + canonical flex/grid overflow guards (#1788)
  apps/web/src/chat/ChatWidget.ts
Labels: none

feat(factory): inspect.mjs — layout-truth probe (DOM box model + computed styles via CDP)
  scripts/README.md
  scripts/inspect.mjs
Labels: documentation

feat(factory): inspect.mjs — layout-truth probe (DOM box model + computed styles via CDP) (#1789)
  scripts/README.md
  scripts/inspect.mjs
Labels: documentation

docs(factory): converge feedback tools to cu/JTAG — the first-class cross-modality dimension
  scripts/README.md
Labels: documentation

docs(factory): converge feedback tools to cu/JTAG — the first-class cross-modality dimension (#1790)
  scripts/README.md
Labels: documentation

feat(web): mobile app layer — installable PWA on the shared positron template
  apps/web/index.html
  apps/web/public/icon.svg
  apps/web/public/manifest.webmanifest
Labels: none

feat(web): mobile app layer — installable PWA on the shared positron template (#1791)
  apps/web/index.html
  apps/web/public/icon.svg
  apps/web/public/manifest.webmanifest
Labels: none

docs(positron): define once → all modalities — the defineApp/mount framework keystone
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): define once → all modalities — the defineApp/mount framework keystone (#1792)
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

docs(positron): leverage-vs-reinvent decision — frameworks paint, positron defines
  docs/design/POSITRON-EVERY-CITIZEN.md
Labels: documentation

.github/labeler.yml:

# PR Labeler Configuration

# Add 'core' label to any change in the core package
core:
  - 'packages/core/**/*'

# Add 'cli' label to any change in the cli package
cli:
  - 'packages/cli/**/*'

# Add 'documentation' label to markdown or doc changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'tests' label to any test file changes
tests:
  - '**/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.spec.ts'

# Add 'schema' label to schema changes
schema:
  - 'schema/**/*'

# Add 'templates' label to template changes
templates:
  - 'templates/**/*'

# Add 'examples' label to example changes
examples:
  - 'examples/**/*'

# Add 'dependencies' label to changes in package files
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# Add 'workflow' label to any change to GitHub workflow files
workflow:
  - '.github/**/*'
